[2017-01-10 13:27] jcmeloni commented on #3285
Closing as this will be subsumed by other issues in vets.gov-team when discovery is complete for the content discussion.

[2017-01-10 13:27] #3285 closed

[2017-01-10 13:28] jcmeloni commented on #3660
Not moving over to vets.gov-team as open PR should close this one soon  https://github.com/department-of-veterans-affairs/vets-website/pull/4606

[2017-01-10 13:30] jcmeloni commented on #4326
Moved issue to vets.gov-team.

[2017-01-10 13:30] #4326 closed

[2017-01-10 13:32] jcmeloni commented on #4283
Not moving over to vets.gov-team as this is captured in master ticket over there and will close it when that closes https://github.com/department-of-veterans-affairs/vets.gov-team/issues/578

[2017-01-10 13:32] jcmeloni commented on #4279
Not moving over to vets.gov-team as this is captured in master ticket over there and will close it when that closes https://github.com/department-of-veterans-affairs/vets.gov-team/issues/578

[2017-01-10 13:33] jcmeloni commented on #4409
Not moving over to vets.gov-team as this is captured in master ticket over there and will close it when that closes https://github.com/department-of-veterans-affairs/vets.gov-team/issues/578

[2017-01-10 13:40] jcmeloni commented on #2685
Moved issue to vets.gov-team.

[2017-01-10 13:40] #2685 closed

[2017-01-10 13:41] jcmeloni commented on #2687
Moved issue to vets.gov-team.

[2017-01-10 13:41] #2687 closed

[2017-01-10 13:44] jcmeloni commented on #2695
Closing as no further action needed based on conversation above (and time).  If there is still an outstanding need please create an issue in vets.gov-team.

[2017-01-10 13:44] #2695 closed

[2017-01-10 13:47] jcmeloni commented on #3277
Moved issue to vets.gov-team.

[2017-01-10 13:47] #3277 closed

[2017-01-10 13:48] jcmeloni commented on #3490
Not moving over to vets.gov-team as comments lead me to believe it will be covered in current work. PLEASE correct me if I'm wrong @aub @alexose @robbiethegeek and I'll move it over to vets.gov-team

[2017-01-10 13:50] jcmeloni commented on #3753
Moved issue to vets.gov-team.

[2017-01-10 13:50] #3753 closed

[2017-01-10 13:52] jcmeloni commented on #3781
Moved issue to vets.gov-team.

[2017-01-10 13:52] #3781 closed

[2017-01-10 13:53] jcmeloni commented on #3807
Closing; when it comes back around we'll make actionable issues in vets.gov-team

[2017-01-10 13:53] #3807 closed

[2017-01-10 13:58] jcmeloni commented on #3966
Moved issue to vets.gov-team.

[2017-01-10 13:58] #3966 closed

[2017-01-10 13:59] jcmeloni commented on #3967
Moved issue to vets.gov-team.

[2017-01-10 13:59] #3967 closed

[2017-01-10 14:01] jcmeloni commented on #4402
Moved issue to vets.gov-team.

[2017-01-10 14:01] #4402 closed

[2017-01-10 14:03] jcmeloni commented on #4436
Moved issue to vets.gov-team.

[2017-01-10 14:03] #4436 closed

[2017-01-10 14:09] jcmeloni commented on #4629
Moved issue to vets.gov-team.

[2017-01-10 14:09] #4629 closed

[2017-01-10 14:11] jcmeloni commented on #4603
Moved issue to vets.gov-team.

[2017-01-10 14:11] #4603 closed

[2017-01-10 14:14] jcmeloni commented on #4521
Moved issue to vets.gov-team.

[2017-01-10 14:14] #4521 closed

[2017-01-10 14:16] jcmeloni commented on #4512
Moved issue to vets.gov-team.

[2017-01-10 14:16] #4512 closed

[2017-01-10 14:21] jcmeloni commented on #2508
Moved issue to vets.gov-team.

[2017-01-10 14:21] #2508 closed

[2017-01-10 14:24] jcmeloni commented on #4439
Moved issue to vets.gov-team.

[2017-01-10 14:24] #4439 closed

[2017-01-10 14:28] jcmeloni commented on #4274
Moved issue to vets.gov-team.

[2017-01-10 14:28] #4274 closed

[2017-01-10 14:30] jcmeloni commented on #4564
Moved issue to vets.gov-team.

[2017-01-10 14:31] #4564 closed

[2017-01-10 14:33] jcmeloni commented on #4574
Moved issue to vets.gov-team.

[2017-01-10 14:33] #4574 closed

[2017-01-10 14:34] jcmeloni commented on #3771
Closing because I believe this is all subsumed by https://github.com/department-of-veterans-affairs/vets.gov-team/issues/681

[2017-01-10 14:35] #3771 closed

[2017-01-10 16:26] #4533 closed

[2017-01-10 20:23] usds-bot opened #4650 "UserVoice Idea: Wrong numbers"
Somebody screwed up.  The number listed for Veterans to enroll or to check on status of enrollment for VA Health Care is the technical support desk.  They do not have access to, nor a need to access the enrollment system.  The correct number is 877-222-8387 which is for Health Benefits/ Enrollment and Eligibility.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17684800-wrong-num

[2017-01-10 21:17] carlmjohnson commented on #3490
AFAICT, no one has solved this issue. If you load vets.gov in a browser, there is still no fingerprinting of assets.

[2017-01-10 22:08] usds-bot opened #4652 "UserVoice Idea: Benefit Summary Letters"
The ebenefits website currently has a function for Veterans to generate their own benefit summary letters and ability to verify service. Has this been thought about for vets.gov

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17685811-benefit-summary-letters

[2017-01-10 22:55] usds-bot opened #4654 "UserVoice Idea: Seperate Appication for Benefits and MyHealtheVet"
Consider keeping MyHealtheVet separate from Benefits Application. offering too many options may become cumbersome. Also concerned about secure messages to and from providers being deleted after 365 Days. Nice to become permanent health records. Maybe they can be archived.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17686264-seperate-appication-for-benefits-and-myhealthevet

[2017-01-11 00:49] usds-bot opened #4656 "UserVoice Idea: Glitch 2"
OK, I wrote here last time that there was a glitch in the I'd me sign up. I later received an email that my Google sign in has been accepted. Today I tried to log in and it says I need to Verify my account but when I press the icon nothing happens. Please fix this.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17687206-glitch-2

[2017-01-11 12:41] usds-bot opened #4660 "UserVoice Idea: Update cemetery map in maine"
Your cemetery map does not include the new cemetery in southern maine I think its in Springvale,  Maine

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17691163-update-cemetery-map-in-maine

[2017-01-11 14:35] akainic commented on #4650
@koconnor719 I assume we can reply explaining that the Help Desk is the first point of contact for all Vets.gov related concerns and they can direct you to the HEC call center number if necessary?

[2017-01-11 14:42] robbiethegeek commented on #3490
I don't think this is being worked officially.  @aub @crwallace @alexose can you confirm?

[2017-01-11 14:48] koconnor719 commented on #4660
@NatalieEMoore pls advise here of response.

[2017-01-11 14:49] koconnor719 commented on #4654
Thank you for your feedback!  We'll add that to our user research and see what Veterans think.

vets.gov team

[2017-01-11 14:49] #4654 closed

[2017-01-11 14:50] koconnor719 commented on #4652
Thank you for your feedback.  We'll add this to our user research and see what Veterans think!  We are designing vets.gov based on Veteran feedback, so if you are a Veteran and would like to participate in our research please email us at feedback@va.gov.

vets.gov team

[2017-01-11 14:50] #4652 closed

[2017-01-11 14:56] koconnor719 commented on #4650
Thank you for your feedback.  Veterans can call either number to apply for VA health care.

vets.gov team

[2017-01-11 14:58] koconnor719 commented on #4650
@iantopper ian can you pls. confirm this with sheila at your next standup.  my understanding is that the same people (HRC) answer the vets.gov Help Desk who enroll veterans in health care, so it's a seamless experience.  that's how it should work. also pls. give her team this feedback so they can make sure this doesn't happen again?

[2017-01-11 14:59] koconnor719 commented on #4636
sure. if you can draft the message it would be awesome:)  @jcmeloni

[2017-01-11 15:00] koconnor719 commented on #4635
posted and closed:

Thank you for your feedback! We are sorry you are having difficulties verifying your account. When you are going through the identity proofing process and hit that roadblock, you should also see an error code on the screen. The error code you provided is specific to ID.me and will identify the precise error encountered by their system during the identity proofing process.

With

[2017-01-11 15:00] #4635 closed

[2017-01-11 15:01] koconnor719 commented on #4634
deteleted; undecipherable.

[2017-01-11 15:01] #4634 closed

[2017-01-11 15:03] koconnor719 commented on #4633
posted and closed:

Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Get Started" button, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. You can also call our vets.

[2017-01-11 15:03] #4633 closed

[2017-01-11 15:04] koconnor719 commented on #4621
posted and closed

Thank you for your feedback! We are sorry you are having difficulties verifying your account. Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology.

Receiving an error code duri

[2017-01-11 15:04] #4621 closed

[2017-01-11 15:04] aub commented on #3490
I'm not aware that it is being worked on, but it definitely should be.

[2017-01-11 15:05] koconnor719 commented on #4613
@bethpotts @maryannbrody

beth are you receiving these?  can you pls. provide a response so i can post:)  thx.

[2017-01-11 15:06] koconnor719 commented on #4612
posted and closed
Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?id=2838 If you are having technical issues wit

[2017-01-11 15:06] #4612 closed

[2017-01-11 15:07] koconnor719 commented on #4611
posted and closed
Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?id=2838. This identity proofing process includ

[2017-01-11 15:07] #4611 closed

[2017-01-11 15:08] koconnor719 commented on #4604
@jcmeloni yes we have CAC / PIV in our contract!

[2017-01-11 15:09] koconnor719 commented on #4604
posted and closed:

"Thank you for your feedback! You are correct that CAC-based login is yet not offered at vets.gov, but we are working to deploy this functionality with our partners later this year.

If you are a Veteran and would like to participate in our user research and usability testing, which drives the design of vets.gov, please contact our team at feedback@va.gov.

vets.gov team

@jcme

[2017-01-11 15:09] #4604 closed

[2017-01-11 15:10] koconnor719 commented on #4596
thx @jcmeloni !!

posted and closed (fixed formatting in response to include numbers):

Thank you for your feedback! It is possible to complete the identity proofing process without using a smartphone, although you will still need to have access to a computer with an internet connection and a telephone of some sort (it does not need to be a mobile phone). This process is documented at https://vets

[2017-01-11 15:10] #4596 closed

[2017-01-11 15:12] koconnor719 commented on #4595
@typesend is this done?

[2017-01-11 15:13] koconnor719 commented on #4594
@emilyville @webinista pls. advise on response:)

[2017-01-11 15:15] koconnor719 commented on #4537
@jenny-h-l  thx!!

posted and closed:

Thank you for your feedback.  Here are some resources for managing diabetes:

http://www.nutrition.va.gov/diabetes.asp
http://www.benefits.va.gov/compensation/claims-postservice-agent_orange-diabetes.asp
http://www.publichealth.va.gov/exposures/agentorange/conditions/diabetes.asp
https://www.myhealth.va.gov/mhv-portal-web/improving-diabetes-management-while-i

[2017-01-11 15:15] #4537 closed

[2017-01-11 15:16] koconnor719 commented on #3949
@maryannbrody @ayaleloehr pls advise on who should draft a response to this GIBT issue.  ty.

[2017-01-11 15:17] koconnor719 commented on #3096
thx @leannammiller so is this done?  :)

[2017-01-11 16:03] jcmeloni commented on #3490
I thought it was being worked out as part of the build work happening.

[2017-01-11 16:05] jcmeloni commented on #4636
I think this is the same user as in https://github.com/department-of-veterans-affairs/vets-website/issues/4656 so let's close this one and i'll reply to that one

[2017-01-11 16:06] webinista commented on #4594
Is this too honest? "Thank you. This is an issue that we're aware of, and are working to fix. The GI Bill Comparison Tool was the first application we launched on Vets.gov. We're in the middle of porting it to our new infrastructure. As a result, some portions of the site's design are out of date."

[2017-01-11 16:13] jcmeloni commented on #4594
@webinista Find the truth. Tell the truth. There is never a "too honest".  ....and your statement is correct, too. :)

[2017-01-11 16:19] jkassemi commented on #3490
We haven't started working on this.

It can be considered part of the build, but is tied more closely to the application.

[2017-01-11 16:54] jcmeloni commented on #3490
Ok, bad reading on my part then. I'll move this over to a team ticket and throw it in the backlog to discuss further before it has a tactical place in a sprint.

[2017-01-11 17:03] NatalieEMoore commented on #4660
Can this go through call center and be addressed to our POC for NCA?

[2017-01-11 17:14] robbiethegeek commented on #3490
I talked to @aub he is going to take a look at this and talk with @jkassemi and @crwallace to try to get this done this week

[2017-01-11 17:16] koconnor719 commented on #4660
@NatalieEMoore ?  i don't know...is this how you've set it up w/ call center?  as long as they are notified in advance and trained and have scripts they need then sure...:)  is this the standard process?

@iantopper fyi

[2017-01-11 17:20] jcmeloni commented on #3490
hey, that's cool!

[2017-01-11 17:48] NatalieEMoore commented on #4660
This should be how it is set up if a Veteran contacts the call center/help desk.  (Right @robertfairhead ?)  However, what is our process for if the Veteran contacts user voice about a question that should actually be for call center?  How do we push their question to call center instead of answering ourselves?

[2017-01-11 17:55] koconnor719 commented on #4660
NOPE:)  the call center does not handle user voice.

[2017-01-11 18:05] typesend commented on #4595
No, we have not deployed the new code.

[2017-01-11 18:07] koconnor719 commented on #4595
ok thx:)  just post here when it's done pls.

[2017-01-11 18:10] jcmeloni commented on #4656
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it

[2017-01-11 18:52] NatalieEMoore commented on #4660
Yeah, aware that call center doesn't handle user voice.  To respond to the user, I would just say something like  "Thank you we have let our folks know and will look into the issue. "

The question asked can only be answered and fixed by contacting the POC for Cemetery data.  So @robertfairhead how do we get this issue tracked through call center?

[2017-01-11 18:58] koconnor719 commented on #4660
i was thinking we should respond to user..."please call the vets.gov help desk to resolve this...."  ?

[2017-01-11 19:00] robertfairhead commented on #4660
We can just enter the ticket into SDM ourselves and assign to the cemetary POC instead of making the Veteran call back just to get it entered that way

[2017-01-11 19:03] NatalieEMoore commented on #4660
perfect, that's what i was wondering about.

[2017-01-11 19:38] robertfairhead commented on #4660
@NatalieEMoore I will enter it this afternoon. The POC will get an automated email when it's assigned to them with the details and a link through to SDM. Just a heads up in case they ping you with a question.

[2017-01-11 19:47] leannammiller commented on #3096
@koconnor719 no, but it's in the rainbows backlog

[2017-01-11 22:54] bethpotts opened #4673 "Remove job-seekers breadcrumb from careers & employment pages"
It appears in on these two pages and links to a page we have since retired:
https://www.vets.gov/employment/job-seekers/family-members/
https://www.vets.gov/employment/job-seekers/start/

[2017-01-12 14:25] markolson commented on #4548
Code has been merged.

[2017-01-12 14:25] #4548 closed

[2017-01-12 17:08] robertfairhead commented on #4660
@NatalieEMoore @koconnor719 Cemetery POC responded to the ticket we routed to him.

"The cemetery in question is a State Veteran Cemetery, not a Department of VA cemetery. NCA does not manage State Veteran Cemeteries."

Details in the SDM ticket at http://vaww.nsd.va.gov/CAisd/pdmweb.exe?OP=SEARCH+FACTORY=cr+SKIPLIST=1+QBE.EQ.id=12672725 (va intranet only).

[2017-01-12 17:41] robertfairhead commented on #4650
@koconnor719 We discussed today on the call. They are working through a recommendation on their side and getting concurrence from their supervisors and will provide back to you once it's ready, with respect to one number versus two.

[2017-01-12 19:01] emilyville commented on #3282
@jcmeloni let me take the ball on this and figure out what we should do here. Assigning to self.

[2017-01-12 19:02] maryannbrody commented on #4613
@koconnor719 Can we try and recruit this person for user research?

Hello and thanks for your feedback. We are constantly working with Veterans to try and make the site as helpful and as easy to use as possible — feedback like this is critical to our success. We are always looking for volunteers to participate in website feedback sessions. These sessions last anywhere from 30 to 60 minutes. Would

[2017-01-12 19:55] NatalieEMoore opened #4680 "Martin Taylor Email With Edits Needed on Vets.gov"
Just got this email from Martin Taylor:

Hello,
The Camp Lejeune Final Rule is set to be published by the federal register on January 13th. The final rule establishes that veterans, former reservists, and former National Guard members, who served at Camp Lejeune for no less than 30 days (consecutive or nonconsecutive) during this period, and who have been diagnosed with any of eight associated dis

[2017-01-12 20:48] bethpotts opened #4681 "content update to sign in page"
In our efforts to support the broadening scope of the Claim Status tool to encompass more than just disability claims, we'd like to make a small update to the text on the sign-in page. Specifically, we'd like to change the last sentence (just above the buttons) to appear as 3 bullets:

•    Refill a prescription.
•    Send a secure message to your healthcare provider.
•    Check the status of a di

[2017-01-12 20:48] bethpotts commented on #4681
<img width="932" alt="sign in page" src="https://cloud.githubusercontent.com/assets/14881910/21907693/732b595e-d8c5-11e6-9378-27dec960b1f3.png">

[2017-01-12 20:56] bethpotts commented on #4681
There are also a couple proofreading fixes needed, please!:
1) We should capitalize "In" (because it's used adverbially) and "Your" in the header, like this: Sign In to Your Vets.gov Account
2)  Remove "the" before "VA" in the first line of text under the header, so it reads: Vets.gov is a new website from VA offering online services for Veterans.
3) Our site-wide style for buttons is to headline

[2017-01-12 21:39] rroueche commented on #4680
@mollyblake @bethpotts per the work we've been doing today.

[2017-01-12 21:42] koconnor719 commented on #4680
thx for making this happen @rroueche !

[2017-01-13 00:46] bethpotts commented on #4680
@rroueche @NatalieEMoore @koconnor719 Update on this: I've been working with Jennifer Rudisill on this vets.gov Camp Lejeune page today. I've incorporated the list of edits that came from her. I needed clarity on one of them, so we had some back and forth. Now I'm waiting for her approval on some text she wanted me to rewrite. I have communicated to her that in order to get this updated Camp Lejeu

[2017-01-13 02:10] rroueche commented on #4680
@bethpotts thank you so much for the update. that sounds great - i'll be on standby in the morning when you get the green light.

[2017-01-13 13:03] koconnor719 commented on #4680
We just got va approval on this via va email

Sent with Good (www.good.com)

-----Original Message-----
From: Rach [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, January 12, 2017 09:10 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Martin Tayl

[2017-01-13 13:31] bethpotts commented on #4680
@koconnor719 We are pushing to production by 11:00 ET this morning. Here's the associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/4674

[2017-01-13 14:41] koconnor719 commented on #4680
Yeah!! Thx

Sent with Good (www.good.com)

-----Original Message-----
From: bethpotts [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, January 13, 2017 08:31 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Martin Taylor Email With Edits Needed on V

[2017-01-13 15:37] #4568 closed

[2017-01-13 21:04] rroueche commented on #4681
Closing, relocated to Team repo: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/759

[2017-01-13 21:04] #4681 closed

[2017-01-17 15:23] jcmeloni commented on #2411
Merged PR, will close after release.

[2017-01-17 15:23] jcmeloni commented on #2419
Merged PR, will close after release.

[2017-01-17 15:23] jcmeloni commented on #2719
Merged PR, will close after release.

[2017-01-17 15:23] jcmeloni commented on #3780
Merged PR, will close after release.

[2017-01-17 15:23] jcmeloni commented on #3965
Merged PR, will close after release.

[2017-01-17 18:15] koconnor719 commented on #4660
posted and closed:  thx @robertfairhead cc @NatalieEMoore

Thank you for your feedback. The cemetery you mention is a State Veteran Cemetery, not a Department of VA cemetery. NCA does not manage State Veteran Cemeteries.

vets.gov team

[2017-01-17 18:15] #4660 closed

[2017-01-17 18:17] koconnor719 commented on #4656
posted and closed:

Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again.

In the meantime, we

[2017-01-17 18:17] #4656 closed

[2017-01-17 18:21] koconnor719 commented on #4650
cool.  can you post a response i can post please:)  @robertfairhead @iantopper

[2017-01-17 18:23] koconnor719 commented on #4613
sure!  posted and closed.

Thank you for your feedback. We work with Veterans to try and make vets.gov as helpful and as easy to use as possible — feedback like this is critical to our success. We are always looking for volunteers to participate in website feedback sessions. These sessions last anywhere from 30 to 60 minutes. Would you be interested in participating? If so, please send us an email

[2017-01-17 18:23] robertfairhead commented on #4650
Sheila should be in touch with you directly once they have something approved for you.

[2017-01-17 18:24] koconnor719 commented on #4595
@typesend is this completed?  pls. provide status and response i can post.  cc @ayaleloehr

[2017-01-17 18:25] koconnor719 commented on #4594
we are getting rid of the blog so that needs to be incorporated into this response. @maryannbrody or  @emilyville  pls. advise on response you want.

[2017-01-17 18:26] koconnor719 commented on #4216
@leannammiller is this good to go now?

[2017-01-17 18:27] koconnor719 commented on #4137
@robertfairhead @iantopper @NatalieEMoore pls. post a response i can post to user.

thank you.

[2017-01-17 18:27] #4137 closed

[2017-01-17 18:28] koconnor719 commented on #3096
pls. draft a response i can post to site on this.  thanks.

[2017-01-17 18:35] leannammiller commented on #3096
We are working on it and expect the fix to be launched this week.

[2017-01-17 18:36] leannammiller commented on #4216
yup!

[2017-01-17 20:23] mollyblake opened #4704 "New page needed for disability section"
@rroueche @bethpotts
GWI in Afghanistan has its own set of info (and has far fewer relevant conditions). It should be its own page off of Contact With Hazardous Materials. All of the actual info is okay; it just needs to be separated.

Here's the page, I'm referencing and that it will be similar to. https://vetsgov-pr-3324.herokuapp.com/disability-benefits/conditions/exposure-to-hazardous-material

[2017-01-17 20:25] rroueche commented on #4704
@mollyblake thanks! I will take care of those 2 things within the next couple of days.

[2017-01-18 01:40] bethpotts commented on #4680
Closing this since the new content is live!

[2017-01-18 01:40] #4680 closed

[2017-01-18 12:21] jcmeloni commented on #3965
Released 17 Jan 2017

[2017-01-18 12:21] #3965 closed

[2017-01-18 12:25] jcmeloni commented on #2411
Released 17 Jan 2017

[2017-01-18 12:25] #2411 closed

[2017-01-18 12:28] jcmeloni commented on #2419
Released 17 Jan 2017

[2017-01-18 12:28] #2419 closed

[2017-01-18 12:28] jcmeloni commented on #2719
Released 17 Jan 2017

[2017-01-18 12:28] #2719 closed

[2017-01-18 12:29] jcmeloni commented on #3780
Released 17 Jan 2017

[2017-01-18 12:29] #3780 closed

[2017-01-18 16:17] mollyblake commented on #4578
Please note:  the 'n' is lower case for SSN.  THANKS!
*Social Security **n**umber
I don't have a Social Security **n**umber
And **yes** to the contraction for "I don't have ..."  that's perfect!

[2017-01-18 16:22] mollyblake commented on #4546
@cweber agree.  The only thing I might change is "How would you prefer to be contacted if VA has questions about your application? [radio]"  to "How would you LIKE to be contacted ..."

Thanks!

[2017-01-18 17:42] mollyblake commented on #4623
@cweber
Transfer of Entitlement Program (TOE)
* please add the acronym

[2017-01-18 23:43] lihanli opened #4711 "address validation error street length over maximum"
[code]
happened on Jan 11, 2017 1:05:29 AM UTC

[2017-01-19 21:27] gnakm commented on #4175
The update here is that core team is going to finalize something that will go across vets.gov. I'm in check with @melwoodard about this issue. reference: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/760

[2017-01-20 13:06] leannammiller commented on #4235
@cagedcrown - can you please provide an update?

[2017-01-20 13:13] leannammiller commented on #4551
@lihanli ping for status please!

[2017-01-20 13:14] leannammiller commented on #4257
@cagedcrown can you provide status please?

[2017-01-20 13:15] leannammiller commented on #4608
@jbalboni is this list up to date?

[2017-01-20 13:15] leannammiller commented on #4549
@lihanli pinging for status

[2017-01-20 17:53] lihanli commented on #4549
done

[2017-01-20 17:54] lihanli commented on #4551
done

[2017-01-20 18:33] jbalboni commented on #4608
@leannammiller It is now.

[2017-01-20 18:34] lihanli commented on #4550
done but not merged

[2017-01-20 20:52] mollyblake opened #4724 "Combining two pages in Disability branch"
@rroueche @bethpotts
Per SME recommendations, we would like to combine the content from two pages into one page.  The pages are:

[1] Radiogenic Risk Activities
/disability-benefits/conditions/exposure-to-hazardous-materials/radiogenic-risk-activities/
AND
[2] Ionizing Radiation
/disability-benefits/conditions/exposure-to-hazardous-materials/ionizing-radiation/

The content is as follows:

Radiati

[2017-01-23 14:53] leannammiller commented on #4573
@lihanli is this for @markolson to review?

[2017-01-23 14:53] leannammiller commented on #4551
@markolson to review?

[2017-01-23 15:13] annekainicUSDS commented on #4257
PR is open, needs to be updated with the latest comment from Jeff.

[2017-01-23 15:20] annekainicUSDS commented on #4711
Double check validations to make sure we are validating the street address to not be blank.

[2017-01-23 17:25] jcmeloni-usds opened #4728 "Test"
Testing email

[2017-01-23 17:25] #4728 closed

[2017-01-23 17:30] goldenmeanie commented on #4623
Thanks @mollyblake!

[2017-01-23 18:04] lihanli commented on #4573
it's already merged, i didn't close it because anne mentioned in a meeting to not close issues?

[2017-01-23 18:59] cagedcrown commented on #4235
@leannammiller From my understanding about what @jbalboni said, the new spinner that we planned on using has a bigger size than the old one.

![loading-state](https://cloud.githubusercontent.com/assets/6254227/22218096/795075a6-e173-11e6-99ab-536747637ce4.gif)
64kb

vs

![preloader-primary-darkest](https://cloud.githubusercontent.com/assets/6254227/22218122/8e114d1c-e173-11e6-97a7-2756bea4717d.gif

[2017-01-23 19:00] #4257 closed

[2017-01-23 19:01] jbalboni commented on #4235
I'm going to close this, we can come back to it at some point later if necessary.

[2017-01-23 19:01] #4235 closed

[2017-01-23 19:14] leannammiller commented on #4573
leave in validate until testing, mark with work with Josh on ES team if needed

[2017-01-23 19:15] leannammiller commented on #4551
will need to be revalidated as a front end item by @jbalboni and @markolson

[2017-01-23 19:22] #4552 closed

[2017-01-23 19:22] leannammiller commented on #4549
waiting for charter

[2017-01-23 20:01] rroueche commented on #4105
Closing bc we reset the heroku link

[2017-01-23 20:01] #4105 closed

[2017-01-24 19:45] jbalboni commented on #4608
Closing since this was broken into separate issues.

[2017-01-24 19:45] #4608 closed

[2017-01-25 16:32] #4155 closed

[2017-01-25 16:36] #3660 closed

[2017-01-25 16:36] #4175 closed

[2017-01-26 14:40] jbalboni commented on #4122
Seems like we can close this? @leannammiller

[2017-01-26 21:19] #4122 closed

[2017-01-26 21:21] cagedcrown commented on #4711
I am unable to replicate this error locally. There is also a character limit of 30 for the street address.

https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/js/common/components/questions/Address.jsx#L111

[2017-01-26 21:32] leannammiller commented on #4711
@jbalboni @annekainicUSDS - Mo is blocked on this?

[2017-01-26 21:38] #4551 closed

[2017-01-26 21:38] #4573 closed

[2017-01-26 21:39] leannammiller commented on #4550
@knkski can you review this one please?

[2017-01-26 21:39] leannammiller commented on #4549
@lihanli has this been reviewed? if not, @knkski could you please review it?

[2017-01-26 21:53] lihanli commented on #4550
still not merged yet, can i merge it now that the charter is done @annekainicUSDS?

[2017-01-26 22:38] annekainicUSDS commented on #4550
I think we should still wait to merge until the charter is signed. It's with our stakeholders for review now, but not yet signed. Sorry :/

[2017-01-27 19:34] jbalboni commented on #4711
@leannammiller I think we can close this. Mo and I can't reproduce it and we haven't seen any more.

[2017-01-30 13:24] leannammiller commented on #4711
ok

[2017-01-30 13:24] #4711 closed

[2017-01-30 18:01] rroueche commented on #4724
Reminder to me: before removing the obsolete page, I need to make sure I've checked the site for that URL and update it to the combined page URL. I'll also need to submit an issue for a redirect.

[2017-01-30 19:17] leannammiller commented on #4549
still blocked by charter

[2017-01-31 03:02] koconnor719 commented on #4650
@robertfairhead @iantopper any progress on this?  do you review this in your call center stand ups?  it's been a while:)

[2017-01-31 18:13] rroueche opened #4772 "Content tweaks for term/label/format standardization"
- [x] Update Home Page blue card order to match nav
- [ ] Check other landing pages to see if we want their cards to match
- [ ] Update Health Care breadcrumb to be 2 words
- [x] Add "Benefits" to the health care card title on Home Page

[2017-01-31 18:17] robertfairhead commented on #4650
The next step was for sheila to be in touch you directly once she had something approved. We haven't reviewed on the coordination calls since it was to be resolved between you and Sheila and neither Ian nor I are in the loop.

[2017-02-03 14:13] bethpotts commented on #4724
Note from Molly in the dup issue I just closed:
Here's the new page -- ready for Eagle Eyes @bethpotts to copy edit. FYI @rroueche
https://vetsgov-pr-3324.herokuapp.com/disability-benefits/conditions/exposure-to-hazardous-materials/radiogenic-risk-activities/

[2017-02-03 14:16] bethpotts commented on #4724
I created a new issue for the next step: copyediting.

[2017-02-03 14:50] rroueche commented on #4035
Complete: https://www.vets.gov/education/tools-programs/careerscope/

[2017-02-03 14:50] #4035 closed

[2017-02-03 15:30] mollyblake commented on #4724
Closing!

[2017-02-03 15:39] rroueche commented on #4724
@mollyblake I'm actually going to re-open bc I still need to:

1. Remove obsolete page from folder
2. Work w/tech team to redirect old obsolete page URL to the consolidated page URL.

[2017-02-03 20:01] mollyblake commented on #4704
https://vetsgov-pr-3324.herokuapp.com/disability-benefits/conditions/exposure-to-hazardous-materials/gulf-war-illness/

@bethpotts can you look at this? It's the new content for the Gulf War Page.  Will add content into new Afghanistan page when it's stubbed out

Thanks!

[2017-02-06 14:37] rroueche commented on #4704
@mollyblake where in the IA should the Afghanistan page go?

[2017-02-06 15:32] mollyblake commented on #4704
IMHO it should be a piano key on this page https://vetsgov-pr-3324.herokuapp.com/disability-benefits/conditions/exposure-to-hazardous-materials/ and should be titled:  **Gulf War Illness from service in Afghanistan** but I think we should get opinions from @bethpotts on the name of the page ...

[2017-02-06 17:55] leannammiller commented on #4556
for 1995 ? @goldenmeanie

[2017-02-06 17:57] leannammiller commented on #4216
@koconnor719 i think this can be closed

[2017-02-06 17:57] leannammiller commented on #3688
@annekainicUSDS for this sprint?

[2017-02-06 19:37] annekainicUSDS commented on #3688
@mollyblake will weigh in on content here

[2017-02-06 19:38] annekainicUSDS commented on #4419
Duplicate #919

[2017-02-06 19:38] #4419 closed

[2017-02-06 19:48] goldenmeanie commented on #3688
As noted, there are two issues:
1) The 1990 date component validation isn't as jumpy. Can we use that here?
2) Is the error text really doing the math?  It looks like they are trying to say (based on entered birth date) they entered service when they were 15.

[2017-02-06 22:18] mollyblake commented on #3688
What does last entry date mean?  If it means the date they last entered the service, I would suggest a change to that as well.  "Start of service period" And then "End of service period"

For the error message -- it appears before you finish typing in the year. (see screenshot.) @goldenmeanie - not sure if this always has done this. Does it have to do that?
<img width="367" alt="screen shot 2017-0

[2017-02-06 22:54] goldenmeanie commented on #3688
The aggressive validation (let me finish!) is something we fixed in the 1990. I think it just needs to be applied here. @annekainicUSDS?

[2017-02-06 23:18] mollyblake commented on #3688
:) Or "Date of discharge" and I would also change this to "Character of discharge" rather than type.
<img width="487" alt="screen shot 2017-02-06 at 4 17 34 pm" src="https://cloud.githubusercontent.com/assets/16196072/22670758/e33333a4-ec87-11e6-80c8-787337edc22c.png">

[2017-02-06 23:39] bethpotts commented on #4704
@mollyblake @rroueche
Agree with Molly's placement in the IA.
Title: Gulf War Illness from Service in Afghanistan
Beth's next steps: Copyedit the page.

[2017-02-07 02:14] mollyblake commented on #3688
I also saw it here on the HCA application.  I tabbed from month to day and it popped out!
<img width="458" alt="screen shot 2017-02-06 at 7 12 29 pm" src="https://cloud.githubusercontent.com/assets/16196072/22675010/4dbdde00-eca0-11e6-81e4-ec9714d7fc20.png">

[2017-02-07 05:55] bethpotts commented on #4704
@mollyblake I've copyedited the Afghanistan page. It's waiting for you in pivotal.

[2017-02-07 14:22] rroueche commented on #4704
thank you!! i'll have this stubbed out for ya today.

[2017-02-07 14:33] annekainicUSDS commented on #4578
Notes from meeting with Shay:

1. Intro Page:
- change language to: "Fill out this application if you are changing schools or programs to obtain a new COE"
- If changing school, type of training, or degree, they would use 1995
- At the bottom, where we list "22-1995", also list the name of the form
- At OMB number and respondent burden at the bottom perhaps

2. CH 1
- Help/error message text on Fi

[2017-02-07 14:35] annekainicUSDS commented on #4623
Notes from meeting with Shay:

- Switch order to TOE, Post Vietnam, then REAP

[2017-02-07 14:40] annekainicUSDS commented on #4543
Notes from meeting with Shay:

- Condense last 2 pages into a single page (military service pre 1978 and receiving benefits from USG)

[2017-02-07 14:50] annekainicUSDS commented on #4544
Notes from meeting with Shay:

1. NEW school
- Can we make it so that the drop down options for "Type of education or training" reflect what is relevant based on benefit selected? (separate ticket for this already exists for 1990)
- "Type of education or training" and "name of school" should be required
- Address isn't needed for national test, tuition and cert, or top-up (make this conditional on

[2017-02-07 15:00] annekainicUSDS commented on #4546
Notes from meeting with Shay:

- Indicating "Phone" for preferred contact method should make "Phone" fields required

[2017-02-07 15:01] annekainicUSDS commented on #4547
Notes from Shay meeting:

- Review fields are sometimes not opening (military service)

[2017-02-07 15:40] jbalboni commented on #4547
Above error fixed in #4789

[2017-02-07 15:41] jbalboni commented on #4546
Above is fixed in #4789

[2017-02-07 15:49] jbalboni commented on #4544
Pre-requisite for these changes is [#870](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/870), which I'm working on.

[2017-02-07 16:01] mollyblake commented on #4578
[1] Fill out this application to get a new Certificate of Eligibility (COE) if you are changing schools or programs.

[2] Red error message: _If you have a file number that starts with C, you only need to give us the numbers that come after that._

[3] Please add after _Why did you stop taking classes?_  this content: (for example, “I moved to a different area” or “The program wasn't right for me.

[2017-02-07 16:14] jbalboni commented on #4543
Changes:

Change "receiving benefits" checkbox to a yes/no radio button
Consolidate periods of service and receiving benefits question into single page

[2017-02-07 20:12] jkassemi opened #4812 "SAML assertion vs sign-in click time gap"
It appears that the SAML assertion for identity is generated on page load. ID.me will consider a SAML assertion expired after 5m, so this may mean that a user must either register or sign in within 5 minutes of loading a page.

The SAML assertion should be generated in response to clicking the sign in or register links.

[2017-02-08 15:40] jcmeloni-usds commented on #4812
Moved to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/1053

[2017-02-08 15:40] #4812 closed

[2017-02-08 19:14] goldenmeanie commented on #4543
Updated placement recommendation above

[2017-02-08 20:04] rroueche commented on #4704
@mollyblake and @bethpotts we already have a piano key for the Gulf War Illness page on the Exposure page (https://vetsgov-pr-3324.herokuapp.com/disability-benefits/conditions/exposure-to-hazardous-materials/), is it good practice to have another piano key called Gulf War Illness from Service in Afghanistan in that list of piano keys? Or should that info just be on the Gulf War Illness page?

[2017-02-08 20:58] cvalarida commented on #4220
@crwallace, I tracked down where the `<select>`s are getting their styling from, and it looks to be from the [web design standards repo](https://github.com/18F/web-design-standards/blob/staging/src/stylesheets/elements/_inputs.scss#L110). I asked @jbalboni if that would be the best place to fix it and he said to ask you, since we're using an older version and it'll take longer to get into the vets

[2017-02-08 21:55] goldenmeanie commented on #4546
From @mollyblake
[code]

[2017-02-09 17:08] leannammiller commented on #3688
@annekainicUSDS is this something @cvalarida can handle?

[2017-02-09 18:58] #4623 closed

[2017-02-09 21:24] #4578 closed

[2017-02-09 21:24] #4543 closed

[2017-02-09 21:34] annekainicUSDS commented on #4550
This has been merged, closing.

[2017-02-09 21:34] #4550 closed

[2017-02-09 21:35] leannammiller commented on #4576
dupe

[2017-02-09 21:35] #4576 closed

[2017-02-09 21:52] leannammiller commented on #4549
this can be merged @lihanli

[2017-02-09 21:53] lihanli commented on #4549
it's merged

[2017-02-09 21:54] #4546 closed

[2017-02-09 21:55] #4547 closed

[2017-02-09 21:55] #4549 closed

[2017-02-09 22:26] jbalboni commented on #4234
I'm going to close this, as it's not going to be useful now with the way we're writing forms.

[2017-02-09 22:26] #4234 closed

[2017-02-10 15:11] bethpotts commented on #4704
@rroueche I think we're almost done with this. The only question I have is about the breadcrumbs/the Afghanistan location in the folders. The breadcrumbs currently show it at the same level as the Gulf War page, but it's actually a level down. Should that be reflected in the breadcrumbs?

[2017-02-13 19:37] annekainicUSDS commented on #3688
@mollyblake @goldenmeanie I agree that the aggressive validation styling should be fixed, but this is going to be a larger change. For the sake of addressing this particular issue, I think all we should do is make the error message a little clearer:

Instead of: "Entry date must be greater than 15 years of age."
It should be: "You must have been at least 15 years of age at your entry date. Please

[2017-02-13 20:31] eli-lewis commented on #4437
@tiffanybbrown-va can you please update this?

[2017-02-13 20:32] eli-lewis commented on #4422
@tiffanybbrown-va is there an update on this?

[2017-02-13 21:17] mollyblake commented on #3688
@goldenmeanie

Can we say, "You must have been at least 15 years old when you entered the service. Please fill out all the fields for the date to be valid."  And Perhaps we can switch the order too?  So that the "Please fill out all the fields for the date to be valid" comes first?  That may trigger them to see that they haven't filled out the full 4-digits for the year.

Thanks! @annekainicUSDS

[2017-02-14 15:59] alexose-gov commented on #4409
Done!

[2017-02-14 15:59] #4409 closed

[2017-02-14 16:03] alexose-gov opened #4857 "Wrap electron binary in order to hide the window for local tests"
One bummer about electron:  The current version of Chromedriver doesn't allow it to hide (or resize) the viewport.

It is possible to work around this by not calling the electron binary directly, but instead calling a Node wrapper.  This is how [spectron](https://github.com/electron/spectron) does it.

(We can also leverage this to get the developer tools working, which would be a nice addition)

[2017-02-14 16:05] alexose-gov opened #4858 "Add e2e screenshot/video artifacts to Jenkins"
Now that we use Jenkins, it would be great to produce some artifacts when a test fails.  A screenshot would be nice, but it's actually possible to [record video via xvfb](http://afterdesign.net/2016/02/07/recording-headless-selenium-tests-to-mp4.html) too.

[2017-02-14 16:14] jcmeloni-usds commented on #4409
Yaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaay!!!!! 🎉

[2017-02-14 17:03] rroueche commented on #4673
Closing bc this lives in the Content repo

[2017-02-14 17:03] #4673 closed

[2017-02-14 17:54] alexose-gov opened #4861 "Improve test-server.js so that tests can run without having to build first"
Test-server.js expects there to be content in `vets-website/build`.  When you're running the dev server, however, it doesn't actually build things to that directory.  The result that you have to run `npm run build` before the e2e tests actually work :(

There's a pretty easy fix for this-- Check to see if the dev server is running, and if it is, use it.  Otherwise, default to `test-server.js`.

[2017-02-14 18:01] alexose-gov opened #4862 "Improve linter"
We really only need to lint the files that have changed according to git:

`git diff --name-only`

Historically, it hasn't been an issue.  Now that we have so many files to lint, it's probably time we implement this sort of thing :)

[2017-02-14 18:16] alexose-gov opened #4863 "Properly close Electron when a test fails or times out"
In some circumstances, the Electron process will just keep running even if the test suite has stopped.  It's a minor inconvenience, but still something to fix.

[2017-02-14 19:24] raquelromano-gov commented on #3688
I'm going to split this into 2 issues (maybe 3):
- language changes to https://www.vets.gov/healthcare/apply/application/military-service/service-information (will bring over final recommendation from @mollyblake )
- language changes to http://localhost:3001/healthcare/apply/application/household-information/spouse-information (not as urgent)

[2017-02-14 19:31] goldenmeanie commented on #4544
We should switch the order of "Type of training" and "Name of institution"

[2017-02-14 20:16] annekainicUSDS commented on #4544
@goldenmeanie Is this a new requirement, to switch the order? Perhaps we should create a separate ticket for that so it can be tracked.

[2017-02-14 20:19] annekainicUSDS commented on #4544
1. "Type of education or training" and "name of school" are already required (done)

[2017-02-14 21:22] raquelromano-gov commented on #3688
@mollyblake Is the change to the marriage date validation error message above definitely needed? I've moved the other problems discussed here into separate issues for language changes vs. premature validation. If the marriage date language change is also needed, you can add it to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/1212

[2017-02-14 21:42] cvalarida commented on #3433
I also found that it accepts alphabet characters as well. Should that be addressed with this?

[2017-02-14 22:07] tiffanybbrown-va commented on #4422
No. No update. If someone else wants to take it, great. If we want to close for the sake of clearing the queue, that's fine too.

[2017-02-14 22:09] tiffanybbrown-va commented on #4437
There's no update to make. But I'll close it since it's not especially important to fix.

[2017-02-14 22:09] #4437 closed

[2017-02-14 23:36] ayaleloehr commented on #4858
@alexose can you put this in vets.gov-team instead?  And label it with `core`?

[2017-02-15 13:18] goldenmeanie commented on #4544
@annekainicUSDS I could go either way. I think the conditional fields make more sense adjacent to the triggering field so I consider it conceptually part of the same effort. But I defer to whatever makes sense to you, but I would recommend not deploying one change without the other.

[2017-02-15 14:06] annekainicUSDS commented on #3688
@raquelromano-gov sounds good. I think the premature date validation probably won't make it into this sprint. Biggest priority is just fixing the error message language. Thanks!

[2017-02-15 14:56] annekainicUSDS commented on #4544
I see what you mean. Seems like a low lift anyway to switch the fields so we might as well do it in the same PR.

[2017-02-15 15:45] eli-lewis commented on #4422
@ayaleloehr ^^^

[2017-02-15 16:23] #4283 closed

[2017-02-15 16:24] #4279 closed

[2017-02-15 16:40] ayaleloehr commented on #4422
Redirecting to @bshyong . If he thinks this is worth doing, we should do it. if not, we should close.

[2017-02-15 17:11] alexose-gov commented on #4858
Done!

[2017-02-15 17:11] #4858 closed

[2017-02-15 17:37] raquelromano-gov commented on #3688
@annekainicUSDS Oh, I already fixed the premature date validation in https://github.com/department-of-veterans-affairs/vets-website/pull/4868

[2017-02-15 21:13] #4636 closed

[2017-02-15 21:14] koconnor719 commented on #4615
posted:
Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certification for your identity. If you are having t

[2017-02-15 21:14] #4615 closed

[2017-02-15 21:28] bethpotts commented on #4704
Done.  Can't add the complete label because this issue wasn't created in the content repo.

[2017-02-15 22:48] gnakm opened #4875 "New top navi needs help on playbook page"
I believe the playbook page is the only page with a white header but this is what it looks like. My thought is that this page now needs the same header treatment as rest of site. Not sure if team is already aware of it but just incase noting it here! @angel @melwoodard for visual awareness.

<img width="1042" alt="screen shot 2017-02-15 at 5 34 56 pm" src="https://cloud.githubusercontent.com/asset

[2017-02-15 23:44] melwoodard commented on #4875
@gnakm agreed - this should be updated to match the rest of the site.

[2017-02-16 15:36] jbalboni commented on #4544
@goldenmeanie @annekainicUSDS The address is already conditionally shown, so it sounds like we need a PR for swapping the order of education type and name of school?

[2017-02-16 17:19] alexose-gov commented on #4863
Moving to vets.gov-team

[2017-02-16 17:19] #4863 closed

[2017-02-16 17:19] alexose-gov commented on #4862
Moving to vets.gov-team

[2017-02-16 17:19] #4862 closed

[2017-02-16 17:20] alexose-gov commented on #4861
Moving to vets.gov-team

[2017-02-16 17:20] #4861 closed

[2017-02-16 17:20] alexose-gov commented on #4857
Moving to vets.gov-team

[2017-02-16 17:20] #4857 closed

[2017-02-16 17:30] #4544 closed

[2017-02-16 17:42] cvalarida commented on #3433
https://github.com/department-of-veterans-affairs/vets-website/pull/4859 formats the SSN, so just the phone is left.

[2017-02-16 22:57] tiffanybbrown-va commented on #4875
I think this needs some design work first. I can update the header, but that won't indicate that it's the Playbook.

[2017-02-16 23:30] melwoodard commented on #4875
@tiffanybbrown-va thanks, you bring up a good point. There's not a ton of value in carrying the top-level nav into the playbook, so rather than matching, what if we keep the distinct white background for Playbook, but remove all navigation elements except the logo? This seems truer to the spirit of where it stood originally before we started adding more nav:

<img width="1280" alt="screen shot 201

[2017-02-17 17:17] rroueche commented on #4724
@mollyblake and @bethpotts do we want the piano key for this to be called "Radiation Exposure" and also the page URL to be "Radiation Exposure" ?

[2017-02-17 17:20] rroueche commented on #4772
Going to do checks 2 and 3 as a part of a larger ia/flow review coming in the next weeks.

[2017-02-17 18:06] mollyblake commented on #4724
IMHO yes.  Defer to @bethpotts on final

[2017-02-18 00:21] bethpotts commented on #4724
@rroueche @mollyblake Yes! Let's rename both the piano key and the url: Radiation Exposure / radiation-exposure
Thanks for your help with this, Rachael!

[2017-02-20 17:52] rroueche commented on #4724
No problem! We should be all set, the changes are in staging, and James will set the redirects to go live at the same time that we merge this PR. Still scheduled for Feb 23.

[2017-02-21 15:12] jcmeloni-usds commented on #4875
Not moving to vets-team because an open PR should be closed imminently.

[2017-02-21 17:09] #4875 closed

[2017-02-22 15:21] #3433 closed

[2017-02-22 16:16] annekainicUSDS commented on #3688
@raquelromano-gov awesome!! I think this is fixed then, just tested in staging and it worked great. @koconnor719 this should be good to close out now.

[2017-02-22 17:23] #4772 closed

[2017-02-24 17:55] #4704 closed

[2017-02-24 17:59] #4724 closed

[2017-02-27 18:41] altangel opened #4963 "Update health records content - Form"
Update form content to the following:
![hr v4 form](https://cloud.githubusercontent.com/assets/25392602/23374413/10c6d3be-fcd9-11e6-8825-1a75aded88bc.png)

/cc @AnitraAppa @mikeusdsva for awareness

[2017-02-27 18:49] altangel opened #4964 "Update health records content - Alerts"
Update alerts on the download page with updated content:

**Successful update:**
![hr v4 download side by side](https://cloud.githubusercontent.com/assets/25392602/23374538/9555c586-fcd9-11e6-8ab1-9fd7312e892f.png)

**Errors with update:**
![hr download no table error 2](https://cloud.githubusercontent.com/assets/25392602/23374525/85123466-fcd9-11e6-98b5-c59d825e05e7.png)

**Not up-to-date:**
![hr

[2017-02-27 18:51] mikeusdsva commented on #4964
Instead of "PDF File" can we just say "PDF"

[2017-03-01 00:38] J-Quag commented on #3688
@annekainicUSDS   If this can be closed, can we just close it?  Or do we need Kelly to close it?

[2017-03-01 00:39] J-Quag commented on #4216
Assigning to Kelly if this can be closed out.

[2017-03-01 03:36] koconnor719 commented on #3688
I close the user voice ones pls

Sent with Good (www.good.com)

-----Original Message-----
From: Josh Quagliaroli [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, February 28, 2017 07:39 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Id

[2017-03-01 03:36] koconnor719 commented on #4216
Thx

Sent with Good (www.good.com)

-----Original Message-----
From: Josh Quagliaroli [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, February 28, 2017 07:40 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: APO AP/AE address option

[2017-03-02 17:43] #4963 closed

[2017-03-05 16:00] raquelromano-gov commented on #3688
Closing this as everyone appears to have signed off.

[2017-03-05 16:00] #3688 closed

[2017-03-07 15:58] aub commented on #3490
This work has been completed in our code. @jkassemi is working on setting the caching headers so browsers will make use of it, but we can handle that separately.

[2017-03-07 15:58] #3490 closed

[2017-03-09 18:56] mikeusdsva opened #5053 "Order of drop down needs to be rearranged for GIBCT"
Permutations of benefits received varies among a number of different options. The order of drop downs should be as follows:

1.Military Status: (Active vs Inactive)
2. Type of Benefit: (Montgomery vs Post 9/11)
3. Eligibility:
4. School Type: (In person vs Online)
5. School Name City, Zip Code, etc

In this order, the veteran will get the correct information of the benefits they will receive.

[2017-03-09 18:59] mikeusdsva opened #5054 "Type of School needs to be annotated (Public, Private, OJT, etc) for GIBCT"
Public, Private, and trade schools offers different dollar amounts so it needs to be highlighted when the search results come up.

[2017-03-09 19:01] mikeusdsva opened #5055 "End Point to receive GI Bill Certificate Online"
Discovery as to how to get the GI Bill Certificate Online through vets.gov?

[2017-03-09 19:15] #5055 closed

[2017-03-09 19:20] #5053 closed

[2017-03-09 19:20] #5054 closed

[2017-03-10 16:27] gnakm opened #5063 "Facility Locator - Bugs on IE10"
Caught these during today's usability session. User is using IE10.

Arrow icon is floating under the header on main FL page.
<img width="233" alt="screen shot 2017-03-10 at 11 22 15 am" src="https://cloud.githubusercontent.com/assets/13420618/23803387/59c3e4b8-0584-11e7-9cbb-3e84a91487fe.png">

All text should be centered aligned with dropdown icon.
![image](https://cloud.githubusercontent.com/ass

[2017-03-10 17:31] #4569 closed

[2017-03-13 17:51] bshyong commented on #5063
copied to vets.gov team repo https://github.com/department-of-veterans-affairs/vets.gov-team/issues/1644

[2017-03-13 17:51] #5063 closed

[2017-03-14 18:45] mollyblake opened #5082 "Capitalize 'i' in GI Bill breadcrumb"
Would appreciate it if someone could help with this issue -- the **i** in the Gi Bill breadcrumb is lower case. It should be **GI** Bill.  Thanks!

<img width="360" alt="screen shot 2017-03-14 at 12 39 38 pm" src="https://cloud.githubusercontent.com/assets/16196072/23917084/db0c907e-08b3-11e7-8670-cef5cb7f3cdf.png">

[2017-03-15 19:30] saintsoup52 commented on #5082
Thank you... this is a personal pet peeve of mine :-)

[2017-03-15 21:50] ayaleloehr commented on #4422
pinging @bshyong on this to close if he doesn't think it needs to be done.

[2017-03-15 21:52] ayaleloehr commented on #3282
Assigning @suzchap to decide if this should be worked on or closed.

[2017-03-15 21:53] ayaleloehr commented on #2569
pinging @rroueche . can this be closed?

[2017-03-15 21:53] ayaleloehr commented on #2470
@rroueche was this already addressed in the plain language rewrite? Can this be closed?

[2017-03-15 21:55] ayaleloehr commented on #3987
@dannychapman is something supposed to happen here? Can this be closed?

[2017-03-15 21:56] ayaleloehr commented on #4150
This says fixed, so i'm closing. someone reopen if you disagree.

[2017-03-15 21:56] #4150 closed

[2017-03-15 21:57] ayaleloehr commented on #4432
Pinging if this is something that still needs to happen or if it was completed with the plain language edit?  cc @rroueche

[2017-03-15 21:59] ayaleloehr commented on #4036
pinging @NatalieEMoore as the last comment was three months ago.

[2017-03-15 22:00] ayaleloehr commented on #3736
@dannychapman is there any followup here? is this something that should be researched further or not at this time?

[2017-03-15 22:03] ayaleloehr commented on #3289
Was this completed @cvalarida or @goldenmeanie ?  (I saw this PR which made me think it might be: https://github.com/department-of-veterans-affairs/vets-website/pull/4896)

[2017-03-15 22:05] ayaleloehr commented on #2963
Pinging here 3 months later to see if this still needs to happen (and if so, please label it so it will show up in the Waffle board)

[2017-03-15 22:06] ayaleloehr commented on #3209
@rroueche is this maybe covered in the health content you're working on?

[2017-03-15 22:07] ayaleloehr commented on #3291
@jbalboni @annekainicUSDS does this still need to happen?

[2017-03-15 22:07] ayaleloehr commented on #3960
@saneshark should this still be left open or can it be closed?

[2017-03-15 22:09] ayaleloehr commented on #3992
@rroueche was this completed with the plain language edit?

[2017-03-15 22:11] ayaleloehr commented on #4216
pinging @koconnor719 to close based on conversation above.

[2017-03-15 22:13] ayaleloehr commented on #4556
Can this be closed @leannammiller ?

[2017-03-15 22:14] leannammiller commented on #4556
yup

[2017-03-15 22:14] #4556 closed

[2017-03-15 22:23] goldenmeanie commented on #3289
I believe this is solved by relaxing validation on the phone number field. Minimum 10 digits, don't care about anything else? Do I recall that correctly @cvalarida?

[2017-03-15 22:27] goldenmeanie commented on #3289
Looked at that PR and yeah I think we can close this.

[2017-03-15 22:27] #3289 closed

[2017-03-15 22:36] ayaleloehr commented on #4217
This looks resolved here: https://www.vets.gov/education/apply-for-education-benefits/application/1990/introduction

@goldenmeanie can you close if so?

[2017-03-16 00:13] dannychapman commented on #3736
@ayaleloehr Not at this time. Closing.

[2017-03-16 00:13] #3736 closed

[2017-03-16 00:14] dannychapman commented on #3987
@ayaleloehr I think this was resolved when the content changed. Closing since it's likely that the content patterns have moved on at this point.

[2017-03-16 00:25] #3987 closed

[2017-03-16 01:44] #4036 closed

[2017-03-16 17:55] suzchap commented on #3282
I am planning a bigger overhaul of the playbook so I don't want to do too much work on this right now so here's what I propose:

1. change the header's "work in progress" link to go to https://www.vets.gov/playbook/ (instead of https://www.vets.gov/playbook/design/) which matches the purpose of link better.
2. change "Building a single unified digital experience for all veterans." to "Building a s

[2017-03-16 17:57] jcmeloni-usds commented on #3282
@suzchap you should be able to do this.  I can also just do it if you want.  LMK.

[2017-03-16 18:00] koconnor719 commented on #3282
sounds good!! the only other thing we talked about was having 1-2 sentence on how vets.gov is still a "work in progress" right?

[2017-03-16 18:05] suzchap commented on #3282
@jcmeloni thanks but I should know how to do this. I just need someone to show me.

@koconnor719 Adding "one piece at a time" to the top sentence was Amy's temporary solution for this. Is it too subtle? I'll plan to do something more explicit in the next iteration I'm already working on if that helps.

[2017-03-16 18:06] jcmeloni-usds commented on #3282
@suzchap you bet. sorry i'm not in the office today. if you aren't shown before the next time you see me just grab me. sorry i can't screenshare.

[2017-03-16 18:17] koconnor719 commented on #3282
@suzchap i think we may need a bit more than that?  veterans (like my dad) go to vets.gov and they don't understand what's happening b/c it's only partially done?  can we say a little more like we are currently in progress of moving things over and should be done by later 2017?  what do you think?  otherwise it just looks like a partial thing?

[2017-03-16 18:22] suzchap commented on #3282
@koconnor719 Ok, I'll take another pass at working this in. Thanks!

[2017-03-16 18:30] koconnor719 commented on #3282
what do you think????

[2017-03-16 22:50] cvalarida commented on #4217
I think I remember seeing it broken in IE on someone's screenshare...somewhere...but haven't gone about testing it thoroughly yet.

[2017-03-17 02:07] bshyong commented on #4422
Closing this out for now

[2017-03-17 02:07] #4422 closed

[2017-03-17 18:18] #4216 closed

[2017-03-17 18:37] koconnor719 commented on #4650
did this ever get closed? i never received anything.  thanks.   @robertfairhead @iantopper @eli-lewis

[2017-03-17 18:40] koconnor719 commented on #4650
i sent an email to brenda.

[2017-03-17 18:44] koconnor719 commented on #4613
@maryannbrody can this be closed?  i think it was an initial user voice comment.

[2017-03-17 18:46] koconnor719 commented on #3949
@rroueche can this be closed?  it's a user voice comment but wanted to check before i closed it.  not sure why alex is assigned?

[2017-03-17 18:51] rroueche commented on #3949
Hmm, I'm not sure @AnitraAppa and @melwoodard it seems like you were working on some potential text changes inside the tools to try and help with this - do you have a summary of what you updated that Kelly could email out to person who entered the User Voice comment, and close this issue? OR, is there nothing we can do for now? (in which case, we'll have to craft some response language...)

[2017-03-17 19:47] maryannbrody commented on #4613
Yep, closing!

[2017-03-17 19:47] #4613 closed

[2017-03-17 20:20] ayaleloehr commented on #4037
pinging @NatalieEMoore here as well. next steps?

[2017-03-17 20:22] ayaleloehr commented on #2570
@rroueche should this be closed?

[2017-03-17 20:34] saneshark commented on #3960
Yes.

[2017-03-17 20:34] #3960 closed

[2017-03-19 19:16] bethpotts commented on #2570
@rroueche The apply pages are now consistent, but disability remains inconsistent from the rest of the L2 pages. I'm not sure who is the appropriate person to address this, or how much of a priority it is:
L2 pages (the disability section is the only one that has "benefits"):
/disability-benefits
/education
/employment
/healthcare

[2017-03-20 15:12] NatalieEMoore commented on #4037
No, this can stay open.  It's a reminder that the way we update facility websites on the FL details pages is not automated.  This is not a huge priority for FL because eventually the websites will be removed completely but not until we make some updates on our side.

[2017-03-20 17:36] annekainicUSDS commented on #4233
This will require more research, look into whether or not things are being included twice, using latest from USWDS, getting rid of Foundation, etc. (but many of these are related to what the Core team is working on).

Next steps: talk to Core team about what they're currently planning for these issues. @tiffanybbrown-va

[2017-03-20 17:38] annekainicUSDS commented on #4232
Change needed: investigate if ES6 polyfill can be used in place of the babel-polyfill. Work with the Core team on this as this would be a global change. Cc: @robbiethegeek-usds

[2017-03-20 17:43] annekainicUSDS commented on #4223
First look into changing date fields to be 3 text fields instead of 2 dropdowns and a text field. Original ticket here: https://github.com/department-of-veterans-affairs/vets-website/issues/3080

[2017-03-20 17:46] jcmeloni-usds commented on #4233
@annekainicUSDS Howdy - w're doing a slow roll here on getting rid of Foundation and being 100% USWDS mostly because we're down to 1 F/E person.  So, no real target date per se -- @tiffanybbrown-va is working through things as carefully as she can.

[2017-03-20 23:55] melwoodard commented on #3949
From @saintsoup52's comments above, it sounds like there are more use cases we'd need to address to really accommodate all the nuances of different education benefits. I wouldn't want to add another thing in front of launching the new GIBCT, but I'll defer to @mikeusdsva on priority.

[2017-03-21 00:27] mikeusdsva commented on #3949
@melwoodward the above is true. With the updates, how do the calculations run? Let's do a run through tomorrow.

[2017-03-21 04:11] ayaleloehr commented on #4575
@leannammiller should this be closed?

[2017-03-21 04:12] ayaleloehr commented on #4470
@AnitraAppa are there next steps?

cc'ing @mikeusdsva here as well.

[2017-03-21 04:14] ayaleloehr commented on #3953
pinging @NatalieEMoore to follow up.

[2017-03-21 04:17] ayaleloehr commented on #4314
Adding a kudos label, as the above comment makes it sound like this will need to be done on the kudos side as well.

[2017-03-21 04:19] ayaleloehr commented on #4222
@webinista was there an update to this based on work happening in other tickets?

[2017-03-21 13:04] leannammiller commented on #4575
@ayaleloehr I'm not sure. That's really a question for @markolson

[2017-03-21 13:21] jcmeloni-usds commented on #4222
IMHO I think this is subsumed by work and discussions following https://github.com/department-of-veterans-affairs/vets.gov-team/issues/576 and https://github.com/department-of-veterans-affairs/vets.gov-team/issues/760 and its related things.  I'd lean toward closing it because the purpose of the ticket was for discussions and that's happened a lot (driven by @melwoodard and @tiffanybbrown-va).  Wh

[2017-03-21 13:28] leannammiller commented on #4222
love closing issues @jcmeloni-usds

fine with me.

[2017-03-21 13:28] leannammiller commented on #4222
@goldenmeanie ?

[2017-03-21 13:31] NatalieEMoore commented on #3953
@phiden can you look into this?  On my iPhone I think it is showing up correctly.

[2017-03-21 13:34] phiden commented on #3953
Looks correct to me on iOS Chrome & Safari.

[2017-03-21 13:39] NatalieEMoore commented on #3953
okay, just need to see if it's still happening on an android phone and if not, i'll close this.

[2017-03-21 14:30] ayaleloehr commented on #4222
I see two votes to close and issues can always be reopened, so I'm going to close. Reopen if you object.

[2017-03-21 14:30] #4222 closed

[2017-03-21 16:36] AnitraAppa commented on #4470
Thanks for following up --- need to check in on how the larger MHV conversations went while I was out. @mikeusdsva I'm still having trouble with Slack, want to connect over email? Can come by 1800G tomorrow morning too.

[2017-03-21 17:25] mikeusdsva commented on #4470
Let’s set some time tomorrow.

From: Anitra Appa <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, March 21, 2017 at 12:37 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto:vets-website@noreply.github.com>>
Cc: Department of

[2017-03-21 19:58] NatalieEMoore commented on #3953
@gnakm said there are still bugs.

[2017-03-22 00:00] #4964 closed

[2017-03-22 20:09] gnakm commented on #3953
The last bug got fixed but now there are new bugs!

- [ ] Tab highlight alignedment
The blue highlight in the tab is a little higher than the other tab. All the tabs should be aligned.
![image](https://cloud.githubusercontent.com/assets/13420618/24218334/49accd9e-0f19-11e7-85fa-ae3b465890b5.png)

- [ ] The dropdown is showing something behind it
![image](https://cloud.githubusercontent.com/assets/

[2017-03-23 18:47] rroueche commented on #3949
thanks! @mikeusdsva and @melwoodard do you have a summary of why the text is as it is currently, so that Kelly can draft a response to the user voice submission?

[2017-03-23 22:05] AnitraAppa commented on #4470
Sounds like this is still mostly on the back burner -- will connect with @NatalieEMoore to see if any of the work related to medical authorization affects this when she's back next week.

[2017-03-24 04:34] gnakm commented on #3953
@NatalieEMoore @ayaleloehr who is the engineer I should assign this to?

[2017-03-24 14:44] rroueche commented on #2570
@ayaleloehr can we keep this in the icebox so we don't lose track of the need? I anticipate we'll come back to it around summer time and add some other breadcrumbs and nav-related tweaks we'll want to make.

[2017-03-24 14:51] rroueche commented on #3992
was not resolved, but mainly bc we don't really have the functionality. I'm going to close this anyway though bc it's not something we're going to attend to - thanks for the reminder!

[2017-03-24 14:51] #3992 closed

[2017-03-24 14:52] ayaleloehr commented on #2570
No problem.

Actual question: is this repo where you're keeping the Content icebox or is the content work mostly being tracked elsewhere?

[2017-03-24 14:54] rroueche commented on #2570
ah I didn't notice it was in this repo - yeah I'll close this one and move it over. thanks for the heads up!

[2017-03-24 14:54] #2570 closed

[2017-03-24 14:59] rroueche commented on #4432
I think we are in a pretty good place with this, but @gnakm lmk if you think we still need to do a scrub! Things probably aren't 100% perfect throughout the site, but are pretty close. I believe we decided to update discrepancies as we find them instead of spending time doing an audit.

For reference here is the guide on how to case things like page titles, buttons, breadcrumbs, etc: https://githu

[2017-03-24 15:03] rroueche commented on #3209
thank you for the notes @paultag !! and for cc'ing me @ayaleloehr !

yes healthcare eligibility is coming up in the new content we're writing, but I'm not sure if we attend to his Disability question -- or whether that type of info is in scope.

we launch content iteratively, so I'll keep track of that note for us to consider for when we go through iteration 3 of Disability content. we'll have to

[2017-03-24 15:21] rroueche commented on #2569
@bethpotts do we have this content tracked/saved somewhere else? I'd like to close this issue, but don't want to lose access to those 4 files if we still might need them in the future.

[2017-03-24 15:22] rroueche commented on #2470
sounds like it to me! cc'ing @bethpotts to make sure before I close! Beth could you confirm?

[2017-03-27 14:50] ayaleloehr commented on #3953
Letting @NatalieEMoore take that.

[2017-03-27 15:55] gnakm commented on #4432
@rroueche Sweet! We had mentioned this in passing a while ago but I think it's safe to close this. Feel free to reopen if anybody disagrees.

[2017-03-27 15:55] #4432 closed

[2017-03-28 15:53] phiden opened #5180 "Z-index bug"
Nav drop-downs aren't overlaying properly

<img width="1289" alt="screen shot 2017-03-28 at 8 55 38 am" src="https://cloud.githubusercontent.com/assets/4895604/24414697/22100286-13ad-11e7-9419-f853c57256c6.png">

[2017-03-29 17:20] #5082 closed

[2017-03-29 19:22] annekainicUSDS commented on #3292
@goldenmeanie do you have a sense of if this is still something we'd like to do? My sense is that the forms have changed since this ticket was created, and both of these sections can get quite lengthy on the 1990e and 5490. I think I'd prefer to keep them separate. Thoughts?

[2017-03-29 19:42] goldenmeanie commented on #3292
Agree with keeping them separate

[2017-03-29 20:59] #5180 closed

[2017-03-29 21:48] bethpotts opened #5197 "Links to the accredited rep page now wrongly point to Disability App Process page"
Links to the accredited rep page used to point here: /disability-benefits/apply-for-benefits/help/
Now, for some reason, globally, they point here: /disability-benefits/apply/

Not sure why this global change happened, but we need to get all the "get help from a trained professional/get help from an accredited rep" links to point here once again: /disability-benefits/apply-for-benefits/help/

Some

[2017-03-30 03:43] NatalieEMoore commented on #4470
I'm back if you still need to chat about this @AnitraAppa!

[2017-03-30 19:34] saintsoup52 opened #5206 "GI Bill CT: Missing ® in header & breadcrumbs"
The version of the CT that is a WIP is missing the registered trademark symbol next to GI Bill.

The header and the bread crumbs should read "GI Bill® Comparison Tool" similar to the current version of the tool.

**Current Tool**
![image](https://cloud.githubusercontent.com/assets/4397508/24522599/0e6b5534-155e-11e7-9edd-942bab4c85a6.png)

**WIP Version**
![image](https://cloud.githubusercontent.c

[2017-03-30 19:37] saintsoup52 opened #5207 "GI Bill CT: City/State not showing up properly in the search results"
When a US based school is displayed in the CT search results the description below the school name should say "[City], [State]."

Currently the WIP version of the showing City and Country (not state)

![image](https://cloud.githubusercontent.com/assets/4397508/24522802/b881feb0-155e-11e7-9176-ceeed5cb695a.png)

@mphprogrammer @saneshark

[2017-03-30 19:42] saintsoup52 opened #5208 "GI Bill CT: Calculator Questions In-State & Out-of State not appearing"
In the WIP version when a user selects a public school and says they are an out-of-state student the tuition/fees questions are not changing accordingly.

An out of state student should be asked two tuition questions not just one.

**Current production version:**
![image](https://cloud.githubusercontent.com/assets/4397508/24522927/35e7f080-155f-11e7-926c-c9e7da3631d4.png)

**WIP version:**
![image

[2017-03-30 19:48] saintsoup52 opened #5209 "GI Bill CT: Buy-Up Program"
In the current WIP version a user should not be able to input a value higher than $600 for their buy-in.

The typical buy-in is $600 but it could be less. If a user were to input a value above $600 into the tool they would be told they were eligible to receive wildly higher monthly benefits under MGIB.

In the production version we use a drop down menu to enforce that behavior.

**Current version*

[2017-03-30 19:53] saintsoup52 opened #5210 "GI Bill CT: Outcome measures with nulls are showing up as 0% with blue on the graph"
This is probably a duplicate of another issue but this issue is also affecting how outcome measures are displaying.

Trying searching for "UNIVERSITY OF PHOENIX-ONLINE CAMPUS". Because UOP is a 4 year school VA has not released any grad data for veterans.

However, the WIP version is showing a 0.00% rate and is even showing a slight blue line on the graph bar.

![image](https://cloud.githubusercon

[2017-03-30 19:57] saintsoup52 opened #5211 "GI Bill CT: Outcomes should be rounded to the whole number or to tenths of a percent"
The WIP version of the tool is showing hundreds of a percent in the outcome graphs which is not how the current tool works and is way too much detail for a user to comprehend.

The tool should round the round that are displayed to the whole number (or at the most tenths of a percent).

**WIP Version**
![image](https://cloud.githubusercontent.com/assets/4397508/24523552/67aa2bf4-1561-11e7-9fa5-b5c7

[2017-03-30 20:03] saintsoup52 opened #5212 "GI Bill CT: Missing "learn more" links"
In the WIP version of the tool there are several learn more links that are missing that need to be added back to the tool.

**Cautionary Information**
* Student complaints
* All Campuses

**Current Version**
![image](https://cloud.githubusercontent.com/assets/4397508/24523689/e968cc04-1561-11e7-9045-58f3031216e4.png)

**Proposed Version**
![image](https://cloud.githubusercontent.com/assets/4397508

[2017-03-30 20:07] saintsoup52 opened #5213 "GI Bill CT: Missing links in additional information"
The following links are missing from WIP version of the GI Bill CT. Both of these links provide vital consumer information to uses using the tool that comes from ED.

* "See accreditors"
* "Link to Veterans Tuition Policy"

**Current Version**

![image](https://cloud.githubusercontent.com/assets/4397508/24523960/dbadbbfa-1562-11e7-9582-03d05b813413.png)

**WIP Version**

![image](https://cloud.git

[2017-03-30 20:09] saintsoup52 opened #5214 "GI Bill CT: Resizing the screen makes data disappear"
When the screen shrinks to mobile size certain data disappears to include:
* Types of complaints
* Post-9/11 GI Bill # & $$

![image](https://cloud.githubusercontent.com/assets/4397508/24524038/3719397e-1563-11e7-8206-c2ff6a3b0270.png)

@mphprogrammer @saneshark

[2017-03-30 20:13] saintsoup52 opened #5215 "GI Bill CT: Caution flag reasons should not be cased incorrectly"
Reasons codes for Caution flags in the work in progress version of the tool are being cased incorrectly.

It appears somewhere along the line the first letter of each word is being capitalized. When this happens it messes up key acronyms like ACICS and FTC.

![image](https://cloud.githubusercontent.com/assets/4397508/24524221/c8512afa-1563-11e7-86ba-977386b4d601.png)

@mphprogrammer @saneshark

[2017-03-30 20:16] saintsoup52 opened #5216 "GI Bill CT: Filters are missing counts"
In the WIP version of the tool the new search page is missing counts next to each type of filter.

In the current version of the tool we provide very helpful tallies of the number approved programs that meets each of the various criteria.

**Current Version**
![image](https://cloud.githubusercontent.com/assets/4397508/24524319/1ba40376-1564-11e7-9645-a90f3b8a491f.png)

**WIP Version**
![image](htt

[2017-03-30 20:42] saintsoup52 opened #5217 "GI Bill CT: Google Analytics not firing correctly"
In the WIP version of the tool it appears that Google Analytics is no longer firing for "EO Principles of Excellence" account. The account number is UA-46533988-2.

Additionally a number of the events seem to be disabled. For example:
* What "learn more"s are folks clicking on
* What schools are users selecting (by name versus facility code)
* What search terms are users using to find schools

Thi

[2017-03-30 21:02] bethpotts commented on #2569
@rroueche
1) "Have a Rating" is already live on the site (now called "What to Expect after You Get a Disability Rating" located here: /disability-benefits/claims-process/what-happens-after-rating/)

2) "What to Expect at Your C&P Exam" is with SMEs and has been paused for a while. It is now titled "VA Claim Exam (C&P Exam)" You created a separate issue for this a couple months ago called "Integrat

[2017-03-30 21:05] bethpotts commented on #2470
This has been addressed. Closing.

[2017-03-30 21:05] #2470 closed

[2017-03-30 21:38] U-DON commented on #5208
I believe @melwoodard wanted to keep just one input for tuition and fees to encompass both. If the input for the radio button changes, it should update the number in the text input accordingly.

[2017-03-30 21:48] melwoodard commented on #5208
Correct - seeing both fields is confusing from a user perspective because only one of them applies to their situation, not both.

However @U-DON it does look like the calculator logic isn't matching up for an out-of-state situation - in the live tool, the amount the GI Bill pays to the school is capped at the in-school tuition rate, but on dev it's showing that GI Bill will pay the full out-of-sta

[2017-03-30 22:54] U-DON commented on #5216
We've decided to remove them since the UX around them is unintuitive with the way they're provided ('All' would get the current count of results rather than the actual count of all results).

[2017-03-31 00:50] U-DON commented on #5208
I think I mistakenly set the tuition fees cap to be the out-of-state tuition fees if the user selected "No" for the in-state radio input. If the cap should be the in-state tuition fees for any public schools, I can make that change.

[2017-03-31 07:28] saintsoup52 commented on #5208
We need both questions to make the calculations work correctly.

The tuition benefit for a Post-9/11 GI Bill student attending a public school as an out of state student is the lesser of the following:
* Out of State tuition fees charged - scholarships (CH 33 is a payer of last resort)
* In-State Tuition rates for the same program (CH33 is capped at in-state tuition)

I appreciate the desire for s

[2017-03-31 08:05] saintsoup52 opened #5221 "propose solution to: Search results - eligibility questions can extend way below search results"
In the WIP version of the search results page when they are 5 or fewer search results a user cannot see how adjusting the answers to the eligibility questions affects their estimated benefits.

A user should be able to change their answers to the eligibility questions and see how the benefits change up and down (e.g., online, other GI Bill benefits).

There are several possible paths to making thi

[2017-03-31 08:18] saintsoup52 opened #5222 "GI Bill CT: Outcomes section learn more links too large"
In the WIP version when the tool is shrunk to the smallest width the "Learn more" links are almost larger than then the outcome graphs themselves.

![image](https://cloud.githubusercontent.com/assets/4397508/24542242/e5c8ed2e-15c8-11e7-8a38-ef021eca2c70.png)

Seems like those links should adjust font accordingly as well.

@mphprogrammer @saneshark

[2017-03-31 08:25] saintsoup52 opened #5223 "GI Bill CT: Historical information section is displaying incorrect year"
In both the production and WIP version of the tools the years are incorrect for the historical Post-9/11 GI Bill information.

We are currently display FY 2016 data not "FY'14" or "2014" data. Both versions should say "FY 2016".

 I understand that including "FY" is not very consumer friendly but there has been great deal of confusion on how the number of Post-9/11 GI Bill students could be more t

[2017-03-31 15:26] goldenmeanie opened #5225 "5490: Split Benefit selection and benefit relinquishment sections into two screens"
In the 5490 if you have chosen the Child path, the Benefit selection screen also has an effective date with some associated helper and warning text. Please move this to a new screen with the same conditional behavior as the current block.

[2017-03-31 16:08] saneshark commented on #5216
@saintsoup52 this was a design decision we made. The filter counts didn't seem to provide much value particularly with UI redesign and are an added level of complexity to the interface. The count at the top for the search results should likely be sufficient.

This will also allow us to remove the group_by distinct database queries we use to retrieve the counts, which will likely improve search que

[2017-03-31 16:12] mphprogrammer commented on #5210
`graduation_rate_veteran` is showing `nil` in GIDS...

[2017-03-31 16:15] mphprogrammer commented on #5215
@saintsoup52 Programmatically I have no way of knowing whether a word is an acronym. Perhaps we should go to all upper case?

[2017-03-31 17:13] goldenmeanie commented on #5225
Ugh, wrong repo

[2017-03-31 17:13] #5225 closed

[2017-03-31 17:46] saintsoup52 commented on #5215
I completely agree... therefore however the caution flag is uploaded into the data service is how it should be displayed.

Currently based on the data we are uploading into the data service the caution flags should say "School operating under provisional accreditation (previously accredited by ACICS)"

Somewhere along the pipeline all the first letters of the words are being capitalized. We just n

[2017-03-31 18:52] saneshark commented on #5223
Lets set this one to 2016 on the front end, but open a separate issue to track how to do this on a longer term basis as well (based on conversation with stakeholders and admins).

[2017-03-31 18:54] saneshark commented on #5222
Validate that this one is not cross-browser issue.

[2017-03-31 18:56] saneshark commented on #5221
This is not a launch blocker, will remain in backlog for now and we will look at this more closely later.

[2017-03-31 19:02] saneshark commented on #5217
Need to have conversation with stakeholders on this one and any reports that they are currently doing. We need to get a sense of how big this issue is. How long will it take to comb through and identify how the reporting and data analytics are affected.

@koconnor719 do you know who the specific stakeholders would be on this so that we can identify the reporting that they are doing and how we migh

[2017-03-31 19:05] saneshark commented on #5214
@bshyong to verify if this is incorrectly marked up or if it is just a design nuance that @saintsoup52 identified as an issue incorrectly.

[2017-03-31 19:07] saneshark commented on #5213
@U-DON to check and see if this is in production currently and copy from there if possible, otherwise escalate to me.

[2017-03-31 19:08] saneshark commented on #5212
Might have just been missed in mockups -- compare to what is in production.

[2017-03-31 19:09] saneshark commented on #5211
Lets address this as time allows, but we will drop this down to 10ths instead of 100ths. Low priority.

[2017-03-31 19:10] saneshark commented on #5210
@mphprogrammer are we supposed to maybe provide a default value on the front-end when null? please advise.

[2017-03-31 19:14] mphprogrammer commented on #5210
@saneshark It should say `No Data`
<img width="901" alt="screen shot 2017-03-31 at 3 13 46 pm" src="https://cloud.githubusercontent.com/assets/4104431/24565785/c07c7778-1624-11e7-836f-ff099881388b.png">

[2017-03-31 19:15] saneshark commented on #5209
explain via text that max should be 600, but allow the user to input values exceeding this, but the calculation will reflect 600 regardless of value exceeding 600.

[2017-03-31 19:16] mphprogrammer commented on #5210
It should say `No Data` in the chart area, although the current tool shows 0% - that is wrong
<img width="894" alt="screen shot 2017-03-31 at 3 16 14 pm" src="https://cloud.githubusercontent.com/assets/4104431/24565842/06906ec2-1625-11e7-8739-4dfa9e06a777.png">

[2017-03-31 19:18] melwoodard commented on #5209
Append the label for the buy-up amount field to be:

How much did you pay toward buy-up (up to $600)?

[2017-03-31 19:18] saneshark commented on #5207
Seems like straight forward enough logic based on USA, then show state instead.
Can state ever be null? - if so maybe just show country anyway.

[2017-03-31 19:19] saneshark commented on #5206
Lets do a string search for "GI Bill" and identify all the places that might need the trademark logo.

[2017-03-31 19:22] saneshark commented on #5222
See also: https://github.com/department-of-veterans-affairs/vets-website/issues/5212

[2017-03-31 19:29] saneshark commented on #5217
@eli-lewis I think this is one we need to have a stakeholder conversation around as soon as possible to get a good grasp on what specifically might change or break based on the design changes that will go into affect once we launch. I'm tagging you here for awareness, because sometime early next week would ideally be coordinating with the appropriate stakeholders to get this issue ready for action

[2017-03-31 19:44] saintsoup52 commented on #5207
State is NULL when it is not in the US... so the default now is to show state, but when NULL it shows country instead.

[2017-03-31 19:57] ayaleloehr commented on #5217
Also tagging @robertfairhead as he has done most of the google analytics implementation across vets.gov and might be able to help get things in place.

[2017-03-31 20:00] mphprogrammer commented on #5217
Actually, I'd really be interested in assisting Robert with this, if there is anything a noob can do ...

[2017-03-31 20:06] koconnor719 commented on #5217
@saneshark responding on slack

[2017-03-31 20:18] koconnor719 commented on #5217
@saintsoup52 patrick who in VA EDU was using this report in the past?  Eddie and Jude? did it work at one time and now it doesn't?  (sorry i'm coming in late--if these questions don't make sense, please set me straight:)

[2017-04-01 00:40] U-DON commented on #5213
The tuition policy link should appear if `vetTuitionPolicyUrl` is available. It doesn't appear to be in the attributes for an institution. @mphprogrammer: Would you be able to add it in there? Meanwhile, I can add the accreditors link.

[2017-04-01 01:32] U-DON commented on #5223
@melwoodard Should the header be "Total paid (FY 2014)"?

[2017-04-03 07:59] saintsoup52 commented on #5217
The analytics work in the production version but not in the WIP version.  Specifically, the POE google analytics account was left off for some reason... the DAP and vets.gov analytics work but not the POE ones. Additionally, a number of "events" will be broken in the new version.

As for who uses the reports... Stephanie and her team use the POE analytics for cabinet level reports to the WH among

[2017-04-03 08:23] saintsoup52 commented on #5217
Here are some of the event categories we are currently tracking:
1. **Form change submits:** What eligibility and calculator questions are users interacting with.
  * gi-bill-chapter interactions
  * cumulative-service interactions
  * military-status interactions

2. **Type Ahead Clicks:** Are users clicking on the type ahead of the search results and what are the schools names being selected.

[2017-04-03 13:18] koconnor719 commented on #5217
Thanks😀

Sent with Good (www.good.com)

-----Original Message-----
From: Patrick Campbell [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, April 03, 2017 04:00 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] GI Bill CT: Google Analytics not firing

[2017-04-03 14:08] robertfairhead commented on #5217
Sorry, I was sick last week so just catching up now.

We can re-use our Tag Manager instance to send the data to their account. It can be configured to send events to any GA account. That's preferable to inputing a third analytics snippet since GA uses some globally scoped variables by default, which makes setup a pain and your implementation brittle.

Can @mphprogrammer, @saneshark or someone poi

[2017-04-03 15:20] #5206 closed

[2017-04-03 15:56] melwoodard commented on #5223
@U-DON yes, except 2016 - "Total paid (FY 2016)"

[2017-04-03 16:10] koconnor719 commented on #5217
@saneshark the VA stakeholder to work w/ on this are Stephanie price and John McNeal.

[2017-04-03 16:13] U-DON commented on #5217
@robertfairhead The front-end code is in vets-website/src/js/gi. On staging, it's at https://staging.vets.gov/gi-bill-comparison-tool.

[2017-04-03 16:17] #5211 closed

[2017-04-03 16:20] mphprogrammer commented on #5215
I'll get this, looks like spacing is wrong after comma in this instance too.

[2017-04-03 16:33] mphprogrammer commented on #5213
Yup. It seems to be missing from the institution_profile_serializer. Will do that now...

[2017-04-03 16:36] bshyong commented on #5214
This is due to an error with the CSS breakpoints. There is a gap between 481 and 784px where nothing will show up.

[2017-04-03 16:53] #5207 closed

[2017-04-03 17:11] mphprogrammer commented on #5213
@U-DON  I did some checking and found `vet_tuition_policy_url` returned in `links : { ... , vet_website_link: ‘... url ...’ }`

[2017-04-03 17:26] #5214 closed

[2017-04-03 18:24] #5212 closed

[2017-04-03 18:35] #5213 closed

[2017-04-03 18:35] #5223 closed

[2017-04-03 18:40] U-DON commented on #5222
Unable to reproduce this issue on Firefox, Chrome, or Safari.

[2017-04-03 18:47] robertfairhead commented on #5217
@U-DON thanks. i'll look at it on wednesday and get you some better thoughts on this then.

[2017-04-03 19:12] saintsoup52 opened #5245 "GI Bill CT: YR "See rates" should not appear when YR = No"
In the WIP version... if a school is not a yellow ribbon school we should not be sending a user to see the YR rates for that school.

In production we do not show the "See rates" link when YR = No.

![image](https://cloud.githubusercontent.com/assets/4397508/24626587/cded91b4-187f-11e7-9807-4e139aac6e85.png)

@saneshark @mphprogrammer

[2017-04-03 19:16] saintsoup52 commented on #5222
This is what I am seeing in IE 11

![image](https://cloud.githubusercontent.com/assets/4397508/24626771/5e5fbc86-1880-11e7-939d-6468433c8263.png)

[2017-04-03 19:19] saneshark commented on #5208
@melwoodard Do you have any thoughts based on @saintsoup52 findings above?

[2017-04-03 21:41] melwoodard commented on #5208
Since we aren't able to guarantee the accuracy or even presence of tuition rates for every school, it sounds like we'll need to revert back to showing the two fields separately.

[2017-04-03 23:35] U-DON commented on #5222
I see; I can get the same result in Firefox if I adjust the width of the screen to under 300px (like about 250px or so). But I'm not sure this is a realistic screen width for a user. This occurs because the SVG graph scales with the page, but the link is part of the regular HTML and matches the size of text in the rest of the document.

At 320px, the minimum screen width preset that I test with fo

[2017-04-03 23:41] U-DON commented on #5222
The small size of the text in the graph can be slightly improved if I remove the unnecessary margins from the sides of the graph (still at 320px screen width):

[2017-04-03 23:47] melwoodard commented on #5222
@U-DON you beat me to it - I was about to suggest the same thing. There's a 1em margin around the `.graph-component` div that isn't needed.

320px+ viewport width covers 99% of our traffic, so as long as the charts are readable at that scale we should be fine.

[2017-04-04 23:27] #5210 closed

[2017-04-04 23:29] #5208 closed

[2017-04-05 00:11] #5222 closed

[2017-04-05 00:11] #5209 closed

[2017-04-05 14:17] DanielleSoCompany opened #5263 "SGLI Premium Rates Table"
Hi @melwoodard, @rroueche . This is a table that needs to be designed and inserted into the Servicemembers' Group Life Insurance (SGLI) page: https://github.com/department-of-veterans-affairs/vets-website/blob/content/wip/life-insurance/content/pages/life-insurance/options-and-eligibility/sgli.md

You'll  see a note on the page where it needs to go. Table in word doc is attached. Please let me kno

[2017-04-05 15:49] DanielleSoCompany opened #5265 "Spousal coverage monthly premium rates table"
Hi @melwoodard and @rroueche. Here is another table that needs to be created for the Life Insurance section. It will go in the Family Servicemembers' Group Life Insurance (FSGLI) page: https://github.com/department-of-veterans-affairs/vets-website/blob/content/wip/life-insurance/content/pages/life-insurance/options-and-eligibility/fsgli.md.

Please see attached for table content, and see note with

[2017-04-05 17:47] saneshark commented on #5215
@mphprogrammer is this being addressed as part of https://github.com/department-of-veterans-affairs/gibct-data-service/pull/239

[2017-04-05 18:01] saneshark commented on #5217
@robertfairhead Any updates here? This one is going to a blocker for launch. Based on your findings we might need to push that date out, we might need to push our launch window out.

[2017-04-05 18:02] robertfairhead commented on #5217
@saneshark working on it now

[2017-04-05 18:12] melwoodard commented on #5263
I can tackle this.

[2017-04-05 18:33] robertfairhead commented on #5217
Initial thoughts @saneshark :

Basic page tracking is simple. I can add a configuration item to send all the page view, user, etc. to UA-46533988-2 that'll take 10 minutes.

For the 5 custom events:

1. Form change submits: Looks like those three boxes are in EligibiltyForm.jsx and all have onclick handlers that go to eligibilityChange action. In actions/index.js we could update that function to e

[2017-04-05 18:52] robertfairhead commented on #5217
@saintsoup52 I have the config changes ready to send you the basic tracking info for GIBCT pages. Our site sends traffic from both production and non-production environments (to allow for testing) and then our GA properties filter out the non-production traffic. I assume that you handled filtering out the non-production traffic already (since that's how the prior GIBCT tool worked) but wanted to m

[2017-04-05 19:22] melwoodard commented on #5263
@DanielleSoCompany you can take a look at the table here: https://vetsgov-pr-5240.herokuapp.com/life-insurance/options-and-eligibility/sgli/

If it looks good, feel free to go ahead and close this issue.

[2017-04-05 20:17] #5245 closed

[2017-04-05 21:43] melwoodard commented on #5265
@DanielleSoCompany this one is going to be a little tricky to implement, since standard markdown tables can't accommodate the multi-row table heading you have here with the Age of Spouse row above the age brackets:

![image](https://cloud.githubusercontent.com/assets/4106356/24726771/6534bed8-1a08-11e7-8f4c-81412583f481.png)

I can build out a custom table to suit it which will take a little more

[2017-04-05 21:49] DanielleSoCompany commented on #5265
Hi @melwoodard. That makes sense. Let me look at it again with @bethpotts and try to simplify. I just did that for some tables in pensions and it worked nicely. Will get back to you soon with hopefully a simplified version of this!

[2017-04-06 08:52] saintsoup52 commented on #5217
@robertfairhead Thank you for the heads up. I will keep an eye out for the traffic.

As for the the specific events listed above... the fifth one concerning the "learn more" button doesn't exist in the new design. Hope that helps.

[2017-04-06 15:19] mphprogrammer commented on #5215
@kam Yes

[2017-04-06 21:54] melwoodard commented on #5217
@robertfairhead sorry for the delay - #4 refers to what are now "learn more" text links that appear next to certain field labels and data values throughout the tool. These have replaced info icons (see the tool in production for comparison)

[2017-04-07 09:34] saintsoup52 commented on #5214
Sorry to revisit this issue... but I just checked the staging sit using my iphone (chrome) and I was not able to see the types of complaints.

![image](https://cloud.githubusercontent.com/assets/4397508/24794492/de69c32e-1b53-11e7-9a63-d32b9efd4ca3.png)

@bshyong @saneshark

[2017-04-07 13:26] robertfairhead commented on #5217
@melwoodard any chance you have some examples of them? URLs to staging would be great but even a screen shot is useful. If not, I can try to find them but having a starting point is super helpful.

[2017-04-07 13:30] saintsoup52 commented on #5217
Here you go... Just select any school and look in the calculator section.

![image](https://cloud.githubusercontent.com/assets/4397508/24802146/c6810134-1b74-11e7-80c3-0b9804c993ea.png)

[2017-04-07 13:45] robertfairhead commented on #5217
Got it. Very helpful. Those look like they all filter back to the showModal action. We should be able to catch them all there. @saneshark @U-DON i'll add that in to the branch i sent you yesterday (https://github.com/department-of-veterans-affairs/vets-website/tree/gibct-analytics)

[2017-04-07 14:07] robertfairhead commented on #5217
Ok status check on this:

- [X] GA Configured to send basic data to UA-46533988-2
- 1. Form Changes
  - [X] GA configured to send events to Vets.gov and EO Principles of Excellence accounts
  - [X] Initial code on gibct-analytics branch
  - [ ] Code reviewed and merged
- 2. Type Ahead Clicks
  - [X] GA configured to send events to Vets.gov and EO Principles of Excellence accounts
  - [X] Initial c

[2017-04-07 14:43] hzoo commented on #4232
FYI you can use https://github.com/babel/babel-preset-env with the useBuiltIns option to only load polyfills required by the environments supported (and babel-preset-env in general for syntax) This would replace "es2015" or "latest". Let me know if you have questions or join http://slack.babeljs.io/

[2017-04-07 15:05] jbalboni commented on #4232
Thanks @hzoo! We'll check that out.

[2017-04-07 15:07] leannammiller commented on #5215
@mphprogrammer since #239 is merged should this be closed?

[2017-04-07 16:50] U-DON commented on #5214
I think this is expected when there are 0 total complaints. It should only display the complaints that have a non-zero count. At least that's what the code is doing right now, so I thought that was as designed. @melwoodard Is that the expected behavior?

[2017-04-10 07:27] saintsoup52 commented on #5214
Thank you for flagging that change... It does appear to work when I search for schools with no complaints.

Nice new feature.

[2017-04-10 15:18] melwoodard commented on #5214
@U-DON that's correct

[2017-04-10 19:23] leannammiller commented on #5217
who will be responsible for reviewing and merging code?

[2017-04-11 07:29] saintsoup52 opened #5294 "GI Bill CT: Displaying incorrect OPE code"
The staging version of the tool is showing an incorrect OPE code in the "Additional information section".

The tool should be displaying the 8-digit OPE code, however it is currently showing a messed up version of the 6-digit OPE code. Unfortunately for all of us, many OPE codes start with zeros and those tend to be stripped somewhere along the data pipeline.

![image](https://cloud.githubusercont

[2017-04-11 14:57] saneshark commented on #5294
@mphprogrammer I'm going to assign this one to you to look into as soon as you can. This will be a launch blocker. Hopefully a minor fix.

[2017-04-11 15:34] mphprogrammer commented on #5294
@saneshark These are 8-character strings in GIDS, would you know if the Client is converting them to numbers (there are a few with letters in them) and dropping the leading 0's? @U-DON

[2017-04-11 15:40] mphprogrammer commented on #5294
This is what GIDS returns:
[code]

[2017-04-11 15:53] mphprogrammer commented on #5294
Directly hitting the API on staging (https://staging.vets.gov/gids/v0/institutions/21000311)
`{"data":{"id":"28995","type":"institutions","attributes":{"name":"THE ART INSTITUTE OF ATLANTA","facility_code":"21000311","type":"FOR PROFIT","city":"ATLANTA","state":"GA","zip":"30328","country":"USA","bah":1458.0,"cross":"00138813","flight":false,"correspondence":false,"ope":"00927005","ope6":"09270"`,

[2017-04-11 15:55] mphprogrammer commented on #5294
@U-DON could you take a look and see? The GIBCT seems to be dropping the last 2 characters of the ope (`05`) and dropping the first 2 or converting to integer (`00`). Also, it looks like the cross (Ipeds) is being converted to an integer, the leading (`00`) are being dropped there too.

[2017-04-11 16:26] U-DON commented on #5294
Yeah, I think the front end code is dropping the leading zeros somewhere. Probably since we try to convert a lot of the data from strings to numbers.

[2017-04-11 18:43] #5215 closed

[2017-04-12 03:56] saneshark commented on #5217
Woohoo! sorry for commenting on a closed thread but this one was one of the ones that had me most concerned! Thanks @U-DON and @robertfairhead

[2017-04-12 13:33] DanielleSoCompany opened #5309 "Life insurance additional callout"
Hi Rachael. I've added the callouts for the Life Insurance section in a new branch titled [WIP] life-insurance-callouts. But there's one additional callout that I need help with. It should appear only on the Options and Eligibility page (but not its subpages) so I'm not sure how to code the {% if path contains} part of the code. Here's the rest of the code for the callout, if you're able to add th

[2017-04-12 16:34] DanielleSoCompany commented on #5265
Hi @melwoodard. Please see attached for new approach and let me know what you think. Thanks!

[Spousal Coverage Monthly Premium Rates Table Revised Approach.docx](https://github.com/department-of-veterans-affairs/vets-website/files/917242/Spousal.Coverage.Monthly.Premium.Rates.Table.Revised.Approach.docx)

[2017-04-12 18:06] DanielleSoCompany commented on #5263
Thank you, @melwoodard !

[2017-04-12 18:06] #5263 closed

[2017-04-12 21:55] DanielleSoCompany commented on #5265
Hi again, @melwoodard . Now that I have the table template, I can put this in. I'll leave notes for you re: the accordion links. Will start a separate issue for that, so I'm going to close this one for now. Thanks!

[2017-04-12 21:55] #5265 closed

[2017-04-12 22:50] DanielleSoCompany opened #5315 "Adding accordions for age-based tables"
Hi @melwoodard . I've created the tables we discussed in the following 2 pages within Branch: content/wip/life-insurance:

vets-website/content/pages/life-insurance/options-and-eligibility/fsgli.md
vets-website/content/pages/life-insurance/options-and-eligibility/vgli.md

There are notes for you re: where you'll need to create the accordions for the age ranges. Just let me know if you have any que

[2017-04-12 23:01] DanielleSoCompany opened #5316 "Need to find/fix error"
Hi @rroueche. There's an error that's causing deployment to fail in the Life Insurance branch. It looks like it started with this commit: https://github.com/department-of-veterans-affairs/vets-website/pull/5240/commits/528234c450be2746b4a822829e67f401a39945fa.

I found and fixed what I thought was the error (there was a link that read " [contact OSGLI](/life-insurance/contact or appropriate link b

[2017-04-12 23:07] melwoodard opened #5317 "Military tuition assistance field appears on OJT profiles"
@saintsoup52 - @U-DON noticed that OJT profiles show a field in the calculator for Military Tuition Assistance - which seems like something specific to school tuition and not on the job training.

This exists in production as well as the new version we're building out - and the field doesn't seem to affect anything in the calculator results. Is this field supposed to be in OJT or can it be removed

[2017-04-12 23:23] U-DON opened #5318 "GIBCT Calculator: Disparity in fourth term housing allowance"
When a user selects "Active Duty" and "Post-9/11 (Ch 33)" in the eligibility form, there's a disclaimer that they aren't eligible for housing allowance. When that's the case, in the production tool, "Months 19-24" in the Housing Allowance row shows a non-zero amount. In the staging version, we have $0 for every term, which matches the disclaimer shown.

<img width="880" alt="screen shot 2017-04-12

[2017-04-12 23:54] melwoodard commented on #5315
Thanks Danielle! I'll start looking into the accordion implementation.

[2017-04-13 06:48] saintsoup52 commented on #5318
Thanks for asking... the Months 19-24 should read $0 and not "NaN" like in the production tool.

I thought I remembered us asking another question of the users enrolled in OJT programs, something like how long will is your OJT program which would have truncated those results but I can't find it in my notes. So please disregard my ramblings.

[2017-04-13 06:49] saintsoup52 commented on #5317
Good catch... TA only affects the tuition/fees benefit and therefore that question should be hidden when an OJT program is selected.

[2017-04-13 14:46] annekainicUSDS commented on #4575
Currently difficult to sort through Sentry errors and PagerDuty alerts to understand the severity of the error.

Figure out how to prioritize errors and what alerting mechanism is best for each type of error (e.g., if we don't send a spool file one night, that seems like a PagerDuty alert; if one form isn't formatted correctly and doesn't enter the spool file, that might be a different type of ale

[2017-04-13 15:48] melwoodard commented on #5317
Thanks, that makes sense!

[2017-04-13 15:56] bethpotts commented on #5316
@rroueche Any chance you'll have time to take a look at this, so Peggy can proof LI?

[2017-04-13 16:57] U-DON commented on #5318
Closing since this was just to confirm, and the staging tool is following correct behavior.

[2017-04-13 16:57] #5318 closed

[2017-04-13 20:00] #5317 closed

[2017-04-14 02:01] #5294 closed

[2017-04-14 15:47] rroueche commented on #5316
Fixed!

[2017-04-14 15:47] #5316 closed

[2017-04-17 15:19] #4232 closed

[2017-04-17 18:57] rroueche commented on #5309
@DanielleSoCompany should that text appear in addition to the other /options-and-eligibility callout text, so total it'd be:

[code]

[2017-04-18 14:36] jbalboni opened #5352 "Figure out a better way to handle array fields on schemaform review pages"
We currently pull array fields out of their page when on the review screen and show them separately. This is complicated and creates edge cases, like when the array field has a minimum number of items and there's no warning about this to users.

We could get rid of the separation entirely or come up with ways of handling the required field edge case.

[2017-04-18 14:37] jbalboni commented on #5352
FYI @goldenmeanie @cvalarida

[2017-04-18 14:55] goldenmeanie commented on #5352
We might need a way to visually call out review chunks that need attention

[2017-04-18 20:25] #5315 closed

[2017-04-19 01:52] raquelromano-gov commented on #3291
Just saw this for the first time--am guessing it originally applied to the 1990, so I updated the checkmarks to reflect what's live.

@goldenmeanie is this still desirable across all edu forms? i.e.
  - Benefits eligibility -> Benefits
  - Move all employment and work history pages into a "Non-military experience" chapter

[2017-04-19 01:58] annekainicUSDS commented on #3291
I'm not sure if this is still something we want to do, would have to loop @J-Quag into this.

[2017-04-19 12:33] J-Quag commented on #3291
Thanks @annekainicUSDS
  I'd like to review this with @goldenmeanie  since the other forms have come out since this point. It is most likely much more work now if the other forms were needing to also match this. I will bring this up with Alex when he gets back on Monday.

[2017-04-19 19:16] raquelromano-gov commented on #3291
Just saw https://github.com/department-of-veterans-affairs/vets-website/issues/3292 that says not to do the non-military experience thing after all

[2017-04-19 19:26] J-Quag commented on #3291
@raquelromano-gov  Thanks! I'm going to close both of them.

[2017-04-19 19:26] #3291 closed

[2017-04-19 19:26] #3292 closed

[2017-04-19 21:29] rroueche commented on #5309
cancelling bc this is in progress here: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/2228

[2017-04-19 21:29] #5309 closed

[2017-04-19 21:29] rroueche commented on #5197
This has been resolved!

[2017-04-19 21:29] #5197 closed

[2017-04-20 13:18] jbalboni commented on #3542
This is a React bug: https://github.com/facebook/react/pull/7359, which is fixed in 15.5.

[2017-04-21 14:06] saintsoup52 opened #5388 "GI Bill CT: Monthly living allowance rate for MGIB incorrect"
The benefits estimator is not correctly calculating the MGIB (CH 30) benefits when the user served less than 3 years. The correct rate for a 2 year enlistment under CH 30 is $1,509/month.

http://www.benefits.va.gov/GIBILL/resources/benefits_resources/rates/ch30/ch30rates100116.asp

**3 years**
![image](https://cloud.githubusercontent.com/assets/4397508/25280908/8ab666ca-2679-11e7-9386-f5578e07eab

[2017-04-21 14:15] saintsoup52 opened #5389 "GI Bill CT: How many dependents question should be hidden"
If a user selects:
1. VR&E and
2. says they are eligible for the Post-9/11 GI Bill

Then the question asking "How many dependents do you have" should be hidden.

![image](https://cloud.githubusercontent.com/assets/4397508/25281456/73abcfb8-267b-11e7-9f4b-9503a5b6b70a.png)

@leannammiller @mphprogrammer @saneshark

[2017-04-21 14:22] saintsoup52 opened #5390 "GI Bill CT: Clarify Estimated Benefits Results are by Year"
In the absence of the old benefits estimator it is not clear to the user that the estimated results are for an academic year.  Since the results can be very high, a user might think this for the life of the GI Bill

We should add "/yr" after "GI Bill pays to school" and "Book Stipend"

![image](https://cloud.githubusercontent.com/assets/4397508/25281700/238f1700-267c-11e7-8579-43587371cabd.png)

@

[2017-04-21 14:28] saintsoup52 opened #5391 "GI Bill CT: Yellow Ribbon issues"
There are three issues here:
1) The question should be "Will you be a yellow ribbon recipient?" It doesn't matter if they are a **current** recipient.

2) The default answer to that question should be "No" as it is on the current tool. Most students will not receive YR benefits

3) The Yellow Ribbon results in the estimator should be below the tuition/fees benefits not below the book stipend.

![i

[2017-04-21 14:47] saintsoup52 opened #5392 "GI Bill CT: "See rates" link to Yellow Ribbon is using incorrect year"
The link to the Yellow Ribbon rates is linking to the incorrect year.

It should be linking to "2016" not "2015."

![image](https://cloud.githubusercontent.com/assets/4397508/25282830/a7488da8-267f-11e7-879f-cb26c3f939f0.png)

**Current Link**
http://www.benefits.va.gov/gibill/yellow_ribbon/2015/states/RI.asp

**Correct Link**
http://www.benefits.va.gov/gibill/yellow_ribbon/2016/states/ri.asp

@le

[2017-04-21 14:56] saintsoup52 opened #5393 "GI Bill CT: Confusing order of Additional Resources"
In the new "Additional Resources" under the video is says "Ready to Apply" but the resource link right below are for people who are not ready to apply.

![image](https://cloud.githubusercontent.com/assets/4397508/25283264/26bdbd64-2681-11e7-864e-cdb16abea474.png)

"Explore your career" links to Careerscope and is for people who have no idea what they want to do next.

I recommend either reordering

[2017-04-21 15:17] leannammiller commented on #5393
@melwoodard your call

[2017-04-21 15:17] leannammiller commented on #5392
@bshyong @U-DON please fix at your earliest convenience

[2017-04-21 15:20] leannammiller commented on #5390
@melwoodard your call

[2017-04-21 15:23] melwoodard commented on #5389
@saintsoup52 this matches the functionality of the current tool - should it not?

[2017-04-21 15:29] melwoodard commented on #5390
We'll add, thanks.

[2017-04-21 15:33] melwoodard commented on #5391
1. We will change this
2. The default answer is in fact "No" - no change here
3. We will change this

[2017-04-21 15:36] melwoodard commented on #5393
Let's remove the "Ready to apply" heading and modify the second link per Patrick's suggestion above.

[2017-04-21 15:56] saintsoup52 commented on #5217
Can we please have a discussion about this?

I was able to test the analytics.  They are firing for POE analytics account... thank you.

Unfortunately, many of the events are not working as expected.

**1) Outbound link events**
In the current version of the tool there are unique labels to the outbound links. Those labels are not going to the POE account. For example "OutBound to: Apply for GI Bil

[2017-04-21 15:58] saintsoup52 commented on #5389
Sorry... you are correct... I love finding issues one and half years later.

This is not critical for launch.

[2017-04-21 16:08] melwoodard commented on #5389
Thanks - so just to be clear, the desired functionality _should_ be what you stated above?

[2017-04-21 16:15] leannammiller commented on #5217
@robertfairhead do you mind helping us with this?

[2017-04-21 16:15] saintsoup52 commented on #5389
Correct... it should be hidden when they are Post-9/11 eligible.

[2017-04-21 16:57] melwoodard commented on #5388
@U-DON @bshyong can you look into this?

[2017-04-21 17:05] robertfairhead commented on #5217
sure, i can take a look on monday.

1. sounds like its probably a config issue with the event labels. From what Patrick posted it sounds like they were sending the link text over, which should be a straightforward config option.

2. I'll have to take a look at this one. It's hooked into underlying learn more machinery so it should get them all. @saintsoup52 if you have specific examples of which l

[2017-04-21 20:27] J-Quag commented on #4299
This looks to be the 1990, do we know if this happens with the new schema?

[2017-04-21 20:33] J-Quag commented on #4220
@melwoodard  / @suzchap  Going to point this in your direction since Courtney is gone.

[2017-04-21 20:34] J-Quag commented on #4218
is this still applicable?

[2017-04-21 20:45] suzchap commented on #4220
@J-Quag Is this a site-wide issue or just in education?

[2017-04-21 20:47] J-Quag commented on #4220
@suzchap  I would need to look at HCA for drop downs, but its in all of our EDU forms I believe.

[2017-04-21 20:51] suzchap commented on #4220
@J-Quag ah, ok. @melwoodard can you have a look and make a recommendation? (adding Mel as an assignee)

[2017-04-21 22:01] melwoodard commented on #4220
I believe we use this dropdown site wide (with a couple exceptions like facility locator). I'd suggest submitting a PR to USWDS, since this affects a lot more sites than just vets.gov.

If it's not a big lift to roll out a temporary custom class (and later reverse it) I'd be inclined to do that until we transition to USWDS 1.0 - but I'd like input from @cvalarida on the lift, as well as from @tiff

[2017-04-22 05:37] #5390 closed

[2017-04-22 05:37] #5391 closed

[2017-04-22 05:37] #5392 closed

[2017-04-22 05:37] #5393 closed

[2017-04-24 09:12] saintsoup52 opened #5402 "GI Bill CT: Default the accordions to open"
The accordions/drawers to the GI Bill Comparison tool should be defaulted to open.

![image](https://cloud.githubusercontent.com/assets/4397508/25329990/fa375700-28ab-11e7-8065-acf9d4c3b673.png)

The information provided in those drawers is critical for users making tough choices about where they should go to school. However many users will not know they should open these drawers and therefore mis

[2017-04-24 09:23] saintsoup52 opened #5403 "GI Bill CT: Calculator Results for OJT missing "/month""
The calculator results for OJT programs is missing key descriptive information.

Unlike how school results are displayed the calculated results for OJT/Apprenticeship programs are not totaled per term but rather they keep displaying a per month benefit. We need to clarify that these are monthly benefits not total benefits.

Additionally the OJT programs don't have "Terms" like school programs so w

[2017-04-24 09:31] saintsoup52 opened #5404 "GI Bill CT: Hide drawers & info for OJT programs"
This can be backlogged.

The following drawers and info should be hidden for OJT programs:
* Veterans Programs (they are not eligible)
* Student Outcomes (not applicable)
* Institutional Summary (in additional information drawer)

![image](https://cloud.githubusercontent.com/assets/4397508/25330887/292293b0-28af-11e7-961a-aeae1f9ce020.png)

@leannammiller @saneshark @mphprogrammer

[2017-04-24 09:34] saintsoup52 opened #5405 "GI Bill CT: Buy-up should revert back to $600"
This can be backlogged.

If a user inputs more than $600 in the buy-up input field the field should return to $600, the max value. Since the calculations limit the buy-up to $600 this is not critical for launch.

![image](https://cloud.githubusercontent.com/assets/4397508/25331050/b067f2de-28af-11e7-8c68-3729de799053.png)

@leannammiller @saneshark @mphprogrammer

[2017-04-24 12:51] saintsoup52 opened #5406 "GI Bill CT: Yellow Ribbon = No, YR should not be included in total"
If a user selects "Yes" for Yellow Ribbon then adds a value to YR... and then selects "No" for YR the calculator does not revert to the original value.

**Yellow Ribbon = "Yes" & Amount = $1,000**
![image](https://cloud.githubusercontent.com/assets/4397508/25337764/180f8f1c-28cb-11e7-8f28-b3eb8a53bec6.png)

**Yellow Ribbon = "No"**
![image](https://cloud.githubusercontent.com/assets/4397508/253377

[2017-04-24 12:56] J-Quag commented on #2963
@annekainicUSDS  @raquelromano-gov  @jbalboni  Not sure if this is something to do while we're moving to RJSF?

[2017-04-24 13:15] saintsoup52 opened #5407 "GI Bill CT: Update Additional Resource Link to Vets.gov"
Update the CareerScope links on the additional resources to a vets.gov resource

**Old Link**
http://www.benefits.va.gov/gibill/careerscope.asp

**New Link**
https://www.vets.gov/education/tools-programs/careerscope/

This link is on the CT homepage and the institution profile.

![image](https://cloud.githubusercontent.com/assets/4397508/25338794/7cb3e2f8-28ce-11e7-8130-ecf3303f1c9a.png)

@leannam

[2017-04-24 13:30] saintsoup52 opened #5408 "GI Bill CT: Yellow Ribbon Results should disappear"
If a a user selects a cumulative service that results in a tier that is less than 100% the Yellow Ribbon results should not appear (similar to the yellow ribbon questions).

![image](https://cloud.githubusercontent.com/assets/4397508/25339377/867645a4-28d0-11e7-9f8f-4d8437cf73d7.png)

@leannammiller @saneshark @mphprogrammer

[2017-04-24 13:56] #3542 closed

[2017-04-24 14:06] jbalboni commented on #2963
@J-Quag I think this will get done for the most part by moving to rjsf.

[2017-04-24 16:42] melwoodard commented on #5408
Confirmed bug - when 90% or less is selected, the YR field correctly disappears, but the YR results in the calculator do not.

<img width="966" alt="argosy_university-seattle_-_gi_bill _comparison_tool" src="https://cloud.githubusercontent.com/assets/4106356/25348218/5bed314c-28d2-11e7-85a4-0ad4f9532123.png">

[2017-04-24 18:58] patrickvinograd commented on #4237
Not sure where this ticket got lost along the way, but dental services are enabled for some time now, it was around the beginning of the year if I remember correctly.

[2017-04-24 18:58] #4237 closed

[2017-04-24 22:04] U-DON commented on #5403
@melwoodard Any suggestions for the 'per term' language?

[2017-04-24 22:56] melwoodard commented on #5403
@U-DON @bshyong let's change that heading to "Estimated benefits per month" since it's outlining monthly amounts

[2017-04-25 00:22] #5403 closed

[2017-04-25 03:53] melwoodard commented on #5217
@robertfairhead did you figure out what the issue is here?

[2017-04-25 06:33] #5388 closed

[2017-04-25 06:33] #5406 closed

[2017-04-25 06:33] #5408 closed

[2017-04-25 13:50] robertfairhead commented on #5217
The event labels on 1 I tweaked. I didn't deploy the fix for that yet because I'm still a little stumped on 2. They seem to be firing ok, so I was going to play with it a bit this morning to see if I can figure out which ones aren't working for them. If I can't, I'll at least post the update that should address 1.

[2017-04-25 15:04] robertfairhead commented on #5217
Ok, I deployed the config fix for the outbound links. They should be identically formatted to the prior version.

https://github.com/department-of-veterans-affairs/vets-website/pull/5421 is the PR with the fix for the "Learn More" issue. All of the "Learn More" modal were correctly firing (that I could find) but the event was erroneously also getting fired when the modal was closed. Those were the

[2017-04-25 15:05] #5217 closed

[2017-04-25 19:51] #5402 closed

[2017-04-26 08:19] saintsoup52 opened #5431 "GI Bill CT: Cautionary Information - Extra "0""
In the newly launched comparison tool, if a user selects a school that has zero complaints an extra line appears.

https://www.vets.gov/gi-bill-comparison-tool/profile/11964125

![image](https://cloud.githubusercontent.com/assets/4397508/25424738/7b330052-2a37-11e7-8fab-22037c690eeb.png)

@leannammiller @melwoodard

[2017-04-26 15:56] melwoodard commented on #5431
Thanks @saintsoup52.

We'll need to look into what's causing this - the trailing 0 doesn't appear consistently: https://www.vets.gov/gi-bill-comparison-tool/profile/21115805

[2017-04-27 01:44] U-DON commented on #5431
The issue arose since there's inconsistency in the data when there are zero complaints in a category. Some schools have `null`, some have `0`, and some have a mix (such as in this case). Made a PR to generally account for falsy values.

Tagging @mphprogrammer / @patrickvinograd for awareness.

[2017-04-27 15:23] #5431 closed

[2017-04-28 02:30] koconnor719 commented on #3282
@suzchap i'm closing this as i think it's old and done:)

[2017-04-28 02:43] koconnor719 commented on #4650
@J-Quag i think we talked about this in detail last month right?  will the phone number for HCA be updated soon? it still has old number.  i think we discussed this last month. let me know if you need details.  we need to list the Health enrollment number.  cc @suzchap

![screen shot 2017-04-27 at 10 41 57 pm](https://cloud.githubusercontent.com/assets/13770771/25512316/c59a2c60-2b9a-11e7-95e4-27c

[2017-04-28 11:56] ayaleloehr commented on #4595
I believe this is fixed @koconnor719

[2017-04-28 11:58] ayaleloehr commented on #2569
@bethpotts 's last comment says to close, so I'm going to. cc @rroueche for awareness.

[2017-04-28 11:58] #2569 closed

[2017-04-28 12:00] ayaleloehr commented on #3135
While this is interesting and be valuable, it is not currently in scope and thus not actionable at this time. Closing.

[2017-04-28 12:00] #3135 closed

[2017-04-28 12:01] ayaleloehr commented on #3209
@rroueche sounds like you're tracking this via other tickets, so I will close here.

[2017-04-28 12:01] #3209 closed

[2017-04-28 12:03] ayaleloehr commented on #3829
The pattern it looks like we're using explaining acronyms and content is "Learn More" links, which I think makes sense. See example below. Closing.

![screen shot 2017-04-28 at 8 02 19 am](https://cloud.githubusercontent.com/assets/4719765/25527922/16d79e16-2be9-11e7-813d-f4fdc7d89de3.png)

[2017-04-28 12:03] #3829 closed

[2017-04-28 12:04] ayaleloehr commented on #3844
@NatalieEMoore is this something you want done?  If so, can it get moved to vets.gov-team?

cc @leannammiller for awareness.

[2017-04-28 12:05] ayaleloehr commented on #3274
@jbalboni is this still an issue with RJSF?

[2017-04-28 12:06] ayaleloehr commented on #4594
The GIBCT footer should be fixed now!

[2017-04-28 12:07] ayaleloehr commented on #4470
@NatalieEMoore I believe this is being tracked elsewhere. can this be closed?

[2017-04-28 12:37] koconnor719 commented on #4595
Awesome!

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, April 28, 2017 07:57 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Fix pagination (n divmod

[2017-04-28 13:18] jbalboni commented on #3274
Yes, though it's really low priority.

[2017-04-28 13:44] #4470 closed

[2017-04-28 13:46] NatalieEMoore commented on #3844
I think this is important and will move it.  cc: @angel too, curious your thoughts here.

[2017-04-28 16:49] NatalieEMoore commented on #3844
moved to vets.gov-team issue number 2505.

[2017-04-28 16:49] #3844 closed

[2017-04-28 18:20] #5407 closed

[2017-04-28 22:46] rroueche commented on #3209
correct! here: https://waffle.io/department-of-veterans-affairs/vets.gov-team/cards/58fa2556ba36e8130130af3d

[2017-05-01 12:40] saintsoup52 opened #5457 "GI Bill CT: Not clear path from search results to school profile page"
Feedback from a stakeholder: "I'm not sure it's clear to visitors that they need to click on the school name in order to get the full picture.  So, you type in a school and you get a mini profile,  Then you need to click on the school name to get the full profile.  Maybe they could add something that says "Click here for full information""

The new version of the GI Bill CT it is not clear that a

[2017-05-03 13:20] saintsoup52 opened #5475 "GI Bill CT: Add learn more for VSOC"
Feedback from stakeholder: "Quick note, I get that VSOC isn’t available at most schools; would it be possible to hyperlink it to VSOC’s landing page anyway?  For those who don’t know what VSOC is, they’ll be like “Veterans don’t have success on this campus—pass”."

![image](https://cloud.githubusercontent.com/assets/4397508/25662115/4aa6bcb2-2fe1-11e7-886c-8faa9b3c4aed.png)

Since we already have

[2017-05-03 17:46] koconnor719 commented on #4650
@J-Quag can you pls. provide status of this?

[2017-05-03 17:47] koconnor719 commented on #3949
@rroueche could we close this out before you leave for vaca?

[2017-05-03 18:20] J-Quag commented on #4650
I have the enrollment and eligibility number, but in the process of making sure it is definitely the right number as well as including a TTY number.
I intend to have the tickets added to our next sprint.

[2017-05-03 18:43] J-Quag commented on #2963
I think we can close this if it will be mostly done with rjsf. Unless there are objections?

[2017-05-03 18:44] jbalboni commented on #2963
Nope, go for it

[2017-05-03 18:49] #2963 closed

[2017-05-03 18:55] koconnor719 commented on #4650
@J-Quag yes the number above is correct--you can just shoot brenda a quick email if you need to to confirm. sorry i thought this was in the queue a while ago?  can we get this done asap since it's impacting Veterans access to health care? and it's been open since jan.

[2017-05-03 19:07] J-Quag commented on #4555
Not looking to change spool files at this time. This is not a priority I am thinking about and and don't want to attempt to interrupt that process right now. In the future we can ask about this. But I dont think they want to change anything here.

[2017-05-03 19:07] #4555 closed

[2017-05-03 19:10] J-Quag commented on #4217
This happens in IE11 when you make the window super small. Is there even anything we can do about that in IE?

[2017-05-03 19:15] J-Quag commented on #4650
Got it. It got put in with another ticket and we didn't have the rainbows label. Putting it in as a priority for next week.

[2017-05-03 19:17] koconnor719 commented on #4650
great. will be good to get that fixed :)  thx

[2017-05-05 15:06] saintsoup52 opened #5487 "GI Bill CT: Background error messages"
I was tracking the analytics on the GI Bill CT and I saw a number of error messages (see below). They don't appear to affect the user experience but it may be affecting how analytics are being tabulated.

![image](https://cloud.githubusercontent.com/assets/4397508/25751392/d50b5e06-3182-11e7-8f04-43df7ccd77c7.png)

[2017-05-05 15:10] saintsoup52 opened #5488 "GI Bill CT: Analytics not tracking Additional Resources"
Because the new GI Bill CT links to two vets.gov websites in the additional resource box those links are no longer being tracked in the POE analytics.

Specifically, "Explore your career" and "Apply for education benefits".

Previously those links would trigger an outbound link event.

[2017-05-05 15:11] ayaleloehr commented on #5487
These look CSP related, so deferring to @jkassemi

[2017-05-05 15:40] k8reimann opened #5489 "coding for smaller font size"
Survivors Pension Rates page

https://github.com/department-of-veterans-affairs/vets-website/blob/content/wip/pensions/content/pages/pensions/survivors-pensions/rates.md

The following text, under bold header "Find your Maximum Annual Pension Rate (MAPR) amount" needs to be smaller:

Date of Cost-of-Living Increase: 12-01-2016
Increase Factor:  .3%
Standard Medicare Deduction: Actual amount will b

[2017-05-05 15:44] k8reimann opened #5490 "Font size change needed"
on Veterans Pensions Rates page
https://github.com/department-of-veterans-affairs/vets-website/blob/content/wip/pensions/content/pages/pensions/rates.md

text following bolded heading "Find your Maximum Annual Pension Rate (MAPR) amount" should be smaller font:

Date of Cost-of-Living Increase: 12-01-2016
Increase Factor:  .3%
Standard Medicare Deduction: Actual amount will be determined by SSA ba

[2017-05-05 20:35] robertfairhead commented on #5488
I updated the Google Tag Manager config to treat anything outside of vets.gov/gi-bill-comparison-tool as an "outbound" link in order to catch links to other parts of vets.gov

Note: This breaks compatibility with our definition of "outbound" elsewhere so the outbound links stats in the GIBCT property will not match up with those in vets.gov all

[2017-05-05 20:35] #5488 closed

[2017-05-08 12:16] jmcneal65 opened #5494 "Urgent: The following rows should be checked: Complaint File"
Uploading Complaint file produce errors:

The following headers should be checked:
•Level is a missing header
•Case owner is a missing header
•Submitted is a missing header
•Closed is a missing header

Example of messages:

![complaint](https://cloud.githubusercontent.com/assets/26603766/25803770/84fee3c4-33c6-11e7-9d96-5074ab0e31f9.png)

[2017-05-08 12:19] jmcneal65 opened #5495 "Urgent: The following rows should be checked: WEAMS FILE"
when uploading the WEAMS file;  it not reading blanks in the institution field, see attachments

![weams](https://cloud.githubusercontent.com/assets/26603766/25803831/d3e1b156-33c6-11e7-8c8b-656716a2e597.png)

[2017-05-08 13:13] ayaleloehr commented on #5495
Tagging @mphprogrammer @leannammiller @saneshark for awareness

[2017-05-08 13:14] ayaleloehr commented on #5494
Tagging @mphprogrammer @leannammiller @saneshark for awareness.

[2017-05-08 13:23] mphprogrammer commented on #5494
Those are error messages produced when there is no facility code in a data row. In this case, the facility code is required to use the data in the Csv’s row. This is expected and normal. The Csvs have issues with missing data, so we warn on a row by row basis. In the case of the missing headers (columns), I would like to see the CSV in question to make sure those headers are missing

[2017-05-08 13:40] mphprogrammer commented on #5494
I need to see the CSV being used for the Header (column) issues. As far as I can tell after a quick glance:

(1) the missing header `Closed` should be named `Closed reason` - looks like the name changed in the CSV file,
(2) the missing header `Level` looks like it can be taken out of GIDS (I am not sure why its there in the code)
(3) the missing header `Case owner` looks like it can be taken out o

[2017-05-08 13:48] mphprogrammer commented on #5494
The only real issue is the column name change from `closed reason` to `close`, this will affect complaint counts. If you, for the time being, rename the column `closed` to the name `closed reason` and rerun the upload, that particular missing header error should disappear, and the complaint counts should be fine.

[2017-05-08 17:52] mphprogrammer commented on #5495
@jmcneal65 This is normal, and if you check the rows the institution names are probably blanks - these names are required. Normally, these CSVs contain errors (sometimes many). One of the rules we use is schools must have names and facility codes or they will not display in the GIBCT, nor would it be useful to do so.

[2017-05-08 18:38] leannammiller commented on #5457
@melwoodard i agree that we could do this. could you mock something up? our FE has capacity.

[2017-05-09 09:10] saintsoup52 commented on #5457
Thank you... and if you need more incentive... ~95% of College Scorecard users make the jump from the search results page to the school profile page.

Less than half of GI Bill CT users make the jump which means this is a very big user experience issue.

[2017-05-09 15:57] jmcneal65 commented on #5495
this is not normal, it wasn't happening prior to new updates...

[2017-05-09 18:46] leannammiller commented on #5495
Let's sync up and see if there are some process improvements we can make to smooth this out, @jmcneal65

[2017-05-09 18:49] mphprogrammer commented on #5495
@jmcneal65 can you look at rows 34068 and 34069 under the institution column and tell me what school names are there? Every new CSV file has its own "bad" data, and they would not have the same errors from update to update.

[2017-05-09 18:51] mphprogrammer commented on #5495
@jmcneal65 If you prefer, you can email the CSV to me, and I can take a look if you'd like.

[2017-05-09 20:28] melwoodard commented on #5457
The lower left area of the card will be a good noticeable place for this - here's how I think it could look for desktop vs. mobile:

<img width="735" alt="20170509-gibct" src="https://cloud.githubusercontent.com/assets/4106356/25871123/459684b2-34bb-11e7-8310-06f8eb2844d6.png">

<img width="289" alt="20170509-gibct" src="https://cloud.githubusercontent.com/assets/4106356/25871146/531807f0-34bb-11e

[2017-05-09 21:32] cehsu opened #5508 "Provide trimmed pathname to NavButtons"
PR #5476 introduces a bug for pathnames that contain a trailing slash in that clicking the "Get Started" button simply scrolls up rather than navigating forward.

[2017-05-10 08:50] saintsoup52 opened #5513 "GI Bill CT: Caution Flag icon is missing"
Using chrome and IE, I just noticed the caution flag icon ("!" in a triangle) is missing.

**What it looks like now**
![image](https://cloud.githubusercontent.com/assets/4397508/25890526/d021dbec-353b-11e7-8c58-b9ee7fa23dd7.png)

**What is supposed to look like**
![image](https://cloud.githubusercontent.com/assets/4397508/25890592/12150704-353c-11e7-8460-401b93ddd0b5.png)

https://www.vets.gov/gi-

[2017-05-10 13:54] leannammiller commented on #5457
Will the ‘view details’ take them to the profile page? If so, I think it’s a great idea.

Stephanie

[2017-05-10 13:54] #5457 closed

[2017-05-10 16:58] jmcneal65 commented on #5495
Will do.

[2017-05-10 17:00] jmcneal65 commented on #5495
34068 and 69 rows has NULL in both rows

[2017-05-10 18:49] mphprogrammer commented on #5495
@jmcneal65 So in this case, it seems like the Weams CSV has some data integrity issues, which has been common in the past. Institution names cannot be null to work in the GI Bill Comparison Tool (it can't be searched on and would provide an unsatisfactory user experience). The old version of the Data Service (from last year) absorbed these errors and did not report non-validating rows. The new one

[2017-05-10 18:51] mphprogrammer commented on #5494
See the comments that address this in issue #5495.

[2017-05-10 20:51] #5508 closed

[2017-05-11 04:57] ayaleloehr commented on #2670
USDS HQ tells us blogs are easy to write now. Anyone have great ideas for what we should write about?

[2017-05-11 12:45] jcmeloni-usds commented on #2670
I believe @raquelromano-gov is working on one; I'm working on one re: identity.

[2017-05-11 13:50] leannammiller commented on #5494
@mphprogrammer here is the list of errors that John wanted me to send along to you.

[05-11-17 Errors.docx](https://github.com/department-of-veterans-affairs/vets-website/files/993179/05-11-17.Errors.docx)

[2017-05-11 14:51] koconnor719 commented on #4594
posted:

Thank you for your feedback. This has been fixed!

vets.gov team

[2017-05-11 14:51] #4594 closed

[2017-05-11 17:03] mphprogrammer commented on #5494
@jmcneal65 Could you check the Complaints Csv to see if there are blanks in the facility_codes corresponding to rows in the error message.

Again, these Csvs often suffer from data integrity issues (the data is suitable for humans, but not suitable for machines). As an aside, an earlier complaints csv that I have has over 670 missing facility codes in the data. The new Data Service is simply alert

[2017-05-11 17:26] mphprogrammer commented on #5494
For illustration, a prior Complaint.csv, note the facility_code column and the total count (607 of 7902 records with blank facility_codes).

<img width="709" alt="screen shot 2017-05-11 at 1 23 00 pm" src="https://cloud.githubusercontent.com/assets/4104431/25962822/34d6e53e-364d-11e7-9448-b66680defeb9.png">

[2017-05-11 21:32] raquelromano-gov commented on #2670
ha...no, I'm not! Yay for one about identity @jcmeloni--I was wondering if that would be a good idea, or if we would have to explain why we're not using login.gov  (but maybe explaining that is fine)

@annekainicUSDS is working on one with @jbalboni about react-json-schema-form...yay, again

My idea was to appeal to candidates who would choose a startup over USDS b/c they want to work on modern so

[2017-05-12 15:23] rroueche commented on #5490
@peggygannon looks good when I check, not sure how it was fixed, but does it look right to you now?

https://vetsgov-pr-5241.herokuapp.com/pension/rates/

[2017-05-12 15:23] rroueche commented on #5490
if so, you can go ahead and close this issue!

[2017-05-12 15:25] rroueche commented on #5489
@k8reimann looks good to me now here too -- does it look good to you?
https://vetsgov-pr-5241.herokuapp.com/pension/survivors-pension/rates/

if this is good to go, you can close the issue!

[2017-05-12 15:31] jcmeloni-usds commented on #2670
@raquelromano-gov See, I thought your idea was a super good one and very interesting.  There's a reason I tell people who need a break from other teams to come to the VA and put hands on keyboards for a sprint to get their focus and chops back.

Also, we're not using Login.gov because it still doesn't exist as a FICAM-approved LOA3 IdP and CSP, and  really didn't a year ago when this was all being

[2017-05-12 15:31] rroueche commented on #3949
@koconnor719 I'm not sure what the action item is for Nebula here. Perhaps the Ed Forms Team and Nebula need to meet and discuss how we tackle the close relationship of GI Bill and Voc Rehab through the static content and tool content?

@goldenmeanie and @melwoodard does that sound like a productive path forward?

[2017-05-12 15:46] goldenmeanie commented on #3949
I'm game :)

[2017-05-12 15:47] rroueche commented on #3949
haha, ok i'll schedule a meeting. it'll be a good start at least!

[2017-05-16 16:02] leannammiller commented on #4037
closing, dupe

[2017-05-16 16:02] #4037 closed

[2017-05-16 17:47] mphprogrammer commented on #5495
Closing this per last weeks meeting...

[2017-05-16 17:47] #5495 closed

[2017-05-16 17:48] mphprogrammer commented on #5494
Closing this per last weeks meeting.

[2017-05-16 17:48] #5494 closed

[2017-05-17 21:20] jbalboni opened #5572 "Array fields are broken on review page"
No data can be entered in array fields on review page.

[2017-05-18 13:50] #5572 closed

[2017-05-18 16:38] #3096 closed

[2017-05-22 15:20] saintsoup52 commented on #5457
Sorry to be commenting on a closed comment... But this change has not been pushed live yet and it was closed 12 days ago.

Is there an ETA for when this will be live?

@leannammiller @melwoodard

[2017-05-24 11:17] jmcneal65 commented on #5457
Morning.  I believe, I am reading that this task has been closed but I don't see on the CT website the link "View Details" to direct our users to view the full profile of a school.  Please provide an update. Thanks!

John

[2017-05-24 13:18] leannammiller commented on #5457
Yes, this ticket reflects finding the solution. There are separate tickets to reflect the implementation that are in our private repo. It should be done this week or next. I'll keep you posted @jmcneal65

[2017-05-24 14:06] #5489 closed

[2017-05-24 19:02] jmcneal65 commented on #5457
Thanks. This small missing detail has caused some headaches for our users'... Emails coming in with comments:  "The Comparison Tool is broken, can't reach the school profiles after search results."  Sooner the better... @leannammiller .

[2017-05-25 02:00] leannammiller commented on #5457
@jmcneal65 could you please forward me any emails you get with this complaint? We need to understand the scope of the problem.

The fix will be implemented this sprint but we want to make sure we're interpreting numbers correctly.

[2017-05-30 14:02] #4575 closed

[2017-06-01 21:09] #3882 closed

[2017-06-01 23:50] #3953 closed

[2017-06-04 01:24] ayaleloehr commented on #2670
Anne's blog got published this week, as did the GI Bill one a few weeks ago and Raquel and I are working on a blog about how we have a (mostly) modern development environment on Vets.gov.

While there is always more to do being transparent, I think that the above paragraph constitutes an improvement over what we had previously been communicating and am going to close this issue. If anyone disagree

[2017-06-04 01:24] #2670 closed

[2017-06-05 17:13] jbalboni commented on #4299
I just merged this on the rjsf forms, so I think we can close it.

[2017-06-05 17:13] #4299 closed

[2017-06-09 11:22] saintsoup52 opened #5726 "GI BILL CT: Change Public/Private/Foreign "Institution" to "School""
@leannammiller  @melwoodard @jmcneal65

We need ensure the language describing schools on the GI Bill Comparison Tool is consistent between types of schools.

In the header on the school profile page we should be saying Public /  Private / For Profit /Foreign "School" not institution.  Currently we only use the term school when a "For Profit" school is selected.

The consistency is important becau

[2017-06-13 13:01] leannammiller commented on #5726
Thanks for noting @saintsoup52 - we will put this in our backlog.

[2017-06-13 14:09] leannammiller commented on #4314
@aub could you please estimate?

[2017-06-19 13:06] leannammiller commented on #4314
@aub pinging for status on this ticket.

[2017-06-19 16:09] leannammiller commented on #4314
Leanna will check in with @jbalboni re: this ticket

[2017-06-24 15:12] #4650 closed

[2017-06-24 18:26] J-Quag commented on #4061
Moving this out of ice box for after the pension form is released. Happens on more than just dates. the pension form has a large number of number fields.

[2017-06-27 09:14] saintsoup52 commented on #5513
Looks like this has been resolved. Thank you to whomever fixed this.

[2017-06-27 09:14] #5513 closed

[2017-06-27 14:17] leannammiller commented on #5475
We will put this in our backlog.

[2017-06-28 13:07] saintsoup52 opened #5889 "GI Bill CT: SEO needs improvement"
Earlier this week the RAND Corporation came out with a report about the Post-9/11 GI Bill.

https://www.rand.org/pubs/research_reports/RR1766.html

The most interest part of the report to me was the word cloud showing what servicemembers and veterans are google searching when they are researching the GI Bill. “How much is the gi bill” was the most searched GI Bill phrase last year, which has been

[2017-06-28 13:07] saintsoup52 commented on #5889
Sorry forgot to tag folks @leannammiller @melwoodard

[2017-06-28 14:35] ayaleloehr commented on #5889
Great point @saintsoup52 . Also tagging @robertfairhead and @suzchap as I know this topic is on your radar as well. This is a high traffic page, so could be a good candidate to focus on first for SEO.

[2017-06-28 20:54] robertfairhead commented on #5889
We can take some basic steps to improve SEO on the pages around metadata and descriptions. I'm still catching up from being out for my move, but I can do that next week. I'm assigning myself.

@leannammiller let me know if there's someone who i should use to review the PR when it's done.

[2017-07-04 03:03] robertfairhead commented on #5889
I took at a look at this today. I opened a PR that'll link to this that adds description tags and fills in one for the GIBCT landing page. That description is our "suggestion" to Google, Bing, etc on what to use as the short description. Ultimately they will use whatever they want, but that tag is the best way to suggest clear language. I pulled the subhead text from the landing page to use but if

[2017-07-06 16:33] leannammiller commented on #5487
@jkassemi following up on this ticket.

[2017-07-06 16:34] leannammiller commented on #4595
@koconnor719 can this be closed?

[2017-07-06 16:35] leannammiller commented on #3949
Who could help me figure out the resolution here?

[2017-07-06 16:38] leannammiller commented on #5216
removing from our backlog.

[2017-07-06 16:38] #5216 closed

[2017-07-06 20:42] patrickvinograd commented on #3949
I don't see any reason we can conditionalize the labels based on the veteran status but we need to enumerate all of the label changes that are needed.

[2017-07-06 20:53] patrickvinograd commented on #5487
Hi @saintsoup52, these console errors should affect neither user experience nor analytics. Content Security Policy (CSP) is a web standard that lets us prevent any third-party elements included on a vets.gov page from fetching un-permitted resources (e.g. possibly malicious scripts). While vets.gov does not have a great deal of third-party elements, CSP also helps protect users who may have inadve

[2017-07-06 20:53] #5487 closed

[2017-07-06 21:24] patrickvinograd commented on #5405
Seems feasible, will leave it to somebody with more frontend experience to identify the right event/events on which to rest - guessing it's when this text field loses focus but there might be other cases.

[2017-07-07 07:36] saintsoup52 commented on #3949
There are a number of nomenclature issues like this throughout the tool... for example the Montgomery GI Bill (Chapter 30) doesn't have a month housing allowance rather just a monthly benefit that should be spent on tuition/fees and living expenses (if there is anything left over).

The tool is geared toward Chapter 33 users which account for 2/3's of all users and going through and tweaking the n

[2017-07-10 18:39] leannammiller commented on #5726
confirming with Stephanie Price this is desired

[2017-07-11 00:36] #5889 closed

[2017-07-13 15:38] koconnor719 commented on #3949
@leannammiller you should work any language changes thru Stephanie Price i think is best VA EDU POC.

[2017-07-13 15:39] #4595 closed

[2017-07-17 20:36] kellymiller6 commented on #3434
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-07-17 21:12] cbandrow commented on #3274
Hi all - I'd love to be able to help out and try to solve this issue. I understand it's low priority for your team, but I think it's a good first bug for a new contributor. Would someone be able to provide me with a little additional context?

I've attached a gif of what I believe is being discussed here. Is the issue referring to the sudden change in size of the GrowableTable component at specifi

[2017-07-31 21:28] #4061 closed

[2017-08-02 13:53] aub opened #6148 "Sauce: all tests fail on Edge"
There seems to be a problem on Edge where the user is not properly logged in, so all of the tests fail with the browser unable to reach the sections of the site that require auth.

[2017-08-02 13:55] aub opened #6149 "Sauce: failures on IE"
I get the following errors when running the e2e tests on IE

[code]

[2017-08-02 13:57] aub opened #6150 "Sauce: failures on Firefox"
We have some failing tests against Firefox when running on Sauce. At least some of them are caused by an issue where the test harness seems to select the wrong value from a select box.

[code]

[2017-08-02 13:58] aub opened #6151 "Sauce: failures on Chrome"
I get the following failures when running Sauce tests against Chrome locally:

[code]

[2017-08-02 13:59] aub opened #6152 "Sauce: failures on Chrome"
I get the following failures when running Sauce tests against Chrome locally:

[code]

[2017-08-02 14:00] aub opened #6153 "Sauce: failures on android"
I get the following failures when running tests against android on Sauce:

[code]

[2017-08-02 14:01] aub opened #6154 "Sauce: failures on ios"
Here are some failures I get when running Sauce against ios. Most of these appear to be timeout issues, so we may be able to fix a bunch of them by simply raising the timeouts. I did notice that the ios emulator on sauce seems to be dreadfully slow.

[code]

[2017-08-02 14:03] aub commented on #6151
Closing as duplicate

[2017-08-02 14:03] #6151 closed

[2017-08-02 14:10] aub commented on #6154
Moving to vets.gov-team

[2017-08-02 14:10] #6154 closed

[2017-08-02 14:11] aub commented on #6153
Moving to vets.gov-team

[2017-08-02 14:11] #6153 closed

[2017-08-02 14:13] #6152 closed

[2017-08-02 14:13] aub commented on #6152
Moving to vets.gov-team

[2017-08-02 14:15] aub commented on #6150
Moving to vets.gov-team

[2017-08-02 14:15] #6150 closed

[2017-08-02 14:16] aub commented on #6149
Moving to vets.gov-team

[2017-08-02 14:16] #6149 closed

[2017-08-02 14:17] aub commented on #6148
Moving to vets.gov-team

[2017-08-02 14:17] #6148 closed

[2017-08-02 20:54] cvalarida commented on #4227
@J-Quag When we get the 1990 moved to rjsf, I don't think this will be a problem.

[2017-08-03 19:47] leannammiller commented on #5490
closing.

[2017-08-03 19:47] #5490 closed

[2017-08-07 13:20] leannammiller commented on #5221
will review with @melwoodard

[2017-08-07 18:23] #4217 closed

[2017-08-09 17:39] #5405 closed

[2017-08-09 18:23] #5404 closed

[2017-08-09 18:23] #5389 closed

[2017-08-10 04:29] #5726 closed

[2017-08-10 14:42] phiden opened #6199 "Blue button breadcrumb active state"
This should match the rest of the site, in that the current page doesn't display on the breadcrumb.
<img width="441" alt="screen shot 2017-08-10 at 10 41 17 am" src="https://user-images.githubusercontent.com/4895604/29175970-88fa4d24-7db8-11e7-9493-5eb51838ce20.png">

[2017-08-10 14:43] #6199 closed

[2017-08-11 23:03] #5475 closed

[2017-08-22 16:19] leannammiller commented on #3949
revisit after VRE content up

[2017-08-23 16:15] koconnor719 commented on #3949
@amybehrens can i close this?  assuming you have what you need as input to VR&E content.

[2017-08-23 16:26] koconnor719 commented on #3282
@suzchap can i just close this?

[2017-08-24 13:59] rtluu commented on #4227
@cvalarida does your statement above still hold true? can this ticket be closed?

[2017-08-24 16:15] cvalarida commented on #4227
@rtluu Yup. That box on the confirmation page currently looks like this in my local branch:

![image](https://user-images.githubusercontent.com/12970166/29676333-9ec71cfa-88ac-11e7-8872-e7e02ebeced7.png)

The content may have been updated in another branch. If not, I expect it should be. There's probably a ticket for that...

[2017-08-24 16:18] rtluu commented on #4227
@cvalarida sounds good, lets loop @peggygannon in to see what she thinks of this content and if she is ok with it I'll close

[2017-08-24 17:35] cvalarida commented on #4227
I'm guessing the above is vestigial, left over from where it was copied (probably the 1990N). The content should be what's currently in that box for the 1990 (or something pretty close), so if it's not up-to-date in `master`, that needs addressed, but as this ticket deals with the style, this one's good to be closed.

The content change should probably be tracked in https://github.com/department-o

[2017-08-24 17:46] rtluu commented on #4227
sounds good, I'll close this one

[2017-08-24 17:46] #4227 closed

[2017-08-31 16:41] rtluu commented on #3274
not critical and not relevant at this point. closing

[2017-08-31 16:41] #3274 closed

[2017-08-31 16:43] rtluu commented on #3290
work to still be done, format the value in the input when you come back to a phone number in the RJSF forms.

[2017-08-31 16:44] rtluu commented on #3348
still relevant, low priority

[2017-08-31 16:45] rtluu commented on #3354
not applicable with new RJSF. closing

[2017-08-31 16:45] #3354 closed

[2017-08-31 16:48] rtluu commented on #3434
this is partially prevented and doesn't seem to be causing any problems. closing

[2017-08-31 16:48] #3434 closed

[2017-08-31 16:51] rtluu commented on #3791
unclear what the issue is here and we haven't had any recent validation issues from education. closing

[2017-08-31 16:51] #3791 closed

[2017-08-31 16:53] rtluu commented on #4056
there hasn't been any negative feedback as of late regarding collapsing groups. closing

[2017-08-31 16:53] #4056 closed

[2017-08-31 16:55] rtluu commented on #4223
the change that should be made is in ticket #3080 as Anne mentioned. closing

[2017-08-31 16:55] #4223 closed

[2017-08-31 16:56] rtluu commented on #4233
work is to pair down different file, issue in #3692. closing

[2017-08-31 16:56] #4233 closed

[2017-09-04 12:40] suzchap commented on #3282
I pulled the still relevant bits into a new issue for additional work. Closing this one now.

https://github.com/department-of-veterans-affairs/vets.gov-team/issues/4586

[2017-09-04 12:40] #3282 closed

[2017-10-18 22:32] phiden opened #6634 "Create pitch deck"
- Align on the problem we were hoping to solve with the design system
- Get a pulse on what we’ve done so far
- Brainstorm on what we need to do to create a shareable style guide / pattern library like
  - What is the single source of accepted styles
  - What is the process to add / request a new style be added to guide
  - What are the initial list of approved typography families, color palette,

[2017-10-18 22:34] #6634 closed

[2017-10-19 17:39] jbalboni opened #6637 "Technical discovery for design system"
I wanted to start compiling questions we had:

1. How do we want to integrate it with vets-website?
2. How will integrating React components work?
3. Can we use tooling to autodocument existing site? And make documentation for previous releases also available for those who haven't upgraded yet?
3. Can we use tooling to autogenerate Sketch files to keep them automatically in sync?
5. How will we be

[2017-10-19 17:46] jbalboni commented on #6637
For 1, there are two initial paths, I think:

1. Make the design system separate from vets-website. To keep things in sync, I think this implies that our shared patterns and components need to be pulled out of vets-website and the design system either depends on that new common repo or lives in it. This is more work than the option below, I think, and entails significant changes to how FE developm

[2017-10-23 21:07] ncksllvn commented on #6637
Relevant issue opened to Fractal about React support - https://github.com/frctl/fractal/issues/21

[2017-10-23 21:11] leannammiller opened #6655 "[WIP] Define design system requirements for React components and compare with Fractal capabilities"
Reference: https://github.com/frctl/fractal/issues/21

1. Component code is visible in the design system and an example of it renders

[2017-10-24 22:30] cehsu commented on #6637
I've moved the accessibility question, as I had intended that as a more general planning topic, rather than a question for tool selection specifically. But please feel free to reorganize if the previous location makes more sense.

[2017-10-26 15:06] jbalboni commented on #6655
So far:

- Rendering React components in Fractal works with the limitation that it is just outputting html. Any JS-based interactivity doesn't work.
- Rendering React components with JS-interactivity is partially working, and I think I can get it to fully work, but it's a little slow and messy.
- Fractal only supports one template system at a type, so I've had to write a proxy adapter to choose be

[2017-10-26 15:41] rtluu commented on #6655
Moved this issue to be tracked in vets.gov-team repo #5610

[2017-10-26 15:41] #6655 closed

[2017-10-26 15:43] rtluu commented on #6637
Moved this ticket to be tracked in the vets.gov-team repo #5609

[2017-10-26 15:43] #6637 closed

[2017-10-26 17:31] ncksllvn commented on #6655
@jbalboni so it doesn't sound like Fractal is going to play very nicely with React, unless there was a full-out fork of Fractal that did a lot of stuff to plug it in. Do you think Fractal is still the way to go and we just tone down how much our design system will do (or figure out a different way), or consider a different solution?

[2017-10-31 20:21] cehsu commented on #3290
@jbalboni would it make sense to accomplish this by:
- format on blur (while the applicant is filling out the form) and update validation to something like:
[code]
source: https://stackoverflow.com/a/123666/5812175
- use a migration to convert phone number values to a specified format (when the applicant reopens a form in progress), and
- and then reformat them back before submission?

[2017-11-17 15:21] ncksllvn opened #6802 "Alert Banner Headings"
As a result of fixing site-wide margin/typography issues, some of our alert banners are a little off. We use different markup to create them throughout the site so it was really difficult to try to make sure they were all okay.

#### Needs to be changed:
- [x] /housing-assistance/
- [x] /health-care/health-conditions/military-sexual-trauma/
- [x] /employment/
- [x] /health-care/

[2017-11-17 20:24] #6802 closed

[2017-12-08 12:29] charwo opened #6933 "Update copy on email capture page"
Printed Veteran ID Card

You've reached the new Veteran ID Card application! We're excited to bring this important recognition to Veterans. We've experienced a great response and are working to make the application process more efficient.

We want to engage you in the application process quickly and will be sending specific instructions on how to proceed. Please enter your email address below. We'

[2017-12-08 12:29] #6933 closed

[2017-12-08 16:48] ayaleloehr opened #6939 "tst"
test

[2017-12-08 16:48] #6939 closed

[2017-12-11 17:06] koconnor719 commented on #3949
can this be closed?  @amybehrens

[2017-12-11 17:08] #3949 closed

[2018-01-08 20:40] rroueche opened #7064 "Adjust copy on Pension and Burial "apply" pages"
The copy in the yellow boxes in the screenshots below makes it seem like there's no way to currently apply. Could we adjust the language to also make sure the user knows they can still do their application via PDF if they want to?

![image](https://user-images.githubusercontent.com/8680732/34691290-07bab020-f471-11e7-9d37-6a51204f76e0.png)

![image](https://user-images.githubusercontent.com/868073

[2018-01-08 20:42] rroueche commented on #7064
@kerryilenahan @stacyhlinn @peggygannon lmk if you agree w/my description above, and if so, @peggygannon could you provide adjusted copy? Then I'll assign to FE. I do not think this is a launch blocker, but would like to get it updated in tmrw's release if possible.

[2018-01-08 20:43] rroueche commented on #7064
ugh did this in wrong repo, moved here: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/7176

[2018-01-08 20:43] #7064 closed

[2018-01-15 19:06] phiden commented on #5221
Duplicates #3865 -- closing that one and keeping this one, as it's more detailed

[2018-01-20 07:23] alex opened #7130 "Confusing/missing data on VA Medical center page"
URL: https://www.vets.gov/facilities/facility/vha_688

![screen shot 2018-01-20 at 2 22 40 am](https://user-images.githubusercontent.com/772/35181051-cf11e0e2-fd88-11e7-84f4-a8d0e5ab3045.png)

Specifically, the first bullet point under "Specialty care". There appears to either be a missing label, or the 17 days should be applied to the "Specialty care" bullet.

[2018-01-23 15:39] ayaleloehr commented on #7130
cc @NatalieEMoore

[2018-01-23 15:47] NatalieEMoore commented on #7130
moving to a different repo, thanks @alex

[2018-01-23 15:48] #7130 closed

[2018-01-23 15:49] alex commented on #7130
A public repo, or an internal repo?

[2018-01-23 15:51] NatalieEMoore commented on #7130
Our internal vets.gov-team repo where there are a bunch of other tickets like this one for the facility locator.

[2018-01-25 20:10] jmcneal65 opened #7160 "Comparison tool Data regeneration problem 012518"
the system is not generating the files properly.
When uploading the file, the system is ingesting the file yet the system is not properly reading the file. If the system stalls in the mist of the generating/consolidating process, a required restarted of the process is increasing the data two to three folds.
This is causing the number of school in the Comparison Tool to double or even triple the da

[2018-01-25 21:35] patrickvinograd commented on #7160
@jmcneal65 I can probably figure it out by looking at the upload history, but can you give an idea of what new CSVs had been uploaded when the problem started occurring? In case it's something specific to the file contents.

[2018-01-26 15:17] mphprogrammer commented on #7160
Can you exactly recreate the steps you took? Which files you uploaded?

When the preview version of the data is being built (I am guessing a reason): The process is wrapped in a transaction, and because we can't lock the data rows (it prevents vets from using the tool) hitting the "back button" before the first build is complete and redoing the build will cause the exact same "new" version number

[2018-01-29 14:10] jmcneal65 commented on #7160
First, upload WEAMS and Complaint CSV files, Secondly, we generate a new preview version, which is where the problem seems to begin.

[2018-01-31 13:18] jmcneal65 commented on #7160
Today (013018), we were able to upload the Complaint File to the dashboard, but when I tried to upload the WEAMS (x5) it kept giving me “this page cannot be displayed”.

[2018-02-05 22:26] patrickvinograd commented on #7160
I believe any issues uploading files are probably intermittent VA networking issues.

However, the process of generating preview versions (aka "consolidating" mentioned above) does appear to be getting slower over time. The way GIDS is implemented we store all previous versions of the institutions table so that table is growing over time and potentially slowing down the generation process.

We cou

[2018-02-06 02:38] saintsoup52 commented on #7160
For what its worth... someone within VA needs to be tracking the final data sets of the GI Bill Comparison Tool for data retention purposes. They could be FOIA'ed and previous versions of the tool have been requested before.

[2018-02-06 17:46] patrickvinograd commented on #7160
That is helpful to know. We won't wipe the data unilaterally, but would be good to know if it is already being stored (e.g. in exported CSV form) by somebody on the EDU team. @jmcneal65 can you comment on whether you already have a process for that?

[2018-02-09 00:18] jkassemi commented on #7160
We've pruned the Institution records, and exported records to S3 for future FOIA requests. We tested with the latest WEAMS and complaints files, and encountered similar errors when attempting to generate the new preview version, but the processing completed in the background.

We'll evaluate options and performance in more detail, and lay out a plan to address these issues permanently at our next

[2018-02-26 16:02] jmcneal65 opened #7342 "Post-9/11 GI Bill OJT & Apprenticeship"
Education Service Leadership want to update the GI Bill Comparison Tool (CT) that will contain OJT/APP data.   EDU Business Analytics has the OJT/APP data and can provide.  How long can EDU have this request executed?

Thanks,
John

[2018-02-27 13:29] saintsoup52 commented on #7342
Ideally this new data file would added as one of the inputs to the GI Bill CT Data Service that would be ultimately rolled into the data that runs the tool.

In the short term I will work with EDU on how to "hack" this process until the data service can be updated.

[2018-03-20 16:50] chriseldredge-usds opened #7458 "Missing vetnav-menu error on Playbook pages"
[common/index.js](/department-of-veterans-affairs/vets-website/blob/master/src/js/common/index.js#L9) assumes all pages will have a `#vetnav-menu` element, but no such element is present on playbook views (e.g. https://www.vets.gov/playbook/). This results in an unhandled javascript error that prevents additional javascript from executing.

[2018-03-20 16:52] chriseldredge-usds opened #7459 "Accordions do not work on Playbook / Governance"
The expandable accordion buttons on https://www.vets.gov/playbook/governance/ do not expand when clicking on the button, making it impossible to read the details under each heading.

Possibly related to #7458.

[2018-04-02 12:00] 1Copenut opened #7512 "Create proof of concept environment for keyboard e2e testing"

[2018-04-02 12:01] 1Copenut commented on #7512
### Criteria
Create a test environment that mimics a typical mixed use SPA and static content site.

[2018-04-02 12:01] 1Copenut opened #7513 "Define and Create Keyboard E2E Test Platform"
## Purpose
The keyboard e2e test platform will give us a way to smoke test basic page navigation through the use of `Tab`, `Shift + Tab`, and arrow keys. The ability to navigate by keyboard is critical for users who do not or can not use a mouse or other device, and screen reader users.

## Useful Information
The test platform will be built progressively. The initial tasks will be to define how ba

[2018-04-02 12:05] 1Copenut commented on #7513
### Criteria
Define the library or libraries to be used in finding and evaluating keyboard focusable elements

[2018-04-02 12:09] 1Copenut opened #7514 "Choose libraries for keyboard e2e testing"
### Criteria
We will need robust testing libraries, and a way to gather up the keyboard focusable elements on the page. In the interest of time, we should use prior art wherever possible:

* NightwatchJS
* Selenium Webdriver
* Chrome, Firefox drivers (headless if possible)
* ally.js (for finding elements, sorting, reviewing)

[2018-04-02 12:16] 1Copenut opened #7515 "Build single page script and criteria for native focus elements"
### Criteria
Build a single-page test script that can be run without an e2e runner like Nightwatch or Selenium, so we can prove the efficacy of our keyboard e2e tests. This should do static and live checking:

1. We should tally the number of keyboard focusable elements on the page, in order, top to bottom
2. We should evaluate that count is the same as "reachable" tabbed elements. If there are te

[2018-04-02 12:20] 1Copenut opened #7516 "Build test script for tab component"
### Criteria
We should be able to write test scripts for more complicated elements, starting with tabs. These will be more difficult, and will need to prescribe to several boundaries:
* Elements under test should have a custom `data-testAttr` attribute for our script to evaluate
* Elements should have a second `data-typeAttr` attribute for our script to know what test to run
* Elements should foll

[2018-04-02 12:26] 1Copenut opened #7517 "Build runner for e2e keyboard testing"
### Criteria
We need to build a multi-page runner for keyboard e2e testing. This runner should:
* Test at least two major browsers, Firefox and Chrome, to start
* Use a sitemap.xml file or other generated page list file to ensure good test coverage
* Use prior art like NightwatchJS and Selenium Webdriver
* Run in headless mode if possible

[2018-04-02 12:31] 1Copenut opened #7518 "Create cross-browser keypress mappings"
### Criteria
Consider the work being done on https://app.zenhub.com/workspace/o/department-of-veterans-affairs/vets.gov-team/issues/7964 as the starting point, and possibly use this as a way to close that item or update findings.

### From 7964
We currently use `which` and `keyCode` for our accessibility related key input logic. Unfortunately, which and keyCode are both deprecated. Various librari

[2018-04-04 17:07] 1Copenut commented on #7514
Have started a code repo locally that uses these libraries, and is successfully running a smoke test.

[2018-04-04 17:07] #7514 closed

[2018-04-04 23:53] cehsu opened #7535 "Validate evidence type and each evidence type page"
In discussing the evidence summary page's depends logic, @goldenmeanie indicated that evidence should always be present. The evidence summary page should always be displayed for each disability increase, as evidence is required, with a minimum of 1 item provided for each evidence type selected.
This work includes ~providing validation logic for the evidence type page~, and for each of the document

[2018-04-05 22:04] 1Copenut opened #7538 "Scorecard 508 Audit"
This epic will track all of the 508 and accessibility findings for the Vets.gov/scorecard pages

[2018-04-06 21:41] #7517 closed

[2018-04-06 21:45] 1Copenut commented on #7538
Moving to vets.gov-team as a new issue for better visibility

[2018-04-06 21:45] #7538 closed

[2018-04-10 13:45] 1Copenut opened #7554 "Write assertions for focusable elements v. tabbable index"
These should be custom assertions in Nightwatch that can be shared across products, so follow the local coding style.

[2018-04-11 18:42] #7512 closed

[2018-04-11 18:43] #7515 closed

[2018-04-11 18:45] #7554 closed

[2018-04-11 18:48] #7516 closed

[2018-04-11 18:50] #7518 closed

[2018-04-11 19:04] 1Copenut commented on #7513
Closing issue because a new one has been opened in vets.gov-team: https://app.zenhub.com/workspace/o/department-of-veterans-affairs/vets.gov-team/boards?epics=33202667_7513,31788863_9915&repos=31788863

[2018-04-11 19:04] #7513 closed

[2018-04-12 15:40] mrengy opened #7569 "Analytics opt out (Firefox) ReferenceError: event is not defined"
Clicked "opt out" on https://www.vets.gov/analytics-opt-out.html, but the button did not change state (expected it to change to say "opted out", which worked for me in Chrome). Getting an error in the console "ReferenceError: event is not defined <anonymous> https://www.vets.gov/analytics-opt-out.html:327:183" as shown in the attached screenshot.
<img width="1278" alt="screen shot 2018-04-12 at 11

[2018-05-14 18:36] accbjt opened #7724 "unable to select "No" on the financial disclosure page for HCA"
From this slack message:
https://dsva.slack.com/archives/C862Q82UQ/p1526314625000369

2. I seem to be unable to select "No" on the financial disclosure page for HCA. The radio button itself as well as the label aren't selectable. It just selects "Yes" when I click in that general region. https://staging.vets.gov/health-care/apply/application/household-information/financial-disclosure

<img width="

[2018-05-16 15:58] #7724 closed

[2018-05-29 15:46] markgreenburg commented on #7535
I think we can simplify this by just making sure that each step in the evidence process is `required`, so that it's not possible to continue past an evidence page without actually uploading said evidence.

[2018-05-30 18:09] #7535 closed

[2018-06-05 16:20] cehsu opened #7822 "Fix PrestartAlert spacing above non-arrayfields"
Non-arrayfields should have similar spacing between them and the contentBeforeForm as the arrayfields:

viewcard
![image.png](https://images.zenhubusercontent.com/59829814f8b79f8376e1c23b/c6f4e730-ad8a-407d-a1a6-16b9c03dea9c)

arrayfield:
![image.png](https://images.zenhubusercontent.com/59829814f8b79f8376e1c23b/1c152a09-584c-42ee-ae0d-343081197d01)

[2018-06-19 16:42] cehsu opened #7899 "526 Military info view only"
@djmunoz1 has [indicated](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10403#issuecomment-397723805) that we want to remove edit functionality from military service history (no content changes required).

# User story

As a user, I would like to be able to view my military history information.

# Acceptance criteria

- [ ] Military history is displayed in a view-only mann

[2018-06-19 16:43] cehsu commented on #7899
@cvalarida @markgreenburg thanks for sharing any additional insights in the description here or adjusting the estimate, etc. We will likely need to update the milestone, for example.

[2018-06-20 18:42] cvalarida commented on #7899
I could have sworn I wrote this already...but I can't find it anywhere, so I guess I never did.

Anyhow, I'd add a couple things to the AC:
- [ ] The api is queried to fetch the latest military history
    - What's the URL for this? Is there an endpoint right now?
- [ ] An error message is shown if the call fails
    - Needs to be edited by @peggygannon

Because most of the work is delegated to th

[2018-06-21 16:53] markgreenburg commented on #7899
Closing - please see #11168 in team repo.

[2018-06-21 16:53] #7899 closed

[2018-07-02 15:56] Samara-Strauss opened #7954 "[Bug] Vet360 — Formatting problems with "address" error"
Device: Macbook Pro
Browser: Chrome 67.0.3396.99 (latest build)
Log-in details: Staging user 226

Steps to reproduce:

1. Add a bogus address for the mailing address.
2. Receive error.

What happened:

There are problems with how the error is formatting — the error copy is running into the "X" that removes the error.

![Screen Shot 2018-07-02 at 11.27.40 AM.png](https://images.zenhubusercontent.co

[2018-07-02 16:00] Samara-Strauss commented on #7954
Closing because WRONG REPO 😭

[2018-07-02 16:00] #7954 closed

[2018-07-18 22:22] djmunoz1 opened #8021 "update Contact address (read-only & 20char limit)"
### Problem Statement:

### AC
- [ ] verify approach: address lines 1-3 each have a 20 character limit, need to have logic that pushes anything over 20char on line 1 to line 2 and same from line 2 to 3.
- [ ] once approach is verified, implement
- [ ] write content along the lines of "This is how your address will look on letters you get from VA because there can only be 20 characters per address

[2018-08-15 17:43] saintsoup52 opened #8182 "GIBILLCT Not Showing Some Approved Schools"
Schools that have alpha-numeric facility codes are not showing up in the search for approved schools.

For example the following schools do not appear.

**facility_code | institution**
1007A105 | SAN DIEGO COUNTY SHERIFFS DEPARTMENT
1008A105 | LIVERMORE POLICE DEPARTMENT
10A00101 | ALABAMA DEPARTMENT OF PUBLIC SAFETY-BIRMINGHAM POST
10A00110 | ESCAMBIA COUNTY SHERIFF'S OFFICE
10A00201 | ALABAMA DE

[2018-08-15 18:13] saintsoup52 commented on #8182
Tagging @briangryth @jkassemi @saneshark

[2018-08-29 20:52] wraithstars opened #8280 "VA Forms Visibility"
I'm on preview.va.gov using the search function, and the VA Form 10-0137 is not showing up. This form is commonly referred to as a "living will" or "advanced directive," but also doesn't show up using those keywords either.

[2018-09-12 14:33] tevko opened #8391 "Vets.gov performs poorly on mobile environments"
- **The environment you experienced the bug**: Mobile / fast 3G
- **The exact steps you took that triggered the bug**: Went to homepage, ran audit (attached)
- **The expected outcome**:  A faster site, removal of unused code, progressive web app capability, faster TTI, etc.
- **The actual outcome, including screen shot**: Site was slow to load, no serviceworker, no HTTP 2 support, not progressive

[2018-09-12 14:44] malchata commented on #8391
In a time where [internet infrastructure in rural America is antiquated](https://www.technologyreview.com/s/603083/the-unacceptable-persistence-of-the-digital-divide/) (to put it nicely), I can think of nothing better within our grasp as developers than to improve mobile performance for a site to help vets get benefits. I'd be more than happy to partner up with @tevko to make this happen.

[2018-09-12 14:58] slightlyoff commented on #8391
See also: https://www.webpagetest.org/result/180912_6Q_5fd08e0ef64071de6f3cd266c36a3cac/

This can be reproduced using WebPageTest, selecting the `Mobile - Regular 3G` option: https://www.webpagetest.org/easy

A few key things jump out:

 * [Nearly 400K of script](https://www.webpagetest.org/result/180912_6Q_5fd08e0ef64071de6f3cd266c36a3cac/1/breakdown/)
 loads on this page, pushing back [Time-to-

[2018-09-12 15:05] malchata commented on #8391
I have some ideas on addressing this. There may be some better configurations within `optimization.splitChunks` we can leverage to improve splitting.

I'd also like to see about differential serving/compilation to serve a lighter load comprised of ES6 modules with little to no polyfills for browsers that don't need them. I've been doing some research in this space.

[2018-09-12 20:15] jbalboni commented on #8391
Thanks for the feedback, everyone!

Are you seeing this blocking interactivity on the the entire page or just the navigation menus? We had tried to set it up so that the rest of page was interactive while the menus were loading (not that that's a whole lot better). The reason for the React menus is convoluted and will take a while to unwind, but hopefully we can make improvements there.

@slightly

[2018-09-12 23:52] malchata opened #8399 "Builds fail locally, citing heap out of memory."
When I run the build script locally and attempt to do a production build, Webpack builds bundles, the script hangs for a long period of time, and eventually I receive this error:

[code]

I can work around it if I pass `--max-old-space-size=4096`, but it seems strange to me that this occurs at all. I have a 2017 MacBook Pro with 16 GB of RAM. The heap limit is 1.7 GB by default. Is this a common p

[2018-09-13 01:48] tevko commented on #8391
Thanks for the prompt response @jbalboni ! We would love to help in any way we can. Are pull requests accepted? I'd love to get a better sense of how we can best help solve some of the outlined issues.

[2018-09-13 03:17] jbalboni commented on #8391
We can accept PRs, it's mostly just getting the time on our side to review and merge them, which I am not sure about yet. Digging into the repo and looking at our Webpack config and bundle contents and looking for red flags would be helpful, though. We've done a lot to reduce bundle sizes, but we're still not where we should be. I'll post an update in here when I get some more info about dedicatin

[2018-09-13 14:18] jbalboni commented on #8399
@malchata What command were you using to build? I haven't seen that with a normal build, but I did notice I was getting that when I tried to use the `--analyzer` flag yesterday.

[2018-09-13 18:43] malchata commented on #8399
`NODE_ENV=production npm run build` I believe.

[2018-09-13 18:56] jbalboni commented on #8399
What version of Node? We're all running Node 8, I believe.

[2018-09-13 18:57] malchata commented on #8399
8.12.0. Also tried with 8.11.x before upgrading.

[2018-09-13 19:53] jbalboni commented on #8399
I asked in our Slack, it looks like we do have one person who has seen that error and they worked around it with the `--optimize_for_size` Node flag. But it's not a common issue, as far as I can tell. I'm interested in seeing if we can figure out what you have in common with the other dev who has seen it.

[2018-09-14 16:06] tevko commented on #8391
Thanks @jbalboni  @jkassemi ! I'll produce docs and pull requests, feel free to use whichever ends up being helpful

[2018-09-14 16:10] jkassemi commented on #8391
👍, thanks @tevko!

[2018-09-14 16:16] jkassemi commented on #8182
@briangryth I'm having trouble finding the associated vets.gov-team ticket for this issue. If you have one, can you link?

@saintsoup52 I'm relatively sure we explicitly addressed this, and I'm no longer able to replicate the problem, so closing. Please reopen or reach out to @briangryth if problems persist.

[2018-09-14 16:16] #8182 closed

[2018-09-14 16:17] jkassemi commented on #3290
@rtluu or @goldenmeanie is there an associated vets.gov-team issue for this?

[2018-09-14 19:56] goldenmeanie commented on #3290
This can be closed.

[2018-09-14 19:56] #3290 closed

[2018-09-18 01:09] tevko commented on #8391
@jbalboni @jkassemi I have some questions around building the site for production locally. Namely, after  setting `NODE_ENV=production` and running `npm run build -- --buildtype production`, where do I go to access the newly built environment. Will it mirror what I see on production? I ran the above commands after adding a setting to minify CSS and saw that the 2 main CSS files inside `/build/prod

[2018-09-18 12:33] jbalboni commented on #8391
@tevko That's the correct folder and it looks like the correct build command. What sizes are you seeing with and without your change? I can compare them to what I get locally.

[2018-09-18 14:10] tevko commented on #8391
@jbalboni How would I view the results of the build in my browser?

I'm seeing a 285kb style.[hash].css file after running on the build whereas it's about 60ish kb on prod

[2018-09-18 15:04] jbalboni commented on #8391
@tevko I think that's actually correct. The 60kb size in prod is gzipped and the result from the build process is not.

To view the site you can start a simple http server in the `build/production` folder to serve the files. Something like `php -S localhost:3001` or `python -m SimpleHTTPServer 3001`.

[2018-09-18 15:32] tevko commented on #8391
@jbalboni ahhh that makes sense. Can you confirm then that [this change](https://github.com/tevko/vets-website/commit/c8e0de52e7ac5c82fc276248f7ae44dff6a1eddd) would result in at least minimally smaller CSS sizes?

[2018-09-18 20:36] accbjt opened #8452 "Create list for React Apps that have Left Rail Navigation."
We need a list of apps that include the Left Rail Nav. @mnorthuis mentioned that some need them and some don't. Here is the list of React Apps we have in our website. Once this is done we can implement them on the pages you need them on.

- va-gov/pages/burials-memorials/pre-need-eligibility/apply-for-pre-need-form-40-10007.md
- va-gov/pages/burials-memorials/veterans-burial-allowance/apply-for-bu

[2018-09-19 00:00] tevko commented on #8391
@jbalboni Excellent! Will open a PR then

[2018-09-21 00:57] tevko commented on #8391
@jbalboni have you seen any issues where after running `yarn install` dependencies won't be added? I've removed `node_modules` and reinstalled fresh about a hundred times now and get this error every time:

[code]

[2018-09-21 13:30] jbalboni commented on #8391
@tevko That looks a lot like there's a some config (NODE_ENV or something Yarn specific) that's set to production mode and isn't installing devDependencies.

[2018-09-21 16:40] mnorthuis commented on #8452
@accbjt I think this issue is created in the wrong repository.  Can you move to vets.gov-team?

[2018-09-23 06:37] accbjt commented on #8452
Transffered this ticket to vets-gov-team repo.

[2018-09-23 06:37] #8452 closed

[2018-10-03 00:11] tevko commented on #8391
@jbalboni I have some questions around [`splitChunks`](https://webpack.js.org/plugins/split-chunks-plugin/) and code splitting. Specifically, why are all vendors bundled together (L151 of webpack.config.js) and why is code splitting not enabled (which dynamically loads component resources as they're on demand)?

[2018-10-03 01:12] jbalboni commented on #8391
The vendor bundle contains the bundles that we know all of our apps use. They don't change much, so the hope was that we could cache that file over a longer period of time. This isn't really happening for other reasons, but it does at least mean that users who use different tools on the site can hopefully cache the file at least for the day. This was the strategy we picked back on Webpack 2 and it

[2018-10-18 00:04] tevko commented on #8391
Regarding the vendor bundles, I'm thinking the ideal practice would be to split them up and cache with a serviceworker once a users browser downloads them. This is because the user won't always need every single file, since I'm guessing they only visit a handful of routes per visit. The code splitting is an absolute necessity in terms of performance and I'm wondering if there are some simple areas

[2018-10-18 00:12] malchata commented on #8391
Is `html-webpack-plugin` used? If so, what you're describing should be somewhat achievable.

Sorry I've been off this. Been dealing with some life stuff.

[2018-10-19 16:12] aaronjlech opened #8808 "781/781a All-claims Entry point Pull Request"
https://github.com/department-of-veterans-affairs/vets-website/pull/8803

this pull request covers
- Logic for routing users into 781/781a with PTSD-related disabilities.
- 781/781a Introduction page
- PTSD type(s) selection pages

[2018-10-19 19:43] dmccurdybah opened #8819 "781/781a PTSD Upload Choice PR"
Create a pull request that covers:

781 walkthrough/upload choice page
781 upload documents page
781a walkthrough/upload choice page
781a upload documents page

[2018-10-19 19:45] #8819 closed

[2018-10-19 20:32] chriseldredge-usds commented on #7459
Broken on https://preview.va.gov/playbook/governance/ too.

[2018-10-23 04:11] boris-ning-usds commented on #8280
This problem's been fixed.

Thank you for notifying us.

[2018-10-23 04:11] #8280 closed

[2018-10-31 14:50] jbalboni commented on #8391
Hey, I haven't forgotten about this, we have a big project going on that's sucking up all of my time.

We don't use `html-webpack-plugin`, but our current build process does something similar that we could augment, I believe.

That said, I'm not sure I understand the value of splitting up the vendor bundle. I may have mistyped something above, but that bundle contains the libraries that all of our

[2018-11-01 16:07] lamawithonel opened #8966 "`GET /education/gi-bill/post-9-11/ch-33-benefit` erroneously shows the site is down for maintenance"
Prior to approval for benefits, the "Check Post-9/11 GI Benefits" link showed _always_ this message:

It also shows this if I am not logged in when accessed from the `preview.va.gov` site.

At first I thought maybe it was truly a months-long period of down-time.  Calling the help line was helpful for the purposes of my benefits, but they they knew nothing of the web site-- **and it wastes a solid

[2018-11-14 13:39] ATeal opened #9111 "Readme / Setup Instructions missing vagov-content clone"
Recently the default local development commands (`npm run watch` and `npm run build`) have been updated to include `vagov-content` yet cloning that repo as a sibling to this project isn't in the readme.

Wanted to get thoughts / opinions on adding that to the readme before I went down that route.

[2018-11-20 04:57] patrickvinograd commented on #9111
It's worth adding.

[2018-11-28 00:46] eliotwinchell opened #9165 "Facility Locator Map crashes on Chrome"
Title: Facility Locator Map crashes on Chrome

Comment: When a user goes to the Find Facility page, the map/page will crash if the user pans around the map. It will crash if they pan the map after entering a location, or it will crash if they try to pan the map around after page load. Many latitudes/longitudes are being asynchronously loaded, and the page fails to recover. There are errors from ra

[2018-11-30 21:21] ncksllvn commented on #9165
Hi @eliotwinchell! Thank you for logging this issue and the level of detail in doing so. I especially appreciate the Streamable video. My team has this issue scheduled to be completed during our current sprint, but we're also curious if you have any interest in lending a hand and contributing to the project with the work required here? No pressure, but we appreciate any help the community is willi

[2018-12-03 14:58] ncksllvn commented on #9111
Excellent point - added here, https://github.com/department-of-veterans-affairs/vets-website/pull/9175!

[2018-12-03 14:58] #9111 closed

[2018-12-03 15:14] ncksllvn commented on #7458
Thanks @chriseldredge-usds! The Playbook is in need of some revisiting now that we've launched as VA.gov and there are still a couple console warnings on Dev, but now that we've migrated to a React-powered top navigation, the error defined in this ticket is no longer present.

[2018-12-03 15:14] #7458 closed

[2018-12-05 00:31] eliotwinchell commented on #9165
Hi @ncksllvn
I'm happy to provide any help I can! I looked at the VAMap.jsx this weekend, ran a local build of this repo, and did some experimenting. I found that the "this.props.updateSearchQuery(.....)" block in the handleBoundsChanged may be the issue. There's a position property (current lat/lng) being updated in the search query, and when that position property is removed, the panning no long

[2018-12-05 00:53] eliotwinchell opened #9204 "Facility Locator does not show All Locations"
This bug started to occur today, which could be from this [merged PR](https://github.com/department-of-veterans-affairs/vets-website/pull/9184).

Title: Facility Locator does not show All Locations

Comment: When a user goes to https://www.va.gov/find-locations/ and enters a location, 0 results are shown. This is from a bad GET request. The results are shown when a specific facility is chosen but

[2018-12-05 03:51] r-mc2 commented on #9165
The position should only be needed once all panning/zooming has completed. The intermediary coords as the map is moving are easily ignorable.

For reference, that center point is saved to the Redux store and referenced later on for searches via `genBBoxFromCoords` so the appropriate bounding box is sent to the API. It is also referenced in `updateUrlParams` to update the URL in the address bar to

[2018-12-05 18:14] ncksllvn commented on #9165
Thank you for your help so far @eliotwinchell!

[2018-12-06 06:06] eliotwinchell commented on #9204
This issue no longer exists, closing it! :)

[2018-12-06 06:06] #9204 closed

[2018-12-07 21:15] bshyong commented on #9165
In case this helps: The app is using React Leaflet for the Map component, and there is currently a onMoveEnd trigger that calls handleBoundsChanged

https://leafletjs.com/reference-1.3.4.html#map-moveend

[2018-12-14 17:31] ncksllvn commented on #9165
A patch for this issue was implemented here, https://github.com/department-of-veterans-affairs/vets-website/pull/9259, and will be live at roughly 3 PM ET. Thank you @eliotwinchell for raising this and for your effort in investigating a fix. Truly appreciated!

Thanks @r-mc2 and @bshyong for your insight!

[2018-12-14 17:31] #9165 closed

[2018-12-14 18:37] eliotwinchell commented on #9165
Hey @ncksllvn,
I added the code change in the #9259 PR, and it did not fix the issue I think, although that code change does make that JSX variable declaration cleaner! I think the bug lies in the position prop being updated in updateSearchQuery in the handleBoundsChanged function. The Mapbox center is using the position prop, and it seems like the current method (as @r-mc2 and @bshyong) pointed o

[2018-12-14 18:56] ncksllvn commented on #9165
Thanks for following up @eliotwinchell!

Hm 🤔That's interesting, because I'm unable to replicate it anymore. That PR entailed a dependency update - did you run a `yarn install` prior to rebuilding the site?

[2018-12-14 23:02] eliotwinchell commented on #9165
Ahh @ncksllvn,
thank you, working now. I definitely was not going down the right path, was that error about the facility marker appearing in the console? Thanks for fixing that, I will see if there's more bugs I can try to fix, learning a lot!

[2018-12-19 15:40] ncksllvn opened #9281 "Apply basic permissions via "codeowners" file"
GitHub use a special file called "codeowners" in order to automate the assignment of code reviewers based on what files are affected by a pull request.

From team conversations, it sounds like the best approach for this to start is by assigning @bethpotts, @DanielleSoCompany, and @peggygannon as the codeowners of the `pages` directory, and myself (@ncksllvn) as the owner of other directories. The

[2018-12-19 15:54] chrisj-usds commented on #9281
@ncksllvn Does that mean that any of the above-named people can approve / publish? Or does it need to be all of them? Or something in between?

[2018-12-19 16:09] ncksllvn commented on #9281
@chrisj-usds Right now just one of the people listed (or anyone with edit access to the repository even if not listed in the codeowners file) needs to approve a pull request. We can increase that number though if we want to.

[2018-12-19 22:34] ncksllvn commented on #9165
Of course @eliotwinchell, thank you! It was actually just an internal issue with the Map component provided by the `react-leaflet` package. I observed this by just a `console.log` each time `onMoveEnd` was called by the module. Upgrading that package fixed the issue, but then I did see an error in the console about the `FeatureGroup`, so I had to patch that issue afterwards.

Truly appreciate your

[2018-12-21 23:06] ncksllvn opened #9302 "Integrate the Drupal build step into the Content-Preview server"
## Background
The "Content-Preview" server refers to an app  used for previewing Drupal content prior to it being published. In Drupal, this will serve as the functionality currently provided by Heroku review instances in pull requests.

This is currently being planned to live at `/preview`. For example, in Dev, this would be `https://dev.va.gov/preview`. Creating this environment is being done at

[2018-12-21 23:26] ncksllvn opened #9303 "Inspect the Drupal data structures and plan for Metalsmith templating"
Blocked by https://github.com/department-of-veterans-affairs/vets-website/issues/9302

With the Preview server hooked up to Drupal per https://github.com/department-of-veterans-affairs/vets-website/issues/9302, we should begin inspecting the data provided by Drupal and compare it to the data we're use to working with provided by the Interim CMS's static Markdown files. This will provide us with so

[2018-12-21 23:32] ncksllvn opened #9304 "Define templating strategy for Drupal integration"
Blocked by https://github.com/department-of-veterans-affairs/vets-website/issues/9303

After the templating research has been done via the ticket above, we should begin laying the foundation for templating with the Drupal data structures. For example -

1. Templating language, if Liquid templating (our current templating language) is not a good fit
2. Directory names
3. File extensions
4. General

[2018-12-21 23:42] ncksllvn commented on #9302
@jbalboni LMK if we need to make any adjustments to this ticket!

[2018-12-21 23:59] ncksllvn commented on #9302
Moved to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15944

[2018-12-21 23:59] #9302 closed

[2018-12-22 00:00] #9304 closed

[2018-12-22 00:00] ncksllvn commented on #9304
Issue moved to [department-of-veterans-affairs/vets.gov-team #15945](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15945) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-22 00:01] ncksllvn commented on #9303
Issue moved to [department-of-veterans-affairs/va.gov-team #19](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-22 00:01] #9303 closed

[2018-12-22 00:02] ncksllvn commented on #9303
Issue moved to [department-of-veterans-affairs/vets.gov-team #15946](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15946) via [**ZenHub**](https://www.zenhub.com/)