[2016-02-14 00:17] koconnor719 opened #1200 "demo day follow up"
@KHarshawat   and kelly  to follow up w/ emily on demo day 2/22

[2016-02-14 00:26] koconnor719 commented on #1170
let's plan to include in FL; but agree let's get up on site prior to March 31 as long as everyone ok w/ that.

[2016-02-14 00:28] koconnor719 opened #1201 "Set up sprints for vets.gov website work"
set up sprint cycle for main vets.gov site once new vets.gov product manager starts 2/22.

@emilyville @plusjeff

[2016-02-14 00:30] koconnor719 commented on #1147
@emilyville is this something i can just assign to anne?  since it's an easy / quick fix:)  i don't want to confuse the process...

[2016-02-14 00:32] koconnor719 commented on #1121
coordinate points of contact w/ Angela (she also needs POCs); i'm happy to add this data into her spreadsheet for you.

[2016-02-14 00:34] koconnor719 commented on #1087
should this go in GI tool repo?  we've combined VEC and Careers and Employment (using VEC repo); should we include all things GI in that repo?

[2016-02-14 00:36] koconnor719 commented on #765
@emilyville can this be closed now? we've got other issues to test feedback forum for placement and language.

[2016-02-14 00:37] koconnor719 commented on #535
@gnakm can you pls. review and see if this issue needs to be closed or requires further review by design team?

[2016-02-14 00:39] koconnor719 commented on #530
@gnakm can you review this and see if it's still relevant w/ design team?

[2016-02-14 00:47] koconnor719 commented on #1200
moving this issue to vets.gov team repo

[2016-02-14 00:47] #1200 closed

[2016-02-14 00:48] koconnor719 commented on #1199
moving this to team repo

[2016-02-14 00:48] #1199 closed

[2016-02-14 13:36] ayaleloehr commented on #995
Just checked the UserVoice comments on this issue.  The user reported "I have been unable to get to the VEC coursera vourcher page and keep getting a "vec is down for maintenance" message. How long is the site going to be down for maintenance?"

There is no maintenance page up, so I'm not sure what they're seeing (could find out what URL they are on and what link they are clicking?).  We should fo

[2016-02-14 13:43] ayaleloehr opened #1203 "UserVoice does not send notifications on issue comments"
Is it possible to add a notification to the GitHub issue when a user comments on an issue they have already created with UserVoice?  Right now, I don't believe this happens and it means that @koconnor719 has to manually inspect whether Veterans have followed up on their feedback or have additional questions after she has responded to the initial inquiry.

And @koconnor719 also manually posts what

[2016-02-14 13:48] koconnor719 commented on #1203
Good idea!!

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Sunday, February 14, 2016 08:44 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] [vets-website] UserVoice does not send notifications on issue comments (#1203)

Is it possibl

[2016-02-14 17:01] usds-bot opened #1204 "UserVoice Idea: What happened to 311VET mobile app?"
I like what I see.

I wanted to be a part of this but was targeted by SFVA's Bonnie Graham for retaliation for discovering physician imposter and was unlawfully fired and refused medical retirement.
Dr Mike Hutchison.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12326625-what-happened-to-311vet-mobile-app

[2016-02-14 18:27] koconnor719 commented on #1204
i'm removing this comment from website b/c the person names individuals and this is not an appropriate forum for this type of comment.

Posted reply to the sender:

Thank you for your feedback.  The 311 app was not part of vets.gov, so I am not aware of any details about that app. We are required to remove your comment from our public website because it includes full names of two individuals and i

[2016-02-14 18:34] koconnor719 commented on #1203
christine, i believe you are talking to user voice regarding the explorer 11 issue--can you ask them about alex suggestion above?

@emilyville @MarinaMartin

[2016-02-14 18:41] koconnor719 commented on #995
These updated comments are not coming through GitHub which makes it impossible to manage updates.  i had thought all new comments would come thru GitHub. also they don't appear in user voice at the top of the list if i sort by date created?  they just get nested in old user voice messages.

[2016-02-14 18:43] #1204 closed

[2016-02-14 18:45] koconnor719 commented on #1188
what is status of this? is it being worked in the "Careers and Employment" content and design work? @gnakm

[2016-02-14 18:46] koconnor719 commented on #587
is this resolved since 671 is closed? if so can this issue be closed?

[2016-02-14 18:47] koconnor719 commented on #656
can this be closed? @dannychapman @rickleegit

[2016-02-14 18:48] koconnor719 commented on #1128
closing issue since no user response for 2 weeks. we've tested this and cannot replicate any issue.

[2016-02-14 18:48] #1128 closed

[2016-02-14 21:32] MarinaMartin commented on #1128
Actually this appears to be the same as
https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/143

[2016-02-14 21:43] MarinaMartin commented on #1203
The Github/UserVoice integration is set up via Zapier.

[2016-02-15 15:29] gnakm commented on #1188
@koconnor719 Yes. I just opened an issue in veterans-employment-center. @emilyville I will add the green button!

[2016-02-15 15:33] #587 closed

[2016-02-15 15:36] emilyville commented on #1170
Yes, this issue should remain independent from facility locator.

[2016-02-15 15:38] gnakm commented on #530
@raineystraus @ss0ss Jumping in on this kind of late but I was wondering if this is something that should be closed because I don't know if we need a second line description for the navigation on this page? I know that the Conditions page under disability benefits has descriptions: https://www.vets.gov/disability-benefits/conditions/ Are we planning to have descriptions from 2nd level nav? Are we

[2016-02-15 15:40] koconnor719 commented on #1203
awesome! let me know when ready to test! @cfeeney-va

[2016-02-15 15:44] koconnor719 commented on #530
Rainey is no longer on roject😀

Sent with Good (www.good.com)

-----Original Message-----
From: Gina Kim [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, February 15, 2016 10:38 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] GI Bill: Missing Navigation Descriptions (#530)

@raineystraus

[2016-02-15 15:44] gnakm commented on #535
@koconnor719 Thanks for pointing this out! I am working on something similar for Roadrunner to help simplify these heavy eligibility pages. Let's leave it open for because I think this particular page needs extra love and I will work on it.

[2016-02-15 17:00] rcarthur commented on #1188
Dusting off my memory of the conversation with SME at the time.....the word was that Career Scope needed to be done in conjunction with a counselor during an in person appointment.   Now that we're redoing the site in Careers and Employment, this does not seem to be the case.  Molly is our content point for this.

[2016-02-15 17:07] rcarthur commented on #530
Great question, Gina.    My vote is for standardizing this one way or another.

[2016-02-15 18:07] ss0ss commented on #530
@gnakm @dannychapman and I had some conversations on this a while back, before beta launch. I think we concluded to leave it as it is for now.

[2016-02-15 21:06] gnakm commented on #1188
@rickleegit @emilyville @mollyblake Could we clarify what this "tool" is? I just want to make sure I'm on the same page. Would it help to make a new page and have a button that links to that?

Also, we should talk about designing pages that may have multiple green buttons.
We can talk about this with @dannychapman in the IA meeting tomorrow.

[2016-02-16 00:45] rickleegit opened #1207 "GA Tacking Code Alert"
Not sure who owns this, but we got a Google Analytics alert identifying missing tracking codes on:

[2016-02-16 12:13] rickleegit commented on #1207
Checked source on this and GA alert is incorrect. These pages have the code and the pages are tracking as of 2/16.

[2016-02-16 12:13] #1207 closed

[2016-02-16 14:57] #765 closed

[2016-02-16 14:59] emilyville commented on #1201
Sure, but we'd also need to identify a project team...

[2016-02-16 15:03] emilyville commented on #1201
I'd also advocate to move this issue to vets-team repo since that's where we'd need to specify the team, and the project. We'd need to clarify what would be owned by this team.

i.e. would they also be responsible for global changes filtering out to apps?

[2016-02-16 15:05] koconnor719 commented on #1201
I thought the opposite:) it�s the �website� repo that needs the sprints.  :)

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: emilyville <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, February 16, 2016 at 10:03 AM
To: department-of-ve

[2016-02-16 17:15] usds-bot opened #1208 "UserVoice Idea: Military"
i need resume asap

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12352923-military

[2016-02-16 18:39] mollyblake commented on #1188
@gnakm The career scope tool is an involved assessment/questionnaire that generates a report. The report details twelve interest areas, your level of interest and the activities associated with each. For example: because I 'liked' a lot of artistic activities I should look at jobs such as editor, graphic designer, writer, painter etc.  It also looks at aptitude for tasks like general learning.

[2016-02-16 18:46] mollyblake commented on #1188
@gnakm @emilyville Should be housed on the page with the Onet profiler tool.

[2016-02-16 22:23] gnakm commented on #530
If that's the case, I am going to close this issue. I think this will come up again on roadrunner so we could talk about it then. Let's sick with the "leave it as it is for now" conclusion.

[2016-02-16 22:23] #530 closed

[2016-02-17 05:11] awong-dev opened #1211 "Instrument performance telemetry"
https://developers.google.com/analytics/devguides/collection/analyticsjs/user-timings

We should have metrics and telemetry for performance of our site. That way we can have more insight into if we're messing up mobile users or users with older browsers, etc.

In particular, if we are going to target mobile links (rural areas) which are characterized as "long fat pipes) we need to
  (a) reduce pay

[2016-02-17 05:11] awong-dev commented on #1211
Tagging @MarinaMartin

[2016-02-17 05:12] usds-bot opened #1212 "UserVoice Idea: upload resume"
be able to upload a resume instead of rebuilding one.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12359724-upload-resume

[2016-02-17 15:27] usds-bot opened #1213 "UserVoice Idea: Resume Research"
Boolean string search is needed for recruiters to use this site.  Without this information this site is basically useless.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12364791-resume-research

[2016-02-18 02:29] koconnor719 commented on #1208
posted and closed:

Thank you for your feedback. You can use vets.gov to create your resume! Go to the Veterans Employment Center resume builder https://www.vets.gov/veterans-employment-center/createresume, and you can get started creating your resume from your LinkedIn Profile or entering your information manually.  You can also use our skills translator (https://www.vets.gov/veterans-employment-

[2016-02-18 02:31] #1208 closed

[2016-02-18 02:35] koconnor719 commented on #1212
posted and marked "enhancement":

Thank you for your feedback. That's a great idea! We will add it to our list of enhancements. Currently you can import your LinkedIn profile information to help you build a resume.

vets.gov team

[2016-02-18 02:36] koconnor719 commented on #1212
this enhancement will not be required once we use linked "badge" modify usage of storing profiles here

[2016-02-18 02:40] koconnor719 commented on #1213
posted and closed (this requirement will no longer be necessary once we start using the linkedin badge since employers will search for Veterans on linkedin:

Thank you for your feedback. We'll add this to our list of enhancements to make sure that employers and recruiters have a fast and easy way to search for Veterans in the future.

vets.gov

[2016-02-18 02:40] #1213 closed

[2016-02-18 14:59] gnakm commented on #535
We are working on redesigning a template for pages just like in Roadrunner but it's on the lower end of the priority spectrum. It's been noted. Once it becomes of global decision, it will be changed.

[2016-02-18 14:59] #535 closed

[2016-02-19 17:13] koconnor719 commented on #963
related to #165 in VEC repo

[2016-02-19 19:56] usds-bot opened #1222 "UserVoice Idea: Search improvements"
There should be a state regional search for schools so that it gives the user more options when trying to decide on a school that best suits them

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12408441-search-improvements

[2016-02-20 02:53] koconnor719 commented on #1222
Posted and closed:

Thank you for your feedback. You can search by state on our GI Bill Comparison Tool! Go to this page and put a state or city in step 2:  https://www.vets.gov/gi-bill-comparison-tool/  . You will get a listing of institutions that you can then filter by even more criteria based on your specific requirements.

vets.gov team

[2016-02-20 02:54] #1222 closed

[2016-02-20 16:52] koconnor719 commented on #1170
closing this issue per call w/ Jack Bates 2/17; this is a post May 1 task.  patient wait times team still has internal testing to do on this tool in march and april; no actions for our team at this time.

[2016-02-20 16:52] #1170 closed

[2016-02-20 16:59] koconnor719 commented on #1198
martin getting 2 blogs approved this week

[2016-02-22 17:27] koconnor719 commented on #1082
@MarinaMartin can you help w/ this one?  @cfeeney-va  has done some good due diligence on this but it's still an issue.

[2016-02-22 17:54] usds-bot opened #1223 "UserVoice Idea: Feedback/ post Idea Icon"
For the Post an Idea icon (Lightbulb) have a tooltip/pop-up with a very brief description as to what the Icon is for. Can be as simple as "Feedback" when one mouse's over the Icon.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12436287-feedback-post-idea-icon

[2016-02-22 21:30] usds-bot opened #1227 "UserVoice Idea: Job Scam Targeting Vets--Alias: Johan Martin, Company: Getronic"
Good after noon. I am a veteran who will soon be leaving the military and have been looking for a job by posting my resume on various job board websites. Unfortunately, I was just the victim of a money laundering scam. I was contacted by an individual who was posing as a hiring rep for a company called Getronics. He said he found my resume on one of the job board sites. I was so excited to finally

[2016-02-23 05:41] usds-bot opened #1229 "UserVoice Idea: A deletion button to remove wrongly added information"
Add a button that can remove an award or any added information

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12443382-a-deletion-button-to-remove-wrongly-added-informat

[2016-02-23 18:58] usds-bot opened #1230 "UserVoice Idea: Customize dashboard"
Add a personal dashboard tab which will allow the veteran to customize their personal page. A good example is the Air Force portal page which allows the individual the ability to move the widgets they want to their owe page and also web page links etc. For example I live in the South and would like to see just southern facilities.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/1

[2016-02-23 19:04] bethpotts opened #1231 "standardize the presentation of addresses"
For example, on this page:
https://staging.vets.gov/education/apply-for-education-benefits/regional-office/

The elements of addresses (and the phone numbers) appear all on one line:
1700 Clairmont Rd. Decatur, GA 30033 (800) 827-1000

We would like it to be like this instead:
1700 Clairmont Rd.
Decatur, GA 30033
(800) 827-1000

[2016-02-23 20:49] ayaleloehr commented on #1229
This is a dupe of https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/44 in the VEC repo and also https://github.com/department-of-veterans-affairs/vets-website/issues/938 in this repo.

@cfeeney-va has it for this sprint so we'll try to get this fixed and into production this week.

[2016-02-24 01:07] MarinaMartin commented on #593
This was fixed.

[2016-02-24 01:07] #593 closed

[2016-02-24 03:33] koconnor719 commented on #1223
@emilyville or @dannychapman is this a good design suggestion we should do?  pls. advise on a response i can post:)

[2016-02-24 03:34] koconnor719 commented on #1230
Thank you for your feedback. We'll add this to our user research to see what other Veterans think!

vets.gov team

[2016-02-24 03:36] koconnor719 commented on #1229
@cfeeney-va when you close this; pls close all three issues:)

[2016-02-24 03:37] koconnor719 commented on #1227
Thank you for your feedback. It is unfortunate that anyone would try to take advantage of a Veteran. The Veterans Employment Center (VEC) puts the safety and security of Servicemembers, Veterans, and their families first by storing only general profile information, such as email addresses. The VEC does not store resumes, addresses, phone numbers, dates of separation, or any personally identifiable

[2016-02-24 03:42] #1227 closed

[2016-02-24 03:43] koconnor719 commented on #1198
@EmilyTav any word on blogs

[2016-02-24 03:44] koconnor719 commented on #893
assigning mariana:)

[2016-02-24 14:00] dannychapman commented on #1223
@koconnor719 This has been covered by another story actually - we have text next to a new feedback icon - covered in #1122 and currently ready for our next production push.

[2016-02-24 18:29] maryannbrody commented on #1230
Noted, a customizable wizard comes up a lot.. closing.

[2016-02-24 18:29] #1230 closed

[2016-02-24 18:34] maryannbrody commented on #1194
This user is requesting navigation/menu. CC @emilyville @gnakm as FYI.

Navigation is a huge thing we're looking at in all usability tests. Closing for now, no action needed.

[2016-02-24 18:34] #1194 closed

[2016-02-24 18:35] maryannbrody commented on #1132
@ayaleloehr interesting potential requirement here.. Is this possible?

[2016-02-24 19:25] ayaleloehr commented on #1132
The issue I see is that job seekers don't actually apply to jobs through VEC; they can search jobs on VEC, but all the links take them off site to the company/organization to actually apply, so VEC has no way of knowing what jobs Veterans have applied to.

We could potentially have a place Veterans would self report what jobs they have applied to so they could keep track of them, but I'm not sure

[2016-02-25 13:51] usds-bot opened #1236 "UserVoice Idea: Halftime at private school"
if a student attending a private school selects half time status the maximum yearly tuition rate should adjust

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12473376-halftime-at-private-school

[2016-02-25 14:12] rickleegit commented on #656
Fixed

[2016-02-25 14:12] #656 closed

[2016-02-25 15:05] usds-bot opened #1237 "UserVoice Idea: Testing uservoice in IE11"
Testing uservoice visibility in IE11

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12474216-testing-uservoice-in-ie11

[2016-02-25 20:20] akainic opened #1238 "Refactor handleErrorChange() in healthcare app"
Currently, `handleErrorChange()` in a question component, specifically [here](https://github.com/department-of-veterans-affairs/vets-website/pull/1234/files#diff-2ad410f099d3739ba55cda6f7223cb47R31), is not getting called the first time a change is made to the `TextInputRequired` component. Will need to call it explicitly after props have been set. Reference this: https://facebook.github.io/react/

[2016-02-26 01:25] koconnor719 commented on #1237
test email closed.

[2016-02-26 01:25] #1237 closed

[2016-02-26 02:01] rickleegit commented on #1236
@mh

[2016-02-26 02:02] rickleegit commented on #1236
@mhprogrammer: is this a calculation issue or data issue?

[2016-02-26 02:23] mphprogrammer commented on #1236
I don't know, you would have to ask Patrick. This may be by design, although I suspect its a calculation.

[2016-02-26 02:42] mphprogrammer commented on #1236
@rickleegit What happened to the old tool? I could compare calculations?

[2016-02-26 02:48] rickleegit commented on #1236
I'll talk to Patrick first. Just thought you might know off the top of your head.

[2016-02-26 02:50] mphprogrammer commented on #1236
I'm cloning the old tool and will do a side-by-side comparison.

[2016-02-26 03:10] mphprogrammer commented on #1236
@rickleegit The old tool produces exactly the same results as the new tool, for all enrollment statuses... The only value that changes on both is housing and book stipends.

[2016-02-26 03:11] mphprogrammer commented on #1236
Tuition stays the same...

[2016-02-26 10:53] rickleegit commented on #1236
Thanks @mphprogrammer!

@saintsoup52: Patrick, anything you can tell us about this issue?

[2016-02-26 11:07] saintsoup52 commented on #1236
Ironically this is exactly how the benefit works... Score one for the Comparison Tool!!

Tuition and fees benefits do not diminish for part-time students (only the housing allowance changes).

This is one of those very odd quirks about the benefit you can only explain by showing people... it is also one of the ways to game the benefit.

[2016-02-26 11:11] rickleegit commented on #1236
@koconnor719: Do you need any additional information to craft a response and close this issue?

[2016-02-26 11:12] rickleegit commented on #1236
@saintsoup52: Thanks Patrick!

[2016-02-26 12:54] saintsoup52 commented on #1236
No problem...

I would recommend having VA EDU respond to any benefit type questions... while I can say that the calculator is working how it should be... they can explain that to the user.

[2016-02-26 13:02] koconnor719 commented on #1236
I have to post the response.  Rick can you pls. check w/ EDU and wordsmith the response and post here for me.  Thx.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Patrick Campbell <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, Februa

[2016-02-26 13:03] rickleegit commented on #1236
Yep

--
Rick Lee
Digital Services Expert
US Digital Service @ VA

[2016-02-26 14:37] usds-bot opened #1241 "UserVoice Idea: Bigger font"
Bigger font on content pages.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12486729-bigger-font

[2016-02-26 14:51] usds-bot opened #1242 "UserVoice Idea: Pictures"
You should incorporate pictures into the design.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12486933-pictures

[2016-02-26 15:35] usds-bot opened #1244 "UserVoice Idea: Pins- not just colors"
In addition to the colors for the pins, have you thought of putting in a letter or number on the pin. There are many people who are color blind.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12487314-pins-not-just-colors

[2016-02-26 16:06] emilyville commented on #1244
Yay user voice! Good idea.

[2016-02-26 16:23] ayaleloehr commented on #1244
cc @rickleegit here so he is sure to see this as well.

[2016-02-26 16:41] rickleegit commented on #1244
We are planning on doing driving distances in the pins, but we definitely need to consider color blind users!

[2016-02-26 18:09] rickleegit commented on #1236
Stephanie and Eddie, I will follow up with an email as well, but wanted to expose this issue to you here, too.

cc: @steffieP, @ericks24

[2016-02-26 20:15] rickleegit commented on #1236
Adding response to GH as requested:

@koconnor719, we can use the following for the SME part of the response:

Enrollment status does not effect the tuition amount the veteran will receive. Enrollment status determines, in part, basic housing allowance. Changing your enrollment status will not change the tuition benefit amount in the Gi Bill Comparison Tool results.

[2016-02-26 22:42] ayaleloehr commented on #1244
Reached out to a friend and he sent some links that could be relevant to this topic if people are interested:

https://www.mapbox.com/blog/colorblind-simulation/
http://colorbrewer2.org/
https://github.com/mapbox/colorbrewer-carto

[2016-02-26 23:56] emilyville commented on #1244
Craig, on our team would also be very knowledgeable - he's both a usability
specialist as well as color blind himself.

[2016-02-27 00:39] koconnor719 opened #1248 "quick links - Veteran feedback"
can we review the quick links? there are links for all of the "resources" except VEC?  we are getting Veteran user feedback is that users can't find employment information. can we consider making a quick link for employment? (not "vec" but something relevant to employment--like "create a civilian resume" or something?

  also, can we revisit the yellow bar on "how can i find VA locations" why does

[2016-02-27 00:42] emilyville commented on #1248
OK, sure. I think having a careers and employment section should solve
this, so i propose we visit after.

The yellow bar and facility location sound like separate issue...

[2016-02-27 00:56] koconnor719 commented on #1248
sure i can break out to 2 issue, but was thinking this issues was just to review all the quick links based on on our user research to date and in anticipation of launching new careers and employment.  for the yellow bar,  "what education benefits are available by school" is also a link to the GI tool, but that doesn't have a yellow bar. (i thought maybe b/c they went to one of our services that wa

[2016-02-28 01:20] koconnor719 commented on #1242
posted response and closed:
Thanks for your feedback! Vets.gov intentionally does not have pictures based on user research we and other similar sites have conducted. On a transactional government site, users want to get in and get out - and we therefore strive to provide the clearest layout and language possible, without any visuals that could distract from what they're looking for.

However, we w

[2016-02-28 01:20] #1242 closed

[2016-02-28 01:20] koconnor719 commented on #1241
closed; test message during demo

[2016-02-28 01:20] #1241 closed

[2016-02-28 01:23] koconnor719 commented on #1236
posted and closed

Thank you for your feedback. Enrollment status does not effect the tuition amount a Veteran will receive. Enrollment status determines, in part, basic housing allowances. Changing your enrollment status will not change the tuition benefit amount in the Gi Bill Comparison Tool results.

vets.gov team

[2016-02-28 01:23] #1236 closed

[2016-02-28 01:25] koconnor719 commented on #1244
@rickleegit pls. provide a response i can post based on what you are doing w/ FL. is this something that will happen shortly? or does it require further research

[2016-02-29 12:04] koconnor719 opened #1249 "Blog page "experience" text box?"
is the blog page supposed to function this way--with the yellow experience box moving down the page as you scroll?

![screen shot 2016-02-29 at 7 02 54 am](https://cloud.githubusercontent.com/assets/13770771/13393943/9b4b030c-deb2-11e5-8d15-bc8f4055b334.png)

the yellow box moves w/ the page as you scroll.

![screen shot 2016-02-29 at 7 04 11 am](https://cloud.githubusercontent.com/assets/13770771

[2016-03-02 21:17] usds-bot opened #1272 "UserVoice Idea: Apply for Benefits link on each claim type"
There should be a button on the page for each type of claim that will take you to the Apply for Benefits page. Saves a step from having to backtrack and find it.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12570144-apply-for-benefits-link-on-each-claim-type

[2016-03-03 04:24] koconnor719 opened #1291 "GitHub / Waffle issue?"
potential bug in github or waffle with automatically unassigning, closing, and removing issues from current sprint.
![screen shot 2016-03-02 at 11 19 55 pm](https://cloud.githubusercontent.com/assets/13770771/13484671/f5ee6192-e0cd-11e5-92a0-f177a893c423.png)

assigning jeff to review--and assign as appropriate:)

[2016-03-03 15:45] koconnor719 opened #1292 "Blind testing request from Sec"
Chris O'Connor is our assistant secretary for congressional affairs. This needs to go through him. There was a congressman Complaining about VA.gov not being accessible for blind veterans, would be good to show him vets.gov with a screen reader.

[2016-03-03 16:23] plusjeff commented on #1291
@koconnor719 : What's the link to the issue this happened with?

[2016-03-03 17:04] usds-bot opened #1294 "UserVoice Idea: Vetting Employers"
Employers need to be vetted properly. I recieve at least 1 offer a week from work at home scams targeting veterans.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12593757-vetting-employers

[2016-03-03 19:03] koconnor719 commented on #1291
one of them was in employment center github issue #73

[2016-03-03 19:13] plusjeff commented on #1291
Not seeing the issue in VEC 73: https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/73

[2016-03-04 02:55] koconnor719 opened #1305 "feedback forum has moved"
the feedback forum has changed randomly on 3/3?; it's now on the left side of page and you can no longer click on "feedback forum and see the entire list of comments.  it appears this has reverted back to old version of how we had this?  checked this on safari and chrome if that matters.  can we go back to the way it was before?

@emilyville @awong-dev

![screen shot 2016-03-03 at 9 49 03 pm](http

[2016-03-04 05:14] ayaleloehr commented on #1305
cc @dannychapman since I know he was working on the feedback section at one point.

[2016-03-04 18:29] rickleegit opened #1308 "Vets.gov header for tools - for discussion and consideration"
**Context**:
- On both the CT and the FL tools, certain interactions require page reloads.
- In certain situations, that reload returns to the user what appears to be the same page, with different data populated or refined.
- The user is required to scroll down on the page to view results or reengage tool features or content.

**Example: **
https://github.com/department-of-veterans-affairs/vets.go

[2016-03-04 18:57] emilyville commented on #1308
My gut reaction is no. We shouldn't make a tools specific header at this point. If we need to have a globally less  bulky header that's definitely a thing we could consider.

More better - would be reloading the content without refreshing the page or scrolling to the top. In my experience this is way less hard than redesigning global elements.

[2016-03-04 19:00] rickleegit commented on #1308
"reloading the content without refreshing the page or scrolling to the top"

This would be the better way of handling this. Not sure what is possible in terms of passing variables through cookies instead of URLs. CCing @ayaleloehr

[2016-03-04 19:08] emilyville commented on #1308
Adding an anchor and reloading to that place on the page would be a pretty low-fi interim hack, not ideal long term but would be awesome for a prototype.

[2016-03-04 19:10] rickleegit commented on #1308
That might work. Worth a try. Thanks!

On Fri, Mar 4, 2016 at 2:08 PM, emilyville <notifications@github.com> wrote:

[2016-03-04 21:13] koconnor719 opened #1312 "Crisis line content page"
request from VA leadership (M. Eutitis) to have a page of content for the crisis line to help explain to Veterans when it's appropriate to call this line (70% of calls are not suicide related). anticipating a short paragraph of new content with a link to the existing chat feature. contact for content is Julian Mullaine Julianne.Mullane@va.gov

can someone reach out to julianne to get this page sta

[2016-03-04 21:23] koconnor719 opened #1313 "IA comments"
summary of comments for Mary Ann and team to review for IA:)

- include homeless call center telephone and chat where appropriate in IA; this is a call center set up specifically for homeless issues:

http://www.va.gov/homeless/
<img width="226" alt="screen shot 2016-03-04 at 4 24 41 pm" src="https://cloud.githubusercontent.com/assets/13770771/13540636/acd69246-e225-11e5-9fbb-7d5df40ed213.png">

-

[2016-03-04 21:58] mollyblake commented on #1312
@koconnor719 I will reach out to her and set something up. FYI @rcarthur @maryannbrody

[2016-03-04 23:06] mariana-almeida commented on #1312
I would reinterpret the issue as the following: we have a crisis line phone number in full and without context on the home page. The phone number doesn't appear clickable, which it is. When you click it you get all the context of when to call, options like chat, etc. I believe we should develop a page that explains all that the [destination page](https://www.veteranscrisisline.net/) does.

I would

[2016-03-04 23:12] koconnor719 commented on #1312
The crisis line people are going to provide us text for this page.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Mariana Almeida <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 4, 2016 at 6:06 PM
To: department-of-veterans-affa

[2016-03-04 23:21] mariana-almeida commented on #1312
Kelly, I omitted a crucial "**NOT**" from my original statement. Apologies! Here's the edit: "I believe we should NOT develop a page that explains all that the destination page does."

Instead, we can just make the ask clearer -- not to call right away but to go see to the web page and view the caveats of when to use this phone number -- what's available on the crisisline.net site.

Basically, I w

[2016-03-04 23:30] koconnor719 commented on #1312
Can we sync on the context for this Monday:)

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Mariana Almeida <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 4, 2016 at 6:21 PM
To: department-of-veterans-affairs/vets-website <vets

[2016-03-04 23:43] mariana-almeida commented on #1312
Ok, sounds good. I'll connect with you then. Have a good weekend!

[2016-03-05 11:11] #1308 closed

[2016-03-05 13:06] ayaleloehr commented on #1308
Adding to the conversation late, but "reloading the content without refreshing the page or scrolling to the top" is just an ajax call, so that's simple.  But that won't give you the nice URL that I think you're looking for @rickleegit , where the URL explains exactly what's on the page and you can send someone a link to it.  Whether it's more valuable to have that info in the URL or to have the UX

[2016-03-05 13:48] koconnor719 commented on #1057
closed and  posted response:

Thank you for your feedback.  We've added a new blog "Designing Vets.gov"  https://www.vets.gov/2016/03/02/designing-for-veterans.html, and have several more in the queue!

vets.gov team

[2016-03-05 13:48] #1057 closed

[2016-03-05 13:50] koconnor719 commented on #1249
@gnakm is this working as it should?  the experience box seems odd?  if this is how it is supposed to be working, then pls. close this issue.

[2016-03-05 13:54] koconnor719 commented on #1294
Thank you for your feedback. The Veterans Employment Center (VEC) team carefully vets all employers on the VEC and puts the safety and security of Servicemembers, Veterans, and their families first. We have a blog post to help warn Veterans about protecting themselves from phishing attacks “Veterans Employment Center Website: False Claim of Breach” at http://www.blogs.va.gov/VAntage/23299/veterans

[2016-03-05 13:54] #1294 closed

[2016-03-05 13:54] koconnor719 commented on #1294
Thank you for your comment. The Veterans Employment Center (VEC) team carefully vets all employers on the VEC and puts the safety and security of Servicemembers, Veterans, and their families first. We have a blog post to help warn Veterans about protecting themselves from phishing attacks “Veterans Employment Center Website: False Claim of Breach” at http://www.blogs.va.gov/VAntage/23299/veterans-

[2016-03-05 13:58] koconnor719 commented on #1272
Thank you for your feedback. That's a great idea!  We will add this to our user testing and see what Veterans think! If we get positive feedback on this idea, we'll add it to the site.

vets.gov team

[2016-03-05 14:00] koconnor719 commented on #1272
added a "user research" label so i can tag these items for mary ann more accurately from user voice.  "design" doesn't seem entirely accurate?? since these items first need to be researched and validated.  @maryannbrody @emilyville

[2016-03-05 14:01] koconnor719 commented on #1244
@rickleegit need to post a response on the website for this. can you pls. follow up and provide response for me when you have a minute.  thanks! @craigjh

[2016-03-05 14:03] koconnor719 commented on #1229
@cfeeney-va is this closed yet?  i'd like to provide response on the site if it is.

[2016-03-05 14:04] koconnor719 commented on #963
@cfeeney-va  can you pls. post a comment here w/ status on this issue?  i need to post a response on the site.

[2016-03-05 14:10] koconnor719 commented on #1122
team something happened to the feedback forum that needs to be reverted back to the way it was; see issue #1305  @awong-dev albert thanks for offering to look into this.  it is NOT urgent at all, but we should change it back to the way it was before this last product push on 3/3--because that format was based on user feedback.  @emilyville

[2016-03-05 14:12] koconnor719 commented on #1132
i think this requirement is not in line w/ our vision for VEC functionality with applying for jobs--we are moving in direction to have a linkedin badge and no longer a standalone VEC profile bank.  i'm closing this issue b/c it's not on our roadmap and should not be included in user research.

[2016-03-05 14:14] #1132 closed

[2016-03-05 14:15] koconnor719 commented on #1071
reassigning to molly since ric is out:)

[2016-03-05 14:15] koconnor719 commented on #1203
@cfeeney-va can you pls post an update to the status of this issue in a comment.

[2016-03-07 11:48] rickleegit opened #1325 "Existing FL - Map Tiles Not Loading"
@ayaleloehr: Map tiles are not rendering this morning. I have tried to load on and off VPN; in Chrome and Safari with the same behavior. Screenshot attached. Can you reproduce this error?

<img width="1438" alt="screen shot 2016-03-07 at 6 45 27 am" src="https://cloud.githubusercontent.com/assets/11138830/13568622/7e969040-e430-11e5-8683-5bf9537beef4.png">

[2016-03-07 11:49] rickleegit commented on #1244
Working on this ask. Right now the FL is not loading the map tiles properly. Need to fix that first.

[2016-03-07 14:22] ayaleloehr commented on #1325
I can reproduce. The code has not been changed recently. Looking at the developer console, it also seems the Google Maps tiles are being returned correctly (not an API error).  The error is `Uncaught TypeError: Cannot read property 'querySelector' of null` coming from `/assets/js/vendor/menu.js`

[code]
@awong-dev could this be related to the JS bundle errors last week?

[2016-03-07 14:44] gnakm commented on #1249
@koconnor719 That is most definitely not supposed to do that so I will try to fix it.

[2016-03-07 16:01] koconnor719 commented on #1291
i can't replicate this sorry; can i close this.

[2016-03-07 16:34] emilyville commented on #1249
I'm 90% sure this was intentional, but i don't mind if we want to change it to make it like the rest of the breadcrumbs. I don't feel like that's a super urgent fix though, since imho nothing is broken ;)

[2016-03-07 20:46] bethpotts opened #1328 "breadcrumb fix for Accredited Rep (Get Help Filing a Claim) page"
On this page:
https://staging.vets.gov/disability-benefits/apply-for-benefits/help/index.html

In the breadcrumbs, the word "For" in "Apply For Benefits" needs to be lowercased.

[2016-03-07 20:57] emilyville opened #1329 "Markdown links broken"
Under "Before enrolling at your foreign school" the links are funky and broken.

https://www.vets.gov/education/gi-bill/foreign-programs/

![screen shot 2016-03-07 at 12 53 45 pm](https://cloud.githubusercontent.com/assets/1307774/13582981/f83237c8-e463-11e5-9fa6-a106042f01e2.png)

[2016-03-08 01:37] emilyville commented on #1329
@bethpotts approved! and a new image with the bullets
![screen shot 2016-03-07 at 5 37 04 pm](https://cloud.githubusercontent.com/assets/1307774/13589251/41315c66-e48b-11e5-8424-6cfae1c760f2.png)

[2016-03-08 05:44] awong-dev commented on #1329
LGTM

[2016-03-08 05:45] #1329 closed

[2016-03-08 05:47] awong-dev commented on #1325
not bundling per se...but likely related.

It can't find div.overlay.

[2016-03-08 05:48] awong-dev commented on #1325
will need to talk with you tomorrow. I don't understand this page's structure enough to fix it.

[2016-03-08 13:31] ayaleloehr commented on #1325
I don't believe there is a div.overlay. Looks to me like that menu.js file is from a newer commit to "Move healthcare-app JS into webpack" but it's still being loaded when the facility locator page is loaded?  Ping me when you have time for this today @awong-dev and we'll work through it. Thanks!

[2016-03-08 16:08] usds-bot opened #1334 "UserVoice Idea: Site extremely difficult to manuver"
Can't get in touch with anyone..... site nearly impossible to maneuver. If you have an urgent problem, you'd be dead before you could get an answer!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12856230-site-extremely-difficult-to-manuver

[2016-03-08 16:08] usds-bot opened #1335 "UserVoice Idea: Test"
hello

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12856032-test

[2016-03-08 17:17] nsinai commented on #1328
I can't see the staging site

[2016-03-08 18:33] bethpotts commented on #1328
Here it is!
https://vets-website-pr-1304.herokuapp.com/

[2016-03-08 18:35] bethpotts commented on #1328
Sorry, you don't need staging. It is just this:
vets.gov/disability-benefits/apply-for-benefits/help/index.html

[2016-03-09 00:43] emilyville opened #1349 "Make this page a subway map"
in pr #1304
https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/less-than-one-year/

Make it a subway map, like this:
https://staging.vets.gov/disability-benefits/apply-for-benefits/

cc/ @rcarthur if there is anything I'm missing!

[2016-03-09 01:24] koconnor719 commented on #1334
Thank you for your feedback. We are sorry to hear you are having difficulty on vets.gov.  We invite you to be part of our user research if you would like to provide our team with specific feedback.  Please contact us at feedback@va.gov and we will schedule a session at your convenience.

vets.gov team
@maryannbrody

[2016-03-09 01:25] #1334 closed

[2016-03-09 01:26] koconnor719 commented on #1335
closed; no feedback.

[2016-03-09 20:35] usds-bot opened #1361 "UserVoice Idea: Kicker Info"
Give more info on Kicker Eligibility for those who signed up for Ch. 30 and switched to Ch 33. I got the 50,000 kicker for the Marine Corps College Fund but do not know what to put for amount as I'm sure that I'm not going to get $150,000 per term for Housing Allowance.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12872541-kicker-info

[2016-03-09 20:38] koconnor719 commented on #1361
@rickleegit pls. advise on response.

[2016-03-09 20:39] koconnor719 commented on #1212
closing issue; future functionality will render obsolete.

[2016-03-09 20:39] #1212 closed

[2016-03-09 20:40] koconnor719 commented on #963
@cfeeney-va can  you pls. post status.

[2016-03-09 20:41] koconnor719 commented on #1203
@cfeeney-va is this done? can you pls. update status.

[2016-03-09 20:54] cfeeney-va commented on #963
functionality exists; follow-up ticket in veterans-employment-center, task #216

[2016-03-09 20:54] #963 closed

[2016-03-09 20:55] cfeeney-va commented on #1229
functionality has been written, will most likely go out at the end of this sprint.  needs some additional manual testing that's planned for this week.

[2016-03-09 21:20] rickleegit commented on #1361
Reached out to Barrett, et. al for an EDU response.

On Wed, Mar 9, 2016 at 3:38 PM, koconnor719 <notifications@github.com>
wrote:

[2016-03-09 21:42] cfeeney-va commented on #1203
Working on it now; have to get uservoice password from marina again

[2016-03-09 22:39] emilyville opened #1362 "Careers and Employment breadcrumb inconsistency"
Is this supposed to switch breadcrumb titles ?

Careers and Employment
![screen shot 2016-03-09 at 2 37 29 pm](https://cloud.githubusercontent.com/assets/1307774/13653082/8057c89c-e604-11e5-99c8-c5dced32c71d.png)

To just Employment
![screen shot 2016-03-09 at 2 36 34 pm](https://cloud.githubusercontent.com/assets/1307774/13653072/6f059042-e604-11e5-9c2a-3ff275484e75.png)

I'm assuming no, so I'll

[2016-03-09 22:41] emilyville opened #1363 "Put this button in the same place at the bottom of the screen consistently in Careers and Employment"
![screen shot 2016-03-09 at 2 39 44 pm](https://cloud.githubusercontent.com/assets/1307774/13653183/f3386808-e604-11e5-9738-3a5489df108a.png)

otherwise it seems weird UX-wise.

[2016-03-09 22:44] emilyville opened #1364 "Add section titles"
otherwise overwhelming amount of options.
![screen shot 2016-03-09 at 2 42 15 pm](https://cloud.githubusercontent.com/assets/1307774/13653221/36d0c29a-e605-11e5-9ba6-c485ca19ba13.png)

Currently in the service

	[one year left]
	[less than one year]
	[rapid transition]
	[Support for Military Families]

Veteran

	[Veteran Employment Support]
	[disabled veterans]
	[Support for Veteran Families]

cc

[2016-03-09 22:49] emilyville commented on #1248
I am not really sure what to do to address this issue. If you can point me towards the user research you're referencing I might have more insight, but as it is I'm not sure what the next steps are for this.

The yellow bar is for "tools" or "apps"
No yellow bar is for content pages.

[2016-03-09 22:49] #1335 closed

[2016-03-09 22:50] emilyville commented on #1313
Assigning to Mariana as it seems relevant to #1312

Might be worth consolidating.

[2016-03-09 22:51] emilyville commented on #1305
this was a deployment issue and it was fixed. closing.

[2016-03-09 22:52] #1291 closed

[2016-03-09 22:52] emilyville commented on #1291
We can reopen if this happens again.

[2016-03-09 22:55] emilyville commented on #1231
![screen shot 2016-03-09 at 2 54 57 pm](https://cloud.githubusercontent.com/assets/1307774/13653496/ef0c5df0-e606-11e5-923e-ff57d01d1a6d.png)

[2016-03-09 22:58] emilyville commented on #1223
@koconnor719 We can respond to them that we're working on it.

Everyone else, I'll leave the issue open until we have a chance to address it. Some day soon, hopefully :)

[2016-03-09 23:05] mariana-almeida commented on #1313
Sounds good. This is already part of the Preventing Homelessness IA. It's good to know where it came from.

[2016-03-10 00:02] koconnor719 commented on #1305
Ty!!!!

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, March 09, 2016 05:52 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] feedback forum has moved (#1305)

this was a deployment issue and it was fixed. clos

[2016-03-10 00:10] emilyville commented on #1364
![screencapture-0-0-0-0-4000-employment-job-seekers-1457568557371](https://cloud.githubusercontent.com/assets/1307774/13655043/60b7d6b4-e611-11e5-8ec3-7f5b8d3a8cdb.png)

[2016-03-10 00:22] emilyville opened #1367 "Cards and option text separate"
Is this intentional? Assuming no, so I'll assign it to myself to fix - and put the words in the cards.

![screen shot 2016-03-09 at 4 21 20 pm](https://cloud.githubusercontent.com/assets/1307774/13655293/2d0c98e8-e613-11e5-9bd8-bfd2c63b9b25.png)

@rcarthur please let me know if I'm missing something here

[2016-03-10 00:24] gnakm commented on #1362
@emilyville You're right! It is supposed to be Careers and Employment.

[2016-03-10 00:30] emilyville opened #1368 "Don't make anyone select "job seeker" twice"
Currently in the new Careers and Employment to VEC relationship if you ever click on the "Veteran Employment Center" button you're jumped out of the flow and you may have to repeat all the same selections again, i.e. again selecting whether you're a job seeker or employer. Let's send the button to the correct corresponding page.

For job-seekers it would be a page with these options:

1. Skills Tr

[2016-03-10 00:35] emilyville opened #1369 "Reconcile Employment/employers page with VEC equivalent"
https://vets-website-pr-1304.herokuapp.com/employment/employers/

This page appears to have something special happening.

![screen shot 2016-03-09 at 4 28 30 pm](https://cloud.githubusercontent.com/assets/1307774/13655422/0d21028e-e614-11e5-8be3-dbb1cd4efec4.png)

Also likely needs to be reconciled with this page
https://www.vets.gov/veterans-employment-center/employers

So we can remove one.

[2016-03-10 00:44] emilyville opened #1370 "Make all job search links go directly to job search page"
i.e. send them to here: https://www.vets.gov/veterans-employment-center/search_jobs
instead of here: https://www.vets.gov/veterans-employment-center/for_job_seekers

[2016-03-10 03:32] emilyville opened #1372 "Make a smarter way to link to veterans employment center (old) from vets-website"
For stuff like this we should be smarter, maybe set a variable somewhere so there's just the one spot this is set.
`<a href="https://www.vets.gov/veterans-employment-center/createresume/">THING</a>`

.... and then replace then all.

Tagging @ayaleloehr @awong-dev @plusjeff since I think it's possible whatever solution also works for other tools.

(Maybe we already have a way and I just don't know

[2016-03-10 03:37] emilyville opened #1373 "pages that have no apparent template"
https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/one-year-left/

https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/one-on-one/

https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/interest-profiler/

[2016-03-10 04:28] emilyville opened #1374 "Employer landing redundancy of content"
This page
https://www.vets.gov/veterans-employment-center/employers

And this page
https://vets-website-pr-1304.herokuapp.com/employment/employers/

[2016-03-10 04:44] emilyville opened #1375 "this page is linking to itself"
Is something else supposed to go in the last piano key?

https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/start/register/

[2016-03-10 04:53] awong-dev commented on #1372
Yeah...isn't this where Jekyll configs come into play?

[2016-03-10 04:58] emilyville opened #1376 "These piano keys are too small"
/employment/job-seekers/alternative/

![screen shot 2016-03-09 at 8 56 41 pm](https://cloud.githubusercontent.com/assets/1307774/13659813/950ff856-e639-11e5-9070-784a7efcf93f.png)

[2016-03-10 05:05] emilyville opened #1377 "Make code block more code-snippety"
And not so huge

https://vets-website-pr-1304.herokuapp.com/employment/employers/post-a-job/

carried over from https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/193

[2016-03-10 05:27] emilyville opened #1379 "piano keys need to be consistently treated"
They should look like this
![screen shot 2016-03-09 at 9 26 46 pm](https://cloud.githubusercontent.com/assets/1307774/13660293/a525340a-e63d-11e5-97df-8b5b1c466253.png)

not like this
![screen shot 2016-03-09 at 9 26 01 pm](https://cloud.githubusercontent.com/assets/1307774/13660284/8d7e06c4-e63d-11e5-910e-502099a463b7.png)

Unless there is some rationale I do not know about.

[2016-03-10 14:11] cfeeney-va commented on #1203
this functionality didn't seem to exist in the trial version of zapier i was looking at; marina is getting me the info for our actual zapier account and i'll see if we have access to more

[2016-03-10 20:29] maryannbrody commented on #1292
Update -- I emailed Pat Sheehan to get his help. I do not have bandwidth to do a usability study with blind veterans in the next couple of weeks, so hoping he can help us make a quick video with a screen reader. If he can't, I will explore other options.

[2016-03-10 20:41] mariana-almeida commented on #1312
I chatted with Julianne to discuss. She agreed to the following change to the yellow rectangle near our footer:

Present text:
Veterans Crisis Line 1-800-273-8255 (Press 1)

Proposed edit.
Veterans Crisis Line: call, chat, or text 24/7

I would like "call, chat, or text 24/7" to be underlined to show it's a hyperlink if possible.

This should go into our content change request excel, but what is t

[2016-03-10 23:46] emilyville opened #1391 "Make a hiring committment page"
https://vets-website-pr-1304.herokuapp.com/employment/employers/commitments/index.html

All the way at the bottom where it says: "Make a commitment. View current commitments. [*this requires a design element]"

correlates/replaces this page
https://www.vets.gov/veterans-employment-center/commitments

Where if you do log in I think this sign in element changes to:
![screen shot 2016-03-10 at 3 43 4

[2016-03-11 10:56] ayaleloehr commented on #1325
Closed via 2dd6c46eea4ff5c708592783d9294d00cb2806bb and a push to production.

[2016-03-11 10:56] #1325 closed

[2016-03-11 15:05] cfeeney-va commented on #1229
merged in pull request #212 in veterans-employment-center

[2016-03-11 15:05] #1229 closed

[2016-03-11 19:18] emilyville commented on #1312
Currently the whole thing is a link, like a button that goes to https://www.veteranscrisisline.net. I really like this about it because it makes it really easy on mobile to click anywhere on the yellow. If we're not adding any more link destinations, making the text the links (which is what I think is bring proposed?) actually diminishes how easy this is to use.

I think changing the text is total

[2016-03-11 19:53] usds-bot opened #1398 "UserVoice Idea: not necessarily the case look reginal offices in states with less volume caught PUERTO RICO cases much understaffed volumeAppeals"
Not necessarily the case look RO  in states with less volume caught   PUERTO RICO cases much understaffed volume

http://veterans.uservoice.com/forums/353622-appeals/suggestions/12901713-not-necessarily-the-case-look-reginal-offices-in-s

[2016-03-11 20:54] emilyville opened #1399 "Skills Translator copy update"
Copy to go in skills translator page
https://www.vets.gov/veterans-employment-center/skills-translator

before launch:
Servicemembers,Veterans, and their families have highly valued soft skills such as reliability, commitment, and discipline, as well as sought-after hard skills in areas such as computer networking, information systems, and foreign languages. The Skills Translator converts relevant

[2016-03-11 21:32] emilyville opened #1400 "Resume Builder copy update"
Here is the resume builder page:
https://www.vets.gov/veterans-employment-center/createresume

This is from pivotal:

[Link to ebenefits]

@bethpotts @lanaduffy I don't understant you added a link to ebenefits before beginning the resume builder? This would not help someone complete their resume - ebenefits does not have this capability, however the page you would already be on does.

I'm also won

[2016-03-11 23:53] koconnor719 commented on #1312
Let's add this to list when u r here next week. Sr va person is requesting a change so if we don't think that's good experience in happy to just say no😀

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, March 11, 2016 02:19 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc:

[2016-03-12 00:33] mariana-almeida commented on #1312
Change text to:

"Veterans Crisis Line: call, chat, or text 24/7"

@emilyville has reviewed it and agrees.Link goes to the website generally, not indiv links.

@gnakm - do you have any mock ups of this UI element that is more like a button? I am concerned it doesn't look clickable, and will be confusing. It was confusing with a phone number in it, and might still be even though it won't have a pho

[2016-03-12 01:49] usds-bot opened #1401 "UserVoice Idea: C&P exams results should be available to all Vets instead of having some vets go through a long process if they are contracted outVets.gov"
When C&P exams are done by contracted services they should be available to veterans on myhealthevets like the ones done by the VA. They have there results in 3 days but the contracted exams have to go through all the red tape of writing the VARO or release of information form. It doesnt make sense to have some veterans get info readily available and some having to wait or for that matter go throug

[2016-03-14 01:43] usds-bot opened #1404 "UserVoice Idea: ScamsVets.gov"
Be cautious of job offers! I accepted one only to learn that it was a fraud. The job offers I got were for at home jobs. Luckily I have good bankers and a friend who is an attorney and they stopped the fraud before the "company" got their claws into me. If a company gets back to you and wants to interview you via Google Messenger, Google hangouts, or any other messaging service, be cautious. I eve

[2016-03-14 10:28] rickleegit commented on #1361
EDU has a draft of this response, but it needs to be socialized and approved, early this week, by Rodney who was out last week.

[2016-03-14 10:39] rickleegit commented on #1244
@koconnor719,

Thank you for your input! We are working on a newer version of the facilities locator. The new version will use a visual design system that will ensure that color blind users can easily identify each facility type regardless of the color of the pin. To assist color blind users, the current version uses text cues to assist in distinguishing the various facility types on the map. Thes

[2016-03-14 13:20] rickleegit commented on #1361
**@koconnor719 EDU Response**: Thank you for your feedback about kickers. Kickers or the college fund are calculated and provided on a monthly basis with GI Bill payments. We will provide more information on how kickers are calculated – including the addition of a conversion chart – to the About this Tool page.

[2016-03-14 14:20] koconnor719 commented on #1305
this is not closed.  the feedback forum appears differently on throughout the site. i think it should be consistent if that is in line w/ UX best practice? we had it formatted like this based on user feedback before--users want to be able to see all the feedback --and not have to go thru entering a comment first.

<img width="648" alt="screen shot 2016-03-14 at 10 17 55 am" src="https://cloud.gith

[2016-03-14 14:27] emilyville opened #1405 "User voice link discrepancy between vets-website and"
Vets-website has the new design hotness for the user voice logo
![screen shot 2016-03-14 at 10 23 07 am](https://cloud.githubusercontent.com/assets/1307774/13747491/d69ba0a2-e9ce-11e5-98e5-1001fde8c6e9.png)

and all the old repos have the desired functionality
![screen shot 2016-03-14 at 10 23 02 am](https://cloud.githubusercontent.com/assets/1307774/13747490/d690eae0-e9ce-11e5-83bf-4c8bcf909d83.p

[2016-03-14 15:09] cfeeney-va commented on #1203
Couldn't find support for this on the zapier site or any other resources that would accomplish it.  Emailed zaiper support to see if this is functionality that they currently have.

[2016-03-14 16:26] usds-bot opened #1406 "UserVoice Idea: page display suggestionVets.gov"
I think the website is very busy in the look and application and may be too much for some to handle at one time, too many side links to get the job done. It dose provide a lot of information that is interesting and informative but when the application is up it should just display what is needed to get the information on the page. The most important part is to get the condition documented, and find

[2016-03-14 22:02] usds-bot opened #1414 "UserVoice Idea: Change the order of employment entriesVets.gov"
Have an option where users can change the order of entries without having to delete an entire entry only to have to rekey the same information.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12933000-change-the-order-of-employment-entries

[2016-03-14 22:02] usds-bot opened #1415 "UserVoice Idea: Increase user optionsVets.gov"
Have an option where users can delete duplicate sections that have the same information.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12932973-increase-user-options

[2016-03-14 22:05] bethpotts opened #1416 "breadcrumb fix on Careers and Employment page"
On this page:
https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/employment-support/
... there are piano keys. When I click any of the piano keys, I go to a page that is missing Veteran Employment Support in the breadcrumbs.

So, for instance, this page:
https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/alternative/
... has the following breadcrumbs (that are missing

[2016-03-15 02:09] koconnor719 commented on #1404
posted and closed:
It is unfortunate that anyone would try to take advantage of a Veteran. The Veterans Employment Center (VEC) puts the safety and security of Servicemembers, Veterans, and their families first. VA reports all suspicious activity, suspected corporate fraud, or phishing activities immediately to the Federal Bureau of Investigation (FBI) and we immediately referred this case to them

[2016-03-15 02:11] #1404 closed

[2016-03-15 02:12] koconnor719 commented on #1401
@MarinaMartin or @rcarthur could you pls. provide a response to this?

[2016-03-15 02:15] koconnor719 commented on #1406
closed and posted (unclear what pages are being referenced).

Thank you for your feedback. We invite you to participate in our user research activities in order to better understand your suggestions, and which pages on our site you are referencing. If you are interested, please contact our team at feedback@va.gov.  Session are scheduled at your convenience, and take only 30 minutes.

vets.gov team

[2016-03-15 02:15] #1406 closed

[2016-03-15 02:18] koconnor719 commented on #1414
Thank you for your feedback.  Can you provide us with some additional information so we can take action on your feedback? Which pages are you referring to on the Veterans employment center? Are you using vets.gov as a job seeker or an employer?

vets.gov

[2016-03-15 02:21] koconnor719 commented on #1415
posted and closed; action is to contact feedback@va.gov.

Thank you for your feedback. Can you provide us with some additional information so we can take action on your suggestions?  We invite you to participate in our Veteran user testing to provide detailed feedback about vets.gov.  Please contact feedback@va.gov if you are interested.  Sessions are scheduled at your convenience and take only 30

[2016-03-15 02:21] #1415 closed

[2016-03-15 02:24] koconnor719 commented on #1398
Posted and closed; feedback unclear.

Thank you for your feedback.  Can you provide us with some additional details so we can take action on your suggestion?  Please contact us at feedback@va.gov to participate in our Veteran user research. Sessions are scheduled at your convenience and take only 30 minutes.

vets.gov team

[2016-03-15 02:27] koconnor719 commented on #1398
@gmorgana-va is this an appeals comment?  are the user voice comments both appearing here???  this is confusing and we should separate appeals user voice comments into appeals repo.

[2016-03-15 02:32] koconnor719 opened #1421 "Appeals User Voice Comments are going to vets.gov repo"
appeals team is now using user voice; appeals comments should be routed to separate repo; see issue #1398

@gmorgana-va

![screen shot 2016-03-14 at 10 31 16 pm](https://cloud.githubusercontent.com/assets/13770771/13765984/804889e8-ea34-11e5-94ea-9e3d6ca08fd3.png)

![screen shot 2016-03-14 at 10 30 59 pm](https://cloud.githubusercontent.com/assets/13770771/13765977/742201bc-ea34-11e5-9c19-0d00018c

[2016-03-15 04:53] MarinaMartin commented on #1421
They actually are not, I am deleting this forum tomorrow.

[2016-03-15 06:08] MarinaMartin commented on #1421
Turned off the appeals forum, they are not using it.

[2016-03-15 06:08] #1421 closed

[2016-03-15 11:29] usds-bot opened #1422 "UserVoice Idea: BAH"
How accurate are these BAH numbers?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12940545-bah

[2016-03-15 11:57] usds-bot opened #1423 "UserVoice Idea: Documents overdue. I would like an explanation of what documents and who is late with them"
I would like to see an App for ebenefits. Working off Safari leads to some problems such as not being able to log off. Can also be a little difficult to navigate at times.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12941061-documents-overdue-i-would-like-an-explanation-of

[2016-03-15 13:09] koconnor719 commented on #1422
@rcarthur do you know what a BAH number is?  can you provide me a response for this?

[2016-03-15 13:22] ayaleloehr commented on #1422
BAH is Basic Allowance for Housing. This question is likely asking about the GI Bill's "housing allowance" numbers. cc @rickleegit @mphprogrammer

[2016-03-15 13:23] koconnor719 commented on #1423
posted and closed.

Thank you for your feedback. Because we are building vets.gov in the open, we are building out small parts of the site and then getting Veteran feedback. We are planning to start work on benefits in the summer 2016, so please check back on vets.gov to see our progress! We also welcome you to participate in our user research activities to provide detailed feedback about vets.gov

[2016-03-15 13:23] #1423 closed

[2016-03-15 13:28] rickleegit commented on #1422
I will follow up with EDU on this.

[2016-03-15 13:46] ayaleloehr commented on #1415
I believe this may be the same as [this issue](https://github.com/department-of-veterans-affairs/vets-website/issues/938). If so, @cfeeney-va put in a fix last week and it will be in production by the end of the week.

[2016-03-15 20:11] koconnor719 commented on #1201
assigning to stacey to decide repo (per emdash suggestion) and next step.

[2016-03-15 20:15] koconnor719 commented on #1248
research-of-one just me:)  that makes sense about the yellow bar--but  "what eduction benefits are available by school" is also a too-- but no yellow bar?  you can close this if no action but just wanted to point out potential inconsistency.

[2016-03-15 22:22] gmorgana-va commented on #1398
I don't believe it is related to the Appeals Modernization project - we did not share the link with users.  Thanks for checking.

[2016-03-15 23:13] usds-bot opened #1427 "UserVoice Idea: How do you sign-out of this site?"
How do you sign-out from this site?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12949764-how-do-you-sign-out-of-this-site

[2016-03-16 17:33] emilyville commented on #723
I think this is old and can be closed, right @ayaleloehr / @rickleegit ?

[2016-03-16 17:35] ayaleloehr commented on #723
Closed 1/7 via commit d733a67d13c9dec0ca2f2693e26053c3ed8989e5

[2016-03-16 17:35] #723 closed

[2016-03-16 17:43] emilyville commented on #1087
So, to summarize, on this page:
https://www.vets.gov/education/gi-bill/

- Move the top green button to apply for education benefits down off the top bar
- put it next to a link to the GI Bill Comparison Tool Page (there will be two buttons there next to the text)

Kind of like this page:
https://www.vets.gov/disability-benefits/apply-for-benefits/

[2016-03-16 17:44] emilyville opened #1428 "This page links to itself!"
Remove the green button on this page that links to itself.

https://www.vets.gov/education/apply-for-education-benefits/

[2016-03-16 18:47] emilyville commented on #1405
Like so?

![screen shot 2016-03-16 at 2 47 09 pm](https://cloud.githubusercontent.com/assets/1307774/13824792/026ed90c-eb86-11e5-8e5d-d0dfffaefc04.png)

[2016-03-16 18:48] #1428 closed

[2016-03-16 18:57] gnakm commented on #1405
LGTM! @emilyville

[2016-03-16 19:42] emilyville opened #1434 "add a link on VEC hiring committment page to new apprenticeship program page"
in pivotal it's #110298588

[2016-03-16 20:21] koconnor719 commented on #1427
@ayaleloehr is working this item; low priority.

[2016-03-16 20:21] koconnor719 commented on #1398
closed; this was a test comment.

[2016-03-16 20:21] #1398 closed

[2016-03-16 22:24] webinista commented on #1088
@emilyville I think this is already complete. That [page](https://www.vets.gov/education/) already says "Other Educational Assistance Programs." I'm going to close this. Re-open if I got it wrong.

[2016-03-16 22:24] #1088 closed

[2016-03-16 23:19] webinista commented on #1140
Looks like this is fixed. Closing. Might make sense to also redirect old `/education/legacy-programs/ ` URLs to `/education/other-educational-assistance-programs/`.

[2016-03-16 23:19] #1140 closed

[2016-03-16 23:23] usds-bot opened #1441 "UserVoice Idea: VBA Employee with great idea for new benefits app"
I am a new MyVA Veterans Experience Office Field Consultant for New Jersey. During my site visit to the Newark RO I met a VBA employee who had what seemed to me a great idea for a benefits app.
Her name is Leah Werbel. She sold the idea to her 1st-line supervisor yesterday and he seemed interested she said.

I just loved her enthusiasm. She said she stayed up all night thinking about it. Her passi

[2016-03-17 16:19] usds-bot opened #1443 "UserVoice Idea: Vet job scam"
This marning I got a second email similar to an email that I got earlier this week. Here is the email I got from Roger Lahman to interview with LaToya
Good Morning

          Dear applicant, we apologize for the delay in response, as in regards to your resume that was forwarded to our Head department for  the Administrative Assistant/Customer Service/Data Entry/Management/ ITJOB/ Hiring Manager Po

[2016-03-17 20:02] gnakm commented on #1087
We will need two buttons -- one green and one blue, under the body copy.

<img width="816" alt="screen shot 2016-03-17 at 4 01 35 pm" src="https://cloud.githubusercontent.com/assets/13420618/13859383/90ab3d68-ec59-11e5-8ba3-da51fc3e596d.png">

<img width="532" alt="screen shot 2016-03-17 at 3 59 40 pm" src="https://cloud.githubusercontent.com/assets/13420618/13859339/651d2b8e-ec59-11e5-9fc8-ce7e1b

[2016-03-17 20:06] gnakm opened #1444 "GI Bill Page Prototype 75 characters"
<img width="816" alt="screen shot 2016-03-17 at 4 01 35 pm" src="https://cloud.githubusercontent.com/assets/13420618/13859484/0c1f8fe4-ec5a-11e5-8520-bf11cfb73e26.png">

Body copy should be 75 characters in length.
Text has to be left-aligned with the breadcrumb.

[2016-03-17 21:01] gnakm opened #1445 "Piano Key Redesign"
We want to prototype a redesign of the piano keys for large screens.
The idea is that we don't want the grey go to across the page and the hover features will remain the same. Length will be same as the 75 characters body copy.

![revised gi bill page](https://cloud.githubusercontent.com/assets/13420618/13861066/b9724d42-ec61-11e5-8f2b-7d5d47b393aa.png)

https://www.vets.gov/education/gi-bill/

[2016-03-17 22:25] #1147 closed

[2016-03-17 22:40] usds-bot opened #1446 "UserVoice Idea: link to download VA form 21-22"
I want a link to the VA form 21-22 on this page: https://www.vets.gov/disability-benefits/apply-for-benefits/help/index.html

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13008504-link-to-download-va-form-21-22

[2016-03-17 22:40] usds-bot opened #1447 "UserVoice Idea: link to VSO directory"
I'd like a link to the directory of VSOs from this page: https://www.vets.gov/disability-benefits/apply-for-benefits/help/index.html

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13008477-link-to-vso-directory

[2016-03-17 23:23] webinista opened #1449 "Simplify .action-bar a.usa-button-primary selector"
CSS such as ...

    .action-bar {
         a.usa-button-primary {
            background: $color-green;
         }
    }

...  is not as reusable as it could be. We could probably simplify things and either use `.usa-primary-button` by itself and override the background color globally. _Or_ for buttons that need to be green, we can add another class to our CSS and combine them in the HTML, e.g.:

[2016-03-17 23:28] #1087 closed

[2016-03-18 00:35] webinista opened #1450 "Simplify #content.interior .primary p:nth-child(1) selector"
That's an especially long and specific selector. Better to use a single class name, e.g. `.va-lead-text` or some such. Fewer bytes. More reusable. Doesn't depend on the markup being nested just so.

[2016-03-18 00:36] webinista commented on #1444
@gnakm Are these going to be a global changes? Should all body copy be a maximum of 75 characters or so wide?

[2016-03-18 04:15] gnakm commented on #1444
@webinista We were thinking this would just be a prototype for this issue. We're going to get the design community to pull the branch together and make a consensus for global change. Thanks for asking!

[2016-03-18 14:58] usds-bot opened #1453 "UserVoice Idea: Location by Veteran error dissalows saving"
What does it mean by "error locations veteran has already been taken"? it won't allow me to save my profile and resume.  Please, someone help me out

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13031628-location-by-veteran-error-dissalows-saving

[2016-03-18 15:18] ayaleloehr commented on #1453
I can't find this error (or any subset of it) in our code base. Can we get a screenshot maybe so we can help debug?

[2016-03-18 15:25] usds-bot opened #1454 "UserVoice Idea: VECI resume builder"
Please emplace an autosave function on the website.  This saves the loss of effort and the frustration generated by spending a large amount of time updating information and word smithing to see that all the information was lost.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13031997-veci-resume-builder

[2016-03-18 17:26] gnakm opened #1455 "Card Navigation Redesign"
We want to make a prototype of the cards with new sublinks
One example we've been playing with is the [education benefits](https://www.vets.gov/education/) landing page

1. Make card height shorter (140 px instead of 160)
2. Make GI Bill card clickable with an arrow
3. Have 2 square bullet point links when you click downward arrow
    - GI Bill Comparison Tool: https://www.vets.gov/gi-bill-compari

[2016-03-18 21:18] #1328 closed

[2016-03-20 18:35] koconnor719 commented on #1441
posted and closed; native apps not in scope for 2016.

Thank you for your feedback. Please contact our team at feedback@va.gov with ideas and suggestions for vets.gov!

vets.gov team

[2016-03-20 18:35] #1441 closed

[2016-03-20 18:37] koconnor719 commented on #1305
reassigning to tiffany as i believe she is focusing on header and footer; @webinista pls. fix the feedback forum on homepage when you have time. should be the "feedback forum" layout and feature (like the one from the VEC page footer.  the homepage is currently incorrect.  ty.

[2016-03-20 18:38] koconnor719 commented on #1446
@mariana-almeida @rcarthur  pls. advise on response.

[2016-03-20 18:38] koconnor719 commented on #1447
@mariana-almeida @rcarthur pls. advise on response.

[2016-03-20 18:40] koconnor719 commented on #1453
posted response:
Thank you for your feedback. We are sorry you are having trouble with saving your profile.  Our team can't seem to replicate this error.  Can you send us a screenshot or some additional details about where you are on the site so we can address your issue.

vets.gov team

[2016-03-20 18:48] koconnor719 commented on #1454
related to VEC issue # 49 (re saving resume / preview button being confusing--and resulting in an error message).  @cfeeney-va pls. advise on status / response.

[2016-03-20 18:52] koconnor719 commented on #1443
Posted and closed:

It is unfortunate that anyone would try to take advantage of a Veteran. We have two blog posts to help warn Veterans about protecting themselves from scams and phishing attacks:

- "Veterans: Protect yourself, your information from “phishing” attempts" - http://www.blogs.va.gov/VAntage/26332/veterans-protect-yourself-your-information-from-phishing-attempts/

-  “Veterans Employ

[2016-03-20 18:52] #1443 closed

[2016-03-21 15:45] mariana-almeida commented on #1312
Pinging @gnakm to see if there is a button-like element that we can creare for this content, rather than a simple flat rectangle. Let me know if you want more details. I'd like to close this out by midweek, if possible.

[2016-03-21 15:56] koconnor719 commented on #1312
We need a mockup first for approval before any change is made in production.  Do you have the content?

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Mariana Almeida <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 21, 2016 at 10

[2016-03-21 16:18] gnakm commented on #1312
@koconnor719 Just talked to @mariana-almeida. I'm put together a mockup by end of the day today for the new and improved button. I'll re-tag everybody on this issue. Once we all agree, let's show it to the appropriate person for approval and then make the global change.

[2016-03-21 17:54] gnakm commented on #1312
Here is the modified Crisis Line Button.

![crisis line desktop](https://cloud.githubusercontent.com/assets/13420618/13928206/286100fc-ef6b-11e5-8a37-03164750598a.png)

<img width="207" alt="screen shot 2016-03-21 at 1 43 40 pm" src="https://cloud.githubusercontent.com/assets/13420618/13928440/fe2679f6-ef6b-11e5-9003-75b058d5ba38.png">

The idea is to have it consistent with our existing buttons
C

[2016-03-21 18:03] koconnor719 commented on #1312
@mariana-almeida was there add'l content from julianne? that was the initial request to add content about when to call the crisis line--not changing the button?  but maybe they changed their mind. also, i'm pretty sure we need the phone number listed there so Veterans can see it right away right? i don't think we should bury the phone number a click in? can we set up a 5 min call on this when you

[2016-03-21 18:52] koconnor719 commented on #995
coursers has replaced the blog w/ survey monkey feature and it now works correctly.

[2016-03-21 18:52] #995 closed

[2016-03-21 18:53] koconnor719 commented on #1071
content team can you pls. advise on this.  @mollyblake @rcarthur @mariana-almeida

[2016-03-21 18:54] koconnor719 commented on #1102
@mollyblake @mariana-almeida is this done? can i close this?

[2016-03-21 19:03] webinista commented on #1455
@gnakm Can you send me SVG and PNG versions of the down arrow? (Attaching them to this ticket is fine.)

[2016-03-21 19:19] webinista commented on #1305
@koconnor719 We've changed this in #1405. It's been closed as an item, but I doesn't look like it's been deployed to production yet.

[2016-03-21 19:30] awong-dev commented on #1305
Deploy is waiting on me. Let me do that now.

On Mon, Mar 21, 2016 at 12:19 PM, Tiffany Brown <notifications@github.com>
wrote:

[2016-03-21 19:43] gnakm commented on #1455
@webinista

![vetsdotgov_downarrow-01](https://cloud.githubusercontent.com/assets/13420618/13931852/a4d0cfcc-ef7b-11e5-9d83-c9a7a0235ceb.png)

[2016-03-21 19:50] gnakm commented on #1444
@webinista I just checked out new buttons and they look great! Could you make the body copy shorter so that the width is max 75 characters in length?

[2016-03-21 20:27] koconnor719 commented on #1305
Thank you
Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Tiffany Brown <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 21, 2016 at 2:19 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto:ve

[2016-03-21 21:11] emilyville commented on #1367
this is done! thanks @rcarthur

[2016-03-21 21:11] #1367 closed

[2016-03-21 22:06] emilyville commented on #1372
reviving this for some time-sensitive VEC stuff coming up @awong-dev @plusjeff @ayaleloehr @webinista

I think we need a smarter way to set URL variables between repos. like VEC, GI tool, etc from vets-website.

Anyone have bandwidth to take this on? I don't think it's a huge task.

[2016-03-21 23:00] webinista opened #1467 "Refactor and/or document breakpoints"
There's a USWDS breakpoint of `600px` and a Foundation breakpoint of `640px`. Foundation breakpoints are mostly used in the grid layouts. USWDS is used in many other places. It's a bit of a mess to figure out when you step into the code. Let's either agree to use one breakpoint or document the mess.

[2016-03-21 23:04] gnakm commented on #1455
@webinista
After chatting with the designers, an alternative to a drawer is having a fixed height for the cards.

For the large screen version, we are thinking having the arrows clickable. For the 2nd image on the right, the GI BILL in blue won't be active but active again when you close the links again. Let me know if that makes sense
<img width="722" alt="screen shot 2016-03-21 at 6 39 45 pm" sr

[2016-03-21 23:16] emilyville commented on #1467
@webinista I defer to your best judgment on this! also tagging @akainic and @crwallace for opinions!

[2016-03-22 00:21] webinista commented on #1455
@gnakm
1. Can you add SVG arrows as well? This will keep us from having to use DPI queries and what-not.
2. Is the idea that this drawer would slide up from below?
![](https://cloud.githubusercontent.com/assets/13420618/13936504/8da696ba-ef94-11e5-84a4-931adcaceff7.png)
3. This doesn't quite make sense to me.

What does "active" mean here?

[2016-03-22 14:20] akainic commented on #1467
@emilyville Is the plan still to remove Foundation eventually and just use USWDS or Neat? If so, maybe for now we just change the Foundation breakpoint to match the USWDS one?

[2016-03-22 14:34] gnakm commented on #1455
1.You can find SVG files [here](https://github.com/department-of-veterans-affairs/vets-website/tree/master/assets/images)
2. Yes. Draw slides up, card height does not change.
3.
![gi link](https://cloud.githubusercontent.com/assets/13420618/13954623/031cbb08-f018-11e5-9539-42721488509f.png)

[2016-03-22 15:58] rcarthur commented on #1375
I agree - piano key should link to this document.  https://www.pivotaltracker.com/story/show/112172071 We should be able to finally resolve this in the next couple days - soon as we get the new IA in place.  Sorry for delay.

[2016-03-22 16:50] rcarthur commented on #1071
Pivotal story is created for a page that directly addresses this question.  Will have something ready to post this week.

[2016-03-23 11:17] usds-bot opened #1472 "UserVoice Idea: Hiring a vet"
I am a legitimate business trying to find a veteran to hire. I filled out the application with my info but have not heard if I have been approved. What else do I have to do to get approved?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13087410-hiring-a-vet

[2016-03-23 13:19] usds-bot opened #1473 "UserVoice Idea: MyVA Regions Lookup"
Will you be adding the MyVA Regions to the Facility Locator?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13091214-myva-regions-lookup

[2016-03-23 17:41] ayaleloehr commented on #1372
My hope is that we can just do this with relative links.  Right now, vets-website links to GI Bill Comparison tool like [this](https://github.com/department-of-veterans-affairs/vets-website/blob/94e9cf9a0a7258db5d25130cb562e701f31f8a37/404.html#L44) or [this](https://github.com/department-of-veterans-affairs/vets-website/blob/1296c641f696ba92792766e90bf6262e352b183f/_education/tools-programs/locat

[2016-03-23 17:42] emilyville commented on #1372
:+1: ! if this is not actually an issue we can close.

[2016-03-23 20:40] webinista opened #1479 "Document how the Vets.gov breadcrumbs work"

[2016-03-23 21:00] webinista opened #1480 "Adding a Webpack requires document.ready"
Tried adding `cards-expandable.js` to `assets/js/entry.js`, to no avail. Original code used the module pattern, e.g.:

    (function(){
       // Not really important here...
     }());

But the script didn't work until I changed it to:

    $(document).ready(function() {
	 // Not really important here...
    });

I thought it was some Webpack weirdness, but I think it may be due to the placement

[2016-03-23 21:03] webinista commented on #1480
We discussed this briefly the other day, Albert, but this may not be a Webpack issue after all.

[2016-03-23 21:41] #1444 closed

[2016-03-23 22:43] rcarthur opened #1483 "New page for stubbing -"
Emily  -

This is a new page that needs to be stubbed out.  This page is the the "Job Seekers" blue box on the top left of the revised C&E IA below:
![careers employment sitemap v2 2](https://cloud.githubusercontent.com/assets/14881302/14003208/397e089a-f10e-11e5-820c-9a0a2479392c.png)

Here is the word document that lists all of the content that we will flow into the site.  (10 stops on subway ma

[2016-03-23 23:10] webinista commented on #1483
Should replace the content at `/employment/job-seekers/`

[2016-03-23 23:16] emilyville commented on #1363
this is done!

[2016-03-23 23:16] #1363 closed

[2016-03-23 23:18] emilyville commented on #1364
this is done!

[2016-03-23 23:18] #1364 closed

[2016-03-23 23:19] emilyville commented on #1368
The new IA accounts for and fixes this. Closing!

[2016-03-23 23:19] #1368 closed

[2016-03-23 23:20] emilyville commented on #1369
I think

[2016-03-23 23:20] #1369 closed

[2016-03-23 23:21] emilyville commented on #1369
Need to verify that this is still an issue for the new IA

[2016-03-24 00:25] emilyville commented on #1370
no longer relevant w/ new IA

[2016-03-24 00:26] #1370 closed

[2016-03-24 00:27] emilyville commented on #1374
closing because this should be accounted for in the changes in IA

[2016-03-24 00:27] #1374 closed

[2016-03-24 00:29] emilyville commented on #1375
no worries - this is fixed!

[2016-03-24 00:29] #1375 closed

[2016-03-24 00:47] #1479 closed

[2016-03-24 13:16] usds-bot opened #1485 "UserVoice Idea: Moving Veterans Crisis Line phone number (I am also a veteran myself)"
I would move the "Veterans Crisis Line" yellow box to the very top of the vets.gov page versus having it at the bottom.  If a veteran who is having difficulties or a veteran's family member/friend comes to this site for that information, they shouldn't have to scroll down to the bottom for the phone number, especially if it is an urgent matter...

http://veterans.uservoice.com/forums/330333-vets-g

[2016-03-24 16:09] gnakm opened #1488 "Subway Map Mockup"
Subway map mockups for new job seekers page

[2016-03-24 18:14] emilyville commented on #1488
Just adding that I'm making this now re: https://github.com/department-of-veterans-affairs/vets-website/issues/1483

I will post a screenshot when it's done so you can start from there or critique.

[2016-03-24 19:07] usds-bot opened #1494 "UserVoice Idea: VA APP"
While attending one of the town hall meetings/claims clinics now offered by the VA, it became abundantly clear that most veterans want to apply for benefits but need a simpler method.  They view the current system as convoluted and want a streamlined approach.  Many veterans at the townhall wanted to apply for VA benefits but the thought of sitting at a computer for hours or taking a day off work

[2016-03-24 19:28] rcarthur opened #1496 "VEC repo pages"
Emily -
These three pages are ones that reside in the VEC repo, which we can't see right now but need to be able to.....

1) Flow our prepared content toward
2) Conduct a check to make sure the links function correctly
3) Conduct a proof.
4) Link to these pages

My understanding is that there maybe some trickiness in this maneuver and I believe that you said that we should send you the documents -

[2016-03-24 19:41] ayaleloehr commented on #1496
You should be able to do all of your issues numbered 1 through 4 based on the instructions I sent last night

[2016-03-24 19:55] rcarthur commented on #1496
Thanks Alex.  Your note on slack was extremely good - we are able to see the actual pages up on staging and think that we know how to link.  That's all fine.....but we can't seem to find the actual files in the repo that we need to be able to do this work.  They are not in this repo---
https://github.com/department-of-veterans-affairs/vets-website/tree/jobs-employment-v2/_employment

If you have t

[2016-03-24 21:45] webinista commented on #1416
There's a huge roadblock to doing this: the breadcrumbs plugin assumes there will never be more than 3 levels of breadcrumbs.

The breadcrumbs plugin uses the structure of the URL to do two things:
1. To function as the titles of the breadcrumbs if those titles haven't been set in `_config.yml`
2. To determine _how many_ breadcrumb segments there should be.
- There will only ever be as many breadc

[2016-03-24 21:53] webinista opened #1501 "Add additional context to documentation of how breadcrumbs work"

[2016-03-24 23:18] emilyville commented on #1416
hmmmmm... this is a good discussion to have. I _do_ think we might need a 4th breadcrumb, in the future, for some stuff.

Let me think on it. also I don't think we're keeping this particular page in the new IA.

[2016-03-24 23:25] ayaleloehr commented on #1496
Got it. That makes sense. Thanks for clarifying @rcarthur! Those files are in the veterans-employment-center repo, so yes, they would have been almost impossible to find without knowing that!

They can be found here: [skills translator](https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/master/app/views/skills/index.html.erb), [resume builder](https://github.com/depa

[2016-03-24 23:31] emilyville commented on #1416
After a discussion with @mariana-almeida and looking over our new IA for this section - I think we can punt on adding a fourth breadcrumb. One day we will discuss navigation at more length, but until we have some new awesomeness, I think what we have will work without significantly degrading the user experience. :hammer:

[2016-03-24 23:32] emilyville opened #1506 "remove all the green buttons to veterans employment center"
MWA HA HA

[2016-03-24 23:32] mariana-almeida commented on #1416
@bethpotts The page you just pointed out is not needed, per my recent IA work. (This one: https://vets-website-pr-1304.herokuapp.com/employment/job-seekers/employment-support/ )

Most of the content became part of the Job Seekers landing page (AKA subway map). I hope this makes sense.

I think this specific content will need to be fit into other pages if it's not there already:

"Or if you are con

[2016-03-24 23:42] rcarthur commented on #1496
Awesome, thanks!!  We'll wait for word from you or Emily before diving into them.  HTML will take us a while.

Regarding the job search one, the file below has content that we had written/rewritten to go above the actual tool.  Some info that might be helpful to jobseekers as they search.

[2016-03-24 23:53] rcarthur opened #1508 "Need page stubbed out for Federal Employment"
This page will be linked off of the Job Seekers Landing Page.   Once the page is visible in the repo, we can load in our content.

Federal Employment
[Jobs_FedEmployment_20160211 (2).docx](https://github.com/department-of-veterans-affairs/vets-website/files/188881/Jobs_FedEmployment_20160211.2.docx)

[2016-03-25 00:56] rcarthur commented on #1416
Looks like this issue was overtaken by events.

@mariana-almeida - I will double check that the info is reflected on the appropriate pages within the new IA.

[2016-03-25 03:42] bethpotts opened #1509 "global fix for piano keys on the job-seekers pages"
They all have pivotal IDs that need to be removed, as well as the preceding colon and #.
    One-on-One Assistance: #110298554
    Skills Translator: #110298580
    Résumé Builder: #111659432
    Search the Veterans Job Bank: #110298570
    Interest and Aptitude Profiler: #110298582
    Military Transcripts: 110298578
Here's an example of a page that has these piano keys:
https://staging.vets.gov/

[2016-03-25 05:48] emilyville opened #1512 "Federal employment page needs review and edit"
/employment/job-seekers/federal-employment/

Also needs to be linked from somewhere (I think the skills translator?)

[2016-03-25 06:09] emilyville commented on #1508
This one's been hanging out for a while, apologies for not sending it your way.

It's possible it's out of date: https://github.com/department-of-veterans-affairs/vets-website/issues/1512

/employment/job-seekers/federal-employment/

[2016-03-25 06:09] emilyville commented on #1512
closing, dup of https://github.com/department-of-veterans-affairs/vets-website/issues/1508

[2016-03-25 06:10] #1512 closed

[2016-03-25 06:11] emilyville commented on #1488
looks like this - we could give it some <3
![screencapture-0-0-0-0-4000-employment-job-seekers-1458884066411](https://cloud.githubusercontent.com/assets/1307774/14039091/ab92e772-f215-11e5-93d8-8ca8371c3185.png)

[2016-03-25 06:12] #1483 closed

[2016-03-25 06:12] emilyville commented on #1483
this is done!

[2016-03-25 06:14] emilyville commented on #1362
this happened!

[2016-03-25 06:14] #1362 closed

[2016-03-25 15:21] emilyville opened #1515 "process display none for list items"
https://staging.vets.gov/employment/job-seekers/

Somewhere a .process li li setting to display none - not on master, but on staging and locally (for me)

compare:
https://staging.vets.gov/disability-benefits/apply-for-benefits/
to
https://www.vets.gov/disability-benefits/apply-for-benefits/

Let's find it and fix it so it does not deploy to master!

[2016-03-25 18:59] emilyville commented on #1496
awesome. I'm on it. Thanks @rcarthur and @ayaleloehr

I'll start working through this and likely ping you with questions as I go.

[2016-03-25 20:09] #1501 closed

[2016-03-25 20:16] rcarthur opened #1520 "Need a page stubbed out for "Establish an Apprentice Position""
This is an update on this "pre-new-IA"  issue from 9 days ago.
https://github.com/department-of-veterans-affairs/vets-website/issues/1434

Right now, this page does not exist in the Employment v2 repo.

It should be linked off from the  "Employers Landing Page"

The content for this should this:
[Jobs_ApprenticeshipProgram_20160325 (1).docx](https://github.com/department-of-veterans-affairs/vets-w

[2016-03-25 20:18] rcarthur commented on #1434
Recommend closing this issue because I just created a new issue for this that reflects the new IA. https://github.com/department-of-veterans-affairs/vets-website/issues/1520

[2016-03-25 20:51] rcarthur opened #1524 "Wrong Content on Employer Facing - "Make a Hiring Commitment""
If you click "Make a Hiring Commitment" on the "Employer Landing Page" (https://staging.vets.gov/employment/employers) you end up, incorrectly going to this page:  https://staging.vets.gov/employment/commitments

Instead of this page:
https://staging.vets.gov/employment/employers/20/edit#hiring-commitments

....which should include this content somewhere on this page - preferably the top.
[Jobs_Em

[2016-03-25 21:40] #1515 closed

[2016-03-25 22:36] emilyville commented on #1524
Cool, we haven't made any changes to the employer landing page yet (since it's in VEC) but when we do it can link more correctly.

I actually think there's no reason we _need_ login on this page, so we could move it over to vets-website. Is there a copy doc for the employer landing page @rcarthur? I don't see one in pivotal.

[2016-03-26 00:10] rcarthur commented on #1400
@emilyville The content in pivotal is meant to supplement the content that already surrounds the tool, which we thought was pretty good.  Sorry for confusion on this - this is one of the pages that we envisioned walking through hand in hand with Danny. The link to ebenefits is an old relic from our first draft when we used ebenefits as shorthand for the existing VEC tools.

[2016-03-26 18:08] usds-bot opened #1535 "UserVoice Idea: RE: Educational Benefits"
Like the VA home loan benefit, the educational benefit should never expire.  I am a Vietnam Vet who is greatful that the education benefit helped me finish college.  However, 20+ years later everyone got on computers and I had to self fund classes to learn Microsoft Office and Adobe Graphics Classes.  Now, I would like to upgrade my level in Creative Suite and Excel, but the budget is tight and I

[2016-03-26 20:59] usds-bot opened #1536 "UserVoice Idea: candidate"
i want to view the candidate

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13153656-candidate

[2016-03-26 21:27] MarinaMartin commented on #1536
This is a VEC term. Probably someone who is not an approved employer yet. They can send an email to the address listed on the site to request expedited approval.

[2016-03-27 00:42] emilyville commented on #1524
Actually, now that I look at this more, I am not following.

This is the Make a Commitment Page, as far as I can tell nothing incorrect is happening to have us send you here when you click "make a commitment"
https://staging.vets.gov/employment/commitments

The link you're saying is correct does not work for me:
https://staging.vets.gov/employment/employers/20/edit#hiring-commitments

I will add t

[2016-03-27 00:49] emilyville opened #1537 "update copy on commitment page"
[Jobs_EmployerCommitments_20160325.1 (1).docx](https://github.com/department-of-veterans-affairs/vets-website/files/190719/Jobs_EmployerCommitments_20160325.1.1.docx)

This is a new issue from here: https://github.com/department-of-veterans-affairs/vets-website/issues/1524

[2016-03-27 00:50] emilyville commented on #1524
Creating an issue to update copy on the commitments page and assigning this to @mariana-almeida  as an IA issue.

[2016-03-27 00:52] #1434 closed

[2016-03-27 00:59] emilyville commented on #1520
It exists. I moved it out of commitments because according to the new IA so now it's at:

employment/employers/apprenticeship/

Closing this

[2016-03-27 00:59] #1520 closed

[2016-03-27 01:04] emilyville opened #1538 "update options on employer signed in page to match new IA"
![screen shot 2016-03-26 at 6 04 15 pm](https://cloud.githubusercontent.com/assets/1307774/14063236/31979292-f37d-11e5-95ac-f04301f14e7a.png)

[2016-03-27 01:10] emilyville opened #1539 "The apprenticeship page does not include on the job resources"
but the link leads you to believe it will. Assigning to you to follow up on, @mariana-almeida
Should we change the link - or the page?

[Jobs_ApprenticeshipProgram_20160325.1 (1).docx](https://github.com/department-of-veterans-affairs/vets-website/files/190722/Jobs_ApprenticeshipProgram_20160325.1.1.docx)
![screen shot 2016-03-26 at 6 04 15 pm](https://cloud.githubusercontent.com/assets/1307774/14

[2016-03-27 03:07] emilyville opened #1541 "rapid transition page in IA"
I can't find where the rapid transition page in the IA - or any links to it on the job-seeker landing page.

this is likely an oversight - here is a link to the page:

https://staging.vets.gov/employment/job-seekers/rapid/

The page on staging (at the time of writing this) is broken, I think someone put the copy in the wrong place. I fixed it and here is a screenshot of it in case that's not out y

[2016-03-27 03:47] emilyville commented on #1416
I am closing - I think this has been addressed.

[2016-03-27 03:48] #1416 closed

[2016-03-27 03:49] emilyville commented on #1391
out of date and reflected elsewhere, closing!

[2016-03-27 03:49] #1372 closed

[2016-03-27 03:49] #1391 closed

[2016-03-27 21:31] emilyville commented on #1509
This is done & in a pull request.

[2016-03-27 21:31] emilyville commented on #1506
this is done, and in a PR

[2016-03-27 21:32] emilyville commented on #1488
@gnakm let's look at this d

[2016-03-27 22:00] emilyville opened #1543 "how should we handle sign in/redirects?"
there are a few places we send users from vets-website into a specific logged in place for employers in the VEC app - I'm not sure where to send these links to, and imagine they should be redirected to /employment/users/sign_in

So that's what it does now - links directly to sign in. @ayaleloehr is there a better way?

I also am betting if you navigate between the VEC and vets-website if the login

[2016-03-27 22:14] emilyville opened #1544 "update va scss file for VEC repo"
I think we need to
- update the gem with most recent stuff
- then update the gem here.

There's some visual funkiness with new elements we want to use cross-site, which I will ignore and hope this issue addresses.

[2016-03-27 22:39] emilyville commented on #1537
this is done in a branch in VEC. It will need to be reviewed, but I will make a separate issue for that.

[2016-03-27 23:34] emilyville commented on #1496
this is "done" enough. I'll make a new issue to assess how to integrate this copy into these pages. As is is not idea.

[2016-03-27 23:38] emilyville opened #1546 "new copy in VEC repo needs to be integrated"
I'm not sure who's got the ball on this one, but we need to better integrate this copy. As is, it doesn't "replace" what's there enough to remove anything, and often puts the tool so far down on the page that it's hard to find.

Tagging @gnakm @rcarthur and assigning to @mariana-almeida

Search Page
![search](https://cloud.githubusercontent.com/assets/1307774/14068497/e6071eac-f439-11e5-9a7a-c0d41

[2016-03-28 12:48] usds-bot opened #1548 "UserVoice Idea: Equal resources to all Veterans regardless of branch"
I would love to see more resources for our Veterans.  Especially our Guardsmen.   Ex. My husband is currently serving in the Army National Guard.  Almost 18 years and heading for retirement.  Two tours to Iraq.   When I first met him. He was trying to piece his life back together after a horrible divorce.   He came home one day. Door locks had been changed and the police met him at the door.   The

[2016-03-28 13:39] rcarthur commented on #1524
@emilyville @mariana-almeida
The confusing thing is that this page:
https://staging.vets.gov/employment/commitments
....actually has two elements to it.  You can "edit your profile" or "make a hiring commitment".  IMO, it should either be one or the other.

It seems weird to me that the result of the users decision to heed a call to action ("Make a Hiring Commitment"!!) is a page that displays the

[2016-03-28 13:43] rcarthur commented on #1524
Copy for the "Employers Landing Page"
[30 Jobs_ForEmployers_20160303_concurrence_edits_incorp.docx](https://github.com/department-of-veterans-affairs/vets-website/files/191848/30.Jobs_ForEmployers_20160303_concurrence_edits_incorp.docx)

[2016-03-28 13:49] gnakm opened #1549 "Homelessness Contact List Page"
**For the future of homelessness**
http://www.va.gov/HOMELESS/cec-contacts.asp

Either going to have to:
- Have contacts on the side according to appropriate page
- Use Borderless table design
- Create new UI component

[2016-03-28 13:56] rcarthur commented on #1539
The verbiage on the IA is slightly inaccurate.  It should only read, "Establish and Apprenticeship"  --- should not say anything about job resources.

[2016-03-28 14:08] rcarthur commented on #1541
The screenshot looks correct. Thanks, Emiliy!

It should be linked from the Job Seekers Landing Page - probably either via some language in the first section "Before You Begin".....or one layer down linked out of the "you plan to leave the service in the next 12 months"

[2016-03-28 14:43] gnakm commented on #1546
I always loved the way gov.uk tackled this https://www.gov.uk/jobsearch#before-you-start
They have a 1 or 2 liner description, the tool and all the "what you need to know" or other information below. @rcarthur Would it be possible to condense the copy even more?

This is an example just for the job search page but the idea is the have to tool on top/middle of the page and the copy integrated below

[2016-03-28 14:51] rcarthur commented on #1546
Yes, agree 100%.  The content that we developed for these pages was written without knowing exactly what the pages would look like.

Seems like there are 3 places where we can put content on these pages.

1)  2 sentences above the tool.
2)  A couple nuggets (alongside the too)
3)  Added context at the bottom of the tool.

What is the best way for us to proceed here?  Could we set up a 20 minute ca

[2016-03-28 17:26] rcarthur commented on #1541
@mariana-almeida @emilyville @mollyblake @kellyskennedy
As per conversation with Mariana, we are going to kill "Rapid Transition" page....while making sure that all relevant content is reflected in "Within 12 Months of Leaving Active Duty", which is the page that we are keeping.

[2016-03-28 17:46] gnakm commented on #1488
@emilyville How about breaking down the 10 steps into 2 sets of 5 steps? I'm more into the arrows than the tabs because I don't know what I would label the tabs unless @mariana-almeida is there a way to break down this list into two themes (i.e. Steps 1-5 = Your profile, Steps 6- 10 = Other resources...). It would be nice to see everything in 10 steps but page is getting long. Also, would it be ok

[2016-03-28 17:46] mariana-almeida commented on #1524
User flow goes like this:
Make a hiring commitment box on the Employer landing page > Learn about what it means to make an commitment > Log in > make the actual commitment (but **create profile first,** then make the commitment)
We need time with @emilyville to go over this page flow and be sure the pages exist in the best way.

[2016-03-28 17:50] awong-dev opened #1552 "Fonts on non-retina displays aren't anti-aliased"
![screen shot 2016-03-25 at 3 12 49 pm](https://cloud.githubusercontent.com/assets/144579/14085088/ba197be8-f4d2-11e5-8991-642e8ed01605.png)

This is on a Mac, running Chrome 49.0.2623.87 (Official Build) (64-bit) on an external (non-retina) monitor.

@webinista suggests
[code]

which makes me think we need to use a bourbon 4.0 mixin or upgrade to bourbon 5.0 and use auto-prefixer to handle the ve

[2016-03-28 17:56] rcarthur opened #1553 "Spouses and Family Members - path incorrect"
@emilyville @mariana-almeida  In accordance with IA, this page should be linked via piano key on the landing page.

https://github.com/department-of-veterans-affairs/vets-website/blob/jobs-employment-v2/_employment/job-seekers/family-members.md

[2016-03-28 17:56] koconnor719 commented on #1472
need to verify the VEC contact for this; message out to VEC;

Thank you for your feedback. All employer applications are reviewed by the Veteran Employment Center team for verification. Your application is in process. You can contact the VEC at 1-800-827-1000 or OEOECSUPPORT.VBAVACO@va.gov to check the status of your application.

[2016-03-28 17:59] gnakm commented on #1539
@rcarthur done!

![careers employment sitemap v2](https://cloud.githubusercontent.com/assets/13420618/14085314/2994d750-f4ed-11e5-8a9d-f0db37dc7ab0.png)

[2016-03-28 18:00] rcarthur opened #1554 "Landing page needs piano keys"
@emilyville

The landing page....- https://staging.vets.gov/employment/
....should have piano keys for:
1)  Spouses and Family Job Seekers
2)  Start or Grow Your Business

Do you concur @mariana-almeida?

[2016-03-28 18:01] mariana-almeida commented on #1554
Agreed. Thank you!

[2016-03-28 18:01] koconnor719 commented on #1473
Posted response; and marked as user research;

Thank you for your feedback. We will add your suggestion to our user research and see what Veterans think!

vets.gov team

[2016-03-28 18:03] webinista opened #1555 "Bold, light text on dark backgrounds is blurry on lower DPI screens"
This is definitely a problem for OS X, and possibly for Windows users. A fix is only available for Webkit-based browsers, however. Adding `-webkit-font-smoothing: antialiased` will temper it. (Don't apply it globally because it's a [potential usability/readability problem](http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/)).

![screen shot 2016-03-28 at 11 03 46 am](https://cloud.git

[2016-03-28 18:11] koconnor719 commented on #1485
Thank you for your feedback. We will conduct research on this to see what Veterans think. We want to make the "Veterans Crisis Line" as easy to find as possible!

vets.gov

[2016-03-28 18:32] koconnor719 commented on #1494
posted and marked for research/enhancement.

Thank you for your feedback. Great points on mobile! We understand how important mobile access is to Veterans--and all digital users, which is why everything we do on vets.gov is mobile responsive. Throughout 2016 we will be adding benefits information and features to vets.gov. We'll add your suggestions to our Veteran research and see what Veterans thi

[2016-03-28 18:35] webinista commented on #1555
Oops. Duplicated #1552

[2016-03-28 18:35] #1555 closed

[2016-03-28 18:35] webinista commented on #1552
We shouldn't apply it globally, because it's a [potential usability/readability problem](http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/)). It's something that happens with light text on dark backgrounds. See #1555 for more.

[2016-03-28 18:37] koconnor719 commented on #1535
@rickleegit pls. check w/ EDU team and advise on response.

[2016-03-28 18:43] koconnor719 commented on #1536
Posted and closed:
Thank you for your feedback. If you are an employer and have submitted your application with the Veterans Employment Center team, it has to be verified before you can see candidate information. You can contact the VEC team at  1-800-827-1000 or OEOECSUPPORT.VBAVACO@va.gov to check the status of your application.

vets.gov team

[2016-03-28 18:44] #1536 closed

[2016-03-28 18:45] #1472 closed

[2016-03-28 18:48] koconnor719 commented on #1548
checking w/ our Homeless POC on best info to provide in a response.

[2016-03-28 19:12] emilyville opened #1556 "Links!!"
Links that will work to VEC

/employment/job-seekers/skills-translator
/employment/job-seekers/search_jobs
/employment/job-seekers/create-resume
/employment/commitments
/employment/users/sign_in

[2016-03-28 19:17] emilyville opened #1557 "define make a commitment flow as is for IA"

[2016-03-28 19:27] emilyville commented on #1557
@ayaleloehr can approve someone as an employer, we will walk through it

[2016-03-28 19:33] emilyville commented on #1399
this is done, and reflected in #1546

[2016-03-28 19:33] #1524 closed

[2016-03-28 19:34] emilyville commented on #1400
this is done and reflected going forward in #1546

[2016-03-28 19:34] #1400 closed

[2016-03-28 20:42] gnakm commented on #1488
@mariana-almeida @mollyblake
Thanks for the next steps.
Action Item: Condense to 6 steps and add related info in light blue box.

[2016-03-28 20:55] mollyblake commented on #1488
@gnakm @mariana-almeida I think we can make that "before you begin..." text smaller and bold the top lines of text. And I'd like to change those to ?'s. "Do you plan to leave active duty in less than 12 months?" etc.

[2016-03-28 21:05] mollyblake commented on #1539
Done!

[2016-03-28 21:14] emilyville commented on #1553
@rcarthur when you say the path is incorrect I am confused. There is no piano key on the landing page. do you mean there should be a piano key added to the landing page that sends you to the spouses and family members page?

[2016-03-28 21:16] emilyville commented on #1553
also it looks like this is a duplicate issue of #1554. @rcarthur please verify and close if that is the case.

[2016-03-28 21:18] emilyville commented on #1537
future work on this issue is reflected in #1546. closing.

[2016-03-28 21:18] #1537 closed

[2016-03-28 21:22] emilyville commented on #1554
Assigning to @kantrowitz !

There is a piano key for this on the job-seekers.md page
https://staging.vets.gov/employment/job-seekers/

That should be moved to the main landing page (before you select job seeker or employer)
and then add another piano key link to start or grow your business.

ping me if you need help, and assign the PR to me to review!

[2016-03-28 21:41] emilyville commented on #1541
ok- sounds good! I will remove this page and close out the issue.

[2016-03-28 21:41] #1541 closed

[2016-03-28 21:50] mariana-almeida commented on #1488
@mollyblake That sounds fine. Give it a whirl!

[2016-03-28 22:03] webinista commented on #1467
Assigning it to you @emilyville because we need an answer :-). Reassign as you wish.

[2016-03-28 22:27] webinista opened #1564 "Add .va-button-primary class to .action-bar a.usa-button-primary for _disability-benefits/apply-for-benefits/ pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:28] webinista opened #1565 "Add .va-button-primary class to .action-bar a.usa-button-primary for _disability-benefits/claims-appeal/ pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:28] webinista opened #1566 "Add .va-button-primary class to .action-bar a.usa-button-primary for _disability-benefits/claims-process* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:28] webinista opened #1567 "Add .va-button-primary class to .action-bar a.usa-button-primary for _disability-benefits/conditions* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:29] webinista opened #1568 "Add .va-button-primary class to .action-bar a.usa-button-primary for _disability-benefits/conditions/exposure-to-hazardous-materials* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:29] webinista opened #1569 "Add .va-button-primary class to .action-bar a.usa-button-primary for _education/advanced-training-and-certifications* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:30] webinista opened #1570 "Add .va-button-primary class to .action-bar a.usa-button-primary for _education/gi-bill/* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:30] webinista opened #1571 "Add .va-button-primary class to .action-bar a.usa-button-primary to _education/tools-programs* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:30] webinista opened #1572 "Add .va-button-primary class to .action-bar a.usa-button-primary to _education/work-learn* pages"
Blocks #1449

Breaking #1449 into smaller chunks for easier code review.

[2016-03-28 22:33] webinista opened #1573 "Simplify #content .section.do a.usa-button-primary selector"
Related to #1449.

[2016-03-28 22:42] webinista opened #1574 "Remove #content .usa-button, #content .usa-button-primary, #content .usa-button-outline declarations"
In `_va.scss` on lines 2215-2218 (or thereabouts), let's see whether the following can be removed.

    #content .usa-button,
    #content .usa-button-primary,
    #content .usa-button-outline
    {text-decoration: none !important;}

Pretty sure `text-decoration: none` is declared elsewhere for these classes.

[2016-03-28 22:52] rcarthur opened #1576 "Featured Jobs on Job Search Page"
@alex,
Regarding the Featured Jobs on the Job Search page, is it possible to include some of the jobs that pop up in the feed at the bottom of this page...... http://vaforvets.va.gov/

Not saying that our feed needs to include all of the VA for Vets jobs....but it would be good for them to get some visibility here.

cc:  @mariana-almeida @gnakm

[2016-03-28 22:59] mollyblake commented on #1488
@gnakm @mariana-almeida Another thought ... the top three questions -- (do you have less than a year, unemployment, alternative) can we put those in a box on the side?  I'm really struggling with their placement and the experience ... any thoughts on how we can treat those as sort of 'other' categories that some might fall into and set them aside on the page?

[2016-03-28 23:13] mollyblake opened #1580 "Entrepreneurship Counseling page needs to be stubbed"
It appears that Entrepreneurship counseling page needs to be stubbed (or re-stubbed).  Pivotal number
#112172071.

Thanks!

[2016-03-28 23:17] rcarthur opened #1581 "Shortened copy for Job Search page"
Shortened copy as follows [fyi @mariana-almeida @gnakm @bethpotts @mollyblake @kellyskennedy

Above the job search tool:
Search the Veterans Job Bank to find the right position for you.

Middle Content:
Three tips to get the most out of the job search tool:
1.   Make your search as broad as possible.
2.   Check a variety of geographical areas.
3.   Use the [Skills Translator tool](https://vets.gov

[2016-03-28 23:25] rcarthur opened #1584 "Resume Builder Page"
The following content should go at the top of this page:https://staging.vets.gov/employment/job-seekers/create-resume

Build a Profile & Résumé
The Veterans Employment Center™ (VEC) can help you build your profile so potential employers can find you on vets.gov. This profile can then be downloaded into a civilian or federal résumé.Your public job-seeker profile will be stored on vets.gov, and you

[2016-03-29 00:36] rcarthur opened #1591 "Employer Landing Page Content"
Employer Landing Page content is here:
https://github.com/department-of-veterans-affairs/vets-website/blob/jobs-employment-v2/_employment/employers.md

@mariana-almeida @mollyblake

[2016-03-29 01:05] webinista commented on #1449
Broke this issue into several smaller ones. Once they're complete, I can make the necessary CSS change.

[2016-03-29 02:59] awong-dev commented on #957
@ayaleloehr hi hi.

[2016-03-29 03:49] ayaleloehr commented on #1576
@rcarthur be sure to use `@ayaleloehr` for me and not `@alex`.

Those jobs at the bottom of the VA For Vets feed are just from USA Jobs. We also pull from USA Jobs, so those jobs will already be in our search results. Looking at http://vaforvets.va.gov/ it also looks like all those jobs all expired on 3/24, whereas ours are updated nightly and we remove the expired ones, so I think we have this on

[2016-03-29 05:20] gnakm commented on #1581
So interesting how filled the page feels with minimal content!
Here is a preview of how this may look. For example 2, I simplified the copy even more so that the links are scannable but I'm okay with either or. I just was playing around with it. As a Veteran recently said, white space is key! So spacing is going to play a big role to prevent the page from feeling cluttered. @emilyville have you ha

[2016-03-29 13:22] usds-bot opened #1592 "UserVoice Idea: Help with JSON-LD for Job Posts"
I am with a Veteran owned small business with a hiring commitment. I have written a JSON-LD page with our job listings and a HTML/PHP page with schema.org markup. Our jobs are not being scraped to the job bank anymore using either page. Can someone help me troubleshoot? It would be great if you had a feature that would allow us to put in our URL to check our code to make sure it is formatted corre

[2016-03-29 13:22] usds-bot opened #1593 "UserVoice Idea: Help with JSON-LD for Job Posts"
I am with a Veteran owned small business with a hiring commitment.  I have written a JSON-LD page with our job listings and a HTML/PHP page with schema.org markup.  Our jobs are not being scraped to the job bank anymore using either page.  Can someone help me troubleshoot?  It would be great if you had a feature that would allow us to put in our URL to check our code to make sure it is formatted c

[2016-03-29 14:37] usds-bot opened #1594 "UserVoice Idea: Loan scam"
I have started to get a Loan email from vet.gov. This is just a day after the "job" emails stopped. My email provider marked the email as a scam/ phishing email. I have not looked into a loan resently and not at this company.

On Monday, March 28, 2016, Prosper Financial Funding llc <vet.job@riseup.net> wrote:

--
Good day, I am Mr. Aaron Vermut based in U.S., I am a Director of a  Private Loan Co

[2016-03-29 15:37] rcarthur commented on #1553
Yes, that's correct. #1554 handles it.

Thank you, Emily!

[2016-03-29 15:37] #1553 closed

[2016-03-29 15:48] rickleegit commented on #1535
EDU Response:

Thank you for your feedback about using the GI Bill for continuing education programs after your delimiting date. Please review our FAQ here to learn the reasons for which we may extend your delimiting date. Please call us at 1-888-GIBILL-1 (7 a.m. – 6 p.m. Central Time) to speak with an agent who can walk you through the process and answer any questions or concerns you may have.

[2016-03-29 16:35] mollyblake commented on #1581
Can we change "check a variety of geographical areas" to something different?  Check implies that you check a box. And really, you just input areas in the search tool box.  What's the functionality of that WHERE box?   Should you put more than one city in there?  @ayaleloehr @emilyville

[2016-03-29 16:52] mollyblake opened #1596 "Latest version of Jobs IA"
![careers employment sitemap v2 1](https://cloud.githubusercontent.com/assets/16196072/14116298/d3d39e1c-f593-11e5-95f9-f1f0a1f3d91f.png)

[2016-03-29 17:17] Drakenhart commented on #1312
As someone who has had to use crisis lines in the past, not having the number visible up front is seriously problematic. When you are in a crisis, a real one, any barrier to help is a major issue. I've gone to sites, spotted the number and called it from my home phone.

A number that is clickable (and -actually triggers the phone portion to activate- ) when on mobile is even faster.

Seconds can m

[2016-03-29 17:22] koconnor719 commented on #1312
@mariana-almeida closing this issue b/c i think you are tracking it on your own PM tool since the scope of this request has changed.  we can factor in the helpful feedback above to our approach:)

[2016-03-29 17:22] #1312 closed

[2016-03-29 17:24] koconnor719 commented on #1535
posted and closed:
Thank you for your feedback about using the GI Bill for continuing education programs after your delimiting date. Please review our FAQ here to learn the reasons for which we may extend your delimiting date. Please call us at 1-888-GIBILL-1 (7 a.m. – 6 p.m. Central Time) to speak with an agent who can walk you through the process and answer any questions or concerns you may have

[2016-03-29 17:24] #1535 closed

[2016-03-29 17:33] koconnor719 commented on #1405
@webinista tiffany this issue is not closed.  can you pls check w/ me before closing:)  the feedback forum is now showing up as 2 links on the homepage (but still the old version--which is the one we wanted based on Veteran feedback on the VEC page). see the 2 different displays below. i'm not sure what research is informing the new format and 2 links now on the homepage.  i talked w/ mary ann and

[2016-03-29 17:35] koconnor719 commented on #1305
@webinista this is not closed; i've reopened 1405.  pls. let me know if you need any add'l info from me.  I'm not sure what's happening w/ this change but there are inconsistencies across the site.

[2016-03-29 17:38] koconnor719 commented on #1593
closed this is duplicate with #1592

[2016-03-29 17:38] #1593 closed

[2016-03-29 17:41] koconnor719 commented on #1594
Thank you for your feedback. We have two blogs to help users protect themselves from these common types of phishing scams:

Veterans: Protect yourself, your information from “phishing” attempts - http://www.blogs.va.gov/VAntage/26332/veterans-protect-yourself-your-information-from-phishing-attempts/

Veterans Employment Center Website: False Claim of Breach - http://www.blogs.va.gov/VAntage/23299/

[2016-03-29 17:41] #1594 closed

[2016-03-29 17:48] webinista commented on #1405
@koconnor719 I closed this issue because the task is complete and merged into master. It just isn't deployed everywhere. I did not close #1305 because there is still a discrepancy. For task management and tracking, let's please close one :-)

[2016-03-29 17:51] koconnor719 commented on #1405
ok sorry--i saw a change that actually had deployed (new this week)?  so i thought that it DID deploy already:)  sorry about that.  which one would you like to close?  i can do that now.

[2016-03-29 17:52] koconnor719 commented on #1405
it seems to be changing every week to something different?  is someone driving these changes?

[2016-03-29 17:52] #1405 closed

[2016-03-29 17:56] cfeeney-va commented on #1454
I think this issue is separate from the VEC one (unless I'm misunderstanding).  Here, the user wants his information to be saved as he fills out the resume fields (i.e. If he fills out the jobs section, somehow navigates away from the page, and goes back he wants that information to have persisted).  This is technically feasible, but I think it's outside of our current scope of work.  We had talke

[2016-03-29 17:59] webinista commented on #1305
My suspicion is that the change hasn't been folded into the current version of the Veterans Employment Center.

@emilyville @awong-dev Can you help out here? The footer changes are available in the `jobs-employment-v2` branch, but they haven't been pushed to the site just yet. Are we holding off on pushing VEC changes until version 2 is ready?

[2016-03-29 18:00] koconnor719 commented on #1548
Thank you for your feedback.  Have you tried to contact the VA call center at 1-877-424-3838 for homeless and at-risk Veterans? It is available 24/7.

Also, if you are struggling there is the Veterans Crisis Line (https://www.veteranscrisisline.net) , which connects Veterans in crisis and their families and friends with qualified, caring Department of Veterans Affairs responders through a confiden

[2016-03-29 18:45] awong-dev commented on #1305
@webinista if you merged to master...it should have deployed?  Do you have a link to the PR with the master merge of this change?

[2016-03-29 18:47] koconnor719 commented on #1305
this is NOT urgent at all.  i just want to make sure the correct version of the feedback forum is pushed to production.  it is not the one currently on the homepage--with 2 links?  i don't know where that came from.  the correct version, based on my understanding of the only Veteran feedback we have on this, is the version that's currently on the VEC page.  does that make sense?  @emilyville @webi

[2016-03-29 18:59] awong-dev commented on #1305
It's been open for to long...let's figure out how to fix it...

[2016-03-29 19:17] mollyblake opened #1599 "VR&E Coming Soon page needs stub"
Please create stub for VR&E Coming soon page. Content is created and the page is loaded into pivotal. Content is also pasted here for convenience:

Coming Soon: Information about VA's Vocational Rehabilitation and Employment Program (VR&E). If you have a service-connected disability that limits your ability to work or prevents you from working, VR&E can help you, and in some cases your family memb

[2016-03-29 19:51] cfeeney-va commented on #1203
This isn't possible :/  Email from zapper support:

Unfortunately, we don't currently support a "create comment on an issue" action in GitHub, which your workflow would require. Sorry for the bummer news there! While that's not something we can support right now, I've added a feature request for this action to our in-house wishlist. Since we receive dozens of feature requests every day, I can't gi

[2016-03-29 19:51] #1203 closed

[2016-03-29 20:19] emilyville commented on #1249
Let's make this less surprising and have it scroll with the page. initial landing place it good!

[2016-03-29 20:20] usds-bot opened #1604 "UserVoice Idea: help"
I want to hire veterans but find I'm wasting to much time tring to make this site work for me!!! Wheres the help menu. I have created an OJT program here at my business and look forward to hiring veterans but until I'm contacted by someone that can assist me this will be my last attempt to make this site work!!!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13205391-help

[2016-03-29 20:21] koconnor719 commented on #1305
@awong-dev talked to emily and we figured it out!!! i'm closing this and have confirmed!  ty:)

[2016-03-29 20:22] #1305 closed

[2016-03-29 20:23] koconnor719 commented on #1405
talked to emily confirmed this is closed.

[2016-03-29 20:32] koconnor719 commented on #1604
Posted and closed:

Thank you for your feedback. Can you provide us some additional details about what exactly you are trying to do on vets.gov?  You can also contact the Veteran Employment Center at 1-800-827-1000 or OEOECSUPPORT.VBAVACO@va.gov.

vets.gov team

[2016-03-29 20:32] #1604 closed

[2016-03-29 20:35] koconnor719 commented on #870
posted and closed:

Thank you for your feedback. We conducted some research on this and have moved the feedback forum to a more prominent place on the homepage.  We also spelled out the link, replacing the lightbulb!  Hopefully this makes it easier for Veterans to provide feedback on vets.gov.

vets.gov

[2016-03-29 20:35] #870 closed

[2016-03-29 20:40] emilyville opened #1606 "Make crisis line look like a button"
Use @gnakm mockups from this issue:

https://github.com/department-of-veterans-affairs/vets-website/issues/1312

and switch to the copy like the button as well!

tagging @mariana-almeida and @koconnor719 for awareness :)

[2016-03-29 20:41] mollyblake commented on #1102
Yes, you can close it. It will be covered in our jobs content!

[2016-03-29 20:41] #1102 closed

[2016-03-29 20:43] koconnor719 commented on #1606
@gnakm check w/ @mariana-almeida  on this--we have other crisis line changes in progress as well:)

[2016-03-29 20:43] emilyville commented on #1313
I think this is part of a bigger effort and can be closed along with #1312

for now we'll just do #1606

[2016-03-29 20:43] #1313 closed

[2016-03-29 20:44] koconnor719 commented on #1223
posted and closed:

Thank you for your feedback. We conducted some additional research with Veterans and have changed the lightbulb to text "Provide feedback on vets.gov"!  Great suggestion--thank you!

vets.gov team

[2016-03-29 20:44] #1223 closed

[2016-03-29 20:49] koconnor719 commented on #1244
posted response above and closed.

[2016-03-29 20:49] #1244 closed

[2016-03-29 20:49] emilyville commented on #1557
closing this because I think this part of it is complete. I'm sure there's more work to be done - but will leave to @mariana-almeida to define.

[2016-03-29 20:49] #1557 closed

[2016-03-29 20:52] koconnor719 commented on #1361
posted and closed.

Thank you for your feedback about kickers. Kickers or the college fund are calculated and provided on a monthly basis with GI Bill payments. We will provide more information on how kickers are calculated – including the addition of a conversion chart – to the About this Tool page. You can also call 1-888-GIBILL-1 (888-442-4551) (7 a.m. – 6 p.m. Central Time) to speak with an ag

[2016-03-29 20:52] #1361 closed

[2016-03-29 20:56] koconnor719 commented on #1401
@rcarthur @ss0ss can you provide a response for this? should i refer this user to a call center for info on C&P?

[2016-03-29 21:01] koconnor719 commented on #1414
no additional info received; closed issue.

[2016-03-29 21:01] #1414 closed

[2016-03-29 21:04] koconnor719 commented on #1422
@rickleegit can you pls. provide status.

[2016-03-29 21:07] koconnor719 commented on #1422
proposed response:

Thank you for your feedback about using the GI Bill basic housing allowance.  Please call 1-888-GIBILL-1 (1-888-442-4551) (7 a.m. – 6 p.m. Central Time) to speak with an agent who can answer detailed questions about the BAH.

vets.gov

[2016-03-29 21:08] koconnor719 commented on #1446
@rcarthur  pls. advise on response--do you think we should add link? or add this to add'l user research?

[2016-03-29 23:19] rcarthur commented on #1401
Hi Kelly - This is a very specific question. Think it's best for call
center to field this one.

On Tue, Mar 29, 2016 at 1:56 PM koconnor719 <notifications@github.com>
wrote:

[2016-03-29 23:25] MarinaMartin commented on #1401
@koconnor719 I don't think the call centers would know this. This is a suggestion for the website, that we provide consistent access to the same records (via blue button on my healthevet)

[2016-03-29 23:30] usds-bot opened #1614 "UserVoice Idea: Job Scams, No Real Jobs on Vets.gov"
Vets.gov is infected with Fraudulent "jobs" all of which prey on Veterans. The scam is a company providing "start up funds", or "paid training" which is paid to the Veteran in the form of a fraudulent Cashier Check received from a Mr Michael Rodgers in Pennsylvania, drawn on Evansville Teachers Federal Credit Union Remitter is Christine Parsons.
Unlucky Veterans who are looking for employment can

[2016-03-29 23:41] mariana-almeida commented on #1599
Hi Molly, I don't think we need this page. It was on the IA for informational purposes.

I find these "coming soon" pages to be not very useful to users. Plus they create added pressure on the team to deliver something immediately. Thoughts?

[2016-03-29 23:56] rcarthur commented on #1599
That makes sense - especially since we're not taking C&E live this week.

On Tue, Mar 29, 2016 at 4:41 PM Mariana Almeida <notifications@github.com>
wrote:

[2016-03-30 00:44] emilyville opened #1617 "Revisit use of Yellow and "how can we help""
combining two issues into one:

- Is yellow (#fdb81e) the right color for highlighting info? #948
- People try to click on the yellow "How can we help?" box #722
- And there's also a few about the crisis line #1606
- and when do we use the yellow bar for tools etc

I think it's time to revisit this as our primary call to action, as well as color we're using and let's use it intentionally and then

[2016-03-30 00:45] emilyville commented on #722
I'm closing this because it's been consolidated into https://github.com/department-of-veterans-affairs/vets-website/issues/1617

[2016-03-30 00:46] emilyville commented on #1606
I'm closing this because it's been consolidated into #1617

[2016-03-30 00:46] #1606 closed

[2016-03-30 00:47] emilyville commented on #948
I'm closing this because it's been consolidated into #1617

though I do love this thread very much, I think we can bring it into the homepage design fold and it will gain more traction.

[2016-03-30 00:47] #948 closed

[2016-03-30 00:48] #722 closed

[2016-03-30 00:50] emilyville commented on #655
@rickleegit can we close this out? I'm guessing so because it's way old.

[2016-03-30 00:51] emilyville commented on #168
I do not know what this means - but I imagine we've changed the footer several times since october, so closing.

[2016-03-30 00:51] #168 closed

[2016-03-30 00:52] emilyville commented on #162
I do not know what this means - but I imagine we've changed the lists several times since october, so closing.

[2016-03-30 00:52] #162 closed

[2016-03-30 00:52] emilyville commented on #299
We have a 404 page! success! for failure!

[2016-03-30 00:52] #299 closed

[2016-03-30 00:53] emilyville commented on #509
this is old, I hope we've covered this.

[2016-03-30 00:53] #509 closed

[2016-03-30 00:54] emilyville commented on #526
I am closing, I agree with @dannychapman

[2016-03-30 00:54] #526 closed

[2016-03-30 02:19] koconnor719 commented on #1401
Ty

Sent with Good (www.good.com)

-----Original Message-----
From: Marina Martin [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, March 29, 2016 07:25 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: C&P exams results should be available to

[2016-03-30 02:22] emilyville commented on #529
these have a line description, so go us. closing issue.

[2016-03-30 02:22] #529 closed

[2016-03-30 02:37] emilyville commented on #537
this does get comically small. assigning to you @webinista - I think we could make a patch for ourselves or / also ping USWDS because I can't imagine it's intentional.

[2016-03-30 02:39] emilyville opened #1618 "Copy change to make this list less overhwhelming?"
![screen shot 2016-03-29 at 7 35 49 pm](https://cloud.githubusercontent.com/assets/1307774/14130157/bbbf14ee-f5e5-11e5-96f9-62bf15cf34fc.png)

This block of text is kind of overwhelming. Could we parse it a little more for users? Thinking we could change to

Yes if,
You are the child or spouse of a Servicemember
- option
- option
- option

You are the child or spouse of a Veteran
- option
- option

[2016-03-30 02:44] emilyville commented on #893
this will be covered in playbook 2.0/roadrunner content! @maryannbrody or @mariana-almeida - feel free to close if it's already covered there, or wait until that is the case.

[2016-03-30 02:45] emilyville commented on #881
@webinista - do you think we could incorporate this into the future of roadrunner?

[2016-03-30 03:04] emilyville commented on #677
Let's change this to
Callout boxes are used to highlight content areas and make pages easier to scan.
from
Callout boxes are used to highlight important content areas and make pages easier to scan.
(removing the word important.)

[2016-03-30 03:06] emilyville commented on #650
I think we added this - and then removed it recently but I can't find the relevant issue. Can you confirm @maryannbrody ?

[2016-03-30 03:07] emilyville commented on #605
@webinista could you could tackle this one?

[2016-03-30 03:09] emilyville commented on #601
@awong-dev - could you add some context here and re-assign or close appropriately?

[2016-03-30 03:11] emilyville commented on #599
@webinista @plusjeff this sounds good to me? if it looks good let's add a license file.

[2016-03-30 03:13] emilyville commented on #594
@mariana-almeida - If this makes sense to you assign to me or tiffany to change!

[2016-03-30 03:42] mollyblake commented on #1599
The only problem @rcarthur and @mariana-almeida is that we need to send people somewhere that relates to VR&E - we have links to VR&E on a lot of pages so it's either a "coming soon" page or a VA.gov page.  I feel like we should pick one and go with it globally.

[2016-03-30 03:50] mollyblake commented on #1618
@emilyville what page is this?  I'm happy to look over the content to see if we can combine some bullet points. @mariana-almeida

[2016-03-30 04:38] #1565 closed

[2016-03-30 04:45] #1552 closed

[2016-03-30 04:50] #1564 closed

[2016-03-30 04:54] #1566 closed

[2016-03-30 04:59] #1568 closed

[2016-03-30 05:03] #1569 closed

[2016-03-30 05:07] #1570 closed

[2016-03-30 05:11] emilyville commented on #1618
Doh! forgot the link. https://www.vets.gov/education/survivors-dependent-assistance/

Thanks @mollyblake !! :dancer:

[2016-03-30 05:12] #1572 closed

[2016-03-30 05:20] #1567 closed

[2016-03-30 14:50] gnakm commented on #1581
Let's go with this. It's more in scale. @emilyville @rcarthur Curious do we have copies that go with the linkedin, coursera, and resume builder widgets? Or did we decide that they're just going to be links (or blocks)?
![example 1](https://cloud.githubusercontent.com/assets/13420618/14146233/e8afa08e-f664-11e5-98f6-8f6c6bffd60a.png)

[2016-03-30 15:02] gnakm commented on #1581
@mollyblake

- What about "Find a variety of geographical areas?"
- The where box really means location but I think it's consistent with the "what." Unless you have a suggestion to change both though I highly suggest that we make that soon.
- There should only be a one city input. All of the job search engines I have used allows 1 location unless you have an advanced search that goes side by side

[2016-03-30 15:38] rickleegit commented on #1422
BAH rates are developed by DoD and reported to VA for paying the Post-9/11 GI Bill. BAH rate increases that go into effect for Servicemembers in January do not apply to the Post-9/11 GI Bill MHA until the beginning of August. You can read more about the rate changes by reading our FAQ here (https://gibill.custhelp.com/app/answers/detail/a_id/1412/kw/MHA%20increase).

[2016-03-30 15:50] mariana-almeida commented on #1618
Good call out, @emilyville! We love ta chunk da text.

[2016-03-30 16:11] mariana-almeida commented on #1581
A couple of comments:

1) This isn't accurate for what the Military Skills Translator does: "3. Use the Skills Translator tool to find a civilian job description to match your military specialty." It's not about job descriptions. It's about translating your military skills into language hiring managers will understand.

2) One-on-one assistance needs another noun or descriptor. "One-on-one Assista

[2016-03-30 16:42] usds-bot opened #1619 "UserVoice Idea: 6 Job Scams in 14 Days on Vets.gov"
6 Job Scams in 14 Days on Vets.gov

The following 6 Job Scams have come through www.ebenefits.va.gov/ Employment Center Portal to Vets.gov. To create or manage a Veteran Job Seeker Profile and Resume on the site, the Veteran must have a DS Login for eBenefits.

Each of the below 6 Job Scams have been sent from “Employers” registered with Vets.gov and each references eBenefits.

The Vets.gov websit

[2016-03-30 17:25] mollyblake commented on #1599
This page is not going to be created.

[2016-03-30 17:25] #1599 closed

[2016-03-30 18:17] emilyville opened #1623 "add third blue box for C&E to staging"

[2016-03-30 18:19] #1506 closed

[2016-03-30 18:45] webinista commented on #1571
Fixed in #1590.

[2016-03-30 18:45] #1571 closed

[2016-03-30 19:12] gnakm opened #1624 "Hiring Commitment Mockup"
This will go with new copy from issue #1600
![hiring commitment](https://cloud.githubusercontent.com/assets/13420618/14154306/bcce27e0-f689-11e5-8886-a233c768aefe.png)
Woohoo for numbers!
reference: https://vets-website-pr-1600.herokuapp.com/disability-benefits/apply-for-benefits/

[2016-03-30 19:24] gnakm commented on #1581
@emilyville Here is the finalized copy:

Search the Veterans Job Bank to find the right position for you.

**Three tips to get the most out of the job search tool:**

1. Make your search as broad as possible.
2. Explore a variety of geographical areas.
3. Use the Skills Translator tool translate your military skills into language hiring managers will understand.

**Additional Resources**
[One-on-o

[2016-03-30 19:25] emilyville commented on #1539
If everyone is saying done, should this be closed @mollyblake @rcarthur @gnakm ?

[2016-03-30 19:28] rcarthur commented on #1539
Yes, we can close it....but it should say "Establish an Apprenticeship" -
"an" instead of "and"

On Wed, Mar 30, 2016 at 12:26 PM emilyville <notifications@github.com>
wrote:

[2016-03-30 19:35] gnakm commented on #1539
That's already been changed. I'm closing this.

[2016-03-30 19:35] #1539 closed

[2016-03-30 19:37] rcarthur commented on #1581
Thumbs up!

On Wed, Mar 30, 2016 at 12:24 PM Gina Kim <notifications@github.com> wrote:

[2016-03-30 19:49] emilyville commented on #1576
Assigning to @rcarthur to close or follow up on.

[2016-03-30 20:01] emilyville commented on #935
thinking we can close this @webinista ?

[2016-03-30 20:01] emilyville commented on #1538
closing and following @gnakm's redesign instead https://github.com/department-of-veterans-affairs/vets-website/issues/1624

[2016-03-30 20:01] #1538 closed

[2016-03-30 20:10] webinista commented on #935
I think so. This feels like an IA question that's being addressed by other issues. (And if it isn't being addressed, we can reopen it.)

[2016-03-30 20:10] #935 closed

[2016-03-30 20:18] kantrowitz commented on #1580
@mollyblake Please take a look. If it needs further adjustment, just let me know.

[2016-03-30 20:22] rcarthur commented on #1576
@ayaleloehr  10-4 on that.  The "featured jobs" on the page previously had all been for "Truck Driver" so we figured that we had better flag it.  As long as we are considering the special "Non-Competitive Appointment" jobs on vaforvets then we are good.

[2016-03-30 20:24] cfeeney-va opened #1630 "Typo in Job Seekers content"
https://staging.vets.gov/employment/job-seekers/

Step 7: Get personalized help if you need it
-says "ne-on-one" instead of "one-on-one"

[2016-03-30 20:25] mollyblake commented on #1580
Hi @kantrowitz . Is the page on heroku? I don't see it on staging. Thanks!

[2016-03-30 20:28] #1455 closed

[2016-03-30 20:31] #1573 closed

[2016-03-30 20:32] rcarthur commented on #1624
Nice!

[2016-03-30 20:45] rcarthur opened #1632 "Switch find/favorite veterans into VEC from vets-website"
This page:
https://vets-website-pr-1600.herokuapp.com/employment/employers/find-candidates/
https://github.com/department-of-veterans-affairs/vets-website/blob/jobs-employment-v2/_employment/employers/find-candidates.md

...should be a tool....and I'm pretty sure that it already exists somewhere after you log in (but log in is not working for me right now).

[2016-03-30 20:54] emilyville opened #1634 "sweep to make text width consistent in new careers and employment branch"
Let's use the new text widths here consistently!

also make sure to make a pr off of the jobs-employment-v2 branch

[2016-03-30 20:57] rcarthur opened #1635 "Landing Page should have a smaller box link for "Military Spouse and Family Job Seekers""
https://vets-website-pr-1600.herokuapp.com/employment/

According to IA, this page should have a third option for "Military Spouse and Family Job Seekers"

Also, the VEC button is supposed to be gone, right?

[2016-03-30 21:51] bethpotts opened #1638 "The underscore should be a dash in this link: /employment/job_seekers/skills-translator"
The content team was given a list of 5 links to use for tools. This was one of them. Albert and I were looking at why tests failed on a recent PR, and he discovered this tiny error. Can a global fix be made for this since we have this link, incorrectly constructed, on other pages as well? So, from:
/employment/job_seekers/skills-translator

To:
/employment/job-seekers/skills-translator

Many thank

[2016-03-30 22:28] kantrowitz commented on #1580
Here's the link. Had to resolve a conflict.

https://staging.vets.gov/employment/job-seekers/start/counseling/

[2016-03-30 22:36] webinista commented on #599
Please contribute to the LICENSE.md file in the [issue#599 branch](https://github.com/department-of-veterans-affairs/vets-website/tree/issue%23599).

[2016-03-30 23:00] webinista commented on #537
Filed 18F/web-design-standards#1092 and will also fix in the meantime.

[2016-03-30 23:00] usds-bot opened #1640 "UserVoice Idea: Build a new and better Skills Translator"
The Skills Translator is ridiculous.  Find some veterans and some civilians who can do a better job of translating veterans skills.  I enter my MOS and was shocked to see the results.  I would Lying if put those skills on my resume.

Has anyone actually researched how many veterans can truly use this skills translator?  Why not ask for the enlisted and officer community managers to sit down with t

[2016-03-30 23:14] ayaleloehr commented on #1592
@koconnor719 I looked into this for a while today. Turns out the [link](http://metroproductions-gs.com/careers/results.json) Metro Productions provided returns malformed JSON, which is why we're having trouble picking up their jobs.  Specifically, the content is wrapped in a `<script>` tag with `<script type='application/ld+json'>` at the beginning and `</script>` at the end. If those are removed,

[2016-03-30 23:41] webinista commented on #537
This is actually in `_va.scss`, lines 714-715. But there are a couple of problems I want to address first:

1. `/education/survivors-dependent-assistance` is in `/_education/gi-bill/survivors-dependent-assistance.md` in my local repo. Will that be the URL going forward?
2. I _think_ that whoever added the `table {font-size: .5em}` style was trying to shrink the font's size in order to make the tab

[2016-03-31 00:11] rcarthur commented on #1401
@koconnor719  - Is there a specific task for the Content Team on this or should it be assigned to development team?

[2016-03-31 02:02] kantrowitz commented on #1630
Step 7 was removed. "Get personalized help if you need it" was added as a blue box on the bottom. Spelling was corrected.

[2016-03-31 02:02] #1630 closed

[2016-03-31 02:57] emilyville commented on #1638
I believe I have already fixed this. Are there more?

[2016-03-31 03:37] emilyville commented on #1584
to be completed with https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/254

[2016-03-31 03:54] mollyblake commented on #1580
Thanks @kantrowitz ... @rcarthur -- the breadcrumb might not need to include the "START" .. can you weigh in?  THANKS
<img width="975" alt="screen shot 2016-03-30 at 8 53 09 pm" src="https://cloud.githubusercontent.com/assets/16196072/14165018/84cdd5e0-f6b9-11e5-944a-4b1868aff357.png">

[2016-03-31 03:59] rcarthur commented on #1580
Yep - should be "Start or Grow a Business" - but now we are going way too
long.

I think one way to do it is have the bread crumbs show

Job Seekers - Entrepreneurship - Counseling

(This is slightly cheating I know - but it's better than what's there now).

On Wed, Mar 30, 2016 at 8:54 PM Molly Blake <notifications@github.com>
wrote:

[2016-03-31 05:33] emilyville commented on #1581
this is done in https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/253

[2016-03-31 05:35] emilyville commented on #1638
I do not have time to get to this tonight  - @ayaleloehr or @cfeeney-va if you have a chance tomorrow, might be good to double check I got all of these.

[2016-03-31 05:42] emilyville commented on #1546
closing because all the other issues for this same thing in more detail.

[2016-03-31 05:42] #1546 closed

[2016-03-31 06:27] emilyville commented on #1624
should be done when this is merged pending some copy reviews, https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/256

[2016-03-31 09:39] usds-bot opened #1643 "UserVoice Idea: One more Job scam"
One more job scam here's the email I received using a different email other then gmail

On Wednesday, March 30, 2016, <fjsirota@optimum.net> wrote:
Good Day

          Dear applicant, we apologize for the delay in response, as in regards to your resume that was forwarded to our head department for  the Office Administration, Data Entry, Recruiting, Presentations, Report Writing, Training, Employee

[2016-03-31 12:42] emilyville commented on #1580
Breadcrumbs are automagical. Once you decide what to do check out @webinista awesome documentation of how they work in the read me to fix and send to her for review.

[2016-03-31 13:19] rcarthur commented on #1580
@kantrowitz @bethpotts @molly  Let's talk about this later this morning.

On Thu, Mar 31, 2016 at 5:42 AM emilyville <notifications@github.com> wrote:

[2016-03-31 14:00] ayaleloehr commented on #1638
This was my fault initially on creating the typo where I put `_` instead of `-` in job-seekers. Sorry about that. At present, there are zero instances of the text `job_seekers` in the jobs-employment-v2 branch, so this is taken care of and I'm going to close this issue.

[2016-03-31 14:00] #1638 closed

[2016-03-31 14:53] mollyblake commented on #1580
I love the word automagical @emilyville

[2016-03-31 15:41] #1624 closed

[2016-03-31 15:45] emilyville commented on #1635
@rcarthur I think this was just not out yet:
https://staging.vets.gov/employment/

Verify this is what you meant and please if so go ahead and close!

[2016-03-31 15:57] emilyville commented on #1632
@rcarthur @gnakm @mariana-almeida -

I have a hunch this is the same thing as what is currently called in VEC "Favorites"? If so, this is likely something we've missed until now and needs to be revisited as we have done with commitments, job search, skills translator, and resume builder.

OR - Since there is not much going on on this page you linked to, do you simply want to use the existing one a

[2016-03-31 16:05] emilyville commented on #1591
Just following up to clarify - this needs to be copy added to the employer landing page other than the one you're linking to, in the instance that we send employer landing page to VEC.

Tagging @ayaleloehr for awareness. At this point it's seeming cleaner to put all employer pages in VEC because then we won't run into the issue where you are logged in and navigate away within the employer section

[2016-03-31 16:09] #1449 closed

[2016-03-31 16:19] rcarthur commented on #1591
Yes, the employer landing page here: https://staging.vets.gov/employment/employers
...doesn't reflect the IA or the content that we've prepared.

[2016-03-31 16:26] rcarthur commented on #1632
@emilyville yes, no need to alter the page that already exists.  https://employment.vets.gov/employment/veterans

Best to keep it simple.

I was able to log in today NP.  Thanks!

[2016-03-31 16:47] bethpotts opened #1647 "breadcrumb wording is wrong on Careers and Employment > Employers > Log in page"
This page:
/employment/users/sign_in

Has an extra word that needs deleting ("For"):
Employment > For Employers > Log in

[2016-03-31 17:04] webinista commented on #599
@plusjeff I'm going to assign to you for some contributions in the what's public domain/what isn't public domain section. It's in the issue#599 branch.

[2016-03-31 17:21] molly commented on #1580
Pinging @mollyblake for you because I have no idea what this is :smiley:

[2016-03-31 17:38] rcarthur commented on #1635
Yes, it looks good!

[2016-03-31 17:38] #1635 closed

[2016-03-31 18:08] webinista commented on #1115
@emilyville I need some details here. What buttons?

[2016-03-31 19:14] gnakm opened #1651 "Less Clutter in Job Seekers Page"
1. Top content larger, blue font.
2. Middle area should be in blue box.

https://employment.vets.gov/employment/job-seekers/

[2016-03-31 19:15] gnakm opened #1652 "Subway Map Numbering"
Add missing Subway map numbers
https://employment.vets.gov/employment/job-seekers/less-than-one-year/

[2016-03-31 19:25] gnakm opened #1653 "Add Blue Box for One-on-one"
https://employment.vets.gov/employment/job-seekers/one-on-one/
Put Sections "Are You Eligible" and "Who is Covered?" in blue call out box.  <div class="call-out">

Here is a sample: https://www.vets.gov/disability-benefits/conditions/

[2016-03-31 19:26] gnakm opened #1654 "Add Blue Box Unemployment Support"
https://employment.vets.gov/employment/job-seekers/unemployment-support/

[2016-03-31 19:30] gnakm opened #1655 "Military Skills Translator Link Repeated"
https://employment.vets.gov/employment/job-seekers/

The link for #2 Civilian Occupation Translator and #3 Military Skills Translator both link to the military skills translator. Could we change the copy or just get rid of #2? Once the change is made, please assign it back to me! Thanks.

[2016-03-31 19:48] gnakm opened #1656 "Change Employers Log In"
https://employment.vets.gov/employment/employers#
Sign out under blue bar.
Condense down to Download Veterans and Approve Employers

We believe in you @cfeeney-va

[2016-03-31 19:54] gnakm opened #1657 "Employers Hiring Commitment Changes"
Combine "Your Employer Information" and "Your Hiring Commitment" into one blue card
Change "Make a Hiring Commitment" " to "View all Hiring Commitments"
Manage Your Profile and Hiring Commitment
https://www.vets.gov/veterans-employment-center/employers

[2016-03-31 20:02] emilyville commented on #1591
@rcarthur sounds like on staging it's still redirecting to VEC one. I really hope we can get you all on a local version some day so you can see these things more easily!

@gnakm is going to take a pass at combining new and old and we will update today or tomorrow. Stay tuned, and we have your content for it!

[2016-03-31 21:35] webinista commented on #1634
@emilyville I know that we have a maximum text width, but do they apply to all text? Do we have guidelines about which blocks of text they apply to? Am I making sense at all?

[2016-03-31 22:14] emilyville commented on #1467
I think changing the foundation breakpoint to be consistent with USWDS (600) makes sense to me. It seems more likely that we let go of foundation than USWDS, I think.

[2016-03-31 22:19] emilyville commented on #1647
Assigning to @cfeeney-va because it's in the VEC repo

[2016-03-31 22:21] emilyville commented on #1623
This is done! cheers for @ayaleloehr ! I am closing.

[2016-03-31 22:21] #1623 closed

[2016-03-31 22:24] webinista opened #1663 "Limit link transitions to background color"
Transitioning all properties leads to funky interactions like this.

![link-transitions](https://cloud.githubusercontent.com/assets/354277/14192764/98adc28c-f754-11e5-9b04-1358535c0118.gif)

Blocks #1182

[2016-03-31 22:34] emilyville commented on #1182
@webinista I think we're missing these everywhere now, take a look and assess!

[2016-03-31 22:36] webinista commented on #1182
Yes, it was a global change. I'm working on it, but it's blocked by #1663.

[2016-03-31 22:50] webinista opened #1664 "Refactor abbr, a abbr, abbr[title] selector"
Using `abbr` should be enough.

[2016-03-31 22:55] #537 closed

[2016-03-31 23:04] #605 closed

[2016-03-31 23:09] webinista opened #1666 "Consolidate and reconcile styles for `a` selector"
A few declaration blocks are styling and re-styling `a` elements. These should be grouped and sorted out. Declarations are:

- around line 100
- around lines 188-189

[2016-03-31 23:10] webinista opened #1667 "Consolidate variables into a va-vars.scss file"
`_va.scss` has a lot of variables scattered throughout. Should group them together in a single partial.

[2016-03-31 23:12] emilyville commented on #1098
@MarinaMartin Is this test still happening or can we close out this issue?

[2016-03-31 23:12] #677 closed

[2016-03-31 23:29] webinista opened #1668 "h1 a{} selector is overly broad, narrow its scope"
Around line 156 of `_va.scss`, the `h1 a` is supposed to style the logo. But because it's overly broad, it forces longer, higher specificity selectors down the line. Scope these styles to a class or id selector (e.g. `.va-logo--header`)

Also simplify and combine with `.header h1` since it's targeting the same object.

[2016-03-31 23:35] MarinaMartin commented on #1098
Closing

[2016-03-31 23:35] #1098 closed

[2016-03-31 23:35] emilyville commented on #1634
yes! you are making sense. I am following the USWDS specification and honestly haven't implemented it myself and have just been hacking at setting column widths at medium-9, which isn't ideal.

I think we can use usa-content -

more here: https://playbook.cio.gov/designstandards/visual-style/

I'm happy if you want to make a call on the best way to standardize - or we @gnakm or I can make a more g

[2016-03-31 23:42] emilyville commented on #1115
these guys!

![screen shot 2016-03-31 at 4 42 13 pm](https://cloud.githubusercontent.com/assets/1307774/14194107/90e19ec4-f75f-11e5-902a-c40e2dd2df98.png)

but the hover states are in pretty good shape.

[2016-03-31 23:45] emilyville commented on #1115
yes, we did this, check out how awesome:

![screen shot 2016-03-31 at 4 44 41 pm](https://cloud.githubusercontent.com/assets/1307774/14194154/ee5149ce-f75f-11e5-8b7e-ca0d8448a791.png)

[2016-03-31 23:45] #1115 closed

[2016-03-31 23:50] emilyville commented on #1122
I think this can be closed. We've tackled the above issued and the only remaining on is that it's inconsistent across repos - which is already reflected in https://github.com/department-of-veterans-affairs/va_common/issues/25

[2016-03-31 23:50] #1122 closed

[2016-03-31 23:50] cfeeney-va commented on #1647
This was fixed in VEC pull request #252; you'll see it after the next deploy

[2016-03-31 23:50] #1647 closed

[2016-03-31 23:56] webinista opened #1670 "Remove unused SCSS from _va.scss"
If it's commented (e.g., starts with `//` or `/*`), but is not an actual comment, let's delete. It doesn't get printed, but it does clutter the file.

[2016-03-31 23:58] koconnor719 commented on #1122
Agreed!

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, March 31, 2016 07:50 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Re-design UserVoice icon to provide users with more c

[2016-04-01 00:01] #1249 closed

[2016-04-01 00:07] webinista opened #1671 "Simplify #content.interior .navigation, #content #playbook .navigation block"
Around lines 755 and 756, of `_va.scss` the block that begins `#content.interior .navigation, #content #playbook .navigation` should be simplified:

- [ ] `ul.cards li` (can probably become `.cards--alternate li`)
- [ ] `ul.small-block-grid-1`
- [ ] `ul.cards li a` (can probably become `.cards--alternate a`)

[2016-04-01 00:15] webinista opened #1672 "Refactor body.home .navigation, body.fourohfour .navigation selector"
This is a little bit of a design question. The [home page](https://www.vets.gov/) and the [404 error page](https://www.vets.gov/404) are very similar. The big differences are:

- the amount of padding above and below that row of navigation cards.
- the missing rule line underneath "Quick Links"

Making the designs more consistent would save a few bytes. Okay to proceed?

[2016-04-01 00:16] webinista opened #1673 "Refactor body.fourohfour #content selector"
In `_va.scss`. Related to: #1672

[2016-04-01 00:17] webinista opened #1674 "Refactor body.home .main-navigation"
Safe to remove. Not being used on the home page or anywhere else at all.
Related to #1672, #1673

[2016-04-01 00:22] webinista opened #1675 "Sweep CSS for unnecessary vendor prefixes"
Not all experimental properties were prefixed. For example, Opera implemented un-prefixed versions of `border-radius`. Microsoft never implemented `-ms-box-shadow`. In other cases, the percentage of browser versions in current usage is low enough that we can safely remove the prefixed property (e.g.: `box-shadow`).

Consult http://caniuse.com/ for a sense of what we can drop.

[2016-04-01 00:24] webinista opened #1676 "Refactor #content .cards SCSS block"
Simplify to use `.va-cards` pattern.

[2016-04-01 00:26] webinista opened #1677 "Consolidate .coming-soon into one block, plus an alternate version"
See lines 891-907, 846-889 of `_va.scss` (or thereabouts)

[2016-04-01 00:31] #1663 closed

[2016-04-01 00:39] webinista opened #1679 "Combine #experience .splash blocks."
Combine `#experience .splash {padding: 0; margin: 0;}` around line 256 with the `#experience .splash` block that begins around line 1022.

Blocks #1680

[2016-04-01 00:40] webinista opened #1680 "Wrangle and combine instances of .splash"
`_va.scss` has the following selectors:

- [x] `#content .splash` around line 195
- [x] `#experience .splash` around line 256
- [x] `#experience.Designing .splash` around line 991
- [x] `#experience.When .splash` around line 999

The design of these should be standardized if possible. If not, each instance should use the same base class name, and a differentiating suffix (e.g. `.va-splash` and `.v

[2016-04-01 00:41] emilyville commented on #1632
Awesome! I am going to change the title of this issue reflect that.

the things that need to happen are
- remove this page in vets-website
- update all links to it to go into VEC for
  - /employment/veterans and/or /employment/favorites
- and add them to the rakefile

@ayaleloehr I think they will be...
/employment/veterans
and/or
/employment/favorites

Anything else we need to do to make this cha

[2016-04-01 00:58] webinista opened #1682 "Change "Search for help near you" in jobs branch"
Should read "Search Accredited Attorneys, Claims Agents, or Veterans Service Organizations (VSO) Representatives." see #605. Can probably `git cherry-pick` from a4fa61e14b199a5cec458426033833c517b37b0d

[2016-04-01 01:05] webinista opened #1683 "Investigate whether we can refactor some animations to use transitions"
Since `fadeIn`, `fadeInDown`, and `fadeInDownBig` animations are simple 0-100% animations, they may be able to be converted to transitions, which would make them a little less verbose.

Might affect `animate.js` behavior.

[2016-04-01 01:09] webinista opened #1684 "Combine .simpletooltip blocks"
They're back to back on lines 2473 and 2486

[2016-04-01 13:58] gnakm opened #1690 "Commitments Number too big"
@emilyville I did not account for the actual growth of number. Would decreasing font size for all 3 boxes be the best way to go about this? Wonder if you have a better solution in mind.
<img width="1435" alt="screen shot 2016-04-01 at 9 52 39 am" src="https://cloud.githubusercontent.com/assets/13420618/14208890/a4dfbefc-f7ef-11e5-8a61-241e243a83b3.png">

[2016-04-01 14:52] ayaleloehr commented on #1690
FWIW, I assume we're not going to go past a 7 digit number, but it would be nice to be able to add in commas at some point without breaking it.

[2016-04-01 14:53] ayaleloehr commented on #1690
Also this is the same as https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/259

[2016-04-01 15:29] gnakm commented on #1690
@ayaleloehr Jinx! Closing now.
#259

[2016-04-01 15:29] #1690 closed

[2016-04-01 15:58] gnakm commented on #1634
@webinista
We prototyped to test the line length on this page https://vets-website-pr-1459.herokuapp.com/education/gi-bill/ , which was set to 53rem (approx. 75 character length) but after receiving feedback and talking about it, we think 70rem (approx. 100 character length) is a better decision. This will be for all blocks of texts. We are going add this to roadrunner. I, too am happy if there is

[2016-04-01 16:12] #1670 closed

[2016-04-01 16:38] emilyville opened #1691 "something funny happening here"
https://www.vets.gov/playbook/product-methodology/

![screencapture-www-vets-gov-playbook-product-methodology-1459528652509](https://cloud.githubusercontent.com/assets/1307774/14213551/6df884f2-f7ed-11e5-8fc5-e59a74cb7aaa.png)

[2016-04-01 16:38] emilyville commented on #1691
I actually can't remember what the intended look was - I think the color may have only been along the side? @gnakm do you know?

[2016-04-01 16:42] gnakm commented on #1691
yowsa! I think there were 3 full color boxes with text inside, instead of color just along the sides.

[2016-04-01 16:54] cfeeney-va commented on #1656
tracking in veterans-employment-center PR #260

[2016-04-01 18:05] mollyblake opened #1694 "Yellow Box -- VECI"
@emilyville can we please write out **Veterans Economic Community Initiative** in the Yellow Box on the this page https://employment.vets.gov/employment/job-seekers/veci/

THANKS!!!

[2016-04-01 18:20] cfeeney-va commented on #1454
Hey guys, I actually found a gem that will do this: http://garlicjs.org/
Code updated on VEC: http://github.com/department-of-veterans-affairs/veterans-employment-center/pull/261

However, I'm wondering if this creates any kind of security issues for people that would be using public computers?  The data persists until the form is submitted, so if you accidentally refresh the page or close your ta

[2016-04-01 19:06] MarinaMartin commented on #1454
There would actually be a decent chance because VEC is taught in TAP class where different service members are using the same computer throughout the day.

[2016-04-01 19:11] cfeeney-va commented on #1454
Thanks @MarinaMartin :)

so i think our options are the multiple "Save" buttons idea or to just say this isn't possible

[2016-04-01 19:27] webinista commented on #1691
😭

[2016-04-01 20:54] emilyville commented on #1691
FWIW I have no objections to making this page less of a snowflake, and removing things that aren't used elsewhere. Not because it isn't special - but because it might be soon brought into a new roadrunner land... whatever that might mean.

[2016-04-01 21:03] webinista commented on #1691
It can be fixed with a minimum of additional CSS. We can do that in the meantime, and then figure out how to make it less of a snowflake.

[2016-04-01 21:20] webinista opened #1699 "Fix #content .main .section.one ol selector and side-effect"
The `margin: 0` part of the `#content .main .section.one ol` block is causing side effects for process lists on some pages. It's overriding an `ol` left margin of 1.25em that really needs to be there on mobile. Can see the effects on /employment/job-seekers/less-than-one-year/ (probably need to view locally in the jobs-employment-v2 branch).

![screen shot 2016-04-07 at 10 42 33 am](https://cloud.

[2016-04-01 21:21] #1652 closed

[2016-04-01 21:53] emilyville commented on #1651
merged!

[2016-04-01 21:53] #1651 closed

[2016-04-01 22:22] #1691 closed

[2016-04-01 22:27] webinista commented on #1683
Closing. This probably isn't worth the tradeoff of rewriting.

[2016-04-01 22:27] #1683 closed

[2016-04-02 18:03] koconnor719 commented on #1640
posted and closed.

Thank you for your feedback. We agree it's important the skills translator provide relevant skills.  The skills translator database will be updated with improved with updated source data for MOC codes over the next few weeks. Our skills are based on a standard industry taxonomy from LinkedIn and other industry sources. The more Veterans use the skills translator and select skil

[2016-04-02 18:04] #1640 closed

[2016-04-02 18:15] koconnor719 commented on #1619
posted and closed; escalated this comment to VEC team to address if further response is necessary.
While it is unfortunate that anyone would try to take advantage of a Veteran, tactics such as phishing are becoming more common. It is important to remain vigilant in screening unknown e-mails, social media messages and phone calls to avoid these threats and to recognize someone posing as VA or a Vet

[2016-04-02 18:15] #1619 closed

[2016-04-02 18:20] koconnor719 commented on #1614
posted and closed:

It is unfortunate that anyone would try to take advantage of a Veteran. The Veterans Employment Center (VEC) puts the safety and security of Servicemembers, Veterans, and their families first. The VEC does not store resumes, addresses, phone numbers, dates of separation, or any personally identifiable information (PII). VA reports all suspicious activity, suspected corporate fr

[2016-04-02 18:20] #1614 closed

[2016-04-02 18:21] koconnor719 commented on #1643
posted and closed:

It is unfortunate that anyone would try to take advantage of a Veteran. The Veterans Employment Center (VEC) puts the safety and security of Servicemembers, Veterans, and their families first. The VEC does not store resumes, addresses, phone numbers, dates of separation, or any personally identifiable information (PII). VA reports all suspicious activity, suspected corporate fr

[2016-04-02 18:21] #1643 closed

[2016-04-03 03:53] rcarthur commented on #1655
@mollyblake  - could you look at this?

[2016-04-03 03:53] #1554 closed

[2016-04-03 03:55] #1508 closed

[2016-04-04 16:31] mollyblake commented on #1655
@gnakm @rcarthur the current version employment/job-seekers/ is correct -- "interest profiler" goes to the employment/job-seekers/interest-profiler/ and "military skills translator" goes to employment/job-seekers/skills-translator

[2016-04-04 17:12] #1655 closed

[2016-04-04 17:20] Drakenhart opened #1707 "Style Guidance on a landing page with external links."
Issue: Site that requires a landing page to help users find information not within the site.

Clarification: Due to the high levels of internal search queries for benefits (and specific forms) a landing page was devised to help guide users to what they were looking for specifically.

Rather then send them to the home page of a given site, certain of the most searched items were taken and made link

[2016-04-04 17:32] usds-bot opened #1708 "UserVoice Idea: Profile editor improvement"
It would be nice to be able to change the order of employment, education, and skills so they appear in the desired order rather than a random list.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/13307628-profile-editor-improvement

[2016-04-04 17:49] rcarthur commented on #1655
Thanks Molly!

[2016-04-04 19:39] emilyville commented on #1654
Like this @kantrowitz
![screen shot 2016-04-04 at 3 38 18 pm]

From here: (https://cloud.githubusercontent.com/assets/1307774/14260825/5c30b146-fa7b-11e5-9852-529ff0e030a6.png)

https://employment.vets.gov/disability-benefits/conditions/

[2016-04-04 19:58] emilyville opened #1715 "less than one year page has a merge conflict that has been merged."
![screen shot 2016-04-04 at 3 55 09 pm](https://cloud.githubusercontent.com/assets/1307774/14261266/cb476f96-fa7d-11e5-95b4-12a9d3daff54.png)

[2016-04-04 20:55] webinista opened #1718 ""Related Posts" point to URLs with local IPs, not the posts"
See the "Related posts" section of the [Help Us Create vets.gov](https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta.html) post. The posts point link to pages on `0.0.7.224`.

[2016-04-04 21:36] #1684 closed

[2016-04-04 21:46] #1715 closed

[2016-04-04 22:01] #1666 closed

[2016-04-04 22:33] #1679 closed

[2016-04-04 22:40] webinista opened #1720 "Switch to YAML field, inline CSS instead of using {{page.title}} to add images to blog posts"
Rather than using the post title as a class name, should use a path variable in the YAML front matter. Right now, the `post-single` template uses the page title as a class on the `div#experience`. Doing so creates a space-separated class list. That won't work if we have more than one post that begins with the same word but that have nothing to do with each other.

Blocks #1680.

[2016-04-04 22:41] #1668 closed

[2016-04-04 22:45] #1664 closed

[2016-04-04 22:57] #1667 closed

[2016-04-04 23:04] emilyville commented on #1694
Assigning to @webinista - if you want to also rope in @kantrowitz and show her the ropes on this sort of change go for it!

[2016-04-04 23:05] emilyville commented on #1694
Also, this will be a breadcrumb change off of the jobs-employment-v2 branch. (You probably know this, but just in case.)

[2016-04-04 23:06] #1654 closed

[2016-04-04 23:07] emilyville commented on #1656
this is merged there, so closing here, too!

[2016-04-04 23:07] #1656 closed

[2016-04-04 23:09] emilyville commented on #1584
This is merged, so calling it done!

[2016-04-04 23:09] #1584 closed

[2016-04-04 23:11] emilyville commented on #1576
K, sounds like we're all in agreement. closing!

[2016-04-04 23:11] #1576 closed

[2016-04-04 23:12] emilyville commented on #1349
Closing because this is now a subway map. There is however, an error but I will make a new issue for that!

[2016-04-04 23:13] #1349 closed

[2016-04-04 23:15] emilyville opened #1722 "Double threeeeeees"
<img width="817" alt="screen shot 2016-04-04 at 7 12 27 pm" src="https://cloud.githubusercontent.com/assets/1307774/14266865/73a5a854-fa99-11e5-9b78-e994bba2700d.png">

https://employment.vets.gov/employment/job-seekers/less-than-one-year/

[2016-04-04 23:16] emilyville opened #1723 "Subway map runaway train"
https://employment.vets.gov/employment/job-seekers/

<img width="479" alt="screen shot 2016-04-04 at 7 13 47 pm" src="https://cloud.githubusercontent.com/assets/1307774/14266883/98090218-fa99-11e5-9665-d05d33d7b695.png">

The last one should just end, like this:

<img width="275" alt="screen shot 2016-04-04 at 7 15 43 pm" src="https://cloud.githubusercontent.com/assets/1307774/14266896/ac980ea4-fa

[2016-04-04 23:26] emilyville commented on #1544
This is way big. Let's do it one day when we update the gem. meaning later.

[2016-04-04 23:26] #1544 closed

[2016-04-04 23:27] emilyville commented on #1373
Closing this as well. These look good but will make a separate sweep for usa-content width. (another issue, not blocking.)

[2016-04-04 23:27] #1373 closed

[2016-04-04 23:31] emilyville commented on #1488
this is done!

[2016-04-04 23:31] #1488 closed

[2016-04-04 23:31] #1399 closed

[2016-04-04 23:32] emilyville commented on #1379
Adding in this one: https://github.com/department-of-veterans-affairs/vets-website/issues/1376

[2016-04-04 23:46] #1496 closed

[2016-04-04 23:48] #1509 closed

[2016-04-04 23:49] emilyville commented on #1543
We got this covered now. yay!

[2016-04-04 23:49] #1543 closed

[2016-04-04 23:51] emilyville commented on #1580
@mollyblake or @rcarthur can you clarify this or close it out? I am confused by what needs to happen.

[2016-04-04 23:53] emilyville commented on #1581
Closing out this issue, but will need to open a new one for review once it's up.

[2016-04-04 23:53] #1581 closed

[2016-04-04 23:57] #1720 closed

[2016-04-05 00:05] webinista commented on #1718
Removing the / before `{{posts.url}}` in the `post-single.html` template seems to fix it.

[2016-04-05 00:07] webinista opened #1724 "Refactor #content .splash.app block"
Change this selector to `.splash--app`.

Blocks #1680

[2016-04-05 00:08] webinista opened #1725 "Refactor #content .splash.alternate block"
Change to `.splash--alternate`

Blocks #1680

[2016-04-05 00:10] webinista opened #1726 "Refactor #experience .splash selector and similar blocks"
- [x] `#experience .splash` around line 256
- [x] `#experience.Designing .splash` around line 991
- [x] `#experience.When .splash` around line 999

Blocks #1680

[2016-04-05 03:01] usds-bot opened #1731 "UserVoice Idea: College Transition Programs"
it may be non-profit and not affiliated with the government, but Veterans need to know services such as Warrior Scholar Project exist and are all working along side federal goal to improve veteran student education. Some colleges even offer their own services similar to this program. It should noted in the gi bill comparison tool so that veterans know education support services. Also not all milit

[2016-04-05 12:42] koconnor719 commented on #1731
@rickleegit  pls. advise on response.

[2016-04-05 12:44] koconnor719 commented on #1708
posted and closed.

Thank you for your feedback. We design and develop vets.gov content based on Veteran feedback, so we'll add this to our research and see what Veterans think!

vets.gov

[2016-04-05 12:44] #1708 closed

[2016-04-05 15:35] usds-bot opened #1734 "UserVoice Idea: Transition Service"
A transition application that can encourage veterans to think ahead about what they will be doing once they transition out from the military. It can be a base product or tailored to the individual (medical, dental, psychological, financial, employment, relocation, etc) and each section states how long the transition takes and some of the risks and problems seen. Currently the ACAP service exists b

[2016-04-05 16:30] mollyblake commented on #1580
@emilyville I will close it. No further work needed. Thanks!

[2016-04-05 16:30] #1580 closed

[2016-04-05 18:42] #1722 closed

[2016-04-05 18:42] #1723 closed

[2016-04-05 18:51] webinista commented on #881
@emilyville Sure. We should probably think about what that will look like though.

[2016-04-05 19:01] webinista opened #1737 "Add prism.js, background color to JSON-LD example"
On the Post a Job page, `jobs-employment-v2` branch /employment/employers/post-a-job/

[2016-04-05 19:42] gnakm opened #1739 "Line Length Change in Careers and Employment Pages"
Change _all_  line lengths in Careers and Employment pages to fit 100 characters.

Here is an example of a current page that does this: https://employment.vets.gov/employment/job-seekers/

Context: Currently the text on all the pages are super long and isn't user friendly. We plan on making a global change but want to start off by standardizing the careers and employment section.

[2016-04-05 19:55] emilyville commented on #1739
My random 2 cents: You may want to break this into a few pull requests

Here is a PR @webinista did to make it correct on one page:
https://github.com/department-of-veterans-affairs/vets-website/pull/1700

And I would use this page as a guide: https://employment.vets.gov/employment/employers/support-veteran-employees/

[2016-04-05 21:17] bethpotts opened #1742 "Edits to the Resume Builder page"
The following appears on multiple pages and we need to lowercase the word Federal in every occurrence:
(This section is required for federal job applications)

Orange stripe header needs accent marks in the word Résumé.

I get an error message when I click on "Sign in" here:
Already have a profile saved on vets.gov? Sign in to access it.

In the below sentence, change the word "use" to "click"; ad

[2016-04-05 22:06] #1724 closed

[2016-04-05 22:34] #1718 closed

[2016-04-05 22:37] webinista opened #1746 "Refactor .home #content a so that the links there look more like the rest of the site"
- [ ] Remove `color: #323a45` style

Also affects `.home #content .section.one a`

Related to #1745

[2016-04-05 22:50] #1739 closed

[2016-04-06 01:39] ayaleloehr commented on #1742
Viewable at https://employment.vets.gov/employment/job-seekers/create-resume

[2016-04-06 01:39] #1742 closed

[2016-04-06 02:36] gnakm opened #1749 "New Tab UI"
Prototype of New Page Template with Tabs:

This includes a new Tab UI for many of our pages that have. Usually there are max 4 of the follow topics per page:

- Eligibility
- Who is Covered
- Benefits
- How it works
- Other Programs

![eligibility](https://cloud.githubusercontent.com/assets/13420618/14302862/67f680c0-fb73-11e5-88d6-b6908dcaf171.png)

![other programs](https://cloud.githubuserconte

[2016-04-06 02:36] gnakm opened #1750 "Line Breakers after Learn More"
For Sections with Learn More and descriptions add a line break and make Learn More in bold header. Learn more is a bit more like an after thought, hence the division.

Careers and Employment Pages:
https://employment.vets.gov/employment/job-seekers/start/
https://employment.vets.gov/employment/job-seekers/service-disabled/
_Support Veteran Employees page_

![learnmore](https://cloud.githubusercont

[2016-04-06 02:36] gnakm opened #1751 "Purpose of Callout Boxes"
Purpose of Callboxes:
ex.
Ways to Prepare
Who this effects
Before you start

https://employment.vets.gov/employment/job-seekers/less-than-one-year/

[2016-04-06 02:36] gnakm opened #1752 "List of links and descriptions"
Careers and Employment Pages:
https://employment.vets.gov/employment/job-seekers/alternative/
https://employment.vets.gov/employment/job-seekers/career-fairs/

The list can be in alphabetical order for easier findability

This is pretty much like gov.uk but it's super easy to read. Downside is, it's not aesthetically pleasing.
![style 1](https://cloud.githubusercontent.com/assets/13420618/14304098

[2016-04-06 02:37] gnakm commented on #1749
@emilyville Would love feedback!

[2016-04-06 02:37] gnakm commented on #1750
@emilyville Would love feedback!

[2016-04-06 02:37] gnakm commented on #1751
@emilyville Would love feedback!

[2016-04-06 02:37] gnakm commented on #1752
@emilyville Would love feedback!

[2016-04-06 02:47] gnakm opened #1753 "Edits in Job Seekers Callout Box"
This line: "You may not be completely ready to start looking for a job, but there are other ways you can prepare." needs to be in the callout box.

The following need to be bumped to font-size: 1.25em
- Do you plan to leave active duty in less than 12 months?
- Have you recently left active duty?
- Are you already in the workforce?

https://employment.vets.gov/employment/job-seekers/

<img width="

[2016-04-06 03:00] gnakm opened #1754 "New Text Links"
https://employment.vets.gov/employment/job-seekers/

For the purpose of findability and scanability, we need to link the texts better.
Currently this page was designed for people who need help getting started but we also have to account for people who are looking for links hence, we need to make the text links more comprehendible. This page is already content heavy so the text links have to work m

[2016-04-06 03:25] gnakm opened #1755 "Add Ginormo Headers"
https://employment.vets.gov/employment/job-seekers/service-disabled/
Could we treat the following like our ginormo headers?

- Federal Job Preference
- Private Sector
- Learn More

`h3 {
    color: #112e51;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0 0 1em 0;
}`

[2016-04-06 03:30] gnakm opened #1756 "Less Than 1 Year Callout Box"
https://employment.vets.gov/employment/job-seekers/less-than-one-year/

- Could we put these in a callout box

**Who should read this?**
Servicemembers, and their spouses, who are within one year of separating from the military.
**Why should you read this?**
You can take certain steps to improve your chances of moving smoothly and successfully into civilian life.

- For consistency purposes, could

[2016-04-06 03:37] gnakm opened #1757 "Tweaks to Job Search Page"
I want to call this a love tap? Just want to make sure we don't over use our callout boxes. What about a line break instead of highlighting the featured jobs section?
![love bump](https://cloud.githubusercontent.com/assets/13420618/14305109/23927c2c-fb87-11e5-947a-6395ac752ab0.png)

@emilyville

[2016-04-06 14:58] emilyville commented on #1634
This is done!

[2016-04-06 14:58] #1634 closed

[2016-04-06 15:06] ayaleloehr commented on #1632
@emilyville only comment is that `/employment/veterans` takes you to the "search for veterans" page whereas `/employment/favorites` takes you to the "see your favorited veterans" page. I don't really think there should be any links from vets-website to these pages, as they only show up if you're logged in. I think the links from vets website should go to `employment/employers` which will then let

[2016-04-06 15:35] ayaleloehr opened #1759 "Add Lynda link and details"
Lynda is a new no-cost partnership for us (similar to LinkedIn and Coursera, which we already had).  The link for Veterans to get one year of free courses is: https://specialedition.linkedin.com/veteran-lynda-access/

I believe this belongs on the job seekers landing page (/employment/job-seekers) probably right next to the Coursera link, but will leave it up to @mariana-almeida and @rcarthur to m

[2016-04-06 15:57] emilyville commented on #1632
@ayaleloehr that sounds right. In that case it's just deleting this page that needs to happen and keeping its presence about the same in employment section - but I'll need to compare it with the ia doc to be sure.

[2016-04-06 16:03] mollyblake commented on #1757
@gnakm yes, the line break looks great!  Much easier than the boxes.  THANKS!!!

[2016-04-06 16:05] mollyblake commented on #1756
@gnakm Yes!  Thanks

[2016-04-06 16:08] mollyblake commented on #1754
@bethpotts let's you and I work on this today! @gnakm  we are on it. Standby!

[2016-04-06 17:39] mollyblake commented on #1752
@rcarthur @bethpotts I really like the second one with the boxes. We will need to adjust content.

[2016-04-06 18:37] emilyville commented on #1751
I think that's a good start - we use them much more freely elsewhere, but it makes sense to break it down that way going forward.

For example, I like this, but it doesn't fit that mold: https://www.vets.gov/disability-benefits/apply-for-benefits/
Applies halfway - but not for "Here’s what happens once you’ve filed your claim" section

It would be great to get more specific than the playbook's:
Ca

[2016-04-06 18:49] gnakm commented on #1754
Thanks! Just saw this. Good example of this issue: https://www.healthcare.gov/health-coverage-exemptions/exemptions-from-the-fee/

[2016-04-06 19:20] bethpotts opened #1761 "Edits to the Careers and Employment: Commitments page"
https://employment.vets.gov/employment/commitments
I can't find this in the repo--please point me there if I'm mistaken! Or if I'm right to pass along my edits, here you go:
1) Replace intro text with the following:
Veterans and military family members have consistently proven themselves to be reliable, independent, and hardworking team members. Veterans also have soft skills such as problem solvi

[2016-04-06 19:53] kantrowitz opened #1762 "Remove or redirect disability-benefits/rates/ to disability-benefits/ratings/ [Was: Page title link is the wrong color/size]"
https://www.vets.gov/disability-benefits/rates/

Appears like this:
![image](https://cloud.githubusercontent.com/assets/17709320/14330623/5c718d2a-fc0f-11e5-9337-0c067cdb24da.png)

Should appear like this?

![image](https://cloud.githubusercontent.com/assets/17709320/14330644/704c0fd2-fc0f-11e5-91b7-9813016d82d9.png)

Sending to you @gnakm for design confirmation. Reassign to me if this does in fa

[2016-04-06 20:07] webinista commented on #1762
It's a simple fix to make. Requires adding a class name. _However_ the template is hard to find. If you know where it is, please tell me.

[2016-04-06 20:41] mollyblake opened #1765 "text for Logged In Employers Page"
Text for the Logged in Employers page:

"Welcome to the Veterans Employment Center. You can post a job, make a hiring commitment, and discover resources to support employees who are Veterans and military family members."

THANKS so much @gnakm !!!

[2016-04-06 21:13] emilyville commented on #1757
approved! I don't know why this has been blue.

[2016-04-06 21:13] webinista commented on #1762
@kantrowitz How did you get to this page?

[2016-04-06 21:21] emilyville commented on #1761
Sure thing. It's in the VEC repo.

@ayaleloehr - don't know how hard it would be to add a comma.

[2016-04-06 22:42] kantrowitz commented on #1762
1. Go into the search bar.
2. Type in "Are you service disabled?"
3. It's the 4th one down.

[2016-04-06 23:26] webinista commented on #1762
Ah... Ok. I think that's a page that should be deleted from S3. It's not linked from anywhere and shouldn't exist.

[2016-04-06 23:45] webinista opened #1770 "Further clarify breadcrumbs documentation"
See the discussion in #1738 and #1694

[2016-04-07 00:30] ayaleloehr commented on #1761
Fixed in PR 269 in the VEC repo.

[2016-04-07 00:30] #1761 closed

[2016-04-07 01:17] ayaleloehr commented on #1759
Update: the link is actually going to be https://veterans.linkedin.com which sends you to a link to get both LinkedIn and Lynda memberships.  Can this be added to the "Consider furthering your education" section of the Job Seekers landing page?  @rcarthur @mollyblake

[2016-04-07 01:29] ayaleloehr opened #1771 "Support Veteran Employees shouldn't have employer login button"
Green button in the top right corner here: https://employment.vets.gov/employment/employers/support-veteran-employees/

This feels strange, especially because on this page in vets-website we don't know if the employer is actually logged in or not. I thought the decision was that from vets-website there shouldn't be any login links but they should instead link to `/employment/employers`, which woul

[2016-04-07 03:37] emilyville commented on #1771
Agreed I meant to remove this! I'll do that now...

[2016-04-07 03:41] emilyville commented on #1762
I think @ayaleloehr or @awong-dev should be able to delete this one from S3, and hopefully we'll fix search soonish, especially to include Careers and Employment. Could either of you take that on?

[2016-04-07 03:59] #1726 closed

[2016-04-07 04:10] ayaleloehr commented on #1762
Even if we delete this page from S3, until search is updated, I believe this will still exist in the search results. The question then becomes, in the mean time:
- Is it better to have search point to a page that doesn't exist, so it will return a 404?
OR
- is it better for this page to still exist and only have search point to it?

[2016-04-07 11:25] rickleegit commented on #1731
@koconnor719: EDU Response:

Thank you for recommending we add non-profit academic support services like the Warrior-Scholar Project. We’ll consider adding this as a category schools can self-report in the GI Bill Comparison Tool to a future update. We’ll also feature these services as a non-VA resource for student Veterans and school administrators.

[2016-04-07 14:39] rcarthur commented on #1759
@ayaleloehr  - added "Learn transition techniques plus business, software, technology, and creative skills with a free one-year subscription to online courses with [Linked-In's Lynda](https://veterans.linkedin.com/)."  Sound good?

[2016-04-07 17:31] #1376 closed

[2016-04-07 17:32] gnakm commented on #1376
Closing because looks good and has been already merged.

[2016-04-07 17:41] #1725 closed

[2016-04-07 18:09] emilyville commented on #1762
Or... could we have it redirect?

Either way, not a huge deal.

[2016-04-07 19:25] webinista opened #1776 "Correct the spelling of aria-desicribedby"
Should be `aria-describedby`

[2016-04-07 19:29] bethpotts opened #1777 "Edits for Military Skills Translator page"
https://employment.vets.gov/employment/job-seekers/skills-translator
1) The bolded subhead for the bulleted list needs the word "Military" inserted, like this:
Tips for using the Military Skills Translator:

2) Replace the second bullet point with the following text:
You may add any missing skills by manually searching for skills or qualities not listed by the translator.

3) Replace the third bul

[2016-04-07 19:38] bethpotts opened #1780 "piano key Skills Translator should be Military Skills Translator"
We need to add the word "Military." Is it possible to search for all instances of this piano key? Or do I need to click through all the pages to find each instance?

[2016-04-07 19:57] webinista opened #1781 "Simplify # content .main .section.one ul.plain selector"

[2016-04-07 19:58] webinista opened #1782 "Simplify #content .main .section.one ul selector"
Related to #1781

[2016-04-07 19:59] webinista opened #1783 "Simplify #content .main .section.one ul[class*="block-grid-"] selector"
Related to #1781, #1782

[2016-04-07 20:11] JABiesterfeld commented on #1781
Stop fucking sending me EVERYTHING. I WANT NOTHING FROM YOU EVER AGAIN
On Apr 7, 2016 12:57 PM, "Tiffany Brown" <notifications@github.com> wrote:

[2016-04-07 20:34] mollyblake opened #1784 "Piano Key for one-on-on is on the one-on-one page"
When you go to the One-on-One assistance page, the first piano key on that page is for One-on-One assistance.

https://employment.vets.gov/employment/job-seekers/one-on-one/

Should we delete that key or is it a larger pathway issue?  @ayaleloehr or @emilyville Can you weigh in?  Thanks!

[2016-04-07 20:47] Drakenhart commented on #1770
I had some questions about the use of h-tags in the breadcrumb. Having that clarity would help.

I think my perk of curiosity comes from 2 items specifically. The use of H tags in the breadcrumb trail (not a typical design pattern and not normally suggested as one) is one of them. As well as the large scale size of it so it dominates the page as if it were a main navigation, rather then a more com

[2016-04-07 21:02] webinista opened #1786 "Research whether / how to structure content within a Markdown file to create custom types"
For example: Is there an easy way to generate piano keys by including either:

- structured YAML data
- custom Markdown syntax; or
- JSON

in the Markdown file?

- Does a [custom generator](https://jekyllrb.com/docs/plugins/#generators) make more sense here?
- What about a [converter](https://jekyllrb.com/docs/plugins/#converters) + an include?

## Resources:
- [Creating a Custom Markdown Processo

[2016-04-07 21:42] webinista opened #1787 "Refactor piano keys into a reusable pattern tied to class names"
Currently piano key styles are using `#content .main .section.one ul[class*="block-grid-"]` into as a selector. That's longer than it needs to be, and causes all kinds of headaches for other `ul` elements with `#content` or `.main` as parents.

Can refactor into a ~~`.va-nav-pianokeys`~~ `.va-nav-category` pattern.

[2016-04-07 22:35] usds-bot opened #1788 "UserVoice Idea: 3 Necessary Methods that Increase Veteran Involvement/Involvement in their Personal Lives and Communities"
Vets.gov needs an entire section (or a portal) of the website dedicated to Veterans' Education, which includes all of the operable GI Bill grants.  This should be THE resource for any questions a Servicemember/Veteran may have under the realm of his/her education.  A couple of the ideas to be included under this umbrella of the website are as follows:  1)  a forum that allows veterans to exchange

[2016-04-07 22:57] ayaleloehr commented on #1777
Will be closed via PR245 in the VEC repo.

[2016-04-07 22:57] #1777 closed

[2016-04-08 00:02] mollyblake opened #1789 "Piano Key name change?"
Can we do a global change to a piano key name @emilyville ? It currently reads "Interest and Aptitude Profiler" and it should just be "Interest Profiler" as it directs people to the Interest Profiler page?  Does that make sense?  Thanks so much! Everything is looking so great!

[2016-04-08 00:10] ayaleloehr opened #1791 "Production feedback forum link is wacky"
It looks like the image below, with two separate links on top of each other:

![screen shot 2016-04-07 at 8 03 16 pm](https://cloud.githubusercontent.com/assets/4719765/14370425/edc7a416-fcfb-11e5-8948-bf91b595c056.png)

[2016-04-08 00:15] mollyblake commented on #1789
@kantrowitz can you help with this?  THANKS!!!

[2016-04-08 00:19] emilyville commented on #1791
This is happening on large screens, looks like the secondary forum link is landing on top of the primary feedback "popup" link.

[2016-04-08 03:25] #1776 closed

[2016-04-08 03:28] emilyville commented on #1789
I can go ahead and take this so it's out for tomorrow!

[2016-04-08 03:59] #1789 closed

[2016-04-08 04:31] emilyville commented on #1780
@ayaleloehr just fixed this with this pr https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/275

[2016-04-08 04:31] emilyville commented on #1780
nevermind - this is fixed on VEC, but not in piano keys. reopening.

[2016-04-08 04:38] #1771 closed

[2016-04-08 04:39] emilyville commented on #1379
thanks @kantrowitz !

[2016-04-08 04:39] #1379 closed

[2016-04-08 04:39] emilyville commented on #1591
tagging @gnakm and @cfeeney-va to close when this is done!

[2016-04-08 04:44] rcarthur commented on #1759
Content is live on staging.  Closing issue.

[2016-04-08 04:44] #1759 closed

[2016-04-08 04:47] emilyville commented on #1653
this is done

[2016-04-08 04:47] #1653 closed

[2016-04-08 04:54] rcarthur commented on #1446
@koconnor719  @mariana-almeida  It's a good idea! PR created to add a link for this form.

[2016-04-08 05:11] rcarthur commented on #1401
@mariana-almeida @koconnor719   C&P Exam story is being copyedited now.

[2016-04-08 05:21] rcarthur commented on #553
@mariana-almeida These are indeed confusing - it's very complicated because both involved radiation and, in some cases, overlap. They are, however, different programs, with different names and different eligibility lists.  These two topics cannot be combined.

[2016-04-08 05:35] rcarthur commented on #1071
Update - this was written as an action story but we think it works better as a subway map or info page so we're taking it back to rewrite/reform.

[2016-04-08 05:42] rcarthur commented on #594
@mariana-almeida I concur with this user comment.  My guess is that there was some uncertainty about logins - but this doesn't seem to be a real problem.