[2016-10-18 13:44] akainic commented on #3424
Might want to also just prevent people from entering floats in the first place (see #3418). We have an `ErrorableNumberInput`, perhaps we should be using that instead.

[2016-10-18 13:44] akainic commented on #3418
Closing, duplicate of #3424

[2016-10-18 13:44] akainic commented on #3417
Should probably be using the `ErrorableNumberInput` instead here

[2016-10-18 13:44] #3418 closed

[2016-10-18 13:46] akainic commented on #3416
Can't recreate

[2016-10-18 13:48] akainic commented on #3415
Question for Shay. @J-Quag do you happen to know the answer to this? @cweber and @goldenmeanie do you mind following up on this one?

[2016-10-18 13:53] cweber commented on #3415
I don't know the rules for this, but based on some of the use cases Tom was talking about, I think flexibility might be more important than rules.

E.g. Someone from the Army Reserve that submits their total time in the reserves. But then also chooses to submit to 3 month periods of active duty that occurred during the first period they entered.

[2016-10-18 13:53] akainic commented on #3412
Hm this is interesting. I think when we originally created the SSN component, we used the validation logic from the original 1010ez, which did not allow 9 of the same digit. Which means the old 1010ez was using the wrong logic (oops!), so we'll have to update this.

[2016-10-18 13:56] cweber commented on #3210
Old questions. Callin' it done.

[2016-10-18 13:56] #3210 closed

[2016-10-18 13:58] cweber commented on #3293
From @J-Quag:

RE: HS Date question
Norton, Shay, VBAVACO 2:40 PM
**We usually just need the month/year**
They have to have the HS grad or equivalent before getting benefits.
A comment in VONAPP at one time was that the person applying didn't know the day.
I think we changed it to just require month/year or put in the help to use the first or last day of the month...

[2016-10-18 14:06] cweber commented on #3293
**usually** is a loaded term, but this is what we've heard from Shay several times.

We have a proposed solution that deals with implementing this in a technical way. (see #3261) That's the preferred method, so that we can stress out the least amount of people, but still collect the necessary information from those that need to provide more.

 - The other options are letting the edge cases slip th

[2016-10-18 14:24] cweber commented on #3423
@J-Quag Do you know the answer to any of this?

@plusjeff, could you follow up with Stephanie since she emailed you that first part?

I think we should handle this be being inclusive with language on the field labels.
- [ ] _. **ADDRESS** This can handle whatever kind of unit information a military address may have. That seems like a broad enough label to stay as is.
- [ ] a. **CITY**APO/FPO also

[2016-10-18 14:28] #3017 closed

[2016-10-18 14:34] plusjeff commented on #3423
@J-Quag : Could you follow-up with Stephanie and bounce back to @cweber ?

[2016-10-18 14:42] plusjeff commented on #3421
@akainic : When Stephanie showed me, it was happening to her on both. Have you tried it with IE 11?

[2016-10-18 14:43] plusjeff commented on #3421
If this is helpful, you can get IE 11 running on your Mac using these free Microsoft VMs:

https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2016-10-18 14:44] J-Quag commented on #3423
So many emails to Stephanie and Shay this morning, would have been good to wrap those all into 1.

 http://about.usps.com/publications/pub640/pub640_tech.htm

**Format:**
PFC John Doe
123rd ENG 2nd PLT - B CO
APO AE 09398-9998

APO: Army Post Office;
FPO: Fleet Post Office;
DPO: Diplomatic Post Office

AE is used for armed forces in Europe, the Middle East, Africa, and Canada;
AP is for the Pacifi

[2016-10-18 14:45] cweber commented on #3257
@goldenmeanie I added the required key to all pages, but is probably worth seeing if you can get that asterisk better...and get rid of those parenthesis.

[2016-10-18 14:53] cweber commented on #3293
Resolved!

**Front end**: Shay says month and year are fine.
**Back end**: "...VCEs are used to seeing the full date. Could we send the 1st of the month in the spool file?"

(Is there a label I can use to make sure @markolson and @lihanli add this to their to do?)

[2016-10-18 15:06] #3382 closed

[2016-10-18 15:51] goldenmeanie opened #3435 "Remove involuntarily called for service question"
Remove "...involuntarily called for service..." question from service period growable table

[2016-10-18 15:59] goldenmeanie commented on #3293
So. That's removing the day field, month/year only, right?

I think we should only send the data entered. Manually adding the 1st seems as likely to create a problem as not in cases where the day would matter.

Do we have any numbers about how edgy this edge case is?

[2016-10-18 16:03] goldenmeanie commented on #3415
Agree with @cweber. Fat-fingered dates are resolvable by VCEs during the course of their work. Flexibility to deal with pretty common reserve situation seems preferable.

[2016-10-18 16:04] #3415 closed

[2016-10-18 16:09] goldenmeanie commented on #3423
@J-Quag Caitlin was asking if there is a description in common usage that would let you ask for APO/FPO/DPO in the same way that if I ask "what state do you live in", you understand the menu of options.

[2016-10-18 16:26] J-Quag commented on #3423
In most apps at VA that I have seen, when asking to select address type it is split into 3 sections:  Domestic, Overseas, and Military.
When one is selected the options for entering changes to only ask what is pertinent, rather than throwing it all into one address bucket and mixing overseas and military.

[2016-10-18 17:13] gnakm commented on #3383
Glossary

- Active
- Discontinued (discontinued, discontinuedByProvider, discontinuedEdit)
- Expired
- Hold (hold, providerHold)
- Suspended
- Unknown (deleted, nonVerified, unknown)

[2016-10-18 18:03] webinista commented on #3068
Based on our chat today, _Refill in process_ and _Refill submitted_ do not have glossary definitions and should not be linked. Is that correct?

[2016-10-18 18:12] gnakm commented on #3068
Updates from call with Tiffany:
- [ ] Hold + Suspended should be in view history page, so none of the prescription status with link should be shown on cards (related to issue #3383).
- [ ] `Refill in progress` + `Submitted` should be in bold, no link to definition
- [ ] Last fill date: Alex is getting answers from Ken Graham
- [ ] Deleted and Non-verified should all be defaulted to Unknown
--

###

[2016-10-18 19:23] cweber commented on #3423
So I think this is worth watching for, but we have one adjustment to help with this that wasn't in the version being reviewed. (Or only remaining placeholder text helps to address this.)

This would also be something I'd like to test with actual veterans with military addresses to answer. We can work on getting this into one of the 'quick questions' research sessions that the research team is doin

[2016-10-18 19:23] #3423 closed

[2016-10-18 19:23] goldenmeanie commented on #3423
The premise of the current design is that people with military addresses are experts at dealing with how to get things mailed to them.

[2016-10-18 19:25] webinista opened #3438 "[Rx] Prescription detail page layout is broken"
![screen shot 2016-10-18 at 12 23 52 pm](https://cloud.githubusercontent.com/assets/354277/19493033/d8ec4e1e-952d-11e6-86c0-5e2c0c18de25.png)

[2016-10-18 20:19] U-DON commented on #3438
I'm not seeing this. Have you rebuilt? Sometimes when watch is running, it doesn't always register the Sass changes, so I just save something else to get it to rebuild. Currently looks like this for me:

<img width="796" alt="screen shot 2016-10-18 at 4 17 59 pm" src="https://cloud.githubusercontent.com/assets/1067024/19494730/7ef38708-954e-11e6-81ea-6feca9adfb9e.png">

[2016-10-18 20:30] webinista commented on #3383
@gnakm Just want to confirm when the _Message Provider_ link should be shown. It should only be displayed when there are zero refills remaining, correct? Or should it also be shown for 'On hold' prescriptions?

[2016-10-18 20:48] goldenmeanie commented on #3406
What needs to happen here?

[2016-10-18 20:49] goldenmeanie commented on #3407
Couple minutes screencast (no cats) walking through the app?

[2016-10-18 20:50] goldenmeanie commented on #3371
Is this in progress @akainic ? If not I can work on it.

[2016-10-18 20:50] koconnor719 commented on #3407
Awesome!! HAha

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Taylor [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, October 18, 2016 04:49 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Assign
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Demos for Congress, VSOs (#3407)

Co

[2016-10-18 20:53] koconnor719 commented on #3407
Alex is there any way to show the " before" super quickly but just how ugly and not mobile it is?? ( I can't open right now so maybe it's in there)

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Taylor [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, October 18, 2016 04:49 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc:

[2016-10-18 21:18] koconnor719 commented on #3403
posted and closed:

Thank you Eva!  We are building vets.gov based on Veteran feedback, so if you'd like to participate in our Veteran research please contact us at feedback@va.gov.

vets.gov team

[2016-10-18 21:18] #3403 closed

[2016-10-18 21:19] koconnor719 commented on #3395
@bethpotts pls. advise here  if / where we have content on survivor DIC claim process.  thank you.

[2016-10-18 21:21] koconnor719 commented on #3297
@akainic hi anne:)  are you getting these messages?  could you or @markolson pls. post an update here in the issue so i can respond in a timely way.  thanks:)

[2016-10-18 21:23] cweber commented on #3261
We no longer need to do this. We will only display month and year.

[2016-10-18 21:24] #3261 closed

[2016-10-18 21:24] webinista commented on #3438
My screen shot is what it looks like in Chrome and Safari.

[2016-10-18 21:25] cweber commented on #3279
Done.

[2016-10-18 21:25] #3279 closed

[2016-10-18 21:25] koconnor719 commented on #3009
posted:

Thank you for your feedback. Our team is working on this.

vets.gov team

[2016-10-18 21:27] koconnor719 commented on #3009
i think in near term (until we address w/ an enhancement) we need to put content up on site that tells users when these maintenance windows are since this is a recurring piece of feedback that users get to the end and can't submit.  is that possible?  @akainic @crwallace i see the discussion above, but it's not clear if and who is taking any action on this?  thanks:)

[2016-10-18 21:30] U-DON commented on #3438
Ah, I see now. Okay, I can take this.

[2016-10-18 21:37] #3383 closed

[2016-10-18 21:48] webinista opened #3440 "[Rx] Refill prescription link should only appear when prescription is refillable."
Affects prescription detail page.

May need clarification around what's considered an active/refillable status. May not. See what's in the code.

[2016-10-18 21:49] koconnor719 commented on #3096
@akainic @markolson  can you pls. provide a status / response for me:)  thanks.

[2016-10-18 21:53] koconnor719 commented on #3008
thx. was looking for a draft response i could post from content team.

[2016-10-18 21:54] koconnor719 commented on #3008
posted and closed:

Thank you for your feedback. We are currently reviewing the Careers and Employment section of the site and making updates based on Veteran feedback.  We will consider this feedback in our redesign!

vets.gov team

[2016-10-18 21:54] #3008 closed

[2016-10-18 22:03] cweber commented on #3257
Asterisks are modified in the edu-benefits-copy-10-18 branch

![screen shot 2016-10-18 at 6 03 32 pm](https://cloud.githubusercontent.com/assets/417657/19498062/37e8e81c-955d-11e6-99a6-ccce56afa3a3.png)

[2016-10-18 22:03] #3257 closed

[2016-10-18 22:07] koconnor719 commented on #2671
posted and closed:

Thank you for your feedback. Our team is working on this.

vets.gov team

[2016-10-18 22:07] #2671 closed

[2016-10-18 22:11] koconnor719 commented on #1071
posted and closed:

Thank you for your feedback! We added content to address your question:  https://www.vets.gov/disability-benefits/claims-process/what-happens-after-rating/

vets.gov team

[2016-10-18 22:11] #1071 closed

[2016-10-18 22:24] bshyong commented on #3312
@crwallace ^ thoughts? looks like a simple fix and easy win to decrease build bloat

[2016-10-18 22:28] #3068 closed

[2016-10-18 23:41] jbalboni commented on #3411
I can't reproduce this directly with my change in #3445. I've added a case to the unit tests for this particular invalid SSN there.

[2016-10-18 23:53] jbalboni commented on #3413
I think I ended up removing this when we were making the date validation handle past and future dates.

What's the reasoning behind doing this check? Is 18 an actual minimum age for these benefits? You can enlist before 18, so it seems like we could be preventing people from using their benefits?

cc: @cweber @goldenmeanie @akainic

[2016-10-19 11:20] markolson commented on #3297
We've refreshed the list of facilities and I see a SIOUX FALLS present now. It should go out in the next deploy, possibly later today.

[2016-10-19 11:22] koconnor719 commented on #3297
Thank you mark!!!

Sent with Good (www.good.com)

-----Original Message-----
From: mark olson [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, October 19, 2016 07:20 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Comment
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: MAKE IT EASY (#

[2016-10-19 13:24] J-Quag opened #3447 "Previous Training Dates do not show up in Review section"
The previous Training/certificate dates do not show up in the review section. However, they do show up on the spool.
![image](https://cloud.githubusercontent.com/assets/15879513/19520300/c356a6ac-95dd-11e6-8033-4195300ec848.png)
Spool:
![image](https://cloud.githubusercontent.com/assets/15879513/19520312/d0d54c0c-95dd-11e6-983f-cddc93e9fc4a.png)

[2016-10-19 13:40] jbalboni commented on #3420
I think this is a json schema issue that may be fixed now?

[2016-10-19 13:41] #3303 closed

[2016-10-19 13:50] jbalboni commented on #3304
Closed with #3303

[2016-10-19 13:50] #3304 closed

[2016-10-19 15:09] J-Quag opened #3450 "Previous Training "To" dates do not provide accurate error message"
When entering a date, the fields do not allow for a future date. However the error message that appears is not specific and asks only to "Please provide a response."

[2016-10-19 15:09] J-Quag commented on #3450
![image](https://cloud.githubusercontent.com/assets/15879513/19524658/7c8b854e-95ec-11e6-91dd-19b3de0dd79f.png)

[2016-10-19 16:43] #3438 closed

[2016-10-19 17:00] plusjeff commented on #2857
Assigning to @jkassemi to update. Feel free to assign out as needed.

[2016-10-19 17:09] plusjeff commented on #2857
@greggersh : Do you have details on how this was generated last year?

[2016-10-19 17:24] joduinn commented on #2857
Summary from slack:

0) The existing cert in production will expire in 3 days. It would be publicly embarrassing for DSVA to have expired publicly-visible SSL certs.

1) @greggersh got a new cert from SSLMate a couple of weeks ago and handed it to @ShawnArnwine . Shawn passed the new cert onwards to Mark Riggs @ NSOC, but it has not been deployed yet. Shawn is now working with Mark@NSOC to schedul

[2016-10-19 17:49] greggersh commented on #2857
For posterity.

[2016.wildcard.vets.gov.certs.zip](https://github.com/department-of-veterans-affairs/vets-website/files/539787/2016.wildcard.vets.gov.certs.zip)

[2016-10-19 18:37] maryannbrody commented on #3282
@emilyville and I just chatted about this -- we're going to ask Anitra (USDS UX writer) to peek at this and get us a draft!

[2016-10-19 20:48] koconnor719 commented on #3297
posted and closed:

Thank you for your feedback. Our team has fixed this issue--and it should be live tomorrow.  Thank you for letting us know.

vets.gov team

[2016-10-19 20:48] #3297 closed

[2016-10-19 21:10] gnakm opened #3456 "Detail page tweaks"
Could we make sure
- [ ] the ordering of the different data fields match the mock below
- [ ] refill prescription link is a button

<img width="372" alt="screen shot 2016-10-19 at 5 06 52 pm" src="https://cloud.githubusercontent.com/assets/13420618/19537563/75bb8eda-961e-11e6-936c-fdba120d689e.png">

cc: @U-DON

[2016-10-19 23:56] austin-martinez opened #3459 "Related links not rendered on facility locator"
See screenshot

![screen shot 2016-10-19 at 4 54 39 pm](https://cloud.githubusercontent.com/assets/16657563/19541660/d77606ac-961c-11e6-921c-73db07654846.png)

[2016-10-20 04:09] akainic opened #3463 "Remove Active Duty question"
Remove "Involuntarily called to active duty for this period" question.

[2016-10-20 06:41] usds-bot opened #3464 "UserVoice Idea: Need Edit Buttons For Veterans' Stories And Upload Photos Feature To Back up Story. Eva Hart"
It would be good to have Edit buttons for one's Story to correct mistakes or add important information. And add Upload Photos button to back up Story you present here at Vets.gov.  Eva Hart

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16737580-need-edit-buttons-for-veterans-stories-and-upload

[2016-10-20 12:20] ShawnArnwine commented on #2857
Done.

[2016-10-20 13:15] joduinn commented on #2857
@shawn.arnwine @greggersh

Looks like we are not out of the cert-renewal-woods yet. When I browse to vets.gov, I do see the new 2017 expiry date, which is good. However, I also see:
* a downgraded “B” grade on ssl labs caused by incomplete certificate chain.
* http://dnssec-debugger.verisignlabs.com/vets.gov reporting DNSSEC errors, similar to what we had NSOC fix back in september. See https://gi

[2016-10-20 15:55] crwallace commented on #3009
From my perspective if we need to add content to the HCA landing page we can. If we are thinking about something more dynamic that lives inside of HCA that is @akainic's call.

[2016-10-20 17:30] crwallace opened #3470 "Add PR Review Apps for GI Bill"
Can we add the PR review apps like we did for `vets-website`?

[2016-10-20 17:31] crwallace opened #3471 "Add PR Review Apps for VEC"
Can we add the PR review apps like we did for `vets-website`?

[2016-10-20 17:48] greggersh commented on #2857
From Shawn from NSOC:

```The certificate you sent us last year included the Server Certificate, Intermediate Cert and Root cert. Testing externally I was receiving certificate chaining errors for all three of your URLs. The certificate you sent this time only contains the Server Certificate in the bundle but no intermediate or root certs. I applied a configuration to use the intermediate and root

[2016-10-20 17:48] #2857 closed

[2016-10-20 19:14] joduinn commented on #2857
@ShawnArnwine @greggersh (ccing @plusjeff @jkassemi )

Now finally all good, so thanks for closing.

1) I confirmed the cert chain is fixed in https://www.ssllabs.com/ssltest/analyze.html?d=vets.gov.

2) I confirmed the DNSSEC errors are fixed in http://dnssec-debugger.verisignlabs.com/vets.gov. For the record, email from Mark Riggs @ NSOC describes how they fixed the DNSSEC error back in August -

[2016-10-20 20:09] ayaleloehr opened #3476 "Link to SM should not open new tab"
As per https://github.com/department-of-veterans-affairs/kudos-team/issues/206

I believe the line of code to fix is https://github.com/department-of-veterans-affairs/vets-website/blob/afa78f103597e6ec56e7966b0686689406a22424/src/js/rx/components/MessageProviderLink.jsx#L9

[2016-10-20 20:27] ayaleloehr opened #3477 "URL routes for Prescriptions and Secure Messaging"
Currently, the prescriptions application has the base URL of /rx, so if this was in production and someone was looking at their historic prescriptions, the URL would be https://www.vets.gov/rx/history and if someone was looking at the details of prescription 123, the URL would be https://www.vets.gov/rx/prescription/123.

Secure messaging is at /messaging, so if this was in production and someone

[2016-10-20 21:14] #3412 closed

[2016-10-20 21:19] U-DON commented on #3306
@webinista I think this can be closed, right?

[2016-10-20 21:26] U-DON commented on #3456
@gnakm So the quantity we get right now just the count. To clarify, we should always append 'CAP' to whatever count it is?

[2016-10-20 21:37] jbalboni commented on #3463
This is a duplicate of #3435

[2016-10-20 21:37] #3463 closed

[2016-10-20 21:46] #3411 closed

[2016-10-20 21:47] gnakm commented on #3456
@U-DON CAP and TAB stands for medication form (Capsules and tablets). I'm a little confused by your question.

[2016-10-20 21:47] jbalboni commented on #3424
This should just be a schema update now.

[2016-10-20 23:06] U-DON commented on #3456
@gnakm The API doesn't explicitly tell us which form it is, aside from having it in the prescription name (from what I've seen so far anyway). When we get the quantity, it's just a number without 'CAP' or 'TAB' next to it. So anyway, I was just wondering if it's okay to leave off 'CAP' or 'TAB' next to the quantity.

[2016-10-21 09:52] ayaleloehr opened #3486 "Confirm dialog after refilling Rx not always visible"
If I am scrolled to the bottom of the active page in Rx and click refill a prescriptions then confirm that I want to do the refill, a green confirmation box saying "Refill for X has been requested" appears at the very top of the page just under the header, but is not visible to the user, since they are scrolled to the bottom of the page.

1) Is this a feature or bug?  If feature, please close this

[2016-10-21 13:27] jcmeloni commented on #3456
@gnakm @U-DON Sticking my nose in here because I have this stuff burned into my brain from working on a pharmaceutical app a couple years ago.  Quantity is typically just a number, or if it's not then it'll come from the prescription info (e.g. whatever comes out of the api) -- appending anything else to it would make pharmacists mad & be potentially confusing since it wouldn't match the actual me

[2016-10-21 13:59] gnakm commented on #3456
@U-DON
I've seen industries have it both ways.
I think since

- we won't always have the form and we should stick with what's consistent
- this hasn't been flagged as a patient safety issue

let's go quantity: # (no form)

[2016-10-21 14:16] gnakm commented on #3486
@ayaleloehr Thanks for pointing that out. @webinista Could we jump to the top of the page after confirming a refill? This probably also applies for Secure Messaging.

[2016-10-21 14:48] bethpotts commented on #3285
@crwallace It would be great to be able to capitalize appropriately, especially in cases like this where we now have "Gi bill":
Home Education > Gi bill > Post-9/11 GI Bill

[2016-10-21 16:14] #3456 closed

[2016-10-21 17:08] #3435 closed

[2016-10-21 18:12] jkassemi opened #3490 "Use asset fingerprinting to enable caching"
[Google Page Speed](https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fvets.gov&tab=mobile) reveals issues with caching for stylesheet, javascript, and image resources. Implementing a `Cache-Control` header would provide details to the browser that would help it determine whether or not a resource can be cached.

While this may improve performance, it also means newly deploye

[2016-10-21 19:09] plusjeff opened #3492 "Update browser notice to say v11 is the minimum version of Internet Explorer (IE)"
Previously, the minimum required version of IE was v9. IE11 is the new minimum, largely because < 2% of users come with IE9 or 10 and supporting those browsers would require a disproportionate amount of development effort.

More details in:
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/358

[2016-10-21 19:15] webinista commented on #3306
Yep.

[2016-10-21 19:15] #3306 closed

[2016-10-21 19:43] webinista commented on #2847
I think we've decided to drop this since it's more of an issue / task for Vanguard. Reopen if I've remembered incorrectly.

[2016-10-21 19:43] #2847 closed

[2016-10-21 20:35] goldenmeanie opened #3498 "Tab order starts with the continue button inside the edu flow"
Currently the page loads with focus on the continue button. It should default to the top of the page.    If practical, "Skip to content" could become "Continue with form".

X of y step name at the top of the form should use https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_progressbar_role

[2016-10-21 21:29] ayaleloehr opened #3499 "Rx Accessibility testing"
We need to set up and run automated accessibility testing for Rx.  Talking to @crwallace, it seems the steps are:
- Create a file like [this example from HCA](https://github.com/department-of-veterans-affairs/vets-website/blob/master/test/accessibility/hca-508.spec.js) that goes through each page of Rx and runs `.axeCheck('.main')` on it.
- Then to run the tests, first start selenium: `npm run sel

[2016-10-21 21:46] ayaleloehr opened #3500 "SM Accessibility testing"
Same as #3499 except for SM. More info in #3499.

[2016-10-21 21:59] ayaleloehr commented on #3477
Reminder to self, once we figure this out, do something similar to [this] (https://github.com/department-of-veterans-affairs/devops/pull/785) so that SM and Rx routes don't get 404s.

[2016-10-21 22:01] emilyville commented on #3477
I was thinking we should follow this pattern:

https://www.vets.gov/healthcare/apply/
https://www.vets.gov/healthcare/rx/
https://www.vets.gov/healthcare/messaging/

Unless... we want to break out managing and general healthcare and treat them differently. but I don't think we do.

[2016-10-21 22:09] ayaleloehr commented on #3477
OK awesome, so changes are:
1) all routes need `/healthcare` prepended to them.
2) the prescription detail page should drop the `/prescription` before the prescriptionId in the URL.

[2016-10-21 22:25] ayaleloehr opened #3501 "Make clear default sort for Active Rx is "Last requested""
The API will be changing (https://github.com/department-of-veterans-affairs/vets-api/issues/321) to have the default sort for Active prescriptions be "Last requested".  Can we have the active page visually show (bold and not underlined) that this is what is selected when you go to the active page without selecting a sort yourself?

Current:
![screen shot 2016-10-21 at 6 23 36 pm](https://cloud.git

[2016-10-21 22:57] #3312 closed

[2016-10-21 23:43] angel commented on #3477
@ayaleloehr @emilyville should we use prescription instead of rx since we don't use rx in the app itself?

[2016-10-23 18:37] akainic commented on #3435
Was this also removed from the json schema @jbalboni?

[2016-10-24 02:30] ayaleloehr commented on #3477
👍 Sounds good!

[2016-10-24 13:02] jbalboni commented on #3435
@akainic Yes, though the update to vets-website is in a separate PR.

[2016-10-24 13:23] markolson commented on #3096
@koconnor719 We can check, but I'm fairly sure that the "State of Birth" is only for states (and some territories) that's used to verify identity. I'll shoot an email off and verify.

[2016-10-24 13:24] ayaleloehr commented on #3477
Actually, waiting for @gnakm to chime in on whether it should be `prescription` or `prescriptions`.

[2016-10-24 13:54] gnakm commented on #3477
It should be `prescriptions`

https://www.vets.gov/healthcare/prescriptions/
https://www.vets.gov/healthcare/prescriptions/history
https://www.vets.gov/healthcare/prescriptions/123
https://www.vets.gov/healthcare/prescriptions/glossary

[2016-10-24 14:07] plusjeff commented on #3009
This is something we'll try to add in after porting HCA to vets-api. This can use the proposed circuit breaker pattern and queueing (sidekq, etc.).

[2016-10-24 14:11] plusjeff commented on #3413
Good point! You can enlist when 17. This isn't a deal breaker feature, but seems like it would be handy to prevent folks from accidentally entering the current year (since that will never be valid). Since all of this manually gets processed, we should validate as much as we possibly can upfront to prevent downstream delays (both for the veteran and the VA).

http://www.military.com/join-armed-forc

[2016-10-24 14:18] goldenmeanie commented on #3498
Updated original issue description

[2016-10-24 14:19] akainic commented on #3009
@plusjeff is that work of porting HCA to vets-api something we've prioritized yet? In the meantime it might make sense to add a message to the introduction page warning of the downtimes we know of. I will create a ticket for that.

[2016-10-24 14:21] plusjeff commented on #3009
@akainic : Yes! Please create a ticket for doing the messaging in the meantime. It _is_ looking like that porting to vets-api will be the next up work for Rainbows, so we should chat this week about that, along with @staceylanger .

[2016-10-24 14:57] akainic commented on #3413
On HCA we validated to make sure they were at least 15 years of ago, but if the eligibility age is 17 might as well validate for that! I agree with @plusjeff that as much as possible if we can prevent errors that would delay their application, we should.

[2016-10-24 15:43] #3429 closed

[2016-10-24 16:57] #3447 closed

[2016-10-24 17:10] U-DON commented on #3477
Any opinions on messaging URLs? Specific folders, message threads, etc.

[2016-10-24 17:25] rcarthur commented on #2470
@bethpotts this was a somewhat confusing comment from a VR&E SME that is being addressed during the PL rewrite and adjustment that you are making in the eligibility sub-header.   Making you the owner of this so that you're aware.

[2016-10-24 18:18] akainic opened #3510 "Point dev-api to dev.vets.gov"

[2016-10-24 18:26] #3371 closed

[2016-10-24 18:28] goldenmeanie commented on #3407
We could capture a small bit of the VONAPP form. It will make the movie longer...

[2016-10-24 19:31] ayaleloehr opened #3513 "Change disclaimer color for Rx"
Copied from https://github.com/department-of-veterans-affairs/kudos-team/issues/216

disclaimer yellow should be Hex: #FAC922

Assigning to @webinista since she has been working the active page the most.

[2016-10-24 20:09] gnakm opened #3515 "Last requested date and Fill Date tweaks"
- [ ] Last requested date = `refillSubmitDate`.
  Not sure what currently last requested date links to but Last Requested Date found on the history page should be `refillSubmitDate`
- [ ] If Last Fill Date is not a future date, it should say "Not Available"
- [ ] All last requested labels should be "Last requested date"
  - View History on mobile currently says "Refill requested on"
  - Refill pag

[2016-10-24 20:24] J-Quag opened #3516 "Meet with Shay / Dana for issue escalation paths"
Josh to go through the issue escalation process from a call center prospective and from EDU as a whole.
Outcome is hopefully a process map

[2016-10-24 20:56] gnakm opened #3518 "Rx History page spacing"
Spacing between tab and top row of table should be 4rem.

<img width="1053" alt="screen shot 2016-10-24 at 3 56 10 pm" src="https://cloud.githubusercontent.com/assets/13420618/19663574/94ea9dc4-9a0a-11e6-90c0-d09a182af2c9.png">

[2016-10-24 21:12] gnakm commented on #3477
Subbing in for Angel :wave:

https://www.vets.gov/healthcare/messaging/inbox
https://www.vets.gov/healthcare/messaging/inbox/123 (individual messages)
https://www.vets.gov/healthcare/messaging/draft
https://www.vets.gov/healthcare/messaging/sent
https://www.vets.gov/healthcare/messaging/deleted
https://www.vets.gov/healthcare/messaging/personal-folder-name (could we get custom folder names in URL?

[2016-10-24 21:21] U-DON commented on #3477
@gnakm So would viewing messages in other folders be something like:

https://www.vets.gov/healthcare/messaging/draft/456?

[2016-10-24 21:23] gnakm commented on #3477
@U-DON Yes!

[2016-10-24 21:29] bshyong commented on #3515
@gnakm Looking at this issue, these are all visual tweaks and copy changes, right?

[2016-10-24 21:32] U-DON commented on #3477
@gnakm Custom folder names in the URL should be possible. So the hyphens are stand-ins for spaces? From what I know, folders can only be named with alphanumeric characters and spaces, so hyphens, which are not allowed in the names, should be able to represent the spaces in those URLs. So I would expect something named 'this has spaces' to show up as:

https://www.vets.gov/healthcare/messaging/this

[2016-10-24 21:36] gnakm commented on #3477
@U-DON Yep. I was implying that the hyphens are for spaces. Thanks for explaining all of that above.

[2016-10-24 21:37] gnakm commented on #3515
Sorry @bshyong. I mixed up our developers :)

[2016-10-24 21:48] gnakm opened #3521 "Font size change"
When the width of the page hits 472px, the texts in the tabs get smaller (1.17rem). The text should be the same size and fluid on all devices.

<img width="545" alt="screen shot 2016-10-24 at 3 36 23 pm" src="https://cloud.githubusercontent.com/assets/13420618/19663666/f1d824c0-9a0a-11e6-9a1b-63a5996dc8db.png">
<img width="571" alt="screen shot 2016-10-24 at 3 36 31 pm" src="https://cloud.githubus

[2016-10-24 21:49] #3426 closed

[2016-10-24 22:04] #3413 closed

[2016-10-25 15:45] #3477 closed

[2016-10-25 16:03] #3501 closed

[2016-10-25 16:09] #3440 closed

[2016-10-25 16:33] U-DON commented on #3515
@gnakm Currently, 'Last requested' on refill page is linked to `refillDate`. That should also be `refillSubmitDate`?

[2016-10-25 17:02] gnakm commented on #3515
@U-DON

"Last requested date" should be `refillSubmitDate`
"Last fill date" should be `refillDate`

[2016-10-25 17:07] #3521 closed

[2016-10-25 17:15] webinista commented on #3500
Moved this issue to the messaging front end repo

[2016-10-25 17:15] #3500 closed

[2016-10-25 18:44] #3323 closed

[2016-10-25 19:51] jbalboni commented on #3420
I think someone is supposed to verify that this is fixed? @J-Quag maybe?

[2016-10-25 19:53] jbalboni commented on #3450
This was completed with the merged PR

[2016-10-25 19:53] #3450 closed

[2016-10-25 19:55] jbalboni commented on #3421
I can't reproduce this on IE11.

[2016-10-25 19:55] jbalboni commented on #3417
This will be done with #3446

[2016-10-25 20:03] J-Quag commented on #3420
Just verified. It allowed me to submit :)

[2016-10-25 20:13] jbalboni commented on #3420
Closing!

[2016-10-25 20:13] #3420 closed

[2016-10-25 20:14] #3516 closed

[2016-10-25 20:21] #3513 closed

[2016-10-26 01:51] bethpotts opened #3537 "create box in upper right of non-Hodgkin's lymphoma page"
@dannychapman
The page in question:
https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/non-hodgkins/

The page we want to mirror:
https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/navy-coast-guard/

On this branch (disability-plain-language-update), please create an upper right box for the following inform

[2016-10-26 01:54] #3537 closed

[2016-10-26 12:58] J-Quag opened #3540 "Wrapping in Review Page - Service Period Field"
![image](https://cloud.githubusercontent.com/assets/15879513/19726756/6f80981c-9b5a-11e6-97a6-2e5fea6b2ae4.png)

[2016-10-26 13:04] J-Quag commented on #3416
I just tested this as well, seems fine... unless I click on the year box and tab out of it.

[2016-10-26 14:37] akainic commented on #3510
Complete

[2016-10-26 14:37] #3510 closed

[2016-10-26 14:39] jbalboni opened #3542 "ErrorableNumberInput removing decimal unexpectedly"
On the hours input on the education history page in education benefits:
1. Enter 70.00
2. Backspace to delete both 0s
3. Decimal place is removed and cursor is moved to the beginning of the input

This seems to happen because the DOM event we get in the React component is "70" instead of "70.", so we when we put it in the Redux store and re-render, the value in the input field changes.

This is a

[2016-10-26 14:40] #3417 closed

[2016-10-26 14:40] #3351 closed

[2016-10-26 14:40] akainic commented on #3351
Closed by #3400

[2016-10-26 16:02] J-Quag commented on #3160
I think we resolved this.

[2016-10-26 16:02] #3160 closed

[2016-10-26 16:44] J-Quag commented on #3407
Completed the demo (5 1/2 min). Uploaded to the slack channel.

[2016-10-26 17:43] usds-bot opened #3551 "UserVoice Idea: Federal Benefits Book PDF link"
Could you provide a quick link to a pdf of the federal benefits book? Also some magazine sites will have a pdf form open that will open a window and allow you to page through the book on your monitor. I understand that the goal of the site is that you won't need to provide a pdf form like that in order to provide the information needed. However, as you have the site designed now I have a hard time

[2016-10-26 18:10] akainic commented on #3405
@markolson @lihanli do we have any updates on this?

[2016-10-26 18:13] usds-bot opened #3553 "UserVoice Idea: Travel Shuttle and Reimbursement Eligability"
I have a hard time finding information about travel assistance. Whether it is a shuttle to help people get to appointments or eligibility/how to apply for the travel allowance. More clarity on that would be appreciated.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16824622-travel-shuttle-and-reimbursement-eligability

[2016-10-26 18:13] usds-bot opened #3554 "UserVoice Idea: Intro for persons unfamiliar with the VA"
Friends, family, and city/county/healthcare/social workers that interact with veterans trying to help them get the benefits and support they need often don't know where to turn or where to start looking for resources. The magnitude of information can be daunting and they often have no idea what benefits are available so they can't search for more information on a particular benefit. It would be ni

[2016-10-26 18:16] lihanli commented on #3405
devops added sentry to vets-api, alerts still need to be setup though

[2016-10-26 18:32] #3176 closed

[2016-10-27 13:48] maryannbrody commented on #3104
@emilyville whenever this gets added, I'd love to change what I wrote --

"Design to meet the needs of everyone — users of all abilities — no matter how they access the web."

[2016-10-27 13:51] cweber commented on #3293
Removed myself as the assignee on this. We have the go ahead from Shay to display the date as month/year only.

[2016-10-27 14:16] J-Quag opened #3561 "Ensure Bus. Owners comms to VCEs"
Part of the pre launch checklist is to make sure the business owners are communicating to their downstream staff (in this case VCEs) that there would be something new coming and pushing those 1990 applications. Doing a quick check in. Cant remember if this was part of the comms plan. Will look into this.

[2016-10-27 14:20] J-Quag opened #3562 "Follow up with Mark re: downtime/maintenance schedule for SFTP"

[2016-10-27 14:23] J-Quag opened #3563 "Follow up with Courtney Re: 508"

[2016-10-27 14:25] J-Quag opened #3564 "Follow up with Jeff re: Security"

[2016-10-27 14:27] #3564 closed

[2016-10-27 14:31] akainic commented on #3405
Things we need to check off here:

- [ ] Create and implement log management plan

- [ ] Define log collection and analysis architecture
- [ ] Test log collection and analysis architecture
- [ ] Define production versus debugging logging standards
- [ ] Document method to enable debugging log level on production system
- [ ] Test enabling different logging levels
- [ ] Verify correct log messages

[2016-10-27 14:40] akainic commented on #3406
I need to configure Google Tag Manager for education, might be able to ask for help from an analytics person for that

[2016-10-27 14:47] ayaleloehr commented on #3406
Dan and Bob from Ad Hoc should be able to help you here.

[2016-10-27 15:20] cweber commented on #3329
Calling this closed. The scrolling accuracy stuff is mentioned in another issue and can get reviewed as a whole at a later date.

[2016-10-27 15:20] #3329 closed

[2016-10-27 15:29] J-Quag commented on #3562
@markolson   We just wanted to check in to make sure we knew what the scheduled down times were for the SFTP server and how we're accounting for those.
@akainic Let me know if I forgot something.

[2016-10-27 15:48] #3251 closed

[2016-10-27 16:57] gnakm opened #3568 "Refill status"
This is my fault because i should have made it clear from past iterations. `Refill requested` should not exist. `Refill status: refill in progress` implies that refill was requested.

<img width="443" alt="screen shot 2016-10-27 at 12 52 13 pm" src="https://cloud.githubusercontent.com/assets/13420618/19777064/89827c72-9c44-11e6-8dc8-66c40193c3f5.png">

[2016-10-27 17:16] lihanli commented on #3405
devops is adding splunk which will be our log collection and analysis architecture https://github.com/department-of-veterans-affairs/devops/issues/617

the rails logger allows different logging levels. we are outputting all log levels in the production log to have access to all possible information.
[code]

Document method to enable debugging log level on production system
[code]

[2016-10-27 17:28] gnakm opened #3569 "Unread messages not showing"
Currently on staging, there aren't any unread messages. Could we get one for usability testing?

[2016-10-27 17:37] cweber opened #3570 "ROTC Expandable group bounces on close"

[2016-10-27 17:56] cweber commented on #3414
Resolved in recent copy commit.

[2016-10-27 17:56] #3414 closed

[2016-10-27 20:41] omgitsbillryan opened #3572 "Consume Encrypted SAML Changes"
### Context

`vets-api` has an [open PR](https://github.com/department-of-veterans-affairs/vets-api/pull/355) to consume encrypted SAML assertions from ID.me.  Until the front-end consumes these changes, this PR may not be merged.
### Vets-api Changes
- Calls to `/session/new` can optionally now include a `location` query param (ex. `/session/new?location=/some/resource`).  `location` represents w

[2016-10-27 23:31] leannammiller opened #3578 "Develop content to inform users of any scheduled maintenance windows or anticipated downtime of back end system - must happen before launch"
pre-launch for education benefits: https://github.com/department-of-veterans-affairs/edu-benefits-team/blob/master/project-management-and-charter-doc/checklist.md

[2016-10-27 23:33] leannammiller commented on #3406
@akainic @goldenmeanie  - where do i find info about the questions we're asking of google analytics? bob wants me to work with someone named dan on this.

[2016-10-28 02:59] akainic commented on #3406
@leannammiller do you mean what should we be tracking in google analytics? I think that's a question Dan Hoicowitz should be able to answer, but quick thoughts I have on it are:
1. General arrivals and page view counts for each major stage of the application (landing, intro, submit)
2. How many people click on the submit button
3. How many successful/failed submissions there are
4. Where we're los

[2016-10-28 14:08] leannammiller commented on #3406
@akainic would you like me to take this off of your plate?

[2016-10-28 14:28] robertfairhead commented on #3406
@akainic i setup basic education application stats into google analytics this morning. i'll review with Dan at 11a.

@leannammiller let's talk later today and I can catch you up. Dan has an analytics template you can work through.

[2016-10-28 15:04] webinista opened #3582 "Refilling prescription on detail page does not trigger confirmation box"

[2016-10-28 15:27] leannammiller opened #3583 "Estimate and Finish HCA port"
@alexose will spend 10ish minutes evaluating current state and will confirm whether this is possible by vets day.

I THINK IT WILL TAKE ME X NUMBER OF HOURS

if so, he will complete.

@leanna - need to label HCA

[2016-10-28 15:33] #3224 closed

[2016-10-28 15:47] goldenmeanie opened #3584 "Relinquishment date should accept values up to two years ago"

[2016-10-28 15:51] cweber opened #3585 "Certificate of Eligibility clarity"
Change phrase on https://staging.vets.gov/education/apply-for-education-benefits/application/introduction to match:

"Fill out this application to *apply for* your official Certificate of Eligibility (COE) for the education benefit you want."

[2016-10-28 16:06] #3582 closed

[2016-10-28 17:01] U-DON commented on #3515
@gnakm Currently, none of the last fill dates (which are `refillDate`) are in the future, so all of them would show 'Not available'. Is that okay?

[2016-10-28 17:10] gnakm commented on #3515
@U-DON  Yeah. The idea is that users should haven't to calculate what the future date means to them.

They should know the last fill date and the other option should point them to clicking a Refill prescription button. Not available is if a prescription just got requested for refill and it is in the process of getting refilled. I kept not available vague instead of pending or in process incase the

[2016-10-28 19:22] akainic opened #3595 "Allow past relinquishment dates"
Up to 2 years in the past

[2016-10-28 21:05] #3585 closed

[2016-10-28 21:05] U-DON commented on #3568
@gnakm Should 'Refill requested' be hidden only for that status, or does it include others?

[2016-10-28 22:17] NatalieEMoore commented on #1473
@koconnor719 can we talk about this?  I can add it to backlog of items to potentially be added to FL in the meantime.

[2016-10-29 01:01] usds-bot opened #3599 "UserVoice Idea: Real va clinics please"
Please evaluate the outlying clinics you assign people to! I was assigned to a free public clinic and it was horrible, just won't get care!! I called the patient advocate and they stated that it was a contract clinic. I called the clinic and they stated that they care for anyone without insurance...really? Served 28 years and was looking forward to the great care they provide to female vets, it wa

[2016-10-29 01:21] #3518 closed

[2016-10-29 03:10] koconnor719 commented on #3407
awesome; done.

[2016-10-29 03:10] #3407 closed

[2016-10-29 03:22] koconnor719 commented on #2966
duplicate ticket; the AD form is being removed.

[2016-10-29 03:22] #2966 closed

[2016-10-29 03:46] koconnor719 commented on #1473
i don't have any other info on this natalie.  the MyVA regions are an organizational thing--not sure they have meaning to Veterans which is why i assigned to research.

[2016-10-29 03:53] koconnor719 commented on #3599
@jenny-h-l pls. advise any ideas or resources i can refer this person to for response?

[2016-10-29 03:54] koconnor719 commented on #3554
posted and closed:

Thank you for your feedback. This is a great idea that we are already testing with Veterans to see what they think.  If you would like to participate in our user research, please contact us at feedback@va.gov.

vets.gov team

[2016-10-29 03:54] #3554 closed

[2016-10-29 03:56] koconnor719 commented on #3553
@bethpotts is there any content on vets.gov that could help w/ this please?

[2016-10-29 03:59] koconnor719 commented on #3551
posted and closed:

Thank you for your feedback. Here's the link: http://www.va.gov/opa/publications/benefits_book.asp . Yes you are right, as we build out the site in 2017, we'll provide this information right on the website so you won't be limited to just the pdf. If you are a Veteran and would like to participate in our user research, which drives how we design vets.go, please contact us at fee

[2016-10-29 03:59] #3551 closed

[2016-10-29 04:02] koconnor719 commented on #3464
closed.  already responded to her in previous issue.

[2016-10-29 04:02] #3464 closed

[2016-10-29 04:04] koconnor719 commented on #3395
@bethpotts can you pls provide info--or assign to content team person so i can respond:)  thx.  @maryannbrody

[2016-10-29 04:08] koconnor719 commented on #3395
posted:

Thank you for your feedback. We are still building vets.gov and rewriting all content in plain language prior to posting it on vets.gov. We plan to finish migration by Spring of 2017.  Until then, you can find information about the DIC claim process here: http://benefits.va.gov/compensation/types-dependency_and_indemnity.asp

If you are a Veteran and would like to participate in our user

[2016-10-29 04:08] #3395 closed

[2016-10-29 04:12] koconnor719 commented on #2917
sorry anne--what is status of this?  i need to respond and would like to say it's fixed:)  not urgent that it's fixed by veterans day but would like to close soon if possible:)

[2016-10-29 04:14] koconnor719 commented on #3096
thx @markolson !!  just let me know status when you find out so i can post reply:)

[2016-10-31 03:46] ayaleloehr commented on #3515
I'm confused here.  Why are "last fill dates" showing as "Not available" on the history page when we do have a date for them?

[2016-10-31 03:51] ayaleloehr commented on #3515
Re-reading this issue, it's the second bullet at the top that I'm confused on: `If Last Fill Date is not a future date, it should say "Not Available"`.  Can you explain this @gnakm?  I would think that the "last fill date" _should_ be in the past for us to show it, not the opposite?  Am I missing something?

[2016-10-31 12:11] leannammiller commented on #3584
@goldenmeanie - who should be assigned to this?

[2016-10-31 12:12] leannammiller commented on #3267
@cweber - who is responsible for this?

[2016-10-31 12:13] leannammiller commented on #3583
@akainic this is the card for ongoing HCA work if you have questions or comments before we chat today.

[2016-10-31 12:13] akainic commented on #3584
Closed by #3596

[2016-10-31 12:13] #3584 closed

[2016-10-31 12:14] akainic commented on #3595
Closed by #3596

[2016-10-31 12:14] #3595 closed

[2016-10-31 15:42] markolson commented on #3562
Our job runs at 3AM Eastern, so planned downtime shouldn't impact us. For unplanned downtime, our job auto-retries with a larger backoff each time until it succeeds.

[2016-10-31 15:54] akainic opened #3602 "Hide tuition top-up option"
Hide tuition assistance top-up option from dropdown if they select a benefit that doesn't apply to this.

[2016-10-31 17:52] crwallace commented on #3492
@bshyong -- Can you work with @emilyville to figure out what this banner/copy should look like?

[2016-10-31 17:54] crwallace commented on #2912
I think we can close this out given that the new compliant facility locator is about to launch.

[2016-10-31 17:55] #2912 closed

[2016-10-31 17:58] crwallace opened #3605 "Write a11y test for all react apps"
Each reactJS app must have an a11y  test written for the 508 scanner to run over it. Pleas include all routes for your apps.

Feel free to use `/test/accessibility/hca-508.spec.js` as an example.

- [x]  Facility Locator
- [x]  Auth
- [x]  Disability Benefits
- [x]  Education Benefits
- [x]  Login
- [x]  Messaging
- [x]  Prescriptions
- [x]  User Profile

Please check your app off once it has been

[2016-10-31 18:03] crwallace commented on #2694
@bshyong -- This would be great to have before veterans day but should be lowest priority.

[2016-10-31 18:04] crwallace opened #3606 "Up-level to loa3 when highest === 3"

[2016-10-31 18:05] crwallace opened #3607 "Build maintenance/error component for system downtime"
Implement the following message when MVI returns nothing for a user:

<img width="774" alt="screen shot 2016-10-20 at 3 52 07 pm" src="https://cloud.githubusercontent.com/assets/3453669/19865761/e56579f4-9f73-11e6-8f0e-b156d65fa0f2.png">

@melwoodard // @AnitraAppa -- Please advise if you have discusses otherwise.

[2016-10-31 18:05] crwallace opened #3608 "DOL page"

[2016-10-31 18:06] crwallace opened #3609 "List applications user can use"
Incorporate @melwoodard's comments from #3396.

[2016-10-31 18:11] akainic commented on #3405
Follow up with devops and make sure we can access the logs and are getting alerts

[2016-10-31 18:20] akainic commented on #3267
If @jbalboni @alexose or myself have time to take this before launch we will, but not critical for launch

[2016-10-31 20:00] #3399 closed

[2016-10-31 20:10] emilyville commented on #3492
@bshyong @crwallace Can you give me more context for what you have so far and what you still need?  I think this should likely be treated as an alert/warning in what @melwoodard is working on.

[2016-10-31 20:37] emilyville commented on #3492
Also tagging https://github.com/department-of-veterans-affairs/vets.gov-team/issues/365 since this is similar. Might be worth adding it in and tagging Anitra to look at copy.

[2016-10-31 21:02] U-DON commented on #3515
@gnakm: Same question as @ayaleloehr asked directly above. Point of clarification: when do we show 'Not available'? If the date is in the past, or if the date is in the future?

[2016-10-31 21:06] bshyong commented on #3470
Completed: all new PR apps will be at `/gi-bill-comparison-tool`

https://gi-bill-comparison-tool-pr-372.herokuapp.com/gi-bill-comparison-tool

[2016-10-31 21:06] #3470 closed

[2016-10-31 21:28] akainic commented on #3421
Closing as we can't reproduce

[2016-10-31 21:28] #3421 closed

[2016-10-31 22:16] webinista commented on #3568
Also, to clarify: I thought I heard you say that the _Active_ status should never appear and that it did for some prescriptions.

That can conceivably happen when `isRefillable` is `false`, but the refill status is `active`. I think that's an API issue. @ayaleloehr can you weigh in?

[2016-10-31 22:18] gnakm opened #3614 "Make "Compose a message" button bigger"
Can we make the top and bottom padding 1.75rem and the font size the closer to 18px like so:

![image](https://cloud.githubusercontent.com/assets/13420618/19873523/cf69c62e-9f95-11e6-8ff1-923176d9ad77.png)

[2016-10-31 22:19] gnakm opened #3615 "Bold Save a Draft"
Save a draft might be hard to read for users with low visibility.
<img width="692" alt="screen shot 2016-10-31 at 6 06 07 pm" src="https://cloud.githubusercontent.com/assets/13420618/19873333/c6d0ac72-9f94-11e6-9604-cca6ef78f1c0.png">

[2016-10-31 22:21] gnakm opened #3616 "Add Reply to in threads"
Users were looking for the word "reply" in messages with threads, so added the word Reply next to To:
<img width="213" alt="screen shot 2016-10-31 at 6 00 39 pm" src="https://cloud.githubusercontent.com/assets/13420618/19873218/2d6be844-9f94-11e6-87a6-de2a1ecd6e0a.png">

<img width="439" alt="screen shot 2016-10-31 at 6 00 29 pm" src="https://cloud.githubusercontent.com/assets/13420618/19873211/25

[2016-10-31 22:24] gnakm opened #3617 "Make text field alignments"
**This is for post launch**

<img width="735" alt="screen shot 2016-10-31 at 5 06 27 pm" src="https://cloud.githubusercontent.com/assets/13420618/19871756/b269f57a-9f8c-11e6-8321-78fbcde188cd.png">

For consistency throughout Vets.gov, we should have text fields all left aligned with text above, like this:

<img width="551" alt="screen shot 2016-10-31 at 5 40 45 pm" src="https://cloud.githubuserco

[2016-10-31 22:32] gnakm opened #3618 "Redirect message my provider button to compose a message on SM"
Redirect Compose a message button on prescription detail page to Compose a message on SM https://www.vets.gov/healthcare/messaging/compose

[2016-10-31 22:42] angel opened #3619 "Make the move and message nav box and font size bigger"
![image](https://cloud.githubusercontent.com/assets/103496/19874161/7089ce02-9f80-11e6-9bd7-83e5fa5132da.png)

Make the font-size for the move and message nav box 1.5rem and increase the padding to 1rem on all sides.

[2016-10-31 22:42] gnakm opened #3620 "Change From to To in draft section"
**From** should be changed to **To** in Draft table.

<img width="959" alt="screen shot 2016-10-31 at 6 36 28 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874072/04089df8-9f99-11e6-9a56-9a58c4c69227.png">

Should look like this:
<img width="702" alt="screen shot 2016-10-31 at 6 42 02 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874179/b7e1dfec-9f99-11e6-8943-ba6

[2016-10-31 22:45] U-DON commented on #3618
Closed by #3613.

[2016-10-31 22:45] #3618 closed

[2016-10-31 22:48] angel opened #3621 "Number of messages in thread next to recipient name in folder view"
![image](https://cloud.githubusercontent.com/assets/103496/19874277/387d9114-9f81-11e6-8614-16f8ed7e1110.png)

Messages with threads should have the number of messages in that thread next to the recipient name like so:
![image](https://cloud.githubusercontent.com/assets/103496/19874300/55278612-9f81-11e6-8c19-33ab5cd020c8.png)

[2016-10-31 22:59] U-DON commented on #3621
@mphprogrammer or @saneshark: It's not possible to include the number of messages in the thread for messages in a collection, is it?

[2016-10-31 23:01] gnakm opened #3622 "Decrease border-bottom"
Change the border bottom from 6px to 4px in Facility name sort and contact on detail page

<img width="893" alt="screen shot 2016-10-31 at 6 58 55 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874507/1eefadc0-9f9c-11e6-941d-e393e13a4390.png">

<img width="388" alt="screen shot 2016-10-31 at 6 58 49 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874544/65c19236-9f9c

[2016-10-31 23:05] gnakm opened #3623 "Relabel facility number"
Users may confuse contact number as provider's number so change **Phone number** to **Facility number**.

Should look like this:
<img width="396" alt="screen shot 2016-10-31 at 7 03 14 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874573/b4d271ce-9f9c-11e6-960a-4fc70a13c08a.png">

[2016-10-31 23:09] angel opened #3624 "Remove date column from Drafts folder"
Since we don't have a date for drafts, I think it would better to take out that column. "Not available" sounds that there was some error.

![image](https://cloud.githubusercontent.com/assets/103496/19874535/274f32d8-9f83-11e6-9a0c-1d17bdb6bd01.png)

[2016-10-31 23:11] U-DON commented on #3624
Duplicate of department-of-veterans-affairs/messaging-fe#121.

[2016-10-31 23:31] gnakm opened #3626 "Add last submit date to Refill cards"
Users wanted to know they date they submitted their refill.
Add Last submit date before Last fill date on cards.
API: `refillSubmitDate`

<img width="794" alt="screen shot 2016-10-31 at 7 22 30 pm" src="https://cloud.githubusercontent.com/assets/13420618/19874994/a263f7bc-9f9f-11e6-88ff-3021ad864326.png">

[2016-10-31 23:33] gnakm opened #3627 "Change Prescription name to default sort on Refill prescription page"
User prefer Prescription name as default sort on Refill prescription page

[2016-10-31 23:35] gnakm opened #3628 "Change all "Last requested date" to "Last submit date""
We initially thought last requested date is more accurate as a label but since the current MHV has it as last submit date, it might be a better transition for users and it's what API is calling it.

Change all "Last requested date" to "Last submit date"

related to: #3626

[2016-10-31 23:37] gnakm opened #3629 "Find out where the shipping addresses are coming from"
Alex to ask Carnetta where the shipping addresses for Rx orders are coming from

[2016-10-31 23:38] gnakm opened #3630 "Add content for Active and History pages"

[2016-10-31 23:44] gnakm commented on #3568
Refill requested should never show up. The only time we should see active prescription status on View History page.

Even if `isRefillable` is `false` but refill status is active, we shouldn't have to show active because all active medications should be on the active page.

[2016-10-31 23:54] gnakm opened #3631 "Update glossary page"
![rx glossary](https://cloud.githubusercontent.com/assets/13420618/19875476/67f2e7e2-9fa3-11e6-942f-6ea6df4126b5.png)

**Refill in Process**: This prescription was sent to the pharmacy for review. Contact your VA pharmacy if you need this medication now.

**Submitted**: Your prescription refill has been submitted.

Add headers `Prescription status` and `Refill Status`

[2016-10-31 23:57] gnakm opened #3632 "Turn Refill statuses on cards to links"
The refill statuses are still confusing to users so adding them to glossary for definitions.

Related to: #3631

<img width="551" alt="screen shot 2016-10-31 at 7 56 01 pm" src="https://cloud.githubusercontent.com/assets/13420618/19875567/1710c168-9fa4-11e6-9a4a-fe6bafa1662d.png">

[2016-11-01 00:40] webinista commented on #3568
OK I see the problem now. _Refill status: **Active**_ only shows up after a refill is requested, but before we reload a page with the updated status. I've mapped the `active` status to `refillinprocess` only when `isRefillable` is false.

I'm not 100% sure whether that will fix the problem or just obscures it.

@ayaleloehr Is it possible to "reset" the data somehow so that the active prescriptions

[2016-11-01 00:40] ayaleloehr commented on #3626
@gnakm i believe cards can also have both Track Package and Refill Prescription buttons, right? Can you give an image of that, as that will likely make the cards taller?

[2016-11-01 01:02] mphprogrammer commented on #3621
I'll check, but if memory serves any collection can be paginated.

On Mon, Oct 31, 2016 at 6:59 PM, Eugene Doan <notifications@github.com>
wrote:

[2016-11-01 01:03] ayaleloehr commented on #3568
Request sent to MHV team to reset a bunch of prescriptions for our test user. They are usually on pretty early, so should be done in the AM.

[2016-11-01 01:33] #3616 closed

[2016-11-01 02:13] #3486 closed

[2016-11-01 02:43] ayaleloehr commented on #3499
@crwallace or @bshyong any chance we could get help getting this set up for Rx this week?

If so, the steps I wrote out above say we'll need to know all the different pages of the application; the four pages of Rx are
- the "active page" (/healthcare/prescriptions)
- the "history page" (/healthcare/prescriptions/history)
- the "detail page" (/healthcare/prescriptions/[prescription_id], where [pres

[2016-11-01 05:59] melwoodard commented on #2694
If the changes to VEC happen, this will only affect GIBCT.

[2016-11-01 14:25] gnakm commented on #3515
@ayaleloehr @U-DON

If Last fill date is past date, we show it.
If Last fill date is a future date, we show not available.

[2016-11-01 14:30] robertfairhead commented on #3406
@akainic from your list above items 1,2,4 we have setup via google tag manager. caveat on 2 is that any click on the submit button will be counted even if the form fails validation and doesn't send. onClick still fires on those cases.

for item 3, we can do it via tag manager but after investigating a little bit i think that's a bad idea. basically we'd have to monkey patch fetch() to add in the g

[2016-11-01 14:40] U-DON commented on #3621
@mphprogrammer I meant adding the number of messages in the thread of each entry from a `GET /messaging/health/folders/:id/messages`.

[2016-11-01 14:50] leannammiller commented on #3406
@robertfairhead @dsh32va we will go with option A. Bob, do you mean that you wrote the code already?

[2016-11-01 14:50] leannammiller commented on #3406
if not, @akainic will do it.

[2016-11-01 14:55] gnakm commented on #3626
@webinista Considering the case that a prescription can be refillable, have a recent trackable package and run out of prescription, card have to be bumped up to 470px in height. These mocks are most accurate:

<img width="977" alt="screen shot 2016-11-01 at 10 53 21 am" src="https://cloud.githubusercontent.com/assets/13420618/19893985/a69057e0-a021-11e6-8382-b6800b7ea89c.png">

[2016-11-01 14:58] #3615 closed

[2016-11-01 16:10] #3623 closed

[2016-11-01 16:14] gnakm commented on #3627
RE: Kam's comment on making default the same for Refill page and view history page.

Backend
default = prescription name

Frontend
Refill prescription page default = prescription name
History page default = last submit date

[2016-11-01 16:35] webinista opened #3645 "[Rx] Refactor active tab to use Flexbox"
I think there's room for us to use Flexbox for layout here, so that the height of the cards can expand  or shrink to accommodate content without breaking the two column layout.

CSS Grid layout may be more appropriate here, but it's not as widely supported as Flexbox is just yet.

[2016-11-01 16:42] akainic commented on #3406
Closed by #3462

[2016-11-01 16:44] akainic commented on #3405
@knkski wanted to loop you into this ticket and make sure that we can access the logs for edu-benefits and that we're getting alerts for issues. Do we need to get access to anything in particular for this?

[2016-11-01 16:46] lihanli commented on #3405
we have access to the logs through cloudwatch. me and mark both have access and tested it out already. i still need to set up sentry access and test out alerts though

[2016-11-01 17:49] lihanli commented on #3405
i'm registered on sentry and subscribed to alerts now

[2016-11-01 17:50] knkski commented on #3405
If anybody else needs CloudWatch access, just file a ticket over in the devops repo. As far as alerting, we are sending alerts currently whenever the server gives a 500 error. Will the validation failure alerts that you'd like above be included in that?

[2016-11-01 17:51] leannammiller opened #3652 "Fix language around "relinquish" on benefits page"
From Shay: On the last call there was discussion on the text under the Post 9/11 selection. The user only has to give up one benefit, not “other benefits”. I believe there was a request to change the wording to something more like, “you will have to relinquish (give up) another benefit you may be eligible for” or, “you will have to relinquish (give up) one other benefit you may be eligible for”

[2016-11-01 17:52] leannammiller commented on #3652
![unnamed](https://cloud.githubusercontent.com/assets/22749867/19900601/7d25c89a-a03a-11e6-9786-82314c1af20b.png)

[2016-11-01 17:54] leannammiller opened #3653 "Add Sentence to Effective Date"
From Shay: Effective date wording – Needs another sentence which states, you may select a date in the past if you have already started school.

[2016-11-01 17:54] leannammiller commented on #3653
![unnamed-2](https://cloud.githubusercontent.com/assets/22749867/19900666/b82cf850-a03a-11e6-9ff9-8d5045c7de97.png)

[2016-11-01 17:55] webinista commented on #3631
Fixed with 9bed1f7

[2016-11-01 17:55] #3631 closed

[2016-11-01 17:55] leannammiller opened #3655 "Change "British" to Great Britain in Drop Down in Personal Information"
From Shay: 3)      Looking at the country drop down. Is “British” a country? I did not see Britain or Great Britain, but there is a United Kingdom in the list.

[2016-11-01 17:55] mollyblake commented on #3653
@leannammiller Thanks -- I think the wording that Shay requested was written and is in another issue. I'll search around for it and get it to you!

[2016-11-01 17:55] webinista commented on #3626
470px seems like a really tall box. Just want to verify that it wasn't a typo.

<img width="1077" alt="screen shot 2016-11-01 at 10 36 41 am" src="https://cloud.githubusercontent.com/assets/354277/19899959/29b2b94a-a01f-11e6-9cfe-5069b9c6d995.png">

[2016-11-01 17:56] leannammiller commented on #3655
![unnamed-3](https://cloud.githubusercontent.com/assets/22749867/19900745/f57b9b58-a03a-11e6-950b-ed5c773ab832.png)

[2016-11-01 17:56] mollyblake commented on #3655
@goldenmeanie  or @cweber this looks like something you'll have to address. Thanks!

[2016-11-01 18:06] akainic commented on #3605
Is everyone able to run the hca-508 test successfully locally? This test fails for me when I try to run it locally :(

[2016-11-01 18:06] angel opened #3656 "Error message should disappear when Veteran moves to a different page"
Right now if you don't close ("x") an error message the message moves with you as you move to a different folder and remains there. Instead the error/success message should disappear.

![image](https://cloud.githubusercontent.com/assets/103496/19901084/12a63b60-a023-11e6-905f-c8c723c3bb19.png)

[2016-11-01 18:09] webinista opened #3657 "Update glossary link functionality for Detail page."

[2016-11-01 18:09] goldenmeanie commented on #3655
England is listed as United Kingdom. This is supposed to be [British Indian Ocean Territories](https://en.wikipedia.org/wiki/British_Indian_Ocean_Territory). PR coming.

[2016-11-01 18:12] jbalboni commented on #3605
@akainic It was working for me. What are you seeing?

[2016-11-01 18:19] angel commented on #3569
Moved this issue to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/129) so all the messaging issues are in one repo.

[2016-11-01 18:19] #3569 closed

[2016-11-01 18:23] angel commented on #3614
Moved this issue over to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/130) so all the messaging issues are in one place.

[2016-11-01 18:23] #3614 closed

[2016-11-01 18:25] angel commented on #3656
Moved issue to [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/131) so all the messaging issues are in one place.

[2016-11-01 18:25] #3656 closed

[2016-11-01 18:26] angel commented on #3624
Closing this issue since this is a duplicate as @U-DON mentioned above!

[2016-11-01 18:26] #3624 closed

[2016-11-01 18:28] angel commented on #3619
Moved this issue to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/132) so all the messaging issues are in one place.

[2016-11-01 18:28] #3619 closed

[2016-11-01 18:37] angel commented on #3617
Moved this issue to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/133) so all the messaging issues are in one place.

[2016-11-01 18:37] #3617 closed

[2016-11-01 18:37] akainic commented on #3605
This error @jbalboni:
[code]

[2016-11-01 18:39] angel commented on #3620
Moved this issue to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/134) so all the messaging issues are in one place.

[2016-11-01 18:39] #3620 closed

[2016-11-01 18:41] angel commented on #3621
Moved this issue to the [messaging-fe repo](https://github.com/department-of-veterans-affairs/messaging-fe/issues/135) so all the messaging issues are in one place.

[2016-11-01 18:41] #3621 closed

[2016-11-01 18:53] akainic commented on #3405
Got it, thanks @lihanli and @knkski for that information! I think we need some kind of alerting when a validation failure occurs, but I'm not sure what the right tool is for this. @lihanli do you have thoughts on this?

[2016-11-01 19:21] #3515 closed

[2016-11-01 19:23] gnakm commented on #3630
Add 1 line description to refill and history page so that users know refill page is only active meds.

<img width="590" alt="screen shot 2016-11-01 at 2 54 17 pm" src="https://cloud.githubusercontent.com/assets/13420618/19903965/fe7e5432-a046-11e6-95b9-e2028588fd1d.png">
<img width="591" alt="screen shot 2016-11-01 at 2 54 29 pm" src="https://cloud.githubusercontent.com/assets/13420618/19903966/fe

[2016-11-01 19:29] lihanli commented on #3405
i made a pr to add the validation errors to sentry which can send out alerts when they happen https://github.com/department-of-veterans-affairs/vets-api/pull/404

[2016-11-01 19:29] mollyblake commented on #3653
@cweber I feel like this might need your attention. The date situation is getting clunky sounding.  Can we bullet them?
- Use today's date unless you aren't going to use your Post 9/11 GI Bill benefits until later.
- If you pick a future date, you can't get benefits until then.
- If your classes started less than 2 years ago, enter the date they began.

@leannammiller Working on this!  I'll let yo

[2016-11-01 19:33] akainic commented on #3405
Awesome, thanks @lihanli!

[2016-11-01 19:47] webinista opened #3660 "Unify ruled heading styles"
We currently have `.va-h-ruled` and now/soon`.rx-heading`. They're styled a bit differently, but aren't so radically different that they can't be combined.

Example of `.va-h-ruled`
<img width="532" alt="screen shot 2016-11-01 at 12 44 36 pm" src="https://cloud.githubusercontent.com/assets/354277/19904711/004a4a48-a031-11e6-9a47-589985d07b59.png">

Example of `rx-heading`:

<img width="373" alt="s

[2016-11-01 20:10] webinista opened #3662 "Add scroll to anchor feature to Glossary."
Once the glossary page loads, need to scroll it to the appropriate place.
Related to #3632.

[2016-11-01 20:15] U-DON commented on #3630
@gnakm The descriptions from the screenshots are different from the descriptions you wrote. Should they be the latter ('Your active VA prescriptions' and 'Your VA prescription refill history')?

[2016-11-01 20:31] akainic commented on #3405
As all of these items are checked off now, going to close this ticket.

[2016-11-01 20:31] #3405 closed

[2016-11-01 20:36] webinista opened #3665 "Unify .va-tab-content styles"
We have `.va-tab-content` in `_va-tabs.scss` with a top `padding-top: 4rem` (soon to be 0rem), and again in `disability-benefits.scss` with `padding-top: 2em`.

They have the same border style, so we just need to:

1. reconcile whether we actually need to have two different `padding-top` values
2a. If yes, add a `.disability-tab-content` class for the disability variant.
2b. If no, remove `.va-tab

[2016-11-01 20:41] #3655 closed

[2016-11-01 20:43] webinista commented on #3630
@gnakm Let me know if you're okay with the spacing here.

<img width="1280" alt="screen shot 2016-11-01 at 1 40 22 pm" src="https://cloud.githubusercontent.com/assets/354277/19906712/21c98d70-a039-11e6-82b9-ac1d043f1c1a.png">

[2016-11-01 20:46] akainic commented on #3605
Running `npm run build` fixed the issue for me!

[2016-11-01 20:48] cweber commented on #3653
I wish we could shorten it instead, but bullets seem reasonable to help clarify.

[2016-11-01 20:51] mollyblake commented on #3652
@akainic Do you have a minute to make this quick fix on this URL: https://dev.vets.gov/education/apply-for-education-benefits/application/benefits-eligibility/benefits-selection

<img width="575" alt="screen shot 2016-11-01 at 1 53 02 pm" src="https://cloud.githubusercontent.com/assets/16196072/19904995/90ccfa9e-a03a-11e6-8181-d7b658a8a25e.png">

CURRENT: When you choose to apply for your Post-9/1

[2016-11-01 21:31] #3001 closed

[2016-11-01 21:34] J-Quag commented on #3562
@akainic  What else do you need me to do on this?

[2016-11-01 21:35] J-Quag commented on #3561
I believe @akainic  has started discussing this with Tammy from EDU.

[2016-11-01 21:41] J-Quag commented on #3077
They've been sent frames, demos I believe will be held later this week.

[2016-11-01 21:53] mollyblake commented on #3653
Ok, thanks @cweber!

[2016-11-01 22:52] #3628 closed

[2016-11-01 23:21] #3406 closed

[2016-11-01 23:39] webinista commented on #3627
Final decision is to do this on the client side, adding a sort parameter to the initial request.

[2016-11-01 23:40] #3606 closed

[2016-11-01 23:58] ayaleloehr opened #3671 "Rx error to show user when API returns 500?"
Currently on Rx when our API returns a 500 error (`"{"errors":[{"title":"Internal Server Error","detail":"Internal Server Error","code":"500","status":"500"}]}"`), the active prescriptions page looks like the below.  I think we should show some sort of text there in this case.

@gnakm and @emilyville Do you agree? What message should we should we show to the user when this occurs?

<img width="123

[2016-11-02 00:07] #3622 closed

[2016-11-02 00:08] U-DON commented on #2874
I don't think we really need this anymore. #3672 resolves the URL issues with sorting. And we've figured out how to get it working in general between Rx and Messaging.

[2016-11-02 00:22] akainic commented on #3562
Nope I think we're good, sounds like this won't affect us.

[2016-11-02 00:22] #3562 closed

[2016-11-02 01:05] gnakm commented on #3626
@webinista that was totally a typo! It's 270px.

[2016-11-02 01:18] gnakm commented on #3671
@emilyville I'm looking at the [Vets.gov error doc](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Design/Error-messaging.md) and noticed that we don't have a 500 error for Rx. Instead of using the generic one for Vets.gov, could we do something similar to claims?

Rx 500 error from the vets.gov API

API Response from our API: "500 internal server error"
Message type:

[2016-11-02 01:19] gnakm commented on #3630
@webinista  Could we make top and bottom 1 rem bigger?

[2016-11-02 11:57] ayaleloehr commented on #3568
6 of the prescriptions are active again now. Let me know when we need these reset again!

[2016-11-02 12:00] crwallace commented on #3572
@omgitsbillryan -- We are complete on this correct?

[2016-11-02 12:03] crwallace commented on #3492
I know we had discussed something like this, however we thought the yellow was too harsh.

Can we get @bshyong a mockup to work from for this specific alert copy?

<img width="1548" alt="screen shot 2016-10-25 at 11 41 17 am" src="https://cloud.githubusercontent.com/assets/3453669/19927954/add2d706-a0d2-11e6-9fd0-9fe550b871ac.png">

CC: @melwoodard // @AnitraAppa

[2016-11-02 12:20] jbalboni commented on #3416
@J-Quag That's the intended behavior. I'm closing this.

[2016-11-02 12:20] #3416 closed

[2016-11-02 12:21] jbalboni opened #3675 "Create month year component"
On Edu benefits we had a need for a month/year date input. We ended up adding a prop to DateInput to handle this, but it might make sense to create a separate component. The current DateInput component is complicated as it is.

[2016-11-02 12:38] akainic commented on #3653
@mollyblake is the content for this finalized? happy to jump on this today!

[2016-11-02 13:35] akainic commented on #3578
Duplicate of https://github.com/department-of-veterans-affairs/edu-benefits-team/issues/101. Closing this one.

[2016-11-02 13:35] #3578 closed

[2016-11-02 14:37] gnakm opened #3680 "Add Smooth scroll to History page"
On mobile, when I try to change pages in the view history section, it does not scroll to the top of the page. This is the same jumping problem that we had with the confirmation messages.

[2016-11-02 14:41] gnakm opened #3681 "Change Refill in process to in process"
Refill in process is taking up a lot of space in smaller screens. Could we change `Refill in process `to `In process` ? This also needs to be changed in the pop-up  definition card and glossary page

![screenshot_20161102-064850_1024](https://cloud.githubusercontent.com/assets/13420618/19933097/ab76feae-a0e8-11e6-82d5-345cc0d68206.png)

[2016-11-02 14:48] AnitraAppa commented on #3492
Hey there! Recommending:
"Your browser is out of date. To use this website, please <update your browser> or use a different device. If you're using Internet Explorer, try turning off Compatibility View."

Notes:
- I took out the "We're sorry" here because it can make people nervous about there being some kind of serious error on our part or something they can't remedy, when ideally this should be

[2016-11-02 15:11] #3652 closed

[2016-11-02 15:11] #3653 closed

[2016-11-02 16:41] crwallace commented on #3499
PR has been created for this but it will fail because some issues need to be addressed.

[2016-11-02 16:45] gnakm commented on #3630
The copy should be the latter. The mocks are from earlier version. I also added periods.

Refill prescriptions page:
Your active VA prescriptions.

History page:
Your VA prescription refill history.

[2016-11-02 16:51] usds-bot opened #3685 "UserVoice Idea: The VSO directory doesn’t seem to offer a personnel system to get veterans into jobs as TechAides in education. We have a lot"
The VSO directory doesn’t seem to offer a personnel system to get veterans into jobs as TechAides in education. We have a lot to do to get the education community to adopt such help and I’d like to talk to Greg Giddens about the concept. His background comes close to what I’m looking for and he may have some suggestion on how we could proceed to open up this matter with VA.

http://veterans.uservo

[2016-11-02 17:40] melwoodard commented on #3492
I like your take @AnitraAppa.

@crwallace what are the odds that a user could be in Compatibility View? Is it fairly common or rare enough that we can leave that out?

I think using our mellow yellow will help to soften this visually, and there should be an option to close/hide it too. Thoughts?

![browser-update](https://cloud.githubusercontent.com/assets/4106356/19939892/ff63d7b8-a0e7-11e6-84f1-

[2016-11-02 17:42] jcmeloni opened #3686 "When login process hits *.vets.gov callback URL with a token, unstyled home page content appears"
I believe this is a known issue but I could not find it documented anywhere.

On Dev and Staging, on any browser, during the login process as any type of credentialed user, there is a momentary stop at `[dev || staging].vets.gov/auth/login/callback?token=.....` that displays unstyled vets.gov homepage content.

See attached screenshot.

I am ambivalent about the best way to handle this stop (e.g.

[2016-11-02 18:18] #3626 closed

[2016-11-02 18:24] usds-bot opened #3688 "UserVoice Idea: Improper website coding"
The online healthcare application malfunctions. I am trying to enter my date of entry into the military, but a red error message displays, "Entry date must be greater than 15 years of age." First of all, this doesn't make sense because I am entering my service start date, and no input satifies the validation message. Something is wrong.
https://www.vets.gov/healthcare/apply/application/military-se

[2016-11-02 18:44] plusjeff commented on #3492
@melwoodard : We'll never have someone in compatibility mode, since we include some code that switches it off. [See this.](http://stackoverflow.com/a/3449338). This means the message can be shortened by removing the Compatibility View note (yay!).

Curious: where does the `update your browser` link go?

[2016-11-02 19:16] omgitsbillryan commented on #3572
Yay

[2016-11-02 19:16] #3572 closed

[2016-11-02 20:09] melwoodard commented on #3492
Good question - there are a bunch of sites we can pick from to point users to, any recommendations?

Yay on less text! So this will read:

"Your browser is out of date. To use this website, please [update your browser] or use a different device."

[2016-11-02 20:22] patrickvinograd opened #3692 "Open facility detail page in new tab goes to 404 page"
From map pane, right click on one of the facility names and open in new tab, it shows a URL like `https://dev.vets.gov/facilities/facility/vha_358` in the location bar, but displays the "Sorry - we can't find that page' 404 response.

[2016-11-02 20:34] bshyong commented on #3692
@patrickvinograd Is there a devops change that we need to resolve this issue?  The reason is that a page with that URL doesn't exist. `https://dev.vets.gov/facilities/facility/vha_358`

If the request is redirected to ``https://dev.vets.gov/facilities/` which _does_ exist, the React app will pick up the parameters in the path and render correctly

[2016-11-02 20:36] patrickvinograd commented on #3692
Probably yes, there's some special-handling of react paths in our reverse proxy configuration.

[2016-11-02 20:37] bshyong commented on #3492
How about https://whatbrowser.org/ or http://outdatedbrowser.com/en

[2016-11-02 20:39] patrickvinograd commented on #3692
I'll open a devops ticket.

[2016-11-02 20:50] usds-bot opened #3693 "UserVoice Idea: Link to "my experience""
I was sent an in-operable link to get feedback.
Please send a link that operates correctly if you value my feedback

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16925206-link-to-my-experience

[2016-11-02 21:23] akainic opened #3694 "change call center number"
Change all references to numbers to this one:
855-574-7286

[2016-11-02 21:24] #3630 closed

[2016-11-02 22:04] melwoodard commented on #3492
I'm a fan of whatbrowser. @bshyong do you need a more detailed design spec from me to get this rolling?

[2016-11-02 22:52] #3018 closed

[2016-11-02 23:19] gnakm commented on #3671
@ayaleloehr Just checked in with @emilyville.
Let's go with: We couldn't retrieve your prescriptions. Please refresh this page or try again later.

Alex - Who should I assign this to?
Emily to add any edits to the original markdown.

[2016-11-02 23:21] bshyong commented on #3692
@patrickvinograd I just pushed a fix which might resolve the 404 issue. If everything is configured correctly on the devops side, this fix might resolve the issue

https://github.com/department-of-veterans-affairs/vets-website/pull/3698

[2016-11-02 23:25] bshyong commented on #3492
@melwoodard I think I have enough to go on, thanks!

[2016-11-02 23:56] #2874 closed

[2016-11-02 23:59] #3686 closed

[2016-11-03 00:43] ayaleloehr commented on #3671
Since I noticed this on the active page, assigning to @webinista .

Change is that when the API returns a 500 error, we should show "We couldn't retrieve your prescriptions. Please refresh this page or try again later." instead of just leaving it blank on the screen as we currently are in the screenshot above.

[2016-11-03 00:59] gnakm opened #3702 "Access to Care design feedback"
@crwallace Could you leave your feedback about the access to care section? Thanks!

![desktop detail access to care](https://cloud.githubusercontent.com/assets/13420618/19952925/30e2f68c-a13f-11e6-8654-bf1e04ee9913.png)

[2016-11-03 04:16] #3294 closed

[2016-11-03 05:41] #3681 closed

[2016-11-03 06:00] #3627 closed

[2016-11-03 12:10] #2721 closed

[2016-11-03 13:23] akainic commented on #3563
508 test for education is complete. Closing.

[2016-11-03 13:23] #3563 closed

[2016-11-03 13:30] leannammiller commented on #3694
@akainic who is assignee on this?

[2016-11-03 13:32] leannammiller commented on #3293
@alexose - checking status on this

[2016-11-03 14:32] akainic commented on #3694
@leannammiller I can do this today!

[2016-11-03 16:13] usds-bot opened #3708 "UserVoice Idea: Specialty clinics"
A dermatologist is 10 mins. from me-Yet I have to go three and one half hour's one way. Why can't I use the one here?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16938598-specialty-clinics

[2016-11-03 16:37] eli-lewis opened #3709 "Presctiption status link not working"
view history->prescription status link-  pop up is not working
prescription details tab -> pop up is not working

[2016-11-03 16:42] #3021 closed

[2016-11-03 17:17] #3662 closed

[2016-11-03 17:20] webinista commented on #3709
Duplicate of #3657. Fix in #3663

[2016-11-03 17:20] #3709 closed

[2016-11-03 17:23] webinista opened #3710 "Glossary is appearing twice on healthcare/prescriptions/"
<img width="694" alt="screen shot 2016-11-03 at 10 22 25 am" src="https://cloud.githubusercontent.com/assets/354277/19977074/79ed1f5e-a1af-11e6-9f3b-4ba203c948da.png">

[2016-11-03 17:25] webinista opened #3711 "Blank refill status in some cases"
Not yet sure whether this is an issue in `Prescription.jsx,` or with the mock API data, but this is happening with some cards.

<img width="357" alt="screen shot 2016-11-03 at 10 23 44 am" src="https://cloud.githubusercontent.com/assets/354277/19977105/a7d09d06-a1af-11e6-847b-c1a3a497b2c6.png">

[2016-11-03 17:32] usds-bot opened #3712 "UserVoice Idea: Forms"
When I sent a request for my records from the national archives it as me to print a for. I don't have a printer it should have a way for us to have the request form mailed to us

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16940035-forms

[2016-11-03 18:15] goldenmeanie commented on #3694
@akainic I can pick this up if you have more in-depth stuff on your plate

[2016-11-03 18:37] akainic commented on #3694
Thanks @goldenmeanie! Already addressed here: https://github.com/department-of-veterans-affairs/vets-website/pull/3705

[2016-11-03 18:41] #3657 closed

[2016-11-03 18:41] #3632 closed

[2016-11-03 18:41] #3710 closed

[2016-11-03 19:55] maryannbrody commented on #2536
@koconnor719 - this is changing with the updated homepage design. We should be able to close this.

[2016-11-03 20:48] #3568 closed

[2016-11-03 20:52] webinista commented on #3711
The card for which this is happening has a status of `on hold`. I don't think `on hold` is an actual status, however. The production API would either be `hold` or `onhold`. If `on hold` is an actual status, I can add it to the config file. Otherwise, I think this is a mistake in the mock API.

Can you confirm @ayaleloehr?

[2016-11-03 21:43] #3671 closed

[2016-11-03 22:13] usds-bot opened #3721 "UserVoice Idea: I don't see why anyone would stab themselves trying to upset a service that can make their own life better to live in. Maybe that is why we"
have so much crime in our wonderful country.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16944382-i-don-t-see-why-anyone-would-stab-themselves-tryin

[2016-11-03 22:57] #3499 closed

[2016-11-03 23:16] ayaleloehr commented on #3711
The status in the mock was "on hold" it should have been "hold".  This is why mocks stink. it has been corrected. Please close if that fixed this.

[2016-11-03 23:51] webinista commented on #3711
Yep. That fixed it!

[2016-11-03 23:51] #3711 closed

[2016-11-03 23:55] webinista commented on #3341
@U-DON Can this be closed?

[2016-11-04 00:15] webinista opened #3725 "Health care application is broken in Internet Explorer 11"
The verify-and-submit page is broken. You can't click each panel opened and closed. Developer tools throws a bunch of XML errors. Possibly related to department-of-veterans-affairs/messaging-fe#146 and use of `Object.assign` (which we do not polyfill and IE does not support). Possibly not.

If it is caused by `Object.assign`, we can either use [lodash's assign](https://lodash.com/docs/4.16.6#assig

[2016-11-04 00:37] #3645 closed

[2016-11-04 00:39] ayaleloehr opened #3728 "Add loading state to Rx"
I couldn't find an issue in this repo about Rx loading state, so creating one here

[2016-11-04 00:41] ayaleloehr commented on #3728
Some more info is https://github.com/department-of-veterans-affairs/kudos-team/issues/169#issuecomment-257195504

As well as this went in today if it's helpful to see how it was implemented for the facility locator: https://github.com/department-of-veterans-affairs/vets-website/pull/3718

cc @U-DON and @webinista can one of you pick this up?

[2016-11-04 01:57] U-DON opened #3730 "Handle 'Record not found' prescriptions for detail page"
When accessing the route `/healthcare/prescriptions/:id` with a random id that doesn't exist, we should display an error message rather than try to render the usual components. It also displays current dates in the date fields rather than showing null.

[2016-11-04 03:25] #3341 closed

[2016-11-04 03:38] Carmezim commented on #3178
This issue seems to have been fixed. Close it?

[2016-11-04 12:52] #3694 closed

[2016-11-04 12:53] leannammiller commented on #3293
@alexose lil' poke for status on this

[2016-11-04 12:55] jbalboni commented on #3293
@leannammiller This is now done with #3592.

[2016-11-04 12:55] #3293 closed

[2016-11-04 13:19] #3607 closed

[2016-11-04 16:01] jenny-h-l commented on #3599
@koconnor719 : This feedback doesn't really make sense to me. I don't think we generally assign people to free public clinics. And without the person saying which clinic it is or even what state it is, I can't even provide very specific feedback. The best thing might be to give the person info on how to change where he/she gets care:

_If you want to transfer your care from one VA health care faci

[2016-11-04 16:17] dannychapman opened #3736 "Research standards for using animation for UX enhancements while maintaining accessibility"
CSS animation can provide great opportunities for UX improvements, but we need to maintain the highest possible adherence to accessibility when doing so.

Starting this issue to explore this in more depth.

[2016-11-04 16:18] dannychapman commented on #3736
**Articles**

- http://alistapart.com/article/designing-safer-web-animation-for-motion-sensitivity
- http://alistapart.com/blog/post/more-resources-for-accessible-animations

[2016-11-04 16:20] usds-bot opened #3737 "UserVoice Idea: sdsa"
dsfadsdsfasf

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16956208-sdsa

[2016-11-04 17:08] #3680 closed

[2016-11-04 17:17] cweber opened #3740 "Add 'alternate forms' language to /apply-for-education-benefits-new/"
Since this page will house the fork-modal that we're directing education benefits applicants to, we want to make sure that there is language on this page that can direct people back to VONAPP if our form won't serve their needs.

There will also be a modal that sits over this page. That is being handled in #3741.

Changes and reference image below:

Button in sticky box should now say: [Start Form

[2016-11-04 17:32] cweber opened #3741 "Add fork modal to /apply-for-education-benefits-new/"
This modal will be in place to help direct people to the correct form. We expect our form to handle about 50% of all Education Benefits application cases, but the other 50% need to know how to find their way to VONAPP(as an iframe in eBenefits) for the other forms.

The base page for this has additional language to reinforce the single purpose of our form. That's addressed in #3740.

(@staceylange

[2016-11-04 17:57] cweber opened #3744 "Reveal /apply-for-education-benefits-new/ as true Apply page"
We're currently hiding our new Apply page by giving it a different path than the existing one. At some point before launch we need to swap out the old page for the new page.

/apply-for-education-benefits-new/
becomes
/apply-for-education-benefits/

[2016-11-04 18:37] aub opened #3745 "Handle Single Logout"
I've added code on in vets-api to support the flow described [here](https://github.com/department-of-veterans-affairs/platform-team/blob/master/identity/logout.png). We need to have the client use that flow in order to log out of the IDP.

[2016-11-04 19:58] webinista commented on #3266
Any movement on this?

[2016-11-04 20:11] cweber opened #3749 "Document accordion jumps on close"
![documents](https://cloud.githubusercontent.com/assets/417657/20020789/62c6eed6-a2a9-11e6-9ef8-717ae9ac48ec.gif)

[2016-11-04 21:48] webinista opened #3753 "[UX question] Define consistent error checking / error display behavior for ErrorableTextInput"
This originated with department-of-veterans-affairs/messaging-fe#139, but affects a common component.

For [HCA](https://www.vets.gov/healthcare/apply/application/veteran-information/personal-information), the error checking happens if the veteran enters data, then deletes it all. But it does not happen if the veteran focuses on the field and then skips it without entering data.

In Secure Messagi

[2016-11-05 01:01] usds-bot opened #3757 "UserVoice Idea: Suspension of payments for federal contracts for failure to hire veterans."
What good is this website?  There are no specific contacts, no references to services to overcome the widespread discrimination against veterans for civil service jobs or jobs with federal contractors, and no ways to apply for anything.  There is no way to apply from this site for even one job and no suggestions of how to get resumes to people who have jobs to give veterans.

http://veterans.userv

[2016-11-05 14:57] #3692 closed

[2016-11-05 14:59] usds-bot opened #3759 "UserVoice Idea: Yet another web site? Are you kidding?"
There are already multiple web sites available to the veteran.  Please stop adding sites & decide on site that is used for every location.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/16969150-yet-another-web-site-are-you-kidding

[2016-11-05 17:10] koconnor719 commented on #3759
posted and closed:

Thank you for your feedback.  We agree with you! VA has decided on a single Veteran-facing site: vets.gov. We are in the process of redesigning and migrating features (like the online application for health care) and content from VA.gov to vets.gov.  This will be done in Spring 2017, at which time we will start retiring old sites. Vets.gov is not a only a website; it's a modern

[2016-11-05 17:10] #3759 closed

[2016-11-05 17:24] koconnor719 commented on #3757
Thank you for your feedback. If you are trying to search for jobs you can do it here: https://www.vets.gov/employment/job-seekers/search-jobs. You can search for jobs on vets.gov, and when you find jobs of interest you can apply on those specific sites (e.g., USAJobs, etc.). Our team is currently working on a feature where Veterans can verify their Veteran status on third party sites, like LinkedI

[2016-11-05 17:24] #3757 closed

[2016-11-05 17:26] #3737 closed

[2016-11-05 17:26] koconnor719 commented on #3721
deleted;

[2016-11-05 17:26] #3721 closed

[2016-11-05 17:29] koconnor719 commented on #3688
@akainic we should review this design/content as we've gotten this question before. @cweber

[2016-11-06 20:15] emilyville commented on #2385
closing this because new homepage is shipping with new title

[2016-11-06 20:15] #2385 closed

[2016-11-06 20:16] emilyville commented on #2536
Closing for new design with different heading.

[2016-11-06 20:16] #2536 closed

[2016-11-07 12:53] ayaleloehr opened #3761 "sign in link disappears on home page on mouse hover"
On staging, when I hover over the sign in or register links, they are no longer visible.

![screen shot 2016-11-07 at 7 50 54 am](https://cloud.githubusercontent.com/assets/4719765/20058443/1ad4fed4-a4bf-11e6-8cee-d97d2eeac910.png)

[2016-11-07 12:57] ayaleloehr commented on #3761
Similarly, the "hello [user's email address]" in the header isn't visible either. I believe this is site wide so going to leave assigned to @bshyong for now, but if this is something we need to fix specifically to Rx and SM, please let me know @crwallace

![screen shot 2016-11-07 at 7 55 43 am](https://cloud.githubusercontent.com/assets/4719765/20058584/b5e51eea-a4bf-11e6-8567-d71655b6d05b.png)

[2016-11-07 13:58] akainic commented on #3688
Yep, I think what's happening here is that the error appears as soon as they start entering something in the field, not when they are done entering something, so it looks like something is wrong right away even though they haven't completed their date. For this case, it sounds like the error would go away once they finish entering their date, but they might be confused. This issue will be fixed on

[2016-11-07 14:14] crwallace commented on #3702
@gnakm -- Is access to care something that should be as important as services listed? It feels like this should be part of the main content but it is currently secondary.

[2016-11-07 14:15] cweber commented on #3741
@goldenmeanie, I just realized we probably need to mock up what this looks like in mobile. Stacked?

[2016-11-07 14:42] akainic opened #3765 "Add scrolling for education benefits"
Without it, it's hard to use on mobile

[2016-11-07 14:52] akainic commented on #3744
Closed by #3764

[2016-11-07 15:02] NatalieEMoore commented on #3702
@crwallace/ @gnakm -- I think it should be treated as less important, which is what @staceylanger and I decided on.  @staceylanger do you still agree?

[2016-11-07 15:13] gnakm commented on #3702
We are going to move forward and build this as secondary information. Any design iterations for after launch.

[2016-11-07 15:13] #3702 closed

[2016-11-07 15:19] gnakm opened #3766 "Add Access to Care Section in Detail Page"
@bshyong We are adding this section called Access to Care that shows the percentage of Veterans who reported that they were "Always or Usually able to get an appointment when needed for 'Primary Care (Routine)' Appointments"

![desktop detail access to care](https://cloud.githubusercontent.com/assets/13420618/20062863/403b2f5e-a4d3-11e6-8a5a-45e9fcd2297c.png)

![mobile detail access to care](https

[2016-11-07 15:38] crwallace opened #3768 "[HOMEPAGE] Remove homepage hero image from blog post"
We need to remove the same header as the homepage from the secretary's blog post.

We also need to think about the treatment of the "Experience" flag to the left.

![screen shot 2016-11-07 at 10 33 31 am](https://cloud.githubusercontent.com/assets/3453669/20063624/edb92f30-a4d5-11e6-8be1-fabf96c3d016.png)

source: /2015/11/11/why-we-are-designing-in-beta/

@angel // @melwoodard -- Do you have thou

[2016-11-07 15:44] crwallace opened #3769 "[HOMEPAGE] Hero image should be removed from playbook landing page"
![screen shot 2016-11-07 at 10 33 03 am](https://cloud.githubusercontent.com/assets/3453669/20063924/ddf8ed6e-a4d6-11e6-8f73-73cf72ae874b.png)

@bshyong -- For the time being it might be best to roll this one back to the old hero image for the playbook.

![screen shot 2016-11-07 at 10 43 09 am](https://cloud.githubusercontent.com/assets/3453669/20063996/1a7d9d0c-a4d7-11e6-9fa7-4c01ef0f8e43.png)

[2016-11-07 15:47] crwallace opened #3770 "[HOMEPAGE] Profile Link Hover"
Because the hover or non-link color is white, the text disappears if it is not a link or if it is in a hover state. @melwoodard -- Please advise.

On mouse over:
![screen shot 2016-11-07 at 10 27 48 am](https://cloud.githubusercontent.com/assets/3453669/20064080/6f15b714-a4d7-11e6-9ce9-dbf8600f6464.png)

Non link text:
![screen shot 2016-11-07 at 10 30 13 am](https://cloud.githubusercontent.com/as

[2016-11-07 15:50] crwallace opened #3771 "[HOMEPAGE] Stacked Navbars"
@melwoodard // @angel - I think this is something that can be addressed soon after veterans day but we should think about addressing it very soon after.

![screen shot 2016-11-07 at 10 32 00 am](https://cloud.githubusercontent.com/assets/3453669/20064152/b8d5b9a8-a4d7-11e6-866d-403bc3843a81.png)

![screen shot 2016-11-07 at 10 31 13 am](https://cloud.githubusercontent.com/assets/3453669/20064156/b

[2016-11-07 16:03] goldenmeanie commented on #3741
![apply-for-benefits-mobile-modal-or-left](https://cloud.githubusercontent.com/assets/1969/20064733/b610f960-a4d9-11e6-83dc-a0eb74af5b56.png)

[2016-11-07 16:14] cweber commented on #3740
I just added the copy for this in edu-benefits-alternate-forms-copy but there are some CSS rules and markdown interpretations that cause it to look funky.

This seemed important to Shay in her email and we have the solution in hand. Would be good to get in soon. cc @akainic

**Bugs**
 - p:first-of-type (font-size, color, etc.)
 - Space after blue box
 - Space after button (markdown is dropping it

[2016-11-07 16:20] gnakm opened #3772 "Refill submitted after prescription was refilled"
After a user clicks refill prescription, the refill status should be `submitted` but right now it goes straight to `in process`. In process is a later step when the pharmacy is reviewing the submission.

<img width="702" alt="screen shot 2016-11-07 at 11 14 45 am" src="https://cloud.githubusercontent.com/assets/13420618/20065245/6af1e866-a4db-11e6-98a9-e9ad132b69dd.png">

[2016-11-07 16:22] gnakm opened #3773 "In process definition missing"
The definition of `In process` is not showing in the popup.

<img width="437" alt="screen shot 2016-11-07 at 11 20 28 am" src="https://cloud.githubusercontent.com/assets/13420618/20065508/6d92b50e-a4dc-11e6-894a-ca42a89c5393.png">

Should say "This prescription was sent to the pharmacy for review. Contact your VA pharmacy if you need this medication now."

[2016-11-07 16:24] ayaleloehr opened #3774 "PATCH for Rx refill sent without authorization headers"
@U-DON it looks like the PATCH for refilling a prescription is being sent without the token needed for authorization.  As you can see in the first image, the /active request has the token and gets a 200 but in the second image the /refill request does not have the token and gets a 401. Is it possible the token is not being added on the call from vets-website?

![screen shot 2016-11-07 at 11 22 39

[2016-11-07 16:57] gnakm opened #3775 "Definition pop up button"
This is low priority so feel free to label as Post November if necessary.

The close button and glossary page link should not change through different screen sizes.

Currently, in mobile, it looks like this:
<img width="360" alt="screen shot 2016-11-07 at 11 49 23 am" src="https://cloud.githubusercontent.com/assets/13420618/20066895/338cef8c-a4e1-11e6-9428-b2c0d0b0c1a0.png">

Should look like this

[2016-11-07 17:01] melwoodard commented on #3770
@bshyong I think it would be better to use our baseline `<a>` text link style here - the lack of visual cues right now makes it difficult to tell these are links.

[2016-11-07 17:40] cweber commented on #3740
Also worth noting. We want to change the apply button language, but i didn't touch that since I think it's in a common component?

[2016-11-07 17:42] melwoodard opened #3779 "[HOMEPAGE] heavier font weight in top banner"

[2016-11-07 17:44] melwoodard opened #3780 "[HOMEPAGE] heavier font weight in top banner"
The text in the top banner & crisis line dropdown is a little light and hard to read at font-weight 300. Recommend bumping up to 400. @angel thoughts?

<img width="1279" alt="vets_gov" src="https://cloud.githubusercontent.com/assets/4106356/20068784/d383071e-a4ce-11e6-80b7-5ff3ee631838.png">

[2016-11-07 17:49] melwoodard opened #3781 "[HOMEPAGE] Mobile: crisis line carat icon doesn't change when overlay is closed"
Because the crisis line panel on mobile opens in an overlay instead of a dropdown, the carat icon isn't being triggered to switch back to downward-facing when the overlay is closed.

<img width="398" alt="vets_gov" src="https://cloud.githubusercontent.com/assets/4106356/20068967/81f8c1d0-a4cf-11e6-842d-eb40ecec98cd.png">

[2016-11-07 18:01] melwoodard opened #3783 "[HOMEPAGE] Missing gutters on middle breakpoint"
There should be a 0.75em padding on left/right of these elements, but it isn't being respected.

<img width="656" alt="vets_gov" src="https://cloud.githubusercontent.com/assets/4106356/20069409/4603bae8-a4d1-11e6-9447-7f652e2d1214.png">

[2016-11-07 18:03] melwoodard opened #3784 "[HOMEPAGE] Search UI broken on mobile"
At smaller breakpoints, search should revert to a button that opens an overlay containing the search field.

@angel should this use the same button style that's currently live on vets.gov?

![img_3587](https://cloud.githubusercontent.com/assets/4106356/20069494/af3a9f4a-a4d1-11e6-8c4d-9fdf0cc88536.PNG)

[2016-11-07 18:30] cweber opened #3785 "Direct people to the correct form"
**Notes from Shay**

 - [x] 1) The 22-1990 is for those who have never applied or are applying for a change in benefit (chapter 33 instead of chapter 30, for instance). So I would suggest adding something to this effect: If you are a servicemember  or veteran “and have never applied before, or are applying for a different education benefit than you received previously…”. NOTE – If they HAVE receiv

[2016-11-07 18:31] cweber opened #3786 "Links to Comparison Tool"
2) Why are there 2 links to the Comparison Tool – both the words and a button?

[2016-11-07 18:31] cweber opened #3787 "Be more explicit about who needs employment info"
3) Employment history is only needed if they were a journeyman. I would not want people to gather all their employment records and not be asked about it. Suggest taking that off or putting that work history is only needed if you were a journeyman.

[2016-11-07 18:32] cweber opened #3788 "School info should be inclusive of training as well"
“Basic information about the school you want to attend” should be something more all-encompassing like, “Basic information about where you want to go to school or train.”

[2016-11-07 18:34] cweber opened #3789 "Remove "Apply for Education Benefits" from secondary pages"
- [ ] 5) The “Apply for Dependents Educational Assistance (DEA)” link does not take you to where you apply, but to an information page. At the top of the page is an “APPLY” button that takes you to the 22-1990 which is very misleading.

 - [ ] 7) Learn about NCS takes you to the information page, but again at the top the Apply button takes the person to the 22-1990. They would apply on the 22-1990

[2016-11-07 18:36] cweber opened #3790 "Consider alternate to text field for Branch of Service"
1) We have gone back and forth on the Branch of Service drop down, but could we do something like list everything in VONAPP including “other” and have free text only if they do “other”. There is a lot of concern in the field that they are going to get all kinds of nutty answers. (List from VONAPP attached.)

[2016-11-07 18:37] cweber opened #3791 "Set 'begin training' date range based on 'election date'"
2) If possible (I know this is a future release), could we get some sort of warning if they enter a begin training date that is BEFORE the date they have entered as their election date?

[2016-11-07 18:41] cweber opened #3792 "Make sure legalese is covered in benefit election/relinquishment"
3) In the current VONAPP there is content regarding if the claimant relinquishes chapter 30, then they are only entitled to the amount of chapter 30 benefits they have remaining. We need to make sure that text is included.

- [ ] **“If electing chapter 33 in lieu of chapter 30, my months of entitlement under chapter 33 will be limited to the number of months of entitlement remaining under chapter

[2016-11-07 18:41] cweber opened #3793 "Received typo on confirmation page"
There is a typo on the confirmation page. **Received** is spelled incorrectly.

[2016-11-07 18:43] cweber opened #3794 "Irrevocable is 'irrevocable'. Sorry Molly."
On the benefits relinquishment page, it states Once you apply for one or the other, you can’t change it. We need to include the word irrevocable. The current statement in VONAPP is “I am acknowledging that I understand that this election is irrevocable and may not be changed, and that failure to check one of the boxes below may cause a delay in the processing of this claim. (PLEASE CHECK ONLY ONE

[2016-11-07 18:47] cweber commented on #3785
These cases should all be covered once we get the blue box content ( #3740 ) in and will be covered **twice** once the modal (#3741) is up. I think the modal will be particularly comforting, but I don't think we plan on launching that until redirects start happening.

[2016-11-07 18:49] cweber commented on #3786
More links more better. It makes sense to link the version in text and we're choosing to call it out as a useful tool by also linking it as a button. Proximity makes it a little funny, but it's not a problem.

[2016-11-07 18:49] #3786 closed

[2016-11-07 18:52] cweber commented on #3789
This is a solid point. I think we should be removing that 'Apply for Education Benefits' button from all of these secondary (tertiary?...) education pages. But that probably means we do need to link directly from that page to eBenefits/VONAPP.

@goldenmeanie Does that make sense?

Probably need to slog through those pages and see where else we should be directing more clearly to eBenefits/VONAPP.

[2016-11-07 18:53] cweber commented on #3790
Let's wait and see if this turns out to be a problem.

[2016-11-07 18:55] cweber commented on #3791
That makes sense and is a complex field validation that is probably worth it since it is likely to catch logic problems related to the complexity of benefits, not just typos.

But agreed that we can add that after launch.

[2016-11-07 18:55] mollyblake commented on #3787
@cweber can we break that question into two parts?

Have you ever held a license to practice a profession?  (if you click yes or, then it goes to next page)

Have you ever held a journeyman rating to practice a profession?  (if yes, employment history drawer opens)

OR If only the journeyman rating matters, then can we take off the content about the license?
Have you ever held a journeyman rating

[2016-11-07 18:58] cweber commented on #3787
So I think she's actually referring to https://www.vets.gov/education/apply-for-education-benefits-new/ where we suggest what people should have on hand.

**WHAT YOU NEED TO FILL OUT THIS APPLICATION**

- Social Security number
- Bank account direct deposit information
- Education, military, and employment history **(for example, journeyman or licensed plumber)**
- Basic information about the scho

[2016-11-07 18:59] goldenmeanie commented on #3789
Yes!

[2016-11-07 18:59] mollyblake commented on #3794
@cweber how's this?

Once you apply for one or the other, your decision is irrevocable (meaning you can't change your mind).

[2016-11-07 18:59] cweber commented on #3794
Looks good to me. Changing to label to a frontend task.

[2016-11-07 19:02] #3744 closed

[2016-11-07 19:10] cweber commented on #3765
Confirmed. It's broken on mobile and working on desktop.

[2016-11-07 19:10] akainic commented on #3498
Perhaps set tabindex to a higher-order component on the page (breadcrumbs?)

[2016-11-07 19:43] melwoodard opened #3797 "Remove staggered behavior on va-cards"
The va-card component shows a staggered layout on viewport widths of 994-1024px. It should use the 2-column layout here instead.

![img_0001](https://cloud.githubusercontent.com/assets/4106356/20073006/661104a4-a4df-11e6-826d-8f0e39b4207a.jpg)

[2016-11-07 19:48] cweber opened #3798 "Transfer of Entitlement link is broken"
'Apply for Transfer of Entitlement' link is broken on:
http://localhost:3001/education/apply-for-education-benefits/

There is a stray )
Should go to:
https://www.vets.gov/education/gi-bill/transfer/

[2016-11-07 19:51] bshyong commented on #3784
@angel @melwoodard I had this functionality in a previous iteration—do we have a final decision to revert to the previous behavior?

this was the original mobile mockup
https://cloud.githubusercontent.com/assets/103496/19365028/9c323ef2-9145-11e6-90e3-5e158f16b034.png

[2016-11-07 19:51] cweber opened #3799 "GI Bill Comparsion tool link is broken"
Link is broken on

/education/

Should go to:

actually.... it looks like the tool is broken?

[2016-11-07 19:54] cweber commented on #3799
Nevermind. I think this was just a prob on the branch I was on. It's working in dev and production.

[2016-11-07 19:54] #3799 closed

[2016-11-07 19:57] angel commented on #3768
@crwallace @melwoodard:

Maybe something like this?

![image](https://cloud.githubusercontent.com/assets/103496/20073416/119ef0e6-a4e1-11e6-8fd3-f6d2438f22cb.png)
or

![image](https://cloud.githubusercontent.com/assets/103496/20073493/567d9e92-a4e1-11e6-9806-6bff67b31008.png)

[2016-11-07 19:59] goldenmeanie commented on #3740
- [ ] eBenefits button needs the external link icon (/assets/img/icons/exit-icon-primary.png) in it.
- [ ] Ghost button style is transparent background not white.

[2016-11-07 19:59] angel commented on #3784
@melwoodard @bshyong the search button style on the current site works for me.

[2016-11-07 20:17] akainic opened #3802 "Hover styling on login looks broken"
When you hover over the sign in links, the hover styling causes the links to disappear. Hard to include a screenshot because it doesn't look like anything. @crwallace @bshyong

[2016-11-07 20:19] bshyong commented on #3802
thanks @akainic  this will be fixed in https://github.com/department-of-veterans-affairs/vets-website/pull/3801

[2016-11-07 20:32] mollyblake commented on #3788
@cweber
"Basic information about the school or training facility where you want to attend."

[2016-11-07 20:33] cweber commented on #3788
Works for me. Thanks.

[2016-11-07 20:36] #3802 closed

[2016-11-07 20:47] mollyblake commented on #3792
@cweber  will the first one be a check box? An agreement of sorts?

[2016-11-07 20:52] cweber commented on #3792
I just put those checkboxes there so we can indicate that we've solved both of those problems.

My instinct is to make these statements appear below your relinquishment for either Chapter 30 or Chapter 1607 if you select one of them. (Similarly to how we handled the statement that appears below Chapter 33 on the previous page.)

cc @goldenmeanie

[2016-11-07 21:03] mollyblake commented on #3792
@cweber So under the respective line of content?
<img width="564" alt="screen shot 2016-11-07 at 2 02 45 pm" src="https://cloud.githubusercontent.com/assets/16196072/20075782/e9dc910a-a4f2-11e6-9ef5-061aa6b9a94c.png">

[2016-11-07 21:05] cweber commented on #3792
Yes.

[2016-11-07 21:06] goldenmeanie commented on #3792
Le sigh.

[2016-11-07 21:06] mollyblake commented on #3792
@goldenmeanie Ditto

[2016-11-07 21:10] cweber commented on #3792
Yup.

[2016-11-07 21:16] mollyblake commented on #3787
@cweber can we just say for that bullet?

"Education and military history"

[2016-11-07 21:28] cweber commented on #3787
I'm ok with that given it's likely a minority of applicants. Let's try it and see if the absence is a problem.

[2016-11-07 21:29] mollyblake commented on #3787
Sweet!

[2016-11-07 21:30] cweber commented on #3789
I am worried that it will be very difficult to track down all instances of this. The list I added above is everything with a direct link from /education and /education/apply-for-education-benefits

[2016-11-07 21:32] mollyblake commented on #3792
@cweber
If you pick the Post 9/11 GI Bill (Chapter 33) in place of MGIB-AD, you'll get benefits only for the number of months you had left left under MGIB-AD.

AND

You can only give up REAP benefits if you had them for a semester, quarter, or term that ended on or before  November 24, 2015.

[2016-11-07 21:35] #3774 closed

[2016-11-07 21:36] cweber commented on #3792
Much better!
First one looks great.

For the REAP one, I'm not sure this part is coming through clearly:

...or was the last semester, quarter, or term to end prior to November 24, 2015.

It's not just 'any time before that date' it seems to be the most recent term (at your school?) prior to that date. :-/

[2016-11-07 21:37] mollyblake commented on #3792
Yea, I was researching the whole REAP cancellation thing online ... very confusing. Standby

[2016-11-07 21:44] mollyblake commented on #3792
You can only give up REAP benefits if you had them for the last semester, quarter, or term that ended on or before November 24, 2015.

[2016-11-07 21:49] cweber commented on #3792
There it is! Sounds right to me.

[2016-11-07 21:55] melwoodard commented on #3768
@angel I think this works well - two thoughts:

1. What does this look like on a larger display? Does it stay attached to the left edge of the screen, or stay attached to the main column?

2. What does it look like on a single-column mobile layout?

@bshyong this also needs to be addressed on the blog index page - /experience

[2016-11-07 22:37] #3740 closed

[2016-11-07 23:04] angel commented on #3768
@melwoodard

1. I think it would stay attached to the left edge like this:
![image](https://cloud.githubusercontent.com/assets/103496/20079738/f2e27b40-a4fa-11e6-8c95-bf3c9d1f824e.png)
What do you think?

2. This is what the mobile layout could look like:
![image](https://cloud.githubusercontent.com/assets/103496/20079839/6dcebc74-a4fb-11e6-8602-da2ca7d3e7f1.png)

[2016-11-07 23:12] #3768 closed

[2016-11-07 23:12] #3769 closed

[2016-11-07 23:12] #3770 closed

[2016-11-07 23:12] #3783 closed

[2016-11-07 23:52] melwoodard opened #3807 "[HOMEPAGE] Hero design for blog & playbook pages"
...Continued from #3768

[2016-11-07 23:53] melwoodard commented on #3768
Continuing the design conversation in #3807

[2016-11-07 23:56] melwoodard commented on #3807
@angel on larger screens it might be better to detach the gold line from the side, since there isn't an existing pattern anywhere else of bleeding elements in the body out to the edge like that.

Mobile looks good!

[2016-11-08 00:01] #3609 closed

[2016-11-08 00:03] angel opened #3808 "[HOMEPAGE] Add hover state to popular buttons"
Let's make the border color the same blue as the cards when a Veteran hovers over that button. Can we also increase it to 2px so that it's more visible?

[2016-11-08 00:16] angel commented on #3807
@melwoodard true, so like this?
![image](https://cloud.githubusercontent.com/assets/103496/20081586/63a5b702-a505-11e6-9cf6-4701b85a34bd.png)

[2016-11-08 01:40] #3773 closed

[2016-11-08 03:10] ayaleloehr commented on #2604
@robertfairhead I believe you have done this and there is no further action needed. Can you confirm, and if so, close please!

[2016-11-08 08:52] usds-bot opened #3815 "UserVoice Idea: Clarification as to what type of active duty qualifies for the post 9/11 GI Bill?"
It's not clear on e-benefits what type of active duty qualifies for the post 9/11 GI Bill. It simply states active duty title 10. Completed 1009 days on active duty, started using the benefits, was reevaluated, DOD determined that I was not qualified, I cannot do work study in the VA Office at the college due to this evaluation, and now I will be homeless in a matter of three weeks.

http://vetera

[2016-11-08 15:18] #3788 closed

[2016-11-08 15:18] #3793 closed

[2016-11-08 15:18] #3794 closed

[2016-11-08 15:18] #3798 closed

[2016-11-08 15:29] eli-lewis commented on #3657
@U-DON not seeing the glossary link

[2016-11-08 15:43] U-DON commented on #3657
@eli-lewis The "glossary link" refers to the status that you see for the refill status of each prescription. Like "Active", "Submitted", "In process", etc. Clicking it pops up the modal with a definition of the glossary term.

[2016-11-08 16:11] eli-lewis commented on #3657
@U-DON ahhhh, ok... got it... terminology euphemisms ;)

[2016-11-08 16:59] usds-bot opened #3821 "UserVoice Idea: UT Knoxville comes up as a school from MD."
When searching for the University of Tennessee it still comes up that it is located in PATUXENT RIVER, MD.  With a website to www.utm.edu.  This is the wrong information for UT.  This has been an on going problem for the last 6 months and needs to be corrected to provide the proper information needed.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17008738-ut-knoxville-comes-up-

[2016-11-08 18:03] koconnor719 opened #3823 "search not working from header on homepage"
search does not return results when i search from homepage header.

[2016-11-08 18:27] goldenmeanie opened #3825 "Landing page feedback from Edu Services Team"
Adds 22- to form number references.
Fixes reviewed/processed language.
Calls out 'fork' as a warning.

[2016-11-08 19:18] cweber opened #3827 "Sticky box is not sticking at the right point"
The sticky box should not stick until the box reaches the top of the scream on a normal scroll. Currently it's jumping on mobile and jumps on desktop after you scroll down and then back up,

[2016-11-08 19:19] cweber opened #3828 "Sticky box should be full width on mobile"
The sticky box should be full width on mobile at all times, not just after it becomes sticky.

[2016-11-08 19:44] #3825 closed

[2016-11-08 19:49] carlmjohnson opened #3829 "Enhancement: Hover explanation for initialisms"
<img width="634" alt="screen shot 2016-11-08 at 2 47 16 pm" src="https://cloud.githubusercontent.com/assets/222245/20114431/54056e60-a5c2-11e6-9fd7-3b4b5a425a69.png">

When there's unclear initialism/acronym like "COE" in the screenshot above, it might be nice if you could hover over it to get the expanded version ("Certificate of Eligibility").

[2016-11-08 20:06] #3766 closed

[2016-11-08 20:56] #3784 closed

[2016-11-08 20:56] #3823 closed

[2016-11-08 21:07] webinista opened #3832 "Refill Prescription button is too short on small < 481px screens"
<img width="403" alt="screen shot 2016-11-08 at 1 03 48 pm" src="https://cloud.githubusercontent.com/assets/354277/20117080/dd29ed1a-a5b3-11e6-8734-d60331a17d4d.png">

[2016-11-08 21:31] bshyong commented on #3797
Looking into this—it's only happening on Safari, whenever the window size is somewhere within the range of the medium breakpoint

[2016-11-08 21:33] ayaleloehr opened #3834 "Rx 401's right after login; wrong token?"
When I login to prescriptions on staging, prescriptions often don't load and I'm just shown the page scaffolding with no data in it.  Looking at developer tools, the API request got a 401:

<img width="1174" alt="screen shot 2016-11-08 at 4 25 57 pm" src="https://cloud.githubusercontent.com/assets/4719765/20117938/aa3c6d52-a5d0-11e6-9a91-c4b3d2f3a6e0.png">

I then refreshed the page, and when I di

[2016-11-08 21:46] austin-martinez opened #3836 "Header bar displays profile link and greeting when session expires"
My session expired and I refreshed the page, the header bar still displayed a greeting and profile/sign out links.

![screen shot 2016-11-08 at 1 44 38 pm](https://cloud.githubusercontent.com/assets/16657563/20118510/9a6545d2-a5b9-11e6-9ccc-b3b33cb1a8e3.png)

[2016-11-08 21:58] U-DON commented on #3834
I've seen the 401 happen right after login. Just looking into this now, I think we load a function too early, so it gets `localStorage` when the page loads.

[2016-11-08 22:15] gnakm opened #3837 "Sticky box is jumping"
The sticky grey box with green form button jump when i scroll on mobile. @akainic could you label the priority? Can't gauge if this is hi-pri.

[2016-11-08 22:53] crwallace opened #3840 "User messages for login and logout"
@melwoodard // @AnitraAppa -- Can we get your once over on these popup screens?

Would love to know what content we should show the user.

I user will see this quickly when they are logging in before we check to see if they are verified and right before we fully log them in and close out the login screen:
<img width="782" alt="screen shot 2016-11-08 at 5 49 06 pm" src="https://cloud.githubusercont

[2016-11-08 22:58] melwoodard commented on #3840
@gnakm where did we land on the loading indicator front? I think we can utilize that with some messaging for these screens.

[2016-11-08 23:00] crwallace commented on #3840
@melwoodard -- This screen is part of the ID.me login flow and they have loading indicator's as well so it might be confusing to have two different loading indicators.

[2016-11-08 23:00] #3775 closed

[2016-11-08 23:03] gnakm opened #3841 "State search not working"
This is related to:
https://github.com/department-of-veterans-affairs/kudos-team/issues/218
https://github.com/department-of-veterans-affairs/kudos-team/issues/255

Currently, when you search for a state, it is zoomed in and search results shows as error. Technically it is not wrong.

@bshyong could change the logic so that when a user types in a state, the zoom level shows the whole state? Right

[2016-11-08 23:05] gnakm opened #3842 "Decrease size of icons for dropdown and map"
The icons are too big on map and especially in the dropdowns.
Gina to upload new icons in assets.

<img width="247" alt="screen shot 2016-11-08 at 5 48 14 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121115/bcacad50-a5dd-11e6-846f-5b9f779c1944.png">

/cc: @bshyong because it will be re-assigned to you very soon.

[2016-11-08 23:06] U-DON opened #3843 "Expired userToken in the middle of a session doesn't automatically redirect to login"
When your session expires, and you continue to make API requests with a stale userToken, the app will stop working, and there's no redirect the user to login. Only upon refresh does the login component render again.

I discovered this while working on Rx, but this would be true for any app that uses the userToken to make API requests. Depending on how the apps handle failed requests, it can be a c

[2016-11-08 23:09] gnakm opened #3844 "Map in detail page not consistent with results map"
The map in the detail page does not have the appropriate pin with the facility type. Having a red pin may through a user off who is in a detailed page for cemetery or benefit and confuse it to be a health facility. Small detail that might throw people off.

<img width="350" alt="screen shot 2016-11-08 at 5 49 32 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121180/0cf26c14-a5de-11

[2016-11-08 23:14] gnakm opened #3845 "Long service names in dropdown needs treatment"
Some of the service names are too long and overlaps with the dropdown icon in dropdown box.

<img width="255" alt="screen shot 2016-11-08 at 5 50 35 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121282/8b26334a-a5de-11e6-8c8e-d9b24961c47f.png">

For anything longer than 20 characters, _add"..."_

Example:
Vocational Rehabilitation Claims Assistance
becomes
Vocational Rehabilit...

[2016-11-08 23:17] gnakm opened #3846 "Pin bubble should be above pin"
Pin bubble should be above and centered-aligned with pin. The way it looks now looks a little broken. It's more of an impression thing. Low low low priority.

Current:
<img width="300" alt="screen shot 2016-11-08 at 5 48 53 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121401/35fd93da-a5df-11e6-9fc8-92732471bde9.png">

Ideal world:
<img width="411" alt="screen shot 2016-11-08 at 6

[2016-11-08 23:22] gnakm opened #3847 "Change you are here icon"
Need change out older yellow icon for new icon. The white on yellow is most definitely not 508 compliant.

<img width="114" alt="screen shot 2016-11-08 at 5 48 08 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121484/c03d7024-a5df-11e6-8569-aec5e7164127.png">

<img width="119" alt="screen shot 2016-11-08 at 6 21 53 pm" src="https://cloud.githubusercontent.com/assets/13420618/201215

[2016-11-08 23:24] gnakm opened #3848 "Access to care section is missing disclaimer"
<img width="355" alt="screen shot 2016-11-08 at 6 22 15 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121574/4f80bde0-a5e0-11e6-9a8d-0d5380c3bf0c.png">

<img width="340" alt="screen shot 2016-11-08 at 6 22 41 pm" src="https://cloud.githubusercontent.com/assets/13420618/20121579/5d35d416-a5e0-11e6-8fa6-2ba7fd785590.png">

Above table:
Current as of **November 1, 2015 - April 30, 20

[2016-11-08 23:28] gnakm opened #3849 "Add mental health number in detail page"
In the detail page, primary number should be labeled "main" and under it should be "mental health" with mental health number.

![desktop detail access to care](https://cloud.githubusercontent.com/assets/13420618/20121683/e548f05e-a5e0-11e6-9a8f-73bf9b06b7c7.png)

/cc: @patrickvinograd for mental health data.

[2016-11-08 23:31] crwallace commented on #3836
This will be addressed with #3834.

[2016-11-08 23:39] patrickvinograd commented on #3849
Mental health clinic phone number is exposed in API as `"mental_health_clinic"` under the `"phone"` section.

[2016-11-08 23:44] #3745 closed

[2016-11-09 00:05] melwoodard commented on #3840
Ah, got it. In that case, here's what I'd suggest:

**Sign in (left) -** since this appears inside the id.me popup window, it's confusing to see all the vets.gov website nav here. If it's possible, we should remove all of it and show a simple message.

**Sign out (right) -** we can mirror the phrasing for sign in for this state, but maintain all the site nav elements since it's shown in the contex

[2016-11-09 00:06] #3492 closed

[2016-11-09 01:20] #3728 closed

[2016-11-09 02:03] U-DON commented on #3836
#3834 does reveal the issue, but it's also a problem specific to Rx that is separate from the 401 for `user`.

[2016-11-09 14:08] #3787 closed

[2016-11-09 14:15] cweber opened #3854 "Turn off Atlanta RPO by 14th/15th"
Effective the 28th Atlanta will no longer be processing Education Applications. Realignment are being switched over this weekend.

Stop creating a file for Atlanta as soon as possible. (By the 14th. End of 14th would be ideal.)

Everything created on the 15th should go to:

Georgia and Puerto Rico will be going to Muskogee

North Carolina and Virgin Islands to Buffalo.

[2016-11-09 14:56] cweber commented on #3792
@mollyblake Was just dropping this in and wondering if we can make the MGIB-AD one a bit shorter.

How about:

If you choose to give up MGIB-AD, you'll get benefits only for the number of months you had left left under MGIB-AD.

![screen shot 2016-11-09 at 9 52 30 am](https://cloud.githubusercontent.com/assets/417657/20142409/9288d852-a662-11e6-8389-80f9d8380691.png)

@goldenmeanie, we already hav

[2016-11-09 15:03] goldenmeanie commented on #3792
I like the pairing idea. I haven't looked at the logic on this yet. It doesn't currently differentiate between which button is selected does it?

[2016-11-09 15:05] cweber commented on #3792
I don't think so. I actually mocked that up in browser. Haven't opened the code yet.

[2016-11-09 15:15] mollyblake commented on #3792
We can shorten the paragraph at the top too if that will help:

"If you're eligible for both the Post 9/11 Gi Bill and another program, like MGIB-AD, you'll have to choose which one you want to use. Once you apply for one or the other, your decision is irrevocable (meaning you can't change your mind).

[2016-11-09 15:30] usds-bot opened #3855 "UserVoice Idea: Shorten claim statuses"
In claim statuses combine the Claim received and claim being reviewed together just as you have development and the decision statuses
NCC LAS of 7.5 years

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17026570-shorten-claim-statuses

[2016-11-09 17:14] cweber commented on #3792
We need to add new language to a couple of the selection options on the relinquishment page. These statements will appear upon selection, along with the Effective Date field. The effective date field should show up nested in an expanding group for each individual radio selection.

The example below shows what it would look like with **Montgomery GI Bill (MGIB-AD, Chapter 30)** selected. (Note that

[2016-11-09 17:17] #3608 closed

[2016-11-09 17:41] bshyong commented on #3849
resolved by https://github.com/department-of-veterans-affairs/vets-website/pull/3852

[2016-11-09 17:41] #3849 closed

[2016-11-09 17:41] bshyong commented on #3848
resolved by https://github.com/department-of-veterans-affairs/vets-website/pull/3852

[2016-11-09 18:00] gnakm opened #3860 "Search button in mobile is too long"
<img width="399" alt="screen shot 2016-11-09 at 12 52 23 pm" src="https://cloud.githubusercontent.com/assets/13420618/20148728/e55ee512-a67b-11e6-9526-eae920e8aafd.png">

The search button is too long in mobile version.
I believe the other dropdowns are 359.25 px in width?

[2016-11-09 18:38] #3834 closed

[2016-11-09 18:41] NatalieEMoore opened #3861 "Data on "Access to Care" issues."
https://dev.vets.gov/facilities/facility/vha_675GG
https://dev.vets.gov/facilities/facility/vha_674BY

This site's access to care data should only show primary care.  It should not say 0%, the entire line should be removed.

![o percent](https://cloud.githubusercontent.com/assets/13317147/20150084/0682fda4-a682-11e6-9dec-f7483d3e59a6.jpeg)

Name of Facility: Lake Baldwin VA Clinic and Austin VA cl

[2016-11-09 18:45] AnitraAppa commented on #3840
+1 to @melwoodard's mocks, "Signing in to Vets.gov..." and "Signing out of Vets.gov..." LGTM

[2016-11-09 18:46] NatalieEMoore commented on #3861
This should apply to any health facilities with access of care that have a 0% field.

[2016-11-09 18:48] patrickvinograd commented on #3861
API is returning `null` for these values so I believe this is a frontend issue, null should be mapped to 'N/A'
https://dev-api.vets.gov/v0/facilities/va/vha_675GG

[2016-11-09 18:50] bshyong commented on #3861
@NatalieEMoore unless you think keeping the row and adding "N/A" is better, I'm going to remove the entire row if the data `null`

[2016-11-09 18:51] gnakm commented on #3848
@bshyong

We are still missing Current as of date range under the access to care header.

<img width="333" alt="screen shot 2016-11-09 at 1 50 13 pm" src="https://cloud.githubusercontent.com/assets/13420618/20150357/7ba8368e-a683-11e6-8e2b-2dd1b49264fa.png">

This is super minor. Could we un-italicize the disclaimer at the bottom?

[2016-11-09 18:56] NatalieEMoore commented on #3861
@bshyong please delete row.

[2016-11-09 19:08] NatalieEMoore opened #3863 "Back to List button works but data doesn't load once i'm back on old page"
If you click on any facility name (NCA, VHA, VBA), it will open the details page.  When you then try to use the "back to list" link, shown below, the back page never loads, also shown below.

<img width="619" alt="screen shot 2016-11-09 at 2 13 18 pm" src="https://cloud.githubusercontent.com/assets/13317147/20151108/e9f2eb0e-a686-11e6-918f-9529d881071a.png">

<img width="347" alt="screen shot 2016

[2016-11-09 19:28] NatalieEMoore opened #3866 "When accessing FL on IE there is a certification error."
Bug report from Jenny.  @jenny-h-l can you provide more detail or add a screen shot?

When searching 22204 as zip code in IE (I will check in other browsers later, but wanted to get you this feedback ASAP) I get a security error that says “This certificate cannot be verified up to a trusted certification authority. Says it was issued to “api.mapbox.com”

[2016-11-09 19:31] NatalieEMoore commented on #3848
Sorry but @ben @gnakm is it possible to remove the * and have it say Note: % of Veterans who reported that they were "Always" or Usually" able to get appointment.

[2016-11-09 19:38] NatalieEMoore commented on #3848
And making sure we also include the "Current as of November 1, 2015 - April 30, 2016".

[2016-11-09 19:50] NatalieEMoore opened #3867 "Map issue on IE for FL"
Jenny flagged that when using IE, images on the map display seem missing  -- little boxes with “x” where there should be image.

@jenny-h-l can you upload an image or provide more information?

[2016-11-09 19:53] gnakm opened #3868 "Icon alignment with text fix"
<img width="688" alt="screen shot 2016-11-09 at 2 18 00 pm" src="https://cloud.githubusercontent.com/assets/13420618/20152388/0a083c0a-a68c-11e6-8042-4a8ff1f674b3.png">

Currently, the height are all the same but the different widths are causing the texts on the side to be misaligned. Could we make all the icons so that they are 18px in width and 15px distance from text.

[2016-11-09 19:56] patrickvinograd commented on #3866
Mapbox is the service used on the frontend to retrieve/display map tiles. Adding @bshyong although I may be able to help debug/diagnose if he is slammed.

[2016-11-09 19:56] dannychapman opened #3869 "Exposure to hazardous materials is missing subnav"
Wrong template type is applied, or template type is now missing subnav

![screen shot 2016-11-09 at 2 56 02 pm](https://cloud.githubusercontent.com/assets/281709/20152543/ad9bb43c-a68c-11e6-831f-42103a568566.png)

[2016-11-09 20:58] jenny-h-l opened #3870 "Map image issue in chrome for FL"
In chrome: map images aren't displaying for me. not on the big map page and not on the facility detail page

[2016-11-09 20:59] jenny-h-l opened #3871 "Entering zip code then back to results shows to full address"
When I searched on 32669 as zip code, I get results. Chose the Gainesville Ninety Eight Street VA Clinic. Then go back to results and it is filling in a full street address.

[2016-11-09 21:01] jenny-h-l opened #3872 "Facility detail page issue in FF in FL"
after searching for zip code 32669, selected a facility and it’s scrolled down part of the page already when I get there.

[2016-11-09 21:02] jenny-h-l opened #3873 "Websites that are null shouldn't show the website link on FL"
For clinics in the Gainesville, FL area, the Website link is not working (the Gainesville VAMC web link worked fine)

[2016-11-09 21:12] NatalieEMoore commented on #3873
This issue is for more than just this one example.

If the website is returned as null we shouldn't show the website link.

[2016-11-09 21:19] emilyville opened #3874 "[Homepage] Copy changes"
The copy on the homepage is a little different what I have in the final design, and is likely from an older version.

In the hero it should read:
"Get the VA services you've earned." (No "that")

And the line below the stars should read
"Explore Services and Benefits"

cc @angel and @maryannbrody
![vets gov-homepage-11-11-updated-copy2 2](https://cloud.githubusercontent.com/assets/1307774/20155196

[2016-11-09 21:23] emilyville commented on #3874
I'd love to get this out by Veterans day, but I know there's a lot happening, so assigning to @crwallace to triage.

[2016-11-09 21:42] akainic commented on #3854
@lihanli sounds like this is coming up. Can you start working on this?

[2016-11-09 21:45] NatalieEMoore commented on #3872
@jenny-h-l can you add the link?

[2016-11-09 21:50] lihanli commented on #3854
where should `APO/FPO AA` applications go

[2016-11-09 21:52] cweber commented on #3854
Uh oh. I don't know.

I feel like we've collected this info from Shay before, but I don't have it on hand. Might need to reach out to Shay who is not in the office on Wednesdays. Or, @akainic might nows. Or...It sounded like maybe @alexose had talked to someone about this at some point.

[2016-11-09 21:53] NatalieEMoore commented on #3870
@jenny-h-l can you make sure this isn't working? We just tried on chrome and the map loaded.

[2016-11-09 21:58] alexose commented on #3854
Hrm, I'm not sure either...

[2016-11-09 22:05] jenny-h-l commented on #3870
I saw a warning that "This page is trying to load scripts from unsafe sources." but even after I cleared that, it's still showing up. but, maybe it's something with Chrome in general -- it won't let me run a search in chrome either.

[2016-11-09 22:06] jenny-h-l commented on #3870
here are a couple images of what I'm seeing:
[11-9-2016 5-03-16 PM Detail Page Map Image Issue FL.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/581937/11-9-2016.5-03-16.PM.Detail.Page.Map.Image.Issue.FL.pdf)
[11-9-2016 4-58-57 PM ChromeSecurityWarningFL.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/581938/11-9-2016.4-58-57.PM.ChromeSecurityWa

[2016-11-09 22:07] jenny-h-l commented on #3867
it's working now -- after I confirmed i wanted to ignore the security warnings.

[2016-11-09 22:09] akainic commented on #3854
I don't know off the top of my head. Adding @J-Quag to see if he knows, otherwise we're going to have to email Shay to ask her. Where are we sending those addresses now?

[2016-11-09 22:10] lihanli commented on #3854
atlanta

[2016-11-09 22:11] J-Quag commented on #3854
![image](https://cloud.githubusercontent.com/assets/15879513/20156721/86a4d67a-a69f-11e6-9f72-221108f85034.png)

[2016-11-09 22:12] J-Quag commented on #3854
Though we will need to update this because they are losing an RPO at the end of the month. Have we gotten that info yet?

[2016-11-09 22:12] jenny-h-l commented on #3872
I clicked to https://dev.vets.gov/facilities/facility/vha_573QC
 from the 32669 results (after i zoomed out) and  here's the page [11-9-2016 5-11-22 PM FF Clinic Detail Page FL.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/581995/11-9-2016.5-11-22.PM.FF.Clinic.Detail.Page.FL.pdf)

[2016-11-09 22:12] akainic commented on #3854
That's what this ticket is for

[2016-11-09 22:16] crwallace commented on #3605
Thank you everyone we are all set here! I am closing this out.

[2016-11-09 22:16] #3605 closed

[2016-11-09 22:17] J-Quag commented on #3854
Per Rodney, All Atlanta cases will either go to Buffalo or Muskogee. That being said, he doesnt ahve it in front of him at the moment and will provide in the AM.

[2016-11-09 22:31] NatalieEMoore commented on #3861
added Patrick to this one because the data is off right now and he is working on fixing it.

[2016-11-09 22:35] NatalieEMoore opened #3878 "Extensions missing on mental health phone numbers"
All phone number extensions are missing. @patrickvinograd checked the data and the extensions are there.

[2016-11-09 22:36] bshyong commented on #3867
Can somebody send a screenshot of the security warnings? This might be related to our use of Mapbox (3rd party map imagery vendor) but I'd like to confirm

[2016-11-09 22:37] patrickvinograd commented on #3878
Looks like front end may not be using the right phone number. Example:
https://dev-api.vets.gov/v0/facilities/va/vha_640
(note mental_health_clinic phone number with extension)
[code]
But https://dev.vets.gov/facilities/facility/vha_640 shows Mental Health number as same as Main phone number.

[2016-11-09 22:49] NatalieEMoore commented on #3866
@bshyong can you tackle this or should @patrickvinograd help?

[2016-11-09 23:01] jenny-h-l commented on #3867
yes, i think it's yoru vendor.
[11-9-2016 5-59-48 PM.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/582126/11-9-2016.5-59-48.PM.pdf)
[11-9-2016 5-55-38 PM.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/582125/11-9-2016.5-55-38.PM.pdf)

[2016-11-09 23:03] NatalieEMoore opened #3879 "Wrong Data for Mental Health Numbers"
The data validators for mental health care phone numbers said that the numbers showing up now are all wrong.  It appears that the mental health number listed is actually the same as the main number.

<img width="296" alt="screen shot 2016-11-09 at 6 01 57 pm" src="https://cloud.githubusercontent.com/assets/13317147/20158151/a2d42ec0-a6a6-11e6-8e16-1ebb2daba6e8.png">

Looks like that may be pulling

[2016-11-09 23:07] bshyong commented on #3878
Got it—should look like this. Do we know if all the phone numbers are in this format? If so I can do some formatting clientside to insert hyphens and make it look better

![screen shot 2016-11-09 at 3 06 56 pm](https://cloud.githubusercontent.com/assets/303289/20158271/32475604-a68e-11e6-80c8-ecfe16fe8c1a.png)

[2016-11-09 23:12] bshyong commented on #3878
formatted number

![screen shot 2016-11-09 at 3 12 20 pm](https://cloud.githubusercontent.com/assets/303289/20158407/f11c6876-a68e-11e6-8e3c-df37ccd10a05.png)

[2016-11-09 23:13] #3842 closed

[2016-11-09 23:13] #3846 closed

[2016-11-09 23:13] #3861 closed

[2016-11-09 23:13] #3848 closed

[2016-11-09 23:38] gnakm opened #3881 "two line phone numbers for extensions"
<img width="487" alt="screen shot 2016-11-09 at 6 36 41 pm" src="https://cloud.githubusercontent.com/assets/13420618/20158948/9cc43192-a6ab-11e6-8285-7ceed9d3ee69.png">

[2016-11-09 23:47] gnakm opened #3882 "add option to delete search field."
In mobile, could we add an x to delete a whole search field. Currently if there is a long address, users will have to manually delete everything.

![screenshot_20161109-183916_720](https://cloud.githubusercontent.com/assets/13420618/20159037/432b4f20-a6ac-11e6-987a-a2ea19486d0f.png)

[2016-11-10 00:09] bshyong commented on #3882
@gnakm where should we put it? Will users accidentally click it and wipe out their search?

[2016-11-10 00:22] bshyong commented on #3866
@NatalieEMoore @patrickvinograd I'm not sure if there is anything we can do on our side—can we clear browser cache and try again?

I found this recent incident for MapBox which says that the certificate issue should be resolved http://status.mapbox.com/incidents/th5dqg3d62vf

[2016-11-10 00:28] patrickvinograd commented on #3879
This is the same issue as #3878 - missing extensions - the extensions were missing because the wrong phone number was being displayed.

[2016-11-10 01:14] bshyong commented on #3872
@jenny-h-l I can't replicate this issue on Firefox—is it a screen size issue?

[2016-11-10 02:06] NatalieEMoore commented on #3866
Okay I'll see if it happens to anyone else tomorrow and Jenny lmk if you still see it.

[2016-11-10 03:05] jcmeloni opened #3887 "Pop-up stuck at "Logging you in..." after entering username/password"
Please see closed issue https://github.com/department-of-veterans-affairs/vets-api/issues/460 for description and @omgitsbillryan's comment that "I was able to root cause to a XHR request race condition. If the response from /v0/user beats the response from /sessions/new?level=3 then the state.verifyUrl is read before it is ever set"

[2016-11-10 03:17] jcmeloni opened #3888 "Sign-In page & Refresh showing Sign-In page"
Please see complete original issue at https://github.com/department-of-veterans-affairs/vets-api/issues/458 from @J-Quag

The upshot is that no matter where the signin is initiated from (home page, rx, secure messaging, claims status), after the signin flow is complete and the pop-up disappears, the page does not refresh and thus show the successful login.

I know there have been intermittent repo

[2016-11-10 03:19] jcmeloni opened #3889 "Need to refresh /profile after successful proofing"
Please see original issue https://github.com/department-of-veterans-affairs/vets.gov-team/issues/415 by @staceylanger (I can also confirm after going through same process).

Please refresh /profile after ID.me modal closes subsequent to proofing flow.

[2016-11-10 03:34] NatalieEMoore commented on #3878
When will this show up on dev link? @bshyong

[2016-11-10 03:35] NatalieEMoore commented on #3863
Any updates on this one Ben?

[2016-11-10 03:49] NatalieEMoore opened #3891 "VBA service data (services + website) missing"
Where are we with getting VBA services up?  They are available in the search field but not on details page.  Website also needs to be up.  @patrickvinograd

[2016-11-10 03:59] bshyong commented on #3891
The benefits facilities that I've checked have no website info and no service data https://dev-api.vets.gov/v0/facilities/va/vba_343p

[2016-11-10 04:50] #3772 closed

[2016-11-10 05:05] patrickvinograd commented on #3891
Many of the smaller VBA facilities (the on-campus ones for example) have no website, but the regional offices do:
https://dev-api.vets.gov/v0/facilities/va/vba_314
Above link has services as well.

[2016-11-10 05:17] bshyong commented on #3891
this will be resolved in https://github.com/department-of-veterans-affairs/vets-website/pull/3885; services not showing up was due to the change today in data keys. Dropdown options and Facility Detail pages are now updated

[2016-11-10 07:38] ayaleloehr commented on #3887
Happened again tonight at 12:59am Eastern. The popup stays frozen with "Logging you in..." as the text. I then opened my console in the parent window (didn't have it open beforehand unfortunately). The console looked like:

<img width="1175" alt="screen shot 2016-11-10 at 1 00 25 am" src="https://cloud.githubusercontent.com/assets/4719765/20168203/9e751d42-a6ee-11e6-8add-18a430c2e663.png">

[2016-11-10 11:38] #3863 closed

[2016-11-10 11:38] #3871 closed

[2016-11-10 11:38] #3873 closed

[2016-11-10 11:38] #3879 closed

[2016-11-10 11:38] #3881 closed

[2016-11-10 11:38] #3891 closed

[2016-11-10 11:38] #3868 closed

[2016-11-10 11:38] #3878 closed

[2016-11-10 12:14] maryannbrody commented on #3874
Thanks for catching this @emilyville!

[2016-11-10 16:39] melwoodard opened #3897 "Allow a user to extend their session before expiration"
Proposed feature:

Introduce a timeout warning to tell a user they're about to be signed out 2 minutes before and give them the option to stay logged in. Something like:

For security, you'll be automatically signed out in 2 minutes. To stay signed in, click Continue. **CONTINUE**

To investigate:

- Are there any security implications in allowing this behavior that we should be aware of / need to

[2016-11-10 16:46] AnitraAppa commented on #3897
Thanks for filing! Can further tweak text as needed once we know if this is a go/no-go security wise.

[2016-11-10 16:48] usds-bot opened #3898 "UserVoice Idea: Incorrect School Info"
Our school, information is incorrect. We called the VA Bureau of Education and the said they have nothing to do with it.  Can someone contact me? We want to correct the wrong info. We are a not for profit school and have both online and campus programs, your site is incorrect with the listing of this information.  Thank you, Brian Kasler, Vice President American Academy McAllister Institute of Fun

[2016-11-10 17:08] avrildavid opened #3899 "The service type drop down list is inactive on the Facilities Locator site"
Site: https://dev.vets.gov/facilities
Environment: IE, Chrome, Firefox
Expected Outcome: Ability to select from a dropdown list of service types
Actual Outcome: Unable to select from a dropdown list - appears to be inactive
![service type drop down](https://cloud.githubusercontent.com/assets/23316175/20186472/2758608e-a73e-11e6-9ca3-04deb2c93d88.PNG)

[2016-11-10 17:16] avrildavid opened #3900 "Select facility type drop down menu on the facility locator site doesn't reflect my selection - IE only"
Site: https://dev.vets.gov/facilities
Browser: IE only - it worked in Chrome and Firefox
Expected outcome: Ability to select an individual drop down option, have it stick, and then have the option reflected on both the map and the sidebar list
Actual outcome: The "select facility type" drop down menu doesn't reflect my selections in the dropdown itself, on the map or the sidebar. I'm unable to get

[2016-11-10 17:34] bshyong commented on #3899
@avrildavid this is expected behavior. The service filter is only active for Benefits facilities

[2016-11-10 17:41] bshyong commented on #3847
closed by https://github.com/department-of-veterans-affairs/vets-website/pull/3885

[2016-11-10 17:41] #3847 closed

[2016-11-10 17:42] bshyong commented on #2690
closing deprecated issue

[2016-11-10 17:42] #2690 closed

[2016-11-10 18:03] patrickvinograd opened #3903 "Chrome - Facility Type gets stuck as Benefits, later selections/searches don't reflect new type."
I was clicking/panning around/paging through results with all types selected. I then tried selecting Benefits facilities and filtering by type. This worked fine. Then I tried selecting Cemetery or Health facility type but the map and result list were stuck on the benefits search.

Sentry indicates the problem is that the "services" param is sticky and is not getting cleared out when you go back to

[2016-11-10 18:07] bshyong commented on #3900
What version of IE and Windows are you using? The dropdown is working for me in Windows 10 and IE 11.

video: http://recordit.co/ohS70P5aTC

[2016-11-10 18:07] patrickvinograd commented on #3903
It's possible #3900 is the same issue if the

[2016-11-10 18:08] patrickvinograd commented on #3900
At some point during testing did you select type=Benefits and select a benefits service to filter on? This could be the same issue as #3903.

[2016-11-10 18:13] crwallace commented on #3843
@U-DON -- I just spoke with @ayaleloehr about this and this is something that the rx app will have to listen for because there is no way for the profile app or the login app to listen inside of the rx app since they are disconnected react components. Maybe we can pass `handleLogin()` down to the rx app through the `<RequiredLoginView/>`, which will allow you to use it when you receive a 401 from t

[2016-11-10 18:20] avrildavid commented on #3900
Hi Patrick,

Yes – the feature works in Chrome and Firefox when you select Benefits to filter on. In IE 11 I’m unable to filter on Benefits or any other option, so can’t check this part.

Avril

From: patrickvinograd [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 1:09 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com>
Cc: Avril David <adavid@t

[2016-11-10 18:23] NatalieEMoore commented on #3899
closing this issue.

[2016-11-10 18:23] #3899 closed

[2016-11-10 18:26] NatalieEMoore commented on #3841
For new York for example it shows nothing if you type in just New York.  Where did we land on this?

[2016-11-10 18:27] NatalieEMoore commented on #3900
I'm on IE 11 and it doesn't work. @bshyong @patrickvinograd

[2016-11-10 18:28] NatalieEMoore commented on #3903
@patrickvinograd can you label high/low priority and/or launch blocker?

[2016-11-10 18:31] avrildavid commented on #3900
IE 11 and Windows 7 version 6.1

From: Ben [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 1:08 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com>
Cc: Avril David <adavid@tistatech.com>; Author <author@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/vets-website] Select facility type drop down menu on the facility locator site

[2016-11-10 18:36] suzchap opened #3905 "Profile page link label for claim status"
"Check your claim status" should be "Check your disability compensation claim status"

[2016-11-10 18:37] bshyong commented on #3866
cannot replicate—please ping if this is still happening

[2016-11-10 18:38] bshyong commented on #3867
cannot replicate—was this tested on a VA VPN connection?

[2016-11-10 18:40] bshyong commented on #3841
We need to change the zoom level dynamically depending on the search string—I'm looking into it. This should be discussed in more depth post launch as there are quite a few cases to think about.

For example by typing in New York a user could mean either a state or a city..

[2016-11-10 18:43] NatalieEMoore opened #3906 "How to display VBA facilities that are appointment only."
Billy showed me some of our data, and we came across Scott Air Force Base (below) and noticed that the excel doc's comment column info/hours are not showing for this facility.  This location is by appointment only, which is why there are no hours of operation.  We also noticed that another facility is not displaying the comment hours, so we assume this is a global issue.

![airforce](https://cloud

[2016-11-10 18:44] jenny-h-l commented on #3872
@bshyong bug no longer happening. don't know what changed.

[2016-11-10 18:47] jenny-h-l commented on #3866
@bshyong cleared cache and still seeing the issue. are you testing with a VA computer using IE 11?

[2016-11-10 18:47] NatalieEMoore commented on #3906
currently VBA facility hours that are "appointment only" are showing as always closed. For those with no hours, can we just have this message:  This facility is by appointment only.  Please call first to make an appointment.

[2016-11-10 18:48] NatalieEMoore commented on #3866
make sure to update @jenny-h-l screenshots and more details as this is not happening for me and I'm also on IE 11.

[2016-11-10 18:49] patrickvinograd opened #3907 "iOS Safari: Search for zip code recenters map but doesn't update facilities"
Loaded staging.vets.gov/facilities on iPhone running iOS 9.3.5.

Initial FL page came up with map centered on DC. Entered search term "97202", no facility type or service selection. Map re-centered on Portland, but no pins showed.

Click over to "View List", it says "Search results near 97202", but shows a list of facilities near DC.
Click back to "View Map", and map is centered back on DC with DC

[2016-11-10 18:51] #3872 closed

[2016-11-10 18:51] jenny-h-l commented on #3866
see certificate screenshots  https://github.com/department-of-veterans-affairs/vets-website/files/582126/11-9-2016.5-59-48.PM.pdf

https://github.com/department-of-veterans-affairs/vets-website/files/582125/11-9-2016.5-55-38.PM.pdf

[2016-11-10 18:53] NatalieEMoore opened #3908 "VA showing no facilities on IE 11"
![va](https://cloud.githubusercontent.com/assets/13317147/20189850/ebf98630-a74c-11e6-894c-dbfa8a8e9055.PNG)

https://dev.vets.gov/facilities/?zoomLevel=6&page=1&address=virginia&location=38.00234,-78.224935&context=Virginia, United States

tried zooming out and in

[2016-11-10 18:54] jenny-h-l commented on #3867
no. it was tested in a VA office, using a VA computer

[2016-11-10 18:57] patrickvinograd commented on #3906
I think we should consider always showing the Comments field if it is non-empty - there is so much variation that would make it hard to determine "No hours". Some have CLOSED every day, some have CLOSED every day but Monday but then the comments say "Only open 3rd monday of the month", etc.

[2016-11-10 18:57] patrickvinograd commented on #3906
Here is a query showing just facility name/hours/comments so you can see the range of data:
https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0//query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=&units=esriSRUnit_Meter&outFields=Facility_Name%2CMonday%2CTues

[2016-11-10 18:59] NatalieEMoore commented on #3908
@patrickvinograd this may be related to the API being down.

[2016-11-10 19:01] NatalieEMoore commented on #3866
@jenny-h-l is the only one who can see it and we have tried on a few different computers so closing this for now unless someone else has the issue.

[2016-11-10 19:01] #3866 closed

[2016-11-10 19:01] NatalieEMoore opened #3909 "Update Access to Care date [launch blocker]"
Can you please change the date on Access to Care section to this:

Feb 2016 - Jul 2016

We currently have the wrong range listed.

[2016-11-10 19:03] J-Quag opened #3910 "Text in Facility Type off"
Browser: IE11

![image](https://cloud.githubusercontent.com/assets/15879513/20190197/711e08d0-a74e-11e6-9fbf-fd0f267dc592.png)

[2016-11-10 19:06] patrickvinograd commented on #3908
We suspect this was a blip in vets-api service availability in dev/staging.

[2016-11-10 19:07] NatalieEMoore commented on #3908
Yes this is fixed although there are other zoom issues but I will close this.

[2016-11-10 19:07] #3908 closed

[2016-11-10 19:10] J-Quag opened #3911 "Middle of Map, when clicked on says "You are here""
Browser: IE 11
Expected Result: Nothing(?)
Actual Result:
  When searching and moving the map around, if you click in the center of the map a new icon will appear with the pop up text of: "You are here," even if that is not actually your current location.

![image](https://cloud.githubusercontent.com/assets/15879513/20190434/69a052b0-a74f-11e6-8087-74fbd2395147.png)

[2016-11-10 19:13] NatalieEMoore opened #3912 "Services Current As Of Date is wrong"
![lindadate](https://cloud.githubusercontent.com/assets/13317147/20190527/d7a78634-a74f-11e6-9ec8-7e2e68c7dbfb.PNG)

[2016-11-10 19:24] NatalieEMoore commented on #3906
okay sounds good to me, is that possible?  if no hours are shown, please just include comment field?

[2016-11-10 19:28] NatalieEMoore opened #3913 "Icons not showing on IE facility details page"
![logoissuesie](https://cloud.githubusercontent.com/assets/13317147/20191059/eafb2bf8-a751-11e6-8336-bfec77a9c73a.PNG)

[2016-11-10 19:28] NatalieEMoore commented on #3913
next to main number, websites, directions.

[2016-11-10 19:33] NatalieEMoore opened #3914 "NCA hours of operation [launch blocker]"
![logoissuesie](https://cloud.githubusercontent.com/assets/13317147/20191222/9a9ac51e-a752-11e6-848a-45312448269b.PNG)

NCA hours not showing which is fine because they have a general sun up to sun down.  Will update once I have content message for how we can show these.

[2016-11-10 19:36] NatalieEMoore opened #3915 "missing vba data should not sure up as blank on site [launch blocker]"
![333333](https://cloud.githubusercontent.com/assets/13317147/20191308/eb40cdce-a752-11e6-8051-922965c7eb16.PNG)

If we don't have this data can we make the fields blank?

[2016-11-10 19:36] gnakm opened #3916 "Distance not showing"
Distance not showing on both results list and detail page.

Current:
<img width="310" alt="screen shot 2016-11-10 at 2 32 45 pm" src="https://cloud.githubusercontent.com/assets/13420618/20191220/98b3bac6-a752-11e6-9789-2c60584747ba.png">

Reference:
<img width="310" alt="screen shot 2016-11-10 at 2 35 36 pm" src="https://cloud.githubusercontent.com/assets/13420618/20191328/f9349820-a752-11e6-864a-

[2016-11-10 19:36] NatalieEMoore commented on #3915
note: main field is blank

[2016-11-10 19:38] NatalieEMoore opened #3917 "some mental health numbers have "-" (dash) and others are like this 2309234209"
![mhnumbers](https://cloud.githubusercontent.com/assets/13317147/20191380/3e2d0db8-a753-11e6-947f-66686ef10594.PNG)

please - all MH numbers

[2016-11-10 19:42] NatalieEMoore commented on #3867
is this different from the other PR about certificates?

[2016-11-10 19:53] gnakm commented on #3882
@bshyong

I think it should be okay as long as it only pops up when the field is clicked.
Also, when it is clicked, could we have it so that the text cursor is at the (far right) end of the text?

[2016-11-10 19:56] patrickvinograd commented on #3906
I think it just needs to be "display comments field if non-empty", across the board for all VBA facilities. FWIW 70% of VBA facilities have no comments, the rest are all over the map in terms of whether they have some hours some days, no hours, etc.

[2016-11-10 19:59] bshyong commented on #3906
Agreed. Here's what the notes field looks like for one of the facilities

![screen shot 2016-11-10 at 11 58 16 am](https://cloud.githubusercontent.com/assets/303289/20192086/2c6f6186-a73d-11e6-96cd-2cca1a35200f.png)

[2016-11-10 20:06] bshyong commented on #3914
I'll add as soon as we know what we want to show as the message

[2016-11-10 20:07] bshyong commented on #3917
This is happening because of inconsistent formatting between the various facilities—some already have dashes, some look like this, some have extensions.. Fixing in https://github.com/department-of-veterans-affairs/vets-website/pull/3918

[2016-11-10 20:20] gnakm opened #3919 "Adjust zoom levels between searches"
The transition of search from a very zoomed in location search (address) to a very zoomed out location (state). Related to: https://github.com/department-of-veterans-affairs/kudos-team/issues/218

[2016-11-10 20:26] NatalieEMoore commented on #3916
@ayaleloehr @patrickvinograd what is the feasibility of calculating this on the API side and passing to front end?

[2016-11-10 20:30] plusjeff commented on #3889
Duplicate of https://github.com/department-of-veterans-affairs/vets.gov-team/issues/416 (this issue came first, but the other one has steps to recreate, so keeping that one open)

[2016-11-10 20:30] #3889 closed

[2016-11-10 20:31] NatalieEMoore commented on #3913
this is an internal va problem

[2016-11-10 20:31] #3913 closed

[2016-11-10 20:36] NatalieEMoore commented on #3912
this needs to be moved to kudos repo which I will do shortly.

[2016-11-10 20:39] NatalieEMoore commented on #3911
Not sure that this is a bug, will continue to investigate after launch.

[2016-11-10 20:40] J-Quag commented on #3911
Yeah, I'm unsure. I just thought it was weird if I moved the map and it said I was at that particular location, but I wasn't.

[2016-11-10 20:44] bshyong commented on #3906
![screen shot 2016-11-10 at 12 44 00 pm](https://cloud.githubusercontent.com/assets/303289/20193570/618db9f2-a743-11e6-99c7-9b169ad3ed31.png)

[2016-11-10 20:51] NatalieEMoore commented on #3906
This is a data issue and I need to talk to @staceylanger about how to show this.  Will report to @bshyong once I have an update.

@patrickvinograd do you know how many facilities have no hours data but just put info into the comment field?

[2016-11-10 20:53] NatalieEMoore commented on #3882
This was on an android phone.

[2016-11-10 20:56] NatalieEMoore commented on #3870
This seems like an isolated issue but we will continue to monitor.

[2016-11-10 20:56] #3870 closed

[2016-11-10 20:57] NatalieEMoore commented on #3867
This seems like an isolated issue and we will further investigate.

[2016-11-10 20:57] #3867 closed

[2016-11-10 21:01] NatalieEMoore commented on #3841
This issue is being solved on another issue.

[2016-11-10 21:01] #3841 closed

[2016-11-10 21:01] NatalieEMoore commented on #2691
Irrelevant because of new FL.

[2016-11-10 21:01] #2691 closed

[2016-11-10 21:02] NatalieEMoore commented on #2394
This issue was moved in kudos repo.

[2016-11-10 21:02] #2394 closed

[2016-11-10 21:10] patrickvinograd commented on #3916
It's feasible but it makes for a poor API design - an API result is supposed to represent a facility or a list of facilities, but "distance from center" is not really an attribute of a facility, it's an attribute of the current map view. So putting it as a field in the facility object seems backwards to me.

We could _possibly_ represent it in the `meta` section of the result, as a separate dict k

[2016-11-10 21:57] staceylanger commented on #3906
If we don't have meaningful hour data - we should not display the entire Hours section for that facility. Is that feasible @bshyong @patrickvinograd?

[2016-11-10 22:11] bshyong commented on #3906
@staceylanger @crwallace where do we draw the line for meaningful/non-meaningful?

For example the Scott Air Force Base facility is appointment only, so all of the hours are blank.

[2016-11-10 22:11] NatalieEMoore commented on #3912
Connecting with Linda on Monday about this but for launch it can stay as is.

[2016-11-10 22:13] staceylanger commented on #3906
I don't know enough about what the data looks like. But in the example above, if hours are blank in the data, do not show the hours section. Let me know if there are more scenarios anyone knows about and we can decide quickly.

[2016-11-10 22:14] usds-bot opened #3921 "UserVoice Idea: Request link change"
Question

Why does Vets.gov Employment section take a Veteran to Amazon, where a Veteran has to create an amazon account. in order to download a government book
https://www.amazon.com/Department-Labor-Employment-Workshop-Participant-ebook/dp/B01JNR2H6A

When it can be referring a Veteran directly to the DOL guide here
https://www.dol.gov/vets/programs/tap/DOLEW-Participant-Guide(Oct%202012).pdf
??

[2016-11-10 22:25] bshyong commented on #3906
possible values for those fields
- byAppt
- AppointmentOnly
- '-'
- CLOSED
- '' empty string
- 8AM-5PM and variants thereof

It's incredibly difficult to correctly choose when to show/hide the hours data or define what is meaningful because of the variance in data. We'd want to look at all of the field values in the data set, but even then, if the facilities update their data in a different format

[2016-11-10 22:29] patrickvinograd commented on #3906
There are 10 facilities that have no hours information at all (not even "Closed"). Those facilities also have no "comments" section, and 9/10 have no phone number!
http://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?where=Monday%3D%27%27+and+Tuesday%3D%27%27+and+Wednesday%3D%27%27+and+Thursday%3D%27%27+and+Friday%3D%27%27&objectIds=&time=&geometry

[2016-11-10 22:32] plusjeff commented on #3914
@NatalieEMoore : Assigning to you for updates on what to put in here. cc @staceylanger

[2016-11-10 22:38] plusjeff opened #3924 "FL: Blank hours vs closed hours"
Per @staceylanger :

For facilities that don't have hours in the data, do not show the day that data is missing for. Long term, the data will have to be fixed.

[2016-11-10 22:43] patrickvinograd commented on #3906
Other variants I've observed in hours data:
- "NONE"
- "BY APPOINTMENT"
- "42586" (?!)

[2016-11-10 22:47] patrickvinograd commented on #3924
Ref. #3906

[2016-11-10 23:30] bshyong commented on #3924
Going to define missing as an empty string or null, will show all others

[2016-11-11 00:41] koconnor719 opened #3925 "Replace Sec Bob Message"
please replace the current Sec Bob message here:  https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta/ with the attached message prior to tomorrow am pls.
[2016-11 Sec Message.bp-2.docx](https://github.com/department-of-veterans-affairs/vets-website/files/584778/2016-11.Sec.Message.bp-2.docx)

thx emily!

@emilyville @crwallace

[2016-11-11 00:57] #3903 closed

[2016-11-11 00:57] #3906 closed

[2016-11-11 00:57] #3909 closed

[2016-11-11 00:57] #3912 closed

[2016-11-11 00:57] #3915 closed

[2016-11-11 00:57] #3919 closed

[2016-11-11 00:57] #3917 closed

[2016-11-11 00:57] #3907 closed

[2016-11-11 00:57] #3924 closed

[2016-11-11 03:21] crwallace opened #3926 "Signout link not working in IE"
Logout function does not trigger in IE 11 on Windows 7 when clicking singout link.

[2016-11-11 03:41] #3836 closed

[2016-11-11 03:41] #3905 closed

[2016-11-11 14:51] #3925 closed

[2016-11-11 17:16] NatalieEMoore commented on #3914
@bshyong I can close this PR right?  Looks like hours of operation got completely removed (for now) on the site since there is no data.

[2016-11-11 17:18] bshyong commented on #3914
Yes, there is no data so the section is hidden

[2016-11-11 17:20] #3914 closed

[2016-11-11 17:22] NatalieEMoore commented on #3086
Can this issue be closed?

[2016-11-11 17:25] NatalieEMoore commented on #3911
@gnakm @crwallace we may want to further investigate this.  If you think it's fine as is we can close this.

[2016-11-11 18:11] bshyong commented on #3761
Closing resolved issue

[2016-11-11 18:11] #3761 closed

[2016-11-11 18:28] #3916 closed

[2016-11-11 18:48] emilyville commented on #3874
Hey! This looks awesome. We missed the first edit, so reopening. This is not urgent, but let's remove the "that" in the hero so it says

"Get the VA services you've earned.

[2016-11-11 18:59] bshyong commented on #3086
@NatalieEMoore yep, it's out of date—closing

[2016-11-11 18:59] #3086 closed

[2016-11-11 19:12] melwoodard opened #3935 "Sticky Box: Edu benefits "apply" button bleeds off-canvas on mobile"
The action box container should be 100% width

<img src="https://cloud.githubusercontent.com/assets/4106356/20226962/1d69aabc-a7ff-11e6-9813-44f87d14505a.PNG" width="300"/>

<img src="https://cloud.githubusercontent.com/assets/4106356/20226965/1e855c66-a7ff-11e6-8e2a-058c79d3e3a2.PNG" width="300"/>

[2016-11-11 19:25] gnakm opened #3936 "detail page jumps to bottom"
From results list, when I click on the facility name, it jumps to the bottom of the results page instead of landing at the top.

[2016-11-11 19:38] melwoodard opened #3938 "Allow session to persist across new tabs and windows"
Use case:

When I command+click a link (to a claim detail from the list page) to force it to open in a new tab, it makes me login again on that new tab.

[2016-11-11 19:54] usds-bot opened #3939 "UserVoice Idea: 10-10EZ form"
The "Apply as National Guard and Reserve (10-10EZ-Demob)" form is currently broken in Chrome.

Here's the link: https://www.vets.gov/healthcare/forms/10-10EZ-DEMOB.pdf

The PDF's contents are:
Please wait...
If this message is not eventually replaced by the proper contents of the document, your PDF viewer may not be able to display this type of document.
You can upgrade to the latest version of Ad

[2016-11-11 21:13] patrickvinograd opened #3942 "facilities search for "53130" returns result in Brazil"
https://www.vets.gov/facilities/?address=53130

53130 is a valid zip code in Wisconsin, but the map centers on a location in Brazil. This is an issue in MapBox's geocoding service, so we should file an issue with them, but if there's any way to hint the geocoding to be US-centric maybe we consider that as well.

[2016-11-11 21:54] melwoodard opened #3943 "Profile: open external links in new tab"
Since the change password link directs to my id.me wallet, can this open in a separate tab? Otherwise I have to use the browser back button to get back to vets.gov after changing my password.

[2016-11-11 22:22] bshyong commented on #3926
Having trouble replicating this in IE 11 on Parallels, but I'll try to see if I can get a hold of a Windows machine somewhere to see what's happening.

If somebody can click that signout with the dev console open on IE it might give us some clues...

Also on a related note, BrowserStack is free for open source: I wonder if we can get a free account to help with some of this multiple browser testin

[2016-11-12 00:41] lihanli commented on #3854
any updates? need to know which region for `APO/FPO AA`

[2016-11-12 01:51] bshyong opened #3945 "Website links in search results"
![slack for ios upload](https://cloud.githubusercontent.com/assets/303289/20234824/659d8e06-a837-11e6-892f-b3fafe8c07b7.jpg)

Website links are not working in mobile/icon is not showing up

@gnakm were website links supposed to show up in search results?

[2016-11-13 15:19] koconnor719 opened #3948 "Facility locator not showing results"
facility locator is not showing results correctly; when i search for 20001 (DC) it return no results:

![screen shot 2016-11-13 at 10 03 27 am](https://cloud.githubusercontent.com/assets/13770771/20246699/aa7903f8-a98a-11e6-9d82-7ae10044794c.png)

[2016-11-13 15:52] NatalieEMoore commented on #3948
This was on Safari.

[2016-11-13 17:19] patrickvinograd commented on #3948
For log correlation screenshot timestamp is 2016-11-13 10:03:27 am

[2016-11-13 21:13] patrickvinograd commented on #3948
This seems intermittent. When I see this on Chrome, sometimes I see map pointers flash onto the map very quickly and then disappear. I looked at the API requests using Chrome Developer Tools, and I sometimes see two API requests in rapid succession with different bounding boxes:
[code]
In this case the first request looks like the actual map display area and the response from API includes some fac

[2016-11-13 21:15] patrickvinograd commented on #3948
There is a second issue which is a devops issue - we are sometimes getting a 504 gateway timeout from the API requests during map refresh when doing a new search or panning/zooming. I think this is a reverse proxy issue that I will investigate separately.

[2016-11-13 21:23] patrickvinograd commented on #3948
On dev I see the two API requests happening but they always have the same, accurate, bounding box.

[2016-11-13 22:39] patrickvinograd commented on #3948
Panning/zooming results in multiple queries also, but with the same bounding box. Maybe it's an artifact of the search/geocoding mechanism that results in two API requests with different bounding boxes, maybe due to resetting the zoom level?

[2016-11-13 23:03] bshyong commented on #3948
^ I will investigate this issue. Panning/zooming should definitely change the bounding box. The second request with a smaller box seems like a bug - perhaps something relating to the event listeners on the map handling a bounds/view change

[2016-11-14 07:16] patrickvinograd commented on #3948
I've also seen a case where doing a page reload jumps to the location in the query params, but populates the facility list with Washington DC facilities from the default location - so it really seems like you're getting multiple asynchronous callbacks from API queries, but they're coming back out of order so they don't match up with the current map display.

[2016-11-14 13:32] J-Quag commented on #3854
@lihanli

GA & PR -> Muskogee
NC, VI, APO/FPO AA -> Buffalo

[2016-11-14 13:54] usds-bot opened #3949 "UserVoice Idea: Differentiate Between VRE & GI Bill"
Vocational Rehabilitation & Employment benefits are not the same as GI Bill benefits. All language used on the site for VRE (when selected through the drop down menu) is geared towards GI Bill. For example "Total GI Bill Benefits," with the corresponding dollar amount is listed. This is incorrect. The benefits are not synonymous and should be labeled correctly to avoid confusion and the impression

[2016-11-14 14:00] gnakm opened #3950 "Change main to primary care number?"
@NatalieEMoore Should change Main number to primary care? If not, we should add "number" next to main. Something about just main being there looks strange to me. Would love to hear your thoughts.
<img width="527" alt="screen shot 2016-11-14 at 8 57 31 am" src="https://cloud.githubusercontent.com/assets/13420618/20267409/9c4cd796-aa48-11e6-9870-efae3b9f625b.png">

[2016-11-14 14:05] NatalieEMoore commented on #3950
It's not the primary care number so that won't work but I like your idea of having Main Number!

[2016-11-14 14:05] NatalieEMoore commented on #3950
Maybe we should also have mental health number then?

[2016-11-14 14:54] leannammiller commented on #3789
Let's discuss at the end of sprint planning today.

[2016-11-14 15:25] markolson commented on #3854
@lihanli we can add this to https://github.com/department-of-veterans-affairs/vets-api/pull/503

[2016-11-14 16:44] bshyong commented on #3948
@NatalieEMoore @koconnor719 for zipcode 20001 there are indeed no facilities in that zipcode. there are facilities right outside of that area, but 20001 covers a small area where no VA facilities are inside.

![screen shot 2016-11-14 at 8 38 29 am](https://cloud.githubusercontent.com/assets/303289/20273368/d2f166fc-aa45-11e6-9d36-2a703806861e.png)

We should discuss this in more depth @NatalieEMoo

[2016-11-14 16:46] gnakm commented on #3945
@bshyong Yes website links should be showing up on search results.

[2016-11-14 16:48] NatalieEMoore commented on #3945
Currently they are showing up for all facilities on mobile but the link is broken and there isn't an icon.

[2016-11-14 16:49] NatalieEMoore commented on #3945
I don't know if they need to be there at all.  @gnakm do you want them there for a reason?

[2016-11-14 16:59] gnakm commented on #3948
@bshyong Let's continue talking about this. I think that's why we should show both pin and highlight because if we do what you're suggesting (zoom at a larger area beyond the search), then users will know that it is beyond their search + know that there is still something near by.

When I searched "20001" on desktop, chrome, I get this:
<img width="1003" alt="screen shot 2016-11-14 at 11 55 24 am"

[2016-11-14 17:04] emilyville commented on #3282
Any update on this @maryannbrody or @AnitraAppa ? Would love to make this shorter or move it to the footer. cc @angel

[2016-11-14 17:06] gnakm opened #3953 "Tab design needs to be consistent"
This is currently what it looks like on my android phone:
![screenshot_20161114-120335_1024](https://cloud.githubusercontent.com/assets/13420618/20274401/77588498-aa62-11e6-9af3-9ce04fac57fa.png)

Other tabs on Vets.gov looks like this:
<img width="274" alt="screen shot 2016-11-14 at 12 02 34 pm" src="https://cloud.githubusercontent.com/assets/13420618/20274411/7d49ff12-aa62-11e6-8b8f-127a5a28ec71

[2016-11-14 17:34] markolson commented on #3854
Possibly https://github.com/department-of-veterans-affairs/vets-api/pull/514

[2016-11-14 17:39] bshyong commented on #3948
@gnakm Agree—we need to talk about this in more detail. I strongly suggest finding a solution that doesn't require boundary highlighting as it is a huge undertaking and may introduce more issues and UI cases to think about. Let's see if there are any quick wins we can do to make things more intuitive for the user.

For example, could we change the copy on the "no results" text? e.g. we could not f

[2016-11-14 17:46] koconnor719 commented on #3948
@NatalieEMoore shouldn't it show the closest facilities?

[2016-11-14 18:15] robertfairhead commented on #2604
Yes, Rx is incorporated in google analytics. we scrub any unique IDs in the URLs (e.g., prescription numbers) just in case.

[2016-11-14 18:15] #2604 closed

[2016-11-14 18:16] gnakm commented on #3945
@NatalieEMoore No I thought it was a requirement but i guess now. How about we keep it out of search results and only have it in detail page?

[2016-11-14 18:20] NatalieEMoore commented on #3948
@koconnor719 yes, we are going to hop on a call at 2 to figure out a plan!

[2016-11-14 18:21] NatalieEMoore commented on #3945
That's what I think we should do.  At least for now.

@bshyong is this represented in the PR?

[2016-11-14 18:30] gnakm commented on #3911
No let's keep this issue open but talk about it at our 2pm meeting. Adding to agenda. It's not usual to have it move but might not be the appropriate UX for our particular purpose.

[2016-11-14 18:34] staceylanger commented on #3741
Looks good.

[2016-11-14 18:49] gnakm commented on #3945
Also, hours of operations should no longer be here. It's not on desktop but on mobile.

So for @bshyong,
- [ ] Take out website link
- [ ] Take out hours of operations for mobile
- [ ] Make sure icons are aligned with each other; make sure text are aligned with each other
- [ ] Add the word number next to main so it says, "Main number:"

[2016-11-14 19:08] ayaleloehr opened #3954 "Profile page thinks I'm signed in when I'm not"
After logging in, then getting timed out, then going to the profile page, this is what it looks like:

![screen shot 2016-11-14 at 2 04 55 pm](https://cloud.githubusercontent.com/assets/4719765/20278624/75161716-aa73-11e6-9af0-b5238108b5f3.png)

In the top right, there is "hello | profile | sign out" as if I am signed in, but I'm not actually signed in anymore.  These should instead say "Sign in |

[2016-11-14 19:09] ayaleloehr commented on #3938
Eugene noticed this on Rx today as well.

[2016-11-14 19:17] NatalieEMoore opened #3955 "Search results showing wrong information"
![new orleans new york](https://cloud.githubusercontent.com/assets/13317147/20279052/04123d5e-aa75-11e6-9066-6fa04a1ce9ce.PNG)

Typed in New York City and got a result in New Orleans.

[2016-11-14 19:18] NatalieEMoore commented on #3955
Similar issue happened for @gnakm

[2016-11-14 19:32] gnakm commented on #3955
<img width="1054" alt="screen shot 2016-11-14 at 2 16 35 pm" src="https://cloud.githubusercontent.com/assets/13420618/20279628/37d850a4-aa77-11e6-95e1-e0fe56c47846.png">

[2016-11-14 19:33] AnitraAppa commented on #3282
Thanks for following up! Let me know if this works @emilyville @maryannbrody @koconnor719

## **More to come**
We're building Vets.gov with lots of feedback from Veterans like you. To make sure these services are useful and accessible, we're adding new things one at a time. This allows us to see what you think before we add more. We hope to have all Vets.gov services and content up and running by

[2016-11-14 19:35] akainic commented on #3789
This is a larger vets.gov conversation about page navigation. To be discussed with vets.gov design and UX team. Moving to backlog for immediate term.

[2016-11-14 19:38] bshyong opened #3956 "Facility Locator should always show minimum of 10 results"
Related to issue here: https://github.com/department-of-veterans-affairs/vets-website/issues/3948

There are a couple of cases where entering a search result, e.g. a rural area or a zip code does not result in any facilities being shown. The solution we discussed is to disable searching via panning/zooming, making the only input the search box. The map will be purely for displaying where the facil

[2016-11-14 19:40] NatalieEMoore commented on #3900
I'm still having this issue on IE on the va desktop computer...

[2016-11-14 19:44] bshyong commented on #3955
@patrickvinograd the New Orleans result is really strange; here is the bounding box API call

https://api.vets.gov/v0/facilities/va?bbox[]=-74.20783996582033&bbox[]=40.58475654701271&bbox[]=-73.75396728515626&bbox[]=40.94360177170975&page=1

The PA results for Montana seem like a different issue; looking into it.

[2016-11-14 20:21] goldenmeanie opened #3958 "Vets.gov helpdesk number added to page template"
Is there a consistent place to note the helpdesk number in the works somewhere? I get that it will likely be called out in the content in places, but it seems like a predictable spot would also be helpful.

[2016-11-14 20:28] patrickvinograd commented on #3955
Yeah the New Orleans lat/long in the GIS database is straight-up wrong. @NatalieEMoore can you flag this one to the VBA data owner:
https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0//query?where=Facility_Number%3D%27321%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=&

[2016-11-14 20:31] NatalieEMoore commented on #3955
@patrickvinograd yeah will do that now.  Is the address in the data wrong or is the problem with geocoding?  Trying to figure out if it's a VBA issue or a GeoBISL issue.

[2016-11-14 20:35] patrickvinograd commented on #3956
We could change the API semantics to show n results from center...but then how do you deal with pagination - just keep expanding out from center forever?

Can the frontend do adaptive zooming - so if the default zoomlevel doesn't include any results, zoom out until it does?

[2016-11-14 21:20] patrickvinograd commented on #3955
The address is fine.

On Mon, Nov 14, 2016 at 12:31 PM, Natalie Moore <notifications@github.com>
wrote:

[2016-11-14 21:37] bshyong commented on #3956
@patrickvinograd I considered adaptive zooming but it seems non-optimal as we might need to send off 3-4 sequential requests. I guess it just feels finicky to me but I'm going to explore further to see how it behaves.

Does it break API semantics to show results even if there are none in the queried bounding box?

[2016-11-14 21:46] NatalieEMoore commented on #3955
okay emailed GeoBISL.

[2016-11-14 22:31] typesend opened #3960 "GI Bill Comparison Tool Integration"
The overall plan is to replace the GIBCT Rails app by implementing its backend and frontend within vets-api and vets-website respectively. This will eliminate header/footer synchronization problems and the need to maintain a separate standalone rails app. GIDS will likely still publish data to an isolated database but this is still being discussed.

*Related issues*
department-of-veterans-affairs/

[2016-11-14 22:32] patrickvinograd commented on #3956
Well, in the sense that we called the parameter "bounding box" it implies that we're returning results within those boundaries and no more. That said we can redefine the semantics...it would make less sense as an abstract/generic API but being practical, the semantics should be driven by the requirements of the front end.

As currently designed, I will have to do adaptive/repeated querying to the

[2016-11-14 22:40] #3936 closed

[2016-11-14 22:40] #3945 closed

[2016-11-15 02:13] koconnor719 commented on #3553
@bethpotts can you pls. check this:)

[2016-11-15 02:17] koconnor719 commented on #3599
posted and closed:

Thank you for your feedback. The VA does not assign people to free public clinics. If you want to transfer your care from one VA health care facility to another, contact your PACT (Patient Aligned Care Team). Your PACT will work with the Traveling Veteran Coordinator for assistance in transferring your care and establishing an appointment at the new facility. If we are misunder

[2016-11-15 02:17] #3599 closed

[2016-11-15 02:21] recorr opened #3962 "Piano Keys missing from some pages"
I found three issues in the audit of the vets.gov and corresponding va.gov pages. These three issues are on vets.gov.

1. This page:
https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/

Is missing links to these pages:
http://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/
http://www.vets.gov/disability-benefits/conditions/

[2016-11-15 02:21] koconnor719 opened #3963 "Do User Voice Terms of Service Need to be on our site?"
![screen shot 2016-11-14 at 9 21 01 pm](https://cloud.githubusercontent.com/assets/13770771/20290807/54008498-aab0-11e6-9804-3a1f256d1f32.png)

[2016-11-15 02:23] webinista opened #3964 ""Visit the feedback forum" link doesn't have enough contrast"
Changing `.feedback-widget:last-child` to have an `opacity` of `.6` or setting the color to `rgba(255,255,255,.6)` should fix.

[2016-11-15 02:29] webinista opened #3965 "Search form input needs a label"
Need to change:

 `<input autocomplete="off" type="search" name="query">`

to:

 `<input autocomplete="off" type="search" name="query" id="search-field-small">`

[2016-11-15 02:32] koconnor719 commented on #3693
posted and closed:

Thank you for your feedback. What link were you provided for feedback?  If you are a Veteran and would like to provide feedback about vets.gov please contact us at feedback@va.gov.

vets.gov team

[2016-11-15 02:32] #3693 closed

[2016-11-15 02:33] webinista opened #3966 "Duplicate input#affiliate fields"
We have one in the header, and another in the search modal. One of these needs to change, and the label updated accordingly. The `name` attribute for both fields can stay the same, but the `id` needs to change.

[2016-11-15 02:34] koconnor719 commented on #3949
Thank you for your feedback. We will pass this along to our writing team to review and clarify language! Thank you.

vets.gov team

[2016-11-15 02:36] koconnor719 commented on #3939
Thank you for your feedback. Our team will take a look at this!

vets.gov team

[2016-11-15 02:37] koconnor719 commented on #3939
closed b/c we are removing this link--it is to VOA and it is not an OMB form.

[2016-11-15 02:37] #3939 closed

[2016-11-15 02:40] webinista opened #3967 "Header has inaccessible text"
`.va-header-logo a` has inaccessible text. 98.2% sure that it's due to `overflow: hidden`. Rather than using `text-indent: 180%` try:

- `text-indent: -180%`
- `position: absolute; left: -9999rem`.

May be able to use `usa-sr-only` class.

[2016-11-15 02:46] koconnor719 commented on #3921
posted and closed:

Thank you for your feedback. Vets.gov does not link to Amazon.  We provide links to the Department of Labor (DOL) for employment resources; it looks like this was a link from DOL website.  If you are a Veteran and would like to provide additional feedback on vets.gov, please contact us at feedback@va.gov.

vets.gov team

[2016-11-15 02:46] #3921 closed

[2016-11-15 02:47] koconnor719 commented on #3898
@ayaleloehr whom should i assign this to?

[2016-11-15 02:49] koconnor719 commented on #3855
Thank you for your feedback. It appears that your comments are about eBenefits not vets.gov?  We are in the process of migrating claim status to vets.gov and will add your feedback to our research.  If you are a Veteran and would like to provide feedback on vets.gov please contact us at feedback@va.gov.

Thank you.

vets.gov team

[2016-11-15 02:49] #3855 closed

[2016-11-15 02:50] koconnor719 commented on #3821
@ayaleloehr  whom should i assign?

[2016-11-15 02:52] koconnor719 commented on #3815
Thank you for your feedback. Please contact the VA at	1-888-442-4551 for questions about education benefits.

vets.gov team

[2016-11-15 02:52] #3815 closed

[2016-11-15 02:54] koconnor719 commented on #3712
Thank you for your feedback. We'll add this to our user research that drives the design of vets.gov!  If you are a Veteran and would like to provide additional feedback on vets.gov please contact us at feedback@va.gov.

vets.gov team

[2016-11-15 02:54] #3712 closed

[2016-11-15 02:57] koconnor719 commented on #3685
deleted due to mentioning an individual's name in the comment.

[2016-11-15 02:57] #3685 closed

[2016-11-15 03:11] ayaleloehr commented on #3898
@koconnor719 this is one for VA stakeholders. Should I follow up with them or you?

[2016-11-15 04:50] patrickvinograd commented on #3821
No, it's not autocorrect. If you just search for "university of tennessee", you'll see among the results:
- University of Tennessee Knoxville (www.utk.edu): https://www.vets.gov/gi-bill-comparison-tool/institutions/profile?military_status=veteran&spouse_active_duty=no&gi_bill_chapter=33&cumulative_service=1.0&enlistment_service=3&consecutive_service=0.8&elig_for_post_gi_bill=no&number_of_dependent

[2016-11-15 04:53] patrickvinograd commented on #3821
It appears there is a University of Tennessee Space Institute at the Naval Air Station in Patuxent River, MD, so probably this institution just needs a name update to include "Space Institute".

[2016-11-15 12:48] koconnor719 commented on #3898
i can.  is elizabeth helping w/ GI bill too??

[2016-11-15 14:25] ayaleloehr commented on #3887
Reopening this, as it just happened to me twice in staging.  Second time was at 9:23am Eastern. As requested last time, the console looks like the below, but warning that this console error popped up much earlier on page load than the pop up freezing, so I do not think it is related.

![screen shot 2016-11-15 at 9 21 35 am](https://cloud.githubusercontent.com/assets/4719765/20309243/3e41b32e-ab15-

[2016-11-15 14:47] ayaleloehr commented on #3898
Haven't discussed that actually, but she is on Kudos so I say yes!  Let me know if you prefer her to own this follow up!

[2016-11-15 15:52] emilyville opened #3970 "double footer"
I don't know if this goes in HCA or this repo, but there's a double blue bar footer happening on this page:

https://www.vets.gov/healthcare/apply/
<img width="630" alt="screen shot 2016-11-15 at 10 52 07 am" src="https://cloud.githubusercontent.com/assets/1307774/20312476/9d673c14-ab21-11e6-83d1-51d69cade31a.png">

[2016-11-15 15:58] NatalieEMoore commented on #3955
I think GeoBISL fixed that one specific issue.  @patrickvinograd does it look correct now?  @bshyong any updates on the Montana issue?

[2016-11-15 16:00] NatalieEMoore commented on #3950
@gnakm Can we have it say Main Number and then Mental Health Number?  @bshyong can you connect with @gnakm on this?

[2016-11-15 16:01] NatalieEMoore commented on #3900
@bshyong This is still a bug and a fairly big issue because most stakeholders use IE to access the site.

[2016-11-15 16:02] bshyong commented on #3950
@gnakm let me know what the decision is and I'll add it in. I'm not sure if the entire phrase "mental health number" can fit on one line in which case there might be overflow issues.  Would Mental Health # work if it's too long?

[2016-11-15 16:02] NatalieEMoore commented on #3911
@bshyong @gnakm this can be closed out because we are changing the map and removing panning, right?

[2016-11-15 16:03] NatalieEMoore commented on #3942
@patrickvinograd when you say hint to geocoding do you mean reach out to GeoBISL?  I can connect you all.

Do we want it to be US-centric if we are realizing some facilities have sites outside of continental USA?

[2016-11-15 16:08] bshyong commented on #3911
Yes, closed

[2016-11-15 16:08] #3911 closed

[2016-11-15 16:11] bshyong commented on #3900
Does anything show up in the javascript/developer console when clicking? I don't have a native Windows machine to test but I've been unable to replicate that bug on IE 11 and Windows 10 in Parallels

http://recordit.co/ohS70P5aTC

[2016-11-15 16:19] gnakm commented on #3950
We are going with:

Main number
Mental health

[2016-11-15 16:32] #3854 closed

[2016-11-15 16:39] #3339 closed

[2016-11-15 18:20] akainic commented on #3970
Definitely goes here. Thanks, will take a look.

[2016-11-15 19:00] patrickvinograd commented on #3942
@NatalieEMoore No, I mean hint to the API call that we make to Mapbox to do reverse geocoding - i.e. letting it know you are generally in the US vs. Brazil. Ben was able to restrict it to US/PR/VI, apparently a few other locations are necessary.

Nothing to do with GeoBISL.

[2016-11-15 19:00] patrickvinograd commented on #3955
Yes, the New Orleans location looks correct now.

[2016-11-15 19:02] NatalieEMoore commented on #3942
Okay, thanks.

Yes, on the call today with the call center one of them put in their address and it took them to France.  This issue will eventually address this right?

[2016-11-15 19:03] NatalieEMoore commented on #3955
Great, I would close this but I think the Montana issue is still being worked on?

[2016-11-15 19:29] bshyong commented on #3942
@NatalieEMoore yes this will fix the issue. We need a list of all country codes that are eligible for a user to search.

So far I have
- US
- PR puerto rico
- VI virgin islands

Let me know if there are other ones.

[2016-11-15 19:30] bshyong commented on #3955
Let's close it—the Montana issue is due to something else; the previous query was probably in pennsylvania and it didn't refresh. We can reopen if it happens again but I cleaned up the logic and do not see that issue any more

[2016-11-15 19:36] NatalieEMoore opened #3974 "Columbus Benefit Facility Showing up Twice"
![columbusdup](https://cloud.githubusercontent.com/assets/13317147/20320737/ed26ddf8-ab40-11e6-9cf8-1100d4f03acb.PNG)

[2016-11-15 19:37] NatalieEMoore commented on #3974
@patrickvinograd it looks like the Chalmers P Wylie benefit facility is listed twice.  The only difference is the Room 1A piece.  Is it showing up twice in the data?  I'll have VBA specify which is correct.

[2016-11-15 19:39] #3955 closed

[2016-11-15 19:39] patrickvinograd commented on #3942
You can wait for official response from stakeholders but based on scanning the range of state codes listed in the data:
- VBA facilities in Puerto Rico, US Virgin Islands, Guam, and Philippines
- VHA facilities in American Samoa, Guam, Northern Mariana Islands, Philippines, and US Virgin Islands
- NCA facilities in Puerto Rico