[2016-06-06 20:58] webinista commented on #2439
Related to #2385, #2431 and #2440.

[2016-06-06 21:35] webinista opened #2466 "Update Veteran's Crisis Line designs"
Blocks #2467.

Design task for Veterans Crisis Line.

[2016-06-06 21:41] webinista opened #2467 "Update Veterans crisis line functionality"
Blocked by #2466, #2029, #2030 , #2031

- **Text** link should be an SMS link.
- [_Desktop_ Live chat URL](https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat)
- [_Mobile_ Live chat URL](https://www.veteranscrisisline.net/mobile/ChatTermsOfService.aspx?account=Veterans%20Chat)

- Text size should be 19px / 1.9rem

On desktop, button should be anchored at bottom, and

[2016-06-06 23:10] usds-bot opened #2468 "UserVoice Idea: Establish a single Point of Contact"
Many veterans get the run around so much that they give up. Please assign a case manager to each Veteran at least to the point that the Veteran can talk to the same person without having to explain themselves time and time again.
Quit passing the Veteran around like a hot potato. The case manager should be an experienced Preferably a Veteran who understands the ins and outs of the system, someone

[2016-06-07 13:29] usds-bot opened #2469 "UserVoice Idea: E5 BAH?"
er BAH per www.defensetravel.dod.mil › bahCalc is $1995. But when I go to the VA website and pit in the same zip of the University Of Denver it says $1708. Why do you advertise E5 BAH W/dependent if it's not. Just tell us it's a VABAH? I feel like It's Misleading almost.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14724663-e5-bah

[2016-06-07 18:26] rcarthur opened #2470 "Education Counseling page need edit to eligibility"
https://github.com/department-of-veterans-affairs/vets-website/blob/master/_education/tools-programs/education-career-counseling.md
## @mollyblake please update eligibility and audience remarks on this page to take into account comments from VR&E SMEs

Misleading – there are many populations that are eligible for these services, as indicated in the “are you eligible for services” section of the pa

[2016-06-07 20:30] webinista opened #2472 "Create wireframe for L2 pages to be used in the Playbook"
Need to update the [Templates portion](https://www.vets.gov/playbook/design/templates/) of the Playbook and need images for this purpose.

Blocks #2421

[2016-06-07 21:07] webinista opened #2473 "Remove vets-app class from links in footer."
Related to #2467

[2016-06-07 21:21] goldenmeanie commented on #2450
@crwallace I just came back to link to a PR and saw you're working on this. Feel free to ignore mine if you have a better solution in the works!

https://github.com/department-of-veterans-affairs/vets-website/pull/2474

[2016-06-07 21:26] webinista opened #2475 "Change .footer a into something a bit more targeted and granular"
Related to / affects work in #2467

[2016-06-07 21:32] webinista opened #2476 "Simplify .footer ul.final-list selector in _va.scss"

[2016-06-08 02:33] koconnor719 commented on #2456
posted and closed:

Thank you for your feedback. If you have feedback on the website, please let us know!

VA manages the largest medical education and health professionals training program in the Nation. More than half of all practicing physicians in the U.S. acquired at least a portion of their medical training in VA’s health care system. VA provides rigorous and ongoing training for medical sta

[2016-06-08 02:33] #2456 closed

[2016-06-08 02:36] koconnor719 commented on #2457
posted and closed:

Thank you for your feedback. We invite you to participate in our Veteran user research to help us design vets.gov and prioritize functionality! Please contact us at feedback@va.gov if you would like to participate. Sessions take 30 minutes and are scheduled at your convenience.

vets.gov team

[2016-06-08 02:36] #2457 closed

[2016-06-08 02:39] koconnor719 commented on #2459
posted:

Thank you for your feedback Richard. We don't ask Veterans to complete any surveys on vets.gov, but we do want Veteran feedback. We invite you to participate in our Veteran user research and provide details on some of the issues you are experiencing and how we can design vets.gov to better meet your needs.  Please email us at feedback@va.gov if you'd like to participate.  Sessions are 30

[2016-06-08 02:48] koconnor719 commented on #2458
posted and closed:

Thank you for your feedback. If you are a Veteran, we invite you to participate in our Veteran research, which drives the design and functionality of vets.gov.  Please contact us at feedback@va.gov to participate.

vets.gov team

[2016-06-08 02:48] #2458 closed

[2016-06-08 15:16] rickleegit commented on #2469
The Monthly Housing Allowance (MHA) payments you receive for the Post-9/11 GI Bill are based on the military's Basic Allowance for Housing (BAH) rates for an E-5 with dependents. The Department of Defense adjusts the military BAH rate every calendar year (January 1) based on changes to housing costs across the country. Rates can either go up or down.

Public Law 111-377 (the Veterans Educational A

[2016-06-08 17:28] webinista opened #2478 "Add L2 template documentation / Style guide"
Blocked by #2472

[2016-06-08 17:36] usds-bot opened #2479 "UserVoice Idea: Using the facility locator on my phone in landscape mode"
UX problem: Using the facility locator on my phone in landscape mode gets me trapped in panning around the map.  If I scroll down the page to look at the map while in landscape mode the map takes up the entire screen and when I try to scroll back up I end up just panning the map to the north.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14745408-using-the-facility-locator-on-m

[2016-06-08 18:03] #2461 closed

[2016-06-08 18:22] webinista commented on #2466
@gnakm Can you update this ticket with the text that's supposed to appear in this panel and the URL for the "For more resources" (?) link.

[2016-06-08 18:58] gnakm commented on #2466
[Prototype for Desktop](https://marvelapp.com/1c1eb11#12883742)
[Prototype for Mobile](https://marvelapp.com/1c1eb11)

@webinista We're still trying to change the text. We need to get revision approved from stakeholders. If it's easier to put something as a filler, below are the content:

If you are in crisis or having thoughts of suicide, let us help. For more resources. (https://www.veteranscris

[2016-06-08 20:41] webinista commented on #2466
@gnakm is the URL for Prototype for Mobile correct?

[2016-06-08 21:10] webinista opened #2480 "Create an application template"
Both `healthcare/index.html` and `facility-locator/index.html` use a lot of HTML, rather than relying more heavily on Markdown for the header, breadcrumbs / title, and footer. Could use a very basic template for both. This should perhaps be set for their paths in the `_config.yml` file.

[2016-06-08 22:20] koconnor719 commented on #2469
@rickleegit thx.

posted and closed:

The Monthly Housing Allowance (MHA) payments you receive for the Post-9/11 GI Bill are based on the military's Basic Allowance for Housing (BAH) rates for an E-5 with dependents. The Department of Defense adjusts the military BAH rate every calendar year (January 1) based on changes to housing costs across the country. Rates can either go up or down.

Public L

[2016-06-08 22:20] #2469 closed

[2016-06-09 15:54] gnakm commented on #2466
@webinista Yes the URL is correct but here are the new prototypes with the new copy. I just got the go go go from stakeholders.

[Prototype for desktop](https://marvelapp.com/1c1eb11)
[Prototype for mobile](https://marvelapp.com/1189ab8)

Changes:

- The text has changed and now is at the bottom of the modals:
If you are in crisis or having thoughts of suicide,
visit VeteransCrisisLine.net for mor

[2016-06-09 17:13] Drakenhart commented on #2466
I'm curious - How do they know to touch it?

Any links need to have at least two forms (accessibility needs). With the flat design it doesn't look button-like. They wouldn't have a hover state either in mobile.

[2016-06-09 20:16] crwallace opened #2482 "Remove 'special-claims' template markup"

[2016-06-09 22:11] gnakm opened #2483 "Change Message from Secretary Msg on footer"
Get rid of button and add a link under Creating vets.gov

[2016-06-09 22:59] #2031 closed

[2016-06-10 14:11] usds-bot opened #2485 "UserVoice Idea: saving resume"
you should make it to where people can save their resume and finish it at a later date if need be.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14775492-saving-resume

[2016-06-10 15:57] #2429 closed

[2016-06-10 17:38] koconnor719 commented on #2479
posted:

Thank you for your feedback. Our team is looking at this.

vets.gov team

[2016-06-10 23:43] webinista commented on #2466
@gnakm Have some questions and concerns:

- In the interest of not having more CSS than we need, can we make these lists look more similar by adding (or removing) borders in both places and keeping the text size the same?
- In the _mobile view_, should the entire "Get help from Veterans Crisis Line" bar close the modal when tapped, or just the × icon?

[2016-06-13 14:11] gnakm commented on #2466
@webinista
1. If it's not too much trouble, I think having the font size different would be favorable because the 4 options are in a hierarchy of important actions to take. The smaller size description was intentional.
2. I would also prefer to have the borders only for the mobile because I want to distinguish a defined clickable area for mobile and not give that impression to desktop users.
3. I

[2016-06-14 00:17] ayaleloehr commented on #2479
@webinista looks like my fix in #2486 fixed this on desktop but not on mobile. I believe on mobile we need to set `draggable` to false.  This looks like a super hacky way to do it: https://coderwall.com/p/pgm8xa/disable-google-maps-scrolling-on-mobile-layout

Not sure the best way to go about this, so just going to reopen for now. Open to thoughts @webinista or anyone else!

[2016-06-14 14:57] koconnor719 commented on #2485
posted and closed:

Thank you for your feedback. Our team is focusing on deploying new functionality based on Veteran feedback that helps Veterans better leverage private sector employment websites and tools. Please check back on vets.gov later this summer for new features and functions.

If you are a Veteran and would like to participate in our research, please contact our team at feedback@va.gov

[2016-06-14 14:57] #2485 closed

[2016-06-14 15:04] koconnor719 commented on #2459
closed; no further response as of 6/14.

[2016-06-14 15:04] #2459 closed

[2016-06-14 15:10] koconnor719 commented on #1071
@mariana-almeida is article posted?

[2016-06-15 00:08] usds-bot opened #2488 "UserVoice Idea: Benchmark Best Practices From Outside VA Organizations"
Find organizations that have the industry "best practices" on each benefit offered and implement funding and plans to be even better at delivering customer (the VETs) satisfaction or tell us why it can not be done.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14814990-benchmark-best-practices-from-outside-va-organizat

[2016-06-15 14:46] #2030 closed

[2016-06-15 14:46] #2029 closed

[2016-06-16 18:43] usds-bot opened #2490 "UserVoice Idea: Wrong School Info"
I work at North American University and I am a veteran. On this website, ya'll stated that our school is For Profit but that's wrong. We are a NON PROFIT university so please correct that.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14834136-wrong-school-info

[2016-06-16 20:41] webinista opened #2491 "Combine logos and their rollover states into a single image file"
On slower connections, there's a lag when the user hovers/focuses on the logo while the hover state version loads. Combine those image files into a single file and change the `background-position` property on hover instead.

(Consider replacing with SVG if the share of IE8 users is < 5%. Adding inline and using the `title` element to provide alternative text is [currently more accessible](https://

[2016-06-16 21:06] webinista opened #2492 "Remove conditional comments from header"
This is currently considered an anti-pattern:

[code]
Because it triggers compatibility mode, even when `<meta http-equiv="X-UA-Compatible" content="IE=edge" />` is included. See h5bp/html5-boilerplate#378 for more.

We aren't supporting Internet Explorer ≤ 8, so this can be simplified to use `<html lang="en-us">`.

Blocks department-of-veterans-affairs/va_common#30

[2016-06-16 21:24] webinista opened #2493 "Remove RobotoSlab from the Google Fonts API link"
We're dropping it site-wide. Safe to remove. Don't remove the entire link; Just the RobotoSlab reference.

[2016-06-17 16:56] Drakenhart commented on #2493
Are you dropping roboto slab entirely? Is it being replaced by anything?

[2016-06-20 16:36] usds-bot opened #2496 "UserVoice Idea: DSA"
fdsa

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14879694-dsa

[2016-06-21 00:10] usds-bot opened #2497 "UserVoice Idea: skills not displaying"
skills are not being displayed when on the review page

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14885250-skills-not-displaying

[2016-06-21 01:26] webinista opened #2498 "Fix NPM errors in Travis CI build"
Possible solution is to add `npm cache clean` to Rakefile.

[2016-06-21 04:12] ayaleloehr commented on #2497
Able to replicate that user entered skills are not added to the resume preview page or the download page (LinkedIn generated skills are still added properly). This has been captured in a VEC issue and added to the backlog: https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/338

Suggested workaround is to manually add the skills into the word doc version of the resu

[2016-06-21 14:37] webinista commented on #2493
Yes, by Source Sans Pro.

[2016-06-21 17:35] koconnor719 commented on #2488
posted and closed:

Thank you for your feedback.  Great idea! We not only use industry best practices but also have Veteran feedback drive our design and prioritization of features.  If you are a Veteran and would like to participate in our Veteran research please contact us at feedback@va.gov.

vets.gov team

[2016-06-21 17:43] koconnor719 commented on #2497
are we spending engineering time to add this feature?  or is it a bug fix?  i propose we do not spend engineering time on this given other priorities and i respond with that in mind.  @ayaleloehr pls. confirm or let me know alternative approach.

[2016-06-21 17:45] koconnor719 commented on #2496
closed and deleted as it appears this was an error comment.

[2016-06-21 17:45] #2496 closed

[2016-06-21 17:47] koconnor719 commented on #2490
@mphprogrammer pls. advise of response.  maybe check w/ stephanie to see if this this correct and if so can they update using the data service.

[2016-06-21 17:48] koconnor719 commented on #2479
@webinista hi:) can you pls. provide status of mobile fix and then i'll respond:) and close if possible.  thx.

[2016-06-21 18:59] ayaleloehr commented on #2497
@koconnor719 Not planning to spend time on it right now. It's in the backlog so when we have extra resources and/or time we know to fix it, but not going to get prioritized in the near term.

[2016-06-21 19:21] mphprogrammer commented on #2490
<img width="928" alt="screen shot 2016-06-21 at 3 20 07 pm" src="https://cloud.githubusercontent.com/assets/4104431/16243106/b4ba238a-37c3-11e6-8c53-8c04658a120a.png">
Its in the data as a for profit school. I'll pass along to Patrick and Stephanie.

[2016-06-21 20:42] koconnor719 commented on #2497
Got it thx

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, June 21, 2016 03:00 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: skills not displaying

[2016-06-22 11:49] usds-bot opened #2500 "UserVoice Idea: Move Crisis Line to Top of Page"
Veterans Crisis Line should be at the top of the page. Vets who need it, should see it as soon as they hit the page.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14906136-move-crisis-line-to-top-of-page

[2016-06-22 14:41] koconnor719 commented on #2488
question out to VHA if they have a programmatic response to this; this is not a website question

From: larry thompson <larrythompson@thesuccessinstituteusa.com>
Date: Wednesday, June 22, 2016 at 10:23 AM
To: VA Feedback <Feedback@va.gov>
Subject: [EXTERNAL] Best Practices

You say you work to best practices, but do not reference any. Please say which one…Baldridge, John Hopkins, Stanford Medical…

[2016-06-22 14:46] koconnor719 commented on #2500
posted and marked for research:

Thank you for your feedback.  We are currently looking at this in our Veteran research to see what Veterans think about placement of the crisis line.  If you are a Veteran and interested in participating in our research please contact us at feedback@va.gov.

vets.gov team

[2016-06-22 14:51] koconnor719 commented on #2488
posted and closed.

Thank you for your feedback. You can find information about VA's Quality of Care here: http://www.va.gov/qualityofcare/ .

vets.gov team

[2016-06-22 14:52] #2488 closed

[2016-06-22 15:17] mphprogrammer commented on #2490
Issue is in the facility code in the data.csv file. The type of school is encoded in the first character of the facility code for North American University ("2") indicating its a for profit school. Stephanie is aware and looking into it.

[2016-06-22 17:16] mariana-almeida commented on #1071
Article is in concurrence.
It's being tracked here https://github.com/department-of-veterans-affairs/vets.gov-content/issues/10#event-695554533

[2016-06-22 17:42] joduinn commented on #588
Found in triage.

$ curl https://www.vets.gov/definitely-not-real
...gives a correct 404 page.

We've done a bunch of nginx config changes in last few months, which I think solved this. Closing as done, but if you still see problems, please reopen with details.

[2016-06-22 17:42] #588 closed

[2016-06-22 17:46] joduinn commented on #1120
Found this old bug in triage.

Reassigning from @EmilyTav to @ShawnArnwine who know the most about ATOs here.

@ShawnArnwine whats still to do here?

[2016-06-22 17:49] joduinn commented on #790
Found in triage.

@dannychapman what is the status of this? Is this something we still want/need to do ?

[2016-06-22 17:51] joduinn commented on #1003
Found in triage.

@awong-dev @mechaxl I know you've both been doing a bunch of ansible work on deployments in other tickets. Anything left to do here?

[2016-06-22 17:54] joduinn commented on #1083
Found in triage.

Pushing to @staceylanger. Where does this "next feature" request fit in given our other prioritized new feature work?

[2016-06-22 17:59] dannychapman commented on #790
@joduinn Thanks for following up on this. I think automated testing for accessibility should be something we implement. Whether it's pa11y or another tool is something we should access.

[2016-06-22 17:59] joduinn commented on #1121
Found in triage.

@ShawnArnwine Lots of ATO work done since Feb. Whats left to do here?

[2016-06-22 18:03] joduinn commented on #1082
Found in triage.

Pushing to @cfeeney-va - can you see if there is anything still to do here or if you can just close?

[2016-06-22 18:04] #1121 closed

[2016-06-22 18:05] joduinn commented on #1110
Found in triage.

Assigning to myself to investigate...

[2016-06-22 18:06] #1120 closed

[2016-06-22 18:52] #2473 closed

[2016-06-22 18:52] #2475 closed

[2016-06-22 18:52] #2476 closed

[2016-06-22 19:25] MarinaMartin commented on #790
Please check with @orischwartz and @shanear as I think they have an automated tool called Sniffybara in place...

[2016-06-22 20:43] webinista commented on #2479
@koconnor719 Just opened a pull request (#2502) that should fix this problem. We're still trying to get our tests to pass, however. That's a larger engineering issue that's blocking a lot of pull requests.

[2016-06-22 22:14] webinista opened #2503 "Bring Facility Locator in line with new 404, Home page, L2 pages"
Facility Locator still uses "Crisis Line yellow" in the header. Since we're limiting the use of that yellow to VCL, we should change this header as well.

![screen shot 2016-06-22 at 3 02 56 pm](https://cloud.githubusercontent.com/assets/354277/16285338/6cc5e07e-388a-11e6-922b-fcbc99f92490.png)

The new header takes up less vertical space. And the page title + breadcrumbs sit below it. See the Dis

[2016-06-22 22:15] webinista commented on #2503
Assigned to multiple people. Un-assign or reassign as necessary. @emilyville think of this as an FYI for what's changed, not an actual thing that you need to do obviously :-).

[2016-06-22 22:27] #2466 closed

[2016-06-22 22:27] webinista commented on #2467
Closed with 284d4dd

[2016-06-22 22:27] #2467 closed

[2016-06-23 17:38] usds-bot opened #2504 "UserVoice Idea: When using the "Download Data on All Schools" option, it's not clear from what time period you are reporting"
When using the "Download Data on All Schools" option, it's not clear from what time period you are reporting information. I recommend more clearly reporting what exactly you're reporting. Specifically, for the number of students on GI Bill and the amount of benefits they received, what year is the data from? Is it a calendar year? Academic Year? Fiscal year? Perhaps the info is there but it's not

[2016-06-23 20:14] #2479 closed

[2016-06-23 21:18] webinista opened #2506 "Simplify #content .main .section.one ul.plain, #content .main .section.one ul.plain li selectors"
Can probably be simplified to `.va-list-plain` and `.va-list-plain li` selectors.

[2016-06-23 21:52] koconnor719 commented on #2479
posted; already closed.

Thank you for your feedback.  Our team has fixed this issue! Thank you for letting use know about it.

vets.gov team

[2016-06-24 02:38] J-Quag commented on #2394
The data is owned by OGC if you are wanting to look at Accredited VSOs (They have a view of their database here: http://www.va.gov/ogc/apps/accreditation/). We also use that view within the VSO search within eBenefits.
However, many of their addresses may not be up to date. We also have emails within eBenefits of all the State Reps for the Request State Benefits information feature, so we could le

[2016-06-24 19:20] webinista opened #2508 "Determine which JavaScript files can safely be removed from the code base"
### Task
- Assess whether these scripts are being used on Vets.gov.
- Remove what isn't being used.
- Determine whether jQuery is necessary, and how easy it would be to remove it site-wide. (e.g. menu.js has a jQuery dependency, but could easily be rewritten to use native DOM APIs, with a polyfill for IE8 support)
### Possible candidates for removal

(All found in `assets/js`)
- [ ] `vendor/jquery

[2016-06-25 20:22] usds-bot opened #2509 "UserVoice Idea: Pure Potential Professionalism (PPP)"
I appreciate the standard that has been created for all veterans whom are able to pursue all endeavors that will ensure productive careers essential to improve our global economy.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14953704-pure-potential-professionalism-ppp

[2016-06-27 00:56] usds-bot opened #2510 "UserVoice Idea: Increase dependent child beneficts and educational beneficts for them"
I was a 11B well Im interested in having kids healthy kids why there is not a myhealthy veterans kids site well our country must think about the offspring of veterans in order to develop a much stronger since of patriotic inspiring citizens for future wars

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/14970234-increase-dependent-child-beneficts-and-educational

[2016-06-27 18:20] carlmjohnson commented on #2498
I installed vets-website, but ran into a few issues with node (I think webpack needs to be globally installed?). In attempt to document the issue, I cloned the repo into a fresh folder and ran rake install again. This time, npm has just been hanging during install. I imagine that Travis is probably having the same problems.

It seems like a lot of things are being installed by npm. Can we audit th

[2016-06-27 18:55] carlmjohnson opened #2512 "/design-assets/ folder is mistakenly being published."
https://vets.gov/design-assets/styletile-danny-1.ai is live, for example.

There is probably a simple fix to exclude the folder from the site build process.

[2016-06-27 19:01] carlmjohnson commented on #705
Is there a CDN in front of the site? A check of the headers shows Nginx but nothing else. Putting a CDN in front will probably let us kill two birds (latency, gzip) with one stone.

[2016-06-27 19:17] usds-bot opened #2513 "UserVoice Idea: Job Search needs to include VA Jobs"
I noticed that as I do a job search in the Boston area a ton of jobs come up which Is great. I also notice it shows featured jobs from veteran friendly organizations. I saw some from USA jobs but didn't see any for the VA listed. Shouldn't Vets.gov show these outstanding job opportunities?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15000825-job-search-needs-to-include-va-job

[2016-06-27 20:23] carlmjohnson commented on #2439
When I first saw the 404, my eyes immediately jumped past the yellow bar, because I assumed it was boilerplate "Welcome to Vets.gov" text. Actually, it's the main message for page. I think to get around that, we should introduce a paragraph above "Please try one of the options listed below" that says something to the effect of "The page is missing. Maybe blame whoever linked you here. Try searchin

[2016-06-27 20:25] carlmjohnson opened #2514 "Use permanent redirects from HTTP to HTTPS"
When requesting a page on vets.gov with HTTP, the server issues a redirect (good) but a temporary redirect (suboptimal). Change the redirect kind to 301 Permanent.

[2016-06-27 20:25] carlmjohnson opened #2515 "Activate sitemap plugin"
Site has a sitemap plugin, but it is not turned on. Turn it on to improve SEO.

[2016-06-27 20:26] carlmjohnson opened #2516 "Add robots.txt"
Improve SEO by adding a robots.txt that indicates all pages are searchable and the location of the sitemap.

[2016-06-27 20:27] carlmjohnson opened #2517 "Add RSS feeds"
Improve SEO by adding RSS feeds and registering them with search.digitalgov.gov.

See http://search.digitalgov.gov/blog/go-live.html for more info.

[2016-06-27 21:58] webinista opened #2518 "[Main issue] Make CSS more modular"
Goal: Make it easier to keep `va_common` gem and other projects in sync by making it clearer which portions of the CSS are "globally" required and common to all projects, and which are optional.

This is simply a tracking issue to which all subsequent tasks should be linked.

[2016-06-27 21:59] webinista opened #2519 "Split playbook-related CSS into its own partial"
Blocks #2518

Playbook-related CSS isn't required by most projects. We can remove it from `_va.scss` and make it a separate file.

[2016-06-27 22:08] webinista opened #2520 "Split .va-article-l2 specific styles into its own partial"
Blocks #2518

`.va-article-l2` styles are specific to content pages. They do not need to be kept in `_va.scss`.

New partial should include `va-supplement`, `va-supplement-title` styles and `.page-disability, .page-education` styles.

[2016-06-27 22:24] webinista opened #2521 "Reconcile max-width of .row across repos"
## Problem

Inconsistent `max-width` values across repos create problems for keeping everything in sync. A mix of multiple definitions and high specificity selectors means that `.row` doesn't behave the same way everywhere.

## Selectors to refactor

_From `_va.scss`_

[code]

[code]

_From `_hca.scss`_

[code]

## Suggested fixes:

- [ ] Replace `body .row.full` selector with  `.va-row--full` sel

[2016-06-28 03:26] ayaleloehr commented on #2515
@goldenmeanie was asking about this as well a few weeks ago I believe. One of you want to take it?

[2016-06-28 03:29] ayaleloehr commented on #2514
Copied this issue into the repo where this work actually will happen. Going to close here.

[2016-06-28 03:29] #2514 closed

[2016-06-28 03:31] joduinn commented on #705
@carlmjohnson There is not currently a CDN in front of the vets.gov site. Static content is on s3, and dynamic/programatic content is in auto-scaling-groups behind an ELB behind nginx.

Note: CDN like CloudFront is not natively provided in AWS govCloud. I did find this doc ( http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/setting-up-cloudfront.html ) on how to use commercial CloudFront wit

[2016-06-28 03:38] ayaleloehr commented on #2498
@carlmjohnson : @robbiethegeek pulled a lot of things out in #2501 that started this work, but there is still more to do. No one else owns this issue currently, so if you have bandwidth, maybe sync with Robbie then take this?

[2016-06-28 03:45] ayaleloehr commented on #2517
Not sure I'm understanding the value in vets.gov having an RSS feed? I generally think of RSS feeds for providing content updates (blog posts, articles, etc), whereas we're focused on building new functionality to accomplish tasks. Going to leave open, as I could most certainly be wrong and/or missing something, but wanted to at least document my current thinking!

[2016-06-28 03:50] ayaleloehr commented on #2513
@koconnor719 I'm seeing VA jobs on there, however. For example, when I [search](https://www.vets.gov/employment/job-seekers/search-jobs?searchType=&tm=&kw=Advanced+Medical+Support+Assistant&zc=Boston%2C+MA&moc=&onet=&ind=&cname=&fed=&tm=) for "Advanced Medical Support Assistant" in "Boston, MA", I get a bunch of VA jobs at the top. Not sure what the specific search from the user was, but maybe the

[2016-06-28 12:02] ShawnArnwine commented on #705
ITAR: As long as we are only serving up static content (e.g. static (not sensitive pages), images, etc.) using CloudFront, then there is no harm here.  In a simplistic sense, we are more or less doing this by jumping from GovCloud over to E/W to serve up the website...so no worries.

Also when using CloudFront (or perhaps any CDN) we should consider hashing the object names as AWS caches quite a b

[2016-06-28 13:28] carlmjohnson commented on #2518
I don't know if this is the right place to post CSS blog links, but I found this informative about managing a large site's CSS: https://medium.com/@shaunbent/css-at-bbc-sport-part-1-bab546184e66

[2016-06-28 14:57] carlmjohnson commented on #2517
The value to the search engine is that when we push a new page, the search engine will notice as soon as it pulls down the RSS feed instead of once it has crawled the whole site. Unfortunately, I don't see a simple way to build an RSS feed for our collection pages, so we may not be able to get the full benefit of a feed.

[2016-06-28 15:26] #2512 closed

[2016-06-28 17:39] carlmjohnson commented on #2514
Which repo is it, FTR?

[2016-06-28 17:57] carlmjohnson commented on #1211
Our performance on first load is not very good at the moment: http://www.webpagetest.org/result/160628_D0_Z6P/

[2016-06-28 18:50] webinista commented on #2518
Yes, [this the direction I am trying to move us in](https://github.com/department-of-veterans-affairs/vets.gov-design/blob/master/README.md).

[2016-06-29 02:34] carlmjohnson commented on #1211
Here's our performance from my home network (FiOS) according to [boom](https://github.com/rakyll/boom):

[code]

[2016-06-29 02:36] carlmjohnson commented on #1211
For comparison, here's my personal website (low traffic, static HTML, hosted on a single private virtual server):

[code]

[2016-06-29 02:50] awong-dev commented on #1211
Part of this is due to TIC requirements.  What is the meat of this test? Is
it just a short packet or is there a large payload.

Also... YOU HAVE PERCENTILES!!! YAY!

On Tue, Jun 28, 2016 at 7:36 PM, Carl Johnson <notifications@github.com>
wrote:

[2016-06-29 02:53] awong-dev commented on #1211
Due to our current network topology, things entering through the east coast
gateway will be the slowest since we for a transcontinental hop into
govcloud.

I notice the locale for your page's test is Dulles VA. The other gateway is
in Austin. I'm curious what you get if you try austin.

Also, our DNS is even RR, not geolocated.  Thus, we can actually incur a 2
trans-continental hit per load. <3 TI

[2016-06-29 04:07] ayaleloehr commented on #2514
`devops`

[2016-06-29 14:07] carlmjohnson commented on #1211
Yeah, I think the topology is the most likely culprit, because the actual download after first byte is very fast. Once we move everything to govcloud, it should be considerably less latent.

Boom works by just downloading the raw page (no images or other associated files). It's mostly good as a way of getting a sense of how long it takes to get a connection. webpagetest.org on the other hand rende

[2016-06-29 14:09] carlmjohnson commented on #2514
Unfortunately, I'm not able to access that repo yet.

[2016-06-29 18:34] carlmjohnson opened #2527 "Add OG (open graph) description tags to improve SEO"
The [open graph protocol](http://ogp.me) specifies a description tag. It's used by many other sites to provide a page description.

Example usage in Slack:

<img width="675" alt="screen shot 2016-06-29 at 2 32 26 pm" src="https://cloud.githubusercontent.com/assets/222245/16464024/5aafbf1e-3e06-11e6-9918-80deae79618f.png">

Page source: `<meta property="og:description" content="You too can automate

[2016-06-30 02:53] koconnor719 commented on #2504
marc pls. advise on response.  thx

[2016-06-30 02:54] koconnor719 commented on #2509
Thank you for your feedback.

vets.gov team

[2016-06-30 02:54] #2509 closed

[2016-06-30 02:56] mphprogrammer commented on #2504
The link is outside of the GI Bill Comparison tool and data service, and is not created by the data service. (http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx)
I don't actually know who creates/compiles and maintains the spread sheet.

[2016-06-30 03:05] koconnor719 commented on #2510
@maryannbrody can you send a few sentences for this response--maybe that other health sites deliver this content for kids--not VA?

pls. advise:)

[2016-06-30 03:13] mphprogrammer commented on #2504
On the first page of the sheet, in cell A2 it looks like the creation data of the report is there. The second sheet is the data.csv file generated from individual CSVs from the Data Service. This data is compiled from CSVs that date from a year or two ago to the present (that is there is no single date, or date range from which this data is compiled), however I do not know who compiles the other s

[2016-06-30 03:14] koconnor719 commented on #2513
Thank you for your feedback. Yes, your search should return the jobs in Boston, including those at the VA.  When we tried this search we did get several job listings from USA Jobs for the VA. Please make sure you scroll through all the pages of results (to the right of "Featured Jobs" there is a "next page" you can can scroll through all the results). Also, if you entered any keywords or other cri

[2016-06-30 03:14] #2513 closed

[2016-06-30 16:38] webinista commented on #2527
We have a plugin for this already. Looks like we just need to add description tags to `includes/_header.html`.

[2016-06-30 16:40] webinista commented on #2515
See #2531

[2016-06-30 16:41] webinista commented on #2498
I'm going to call this particular issue fixed. If there's more to do with more specific tasks, we can open new issues.

[2016-06-30 16:41] #2498 closed

[2016-06-30 18:11] usds-bot opened #2532 "UserVoice Idea: Provide video and graphics to help Veterans with limited abilities"
I am looking at the www.vets.gov/healthcare/apply/ page and I think that the text should be accompanied by Pictures/visuals to help guide a person e.g. the purple heart could be represented by a graphic of the purple heart, the POW could be represented by a graphic of a black POW flag,  etc.
Many people aren't very good at reading through all of the details, but pictures that grab their attention

[2016-06-30 19:33] akainic opened #2533 "Breadcrumbs read as buttons"
One of our stakeholders for HCA was filling out the application and kept clicking on the breadcrumb links at the top thinking they would take them to the application, not realizing they were already on the application page. So they kept getting redirected to the general health care page and going through an endless loop.

<img width="1095" alt="screen shot 2016-06-30 at 3 28 35 pm" src="https://cl

[2016-06-30 20:24] koconnor719 commented on #2532
Thank you for your feedback!  We just launched the health care application today based on Veteran feedback we've been collecting for the past several months! We'll add your suggestion to our user research and see what other Veterans think.

vets.gov team

[2016-06-30 20:24] #2532 closed

[2016-07-01 13:48] maryannbrody opened #2534 "Add HCA to "Common Questions" on homepage"
Hey @crwallace --

Can we add "How do I apply for health care?" to the Common Questions list on the homepage?

TY!

[2016-07-01 13:49] crwallace commented on #2534
Technical Answer: Yes!
Rollout Strategy Answer: I am not sure. @staceylanger @koconnor719 @akainic -- Any thoughts on this?

[2016-07-01 16:12] #2517 closed

[2016-07-01 23:00] usds-bot opened #2535 "UserVoice Idea: Better webpage design"
The "Get help from Veterans Crisis Line" should not be at the bottom of the webpage.  It should be readily / instantly accessible as soon as you bring up the webpage.  Move it to a prominent spot at the top of the page.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15060030-better-webpage-design

[2016-07-03 17:03] koconnor719 commented on #2535
we have received this feedback from Veterans (and others) consistently.  can we pls. add this to testing?

[2016-07-03 17:06] koconnor719 opened #2536 "Remove "how we can we help""
Since launch in Nov 2015, we have contintued to get feedback from Veterans and other users that the "How can we help" yellow box at top of our site is very confusing example feedback #2535  ).  users think it's clickable (it's not).  it takes up valuable real estate on page; not clear what value this provides to users coming to the homepage?  it's also one of the most prominent things on the homep

[2016-07-05 14:46] maryannbrody commented on #2535
Thanks for flagging, @koconnor719. We will continue to look for feedback from this in user research and tweak if needed to get to the right approach.

[2016-07-05 14:49] koconnor719 commented on #2535
is there a research schedule to know when high priority things will be tested?

[2016-07-05 22:37] staceylanger commented on #2534
From my perspective, this can be added anytime.

[2016-07-05 22:38] crwallace commented on #2534
I will put this on my todo list for tomorrow.
On Tue, Jul 5, 2016 at 6:37 PM staceylanger <notifications@github.com>
wrote:

[2016-07-05 22:45] koconnor719 commented on #2534
awesome!  i think it will be great to have it there as well!

[2016-07-06 15:09] gnakm commented on #2367
Closing because desktop and poster versions can now be found here: https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Design/Posters

[2016-07-06 15:09] #2367 closed

[2016-07-06 18:19] ayaleloehr commented on #1110
Search terms are recorded via DigitalGov Search here: https://search.usa.gov/sites/6277/queries/new

If there is a reason to also want them in Google Analytics, someone will need to set that up.

[2016-07-06 22:22] crwallace commented on #2534
This is all done!

<img width="749" alt="screen shot 2016-07-06 at 6 20 28 pm" src="https://cloud.githubusercontent.com/assets/3453669/16636515/8baf5f70-43a6-11e6-97cc-2c4c72a1b87f.png">

[2016-07-06 22:22] #2534 closed

[2016-07-06 22:50] usds-bot opened #2538 "UserVoice Idea: Veteran Profile and Resumes"
Please bring back Veteran Profiles, resumes and contact information.
We have contracts in 15 states with new startups. YTD we have hired 78 Veterans. I used to be able to search your Veteran database of profiles and resumes and would email Veterans. Got some very good responses. Would be nice to bring it back with telephone numbers too if Veterans would like employers to contact them. We have quit

[2016-07-06 23:04] usds-bot opened #2539 "UserVoice Idea: Add VMET and MOS translator to help Vets build their resume"
Add tools for MOS Translator and VMET (Verification of Military Experience and Training). Very important to help with resume writing.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15102102-add-vmet-and-mos-translator-to-help-vets-build-the

[2016-07-06 23:23] maryannbrody commented on #2533
Hi @akainic - this is a known issue site-wide and we are updating the breadcrumbs accordingly! I will close this issue -- feel free to re-open if needed. cc @crwallace

[2016-07-06 23:23] #2533 closed

[2016-07-07 15:46] usds-bot opened #2540 "UserVoice Idea: Resume location"
Identify an area where built resumes are/can be kept. Every time I log on I can not locate the last resume built and have to start the process all over each time.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15109353-resume-location

[2016-07-07 17:15] rcarthur opened #2541 "Google Analytics for Health Care App"
@koconnor719  @maryannbrody @mariana-almeida

From 7/7 Web Comms Meeting:  the question came up of where users are coming from when they arrive on the health care app.  @plusjeff who is the person to assign this to?

[2016-07-07 17:37] akainic commented on #2541
@rcarthur: @irenejlee is going to be tracking analytics for HCA, so I think she's the best person to assign this to. @plusjeff correct me if I'm wrong!

[2016-07-07 18:41] irenejlee commented on #2541
Hey @rcarthur let's connect on this!

[2016-07-07 18:43] koconnor719 opened #2542 "Google Analytics for Veteran Crisis Line"
per previous convos; need to provide Sec and Dep Sec office with GA on VCL from homepage pls:)

we meet w/ Sloan next week (7/12); can we get this resolved by then?  :)

i'm marking as a bug b/c it seems like we should be able to get GA for all vets.gov stuff right??
@staceylanger @maryannbrody @gnakm

[2016-07-07 18:52] koconnor719 commented on #2541
irene,

we just need to set up GA so that we can track where traffic is coming from to HCA.  thanks.

[2016-07-07 19:18] usds-bot opened #2543 "UserVoice Idea: auto save needed"
Please start an auto save feature.  I just lost my entire resume I was working on for over an hour, because my account timed out. Thanks.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15111393-auto-save-needed

[2016-07-07 19:27] koconnor719 commented on #2541
@irenejlee i think you are aware but this is super high visibility task:)  these numbers will go to Sec and Dep Sec daily--and then from there--to congress--press--VSOs etc...just making you aware.

[2016-07-07 20:21] joduinn commented on #2542
Notes from detective work earlier this week. There are actually two ways to get from vets.gov to https://www.veteranscrisisline.net:

1) Click on "Contact the Veterans Crisis Line" text link to get to https://www.veteranscrisisline.net/.

2) Click on yellow popup button on bottom of the vets.gov home page. This shows you a (800)number, an SMS number and also a link to https://www.veteranscrisislin

[2016-07-08 14:24] usds-bot opened #2545 "UserVoice Idea: Accuracy of the GI Bill Comparison Tool"
I use the GI Bill Comparison Tool a lot and have found that some schools are listed as Yellow Ribbon Schools, Rates are posted on the va.gov website, and the school does not actually accept the Yellow Ribbon Program at all.
Additionally this particular school, "Stockton University, NJ", states that 100% of Tuition and Fees are paid for, however they are charging students at least $3,000.00 annuall

[2016-07-08 19:12] plusjeff commented on #2450
This page is not very helpful or useful right now. OK to remove this until something better is created.

[2016-07-08 19:12] plusjeff commented on #2450
This has already happened on https://www.vets.gov/playbook/, will close the other listed PR #2474

[2016-07-08 19:14] #2450 closed

[2016-07-08 19:39] plusjeff commented on #599
PR #2548  for this assigned to @MarinaMartin

[2016-07-09 01:27] koconnor719 commented on #2538
Posted and closed:

Thank you for your feedback. We removed the Veteran profile feature based on Veteran feedback and usage data.  Our team is working on employment features that let Veterans and employers use popular industry tools, like LinkedIn, more easily to connect.

vets.gov team

[2016-07-09 01:27] #2538 closed

[2016-07-09 01:33] koconnor719 commented on #2539
posted and closed:
Thank you for your feedback. Our team is currently working on enhancements to the Veteran Employment Center, including features that let Veterans verify military status and experience on leading industry tools like LinkedIn, so please check back on the site later this summer!  We have a MOS translator at: https://www.vets.gov/employment/job-seekers/skills-translator .

If you ar

[2016-07-09 01:33] #2539 closed

[2016-07-09 01:37] koconnor719 commented on #2540
Posted and closed:

Thank you for your feedback. Our team is currently working on enhancements to the Veteran Employment Center, including features that let Veterans take better advantage of leading industry tools  to create / update resumes and search for employment, so please check back on the site later this summer!

If you are a Veteran and interested in participating in our user research to h

[2016-07-09 01:37] #2540 closed

[2016-07-09 01:42] koconnor719 commented on #2545
pls. advise. thanks.

[2016-07-09 01:42] koconnor719 commented on #2490
thx. pls let me know when this is resolved.

[2016-07-09 23:49] usds-bot opened #2549 "UserVoice Idea: Benim fikrim kendi sağlık sigortam var sizin bana sagladiginiz sağlık sigortası ile sadece devlet hastanesimi yoksa tüm hastanelerde gecerli"
Hiç bir fikrim yok çünkü ben gorevimin bile ne olduğunu bilmiyorum tek bildiğim cok profosyonel biri değilim ama sizlerden çok güzel eğitimler aldım belki bu çalışmalardan biraz ücret alırsam ilk etapta kendime bir bilgisayar almayi düşünüyorum ben şu anda yayinlarimi tablette yapıyorum tabletle bilgisayar çok farklı bilgisayar daha geniş kapsamlı bir cihaz benim sizden hiçbir beklentim yok

http:

[2016-07-11 00:50] cfeeney-va commented on #2543
hi @koconnor719, we had decided not to do this in issue #1454; do we want to add it now?
thanks!

[2016-07-11 02:00] koconnor719 commented on #2543
Nope😀 but is there a timeout -after a certain time?

Sent with Good (www.good.com)

-----Original Message-----
From: cfeeney-va [notifications@github.com<mailto:notifications@github.com>]
Sent: Sunday, July 10, 2016 08:50 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Use

[2016-07-11 04:07] ayaleloehr commented on #2543
We don't have a timeout, but maybe the computer the person was on did?  Like if it was a public computer that somehow logged out the user after an hour, for example, which could have closed the tab and thus deleted the progress?  That's just a guess though and would be interesting to know more.

[2016-07-11 12:05] koconnor719 commented on #2543
Great just making sure we don't timeout

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, July 11, 2016 12:07 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice

[2016-07-11 15:41] usds-bot opened #2550 "UserVoice Idea: Would like to know who or what truly verifies military service information"
Previous application required a copy of DD-214 to be submitted into the system.  How do we or can we verify military information.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15153189-would-like-to-know-who-or-what-truly-verifies-mili

[2016-07-11 18:25] #2549 closed

[2016-07-11 20:22] koconnor719 commented on #2550
posted and closed:

Thank you for your feedback. Currently, vets.gov does not verify your military information.

vets.gov team

[2016-07-11 20:25] koconnor719 commented on #2535
@MissPaaj  @maryannbrody laura can you pls. assign yourself (and unsaying mary ann) to the user voice / user research labelled issues per our slack exchange:)  thanks.

[2016-07-11 20:29] ayaleloehr commented on #2550
@koconnor719 I think this might have been for HCA?  @akainic did VOA need a DD214 and/or does HCA need to verify military information?

If I'm wrong, please close again.

[2016-07-11 20:34] koconnor719 commented on #2550
It didn't say HCA ; marina provided response . Trying to respond to exact questions and not make assumptions... Also on HCA vetsgov is still not verifying status...

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, July 11, 2016 04:29 PM Eastern Standard Time
To: department-of-veterans-affairs/

[2016-07-11 20:34] koconnor719 commented on #2550
Can u pls reclose

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, July 11, 2016 04:29 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Would like to kn

[2016-07-11 20:58] koconnor719 commented on #2550
Ty for double checking !!!

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, July 11, 2016 04:54 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Would l

[2016-07-11 21:35] maryannbrody opened #2552 "Content change to Digital Gov Search "zero results" page"
Hey @dannychapman --

Can you tweak the language on the zero search results page a tiny bit to:

(Note **bolding** of the search term.)

Thank you!

[2016-07-12 13:26] koconnor719 commented on #2550
posted add'l comments per string above:

If your question is specific to the online health care application, information is verified against the VA Enrollment System the same way it is if you apply in person or using the hard copy form.

vets.gov team

[2016-07-12 13:26] koconnor719 commented on #2550
closed with add'l comment to address concerns.

[2016-07-12 13:26] #2550 closed

[2016-07-12 14:49] webinista opened #2553 "Add a CSS rule that makes an exceptions for links that point to vets.gov pages"
In `_sass/components/_va-playbook.scss` on line 3, there's a selector that begins with `[href^=http] {` that adds an external link icon to links that begin with `http` (includes `https`).

Should narrow the scope of this rule so that it doesn't affect links that begin with `https://vets.gov`. Someone is going to mess that up and use a full link.

Related to #2522/#2519

[2016-07-12 14:51] #2519 closed

[2016-07-12 17:38] koconnor719 commented on #2542
@suzchap i think i saw a response from you on this??  can you add to this issue so it's all in one place pls:)

we need to provide Dep Sec numbers on this when we meet w/ him later this week.  can you guys prioritize this so we can get Google Analytics on VCL going forward?

[2016-07-12 17:39] koconnor719 commented on #2542
@suzchap i think you had a comment on VCL stats w/ Google Analytics?  somewhere:)  can you post here so it's all in one place?

we need to report stats to Dep Sec this week.  can you guys pls. advise?  not sure what to do from here?  :)  thx.

[2016-07-12 17:42] koconnor719 commented on #2536
@maryannbrody is there a schedule of research of when stuff like this will be reviewed?  :)

[2016-07-12 17:44] koconnor719 commented on #2428
@rcarthur  what is the status of this issue?  is it closed yet?  unclear from thread above what the current status is but it's been open for a while.  what is next step--or if it's closed on our end--let's close it.  thanks:)

[2016-07-12 17:45] koconnor719 commented on #1292
@maryannbrody did this get completed?

[2016-07-12 17:46] koconnor719 commented on #1201
closing this since it seems obsolete

[2016-07-12 17:46] #1201 closed

[2016-07-12 17:48] koconnor719 commented on #1082
this was closed months ago; christine left multiple message for user; we retested on pc in office and it worked. we believe it's a browser setting issue w/ user--emailed and phoned w/ instructions to adjust settings.

[2016-07-12 17:48] #1082 closed

[2016-07-12 17:56] rcarthur commented on #2428
@koconnor719 - The problem was that the info was unclear on the va.gov site
(our page was correct) I worked with stakeholder - Dom Ramirez at VA for
Vets to fix the issue by adjusting content on his end.

Problem is solved. I will close out the issue.
On Tue, Jul 12, 2016 at 1:44 PM koconnor719 <notifications@github.com>
wrote:

[2016-07-12 17:59] koconnor719 commented on #2542
[analytics_all_web_site_data_crisis_hotline_test_20160607-20160707__1_.pdf](https://github.com/department-of-veterans-affairs/vets-website/files/359959/analytics_all_web_site_data_crisis_hotline_test_20160607-20160707__1_.pdf)

[2016-07-12 18:22] dannychapman commented on #2552
Just looked into this. @maryannbrody - Unfortunately we can't control that text that way. Adding to the list for API integration.

[2016-07-12 18:23] dannychapman commented on #2552
Closing for now, will revisit.

[2016-07-12 18:23] #2552 closed

[2016-07-12 18:37] koconnor719 commented on #2428
Awesome!  ty:)

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Ric Arthur <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, July 12, 2016 at 1:56 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto

[2016-07-12 18:47] maryannbrody commented on #2536
Hi, @koconnor719 - We chatted about this a little bit last week, but I wanted to follow up. We are talking about potentially doing some A/B testing on VCL. Since the questions we have are really about placement (that is, is it getting seen at the bottom, or should it be on the top?), we'll get the right information using analytics and A/B testing. We don't have a plan to do an entire session to ev

[2016-07-12 18:55] koconnor719 commented on #2536
This is not VCL?  :)  this is about the header on our site that says �how can we help� and it�s not clickable?  it�s super confusing I think.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Mary Ann Brody <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.co

[2016-07-12 19:58] usds-bot opened #2554 "UserVoice Idea: Provide a means for Schools to update their information"
I was using the GI Bill comparison tool looking at the school that I work for in the Veterans Department. The information is not accurate stating that we do not accept Active Duty TA or that we do not have a Veteran Student Group, etc. Is there a Point of Contact or anything else we can use to provide more accurate information about our school?

http://veterans.uservoice.com/forums/330333-vets-gov

[2016-07-13 02:26] koconnor719 commented on #2554
Thank you for your feedback. You can contact the VA Education help desk to update this information at 1-888-442-4551 (1 888 GI BILL 1) from 7AM - 7PM Central Time.

vets.gov team

[2016-07-13 02:26] #2554 closed

[2016-07-13 02:29] koconnor719 commented on #2545
posted and closed; have to refer this to EDU team to resolve since we do not have resources to investigate this.

Thank you for your feedback. You can contact the VA Education help desk to update the information for these schools at 1-888-442-4551 (1 888 GI BILL 1) from 7AM - 7PM Central Time.

vets.gov team

[2016-07-13 02:29] #2545 closed

[2016-07-13 02:33] koconnor719 commented on #1071
@mariana-almeida do you know when will this be done?

[2016-07-13 02:35] koconnor719 commented on #1473
@rickleegit @MarinaMartin is this in scope for Service and Facility Locator? pls. advise so i can post a response to this comment.

[2016-07-13 02:38] koconnor719 commented on #2490
@mphprogrammer do you know if this is resolved yet?

[2016-07-13 02:45] koconnor719 commented on #2497
posted and closed:

Thank you for your feedback. While you are not able to manually enter skills to your resume while building it, you can download it as a word document and add additional skills and other information to your local copy. We have been able to replicate this, and have added it our backlog to address in a future enhancement.  Please note that our enhancement priorities are based on V

[2016-07-13 02:45] #2497 closed

[2016-07-13 02:45] mphprogrammer commented on #2490
![screen shot 2016-07-12 at 10 44 01 pm](https://cloud.githubusercontent.com/assets/4104431/16790235/360c763a-4882-11e6-87eb-0e0bae08d173.png)

I just took a peek at the GIBCT, It looks like the school is now marked as PRIVATE (there is no NON-PROFIT designation).

[2016-07-13 02:51] koconnor719 commented on #2510
@mariana-almeida can you pls. advise on a response?

[2016-07-13 02:57] koconnor719 commented on #2543
posted and closed:

Thank you for your feedback. Our resume builder does not have a timeout, so you should be able to work on your resume for as long as needed. We will add your suggestion for an auto save feature to our Veteran user research and see what other Veterans think.

vets.gov team

[2016-07-13 02:57] #2543 closed

[2016-07-13 03:01] koconnor719 opened #2555 "Footer on VEC page not displaying VCL correctly"
@gnakm

I think you are already aware of different footers on products; pls. review the VEC footer https://www.vets.gov/employment/veterans/235834 as the VCL updates we just made have not been updated here (veterans can't call, text, or chat from homepage).  Footer is different--with feedback on the right side, not left.

![screen shot 2016-07-12 at 11 00 44 pm](https://cloud.githubusercontent.com

[2016-07-13 03:02] koconnor719 commented on #2542
request from VCL team for access to this report; suzanne following up.

[2016-07-13 03:21] rcarthur commented on #1071
@mariana-almeida  @koconnor719  Ready to flow into site pending IA map.

 https://github.com/department-of-veterans-affairs/vets.gov-content/issues/10

[2016-07-13 03:29] rcarthur commented on #2428
@maryannbrody Mary Ann - Please closeout issue. This was resolved (as of 2 JUN) through coordination with Va for Vets webmaster who altered language (on my request) to read:

"Veteran Employment Specialist are available by region to provide one-on-one assistance to Veterans looking for work and employers looking to hire."

on this page:
http://vaforvets.va.gov/hr/RVECS/Pages/rvecs-map.asp

Thanks

[2016-07-13 10:42] koconnor719 commented on #2490
Ty!

Sent with Good (www.good.com)

-----Original Message-----
From: Marc Harbatkin [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, July 12, 2016 10:46 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Comment
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Wrong School Info (#2490)

[ht

[2016-07-13 10:43] koconnor719 commented on #2428
Great I'll close ty!!!!

Sent with Good (www.good.com)

-----Original Message-----
From: Ric Arthur [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, July 12, 2016 11:29 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] VEC 1:1 Assistance Content see

[2016-07-13 14:34] webinista commented on #2555
@koconnor719 Keep an eye on department-of-veterans-affairs/veterans-employment-center#340. I believe @crwallace is working on this now.

[2016-07-13 15:46] usds-bot opened #2556 "UserVoice Idea: Link to 10-10AD"
Link to the 10-10AD added in the Health care application section for those Active duty Veterans that wish to apply prior to discharge/retirement.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15190521-link-to-10-10ad

[2016-07-13 15:52] mariana-almeida commented on #1071
@koconnor719 I would say 2 weeks, conservatively.

[2016-07-13 16:00] webinista commented on #2508
jQuery is a dependency for the quick search feature of the [GI Bill Comparison Tool](https://www.vets.gov/gi-bill-comparison-tool/)

![screen shot 2016-07-13 at 8 59 21 am](https://cloud.githubusercontent.com/assets/354277/16810275/2cfd331c-48d8-11e6-9dc5-f2b8e324d3f7.png)

[2016-07-13 18:36] usds-bot opened #2558 "UserVoice Idea: Sign up for Active duty personnel"
Application for signing up for VA health care while still on active duty is no longer possible through this site. Is this an intentional change or an oversight?  For outreach purposes it is important to be able to sign up those who are still on active duty but will be discharged in the very near future.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15194664-sign-up-for-active-d

[2016-07-13 19:28] #2515 closed

[2016-07-13 20:02] webinista commented on #2439
@crwallace Is it safe to close this PR since the 404 page is being redesigned?

[2016-07-13 20:39] mariana-almeida commented on #2510
Here's my response - feel free to tweak, @koconnor719 Not sure if it's possible to hyperlink words in the response, so I didn't.

"We appreciate your feedback on our beta site.

We're continuing to build out the site to include helpful information for family members and dependents. For example, we have information to help family members seeking employment (https://www.vets.gov/employment/job-seeke

[2016-07-14 01:34] koconnor719 commented on #2556
@akainic active duty can still apply using our form correct?  will they be processed by the ES system ok given they are still active duty?

[2016-07-14 01:36] koconnor719 commented on #2558
anne, same question for you as #2556

[2016-07-14 01:40] koconnor719 commented on #2510
posted and closed:

Thank you for your feedback.

We're continuing to build out the site to include helpful information for family members and dependents. For example, we have information to help family members seeking employment (https://www.vets.gov/employment/job-seekers/family-members/) for example.

However, for now, there other resources that may answer your questions more directly:

Learn a

[2016-07-14 01:40] #2510 closed

[2016-07-14 12:02] akainic commented on #2508
I think jQuery is also being used for the search button on mobile and/or the Veterans Crisis Line?

[2016-07-14 12:17] akainic commented on #2556
That's a good question, I'm not sure. Would need to verify that with Jim. I know historically the 1010-AD was used for active duty transitioning out of the military, and I don't know if that form asks for different things or processes the information differently from what out form does.

[2016-07-14 13:25] koconnor719 commented on #2556
so i think this is a Jim question.  can you raise at one of your stand ups?

[2016-07-14 17:19] webinista commented on #2508
@akainic It is, but those are relatively easy to rewrite using native DOM APIs.

A typeahead / quick search feature is less easy to rewrite, particularly since we still need to support IE9. And typeahead scripts that do not have a jQuery dependency are somewhat rare. (The only one I know of is Lea Verou's [Awesomeplete](https://leaverou.github.io/awesomplete/).

[2016-07-14 17:26] #2483 closed

[2016-07-15 05:02] akainic commented on #2508
Ah gotcha, I agree it should be easy to rewrite for those 2!

[2016-07-15 22:18] joduinn opened #2560 "Two green buttons?"
I just noticed that https://www.vets.gov/healthcare/apply/ shows me two green buttons. "Apply Online for VA Health Care" and "Apply for VA Health Care".

This seems confusing and they both go to the same URL, so can we remove one?
![screen shot 2016-07-14 at 2 02 00 pm](https://cloud.githubusercontent.com/assets/714805/16855800/dafdec10-49cb-11e6-8ea1-683156087f65.png)

[2016-07-15 23:26] usds-bot opened #2561 "UserVoice Idea: I spent two hours trying to register and i consider my self savvy in terms of IT knowledge this is the worst system ever."
Employment rehabilitation registration through ebenefits needs someone taken to the woodshed. or at the very lease cancel all leave request until the system is fixed i.e. five challenge questions questions where my answers are unacceptable. go figure. open a 24 hr call center and cancel the IT contracts

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15232461-i-spent-two-hours-tr

[2016-07-16 13:01] koconnor719 commented on #2561
Thank you for your feedback.  I think you are referring to the eBenefits site (https://www.ebenefits.va.gov/ebenefits/homepage), and we are currently working to redesign and migrate these features to vets.gov.  Our goal is for vets.gov to be easy to use for Veterans--that's why we are designing it based on Veteran feedback.  If you would like to participate in our Veteran research and provide us w

[2016-07-16 13:04] koconnor719 commented on #2558
@akainic if an active duty user signs up using HCA will their application still go thru ok?

[2016-07-18 16:37] maryannbrody commented on #1292
No - I reached out to Pat Sheehan but never heard back. I will reach out again this week! Also trying to get to the Blind Veterans Association national conference in August...

[2016-07-18 16:48] koconnor719 commented on #1292
thx.  can you pls. send me that email string w pat.  we are constantly getting dinged that we don't work with that office, so i want the email to show they are not responsive--just in case this comes up again.  :)  @MarinaMartin

[2016-07-18 17:49] usds-bot opened #2562 "UserVoice Idea: Travel Pay Reimbursement form 10-3542"
fill out Travel Reimbursement 10-3542 online

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15264918-travel-pay-reimbursement-form-10-3542

[2016-07-18 19:14] usds-bot opened #2563 "UserVoice Idea: Dentisty"
How come Veteran Medical Center don't  have a Dentist  does Full mouth of Permanent implants?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15266013-dentisty

[2016-07-19 14:19] usds-bot opened #2564 "UserVoice Idea: CBOC not showing up on facility locator"
Athens, TN Community Outpatient Clinic is not showing up on the Facility locator https://www.vets.gov/facility-locator/

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15277092-cboc-not-showing-up-on-facility-locator

[2016-07-19 15:22] usds-bot opened #2565 "UserVoice Idea: Keep it Simple"
I like how simple the home page is, its easy to look at and navigate. Please don't clutter it up with extra gadgets and banners/buttons/links

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15277845-keep-it-simple

[2016-07-19 21:42] webinista commented on #2426
A version of this is almost ready to go in PR #2451. However, we've paused template work for now.

[2016-07-19 21:50] webinista commented on #2521
Closing. It's irrelevant for now, since we're eventually removing Foundation.

[2016-07-19 21:50] #2521 closed

[2016-07-19 21:51] webinista commented on #2431
Closing in light of design work being done to update the 404 page.

[2016-07-19 21:51] #2431 closed

[2016-07-20 00:26] koconnor719 commented on #2565
Thank you for your feedback. We are designing the site based on Veteran feedback. If you are a Veteran and would like participate in our user research please contact us at feedback@va.gov.

vets.gov team

[2016-07-20 00:26] #2565 closed

[2016-07-20 00:30] koconnor719 commented on #2563
Thank you for your feedback. You can find information about VA density here:  http://www.va.gov/dental/ or you can also call 1-877-222-VETS (8387).

[2016-07-20 00:30] #2563 closed

[2016-07-20 00:36] koconnor719 commented on #2562
Thank you for your feedback. We are prioritizing migration of information, features and forms to vets.gov based on Veteran feedback, so we will add your comment to our data!  If you are a Veteran and would like to provide additional feedback to our user research team, please contact us at feedback@va.gov.  Veteran feedback drives our design of vets.gov.

vets.gov team

[2016-07-20 00:36] #2562 closed

[2016-07-20 05:32] usds-bot opened #2568 "UserVoice Idea: JOBS"
Here's an idea: Create a website that actually helps veterans like me who want to work to get a job "work in progress" really?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15287793-jobs

[2016-07-20 17:59] bethpotts opened #2569 "Stub out 4 new vets.gov pages"
@crwallace @dannychapman Thank you for stubbing out these four pages.

[For.Stubbing.Disability_Have_A_Rating_07_20160719 (1).docx](https://github.com/department-of-veterans-affairs/vets-website/files/374357/For.Stubbing.Disability_Have_A_Rating_07_20160719.1.docx)
[For.Stubbing.Disability_WhattoExpectatYourCPExam_draft10_2016-07-15.docx](https://github.com/department-of-veterans-affairs/vets-webs

[2016-07-20 18:41] bethpotts opened #2570 "Inconsistent IA naming conventions in existing section URLs"
L2 pages (the disability section is the only one that has "benefits"):
/disability-benefits
/education
/employment
/healthcare

L3 pages (all three apply conventions are different):
/disability-benefits/apply-for-benefits
/education/apply-for-education-benefits
/healthcare/apply

[2016-07-20 18:56] maryannbrody commented on #2569
Thanks, @bethpotts -- What is the thinking behind /review-dd214/ in the IA? I understand there isn't anywhere else to put it right now -- so just curious how we chose that and what we think it will become.. thanks!

[2016-07-20 19:21] webinista opened #2571 "[Rx] RefillApp component"
This is the base application task component that wraps the following components.

Component should contain (blocked by):
- AlertBox component (#2572)
- TabNav component (#2573)
- ActivePrescriptionsPage component (#2575)
- RxHistoryPage (#2583)
- MyOrdersPage (#2629)

### Prototypes

- [Desktop](https://marvelapp.com/276d4he)
- [Mobile](https://marvelapp.com/277c9c1)

[2016-07-20 19:26] webinista opened #2572 "[Rx] AlertBox Component"
Blocks #2571

[Mockup/prototype](https://marvelapp.com/276d4he#13751389)

Uses [Alerts](https://standards.usa.gov/alerts/) pattern from USWDS. Should also have a close button icon / functionality.

[2016-07-20 19:29] webinista opened #2573 "[Rx] TabNav component"
Tabbed navigation that allows user to click between Rx application screens

[Mockup/prototype](https://marvelapp.com/276d4he#13751389)

- Should be keyboard accessible
- [Work in progress](http://codepen.io/webinista/pen/WrjMNo)

- Blocks #2571
- Related to department-of-veterans-affairs/roadrunner#91

[2016-07-20 19:41] webinista opened #2575 "[Rx] ActivePrescriptionsPage component"
Blocks #2571 (Base application component)

Should contain following components:
- PrescriptionCard (#2576)
- ConfirmRefillModal (#2581)
- ActivePrescriptionsSort (#2653)

Page should be re-sortable by prescription name, last requested date, and facility name.

[Mobile prototype](https://marvelapp.com/iaa9b9)
[Desktop prototype](https://marvelapp.com/1h10heg#14227013)

[2016-07-20 19:53] webinista opened #2576 "[Rx] PrescriptionCard component"
Blocks #2575

Child components:

- Button
  - Refill prescription state
- TrackPackageLink (#2599)
- RefillsRemainingCounter (#2578)
- RequestForRenewalLink (#2580)
- Should also display the facility name.

Clicking the _Refill Prescription_ button, should:

1. Trigger the modal, and update the state of the modal with the drug, dosage, and last refilled date.
2. Update the refills count state.

[2016-07-20 19:53] webinista opened #2577 "[Rx] SubmitButton component"
Instances of `SubmitButton` component (blocks these issues):
- Prescription card (#2576)
- ButtonGroup (#2582 and ConfirmRefillModal)
- RecentOrderCard (#2587)

[2016-07-20 19:59] webinista opened #2578 "[Rx] RefillsRemainingCounter component"
Blocks:
- PrescriptionCard component (#2576)
-  PrescriptionDetailPage (#2589)

### Rough specs

- Indicate _0 refills_ when there are no refills available; style 0 differently from default state
- Indicate _1 refill_ when 1 refill is available
- Indicate _N refills_ where _N_ is the number of refills available, if there is more than one.

[2016-07-20 20:06] webinista opened #2579 "[Rx] TrackInfoPendingFlag component"
Blocks #2576

<img width="332" alt="screen shot 2016-07-20 at 1 05 42 pm" src="https://cloud.githubusercontent.com/assets/354277/17001159/b5d55b04-4e7a-11e6-805d-56c33c6ae0c6.png">

[2016-07-20 20:07] webinista opened #2580 "[Rx] MessageProviderLink component"
Blocks #2576

Displayed when there are no refills left. Links to secure messaging.

[2016-07-20 20:21] webinista opened #2581 "[Rx] ConfirmRefillModal"
Blocks #2575

[Mockup/prototype](https://marvelapp.com/276d4he#13751386?overlay=13751379)

- Should contain `ButtonGroup` component (#2582)
- Should be able to close modal by keyboard as well as click
- Cancel button should trigger `closeModal` method and close the modal.
- Order refill button should add an item to the cart, close the modal, trigger display of AlertBox (see #2572)

[2016-07-20 20:24] webinista opened #2582 "[Rx] ButtonGroup component"
- Blocks #2581 (ConfirmRefillModal)
- Blocked by #2577 (Button component)

<img width="367" alt="screen shot 2016-07-20 at 1 26 17 pm" src="https://cloud.githubusercontent.com/assets/354277/17001854/910eeeb8-4e7d-11e6-93dd-19f0724e4666.png">

[Prototype](https://marvelapp.com/276d4he#13751386?overlay=13751379)

[2016-07-20 20:38] bethpotts commented on #2569
Well, @maryannbrody I'm so glad you asked because I just learned that these pages started out as one originally and were broken into two. So /review-dd214/ is a holdover and should have been deleted! It is superfluous. I'll go fix that relative link everywhere it appears. Thank you for asking the question!!
@dannychapman @crwallace If you two could hold off for now, I'll reupload those four docs w

[2016-07-20 21:37] webinista opened #2583 "[Rx] RxHistoryPage component"
Blocks by #2571

**Contains / blocked by:**

- GrowableTable component (#2584)
- Pagination component (#2585)

[2016-07-20 21:41] webinista opened #2584 "[Rx] GrowableTable component"
Blocks #2583, #2586

- Must include a `caption` element for accessibility, that should describe the table's contents. ([Guidance](https://www.w3.org/TR/html5/tabular-data.html#the-caption-element))
- Has wholly different layout at mobile.

### Child components

#### Desktop view
- TableRow component #2614
- TableHeader component #2615
- Pagination #2585

#### Mobile view
- Not yet defined. Might b

[2016-07-20 21:48] webinista commented on #2584
Mobile and desktop views are quite different. Need to talk through how best to build this component.

One option:
- Rather than `TableHeader` and `TableRow` components use a list
- Use `display: table-row` for each list item
- Use `display: table-cell` for major child elements, hiding labels on desktop and revealing on mobile.

Another is to conditionally load components based on the viewport's wi

[2016-07-20 22:17] webinista opened #2585 "[Rx] Pagination Component"
<img width="284" alt="screen shot 2016-07-20 at 3 14 23 pm" src="https://cloud.githubusercontent.com/assets/354277/17005010/b70a4ac2-4e8c-11e6-9e98-687ea711cdcb.png">

- Blocks GrowableTable (#2584)
- Blocks RxHistoryPage (#2583)

### Questions:

- How best to show up to 10 pages on desktop and up to 5 on mobile?

[2016-07-20 22:21] webinista commented on #2560
@crwallace Assigning to you with the understanding that you'll delegate as appropriate.

[2016-07-20 22:31] webinista opened #2586 "[Rx] OrderHistory component"
Sortable list of recent orders, plus header, and select menu of sorting criteria.

Should look like a table on desktop. Rows should stack into a list on mobile.

### Prototypes

- [Mobile](https://marvelapp.com/iaa9b9#14368789)
- [Desktop](https://marvelapp.com/1h10heg#14227011)

[2016-07-20 22:41] webinista opened #2587 "[Rx] RecentOrderCard component"
Blocks #2586

Contains child components (blocked by):
- DaysLeftCounter
- TrackPackageLink (#2599)

### Prototypes
- [Desktop](https://marvelapp.com/276d4he#13751382)
- [Mobile](https://marvelapp.com/277c9c1#13754484)

[2016-07-20 23:06] webinista opened #2588 "[Rx] PrintList component"
[Version 1](https://marvelapp.com/276d4he#13751380)

<img width="171" alt="screen shot 2016-07-20 at 4 04 09 pm" src="https://cloud.githubusercontent.com/assets/354277/17006153/a5f22b4a-4e93-11e6-8d6c-ee3eadb2be90.png">

[Alternate version?](https://marvelapp.com/276d4he#13751378)

<img width="375" alt="screen shot 2016-07-20 at 4 05 37 pm" src="https://cloud.githubusercontent.com/assets/354277/17

[2016-07-20 23:25] webinista opened #2589 "[Rx] PrescriptionDetailPage"
Blocks #2571

Contains the following child components (blocked by)

- FixedBorderLessTable (#2591)
- WarningBox (#2589)
- ContactCard (#2592)
- RefillsRemainingCounter (#2578)
- Button (Track) (#2577)
- BackLink (#2593)

[2016-07-20 23:25] webinista opened #2590 "[Rx] WarningBox component"
Related to #2572. Blocks #2589

This component and the the AlertBox component are more-or-less the same. This component doesn't have a close button. May want to align more closely with the USWDS Warning Status pattern.

- Uses [Alerts](https://standards.usa.gov/alerts/) pattern from USWDS.
- [Mobile prototype](https://marvelapp.com/277c9c1#13838711)

<img width="293" alt="screen shot 2016-07-20 at

[2016-07-20 23:27] webinista opened #2591 "[Rx] TableVerticalHeader component"
Blocks #2589

Contains child components (blocked by):

- TableHeaderVertical
- TableRowVertical

[2016-07-20 23:29] webinista opened #2592 "[Rx] ContactCard"
- Blocks #2589
- Blocked by #2577

### Prototypes

- [Desktop](https://marvelapp.com/276d4he#13751381)
- [Mobile](https://marvelapp.com/277c9c1#13838711)

[2016-07-20 23:34] webinista opened #2593 "[Rx] BackLink component"
Blocks PrescriptionDetailPage (#2589)

### Prototypes

- [Mobile](https://marvelapp.com/277c9c1#13838711)
- [Desktop](https://marvelapp.com/276d4he#13751381)

[2016-07-20 23:39] webinista opened #2594 "[Rx] TableHeaderVertical component"
Blocks FixedBorderLessTable #2591

[Prototype](https://marvelapp.com/276d4he#13751381)

A table header component that sits at the beginning of each row instead of at the top of each column.

[2016-07-20 23:41] webinista opened #2595 "[Rx] TableRowVerticalHeader component"
- Blocks FixedBorderLessTable #2591
- Related to TableHeaderVertical component #2594

A table row containing a `th` and a `td`.

[2016-07-20 23:42] webinista commented on #2594
I think we can close this in favor of a `TableRowVertical` component that contains a `th` and `td`. Thoughts?

[2016-07-21 00:06] maryannbrody commented on #2561
Thanks, @koconnor719 for the awareness. @MissPaaj -- let's make sure to ask about the VR & E forms when we talk to VSOs to try and dig into this a little bit. Closing this issue out.

[2016-07-21 00:06] #2561 closed

[2016-07-21 01:05] bethpotts commented on #2569
OK @dannychapman and @crwallace I have reuploaded the four docs above. Those are the correct ones with the relative links fixed! Thank you for your patience and for your help getting the pages stubbed.

[2016-07-21 16:39] #2321 closed

[2016-07-21 16:39] #2366 closed

[2016-07-21 16:54] usds-bot opened #2596 "UserVoice Idea: Better Phone System"
I love my local VA Clinic, but beyond that working with the VA is very difficult!  Namely, trying to get through to "someone" at the Atlanta Ctr. is cumbersome, at best.  Getting a "real person" on the phone is almost impossible.  And when you do, it ALWAYS comes with a Looong wait-time listening to the same message over and over.  THEN, 90% of the time its the wrong department and you find yourse

[2016-07-21 17:04] maryannbrody commented on #2569
@bethpotts --

Thanks for clarifying. I'd like to make two changes here:

1. Let's put the 2 disability pages here: https://www.vets.gov/disability-benefits/claims-process/ instead of on the disability landing page.
2. Let's hold off on publishing the other 2 pages. I don't think it makes sense to publish these if they don't have a home. I think we'll get into trouble down the line if we're adding

[2016-07-21 17:12] ayaleloehr opened #2597 "Header on home page bigger than every other page"
With the launch of new breadcrumbs, the header on the vets.gov home page is way bigger than every other page.  Can this be made consistent?

Home page:
![screen shot 2016-07-21 at 1 10 53 pm](https://cloud.githubusercontent.com/assets/4719765/17031938/a75f7fb2-4f44-11e6-8743-2be757ee3592.png)

Other pages:
![screen shot 2016-07-21 at 1 11 09 pm](https://cloud.githubusercontent.com/assets/4719765/1

[2016-07-21 18:01] crwallace commented on #2560
@joduinn This was a design team decision to keep both. I think this pattern will change with the new templates but as it stand now they will both stay. Feel free to chat with more about this with @maryannbrody. But for now I am closing this issue.

[2016-07-21 18:01] #2560 closed

[2016-07-21 18:03] crwallace commented on #2555
@koconnor719 -- This was just updated with the VEC deploy today. Closing this issue.

[2016-07-21 18:03] #2555 closed

[2016-07-21 18:09] crwallace commented on #2503
@maryannbrody -- This was not updated with the breadcrumbs. Do you want someone to make a mock up for us to implement so it will look like the rest of the pages/applications?

[2016-07-21 18:12] ayaleloehr commented on #2503
Facility locator also has no vets.gov search box. not sure if this is expected, but just noticed and thought I would mention it!

[2016-07-21 18:36] maryannbrody commented on #2503
Yes to all of the above. Let's create a mockup that:
- Includes search
- Addresses the header/breadcrumb issue

We have a redesigned version of FL, but it's still a way's out from implementation, so this makes sense.

@gnakm // @angel can one of you guys take this and assign to yourself?

[2016-07-21 19:23] angel commented on #2503
I have this mock:
![vetsdotgov-facility-locator](https://cloud.githubusercontent.com/assets/103496/17035718/c2a86196-4f3d-11e6-8d83-817f23f4a681.jpg)

Let me know if that works.

[2016-07-21 19:50] webinista opened #2599 "[Rx] TrackPackageLink component"
Track package will point to the UPS or USPS tracking page. Should be an `a` element rather than a `button` element.

- Should open a new window with `target=_blank`
- Include a `noopener` attribute to prevent XSS in browsers that support it.

Blocks:

- PrescriptionCard #2576

Also affects #2589.

[2016-07-21 20:30] maryannbrody commented on #2503
@angel -- wondering if it would be better without the subtext? The two search boxes could be a little confusing but I think it's OK since it's consistent..

What do you think?

[2016-07-21 21:15] ayaleloehr commented on #2564
Just spent a bunch of time looking into this. We pull our data from the F&L directory, which has this clinic in its data set, but it doesn't have a lat/long associated with the clinic, so we cannot display it on the map. Talking to Jenny who knows more about this data source to get to the bottom of it.

[2016-07-21 21:19] angel commented on #2503
@maryannbrody I think it's fine to have the other search box because it is consistent with the rest of the site, treated differently than the second search, and performs a different function.

Here's what the mock looks like without the subtext:
![l2 facility locator no subtext](https://cloud.githubusercontent.com/assets/103496/17039144/db24ef54-4f4d-11e6-8617-5a3e2895a5ca.jpg)

If the subtext add

[2016-07-21 22:16] maryannbrody commented on #2503
@angel -- agree -- i like this latest mock without subtext!

Assigning to @crwallace for implementation.

[2016-07-22 00:51] koconnor719 commented on #2596
checking w/ Rosetta L (call Center poc) on response for this

[2016-07-22 00:57] koconnor719 commented on #2568
Thank you for your feedback. Yes, our site is a work in progress--so we can get Veteran feedback as we build it.  If you would like to give us some detailed feedback, we use that to drive the design of the site.  Please contact our team at feedback@va.gov.

We have employment resources here https://www.vets.gov/employment/job-seekers/ . If you have feedback about a specific feature or service we c

[2016-07-22 00:58] koconnor719 commented on #2568
can you consider adding this page to your research?  it seems like a really long, text-heavy page and the text is very small. it also doesn't list the phone number / contact email to Veteran Employment Office. https://www.vets.gov/employment/job-seekers/

[2016-07-22 01:02] koconnor719 commented on #1473
@rickleegit pls. see above and advise of response since you are still working on SFL please.

[2016-07-22 01:04] koconnor719 commented on #2490
Thank you for your feedback. This school is marked as "private" which is correct (not "for profit"). Thank you for letting us know!

vets.gov team

[2016-07-22 01:04] #2490 closed

[2016-07-22 13:30] usds-bot opened #2600 "UserVoice Idea: 10-10EZ online application not working"
10-10ez

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15327285-10-10ez-online-application-not-working

[2016-07-22 13:37] ayaleloehr commented on #2564
Digging in a bit more, it looks like 168 facilities in this F&L source data (out of a total of 1896) don't have a lat/long, meaning we can't display them. This seems like a problem. Am trying to find a contact at F&L to work with to understand this.

[2016-07-22 13:58] koconnor719 commented on #2600
Thank you for your feedback. Our team has tested the online application for health care https://www.vets.gov/healthcare/apply/application/veteran-information/personal-information and it's working.  We can't replicate any errors?  If you can provide some additional details we will look into any issue.  Thank you.

vets.gov team

[2016-07-22 13:58] #2600 closed

[2016-07-22 17:11] webinista opened #2601 "[Rx] Add Redux"

[2016-07-22 17:12] webinista opened #2602 "[Rx] Add header, footer CSS markup"
Add header and footer markup
Add CSS files.

[2016-07-22 17:12] webinista opened #2603 "[Rx] Update vets-website build to include Rx (Prescription Refills) project"

[2016-07-22 18:24] webinista opened #2604 "[Rx] Incorporate Google Analytics"

[2016-07-23 05:41] usds-bot opened #2606 "UserVoice Idea: If a you are having a service connected surgery and have to leave your job in order for surgery you should start getting paid the first mont"
No need for VA to take so long to pay a service connected surgery to the temp 100% when a person has to leave his job for service connected surgery, then it should be just like  workers compensation  and pay after missing 1 weeks work!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15337839-if-a-you-are-having-a-service-connected-surgery-an

[2016-07-23 15:18] koconnor719 commented on #2596
Thank you for your feedback. This feedback forum is for the vets.gov website.  We are sorry you are having difficulty contacting someone at the VA by phone--you can try the VA's Patient Advocates (PA) at VA Medical Center in Atlanta at 404 321 6111 ext 2264;  the PA  can address your specific issue.

Also, please know that the VA is working hard to improve the call center system. Today, Medical Ce

[2016-07-23 15:18] #2596 closed

[2016-07-25 02:53] usds-bot opened #2607 "UserVoice Idea: question about ID card"
Can I apply for veterans ID card?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15360165-question-about-id-card

[2016-07-25 13:19] ayaleloehr commented on #2564
Update: Jenny is working this from the VHA side and Mike Carr is working this from the VBA side.

[2016-07-25 21:59] webinista commented on #2508
We can probably remove Modernizr too, since most of our audience is using modern browsers (i.e. browsers with better CSS/JS support than IE8).

[2016-07-25 22:02] webinista opened #2608 "[Rx] Update main CSS link to point to our CDN link"
Currently pointing to the production version of the vets.gov CSS for prescriptions. Once it's on a CDN, we need to update that URL.

[2016-07-26 15:44] usds-bot opened #2611 "UserVoice Idea: Hello VA, Please contact me to update GI Bill Comparison tool Info for University"
Hello VA, please change Student Veteran of America student organization link to https://orgsync.com/131900/chapter

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15399822-hello-va-please-contact-me-to-update-gi-bill-comp

[2016-07-27 00:45] koconnor719 commented on #2611
sent to patrick and stephanie to update their data.

Thank you for your feedback.  We have forwarded your request to the eduction team at VA.  You can also contact the help desk at 1-888-442-4551.

vets.gov team

[2016-07-27 00:45] #2611 closed

[2016-07-27 00:48] koconnor719 commented on #2606
@rcarthur do you know any content that addresses this question pls?  :)

[2016-07-27 00:53] koconnor719 commented on #2558
Thank you for your feedback.  Yes, you can sign up for health care if you are active duty.  Go to this page and click https://www.vets.gov/healthcare/apply/ and click on "find the form you need." Over the next several months we will be launching more forms online at vets.gov, with a new user-friendly design based on Veteran feedback.

vets.gov team

[2016-07-27 00:53] #2558 closed

[2016-07-27 00:56] rcarthur commented on #2606
On it!

[2016-07-27 00:57] koconnor719 commented on #2607
Thank you for your feedback. You can find information about Veteran ID cards here http://www.blogs.va.gov/VAntage/26568/veteran-id-cards-options/ .

vets.gov team

[2016-07-27 00:57] #2607 closed

[2016-07-27 01:03] koconnor719 commented on #2542
suzanne, is this done? should it be closed?  i thought @akainic mentioned she was doing work on this??

[2016-07-27 01:03] #2428 closed

[2016-07-27 01:04] koconnor719 commented on #1198
closing; team has decided to delete the blog.

[2016-07-27 01:04] #1198 closed

[2016-07-27 01:05] koconnor719 opened #2613 "remove vets.gov blog"
team decision at leads meeting 7/19/16 to remove blog from vets.gov.

[2016-07-27 01:23] webinista commented on #2602
Status update: blocked a bit by build process issues. Still developing locally, but can't merge anything until our build process is straightened out.

[2016-07-27 01:39] webinista commented on #2613
A suggested check list of tasks.

- [ ] Removing _Blog_ link from footer (the minimum we should do)

- [ ] Delete `experience/` from repo
- [ ] Delete `_posts/` from repo
- [ ] Delete the following files from S3 bucket and URLs from search
  - [ ] `/2016/05/17/when-high-bounce-rate-may-be-a-good-thing.html`
  - [ ] `/2016/03/02/designing-for-veterans.html`
  - [ ] `/2016/04/01/responsive-web-desig

[2016-07-27 15:29] webinista opened #2614 "[Rx] TableRow component"
Blocks #2584.

[2016-07-27 15:32] webinista opened #2615 "[Rx] TableHeader component"
Blocks #2584

Table header with sorting arrows that, when clicked, sort the table by that row's property in ascending or descending order.

**Prototypes**
- [Desktop](https://marvelapp.com/1h10heg#14227014)
- [Mobile](https://marvelapp.com/iaa9b9#14230873)

[2016-07-27 18:08] akainic commented on #2571
This is the top level component for the application. It is equivalent to the `HealthCareApp` component in HCA: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/components/HealthCareApp.jsx

[2016-07-27 18:08] akainic commented on #2584
This is similar to the `GrowableTable` component in HCA: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/components/form-elements/GrowableTable.jsx

[2016-07-27 18:12] akainic commented on #2614
The way this will work is that we'll have a component for a single row of the table, similar to how HCA has a component for a single provider: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/components/insurance-information/Provider.jsx.

Then, we pass this component to `GrowableTable` as we did in the insurance section of HCA: https://github.com/dep

[2016-07-27 18:12] akainic commented on #2615
Just a single component for the table header. No equivalent in HCA.

[2016-07-27 18:13] akainic commented on #2583
Equivalent to any of the section components in HCA, like for instance `InsuranceInformationSection`: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/components/insurance-information/InsuranceInformationSection.jsx

[2016-07-27 18:14] suzchap commented on #2542
VCL team now receiving daily reports so that is done. @akainic is going to do some fine-tuning to add ability to track when the popup is opened and closed.

[2016-07-27 18:16] akainic opened #2616 "Create routes.jsx"
All it has to have for now is the route for the Rx history page so we can view that. We can add the other routes later as we have them.

Refer here for an example from HCA: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/routes.jsx

[2016-07-27 18:20] akainic opened #2617 "Update roadrunner-entry.jsx and rename"
Entry point for the React application. Lives here: https://github.com/department-of-veterans-affairs/vets-website/blob/rx/rx/src/roadrunner-entry.jsx

Refer here to an example from HCA: https://github.com/department-of-veterans-affairs/healthcare-application/blob/master/src/client/react-entry.jsx

[2016-07-28 01:43] usds-bot opened #2621 "UserVoice Idea: Fix your "system""
Filled out the whole application only to be told "system error" apply again latter. 2nd time this has happened. My idea is fix the system so vets can actually apply. This is a waste of time.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15429495-fix-your-system

[2016-07-28 02:43] gnakm commented on #1549
Closing because we are standardizing borderless tables.

[2016-07-28 02:43] #1549 closed

[2016-07-28 03:27] koconnor719 commented on #2621
@akainic  this can wait until tomorrow:)  can you pls have team test this out tomorrow to see if any issue...

is this an accurate statement--we never say "apply again later" right???:

Thank you for your feedback.  Was this on the health care application? Our team will look into this in detail, but we haven't been able to recreate this error--and that's not a message we have on vets.gov "apply ag

[2016-07-28 15:15] #2602 closed

[2016-07-28 17:49] webinista opened #2622 "[Rx] Import menu.js, Veterans Crisis Line script from vets-website"
Related to #2602.

Affected by: Build process concerns. Can copy over from vets-website. But should really use files files from that repo instead.

[2016-07-28 19:02] alexose commented on #2584
HCA accomplishes this by using `<div>` elements + the grid system.  This one looks more like a real `<table>` to me, since the data is tabular.

Factoring in accessibility, I think building a desktop-friendly "table" view and a mobile-friendly "list" view (and loading them conditionally) will probably be the least amount of heartbreak.

One thing I wonder is whether or not it's okay that we lose t

[2016-07-28 19:22] webinista opened #2623 "[Rx] Remove Redux for now."
Decided in 2016-06-28 standup to remove redux until it's decided that the project needs it.

Related to #2601.

[2016-07-28 19:25] webinista commented on #2584
@alexose I have a vague memory of it not being very hard to restyle a table and its cells by applying `display: block` to td, th, and tr elements. Experiment with that, maybe?

[2016-07-28 19:30] alexose commented on #2584
I keep forgetting it's 2016 and stuff like that actually works now :)

[2016-07-28 19:38] koconnor719 commented on #2621
posted and closed:

Thank you for your feedback. We are sorry to hear that you were not able to submit your application. We are working on launching enhancements that will let Veterans save an application as you fill it out in the near future. Our team retested this and was able to submit applications after receiving your message, so the application is working. We will continue to investigate why

[2016-07-28 19:38] #2621 closed

[2016-07-28 21:53] #2623 closed

[2016-07-28 22:46] rcarthur commented on #2606
recommended feedback  @koconnor719
---------------
Thank you for your feedback. You must be hospitalized for at least 21 days to qualify for a temporary rating in connection with a surgery involving a service-connected disability. It is possible for a claim to expedited in financial hardship situations. A VA employee in your region can assist. Check this page for contact information - https://www.

[2016-07-28 23:25] #2616 closed

[2016-07-29 15:17] alexose commented on #2584
I dropped in [reactable](https://github.com/glittershark/reactable) as a placeholder until we hook this up to the actual API.

[2016-07-29 16:02] usds-bot opened #2624 "UserVoice Idea: Printing problem"
I just used the VA website to sign up for VA benefits and was impressed with the layout and design.  It worked very, very, well.  The only problem I had was at the very end, when I attempted to print the confirmation page.  It was readable only as a text file.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15460326-printing-problem

[2016-07-29 16:57] Drakenhart commented on #2584
I was looking into this well, but came across a clash between using tables and styling them versus using div-soup and adding a class to make it read like a table. After a bit of research it seems that you'd want to keep the table a table if at all possible.

There are many reasons for this. It reduces code that would otherwise need to be added to make divs act like tables for accessibility needs,

[2016-07-29 18:02] konklone commented on #589
Just a ping on this, as HSTS preloading vets.gov will declare the whole domain "done" and reduce compliance/configuration burden on the whole domain space in the long run.

[2016-07-29 18:59] ayaleloehr commented on #589
cc @ShawnArnwine for prioritization and @knkski @jkassemi @joduinn for awareness.

[2016-07-29 19:05] #2617 closed

[2016-07-29 19:07] webinista opened #2625 "[Rx] Use vets-website version of menu, veterans crisis line trigger scripts"
See #2622

[2016-07-29 19:11] koconnor719 commented on #2624
@akainic is this supposed to happen:)

[2016-07-29 21:39] webinista opened #2626 "[Rx] Replace .rx-prescription-button with .usa-button classes"
Blocked by: unified repo work

[2016-07-29 22:36] webinista opened #2627 "[Rx] PrintableView component?"
The idea from the design team is that these links will open a print-ready view of either 6 months, past year, or all prescriptions.

![screen shot 2016-07-29 at 3 31 10 pm]
(https://cloud.githubusercontent.com/assets/354277/17265176/997d6f0e-55a1-11e6-9c7d-74ef958e69e5.png)

This presents a technical challenge, particularly for _all_ prescriptions. The history could be quite long and take a while

[2016-07-29 22:39] webinista commented on #2626
Closing this since it was a quicker fix than I though. It's rolled into department-of-veterans-affairs/rx#10

[2016-07-29 22:39] #2626 closed

[2016-07-29 22:44] webinista commented on #2576
Status: Work is in progress. Still needs:

1. API data
1. Refill Prescription actions

[2016-07-29 22:50] webinista opened #2628 "[Rx] Refine ActivePrescriptionsPage for mobile"
- [ ] Cards should stack vertically below `$small-screen` breakpoint (removing `small-2` should fix)
- [ ] Remove `hr` in favor of restyled `h3` heading elements
- [ ] `rx-prescription-count` falls outside of the box on small screens
![screen shot 2016-07-29 at 3 53 41 pm](https://cloud.githubusercontent.com/assets/354277/17265547/bd881824-55a4-11e6-9510-57de0f9b760b.png)

Blocks #2575, #2576

[2016-07-29 22:51] ayaleloehr commented on #2627
Agree this should be delivered from the API. That's not there today though, so we'll have to figure out how to add this. Will scope it out on Monday. Thanks for mentioning early on in the build process @webinista!

[2016-07-29 23:03] webinista opened #2629 "[Rx] MyOrdersPage component"
**Loose specs**

- *Recent Orders* section should be undelivered packages
- *Order History* section should be delivered packages.

Question that's still outstanding: How do we display packages that can't be tracked?

**Prototypes**
- [Desktop](https://marvelapp.com/276d4he#13751382)
- [Mobile](https://marvelapp.com/277c9c1#13754484)

[2016-07-30 02:09] webinista commented on #2581
This is in progress. Need to add a `closeModal` method, and a method that adds the refill to the cart.

[2016-07-30 02:14] webinista opened #2630 "[Rx] ConfirmRefillModal flow"
Related to / blocked by #2581, blocks #2575.

When the user clicks the "Confirm refill" button to confirm their refill order:

1. [x] The "Confirm refill" modal should close
1. [x] AlertBox should be displayed, confirming this action.
1. [ ] Count should be decremented by 1
1. [ ] Prescription requested should update to the "Refill requested" state

Blocked by #2572

[2016-08-01 14:47] ayaleloehr commented on #2627
@webinista when you say "delivered by the API", are you meaning the API returns an actual file that will be downloaded, or something else?

@gnakm do we know what the UX is supposed to be when someone clicks Print?  Should it go to a new page or pop a new tab or download a file or other?

[2016-08-01 15:49] webinista commented on #2627
@ayaleloehr My assumption is that the link would:

- Open a new window with a print-friendly, HTML version of the information requested.
- Launch a print dialog

The deciding factor is whether that page can be generated client side _and printed_. I don't know how well browsers handle printing single page application states. (But I can look into it.)

If it _can't_ be printed, then we need to consi

[2016-08-01 15:52] U-DON commented on #2627
Something I found when considering how this would work was jsPDF (http://jspdf.com/). It looks like it would be able to generate a PDF client-side using a selector for a DOM element in the current document.

[2016-08-01 15:59] carlmjohnson commented on #2627
I've had good experience with http://www.princexml.com for making PDFs of HTML/CSS.

[2016-08-01 16:06] crwallace opened #2632 "Complete Interface Audit for vets.gov"
This should be similar to a content inventory, only instead of sifting through and categorizing content, please take stock and categorize the components making up our website and apps.

Let us know what is different, not-working or not on brand.

[2016-08-01 16:12] webinista commented on #2627
These are good options if an HTML view does not print well.

[2016-08-01 16:21] crwallace opened #2633 "[508] Address issues from 08/01/2016 Scan"
Use the file below to work through 508 compliance issues:

[08_01_16_vetsdotgov_508.xls.zip](https://github.com/department-of-veterans-affairs/vets-website/files/394270/08_01_16_vetsdotgov_508.xls.zip)

[2016-08-01 18:17] gnakm commented on #2627
Tiffany explained well that is expected in terms of the flow,  New Window + print dialog

[2016-08-01 22:58] webinista opened #2634 "Change Veteran's Crisis Line mobile trigger from `a` to `button`"
Most screen readers announce links as links, which can be confusing. This would be better as a `button` element

Code in question is in `_includes/footer.html`. Change

`<a href="#modal-crisisline" class="va-crisis-line va-crisis-line--touch va-overlay-trigger">Get help from Veterans Crisis Line</a>`

to:

`<button data-show="#modal-crisisline" class="va-crisis-line va-crisis-line--touch va-overla

[2016-08-02 02:24] ayaleloehr commented on #2627
We have heard commonly enough from Veterans that they want to be able to print their medication list that I think this is an important feature for the MVP.

I have been thinking of the vets.gov API as always returning JSON, not HTML, so I am thinking that figuring out how to do this client side will be the best way to go.

With that, an API route will need to be created to filter by date in the wa

[2016-08-02 03:22] akainic commented on #2624
@koconnor719 Not sure what this user was seeing. If they were referencing the confirmation page of HCA, I tried testing printing it and the print view does show the confirmation information. We don't have a print feature, but that is in the queue to build before the end of the year.

[2016-08-02 16:16] webinista commented on #2582
This is the only instance of a button group in the entire application. We don't need a separate component.

[2016-08-02 16:16] #2582 closed

[2016-08-02 19:58] #2588 closed

[2016-08-02 20:36] usds-bot opened #2635 "UserVoice Idea: Listing Accurate Tuition Costs for Military Friendly Colleges"
Hello,

I work for Wisconsin Lutheran College. We are a military friendly school and under the GI Bill Comparison tool the tuition cost for our traditional daytime classes is listed but not the tuition cost for our night and online options and graduate programming.

I would be more than happy to share updates with the appropriate parties to get this information updated.

http://veterans.uservoice.

[2016-08-03 13:57] ayaleloehr opened #2637 "Maintenance mode page is outdated"
It's still in production, but outdated. Can we get this updated?  https://www.vets.gov/maintenance.html

We will need to put up this page when we move VEC from AWS East to GovCloud, which we're hoping to do ASAP.

cc @maryannbrody

[2016-08-03 13:59] ayaleloehr commented on #2637
Or is this what we want it to look like?  If so, that's fine too. but definitely wanted to check!

[2016-08-03 14:46] crwallace opened #2638 "Update 404 Page"
We can use the mockups that exist in the following PR:

https://github.com/department-of-veterans-affairs/vets.gov-design/pull/39

[2016-08-03 15:02] bshyong commented on #2633
I'll get on this. By any chance do we have a list of the URLs that are flagged? I went through the spreadsheet and there are a few standards that might be difficult to track down, for example:

![image](https://cloud.githubusercontent.com/assets/303289/17370334/81647888-5950-11e6-8175-df724f5c8ff1.png)

[2016-08-03 15:33] crwallace commented on #2633
@bshyong -- This is a better document with all of the URLs.

[08_03_16_vetsdotgov_508_violation.xls.zip](https://github.com/department-of-veterans-affairs/vets-website/files/399770/08_03_16_vetsdotgov_508_violation.xls.zip)

These are all of the actual violations that we need to address right now, but we also have potential violations that I would love if @melwoodard would take a look at and provi

[2016-08-03 16:21] #2628 closed

[2016-08-03 17:14] #2577 closed

[2016-08-03 18:53] alexose opened #2639 "Hook up API"
We should probably start developing against the actual API sooner than later.

To make our lives easier as frontend devs, I would suggest we route all requests to the API server running on Amazon:

https://dev.vets.gov/prescriptions-api

Assigning myself!

[2016-08-03 21:52] crwallace commented on #2637
This is def not what we want it to look like. I will check in with Mel
about getting something better up. What is your best guess timeframe on
moving to GovCloud?

On Wed, Aug 3, 2016 at 12:14 PM Alex Yale-Loehr <notifications@github.com>
wrote:

[2016-08-04 01:15] usds-bot opened #2647 "UserVoice Idea: Know your Veterans Healthcare Rights."
http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15533352-know-your-veterans-healthcare-rights

[2016-08-04 04:13] ayaleloehr commented on #2637
@crwallace we will be deploying mid day Monday 8/8.

[2016-08-04 05:31] saneshark commented on #2627
I definitely agree that the API should only be expected to return JSON, and not files or other data-types. Stumbled across this link which might prove useful.

https://fraserxu.me/2015/08/20/pdf-generation-on-the-web/

[2016-08-04 10:22] usds-bot opened #2649 "UserVoice Idea: I really need to get VA insurance"
I need to get VA insurance

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15540423-i-really-need-to-get-va-insurance

[2016-08-04 14:18] crwallace opened #2650 "Footer gap on short content pages"
This issue impacts all pages with short content on large screens.

Gap between feedback ribbon and bottom of browser window:
![9b2641ec-59a6-11e6-8039-dbb9021e0e8a](https://cloud.githubusercontent.com/assets/3453669/17405215/af7faf12-5a2c-11e6-8863-ed13e3001b46.png)

[2016-08-04 15:13] webinista opened #2651 "[Rx] Remove Orders tab, route"
Instead of a single orders page with all refills. Latest mocks feature a single drug's order history on the drug detail page. Can remove that tab, page, and route.

- [ ] Also change "Active" tab text to "Refill Active Prescriptions"
- [ ] Change "Rx History" tab text to "View Prescription History"

[2016-08-04 16:43] webinista commented on #2584
In the [latest mocks](https://marvelapp.com/1h10heg#14227014) the fields have changed a bit.

[2016-08-04 16:47] alexose commented on #2584
Thanks for the heads up @webinista!

[2016-08-04 16:53] webinista opened #2653 "[Rx] ActivePrescriptionsSort component"
Should re-sort ActivePrescriptions list based on Prescription name, Facility name, or Last Requested (not last-refilled) date.

<img width="482" alt="screen shot 2016-08-04 at 9 51 44 am" src="https://cloud.githubusercontent.com/assets/354277/17410563/2340375e-5a29-11e6-8d80-532e025433a8.png">

<img width="228" alt="screen shot 2016-08-04 at 9 52 31 am" src="https://cloud.githubusercontent.com/ass

[2016-08-04 16:55] #2572 closed

[2016-08-04 17:05] bshyong commented on #2633
Thanks for the resources.

Question:
For fixes that require content, is it okay to take my best guess or do we need people to double check content?
e.g. image alt attributes, tooltips

[2016-08-04 17:06] ayaleloehr commented on #2653
If active prescriptions are on multiple pages, then I believe re-sorting would have to happen via an API call, as we would want to sort on the whole data set and not just on the current page. Yes?

[2016-08-04 17:17] webinista commented on #2653
I think Active Prescriptions are only shown on the _Refill Active Prescriptions_ page. That's what it looks like in the latest prototype.

[2016-08-04 17:27] ayaleloehr commented on #2653
@gnakm on the Refill Active Prescriptions page, are all the active prescriptions shown, or just like the first X active prescriptions with links to more pages?

[2016-08-04 17:33] #2638 closed

[2016-08-04 18:45] melwoodard commented on #2633
@bshyong I took a pass through the violations, here's what I think we can improve on the visual side:

1. Change text link color from #0071BC to #0058A6
2. Change buttons with a background-color of #0071BC to #205493 (about 25% of buttons already use this color). FYI, looks like most buttons are <a> elements, but a few came up in Employment (Skills translator, Résumé builder) that are <span> or <i

[2016-08-04 19:07] webinista commented on #2629
Latest mockups considerably revamped this feature.

[2016-08-04 19:07] #2629 closed

[2016-08-04 19:19] bshyong commented on #2633
Thanks for this @melwoodard. I'll make those changes

[2016-08-04 19:59] #2651 closed

[2016-08-04 20:31] Drakenhart commented on #2633
@melwoodard @bshyong Might I suggest increasing the font size and boldness? It only fails if it is "normal text sized" but passed if the text is larger. Also a suggestion to add a bit more letter spacing between the letters as well.

That should solve that point for the search button in the header. :)

[2016-08-04 21:28] webinista commented on #2591
Looks like we can solve this with Reactable and the `usa-table-borderless` class.

[2016-08-04 21:35] melwoodard commented on #2633
Thanks for the suggestions @Drakenhart! The text links are typically inline links in body paragraphs, so I think our best course of action there is the color change (it's quite minor), rather than break up the flow of a paragraph with bolder/larger link text.

Good point on the search button - the font-size here is actually smaller than what's in our guidelines for large buttons. @bshyong if you b

[2016-08-04 21:40] webinista opened #2655 "[Rx] PrintActive component"
Blocks #2575

Launches printable view of ActiveRefills page.

Print-only styles and `window.print()` should work.

[2016-08-04 21:46] webinista commented on #2655
Nevermind. Already completed in #2588.

[2016-08-04 21:46] #2655 closed

[2016-08-04 23:24] webinista commented on #2587
This pattern was removed in [latest mocks](https://marvelapp.com/1h10heg).

[2016-08-04 23:24] #2587 closed

[2016-08-04 23:27] webinista commented on #2579
@gnakm @goldenmeanie Am I correct that this component has been removed from the project? Can this issue be closed?

[2016-08-05 01:51] webinista commented on #2590
@U-DON It looks like you took care of this when you built #2572 (the AlertBox component). If that's the case, please close this ticket.

[2016-08-05 01:59] webinista commented on #2591
Re-opening because this does still affect the PrescriptionDetailPage.

[2016-08-05 03:05] bshyong commented on #2633
I'm going to tackle vets.gov website changes in this PR, and open other ones in their respective repos.

[2016-08-05 04:18] ayaleloehr commented on #2637
Just want to make sure this doesn't get lost in the shuffle. And saw @bshyong doing some 404 work today, which I believe is likely similar, so tagging for awareness.

[2016-08-05 11:40] crwallace commented on #2637
Yes this hasn't been lost. This will go up today as I am going to use the
same design as we have for the HCA maintenance page.

On Fri, Aug 5, 2016 at 12:18 AM Alex Yale-Loehr <notifications@github.com>
wrote:

[2016-08-05 13:06] crwallace commented on #2633
@bshyong -- For right now you also don't need check in with anyone about content changes. If I think its a major deal I will flag it in review.

[2016-08-05 14:52] crwallace opened #2660 "Remove duplicate headings"
@melwoodard -- Wasn't sure if we saw this duplicate heading. But I am sure that it needs to be removed.

<img width="1436" alt="screen shot 2016-08-05 at 10 48 18 am" src="https://cloud.githubusercontent.com/assets/3453669/17440444/a5c7f744-5afa-11e6-8ce7-8f498221e134.png">

[2016-08-05 15:05] melwoodard commented on #2660
@crwallace definitely, forgot to pull that one out of my list for fixing. All of the exposure site pages have this issue.

[2016-08-05 15:10] crwallace commented on #2660
Sounds good. Just to be clear @melwoodard your recommendation is to pull the gray box heading and leave the other heading?

[2016-08-05 15:20] melwoodard commented on #2660
Correct

[2016-08-05 15:46] #2637 closed

[2016-08-05 16:09] usds-bot opened #2661 "UserVoice Idea: Do we need more doctors or more surgeons?"
How do the VA doctors do it? My prayers and blessings are with them today.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15560643-do-we-need-more-doctors-or-more-surgeons

[2016-08-05 16:19] awong-dev opened #2662 "Switch from Jekyll to Metalsmith"
This will allow a unified frontend build.

[2016-08-05 16:23] awong-dev commented on #2662
Tasks left to do
- [ ] htmlproof replacement
- [ ] move `public/js` into `src/js`
- [ ] move public/* back into `assets` combining with whatever is necessary.
- [ ] review the sass bits.

[2016-08-05 16:30] #2581 closed

[2016-08-05 18:51] webinista opened #2664 "[Rx] Move rx-prescription styles to its own partial"

[2016-08-05 19:20] usds-bot opened #2665 "UserVoice Idea: school incorrectly listed as "private""
The New England Institute of Art is listed on the comparison tool as a private school. This is incorrect. It is a for-profit school.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15562701-school-incorrectly-listed-as-private

[2016-08-05 19:20] usds-bot opened #2666 "UserVoice Idea: testing metalsmith"
testing

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15562650-testing-metalsmith

[2016-08-05 20:44] #2664 closed

[2016-08-07 23:07] MarinaMartin opened #2670 "Team is not being transparent enough"
We should have a blog or wiki or something that explains some of our development practices and decisions. Primary audience is both "future us" and other agencies (federal and otherwise) who may be pursuing similar projects.

Examples might be questions that come up constantly like "What are you doing for rural users?" and perhaps short case studies of each major product.

[2016-08-08 03:08] usds-bot opened #2671 "UserVoice Idea: SEND FAILED"
FOUR TIMES I'VE SUBMITTED MY INFO AND KEEP GETTING: "DUE TO A SYSTEM EROR, WE WEREN'T ABLE TO PROCESS YOUR APPLICATION. PLEASE TRY AGAIN LATER."

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15584520-send-failed

[2016-08-08 13:22] ayaleloehr commented on #2670
Agreed. Per #2613 this shouldn't be on vets.gov, but should be somewhere.

[2016-08-08 17:22] gnakm commented on #2579
@webinista Yes and all icons are removed as well!

[2016-08-08 17:23] #2579 closed

[2016-08-08 17:32] #2578 closed

[2016-08-08 17:44] webinista opened #2673 "[Rx] Updates to Active component"
[Latest mocks](https://marvelapp.com/1h10heg)

- [x] Remove "Not ready for refill" section. All refillable prescriptions will be active and shown.
- [x] Add "Your VA prescriptions were filled at a VA pharmacy ..." note.
- [x] Add sorting component #2653
- [x] Add grouped-by view for Facilities #2710
- [x] Change it to a two-column layout

[2016-08-08 17:58] crwallace opened #2674 "Change all appearances of Helvetica and Roboto Slab to Source Sans Pro"
Exception (for now): Home page "How can we help?" heading

[2016-08-08 18:08] crwallace opened #2675 "Use heading styles consistently based on hierarchy within a page"
e.g. H1, H2, H3, etc.

@melwoodard -- Can you give a little more guidance on this or a style guide-type example of when certain headings should be used so we know which ones to switch.

[2016-08-08 18:09] crwallace opened #2676 "Implement the US web standard style for all primary buttons"
(search tools are particularly non-compliant)

This will require changes in VEC and GI Bill Tool.

[2016-08-08 18:10] crwallace opened #2677 "Use a consistent style for secondary buttons"

[2016-08-08 18:12] crwallace opened #2678 "Apply consistent placement of "Apply for Benefits" buttons above the fold(ish) on core pages"
@maryannbrody -- I know we have had conversations about this before, would love for you and @melwoodard to weigh in so we can have this decision documented at least for now.

[2016-08-08 18:19] crwallace opened #2679 "On content pages, make sure eligibility / "who does this apply to" information is always styled in a callout box"

[2016-08-08 18:19] crwallace opened #2680 "Create a consistent pattern for headings & subheadings inside callout boxes"

[2016-08-08 18:20] crwallace opened #2681 "Select a compliant design for callout boxes"
@melwoodard -- Would love you input on this.

[2016-08-08 18:21] crwallace opened #2682 "Use a consistent heading style for process lists"
@melwoodard -- Can you provide a mockup for this? Just want to know bold vs non bold, spacing, etc.

[2016-08-08 18:21] crwallace opened #2683 "Use the US web design standard dropdown style throughout - no custom dropdowns"

[2016-08-08 18:25] crwallace opened #2684 "Show a checkmark symbol in a selected checkbox"
This will require time other repos in addition to this one

`/healthcare/apply/application`:
https://github.com/department-of-veterans-affairs/healthcare-application

`/facility-locator`
https://github.com/department-of-veterans-affairs/service-and-facility-locator

`/gi-bill-comparison-tool`
https://github.com/department-of-veterans-affairs/gi-bill-comparison-tool

`/employment`
https://github.co

[2016-08-08 18:30] crwallace opened #2685 "Consistent font-size for form labels, e.g. radio button text"
This will require time other repos in addition to this one

`/healthcare/apply/application`
https://github.com/department-of-veterans-affairs/healthcare-application

`/facility-locator`
https://github.com/department-of-veterans-affairs/service-and-facility-locator

`/gi-bill-comparison-tool`
https://github.com/department-of-veterans-affairs/gi-bill-comparison-tool

`/employment`
https://github.com

[2016-08-08 18:30] crwallace opened #2686 "Use a standard error state across vets.gov"
Differing styles appear in the Résumé Builder, Skills Translator

[2016-08-08 18:31] crwallace opened #2687 "Consistent column width on content pages"
(outliers: Agent Orange, Apply for Disability Benefits, Résumé Builder)

[2016-08-08 18:31] crwallace opened #2688 "Ensure list & card navigation elements don't appear together"
(Careers & Employment page)

[2016-08-08 18:33] crwallace opened #2689 "Use consistent language for submit"
"Search" and reset - "Clear search" buttons

[2016-08-08 18:33] crwallace opened #2690 "Use standard text link styles for website / directions links"
remove border

[2016-08-08 18:34] crwallace opened #2691 "Search field should use standard form field with correctly sized font"

[2016-08-08 18:36] crwallace opened #2692 "Implement one consistent table style across the site"

[2016-08-08 18:37] crwallace opened #2693 "Ensure tables display well on mobile"
Text wraps cleanly and has adequate leading and padding to be legible

[2016-08-08 18:37] crwallace opened #2694 "Use a consistent style & format for informational sidebars"

[2016-08-08 18:38] crwallace opened #2695 "Implement a consistent pagination component used by all search tools"
Site search, GI Bill Comparison, Job Search, Employer Commitments, Facility Locator

[2016-08-08 22:38] awong-dev opened #2696 "Use positive filter for files in metalsmith. Probably just .md and .html"
Currently there also seem to be .pdf files being processed by metalsmith. This is weird. We should move those out into assets or something...

[2016-08-09 03:49] #2662 closed

[2016-08-09 14:37] #2625 closed

[2016-08-09 14:57] #2573 closed

[2016-08-09 15:39] webinista commented on #2493
Duplicates #2674.

[2016-08-09 15:39] #2493 closed

[2016-08-10 14:59] maryannbrody commented on #2678
Hi @crwallace and @melwoodard -- I agree that we want this to be more consistent, but I know that the current approach (Call to action/apply button on top right of page in the grey bar) doesn't really test well is usability testing (users miss it), so I would just want to think about what the "consistent placement" is. I would not recommend removing the CTA buttons at the bottom of pages until we

[2016-08-10 15:28] Drakenhart commented on #2678
@crwallace @maryannbrody @melwoodard What if you had the button closer to the content that was talking about the function?

You have the two column side bar for items like "Questions" or "More Information" in your templates, Maybe this could be used as well for a placement for the apply button? Maybe with a short informational blurb under it?

Maybe make on sr-only? Or mobile-only? Or if the page

[2016-08-10 15:38] Drakenhart commented on #2695
@crwallace I think this came up in the US WDS git hub as well. There was a conversation about this point, in consideration that some pagination doesn't fit well with some content types. (Articles vs image gallery)

Also how that would look on mobile as well. ^.^

https://github.com/18F/web-design-standards/issues/959

[2016-08-10 15:39] usds-bot opened #2705 "UserVoice Idea: Out of Country Application"
System will not accept my application from Nova Scotia on line!

Help.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15617337-out-of-country-application

[2016-08-10 19:49] #594 closed

[2016-08-10 23:40] crwallace opened #2706 "Split out app-specific css"
https://github.com/webpack/webpack/tree/master/examples/multiple-entry-points-commons-chunk-css-bundle

[2016-08-11 00:44] #2592 closed

[2016-08-11 13:02] #2650 closed

[2016-08-11 16:51] #2590 closed

[2016-08-11 17:49] melwoodard commented on #2681
@crwallace is there a specific 508 compliance issue for these? Is it the contrast of the light blue background?

[2016-08-11 17:51] usds-bot opened #2708 "UserVoice Idea: Fix the 1010EZ-AD Form"
I do not have an idea, but rather a comment to make about a feature.  When the Healthcare application process moved to Vets.gov it was not available to those applying while on Active Duty.  Then a short time later it showed up in an additional forms area.  However that form is not working at the completion of the form and during the submission part.  Once you check the "Confirm" box and send the f

[2016-08-11 18:30] melwoodard commented on #2677
We should be using the class `.usa-button-outline` seen here: https://standards.usa.gov/buttons/

[2016-08-11 19:35] awong-dev opened #2709 "Should blog posts use permalinks?"
They are inconsistent with other parts of the site.

However, there are external references to these URLs meaning that we can't just change them without breaking other people.

[2016-08-11 19:35] awong-dev commented on #2709
@dannychapman

[2016-08-11 19:39] ayaleloehr commented on #2709
We are supposed to be removing the blog, although this PR probably has enough going on already that I'm not sure adding more to the one you're working on right now is the right play.

https://github.com/department-of-veterans-affairs/vets-website/issues/2613

[2016-08-11 19:43] awong-dev commented on #2709
Thanks for the context. Priority right now is getting master pushable to
production so explicitly deciding now to care about this.

Right now, just trying to reduce deltas from master to production. We can
revisit later.

On Thu, Aug 11, 2016 at 12:39 PM, Alex Yale-Loehr <notifications@github.com>
wrote:

[2016-08-11 20:10] #2594 closed

[2016-08-11 20:28] webinista opened #2710 "[Rx] Sorted by Facility View"
Affected by #2769

### Prototypes

- [Desktop](https://marvelapp.com/1h10heg#14227015)
- [Mobile](https://marvelapp.com/iaa9b9#14368763)

Shows prescriptions grouped by name of the prescribing facility.

Blocks #2575
Related to #2653

[2016-08-11 21:27] awong-dev opened #2711 "Fix metalsmith migration issues and push to production."
Task burndown list:
- [x] Footer issues with seal, logo, feedback tool and crisis line
 - [x] Bring back the VA seal (`.footer-address`)
 - [x] Ensure the crisis line button is removed on mobile
- [x] Fix issue with layouts not being applied
- [x] Links on blog posts at /experience are broken
- [x] Ideally blog post permalinks should match product, or if not, have htaccess redirects
- [x] Ensure a

[2016-08-11 21:28] dannychapman commented on #2711
- [ ] 1. Footer issues with seal, logo, feedback tool and crisis line
- [ ] 2. Links on blog posts at /experience are broken
- [ ] 3. Ideally blog post permalinks should match product, or if not, have htaccess redirects

[2016-08-11 21:33] bshyong opened #2712 "Verify that /help is deprecated"
This file is missing in `master` but exists in `production`. However, there are no pages in `master` that link to this help file.

@crwallace can you verify that this file was intentionally removed? If so feel free to close this ticket.

https://github.com/department-of-veterans-affairs/vets-website/blob/production/help/index.html

[2016-08-11 21:37] awong-dev opened #2713 "Remove default layout"
Having a default layout in metalsmith makes it impossible to push out a bare HTML page. It's also less explicit.  Better to just make us write in the layout for each page explicitly.

[2016-08-11 21:39] bshyong commented on #2712
verified: https://dsva.slack.com/archives/vetsdotgov-ui/p1470951548000355

[2016-08-11 21:39] #2712 closed

[2016-08-12 00:48] bshyong commented on #2711
@dannychapman can you clarify what you mean in the following?

[2016-08-12 00:53] koconnor719 commented on #2708
@markolson can you pls. test this and see if an issue on our end?

@akainic

[2016-08-12 00:55] koconnor719 commented on #2705
@markolson should this be an issue?    @akainic

[2016-08-12 00:56] koconnor719 commented on #2671
can you pls. bring this up at the daily swats?  is the ES system down every day?

[2016-08-12 00:57] koconnor719 commented on #2671
posted:

Thank you for your feedback. That should not be happening, and our team will look into this.

vets.gov team

[2016-08-12 00:58] #2666 closed

[2016-08-12 01:00] koconnor719 commented on #2665
@mphprogrammer is this a patrick data issue?

[2016-08-12 01:01] koconnor719 commented on #2661
Thank you for your feedback.

vets.gov team

[2016-08-12 01:01] #2661 closed

[2016-08-12 01:03] koconnor719 commented on #2649
Thank you for your feedback. What type of insurance are you asking about-- health insurance, life insurance, home insurance, etc.

vets.gov team

[2016-08-12 01:04] koconnor719 commented on #2647
no response.

[2016-08-12 01:04] #2647 closed

[2016-08-12 01:04] koconnor719 commented on #2635
@mphprogrammer is this a patrick data issue?

[2016-08-12 01:05] koconnor719 commented on #2606
posted (thanks @rcarthur !)

Thank you for your feedback. You must be hospitalized for at least 21 days to qualify for a temporary rating in connection with a surgery involving a service-connected disability. It is possible for a claim to expedited in financial hardship situations. A VA employee in your region can assist. Check this page for contact information - https://www.vets.gov/facility-loca

[2016-08-12 01:05] #2606 closed

[2016-08-12 01:08] koconnor719 commented on #1071
@mariana-almeida can we pls. close this?  what is status pls.  if this can't be launched until we have the IA just let me know--i need to post a response to this since it's been a month. thx

[2016-08-12 01:09] mphprogrammer commented on #2665
Yes this is a Patrick data issue  - The VA sends a Weams Extract text file, which Eddie converts to a CSV that is loaded into the data service.

[2016-08-12 01:09] koconnor719 commented on #1473
@rickleegit is this in scope of SFL?  if you do not know, can you pls respond so i can search for answer to respond to this Veteran / user please.

[2016-08-12 01:11] koconnor719 commented on #2564
@ayaleloehr just checking status--should i check w/ jenny directly?  i can't seem to copy her here?

[2016-08-12 01:12] koconnor719 commented on #2624
Thank you for your feedback. You should be able to print the confirmation page information. You will be able to print your entire application once we have our vets.gov account logon available in the Fall 2016.

vets.gov team

[2016-08-12 01:12] #2624 closed

[2016-08-12 01:20] mphprogrammer commented on #2635
This would not be a Patrick data issue per se. The GIBCT does not compute costs for Night/Graduate programs or classes. That information is currently not available in any of the CSVs uploaded to the data service. I don't even know if that information exists, but Patrick would be the authoritative source on that.

Regarding online options, if the vet is taking all/some/no online classes, then the t

[2016-08-12 01:52] webinista opened #2714 "[Rx] Sorted by Facility View"
### Prototypes

- [Desktop](https://marvelapp.com/1h10heg#14227015)
- [Mobile](https://marvelapp.com/iaa9b9#14368763)

Need to show prescriptions grouped by name of the prescribing facility.

[2016-08-12 02:05] webinista opened #2715 "[Rx] RefillPrescriptionButton component"
For use on the Prescription card and the [prescription detail page](https://marvelapp.com/1h10heg#14227011).

Suggested way to work is to use a `button`, but set class list of `usa-button` or `usa-button-unstyled rx-refill-trigger` based on where it's being used. Probably a `mode` prop kind of thing.

[2016-08-12 02:44] bshyong commented on #2711
Hey all, I think I've fixed all of the issues in the list. The only remaining issues are the two that I don't understand.

Also, @awong-dev do you know who added the task for "Ensure the crisis line button is removed on mobile"? I removed it, but wanted to confirm that it was intended. There's a mobile friendly yellow button and mobile friendly modal that shows up on mobile only; based on that tas

[2016-08-12 03:20] akainic commented on #2708
Sounds like maybe one of the redirects was not taken down that should be in order for this form to work. Unfortunately I can't test on my personal machine because it won't even let me open that form, but I'll test once in the office tomorrow on the PC in the back.

[2016-08-12 03:23] akainic commented on #2705
@koconnor719 I'm confused. Canada is definitely an option in the country dropdown field for address, and Nova Scotia is an option in the state dropdown. Not sure why this user was having problems with this.
<img width="602" alt="screen shot 2016-08-11 at 11 23 01 pm" src="https://cloud.githubusercontent.com/assets/3886085/17612009/9e7cf564-601a-11e6-879a-ae9c2ce615c4.png">

[2016-08-12 07:33] awong-dev commented on #2711
Nice!

`Ensure all differences in file lists are shown.` means when you diff the lists of files in the jekyll build vs the metalsmith build, all the changes make sense.

I added one more, relatively nasty, bug. AFAICT, there's no direct way in metalsmith to fix this. I think we have to write a custom plugin...

[2016-08-12 07:57] awong-dev commented on #2711
Nevermind.I think I was wrong. I'm too tired. Signing off for the night.

[2016-08-12 08:06] awong-dev commented on #2711
`og:url` is not being set.

[2016-08-12 10:30] rickleegit commented on #1473
Letting you know I received this. This is not in scope for the first release, however I believe there is an existing tool for this. Let me see if I can dig it up.

--
Rick Lee
Digital Service Expert
US Digital Service at the White House
(202) 549-9087 (call or text)

-----Original Message-----
From: koconnor719 [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, August 11,

[2016-08-12 11:34] koconnor719 commented on #2705
Cool! Thx I'll respond w this info!!

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, August 11, 2016 11:24 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Ide

[2016-08-12 11:35] koconnor719 commented on #2708
Ahhh so this isn't us?!? I think Marina was working on this last redirect ...

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, August 11, 2016 11:20 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Comment
Subject: [EXTERNAL] Re: [department-of-vet

[2016-08-12 13:07] Drakenhart commented on #2715
@webinista Is it something that submits a form? (button)  Or is it something that links to a new page which hosts a form? (link) I think answering those might help answer this. :)

[2016-08-12 13:10] Drakenhart commented on #2714
@webinista I like this personally, but I was curious - why not display them as DT lists (see Panel Filters Page Template - https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/)?

Trying to sort out the design patterns I see, and was wondering about the logic/process behind doing it this way?

[2016-08-12 13:48] dannychapman commented on #2711
@bshyong Typo - I meant should match production, not product. The blog links: 1. Do not match up, and two, do not work from the blog post titles on /experience. If you can fix that, and @awong-dev 's og:url issue, I think we are in good shape to push to production.

[2016-08-12 13:50] dannychapman commented on #2711
Also, @awong-dev @crwallace for the footer bar, should we remove the feedback URL from the bottom bar? The rest of it looks good.

[2016-08-12 14:15] carlmjohnson commented on #2711
Nit: htaccess is an Apache-ism, and AFAICT, we're not using Apache, so we'll need another method for doing redirects if there's a page that needs redirecting.

[2016-08-12 14:16] dannychapman commented on #2711
@carlmjohnson good to know, thanks!

[2016-08-12 14:27] akainic opened #2716 "Create initial directories for education form"

[2016-08-12 15:58] melwoodard commented on #2711
@bshyong I added the task to remove the crisis line button - since we're removing on desktop, I think it was just an oversight that the mobile version of the button wasn't removed. You may want to confirm with @crwallace or someone else who was involved in that decision.

[2016-08-12 16:15] mariana-almeida commented on #1071
We have a place in the IA to place this one. @bethpotts and I are working on it. It's in staging. Here's the GH for tracking: https://github.com/department-of-veterans-affairs/vets.gov-content/issues/10#issuecomment-238340957

[2016-08-12 16:15] awong-dev commented on #2711
@melwoodard how certain are we that we should remove it?  If we don't have a definitive answer, for this push, we should bias towards matching what's currently deployed and just opening an issue to fix after we get production matching master.

[2016-08-12 16:19] melwoodard commented on #2711
@awong-dev agreed, I'll open a separate issue.

[2016-08-12 16:24] melwoodard opened #2717 "Remove crisis line button from footer on mobile"
@crwallace with the feedback / crisis line footer removed on desktop, can you confirm the crisis line button and overlay should also be removed on mobile?

<img width="399" alt="vets_gov_and_new_issue_ _department-of-veterans-affairs_vets-website" src="https://cloud.githubusercontent.com/assets/4106356/17629245/4c737a82-606e-11e6-95dd-04d82d3e23ec.png">

[2016-08-12 17:48] webinista commented on #2714
Whoops. Duplicate of #2710. This is what happens when you have too many tabs open at once.

[2016-08-12 17:48] #2714 closed

[2016-08-12 18:24] awong-dev opened #2719 "Header incorrect sets og:type to article"
[code]

in `content/includes/header.html` seems wrong. I think it should always be website or at least not keyed off the presence of title which is true always.

[2016-08-12 18:25] awong-dev commented on #2719
Passing to Danny for triage. (tick-tocking danny and courtney now)

[2016-08-12 19:03] carlmjohnson commented on #2719
http://ogp.me/#types has good info about the meaning of the tags. An article, unlike a website, has a `published_time` and `author`s, but those don't apply to vets.gov, so I think it's a website.

[2016-08-12 19:04] melwoodard commented on #2675
There are 3 distinct steps needed here to get things normalized and up to speed:

- [ ] Make sure *all* heading elements use the same set of styles across vets.gov. There are conflicting font-size attributes for H3-H6 between the different apps.

*Note: this should only apply to the core content area of a template. Things like list nav headings should stay as-is.*
- [ ] Once there is one global se

[2016-08-12 19:05] melwoodard commented on #2675
Make sure all H3-H5 elements use these styles across the board on vets.gov:

[code]

[2016-08-12 19:15] melwoodard commented on #2675
![headings-content-template](https://cloud.githubusercontent.com/assets/4106356/17634235/7cbe3408-6086-11e6-95a9-3ea9a0950f01.png)

[2016-08-12 19:18] melwoodard commented on #2682
Spacing didn't seem to be an issue for this case, just font size/weight. The styles outlined here should match up with the heading styles implemented in #2675

![headings-process-list](https://cloud.githubusercontent.com/assets/4106356/17634262/9fbeacda-6086-11e6-8264-f3189e2e24e8.png)

[2016-08-12 19:19] webinista commented on #2715
Can probably repurpose `<SubmitButton>` in both places.

[2016-08-12 19:35] #2593 closed

[2016-08-12 19:58] awong-dev opened #2721 "/memorial-benefits/* is disabled?"
This seems to be some vestigial part of the website in the original source tree. It was marked as disabled in jekyll.

I've moved the files over but have told metalsmith to NOT process them. Can someone verify if this content is supposed to be on our site or not?

[2016-08-12 20:34] awong-dev opened #2722 "blog permalinks incorrectly make a directory with an index.html"
Currently metalsmith builds blog entries files like:
  build/development/2015/11/11/why-we-are-designing-in-beta.html/index.html 

This manages to work okay, but is in fact sorta broken.

[2016-08-12 20:35] melwoodard commented on #2680
The mockup below outlines use cases for headings in the context of a callout box. A couple things to note:

- H3's in callout boxes are most commonly some form of "Are you eligible?" and "Who is covered"
- Use of H6 will be rare, like calling out an eligibility exception

The styles outlined here should match up with the heading styles implemented in #2675

![headings-callout-box](https://cloud.gi

[2016-08-12 20:55] webinista commented on #2601
Closed with department-of-veterans-affairs/rx#27 (commit department-of-veterans-affairs/rx@4ada2454decf834548e563d7f8c440b349fff070)

[2016-08-12 20:55] #2601 closed

[2016-08-12 20:55] #2715 closed

[2016-08-12 21:40] joduinn commented on #2717
@melwoodard I'm confused by your comment above. I still see the "Get help from Veterans Crisis Line" button at the bottom of the screen on my laptop. Maybe this change is landed but not yet deployed?

Also, is this work related to the proposal in #2500 about moving button from footer to top of screen?

[2016-08-12 22:00] melwoodard commented on #2717
@joduinn this was on staging - we got confirmation that the footer should in fact stay, so I'll close this one out.

[2016-08-12 22:00] #2717 closed

[2016-08-12 22:19] melwoodard commented on #2632
Interface audit findings can be found here: [https://github.com/department-of-veterans-affairs/vets.gov-frontend/tree/interface-audit/docs/interface-audit](https://github.com/department-of-veterans-affairs/vets.gov-frontend/tree/interface-audit/docs/interface-audit)

[2016-08-12 22:19] #2591 closed

[2016-08-13 00:14] melwoodard commented on #2686
Proposed fix for Résumé Builder:

- [ ] Remove error message banner that appears at the top of the form
- [ ] Use [US web standard](https://standards.usa.gov/form-controls/#text-input) `.usa-input-error`, the same as the [Healthcare Application](https://www.vets.gov/healthcare/apply/application/veteran-information/personal-information)

Proposed fix for Skills Translator:

- [ ] Remove error messa

[2016-08-13 03:12] koconnor719 opened #2727 "link to "work in progress" is incorrect"
this link was going to Sec Bob's blog post
![screen shot 2016-08-12 at 11 10 46 pm](https://cloud.githubusercontent.com/assets/13770771/17641144/076f2c0a-60e2-11e6-8d1c-f7e2eae2590a.png)

now it's going to the playbook page?  https://www.vets.gov/playbook/design/ which is an error (i think?); it should still be going to sec bob's blog https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta.ht

[2016-08-13 03:14] koconnor719 opened #2728 "Need a manager / owner of the vets.gov website backlog"
This backlog is trending up quickly; need to assign a person to own and manage getting this list down; team should discuss owner / accountability for this list.  some items from 2015.

[2016-08-13 03:19] #2728 closed

[2016-08-13 03:26] koconnor719 opened #2729 "page not found for Sec Bob link in footer"
link in footer to "message from the secretary" is page not found.

![screen shot 2016-08-12 at 11 23 21 pm](https://cloud.githubusercontent.com/assets/13770771/17641209/0a3ed226-60e4-11e6-8d69-b8695ed65f90.png)

@awong-dev not sure if this is a result of today's push?  and not sure whom to assign. link should go to this blog post:  https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta.html

[2016-08-13 05:10] #2729 closed

[2016-08-13 06:30] awong-dev opened #2732 "pension/ and pension/family are completely broken..."
This was true on the old site as well. It seems to be left over from a much older version of vets.gov?

I tried briefly to make it look readable but then found out that nothing on vets.gov linked to these two. Leaving it alone for now, but these pages either need to be fixed or removed.

[2016-08-13 06:30] awong-dev commented on #2732
Assigning to kelly for triage since I can't even tell if this is valid content.

[2016-08-13 12:23] koconnor719 commented on #2732
albert can you provide a link?  i don't know which pages:)  i searched "pension" on vets.gov but got no results for a pension page:)  ric arthur can validate if it's a valid content page.

[2016-08-13 12:28] koconnor719 commented on #2732
Thx!!

Sent with Good (www.good.com)

-----Original Message-----
From: Albert J wong [notifications@github.com<mailto:notifications@github.com>]
Sent: Saturday, August 13, 2016 02:30 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Assign
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] pension/ and pension/family are completely

[2016-08-13 20:27] awong-dev commented on #2732
http://www.vets.gov/pension
http://www.vets.gov/pension/family

[2016-08-14 03:51] awong-dev commented on #2711
Production is pushed. Closing issue.

[2016-08-14 03:51] #2711 closed

[2016-08-14 21:44] ayaleloehr commented on #2564
@jenny-h-l helped get some of the missing VHA facilities added, but this user is asking about VBA facility; an email is out to Mike Carr to help resolve this, but it has not yet been fixed.

[2016-08-14 22:49] beckah commented on #2689
Hello! Wanted to contribute and I thought this might be a start (hope that's alright!)

Where are the button assets currently located? Is there any kind of wiki that has a description of the folder structure?

[2016-08-15 13:57] dannychapman commented on #2732
@rcarthur Do you know the history of these pages? They appear to be orphaned, or stubbed out pages to me.

[2016-08-15 14:14] crwallace commented on #2727
@koconnor719 @maryannbrody -- This has never been linked to sec bob's blog post.

These are the changes to the banner.

[Link added to banner -- Github url](https://github.com/department-of-veterans-affairs/vets-website/commit/8130249b6e099ce67be5dd9e87b04e7100c718b9#diff-822e9cf54ee310f9a7ebd0d16c9ae066)

[Link changed to playbook url](https://github.com/department-of-veterans-affairs/vets-websit

[2016-08-15 14:51] koconnor719 commented on #2732
yep these should def be deleted:)  can someone delete? @maryannbrody @dannychapman

<img width="1358" alt="screen shot 2016-08-15 at 10 50 27 am" src="https://cloud.githubusercontent.com/assets/13770771/17668183/1ff5e264-62d6-11e6-9b04-ffe2b28b8ffb.png">

[2016-08-15 15:22] crwallace commented on #2727
If you want this link to be sec bob's blog post, should I ignore #2613 where we want to remove the blog from the site entirely?

[2016-08-15 15:24] koconnor719 commented on #2727
it was always sec bob's blog--when did it get changed to the playbook?

[2016-08-15 15:28] crwallace commented on #2727
@koconnor719 -- I looked through the history on github and I didn't see anytime that it was ever sec bob's post. According to github it has been directed to the playbook since Nov 16, 2015 and before that it was directed to `github.com/department-of-veterans-affairs/vets-website/`. I know `Message from the Secretary` in the footer goes to his post.

[2016-08-15 16:29] koconnor719 opened #2736 "Comms Plan"
working w/ jeff sartori on stakeholder comms plan for launch

[2016-08-15 16:30] crwallace commented on #2613
@koconnor719 -- Is this still relevant? Should we remove the blog?

[2016-08-15 16:30] koconnor719 opened #2737 "Comms plan"
working w/ jeff sartori on comms plan for launch

[2016-08-15 16:33] koconnor719 commented on #2613
we made that decision about 3  weeks ago--so i'd say yes if @maryannbrody @staceylanger @plusjeff are ok w/ removing it?  we need to keep sec message somewhere.

i don't think this is urgent--but def part of the site redesign you guys are doing.   so whenever the timing makes sense.  what do you think?  also, i think we might want to check w/ martin too?  i have not yet, but can do that today.

[2016-08-15 17:32] crwallace commented on #2722
@dannychapman -- should the blog entries be `/2015/11/11/why-we-are-designing-in-beta.html ` or can they be `/2015/11/11/why-we-are-designing-in-beta/ `?

[2016-08-15 17:35] dannychapman commented on #2722
I prefer the latter, but I think it's important we handle redirects.

[2016-08-15 18:05] crwallace commented on #2722
@dannychapman -- Just to be clear `/2015/11/11/why-we-are-designing-in-beta/` is what we are aiming for?

[2016-08-15 18:06] dannychapman commented on #2722
Yep, provided we handle redirects from the old urls.

[2016-08-15 18:07] MarinaMartin commented on #2613
👍

[2016-08-15 18:07] staceylanger commented on #2613
Good to be removed. Thanks!

[2016-08-15 19:17] crwallace commented on #2689
@beckah -- we are working off of this list that was compiled from the interface audit documented [here](https://github.com/department-of-veterans-affairs/vets.gov-frontend/tree/interface-audit/docs/interface-audit).

Looking through all of these docs might provide more clarity.

[2016-08-15 19:18] crwallace commented on #2689
I think we are also waiting for more direction from @melwoodard.

[2016-08-15 19:24] #2722 closed

[2016-08-15 19:24] #2727 closed

[2016-08-15 19:42] crwallace commented on #2696
@awong-dev -- This was taken care of here:

https://github.com/department-of-veterans-affairs/vets-website/blob/master/script/build.js#L156

correct?

[2016-08-15 19:44] crwallace commented on #2681
@melwoodard -- the issue is that when the callout boxes have links, the contrast is not strong enough and then compliance fails.

[2016-08-15 20:20] crwallace commented on #2686
@melwoodard & @bshyong -- I like the single-column approach for now as it does create consistency between "forms" on vets.gov. I do think we should take some more time later to revisit the design of these apps, but in the short term this is a great solution.

[2016-08-15 20:23] crwallace commented on #2680
Would love some light feedback from @dannychapman since he is working with the content team on design. Let us know if there are any glaring issues with this and if this seems like the correct implementation based on the content we create for these boxes.

[2016-08-15 20:27] beckah commented on #2689
@crwallace oh! :+1: looks like the issues are documented [https://github.com/department-of-veterans-affairs/vets.gov-frontend/blob/interface-audit/docs/interface-audit/07-search.md](here)

I'll make a branch and make the search button after search is preformed match that of the search button before the search is performed, unless there is additional direction from @melwoodard

[2016-08-15 21:14] Drakenhart commented on #2681
@crwallace @melwoodard If bolding it doesn't work, maybe make it the darker blue when in a call out box? Or if that is not doable, maybe change it to a darker gray? These are colors you already have in your palette.

If that doesn't work maybe consider adding one more color to the palette as a secondary link color?

[2016-08-15 21:18] melwoodard commented on #2689
@beckah if you look [here](https://github.com/department-of-veterans-affairs/vets.gov-frontend/blob/interface-audit/docs/interface-audit/01-global-themes.md#search-tools) under the "Search button language" and "Reset button" bullets, you'll see the different types of language being used for these buttons. The issue you're referring to is separate (not sure if we're tracking it yet on GH) - for thi

[2016-08-15 21:33] #2595 closed

[2016-08-16 00:43] beckah commented on #2689
@melwoodard

should the search buttons be revised to have broad or specific text?

Should the reset buttons be uniform to say "clear search" or "reset search"?

[2016-08-16 01:13] #2639 closed

[2016-08-16 01:16] webinista commented on #2585
Going to take this on, at least the CSS and HTML portions of it. Might take the API integration portion too, depending on how much progress you made @alexose.

[2016-08-16 03:36] ayaleloehr commented on #2737
Wrong repo. Was also opened in correct one so closing here.

[2016-08-16 03:36] #2737 closed

[2016-08-16 03:37] ayaleloehr commented on #2736
Wrong repo. Was also opened in correct one so closing here.

[2016-08-16 03:37] #2736 closed

[2016-08-16 04:02] alexose commented on #2585
Haven't done anything so far!

Before we get too deep into this, let's make sure there isn't already a well supported react library out there that fits the bill (thinking http://griddlegriddle.github.io/Griddle/)

[2016-08-16 10:47] koconnor719 commented on #2737
Sorry!!

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, August 15, 2016 11:37 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Assign
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Comms plan (#2737)

Wrong repo. Was also

[2016-08-16 13:04] #2613 closed

[2016-08-16 14:57] akainic opened #2744 "Mockups for education benefits form"

[2016-08-16 15:01] cweber commented on #2744
In progress wireframes can be found here: https://classic.moqups.com/greg@adhocteam.us/l32hJ36b/p:a3c1b5b8f

Currently:

- None of the elements are linked, so navigate through the sitemap on the left.
- Military History is a mess right now, as I’ve duplicated a bunch of pages so I can break things down into more discrete sections

[2016-08-16 15:18] usds-bot opened #2745 "UserVoice Idea: Add Civilian Job Resources"
As a vet, I found my job via www.indeed.com/military through the joining forces program w/ the white house.

It would be nice to have employment resources that are not necessarily government jobs hosted on government domains. It is tough to get back into the civilian work force, but there are resources available, like Indeed, that can help veteran job seekers

http://veterans.uservoice.com/forums/

[2016-08-16 15:40] melwoodard commented on #2695
@Drakenhart thanks! We ended up with something pretty similar for one of the new features we're developing.

@bshyong there's a PR up for the basic design [here](https://github.com/department-of-veterans-affairs/rx/pull/33). You should coordinate with @webinista to get this component going across the site.

[2016-08-16 15:50] melwoodard commented on #2689
@beckah let's use the broader "Search" for submit buttons and "Reset" for starting over.

[2016-08-16 15:53] dannychapman commented on #2732
Created a PR to fix this here: #2746

[2016-08-16 16:17] beckah commented on #2689
@melwoodard awesome! i'll get cracking on it tonight

[2016-08-16 17:22] melwoodard opened #2747 "Agent Orange page is missing "Apply for Benefits" CTA banner"
[Diseases Associated with Agent Orange](https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/diseases/) is missing the "Apply for Disability Benefits" green button and grey banner present on all other disability benefits pages.

<img width="1272" alt="diseases_associated_with_agent_orange__vets_gov" src="https://cloud.githubusercontent.com/assets/4106356

[2016-08-16 17:30] melwoodard opened #2748 "Implement consistent color for green CTA buttons"
The "Import into Résumé Builder" button on the [Skills Translator](https://www.vets.gov/employment/job-seekers/skills-translator) uses a non-standard green. It should be `#2e8540`

[2016-08-16 18:50] dannychapman commented on #2680
I think this makes good sense for now. Couple thoughts:

1. I think we need to do some clean up work on headings in general. I'd like to simplify and have a consistent bold, no caps standard on h1 - h6. Also line height and padding should get addressed.
2. Ideally, a call out box should have all that much content in it that we need headings beyond h4.

[2016-08-16 19:05] melwoodard commented on #2680
@dannychapman re: #1 - you can take a look at the general heading cleanup @bshyong has been working on in #2675 / #2741. Is there anything specific about line height and padding you can provide?

re: #2 - Agreed. Above is an extreme example to account for all cases that currently exist. ~90% of callout boxes currently only use H3, a few use H4 and I've only found one with the H6 example above.

[2016-08-16 19:10] dannychapman commented on #2675
These look solid. I'd love to try making h6 not be uppercase.

[2016-08-16 19:10] dannychapman commented on #2675
Also, how do these styles line up with USDS defaults? Any chance we could just use theirs directly?

[2016-08-16 19:11] dannychapman commented on #2680
@melwoodard thanks for the heads up re: existing PRs. Added comments directly on #2675.

[2016-08-16 19:24] bshyong commented on #2695
Sweet. What do we do about apps like Veteran's Employment Center which are Rails and ERB views? Is there a long term plan to migrate some of those to React views?

[2016-08-16 19:34] U-DON opened #2749 "Add Immutable.js"
We need a common means of dealing with immutable data when we update the store. Seems like Immutable.js is nowadays the commonly accepted library to go about this when working with React.

[2016-08-16 20:43] #2676 closed

[2016-08-16 21:21] #2580 closed

[2016-08-16 21:43] #2713 closed

[2016-08-16 21:51] U-DON commented on #2749
Per discussion thread in GitHub (https://github.com/department-of-veterans-affairs/rx/pull/34/files/124758e2d229cb16d57b272b9c4254daacd4b723#r74968899), it appears this won't be necessary right now.

[2016-08-16 21:51] #2749 closed

[2016-08-16 22:33] melwoodard commented on #2694
Sidebars in GIBCT and VEC should be updated to match the pattern seen [here](https://www.vets.gov/employment/job-seekers/). This touches:

- GI Bill Comparison tool
 - [Search page](https://www.vets.gov/gi-bill-comparison-tool)
 - [Institution detail page](https://www.vets.gov/gi-bill-comparison-tool/institutions/profile?military_status=veteran&spouse_active_duty=no&gi_bill_chapter=33&cumulative_s

[2016-08-17 00:30] webinista commented on #2710
@ayaleloehr I think I've flagged these issues earlier, but wanted to document it here: for the sort-by-facility feature, I need:

1. the sorting parameters to work

[2016-08-17 03:15] ayaleloehr commented on #2710
Sorting parameters should be good to go now! Let me know if they are not!

[2016-08-17 03:46] crwallace commented on #2695
The idea is to migrate them at some point to react but we are not sure when
that will happen. So in the meantime, I think we will try to integrate the
styles into the main core scss and use the html to build out these
components in the rails apps.
On Tue, Aug 16, 2016 at 3:24 PM Ben <notifications@github.com> wrote:

[2016-08-17 03:47] crwallace commented on #2676
Ben--

Did we coordinate with the GI bill team on a deploy of these changes?
On Tue, Aug 16, 2016 at 4:43 PM Ben <notifications@github.com> wrote:

[2016-08-17 04:09] bshyong commented on #2676
Oops - who should I check in with on this app? Should I revert these
changes?

On Tuesday, August 16, 2016, Courtney Eimerman-Wallace <
notifications@github.com> wrote:

--
--
Ben Shyong
Senior Software Engineer, AdHoc LLC
909-274-9664

[2016-08-17 04:10] crwallace commented on #2676
No need to revert. I think everything that lives in master does not
continuously deploy. I can check it with Alex in the morning about it.
On Wed, Aug 17, 2016 at 12:09 AM Ben <notifications@github.com> wrote:

[2016-08-17 04:39] #2675 closed

[2016-08-17 04:49] bshyong commented on #2675
@dannychapman

Here's a comparison for reference.

Assuming generic browser default setting of 16px font size, our styles are on average slightly larger in size:

FWIW the H6 for USA Web Standard is uppercase.

https://standards.usa.gov/typography/#pairings-and-styles

|element   |ours   | USA Standard   |
|---|---|---|
|h3   | 1.8em/28.8px  | 24px  |
| h4  |  1.35em/21.6px | 19px  |
| h5  |   1.1

[2016-08-17 04:56] ayaleloehr commented on #2676
For VEC, @jkassemi is person to talk to about deploys now.

For GI Bill, it's still me. GI Bill is not on continuous deploy or anything (yet). So when you want things deployed, just make sure PRs are already merged into `master` and ping me on Slack (preferably with some warning!) and I can do it

[2016-08-17 12:53] akainic opened #2750 "Create TextArea component"

[2016-08-17 13:30] crwallace commented on #2694
@melwoodard -- This look great. Feel free to assign this to me when you are done with all of the documentation here.

[2016-08-17 13:55] jbalboni commented on #705
We're gzipping everything now with https://github.com/department-of-veterans-affairs/devops/pull/452, so I'm closing this.

[2016-08-17 13:55] #705 closed

[2016-08-17 16:55] webinista opened #2753 "Add incremental builds to build process"
Primarily affects rx, hca projects.

[2016-08-17 16:57] dannychapman commented on #2675
Interesting. I'd love to see how vets.gov look with headings and body text verbatim from USDS.

Thoughts?

[2016-08-17 19:26] melwoodard commented on #2675
@dannychapman here's a comparison between the two. Overall it would be a fairly subtle but positive switch, and USWDS has some smarter margin/line-height rules built in.

However - the USDS styles for H1 and lead paragraph are a bit too large on mobile. If we swapped our page titles to using their H2 (which is only 2px larger than our current H1 seen below) that would work better all around. Lead

[2016-08-17 19:35] plusjeff commented on #589
Moved to devops repo

[2016-08-17 19:37] #655 closed

[2016-08-17 19:37] #682 closed

[2016-08-17 19:38] plusjeff commented on #682
Outlined in roadrunner-rails

[2016-08-17 19:38] #790 closed

[2016-08-17 19:38] plusjeff commented on #790
Using Attool instead

[2016-08-17 19:38] #704 closed

[2016-08-17 19:39] koconnor719 commented on #881
IE9 is standard; message on IE8; assign to vanguard per stacey.

[2016-08-17 19:41] crwallace commented on #2706
@awong-dev -- This has been taken care of correct?

[2016-08-17 19:41] koconnor719 commented on #920
need to have process to engage on public comments.

[2016-08-17 19:43] awong-dev commented on #2706
Yes. Closing.

[2016-08-17 19:43] #2706 closed

[2016-08-17 19:43] crwallace commented on #2660
@melwoodard -- I think this was taken care of partially in the vets-website migration and in some of @bshyong 's clean up. Closing this for now.

[2016-08-17 19:43] koconnor719 commented on #920
Thank you for your feedback!

[2016-08-17 19:43] #920 closed

[2016-08-17 19:44] maryannbrody commented on #1292
@crwallace and I are conducting testing at the Blind Veterans Association conference August 23+24 in Milwaukee, WI. Closing this.

[2016-08-17 19:44] #1292 closed

[2016-08-17 19:44] #2660 closed

[2016-08-17 19:45] plusjeff commented on #952
@webinista Has done some work on this I believe. Assigning to Vanguard team.

[2016-08-17 19:45] #957 closed

[2016-08-17 19:45] plusjeff commented on #957
Done!

[2016-08-17 19:45] #960 closed

[2016-08-17 19:46] plusjeff commented on #960
Using Attool

[2016-08-17 19:46] crwallace opened #2760 "Get heroku deploying PRs for pre merge review"

[2016-08-17 19:47] koconnor719 commented on #981
no rake file anymore

[2016-08-17 19:47] #981 closed

[2016-08-17 19:47] #1003 closed

[2016-08-17 19:47] crwallace opened #2761 "Add Attest(508 scanner) to Travis build process"

[2016-08-17 19:48] crwallace opened #2762 "Add visual regression testing"

[2016-08-17 19:48] koconnor719 commented on #1083
Thank you for the feedback.  This is on our 2017 roadmap.

[2016-08-17 19:48] #1083 closed

[2016-08-17 19:48] #1089 closed

[2016-08-17 19:49] koconnor719 commented on #1110
low priority per jeff and stacey

[2016-08-17 19:51] bshyong commented on #2760
Thanks for assigning. FYI I think it is related to Heroku buildpack settings—currently looking into this.

[2016-08-17 19:54] awong-dev commented on #2696
I think we're still missing it on `https://github.com/department-of-veterans-affairs/vets-website/blob/master/script/build.js#L117`

[2016-08-17 19:56] #2633 closed

[2016-08-17 20:09] awong-dev commented on #980
Oh...this is no longer valid since it's for Ruby.

We shoudl be using nsp.  Talk to @robbiethegeek

[2016-08-17 20:32] joduinn commented on #957
Excellent - thank you @plusjeff ! This fixes a long-annoying resurfacing problem, so glad to finally have this off the annoyances list!!

[2016-08-17 20:41] webinista commented on #952
See #2416. Needs more content, and possibly some updates but the beginnings are there.

[2016-08-17 20:43] webinista commented on #2710
Not sure why/how I closed this, but I'm still working on it.

[2016-08-17 21:24] jbalboni opened #2766 "Move HCA form components into a common location"
We want to do this so that education benefits can reuse the generic form element components from the healthcare app.

[2016-08-17 21:27] #2716 closed

[2016-08-17 21:27] akainic opened #2767 "Move shared components/files out of project directories"
Such as form element and question components, validations, options for select, etc.

[2016-08-17 21:28] jbalboni commented on #2750
I have this mostly done (at least, assuming it should act mostly like the text input component), but I'm going to put up the form element component reorganization first (#2766), so that this isn't buried in that PR.

[2016-08-17 21:30] jbalboni commented on #2766
Duplicate

[2016-08-17 21:30] #2766 closed

[2016-08-17 21:51] melwoodard commented on #2674
Font stack for Source Sans Pro: `"Source Sans Pro", "Helvetica", "Arial", sans-serif`

*Note: a few font issues in VEC/GIBCT are not included here - they will be resolved in #2694*

Specific tasks:

[GIBCT initial search page](https://www.vets.gov/gi-bill-comparison-tool/):
- [ ] "Learn about education programs..." --> `p:first-of-type`
- [ ] "$" above Tuition/housing/books --> Source Sans Pro

![

[2016-08-17 21:51] webinista opened #2769 "Determine whether we need to compile a facility list"
[Latest mockups](https://marvelapp.com/1h10heg#14227015) indicate a "sort by Facility name" feature. Mock API returns a `facility-name` field, with names such as `ABC123` and `SLC4`. We need names that are more like "Baltimore VA Medical Center."

### Questions that need answers

1. Does the production API return facility _names_ such as "Baltimore VA Medical Center" or something more like the fac

[2016-08-17 21:53] bshyong commented on #2760
@crwallace I think this stuff is resolved—probably vestigial failures from the metal smith migration. That's the only explanation for why Heroku was trying to use Ruby buildpack...

Closing for now—we should file a new issue if we see this again.

[2016-08-17 21:53] #2760 closed

[2016-08-17 22:27] webinista opened #2771 "Fix post-migration layout issues"
- [x] Prescription cards are wrapping at odd points.
<img width="1001" alt="screen shot 2016-08-17 at 3 24 26 pm" src="https://cloud.githubusercontent.com/assets/354277/17755408/b4c6ae32-648e-11e6-8245-4fcca36d6ecc.png">

- [x] Modal layout is off.
<img width="330" alt="screen shot 2016-08-17 at 3 23 28 pm" src="https://cloud.githubusercontent.com/assets/354277/17755427/c320edbc-648e-11e6-9de0-7ed

[2016-08-18 00:02] webinista opened #2772 "[Rx] Possible bugs in rx/components/Prescription.jsx?"
Noticed `const requested = attrs['refill-requested'];` in the code. Where is this prop coming from? The mock API doesn't have a `refill-requested` field. Should this be `is-refillable` instead?

Also, check lines 35-40. Because `requested` never gets defined, it will never be `true`.

[code]

[2016-08-18 00:14] webinista commented on #2772
@alexose @U-DON not sure which of you worked on this part of `Prescription.jsx`, but can you take a look?

[2016-08-18 00:20] webinista opened #2773 "[Rx] Refills count should be red when it is zero"
<img width="524" alt="screen shot 2016-08-17 at 4 50 21 pm" src="https://cloud.githubusercontent.com/assets/354277/17757811/d59977e2-649e-11e6-8323-4bcac0703e02.png">

[2016-08-18 01:40] webinista opened #2776 "[Rx] Detail component / route no longer works"
(This was working in the `rx` repo.)

When the user clicks on the prescription card title, nothing happens. Console error says:

`Warning: [react-router] Location "/prescription/777736" did not match any routes`

[2016-08-18 01:50] webinista opened #2777 "[Rx] Re-add es-lint to Rx"
Travis runs ESLint, but it's no longer part of the rx repo build? Would save time if it was.

[2016-08-18 03:13] bshyong commented on #2682
Update: these should have been resolved with the fixes that I implemented in #2675 but I will take one more pass through the process lists to confirm.

[2016-08-18 03:17] U-DON commented on #2772
Ah, that was me. I think I must've misread one of the attributes and thought it was there while I was looking for one that corresponded to the appearance of the 'Refill requested' text. But no, definitely not a valid attribute. Although, now I'm not sure what attribute (or combination of them) determines whether that text should appear.

[2016-08-18 03:49] ayaleloehr commented on #2776
should it be prescriptions (plural) instead of prescription?

[2016-08-18 11:11] ayaleloehr commented on #2769
Email sent to Ken and Barry on the API team asking, with Tiffany's VA email cc'd.

[2016-08-18 15:05] webinista commented on #2772
Raised a question about this for the API team in department-of-veterans-affairs/prescriptions-api#54.

[2016-08-18 15:15] webinista commented on #2776
No. This is when you click a particular prescription card in order to view the detail page.

[2016-08-18 15:22] webinista commented on #2769
Answer: we do not need to compile that list. Closing.

[2016-08-18 15:22] #2769 closed

[2016-08-18 15:35] #2632 closed

[2016-08-18 15:45] melwoodard commented on #2682
Thanks @bshyong! With the heading styles already updated, the main thing to do here is confirm that the right types of headings are being used across the board.

[2016-08-18 16:13] U-DON opened #2780 "[Rx] Directly going to route other than root (/rx) fails"
## Steps to Reproduce:
1. Navigate to /rx/history.
2. Refresh.
3. "Cannot GET /rx/history"

[2016-08-18 16:37] crwallace commented on #2747
@melwoodard -- Should all pages have this banner? Right now many other urls like these:

[Evidence](https://www.vets.gov/disability-benefits/claims-process/evidence/)
[Presumed Disability](https://www.vets.gov/disability-benefits/claims-process/presumed-disability/)

do not have this banner. Should we add it to everything in this section?

cc - @maryannbrody

[2016-08-18 17:01] bshyong commented on #2695
@webinista After I spend some more time looking at the error states on VEC I'll start implementing the RX interface across the site. We will need to get it into the html templates for MetalSmith/non-React pages and probably make a Rails view helper for the Rails apps

[2016-08-18 17:53] melwoodard commented on #2747
Thanks for the find @crwallace - yes, these and any other pages within the Disability and Education sections should have their respective banners.

[2016-08-18 18:47] bshyong commented on #2682
Finished another pass through and caught some issues with h4/h5 usage. Resolved in #2785

[2016-08-18 19:15] joduinn opened #2786 "Broken links to PDF and VAClinics"
While showing vets.gov to someone I know, they stumbled onto the following broken links:

On https://www.vets.gov/healthcare/apply/, there are 3 broken links:

1) "Mail in your application. You can download, print, and fill out the 10-10EZ, then send it to this address:". Clicking on the link for 1010ez should take you to http://www.va.gov/vaforms/medical/pdf/1010EZ-fillable.pdf. However, there is

[2016-08-18 20:51] crwallace commented on #2786
@joduinn -- When I am on vets.gov none of these links are broken. What network were you on when you tried to access these? I am not on the VA-network right now and they all seem to work just fine.

[2016-08-18 20:58] bshyong commented on #2695
- [ ] Site search
- [ ] GI Bill Comparison
- [ ] Job Search
- [ ] Employer Commitments
- [ ] Facility Locator

[2016-08-18 21:01] #2682 closed

[2016-08-18 21:23] webinista opened #2790 "Fix Detail page layout"
Pretty sure that the container for this view needs `className="rx-app row"`

![screen shot 2016-08-18 at 2 21 23 pm](https://cloud.githubusercontent.com/assets/354277/17791254/2066b04a-654f-11e6-9c4a-2e8de508ac29.png)

[2016-08-18 23:06] webinista commented on #2780
I suspect this is a server configuration issue. @alexose @akainic any insight?

[2016-08-18 23:08] webinista commented on #2710
Slow progress. I've got the sorting in place. Still need to:

1. Adapt `PrescriptionList` to handle the grouped-by view
2. Figure out where to place this sort code. Right now, it lives in `/src/components/Active.jsx` and that feels like the wrong place for it (although it does work).

[2016-08-18 23:31] webinista commented on #2772
#2775 should fix this once merged.

[2016-08-18 23:34] webinista commented on #2771
Modal issue is caused by a high specificity selector. See #2347.

[2016-08-18 23:55] lihanli opened #2796 "to.be.true and to.be.false don't work in specs"
when i put
[code]
in a test it passes
@jbalboni mentioned he had the same problem

it's the same syntax as the examples in the chai documentation. also i went to a random already existing test and replaced trues with falses and vice versa and the test still passed.

anyone know why this is happening?

[2016-08-19 00:07] webinista opened #2797 "`button:hover, [type="button"]:hover` is too broad of a selector"
It's creating some side effects for outline buttons.

![screen shot 2016-08-18 at 5 01 18 pm](https://cloud.githubusercontent.com/assets/354277/17794564/6e2b7a8e-6565-11e6-8506-cf4965075afd.png)

It should look like this:

![screen shot 2016-08-18 at 5 03 12 pm](https://cloud.githubusercontent.com/assets/354277/17794590/b21078c6-6565-11e6-8e6e-10d06dd1bf29.png)

Background should remain transparen

[2016-08-19 00:32] #2653 closed

[2016-08-19 00:33] webinista commented on #2608
No longer necessary since everything is in the same pipeline.

[2016-08-19 00:33] #2608 closed

[2016-08-19 00:41] #2603 closed

[2016-08-19 00:51] webinista commented on #2622
No longer necessary. Thanks, monorepo!

[2016-08-19 00:51] #2622 closed

[2016-08-19 00:58] webinista commented on #2571
I feel comfortable closing this. It's not 100% done. We still have child components to add to this component. But I think it's done _enough_ to warrant closing this issue.

[2016-08-19 00:58] #2571 closed

[2016-08-19 01:00] webinista commented on #2576
Still needs:

[ ]  _Refill Prescription_ actions
[ ] Bug fix for `this.props.key` (see console error messages)

[2016-08-19 01:05] #2424 closed

[2016-08-19 01:07] #2413 closed

[2016-08-19 02:06] jbalboni commented on #2796
@lihanli I looked around a bit and I think it's because we're using [dirty-chai](https://github.com/prodatakey/dirty-chai) in places (everywhere?). It expects you to do something like `expect(true).to.be.false();`

This seems super confusing without some kind of linter rule enforcing the `()` on the end. @alexose, do you know the reasons behind using dirty-chai?

[2016-08-19 02:12] jbalboni commented on #2796
If I remove dirty-chai I don't get any new failing tests, which is a relief. And then things work as expected with the expect statements.

[2016-08-19 13:45] akainic opened #2800 "Refreshing page in HCA returns GET error"
If at a url within the app (e.g., http://localhost:3000/healthcare/apply/application/veteran-information/personal-information), if you refresh the page you get an error.

<img width="740" alt="screen shot 2016-08-19 at 9 44 05 am" src="https://cloud.githubusercontent.com/assets/3886085/17811635/965adcd4-65f1-11e6-9212-19cab869ca1b.png">

[2016-08-19 14:12] akainic commented on #2800
From Albert:
That's supposed to be handled by the historyapifallback option in webpack....
The reason you get a 404 is because no file exists at that URL... But the webserver is supposed to be configured to always return the same html for healthcare/apply/application

[2016-08-19 14:55] #2767 closed

[2016-08-19 15:08] awong-dev commented on #2780
https://github.com/department-of-veterans-affairs/vets-website/blob/master/script/build.js#L171 That  needs to be true.

[2016-08-19 15:28] webinista opened #2802 "[Rx] Add new warning box message"
Should extend the full width of the screen and be closable. Functions similarly on desktop and mobile. Desktop just has less padding.

![screen shot 2016-08-19 at 8 26 47 am](https://cloud.githubusercontent.com/assets/354277/17814916/c5f3298e-65e6-11e6-91d3-8eb92e7f43e5.png)

Desktop view: https://marvelapp.com/1h10heg

[2016-08-19 15:47] #2773 closed

[2016-08-19 15:53] webinista opened #2803 "[Rx] GlossaryModal component"
May be able to refactor `ConfirmRefillModal`.

![screen shot 2016-08-19 at 8 47 16 am](https://cloud.githubusercontent.com/assets/354277/17815543/97eed5f8-65e9-11e6-8a6f-2bac1e3fcd2d.png)

[2016-08-19 15:57] webinista opened #2805 "[Rx] GlossaryPage component / route"
Just a page with some text. Maybe put the text into a config file.
https://marvelapp.com/iaa9b9#14584509

[2016-08-19 16:05] jbalboni opened #2806 "Tests are not being linted"
Our unit and e2e tests are not being linted right now because the eslint command is pointed at test/js instead of just test/. There are ~400 linting errors if the command is fixed, so those need to be addressed in some way so we can start linting all of our JS.

[2016-08-19 16:09] webinista opened #2807 "[Rx] Improve printed prescription list layout"
We have designs for it now! Stick the styles in an `@media (print)` block.

Mobile https://marvelapp.com/iaa9b9#14577469
Desktop https://marvelapp.com/1h10heg#14584299

[Dark logo](https://www.vets.gov/img/design/logo/logo-alt.png)

[2016-08-19 16:20] webinista opened #2808 "Switch to inline SVG for logo"
In light of #2491 and #2807, we should probably shift to an SVG logo, placed inline. (Inline is currently more accessible than using `object`.)

SVG offers:
- Smaller, single file that can serve devices at multiple resolutions without losing quality.
- A single asset to manage and maintain, rather than a dark logo, white logo, and rollover state images for both.
- A better rollover experience (wit

[2016-08-19 16:21] webinista commented on #2491
Closing in favor of using SVG.

[2016-08-19 16:21] #2491 closed

[2016-08-19 16:21] webinista commented on #2800
We can probably close this as a duplicate of #2780.

[2016-08-19 16:24] webinista commented on #2748
Corresponds to the `$color-green` SCSS variable from https://standards.usa.gov/colors/

[2016-08-19 16:26] webinista opened #2809 "[Rx] Order history sort fields?"
There's a [sort option](https://marvelapp.com/iaa9b9#14368789) shown. Are the fields the same as the sort fields on the Active tab (prescription name, last requested, facility)?

[2016-08-19 16:28] webinista opened #2810 "[Rx] Update application title"
Should now say [Mail Order Prescriptions](https://marvelapp.com/1h10heg#14227014) instead of My VA Prescriptions.

[2016-08-19 16:46] #2696 closed

[2016-08-19 17:25] melwoodard opened #2812 "Markup appearing in body text"
See the table on [https://www.vets.gov/education/gi-bill/survivors-dependent-assistance/](https://www.vets.gov/education/gi-bill/survivors-dependent-assistance/)

<img width="739" alt="survivors__and_dependents__assistance__vets_gov_" src="https://cloud.githubusercontent.com/assets/4106356/17818201/5d45caa2-65f7-11e6-9773-1c8a5af610eb.png">

[2016-08-19 17:59] dannychapman commented on #2675
@melwoodard Agreed re: h1 on mobile. We could consider rewriting our content pages to use h2's for actual page headings and leave h1 only for the vets.gov title, but we'd need a larger conversation around that. There's actually precedent for doing that from a 508 perspective.

Also, we should consider sending the USDS a PR to reduce the h1 size on mobile. I'm for your strategy of keeping our h1 an

[2016-08-19 18:16] bshyong commented on #2695
@crwallace is the Site Search (search.vets.gov) in the Department of Veterans Affairs org? I don't see a repo for it

[2016-08-19 18:51] webinista commented on #2812
Try adding `markdown=0` to `div.va-table-overflow` or remove the indent before each <p>.

[2016-08-19 19:00] melwoodard commented on #2692
The [USWDS bordered table](https://standards.usa.gov/tables/) style should be used across vets.gov. This affects:

- [GIBCT Institution detail page](https://www.vets.gov/gi-bill-comparison-tool/institutions/profile?military_status=veteran&spouse_active_duty=no&gi_bill_chapter=33&cumulative_service=1.0&enlistment_service=3&consecutive_service=0.8&elig_for_post_gi_bill=no&number_of_dependents=0&onli

[2016-08-19 20:14] webinista opened #2815 "[Rx] Prescription card a:hover links are inheriting global styles"
They're inheriting from global link styles. That doesn't work so well on a gray background. Suggest using a border or underline instead and doing away with the 50% black background.

![screen shot 2016-08-19 at 1 13 53 pm](https://cloud.githubusercontent.com/assets/354277/17822944/d169c43a-660e-11e6-9a8f-06ca79391bf8.png)

[2016-08-19 22:46] webinista commented on #2653
Component is complete, but need the sorting functionality, which is being tracked with #2710.

[2016-08-20 21:31] usds-bot opened #2817 "UserVoice Idea: Veterans should be able to go have a Cosmetic Dentistry Dentist but can't."
My belief that all at least 3 quarters of Veteran employees & that goes for Veterans like I do as a Veteran PLUS HAVE VETERANS PERSONAL DO THE SAME I be bugging all the Senators and  Representatives  to passed  a  Law have  least one  Cosmetic DENTISTRY  DENTIST AT ANY VETERAN  MEDICAL ESPECIALLY IF YOU A VETERAN  IS 100 percent  service connected.

http://veterans.uservoice.com/forums/330333-vets

[2016-08-21 00:01] joduinn commented on #2786
@crwallace I was demo-ing using my cellphone data plan and was not on any wifi. Later that morning, I was able to reproduce on my laptop-plus-hotspot, so filed the ticket. However, I've just tried it now and both links are correctly working again. Nothing changed on our side as far as I know, but thanks for investigating.

I'm closing as "unable to reproduce"! :-(

[2016-08-21 00:01] #2786 closed

[2016-08-21 14:33] usds-bot opened #2818 "UserVoice Idea: PTSD MEETING FOR NON COMBAT VETERANS AT EVERY VETERAN MENTAL CLINIC"
Should   have  PTSD  MEETING  AT ALL  VETERAN  MENTAL ClNICS  FOR  NON  COMBAT  VETERANS.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15736126-ptsd-meeting-for-non-combat-veterans-at-every-v

[2016-08-22 13:34] #2796 closed

[2016-08-22 14:38] #2806 closed

[2016-08-22 14:47] #2776 closed

[2016-08-22 14:50] jbalboni opened #2819 "Cover more Javascript code with ESLint"
Based on some comments in Slack, it sounds like we want to lint all of our Javascript code. Right now, just src/js and test/ are linted.

I created an .eslintignore file in the root of the repo that, in addition to ignoring some bundled JS, has these folders that have code that could be linted:

- [x] src/test-support/*
- [x] script/*
- [x] config/*
- [ ] src/js/legacy/*
- [ ] src/hca-migrate/*
-

[2016-08-22 15:03] jbalboni commented on #2819
I'm working on config/*

[2016-08-22 15:20] alexose commented on #2780
Yay thanks @awong-dev!  I thought this was going to need some proxy rule or something.

https://github.com/department-of-veterans-affairs/vets-website/issues/2780

[2016-08-22 15:50] akainic opened #2821 "Nav component"
Sections:
1. Benefits Eligibility
2. Military History
3. Education History
4. Employment History
5. School Selection
6. Veteran Information
7. Review

[2016-08-22 15:51] akainic opened #2822 "Introduction component"
Still need content here. For now just a placeholder for the introduction. Need to configure routes to hit this component if navigating to /education/apply/application/, like HCA.

[2016-08-22 15:52] gnakm commented on #2809
Yes!

<img width="433" alt="screen shot 2016-08-22 at 11 51 19 am" src="https://cloud.githubusercontent.com/assets/13420618/17861386/d611074e-685e-11e6-920a-89c9c713a28c.png">

I also just added it to the prototype.

[2016-08-22 16:00] akainic opened #2823 "Create routes"
Routes will be:
1. /introduction
2. /benefits-eligibility/benefits-selection
3. /military-history/military-service
4. /military-history/additional-information
4. /military-history/ROTC-history
5. /military-history/benefits-history
6. /education-history/education-information
7. /education-history/additional-information
8. /employment-history/employment-information
9. /school-selection/school-inform

[2016-08-22 16:01] akainic opened #2824 "Review component"
Similar to HCA review

[2016-08-22 16:06] akainic opened #2825 "Move ProgressButton out of HCA"
So we can use for education benefits

[2016-08-22 16:07] akainic opened #2826 "BenefitsEligibility section"
And corresponding questions

[2016-08-22 16:09] akainic opened #2827 "MilitaryService component"
And corresponding questions

[2016-08-22 16:09] akainic opened #2828 "RotcHistory component"
And corresponding questions

[2016-08-22 16:10] akainic opened #2829 "BenefitsHistory component"
And corresponding questions

[2016-08-22 16:37] melwoodard commented on #2693
#2692 will solve the leading and padding issues, but sizing tables down to mobile width is still an issue - @bshyong I'd like your thoughts on methods to solve for this - the toughest table we're dealing with is the VEC Employer Commitments search page.

[2016-08-22 16:59] webinista commented on #2586
Per #2809 uses the same sort menu and options. Probably a good idea to refactor the SortMenu component to use the same options in multiple places since they won't change.

[2016-08-22 18:58] #2810 closed

[2016-08-22 19:04] bshyong commented on #2695
update: we're going to need to punt on the Site Search pagination for now—USDS runs the search service separately and we have no access for modifying the views.

https://github.com/department-of-veterans-affairs/vets-website/blob/master/docs/HowSearchWorks.md

[2016-08-22 19:07] crwallace commented on #2695
True! We should also let @dannychapman know about the other places that we have changed pagination so he can work it into the design he is working on for search.

[2016-08-22 20:16] akainic opened #2833 "Resolve research questions"
Compile a list of questions for Shay here.

[2016-08-22 20:25] cweber opened #2834 "Can we add additional fields to form?"
Check with Shay about whether it's ok to to add additional fields to our version of the form. This is not about the nuance of additional fields for information already being collected or about formatting, but rather about new fields that will collect new information.

Right now I only have one such field in mind. It would be:

How would you prefer to be contacted by the VA regarding questions abou

[2016-08-22 20:57] jbalboni commented on #2819
@alexose @crwallace Do either of you know what the plan is for those three remaining folders? Is it worth fixing any linting errors they have?

[2016-08-22 21:17] cweber opened #2836 "Which information, if omitted, would mean that an application is rejected?"
Neither the VONAPP form or paper firm note which fields are required. My sense from our research is that the approach is really "Tell us as much as you can", but very little is required. That said, if there is a baseline of data that is necessary for the application to NOT get rejected, I'd like to be able to indicate that.

Name, address, ss#, at least one service period?

[2016-08-22 21:24] cweber opened #2837 "Does submitting the application commit them to the relinquishment immediately?"
In question 9a-9e on the form, there is very strong language about relinquishment of additional benefits when electing CH 33.

"By checking the box below, I am acknowledging that I understand that this election is irrevocable and may not be changed, and that failure to check one of the boxes below may cause a delay in the processing of this claim."

Does the submission of the form trigger this? (O

[2016-08-22 21:30] cweber opened #2838 "Do veterans have access to their DD-214 and kicker statements online?"
We've heard that the DD-214 and Kicker are the documents that are most useful for the VCEs to have access to. With the DD-214 in particular, it's used to validate service dates to avoid the lengthy process of verifying with DOD.

If the veteran submits dates that are aligned with what is in BDN (I think), then verification is not necessary, but if the dates do NOT align, then it triggers an extra

[2016-08-22 22:08] bshyong commented on #2695
@crwallace @dannychapman

The pagination has been updated for the Gi Bill Tool and Facility locators.

For the other ones in the list, let's make a decision on whether to table.

- Site Search — under control of USDS; we have no access to make changes on styles/views
- Job Search — this will take quite a bit of effort to work on/refactor. There are two sections with pagination and it looks like a

[2016-08-23 06:12] usds-bot opened #2841 "UserVoice Idea: CUE claim exclusion"
When listing the types of disability claims, why leave out CUE claims?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/15754912-cue-claim-exclusion

[2016-08-23 13:34] J-Quag commented on #2838
They can get their DD-214 through a DoD website called DPRIS. They can use a SSO through ebenefits to get it.

[2016-08-23 13:34] J-Quag commented on #2834
Usually its a bit iffy to get them up. But I think asking for a contact preference wouldnt be a big issue.

[2016-08-23 13:36] J-Quag commented on #2836
We'll probably want to follow up with Shay on that. I'll forward her that question.

[2016-08-23 13:38] J-Quag commented on #2837
Yes, the language is strong for that reason because it is a one time revoke of previous benefits. Once you submit that, you can't go back even if you were at one time eligible.

[2016-08-23 13:41] cweber commented on #2837
Ok. Thanks.

[2016-08-23 13:41] #2837 closed

[2016-08-23 13:47] cweber commented on #2838
Do they get it in digital form is it just ordering a paper version?

[2016-08-23 14:13] J-Quag commented on #2838
They get the digital copy that they can download

[2016-08-23 14:57] #2780 closed

[2016-08-23 17:08] #2686 closed

[2016-08-23 17:14] bshyong commented on #2748
I'll fix this issue

[2016-08-23 17:24] bshyong commented on #2693
@melwoodard tables are always pretty difficult... There's not much we can do on mobile for very dense information (lots of columns)—a higher level question is whether there is a better way to present the info on mobile instead of using a dense table.

That said, two ways to help improve the tables are A. horizontal scrolling and B. making the table display different on mobile (much more involved i

[2016-08-23 17:26] melwoodard commented on #2675
@dannychapman awesome - I'll open a new issue to update h3-h6 to match USWDS, and send a PR to USDS for the h1 size.

[2016-08-23 17:28] melwoodard opened #2843 "Use USWDS heading styles for h3-h6"
<img width="658" alt="screen shot 2016-08-23 at 10 27 17 am" src="https://cloud.githubusercontent.com/assets/4106356/17902436/39b519b2-691c-11e6-833a-6903a68fbc66.png">

[2016-08-23 17:46] melwoodard commented on #2693
@bshyong agreed - I chatted with Molly yesterday (who is currently exploring brand refinement for vets.gov), and we came to the same conclusion - it's 2016 and we really should be looking for better ways to represent this type information.

I agree with your short-term solutions - in my opinion we should add horizontal scrolling for now to make this more usable.

In the long term we can collaborat

[2016-08-23 20:27] webinista commented on #2771
Everything is merged. Yay!

[2016-08-23 20:27] #2771 closed

[2016-08-23 20:29] webinista commented on #2710
Current status: trying (and so far, struggling) to make this adhere to the Redux pattern.

[2016-08-23 20:30] #2802 closed

[2016-08-23 20:34] #2772 closed

[2016-08-23 21:07] #2815 closed

[2016-08-23 21:26] webinista opened #2847 "[Rx] WelcomeBack component"
**Blocked by work on authentication / log in**

Text that says "Welcome back, `{VETERAN name}`"

In the header [on Desktop](
https://marvelapp.com/1h10heg).
<img width="1019" alt="screen shot 2016-08-23 at 2 23 54 pm" src="https://cloud.githubusercontent.com/assets/354277/17910333/43c82a90-693d-11e6-947f-d2f62221b0aa.png">

In the application area on mobile
<img width="272" alt="screen shot 2016-0

[2016-08-23 21:27] webinista commented on #2847
This is a feature we never really scoped or planned for. It was largely in the realm of fantasy. Including it here, however, since we should probably track it.

[2016-08-23 22:42] bshyong commented on #2692
Update: I'm going to fix this issue and https://github.com/department-of-veterans-affairs/vets-website/issues/2693 in a single PR.

I did some investigating today and found out that the usage of Foundation in the `va_common` is clobbering a lot of the USDS styles. My plan of attack is to break out Foundation so that we can import Foundation styles selectively (and remove/comment out ones we don't

[2016-08-23 22:58] webinista commented on #2843
Related to #2347

[2016-08-24 12:26] koconnor719 commented on #2727
thanks for looking up all this info @crwallace --im sorry you spent time on this i know you are busy:) .  i swear this went to the sec bob post? i don't think the link really makes sense b/c it doesn't explain how the site is a "work in progress" at all? i think our playbook pages really need a rewrite.--it should talk about "developing in the open" and how the site is a work in progress...i'll le

[2016-08-24 13:27] koconnor719 commented on #2708
@akainic pls. advise of a response.

[2016-08-24 13:28] koconnor719 commented on #2671
@markolson @akainic pls. provide status of this?  since users can't save, if they get through the entire form and can't submit due to a backend ES system issue it's a very poor user experience.  how can we address?

[2016-08-24 13:31] gnakm commented on #2805
Glossary

Active
If you have refills, you may request a refill of this prescription from your VA pharmacy.

Discontinued
This prescription is no longer available. Contact your VA provider if you need more of this medication.

Expired
Prescription too old. Call your VA healthcare team if you need more.

On hold

[2016-08-24 13:32] koconnor719 commented on #2665
@mphprogrammer has patrick corrected this?  pls. provide status so i can respond.

[2016-08-24 13:35] koconnor719 commented on #2635
thx @mphprogrammer

posted and closed:
Thank you for your feedback. The GI Bill Comparison Tool does not compute costs for Night/Graduate programs or classes. That information is currently not available to us.

vets.gov team

[2016-08-24 13:35] #2635 closed

[2016-08-24 13:39] koconnor719 commented on #2556
@akainic was this raised in a standup?  pls. advise of response.

[2016-08-24 13:41] koconnor719 commented on #2556
posted and closed.

Thank you for your feedback. We added the 10-10AD pdf form to the page! https://www.vets.gov/healthcare/apply/#additional-forms   We design and update vets.gov based on Veteran feedback.  If you would like to participate in our user research to provide additional feedback, please contact us at feedback@va.gov.

vets.gov team

[2016-08-24 13:41] #2556 closed

[2016-08-24 13:48] koconnor719 commented on #2649
closing issue; no response from user.  response will open a new issue.

[2016-08-24 13:48] #2649 closed

[2016-08-24 13:59] koconnor719 commented on #2665
posted and closed;

Thank you for your feedback. The GI Bill Comparison tool has four (4) institution types: public, private non-profit, and proprietary. You can find more information about the tool on this page: http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp.  We don't have a type for "for profit." We are designing vets.gov based on Veteran feedback.  If you would like to p

[2016-08-24 14:01] akainic commented on #2671
@koconnor719 I asked on the daily swat calls if ES could experience downtime through the week outside of the scheduled maintenance, and the answer was no (not sure if this is reliable, though). We need to capture error responses of when submissions fail. Not sure if we're capturing this in the logs yet or not, but if not we will start capturing this.

[2016-08-24 14:10] koconnor719 commented on #2671
cool. thx @akainic .  let's implement something on our end quickly that alerts users to downtime (per mark's recommendation) at the start of the process:)

[2016-08-24 14:16] koconnor719 commented on #2705
posted and closed.

Thank you for your feedback. Canada is available for selection under the "Country" drop down, and Nova Scotia is available under the "State/Province" drop down. We are designing vets.gov based on Veteran feedback. If you would like to provide additional feedback, please contact our team at feedback@va.gov.

if you have any questions about the online health care application, you

[2016-08-24 14:16] #2705 closed

[2016-08-24 14:18] koconnor719 commented on #2841
@suzchap do you know what a CUE claim is?

[2016-08-24 14:20] mphprogrammer commented on #2665
@koconnor719 We do have a for "For Profit" designation, we do not have a "Proprietary" designation. This is really a VA issue regarding Weams as produced by the VA - updated Weams files come out periodically I think (But am not sure). I think Stephanie or Eddie would be the one to handle changes in Weams data - I am not sure what department in the VA is responsible for producing the Weams stuff, n

[2016-08-24 14:21] mphprogrammer commented on #2665
Is there a process on who data is addressed within the VA?

[2016-08-24 14:23] koconnor719 commented on #2818
posted and closed.

Thank you for your feedback--this feedback forum is for suggestions for vets.gov website. You can find PTSD resources here: http://www.ptsd.va.gov

We are designing vets.gov based on Veteran feedback. If you would like to provide additional feedback about vets.gov, please contact our team at feedback@va.gov.

vets.gov team

[2016-08-24 14:23] #2818 closed

[2016-08-24 14:25] koconnor719 commented on #2817
posted and closed:
Thank you for your feedback.  If you have specific questions about health care coverage for cosmetic dentistry, you can get information here: va.gov/dental, or please call 1-877-222-8387.

We are designing vets.gov based on Veteran feedback. If you would like to provide additional feedback about vets.gov, please contact our team at feedback@va.gov.

vets.gov team

[2016-08-24 14:25] #2817 closed

[2016-08-24 14:26] suzchap commented on #2841
@koconnor719 I didn't but I just read up on it so I now have a basic understanding.

[2016-08-24 14:32] #2821 closed

[2016-08-24 15:10] koconnor719 commented on #2841
can you post a few sentences here so i can respond?