[2015-05-14 13:33] dannychapman opened #33 "Add Twitter Card, Open Graph meta"

[2015-10-19 15:29] dannychapman opened #162 "USDS: Lists"

[2015-10-19 15:30] dannychapman opened #166 "USDS: Alerts"
Implementation TBD (adjust line length)

[2015-10-19 15:31] dannychapman opened #168 "USDS: Footer"

[2015-11-03 14:04] MarinaMartin opened #299 "Need a 404 page"
This page needs to be copied over to the apps (GIBCT, VEC, FL).

[2015-11-07 18:35] MarinaMartin opened #385 "Highlight GIBCT, FL on homepage"

[2015-11-10 02:54] koconnor719 opened #468 "Facility Locator page"
change link on bottom of Facility Locator page (https://www.vets.gov/facility-locator) to be "Download Complete Lists of Accredited Attorneys, Claims Agents, or Representatives". it is unclear what the user is downloading a list of:)

![screen shot 2015-11-09 at 9 53 31 pm](https://cloud.githubusercontent.com/assets/13770771/11053139/5d083de0-872c-11e5-9b41-2a8255398df0.png)

[2015-11-10 03:13] koconnor719 opened #474 "opening new windows?"
question: should vets.gov be consistent with opening new windows when linking out of vets.gov?  for example, on the GI Bill comparison tool, when we link to pages on VA.gov or other sites, a new window is open, but from most pages on vets.gov links do not open a new window.

[2015-11-10 03:23] koconnor719 opened #478 "menu link errors"
when i click on any of the breadcrumb items on this page https://www.vets.gov/disability-benefits/filing/active-duty/tools/ i get the error message page below ("the page you are looking for cannot be found").  is that the expected result?

![screen shot 2015-11-09 at 10 22 11 pm](https://cloud.githubusercontent.com/assets/13770771/11053592/584237b2-8730-11e5-947c-c669fc0a273e.png)

![screen shot 2

[2015-11-10 03:43] koconnor719 opened #486 "" i " link not working on playbook product methodology page"
link does not work for the "i" link for "define project plan"  (note: it appears that none of the "i" links work on the other playbook product methodology pages.) suggest we just remove these for launch?

![screen shot 2015-11-09 at 10 43 51 pm](https://cloud.githubusercontent.com/assets/13770771/11053903/5c9fb5ca-8733-11e5-87af-f2886a52da16.png)
on playbook page https://www.vets.gov/playbook/prod

[2015-11-10 18:07] raineystraus opened #509 "Search Link Colors"
Link, Hover and visited link colors should map to the main site.

[2015-11-10 18:14] raineystraus opened #510 "Conditions Blue Box Overload"
https://www.vets.gov/disability-benefits/conditions/ptsd/ - new rules should be applied.

[2015-11-10 18:15] dannychapman opened #512 "logo update"

[2015-11-10 18:18] raineystraus opened #514 "Asbestos Blue Box Overload"
https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/asbestos/

Apply callout box rules

[2015-11-10 18:21] raineystraus opened #515 "Missing Exiting Vets.gov Icon"
Somewhere along the way we've lost the icon we'd been using to indicate that you were clicking a link that would take you off of vets.gov

[2015-11-10 18:22] raineystraus opened #516 "Blue Box Overload: Service in Vietnam or Korea"
https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/agent-orange/service-inside/

Apply callout box rules

[2015-11-10 18:38] raineystraus opened #521 "Redundant Page Titles"
I thought we'd eliminated page titles that were redundant to the breadcrumb. I'm seeing this throughout and I'm not sure if that approach changed with the content team somewhere along the way.

See example: https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/specific-environmental-hazards/

[2015-11-10 19:03] raineystraus opened #526 "Disability Benefits: Missing Card Navigation"
The landing page for disability benefits should include a card for "Application Process" or something like this. We'd want redundant access here, through the standard navigation and through the button/call-to-action.

[2015-11-10 19:07] raineystraus opened #528 "Education Benefits - Missing Button/Call-to-Action"
Similarly to Disability Benefits - we should integrate the green call to action button throughout the education section to the "apply page".

https://www.vets.gov/education/

[2015-11-10 19:08] raineystraus opened #529 "Legacy Programs: Missing Navigation Descriptions"
We need a line of description for each of these programs so the users can ID which to investigate.

https://www.vets.gov/education/eligible-programs/

[2015-11-10 19:10] raineystraus opened #530 "GI Bill: Missing Navigation Descriptions"
https://www.vets.gov/education/gi-bill/

Need second line of description for navigation list, e.g. Foreign Programs

[2015-11-10 19:11] raineystraus opened #532 "Foreign Programs: Missing Process list template"
https://www.vets.gov/education/gi-bill/foreign-programs/

The "How to Apply" section should utilize the process list template

[2015-11-10 19:19] raineystraus opened #535 "Transfer Post 9/11 GI Bill: Page/Content layout"
This page doesn't quite feel like it's working yet consider:

- Process list for "What happens next"

And either, move learn more to the bottom of the page or put contact information in a "help side bar"

https://www.vets.gov/education/gi-bill/transfer/

[2015-11-10 19:22] raineystraus opened #537 "Survivors and Dependents Assistance: Responsive table refinement"
The type gets too small at the smallest breakpoints. Need to refine pattern.

https://www.vets.gov/education/survivors-dependent-assistance/

[2015-11-10 19:44] raineystraus opened #542 "Blue Box Overload: Multiple Pages"
https://www.vets.gov/disability-benefits/conditions/pow/
https://www.vets.gov/disability-benefits/claims-process/evidence/
https://www.vets.gov/education/gi-bill/montgomery-active-duty/
https://www.vets.gov/education/gi-bill/transfer/
https://www.vets.gov/education/survivors-dependent-assistance/

[2015-11-10 19:55] dnesting opened #547 "Blue boxes inconsistent around Hazardous Exposures sections"
Sometimes the blue boxes cover all of the sections in a page.  Sometimes individual blue boxes cover individual sections.  Sometimes sections lack a blue box.

https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/agent-orange/

![image](https://cloud.githubusercontent.com/assets/7342162/11073892/b83ef698-87ba-11e5-874a-554d11ec6497.png)

https://www.vets.gov/disabil

[2015-11-10 20:08] dnesting opened #552 "Bulleted list under ionizing-radiation needs to be split up"
The "Are you eligible for compensation" bulleted list appears, from reading, to be improperly flattened.  That is, the second ("As a participant in atmospheric testing...") through the sixth ("While performing tasks similar...") elements appear intended to be a sub-list beneath the first bullet.  The seventh item in the list would then be promoted to the second item in the outer list.

![image](ht

[2015-11-10 20:11] dnesting opened #553 ""Ionizing Radiation" and "Radiogenic Risk Activities" are confusingly similar"
These two sections under exposures-to-hazardous-materials are confusingly similar, providing similar bulleted lists for eligibility.  Should these be combined into one page?

https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/ionizing-radiation/
https://www.vets.gov/disability-benefits/conditions/exposures-to-hazardous-materials/radiogenic-risk-activities/

Also,

[2015-11-11 01:50] koconnor719 opened #577 "facility locator results not filtering?"
when i search any facility type (e.g., cemetery) by state (e.g., Virginia), i get facilities that are in many other states--not just Virginia?

![screen shot 2015-11-10 at 8 48 35 pm](https://cloud.githubusercontent.com/assets/13770771/11081649/733d6700-87ec-11e5-95b8-005f38a91bc1.png)

[2015-11-11 18:17] alex opened #587 "Different parts of the vets.gov website have different headers"
**vets.gov**:
![screen shot 2015-11-11 at 1 15 39 pm](https://cloud.githubusercontent.com/assets/772/11098940/5e77dd0c-8876-11e5-8bb1-eabf52ad836a.png)

**GI Bill Comparison Tool**:
![screen shot 2015-11-11 at 1 15 46 pm](https://cloud.githubusercontent.com/assets/772/11098939/5e773b72-8876-11e5-9bc4-8c41ada9d89e.png)

**Facility Locator**:
![screen shot 2015-11-11 at 1 15 52 pm](https://cloud.git

[2015-11-11 18:28] alex opened #588 "Server is sending 403s, instead of 404s for non-existant pages"
[code]

[2015-11-11 18:28] alex opened #589 "Server website with HTTP Strict-Transport-Security"
https://www.chromium.org/hsts

[2015-11-11 19:23] MarinaMartin opened #590 "Posting Vets.gov to Facebook has no image"
![image](https://cloud.githubusercontent.com/assets/489465/11100524/bccf78f2-887f-11e5-9642-ff98db0b2416.png)

[2015-11-11 19:29] MarinaMartin opened #591 "Setup UserVoice to Github integration via Zapier"

[2015-11-11 20:15] MarinaMartin opened #592 "UserVoice Idea: Simplicity, transparency and accountability"
The biggest challenge to the VA website is funding direct answers to simple questions. For example, if I am sick today, but I'm not so ill that I need to go to the emergency room, what do I do? Does the VA have anything similar to "urgent care", where do I find it, and how do I access it?

If I have a healthcare problem that I believe is not being adequately addressed, who do I go to to get help?

[2015-11-11 20:17] MarinaMartin commented on #591
Done.

[2015-11-11 20:17] #591 closed

[2015-11-11 20:17] MarinaMartin opened #593 "UserVoice ideas look like they are coming from Marina"
Fine for now, ultimately strange and should be changed.

[2015-11-12 14:56] edmullen opened #594 "Suggestion: Linking to eBenefits for disability compensation."
On the [Disability Benefits page](https://www.vets.gov/disability-benefits/get/), the two main call to action buttons – "Go to eBenefits to apply" – link to the [eBenefits homepage](https://www.ebenefits.va.gov/ebenefits/homepage) where the user needs to find the right link for disability benefits.

**Consider linking directly to the [disability compensation page](https://www.ebenefits.va.gov/eben

[2015-11-12 15:26] #552 closed

[2015-11-12 15:47] benbalter opened #599 "Under what license is the site (and content) distributed?"
It'd be awesome to add a LICENSE file, to make it explicit what license, if any, the site's code and content is distributed, and what license, if any, contributors grant if they submit a pull request.

Since it's a government site, and contains both code and content, I'd suspect CC0 would be a natural choice (since it can be used for both and is congruent with government work being in the public d

[2015-11-12 16:23] benbalter opened #601 "Site does not load over HTTPS without www"
Depending on whether you use HTTPs or HTTP, and www or the root domain, the site does not load (time out):

| &nbsp;  | HTTPS              | HTTP               |
|:--------|:-------------------|:-------------------|
| WWW     | :heavy_check_mark: | :heavy_check_mark: |
| non-www | :no_entry_sign:    | :heavy_check_mark: |

Specifically, http://vets.gov, http://www.vets.gov, and https://www.vets.go

[2015-11-12 17:47] konklone commented on #589
Yep, HSTS is a requirement of M-15-13. There's some accompanying documentation here: https://https.cio.gov/hsts/

The best outcome, and the one [recommended by OMB](https://https.cio.gov/guide/), is to add a policy to the root of the domain that includes each subdomain automatically, by adding an HSTS header to `https://vets.gov` that says the following:

[code]

This means you don't have to worry

[2015-11-12 17:54] konklone commented on #601
Just saw this -- to connect the threads, my comment at https://github.com/department-of-veterans-affairs/vets-website/issues/589#issuecomment-156181743 requests that when `https://vets.gov` is configured, that an HTTP header be placed on it:

[code]

This is the header used by `https://whitehouse.gov`, `https://18f.gov`, and ~35 other `.gov` domains.

[2015-11-12 18:18] rickleegit commented on #593
Kelly this looks like a design issue. But if not please assign @plusjeff

[2015-11-12 18:54] MarinaMartin opened #602 "UserVoice Idea: Improve the Search Engine"
The search engine must be improved. I searched for IHD and there was nothing returned. Then I searched for Ischemic Heart Disease and got one link returned. Acronyms and abbreviated terms are standard within the military and VA lexicon. The VA dot gov search engine is the worst ever. Please bring this one up to the level of Google, or at least close.

http://veterans.uservoice.com/forums/330333-ve

[2015-11-12 19:08] OpenGlobe opened #604 "No link to Github Repository?"
I might have missed it, but I didn't see any link to this Github repo from the pages - seems like off the "we're designing in the open" statement in top header might be one place to include something like that.

[2015-11-12 19:15] OpenGlobe opened #605 "Download complete list for claims assistance issues"
The statement at the bottom of Sec. McDonald's message takes visitors to the following page to "download the complete list" of claims assistance providers:

http://www.va.gov/ogc/apps/accreditation/index.asp

But the download from that page appends .asp to each Excel document downloaded for one of the four categories selected.  Perhaps this isn't an issue for vets.gov as much as it is for va.gov -

[2015-11-12 19:15] abhinemani opened #606 "Typo in Playbook?"
On the Design Principles, it states:

"Help people reach their goals every time, smoothly and radically simplify"

Simplify is a transitive verb, so it needs an object. Maybe it should be "radically simply" (the adverb, not the verb, to modify how people reach their goals)?

[2015-11-12 19:47] koconnor719 commented on #602
Eric,  here's my suggested response.  can you pls. modify as you think / or just validate and i'll post to the site.

"Thank you for your feedback.  The VA.gov search is not a part of vets.gov search.  Please check out our vets.gov search functionality and let us know your feedback."

[2015-11-12 19:50] koconnor719 commented on #593
Emdash, do you know when we can change this?  if not for a while, can you (or marina) please provide a sentence that i can respond with??

[2015-11-12 19:55] koconnor719 commented on #592
marina, are you ok with this response:

Thank you for your feedback. Because vets.gov is an initial beta release, we do not yet have information on the site about healthcare. Please go to Va.gov for healthcare information at this time. Our design approach for healthcare information and services will be based on user feedback, including your comments, so we thank you for taking the time to provide

[2015-11-12 19:57] koconnor719 opened #607 "Not all User Voice comments in Github?"
team, i see only 3 user voice items in GitHub but there are about a dozen on the site?  are user voice comments coming into Github automatically with "User Voice" in subject line?  is this an issue with user voice?

[2015-11-12 20:00] koconnor719 commented on #607
do i need to add these manually?

[2015-11-12 20:01] nsinai commented on #604
Good point @OpenGlobe!  I also didn't see this repo anywhere on vets.gov, and only found it looking around github.

There are some great calls to action by Secretary Bob, but they aren't actionable with a link or explanation about how to contribute back.  Even the user voice icon is pretty subtle, and not connected to the Secretary Bob call to action.

[2015-11-12 20:02] nsinai commented on #606
good catch

[2015-11-12 20:14] MarinaMartin opened #608 "UserVoice Idea: add feedback directions"
-

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10680045-add-feedback-directions

[2015-11-12 20:14] koconnor719 opened #609 "User voice - clearer call to action and feedback channel"
Clearer call to action and feedback channel

Why isn't there a clearer way to give feedback on this page on the introductory post from Sec. McDonald? Why is there a lightbulb icon instead of a call to action, like "Comment" or "Write to us" or "Share Your ideas? https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta.html

3
votes
Vote

[2015-11-12 20:16] koconnor719 commented on #609
emily,

per our discussion, i think you wanted to take some action on this one--maybe call the lightbulb "website feedback" or something--and provide some brief instructions on the site.

how's this for a response:

Thank you for your feedback. We have added your request as an enhancement and will be updating the site in the coming weeks.  Thank you.

[2015-11-12 20:17] koconnor719 commented on #608
marina, are you adding these manually?  if so, i can do that.

[2015-11-12 20:20] koconnor719 commented on #608
this is a duplicate comment so i'm closing; comment to add some feedback instructions to the site already logged and routed to Emdash.

[2015-11-12 20:20] #608 closed

[2015-11-12 20:22] #607 closed

[2015-11-12 20:23] koconnor719 opened #610 "User Voice - English usage"
English usage

Use the English language correctly. Don't use "agnostic" when you mean "independent". That is an IT bad English word that should not be used here. "Agnostic" pertains to religion.

[2015-11-12 20:26] koconnor719 commented on #610
Shaun, i don't think any change is actually needed here? pls. confirm and i'll close this issue and respond.  how's this for a response:

Thank you for your feedback. Our team of writers will review all language comments and update the content on vets.gov accordingly.

[2015-11-12 20:28] koconnor719 opened #611 "User voice - explain schedule of disabilities"
Explain schedule of disabilities

Explain how to interpret the schedule of disabilities

[2015-11-12 20:30] MarinaMartin opened #612 "UserVoice Idea: One site means one site"
I just received an email to get alerts/messages from the VA but I have to subscribe or "like" the VA on FB??  I don't want to check multiple sites for info - I just want one.  Will the same info be posted here?  And if I join/register on this site, will I get the same info?  One site recommendation really means one site.  Thank you.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions

[2015-11-12 20:36] koconnor719 commented on #611
susan and shaun, i don't think we want to be writing any content describing disabilities--this links to 38 CFR http://www.benefits.va.gov/warms/bookc.asp#k which actually does provide some details that are helpful...i'm NOT going to label this as an enhancement..ok?  if response below ok w/ you i will close.

Thank you for your feedback. We link to source material for this information 38 CFR Book

[2015-11-12 20:40] koconnor719 commented on #612
Marina,

are you ok with this response:

Thank you for your feedback. We are working to develop vets.gov as the one site for Veterans to access services and information they need. Because we are "developing in the open" and taking a Veteran focused and iterative approach to building vets.gov, we will have both VA.gov and vets.gov in operation while we do this.

[2015-11-12 20:44] koconnor719 opened #613 "User voice - Make Vets.gov "Process" header more clear"
Make Vets.gov "Process" header more clear

"Process" and "Playbook" aren't self-evident terms. Maybe "Behind the Scenes" or "How Vets.gov is Being Built" would be more accurate for "process"? Instead of "playbook", maybe "Vet.gov Playbook" or "Vets.gov plans" or "Plan for vets.gov"

2
votes
Vote

[2015-11-12 20:46] koconnor719 commented on #613
emily, i totally agree with this one.  1) i don't think it makes sense lumping the blog and playbook together, and 2) i don't think process is good label for either.  can you pls. advise on how you'd like to handle:)  thanks. then i can draft a sentence with response..

[2015-11-12 20:47] koconnor719 opened #614 "User voice - improve the search bar"
Improve the Search Engine

The search engine must be improved. I searched for IHD and there was nothing returned. Then I searched for Ischemic Heart Disease and got one link returned. Acronyms and abbreviated terms are standard within the military and VA lexicon. The VA dot gov search engine is the worst ever. Please bring this one up to the level of Google, or at least close.

[2015-11-12 20:48] koconnor719 commented on #614
Eric, can you pls advise on this one:)

[2015-11-12 20:49] koconnor719 commented on #614
duplicate; closing

[2015-11-12 20:49] #614 closed

[2015-11-12 20:50] koconnor719 opened #615 "User voice - misspelling (typo)"
Misspelling

Typo in Secretary McDonald's Help Us Create vets.gov message. "You’ve said want a site that’s clear...". Should be " You’ve said that you want a site that’s clear..."

[2015-11-12 20:52] koconnor719 commented on #615
emily, this is low priority but it is a typo.  i'll add as an enhancement, and can you make the change on blog when you have time?  how's this for a response:

Thank you for your feedback.  Good catch!  We're making the correction.

[2015-11-12 20:53] koconnor719 opened #616 "User voice - vets.gov or eBenefits"
vets.gov or eBenefits?

So should I be using vets.gov or eBenefits?

[2015-11-12 20:55] koconnor719 commented on #616
marina, no action but are you ok with this response:

Thank you for your feedback. Because we are "developing in the open" with vets.gov and taking an iterative, Veteran focused approach, for a temporary period there will be information on both vets.gov and Va.gov.  If users are looking for disability benefits information or education benefits information, please check vets.gov. If you can't find

[2015-11-12 20:58] koconnor719 opened #617 "User voice - general VA contact"
general va contact

So what number can a Vet call for a question besides VCL?

[2015-11-12 21:00] koconnor719 commented on #617
no action; marina are you ok w/ this response:

Thank you for your feedback. here are VA phone numbers https://iris.custhelp.com/app/answers/detail/a_id/1703

[2015-11-12 21:02] koconnor719 opened #618 "User voice - facility locator"
facility locator problem

Can't select a location under facility locator page until the entire country's facilities upload on the map. Should select location first before that occurs. takes 5-10 seconds to load this way--frustrating and not user friendly.

[2015-11-12 21:02] koconnor719 commented on #618
marina and Bill, is this accurate on the load time? should this be the case?  pls. advise on response.

[2015-11-12 21:06] koconnor719 opened #620 "User voice - gather useful visitor feedback"
Gather useful visitor feedback

Why not survey visitors to better understand why they came to the site, whether or not they were able to accomplish what they came to do, etc? You need data about visitor experience before trying to make significant changes to the site.

[2015-11-12 21:08] koconnor719 commented on #620
Emdash, per our discussion i think you wanted to write a blog to address the feedback process.

i will ask sarah to write a blog on our HCD approach to address the survey and experience question.

[2015-11-12 21:15] koconnor719 opened #621 "User voice - clarifying how VA assigns disability ratings"
Clarifying how VA assigns disability ratings

Under "Disability Benefits>Claims Process>How does VA assign disability ratings?", I do not believe the response answers the question in a clear enough manner. The response, "The amount of compensation depends upon the severity of your disability..." assumes that a service-connection will be/has been established. It does not clarify that in certain cas

[2015-11-12 21:15] koconnor719 commented on #621
shaun, can you pls review this one and advise how you want me to respond:)  thanks. k

[2015-11-12 21:17] koconnor719 opened #622 "User voice - clarify UX"
Clarify UX

It's pretty hard to tell that the Yellow highlighted text is a title and not clickable, and that the lighter blue boxes below *are* links. Just the hover state isn't enough, there needs to be a better action callout here.

1
vote
Vote

[2015-11-12 21:18] koconnor719 commented on #622
emdash, pls. advise how you want to respond--and if you intend to you make this change?  in which case i'll mark as an enhancement.

[2015-11-12 21:24] koconnor719 opened #623 "User voice - where is healthcare information?"
Where is health care information?

I see links for disability benefits and education benefits but nothing for VA health care. Is this a VBA-only site or a 1 stop shop?

[2015-11-12 21:26] koconnor719 commented on #623
no action required; is this response ok:

Thank you for your feedback. Because we are "developing in the open" vets.gov will be built iteratively. We will start developing the healthcare section of the site in early 2016.

[2015-11-12 21:27] koconnor719 opened #624 "User voice - pin colors (facility locator)"
Pin Colors

Do the color of the pins on the Facility Locator Map have meaning? Purple = NCA, Brown = MC, ... ?

[2015-11-12 21:31] koconnor719 commented on #624
emily,

should we add a legend to the facility locator page?  here are the color codes:
Red - Central Office
Blue - Benefits Office
Green - Intake Site
Purple - Cemetery
Orange - VISN (Veterans Integrated Service Networks) Office
Yellow - Outpatient Clinics
Brown - Hospitals
Pink - Veteran Centers

[2015-11-12 21:32] koconnor719 commented on #624
how's this for response:

Thank you for your feedback.  We have added your change as an enhancement and will be modifying the site with the following color legend:
Red - Central Office
Blue - Benefits Office
Green - Intake Site
Purple - Cemetery
Orange - VISN (Veterans Integrated Service Networks) Office
Yellow - Outpatient Clinics
Brown - Hospitals
Pink - Veteran Centers

[2015-11-12 21:40] koconnor719 opened #625 "User voice - observation on website"
observation on website

I wasn't able to click on the yellow "How can we help?" box. Is that intentional?

[2015-11-12 21:40] koconnor719 commented on #625
emdash, i think you are already working on this one.  pls. advise of your fix and i'll respond:)  thanks.

[2015-11-12 21:41] ss0ss commented on #611
Kelly - so we can close this, right?

[2015-11-12 21:43] koconnor719 opened #626 "User voice - observation on website"
observation on website

I wasn't able to click on the yellow "How can we help?" box. Is that intentional?

[2015-11-12 21:43] koconnor719 commented on #611
yes.  as long as you guys are ok w/ my response--which i will post back to site.  i can close these when i post the response.

[2015-11-12 21:45] koconnor719 commented on #611
trying to make this easy for you guys:)  i'm happy to manage these issues start to finish--once i get your approval..if that works?

[2015-11-12 21:46] koconnor719 opened #627 "User voice - UX clarity"
UX clarity

Clarify your hierarchy and color palette. The UX is fundamentally flawed, y'all. Clarify calls-to-action and user affordances.

[2015-11-12 21:47] koconnor719 commented on #627
emdash, how do you want to respond to this?

[2015-11-12 21:47] koconnor719 opened #629 "User voice - disclaimer language"
Language on Blog unclear

Was reading the disclaimer on the blog. The last sentence (the link) really makes no sense. 'Download the complete list', it's not clear what the list is from the prior content.

[2015-11-12 21:50] koconnor719 commented on #629
emily and danny,

we actually have this enhancement in the backlog already --it was flagged during testing.  this has nothing to do w/ the blog--it's about the disclaimer content on every page...the link actually not be "download" but rather "search" given where this link take you:http://www.va.gov/ogc/apps/accreditation/index.asp

 i think the link should be, "search Accredited Attorneys, Claims

[2015-11-12 21:51] koconnor719 commented on #629
how's this for the response:

Thank you for your feedback. We've added your suggestion to our list of enhancements."

[2015-11-12 21:55] koconnor719 commented on #605
this link is for the disclaimer (not the blog); i think we should relabel this to "Search Accredited Attorneys, Claims Agents, or Veterans Service Organizations (VSO) Representatives" to be more accurate.

[2015-11-12 21:56] koconnor719 opened #631 "User voice - apply for counseling eBenefits"
Apply for Counseling - refer to one-click in eBenefits

The "Apply for free counseling services" - there is an electronic one-click application process in eBenefits. It's okay to provide the form for some folks, but for others, the one-click option would be better and should be visible.

[2015-11-12 21:57] koconnor719 commented on #631
shaun, pls. advise on this one:)

[2015-11-12 22:46] ss0ss commented on #611
I'm fine with that. If you feel that you have the ammo to close out on your own - like something obvious, I say that's fine. @sjb912 ?

[2015-11-12 23:38] MarinaMartin opened #634 "UserVoice Idea: Eligibility Assessment"
The key thing that's missing is quickly determining eligibility. There are so many benefits but we often don't know about them, until we attend some random briefing one day. What would be great is to take an eligibility assessment and then know, what all benefits I'm entitled to. Right now, for example, on the education page, you've broke up the benefits, but one may not know where to start. I oft

[2015-11-13 00:16] sjb912 commented on #613
Process as a header for Playbook works. Blog is badly placed there, though.

Creating vets.gov would work as a header for both.

[2015-11-13 00:21] MarinaMartin opened #636 "UserVoice Idea: Tools, and financial planning"
This new website can / should do more for servicemembers before and during their transition out of the service and into Veteran status. Areas to focus on would include calculators for better determining pensions, since this information is critical to financial planning during transition; tools to understand, prepare for, and submit first claims disability with the VA, specifically tools to better

[2015-11-13 00:51] MarinaMartin opened #637 "UserVoice Idea: Mobile First - Security Always"
You know this but I'll add my voice to the comments:  please "bake in" security and mobility.  These can reinforce one another by offering easy multifactor authentication.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10683258-mobile-first-security-always

[2015-11-13 01:33] ss0ss commented on #631
I kind of get what they're going for, but they're pretty much asking for a function that currently resides within eBenefits, the one-click apply for counseling, to exist on vets.gov. Because as far as I know, we don't have any 'Apply For Counseling' yet, let alone the topic outside of PTSD. That will come with Mental Health.

[2015-11-13 01:38] jekrb commented on #618
I've made a branch where the data for the map is loaded into localstorage while visiting other pages (home page, etc..).  I'm not sure if this is an elegant solution, but it does drastically speed up the time in which the user can select a facility type by storing that data locally when they first visit the site rather than making an http request when they go to the facility locator.  If you want

[2015-11-13 01:39] ss0ss commented on #621
Understood - but this is semantics. You only get a rating if you have a service connected disability, even if it's 0%. This does assume that that there is service connection. I don't know @sjb912 you think this requires an edit like, "If VA determines a service connected disability, the amount of compensation depends upon the severity of that disability..." or something else along those lines. Or,

[2015-11-13 01:46] ss0ss commented on #610
This is a style comment. IMO, no changes needed. Although, I do want to highlight that its use (assuming HS-level english) is geared towards religion, and not only until you have a college-level, even graduate reading level does it become part of normal vocabulary. Good to note.

[2015-11-13 02:52] MarinaMartin opened #638 "UserVoice Idea: 3 bugs"
1) first line of the Secretary's message is missing the word "of" after "version"

2) This feedback form is titled "Post an Idea," which doesn't accurately describe what I'm trying to do, which is report a bug.

3) When I click the light bulb icon to leave this feedback, I am taken all the way to the bottom of the page (on iPad Safari), and at first I couldn't see where I was typing.

-- Chase Kim

[2015-11-13 03:02] llimllib commented on #618
I just cut the size of the facilities file to about 20% of its previous size by setting s3 to serve it gzipped.

I have some ideas for how to cleverly serve partial location files to be more user-friendly. I will improve the responsiveness of the site before it gets downloaded in the meantime.

[2015-11-13 14:09] koconnor719 commented on #634
this seems to be an information architecture comment.  proposed response below:

Thank you for your feedback. We will review your comment along with other feedback we get from Veterans about determining eligibility.

[2015-11-13 14:43] MarinaMartin opened #646 "UserVoice Idea: Accurate Vet Entrepreneurship resources"
Under veteran entrepreneurship, you direct vets to only SBDCs, instead they should be directed to SBA OVBD where all SBA partners are available (SBDCs are only one partner).  Also you list CVE with its old name, not its present name.  You also fail to include VA VR&e which is the only VA program with authority and program availability to support small business development by disabled veterans.  Pl

[2015-11-13 14:51] sjb912 commented on #634
We've dreamed of a widget that would allow folks to feed us simple demographic info that would allow us to match them up with services and programs most likely to fit their needs, so they wouldn't have to hunt through so much to find what might apply to them. That's a manual front end to something that should be a whole lot more sophisticated. One day, when we have the ability to ID specific visit

[2015-11-13 15:15] MarinaMartin opened #648 "UserVoice Idea: Better UI"
Have more graphics

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10690737-better-ui

[2015-11-13 15:24] sjb912 commented on #621
Folks will have lots of opinions about how much detail we should or shouldn't go into, usually skewed to his or her own specific case.  In this case, the statement the Veteran is objecting to is factually correct. We could go finer grained, as Shaun suggests -- nothing wrong with doing that, though I'd put that qualifier at the end instead of the beginning of the sentence.

The amount of compensat

[2015-11-13 15:26] sjb912 commented on #621
I'll go into GitHub and tweak it.

[2015-11-13 15:40] sjb912 commented on #611
Totally fine with that.

[2015-11-13 15:44] MarinaMartin opened #649 "UserVoice Idea: Less blank space between sections for less scrolling"
Maybe tightened up the blank space between sections so we don't have to scroll as much from a desktop view (not an issue on mobile view)?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10690968-less-blank-space-between-sections-for-less-scrolli

[2015-11-13 15:55] emilyville opened #650 "Change some VHA styleguide links from playbook"
From Jeffrey F. Grandon, MHA:
We’d like to update some links on https://www.vets.gov/playbook/editorial/.

1.       We’re in the process of phasing out the outdated VHA Style Guide in favor of the VA Tier 1 Graphic Standards. VA’s newer standards contain this statement in the intro, which pretty much foretells the demise of VHA’s older guide:

“This document is the solely-approved standard graphic

[2015-11-13 16:15] MarinaMartin opened #651 "UserVoice Idea: What's the goal of this site?"
This 'post an idea' is great. You should have a clear objectives for this new great site so that ideas can  be in the correct context. You will save yourself alot of trouble. The intention of the site is good to know. Kudos for this site and I hope it elvolves into good usefullness for our vets. An about or objective will give idea contributors a starting focus. I always have lots of ideas.

http:

[2015-11-13 16:38] llimllib commented on #618
(That 5x improvement just took effect right now, if you want to compare)

[2015-11-13 16:38] llimllib commented on #624
I thought about a legend, but I didn't have a good idea for where to put it. Open to suggestions!

[2015-11-13 16:44] koconnor719 commented on #624
what about a link on top right of page (just above the text listing) to "color legend" that would open up one of those little info / help boxes we use  for " i ";

[2015-11-13 16:46] MarinaMartin opened #652 "UserVoice Idea: Community based links"
As VA encourages 'community' involvement (bravo!) it may be very prudent to e.g. link SAMHSAs' updated community based services locator: https://findtreatment.samhsa.gov/
and link other well vetted & appropriate local community based resources partnered with VA

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10691964-community-based-links

[2015-11-13 16:46] MarinaMartin opened #653 "UserVoice Idea: myHealtheVet"
Provide secure link to myHealthyVet too

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10691823-myhealthevet

[2015-11-13 16:46] MarinaMartin opened #654 "UserVoice Idea: Online Self-Making Appointment like airline seating chart online, monthly calendar show instead of seating chart"
After we are told from the doctor we need to come back in 3/6/12months.  We need self-making appointment online, like we reserve airline-seating when we buy airline ticket online.  After we make an appointment online VA send email/text confirmation and if that date is not available VA give us new date/time.  Also the main important is VA have to reply in 24 hours after we request that appointment

[2015-11-13 16:46] alex opened #655 "On GI Bill "Instituions" page "Refine my search" for institution type doesn't display status"
URL: `https://www.vets.gov/gi-bill-comparison-tool/institutions/search?utf8=%E2%9C%93&page=1&num_results=9&source=search&military_status=veteran&spouse_active_duty=no&gi_bill_chapter=33&cumulative_service=1.0&enlistment_service=3&consecutive_service=0.8&elig_for_post_gi_bill=no&number_of_dependents=0&online_classes=no&institution_search=Chicago&commit=Search+Schools&page=1&num_results=9&page=1&num

[2015-11-13 16:47] alex commented on #655
(I'm expecting `School` to show up as selected)

[2015-11-13 17:13] gmorgana-va opened #656 ""Find Employment" Link Broken on Institution Pages"
On individual institution pages (example below), the "Find Employment" link under additional resources directs to a non-existent page.

https://www.vets.gov/gi-bill-comparison-tool/institutions/profile?military_status=veteran&spouse_active_duty=no&gi_bill_chapter=33&cumulative_service=1.0&enlistment_service=3&consecutive_service=0.8&elig_for_post_gi_bill=no&number_of_dependents=0&online_classes=no

[2015-11-13 18:00] MarinaMartin opened #657 "UserVoice Idea: clairification of website intentions"
1. Will my HealtheVet access be available as it is on ebenefits?
2. Can a section be highlighted for Veterans to access the letters needed for proof of service, but more important make it easier to access the Veterans Preference Letter for Civil Service Preference.
3. If this combines as a single website, will information be available so that veterans seeking information on claims assistance be mo

[2015-11-13 18:14] MarinaMartin opened #658 "UserVoice Idea: Error in Facility Locator"
I can't help but notice that the Facility Locator does not display VA Hospitals in several states, even when the city of the VA hospital in entered into the search

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10693143-error-in-facility-locator

[2015-11-13 19:30] MarinaMartin opened #660 "UserVoice Idea: MHV"
Adding a link to MHV on this site would be helpful in accessing accounts from this location.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10694148-mhv

[2015-11-13 20:11] llimllib commented on #658
Difficult for me to say anything without example cities. Shall I respond asking for some example missing locations?

[2015-11-13 20:17] llimllib commented on #638
#1 does indeed seem like a typo, should I fix it?

[2015-11-13 20:20] llimllib commented on #587
I fixed the differences between facility locator and the main vets.gov header in c49d5f3

[2015-11-13 20:28] koconnor719 commented on #638
yes  pls. add the "of" bill.  thanks.

[2015-11-13 20:32] koconnor719 commented on #638
here's the response:

Thank you for your feedback.  We made some of your suggestions (correcting typo in our blog)--thank you!  We will consider your other feedback for future enhancements.

[2015-11-13 20:33] koconnor719 commented on #646
checking w/ content sme's on this suggestion.

[2015-11-13 20:37] koconnor719 commented on #636
response:

Thank you for your feedback. We are developing in the open and releasing new features and content iteratively.  We have not yet begun work on the financial planning tools and content for the site, but will keep your feedback for when we start that work.

[2015-11-13 20:38] koconnor719 commented on #651
Thank you for your feedback. We are working on additional instructions and context for the "post an idea" feature!

[2015-11-13 20:41] koconnor719 commented on #653
response:

Thank you for your feedback. We are developing in the open and delivering features and content iteratively. We plan to deliver healthcare information and features (such as myHealtheVet) in the coming months.

[2015-11-13 20:42] MarinaMartin opened #662 "UserVoice Idea: When entering a term or terms into the search bar, allow for predictive text technology to be deployed."
Launch predictive text when entering search terms in the search bar

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10695177-when-entering-a-term-or-terms-into-the-search-bar

[2015-11-13 20:42] koconnor719 commented on #654
response:

Thank you for your feedback. We are developing in the open and delivering information and features iteratively. We plan to have Veteran focused features, including the ability to make an appointment online, available on vets.gov in 2016.

[2015-11-13 20:45] koconnor719 commented on #657
response:

Thank you for your feedback. We are developing in the open and delivering iteratively, so we plan to deploy claims-related and healthcare information and features (such as myHealtheVet and eBenefits) starting in 2016. We will include your feedback in our healthcare design work.

[2015-11-13 20:46] koconnor719 commented on #658
response:

Thank you for your feedback. Can you provide us with some specific example cities and states?

[2015-11-13 20:47] koconnor719 commented on #660
response:

Thank you for your feedback. We are developing in the open and delivering iteratively. We plan to deploy healthcare information and features starting in 2016.

[2015-11-13 20:51] koconnor719 commented on #592
posted and closed.

[2015-11-13 20:51] #592 closed

[2015-11-13 20:54] llimllib commented on #658
@koconnor719: thanks!

[2015-11-13 20:54] koconnor719 commented on #611
posted response and closed

[2015-11-13 20:54] #611 closed

[2015-11-13 20:56] koconnor719 commented on #612
posted and closed

[2015-11-13 20:56] #612 closed

[2015-11-13 21:00] koconnor719 commented on #616
posted and closed

[2015-11-13 21:00] #616 closed

[2015-11-13 21:03] koconnor719 commented on #618
posted response and closed.

response:

Thank you for your feedback. Our team has made some adjustments and the Facility Locator performance should be better!

vets.gov team

[2015-11-13 21:04] #618 closed

[2015-11-13 21:06] koconnor719 commented on #624
emily can you verify this link is ok to add?

[2015-11-13 21:07] koconnor719 commented on #602
posted and closed

[2015-11-13 21:07] #602 closed

[2015-11-13 21:08] koconnor719 commented on #617
posted and closed

[2015-11-13 21:08] #617 closed

[2015-11-13 21:10] koconnor719 commented on #620
posted and closed

[2015-11-13 21:10] #620 closed

[2015-11-13 21:10] MarinaMartin opened #663 "UserVoice Idea: -"
-

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10695414-

[2015-11-13 21:10] MarinaMartin opened #664 "UserVoice Idea: -"
-

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10695402-

[2015-11-13 21:12] koconnor719 commented on #623
posted and closed

[2015-11-13 21:12] #623 closed

[2015-11-13 21:58] MarinaMartin commented on #662
We actually have this now. Try typing "gi bill" into the search bar.

[2015-11-13 22:00] MarinaMartin commented on #660
@koconnor719 Your response sounds good!

[2015-11-13 22:02] MarinaMartin commented on #657
@koconnor719 Sounds good!

[2015-11-13 22:02] #664 closed

[2015-11-13 22:02] #663 closed

[2015-11-13 22:03] MarinaMartin commented on #654
@koconnor719 Sounds good

[2015-11-13 22:04] sjb912 commented on #651
This comment just made me smile. May this kind contributor always have a lot of ideas. :-)

[2015-11-14 02:50] koconnor719 commented on #636
posted and closed

[2015-11-14 02:50] #636 closed

[2015-11-14 02:58] MarinaMartin opened #669 "UserVoice Idea: -"
-

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10698501-

[2015-11-14 03:00] koconnor719 commented on #637
response:

Thank you for your feedback. Veterans made it clear to us that mobile was an important requirement. Our design approach is mobile-first, and the the site is mobile responsive.  Vets.gov is hosted on a secure platform and will include secure authentication and authorization capabilities in 2016. We're still in the planning process for these capabilities.  Our goal is to provide Veterans

[2015-11-14 03:01] koconnor719 commented on #638
posted and closed

[2015-11-14 03:01] #638 closed

[2015-11-14 03:09] koconnor719 commented on #648
response:

Thank you for your feedback. We've heard this suggestion before! One of things that our research shows us that's specific to government sites is that uses want efficiency. They want to find information or complete a task quickly. To this end, our design team tried to keep vets.gov as clean and simple as possible. That's why we don't use graphics and images on the site.

vets.gov team

[2015-11-14 03:12] koconnor719 commented on #649
proposed response:

Thank you for your feedback. Our design and writing team tried to break up dense pages of information, rewrite the information in plain language, and design pages that were easy for user to scan quickly. In our user testing, these content pages tested well with Veterans, including blind Veterans.

vets.gov team

[2015-11-14 03:13] koconnor719 commented on #651
posted and closed

[2015-11-14 03:13] #651 closed

[2015-11-14 03:15] koconnor719 commented on #653
posted and closed

[2015-11-14 03:15] #653 closed

[2015-11-14 03:16] koconnor719 commented on #654
posted and closed

[2015-11-14 03:16] #654 closed

[2015-11-14 03:19] koconnor719 commented on #657
posted and closed

[2015-11-14 03:19] #657 closed

[2015-11-14 03:23] koconnor719 commented on #658
posted and closed

[2015-11-14 03:25] koconnor719 commented on #662
posted and closed

[2015-11-14 03:25] #662 closed

[2015-11-14 03:26] koconnor719 commented on #660
posted and closed

[2015-11-14 03:26] #660 closed

[2015-11-14 03:28] koconnor719 commented on #624
posted response.

[2015-11-14 03:30] koconnor719 commented on #669
blank; closed

[2015-11-14 03:30] #669 closed

[2015-11-14 03:32] koconnor719 commented on #609
posted response; design team working on adding some descriptive text for feedback.

[2015-11-14 03:35] koconnor719 commented on #648
revised response:

Thank you for your feedback. We've heard this suggestion before! One of things that our research shows us that's specific to government sites is that uses want efficiency. They want to find information or complete a task quickly. To this end, our design team tried to keep vets.gov as clean and simple as possible. Generally, vets.gov avoids the use of imagery, icons and other vis

[2015-11-14 03:36] koconnor719 commented on #648
posted and closed

[2015-11-14 03:36] #648 closed

[2015-11-14 03:43] koconnor719 commented on #610
revised response posted and closed:

Thank you for your feedback. Our team of writers will review all language comments and update the content on vets.gov accordingly.  Our writers strive to make the language on  vets.gov clear and direct, yet its tone is warm and quiet. We respect Veterans’ time, so we get to the point. And we avoid bureaucratese. We distill and simplify. We’re not selling progra

[2015-11-14 03:43] #610 closed

[2015-11-14 03:46] koconnor719 commented on #605
action required to modify link text.

posted response
Thank you for your feedback. We've added your suggestion to our enhancements and will clarifying the label for that link. Great idea!

vets.gov

[2015-11-14 03:53] koconnor719 commented on #621
posted response:

Thank you for your feedback. We've modified the information on that page to reflect your feedback.

vets.gov team

[2015-11-14 03:53] #621 closed

[2015-11-14 03:55] koconnor719 commented on #649
posted and closed

[2015-11-14 03:55] #649 closed

[2015-11-14 04:00] koconnor719 commented on #652
response:
Thank you for your feedback. We are developing in the open and delivering information and services iteratively. As we begin to work on healthcare information and services for vets.gov in 2016, we will include this information and feedback.

vets.gov

[2015-11-14 04:09] koconnor719 opened #670 "remove 3 months from Apply for Benefits page"
team, the VBA team has requested the number "3 months" come off the site as soon as possible while they get agreement on the accurate number. https://www.vets.gov/disability-benefits/get/  . They are working to get us an accurate number and source and have said this number is not accurate.

![screen shot 2015-11-13 at 11 07 21 pm](https://cloud.githubusercontent.com/assets/13770771/11161978/577bba

[2015-11-14 04:20] koconnor719 commented on #593
test message; closed.

[2015-11-14 04:25] koconnor719 commented on #631
posted response:

Thank you for your feedback. We are developing in the open and delivering iteratively, so we haven't built out healthcare information and services for vets.gov yet. We will review your feedback when we begin to design the healthcare portion of vets.gov, and we will make sure to provide Veterans with both the form and the one-click option for the application process.

vets.gov tea

[2015-11-14 04:28] koconnor719 commented on #629
posted response;

Thank you for your feedback. Our team is modifying the link. Great idea.

[2015-11-14 04:33] koconnor719 commented on #615
posted and closed:

Thank you for your feedback. Good catch! We fixed this.

vets.gov

[2015-11-14 04:33] #615 closed

[2015-11-14 04:36] koconnor719 commented on #613
posted response:

Thank you for your feedback. Our team is thinking about a better label for these things, based on your feedback and other user feedback we have received. We will be modifying this to make it more clear to users!

vets.gov team

[2015-11-14 19:48] MarinaMartin commented on #593
Why did we close this? This is an issue. The reason is UserVoice is using my Github account to post via Zapier. I need to change this, which is an open issue but not super high priority.

[2015-11-14 19:49] MarinaMartin commented on #593
@rickleegit @koconnor719 If I assign myself an issue please don't re-assign to other people. This should probably apply across the board (e.g. if Emdash assigns herself an issue, there is probably a reason).

You can see who assigned who the issue in the little history notes above. Thanks!

[2015-11-14 19:53] MarinaMartin commented on #590
@dannychapman I am assigning this to you, as I think you said you have a PR to fix this. Please close when it's pushed to production. Thanks!

[2015-11-14 19:55] MarinaMartin commented on #587
@rickleegit Can you please update the GI Bill header, or assign to Marc? Thanks!

[2015-11-14 19:56] rickleegit commented on #593
Sorry. We used this as a test issue to show Kelly the features of GH.

[2015-11-14 19:57] MarinaMartin opened #671 "Site needs a single, consistent header and footer embed mechanism"
We are currently maintaining the header and footer in multiple places (multiple _includes in vets-website, GI Bill, Facility Locator, and soon VEC). This is not sustainable.

Remember that this covers three separate repos (with many more to come), vets-website for core and GI Bill and VEC are both Rails apps with separate repos.

Who has an idea for a good solution?

[2015-11-14 20:04] rickleegit commented on #655
@mphprogrammer, pretty sure that this is a product of the bug fix yesterday. Mind having a look? If this will be resolved by the search rewrite, please just note a realistic eta for the deployment of a tested search rewrite.

Thanks!

[2015-11-14 20:10] mphprogrammer commented on #655
Its a product of having the double ids - having both the responsive and regular filters.

[2015-11-14 20:11] MarinaMartin opened #672 "Vets.gov DAP appearing as "no" on pulse.cio.gov"
We are using DAP so... gotta troubleshoot this.

https://pulse.cio.gov/analytics/domains/

[2015-11-14 20:13] rickleegit commented on #655
Ok. Let's figure this out Monday. Will the rewrite help?

[2015-11-14 20:14] mphprogrammer commented on #655
Yup - the rewrite will have no ids in the controls, and incorporate a select box for school features.

[2015-11-14 20:16] rickleegit commented on #655
Perfect! Thanks!!

[2015-11-15 20:04] MarinaMartin commented on #658
We should leave this open as we await a response.

[2015-11-15 20:12] MarinaMartin commented on #542
@raineystraus Is this fixed? @singletrackr referenced this in a recent commit but the links you have above still don't seem quite consistent with regard to blue boxes.

(Is there a style guide reference somewhere as to when we use a blue box? I can't find one.)

[2015-11-15 21:00] MarinaMartin commented on #631
Re-opening. The original poster is referring to the link on this page:
https://www.vets.gov/education/tools-programs/education-career-counseling/

which goes directly to a PDF. If there is a one-click option available today on eBenefits, we should link to that.

[2015-11-15 21:05] MarinaMartin opened #677 "Guidelines for using Callout Box should be clarified"
What does "important" mean in this context?

https://www.vets.gov/playbook/design/components/

[2015-11-16 00:25] MarinaMartin commented on #671
This gem should include the header and footer, and all design assets and shared icons (like the social media icons). All projects need to use this gem instead of copying or hard-linking to assets.

[2015-11-16 00:32] rickleegit commented on #671
On it.

[2015-11-16 01:49] ss0ss commented on #631
What's the quick-fix? Linking to eBenefits directly? I've been scrounging for that one-click option...but haven't found it yet. Will keep looking for it.

[2015-11-16 02:23] MarinaMartin opened #681 "Add link to UserVoice in Bob's blog post"
Related to #609 , add a link to the UserVoice forum in Bob's post.

I am also adding a new issue to make a How to Contribute page.

[2015-11-16 02:24] MarinaMartin opened #682 "Create a How to Contribute page in the Playbook"
I am working on this. Link to UserVoice for non-techies and links to repos for techies.

[2015-11-16 03:23] MarinaMartin commented on #631
@ss0ss I think it's this:
http://www.benefits.va.gov/VOCREHAB/edu_voc_counseling.asp

[2015-11-16 04:41] ss0ss commented on #631
Ah, ok. What the user was referring to was this (see larger snapshot below - this is taken from my personal eBenefits account). So, after you're logged in, you can navigate to the below page, w/in eBenefits and then you can click the 'Request Counseling' link, which takes you here:

![image](https://cloud.githubusercontent.com/assets/12176114/11174455/9469f502-8bf1-11e5-813a-bee62a9aabdd.png)

It'

[2015-11-16 10:21] MarinaMartin opened #684 "UserVoice Idea: Overview of feedback"
Wish I could see what ideas other people have posted.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10722843-overview-of-feedback

[2015-11-16 16:36] ss0ss opened #687 "disability-benefits/conditions/exposures-to-hazardous-materials/birth-defects/index.html"
Bullets under "Other Birth Defects" are not rendering properly. Checked file, and it looks fine...

[2015-11-16 16:42] sjb912 commented on #684
Excellent point. Since we're not running a blog that folks can contribute to, we should capture comments and reflect back the kind of feedback we're getting on a page on the site. (This would, of course, traditionally be how a blog would be used...)

[2015-11-16 17:33] dannychapman commented on #629
Bringing in @sjb912. Your thoughts @sjb912 ?

[2015-11-16 17:37] dannychapman commented on #385
Done!

[2015-11-16 17:37] #385 closed

[2015-11-16 18:55] sjb912 commented on #629
Yeah -- it's a poor experience. The attorneys who helped us with the disclaimer wanted us to point to this page. Let's drop that "download" line and change the link language to:

Search for help near you.

It would be great if that link could be the last sentence in the disclaimer paragraph, rather than hanging out all by itself.

[2015-11-16 19:07] dannychapman commented on #512
Fixed on staging.

[2015-11-16 19:09] dannychapman commented on #687
Fixed for next release.

[2015-11-16 21:21] dannychapman commented on #629
@sjb912 Thanks! This is now ready for deployment.

[2015-11-16 21:39] rickleegit commented on #671
Initial Considerations (please add/delete/refute as needed):

#### Foundation will be retained as the UI framework.
**Assumption:** Foundation will need to be deployed in each repo for dev purposes.
* Governance will be required to insure that Foundation (as well as other) frameworks, libraries, etc are properly version controlled and maintained. Separate gem to install and maintain all FE compone

[2015-11-16 23:26] rickleegit commented on #671
@emilyville and @dannychapman have offered to apply their expertise to the development of this gem.

[2015-11-16 23:50] MarinaMartin commented on #631
@ss0ss Not to beat a dead horse, but can you try this experiment: log in to eBenefits. Right-click on that Request Counseling link and save it. Log out of eBenefits. Paste the link in your browser. Sign in. See if it takes you directly to the request counseling page? If it does, then we could at least link to it directly even if it forces sign-in in the middle.

[2015-11-16 23:58] ss0ss commented on #631
@MarinaMartin
1. The URL is: https://eauth.va.gov/wssweb/wss-common-webparts/mvc/ebn/verifyVRE8832Application
2. After log out, I get a redirect to: https://access.va.gov/accessva/

[2015-11-17 00:17] MarinaMartin commented on #631
@ss0ss If you click that URL while logged-out, and then log in, does it take you to the right page?

[2015-11-17 01:14] ss0ss commented on #631
@MarinaMartin tldr: yes.
- If I'm logged out and enter the url, the access.va.gov does not give me the "dummy proof" sign in button to eBenefits to log back in...continues below
![image](https://cloud.githubusercontent.com/assets/12176114/11199687/df36bf28-8c9d-11e5-994d-ba161a4df8ca.png)
- However, if I nav to find any DS Logon, like here:
![image](https://cloud.githubusercontent.com/assets/12176

[2015-11-17 02:58] koconnor719 commented on #684
can we make the "feedback forum" a link somewhere in the footer, maybe below "blog"? presently i think you can only see the feedback forum when you enter your own comment?

[2015-11-17 03:00] koconnor719 commented on #684
this is related to issue #609 (User voice - clearer call to action and feedback channel #609).

[2015-11-17 03:01] koconnor719 commented on #609
this is related to UserVoice Idea: Overview of feedback #684

[2015-11-17 03:05] emilyville commented on #609
Perfect! Thanks @koconnor719
On Nov 16, 2015 7:01 PM, "koconnor719" <notifications@github.com> wrote:

[2015-11-17 03:05] koconnor719 commented on #658
no response as of 11/16

[2015-11-17 03:07] koconnor719 commented on #652
posted and closed.

[2015-11-17 03:07] #652 closed

[2015-11-17 03:10] koconnor719 commented on #637
pls. confirm response is accurate on the authentication and authorization wording before i post:)

[2015-11-17 03:17] koconnor719 commented on #634
proposed response based on comment above:

Thank you for your feedback. In the coming months, vets.gov will have an account sign on capability that Veterans can use to create a secure account, access services, and sign up for updates based on specific user preferences. This functionality will take us some time to develop, so please check back on vets.gov in early 2016!

vets.gov team

[2015-11-17 03:24] koconnor719 commented on #625
duplicate of issue #626

[2015-11-17 03:24] koconnor719 commented on #626
duplicate of issue #625

[2015-11-17 12:15] rickleegit opened #699 "RESPONSIVE D - Refinements"
Attached is a list of devices for 11/16/2015 (day of DUS missive drop). We need to take a look at the responsive design breakpoints and refine the experience for tablet users (4.78% of total).

<img width="391" alt="screen shot 2015-11-17 at 7 12 32 am" src="https://cloud.githubusercontent.com/assets/11138830/11211096/ef9c6bda-8cfa-11e5-9d84-e4bf25fb18ed.png">

[2015-11-17 12:21] rickleegit commented on #699
Added to wrong repo. Sorry folks.

[2015-11-17 12:21] #699 closed

[2015-11-17 17:37] dannychapman commented on #510
Fixed. Closing.

[2015-11-17 17:37] #510 closed

[2015-11-17 17:38] dannychapman commented on #486
This is ready for deployment.

[2015-11-17 17:38] dannychapman commented on #33
Ready to go!

[2015-11-17 18:45] MarinaMartin opened #704 "UserVoice Idea: View VA medical co-pay online"
I would like to be able to view my VA medical co-pay account online. I use "pay.gov" to make payments. If I could see my balance and get email alerts on new changes, snail-mail bills could be eliminated there by saving a lot of trees.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10742862-view-va-medical-co-pay-online

[2015-11-17 19:38] dannychapman opened #705 "Assets are not gzipped"

[2015-11-17 22:22] MarinaMartin opened #708 "UserVoice Idea: Get to claims process outline from disability-benefits page"
I can't get to https://www.vets.gov/disability-benefits/get/ from https://www.vets.gov/disability-benefits/

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10745697-get-to-claims-process-outline-from-disability-bene

[2015-11-18 15:34] OpenGlobe commented on #604
Closed.

[2015-11-18 15:34] #604 closed

[2015-11-18 17:35] ss0ss commented on #631
@koconnor719 - Good here? I'm removing myself as assignee.

[2015-11-18 20:00] koconnor719 opened #714 "Add branding language to playbook"
add the following text for branding in the playbook:

The Department of Veterans Affairs (VA) announced in January, 2015, that VA will transition into a single VA website. Vets.gov has been designated as the website that all VA content will transfer to. The purpose of creating a single website is to create a unified web experience for Veterans and their families. Individual branding of VA websites

[2015-11-19 01:37] dannychapman commented on #629
All set!

[2015-11-19 01:37] #629 closed

[2015-11-19 01:40] dannychapman commented on #687
Fixed, closing.

[2015-11-19 01:40] #687 closed

[2015-11-19 01:40] dannychapman commented on #512
Done!

[2015-11-19 01:40] #512 closed

[2015-11-19 01:41] #33 closed

[2015-11-19 01:56] emilyville commented on #714
in PR #719

[2015-11-19 02:13] emilyville commented on #714
@ss0ss is working on copy - then we will revisit, @koconnor719 !

[2015-11-19 02:21] koconnor719 commented on #708
i think this comment is asking to have the "apply for benefits" on the landing page of Disability Benefits--which it is at the bottom.

response: Thank you for your feedback. If we are understanding your comment correctly, you are wanting to be able to get to the "apply" page from the "Disability Benefits" landing page.  (Please clarify if this is not your comment.)  You can get to the apply page

[2015-11-19 02:23] koconnor719 commented on #708
posted and closed

[2015-11-19 02:27] koconnor719 commented on #658
i think we should close this if we don't get a response by end of this week.

[2015-11-19 02:28] koconnor719 commented on #634
posted and closed.

[2015-11-19 02:28] #634 closed

[2015-11-19 02:30] MarinaMartin opened #720 "UserVoice Idea: test"
test

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10766478-test

[2015-11-19 02:30] MarinaMartin opened #721 "UserVoice Idea: Test"
test

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10766466-test

[2015-11-19 02:31] koconnor719 commented on #626
closing this comment b/c it's a duplicate; will address and respond in issue 625

[2015-11-19 02:31] #626 closed

[2015-11-19 02:32] emilyville commented on #684
So, if I understand this right - we want to help them get to this link, to see all feedback from everyone:

https://veterans.uservoice.com/forums/330333-vets-gov

I think that makes sense. But now that I entered some test feedback, in the widget this link is exactly what comes up after your feedback, and it says "See the forum", so uh... maybe we should close this issue and kindly send the link ov

[2015-11-19 02:34] koconnor719 commented on #720
"test" comment with no information; deleted

[2015-11-19 02:34] #720 closed

[2015-11-19 02:34] koconnor719 commented on #721
"test" comment with no information; closed and deleted from site.

[2015-11-19 02:34] #721 closed

[2015-11-19 02:35] emilyville commented on #609
Also, hoping the blog post will help in addressing this. Closing, and we will see if it's an issue in usability testing.

[2015-11-19 02:35] #609 closed

[2015-11-19 02:38] emilyville commented on #627
Something like...

Thank you for your feedback! Clarity and UX hierarchy are important to us, and we want you to have a good experience on vets.gov. Please check back as we update and expand our design and incorporate more services.

[2015-11-19 02:53] emilyville commented on #625
I kind of love this as feedback, and think they are probably not alone in this behavior. I would like this to have some sort of easter egg helper text. I think this could be delightful. I will make it a separate issue and brainstorm with our design team.

In the meantime - I think closing this and sending them a response saying we're working on it and adding it to our roadmap would be good, @kocon

[2015-11-19 02:54] emilyville opened #722 "People try to click on the yellow "How can we help?" box"
I think this is a good place for a delightful interaction that shows this is built by humans. I think this is also probably able to be scoped solely to the homepage, making it a superfun design task.

From uservoice ticket #625

[2015-11-19 02:57] emilyville commented on #624
Awesome. I will make a separate issue about usability of the map - and a legend, and we can incorporate with facility locator efforts.

[2015-11-19 02:59] emilyville opened #723 "Facility Locator Map needs legend for pin colors"
here are the color codes:
Red - Central Office
Blue - Benefits Office
Green - Intake Site
Purple - Cemetery
Orange - VISN (Veterans Integrated Service Networks) Office
Yellow - Outpatient Clinics
Brown - Hospitals
Pink - Veteran Centers

What it looks like now:
![screen shot 2015-11-18 at 6 58 18 pm](https://cloud.githubusercontent.com/assets/1307774/11261116/5c961390-8e26-11e5-9d17-fea96d740203.p

[2015-11-19 03:00] #624 closed

[2015-11-19 03:05] emilyville opened #724 "Find a better label than "Process" for blog and playbook section in footer"
Inspired by uservoice issue #613

Process feels like a catchall, "vets.gov" was suggested as a replacement. for the header of this section.

[2015-11-19 03:05] emilyville commented on #613
created issue #724

[2015-11-19 03:05] #613 closed

[2015-11-19 03:07] emilyville commented on #622
Created issue #722 to capture this feedback. Please respond that we are adding it to our roadmap!

[2015-11-19 03:54] sjb912 commented on #724
Creating vets.gov

would work as a header for both.

[2015-11-19 03:54] emilyville commented on #724
Approved!
On Nov 18, 2015 19:54, "sjb912" <notifications@github.com> wrote:

[2015-11-19 03:55] emilyville commented on #721
This was me, sorry ;)
On Nov 18, 2015 18:34, "koconnor719" <notifications@github.com> wrote:

[2015-11-19 03:59] sjb912 commented on #722
Love that idea, Emily. What if it were a Googlesque tip of the day -- something that VA offers that folks might not know about that might be helpful to know? Our content team could create a bunch of these and you all could spring load them to serve up randomly.

[2015-11-19 04:04] koconnor719 commented on #684
posted response and closed.

Thank you for your feedback. Users can view all comments by clicking on the feedback lightbulb at the bottom of the page and entering your feedback.  Once you enter your comment you can view all the feedback. We've logged your feedback, and if we get additional comments requesting this feature we will add it to our enhancement roadmap!

vets.gov team

[2015-11-19 04:04] #684 closed

[2015-11-19 04:06] koconnor719 commented on #627
posted and closed.

Thank you for your feedback. Clarity and UX hierarchy are important to us, and we want you to have a great experience on vets.gov! Please check back as we update and expand our design and incorporate more services.

vets.gov team

[2015-11-19 04:06] #627 closed

[2015-11-19 04:14] koconnor719 commented on #625
posted and closed:

Thank you for your feedback. We appreciate your comment, and we are working on this! We want to collect a little more feedback from Veterans before we make this particular change, but we've logged your comment, and it will be considered as we collect additional user feedback and brainstorm with our team about how to make the "How can we help?" text a better user experience.

ve

[2015-11-19 04:14] #625 closed

[2015-11-19 04:16] koconnor719 commented on #622
posted and closed:

Thank you for your feedback. We appreciate your comment, and we are working on this! We want to collect a little more feedback from Veterans before we make this particular change, but we've logged your comment, and it will be considered as we collect additional user feedback and brainstorm with our team about how to make the "How can we help?" text a better user experience.

ve

[2015-11-19 04:16] #622 closed

[2015-11-19 04:19] sjb912 commented on #714
shaun -- hope I haven't stepped on your toes. Knocked this out for you --
what do you think?

The Department of Veterans Affairs (VA) announced in January, 2015, that
VA would transition its many websites to a single site -- Vets.gov -- with
the goal of creating a unified web experience for Veterans and their
families. The Vets.gov branding model will replace previously existing
branding of VA Web

[2015-11-19 04:19] koconnor719 commented on #624
ok to close this issue?

proposed response:
Thank you for your feedback. Great idea--we're making your change!

vets.gov

[2015-11-19 04:23] koconnor719 commented on #624
posted response:
Thank you for your feedback. We have added your change as an enhancement and will be modifying the site with the following color legend:
Red - Central Office
Blue - Benefits Office
Green - Intake Site
Purple - Cemetery
Orange - VISN (Veterans Integrated Service Networks) Office
Yellow - Outpatient Clinics
Brown - Hospitals
Pink - Veteran Centers

[2015-11-19 13:58] koconnor719 commented on #670
resolved this issue and updated the site with VBA approved number (139 days); closed.

[2015-11-19 13:58] #670 closed

[2015-11-19 14:05] koconnor719 commented on #631
pls. clarify the resolution; reading the thread i am unclear on next step.

[2015-11-19 14:18] koconnor719 commented on #714
martin is ok with this language fyi.

[2015-11-19 15:12] ss0ss commented on #714
@koconnor719 @emilyville - @sjb912, couldn't have said it better myself!

[2015-11-19 15:32] nsinai commented on #724
:+1:

[2015-11-19 15:36] nsinai commented on #599
How about this (taken from analytics.usa.gov):

Public domain

This project is in the worldwide public domain. As stated in CONTRIBUTING:

This project is in the public domain within the United States, and copyright and related rights in the work worldwide are waived through the CC0 1.0 Universal public domain dedication.

All contributions to this project will be released under the CC0 dedication

[2015-11-19 15:58] dannychapman commented on #606
All set!

[2015-11-19 15:58] #606 closed

[2015-11-19 18:33] dannychapman commented on #590
![screen shot 2015-11-19 at 1 33 15 pm](https://cloud.githubusercontent.com/assets/281709/11280093/1e644ed8-8ec2-11e5-9fe8-dc08bfa122c4.png)

Fixed! Closing.

[2015-11-19 18:33] #590 closed

[2015-11-19 18:48] MarinaMartin opened #726 "UserVoice Idea: Missing Site - Source Locator Suggested"
You are probably already aware that you are missing medical centers, aka hospitals, in MN, SD, ND and maybe elsewhere. You can find the complete listing at VA Site Tracking (VAST) located on the VSSC.

You can info pull from authorized blurb -
The Department of Veterans Affairs (VA) provides services to Veterans at 1,588 locations. That number includes 1,218 healthcare facilities. VA also operates

[2015-11-19 18:55] ss0ss opened #727 "shaun-waffle-test-issue"
I'm testing this.

[2015-11-19 21:10] alex commented on #672
This is fixed.

[2015-11-19 21:10] #672 closed

[2015-11-19 22:39] MarinaMartin commented on #658
If we don't get a response we should do our own due diligence and see if we can figure out what's missing. If we have an intern hanging around this would be a good task!

[2015-11-19 22:40] MarinaMartin commented on #656
@rickleegit Can you please fix this link on GI Bill?

[2015-11-20 00:44] ss0ss opened #747 "Formatting: Mustard Gas"
/disability-benefits/conditions/exposures-to-hazardous-materials/mustard-gas/

@dannychapman - The below text should not be bolded...and can't seem to see the error in the .md file to change. Stylesheet maybe?

"Because exposure to mustard gas or lewisite is not a service condition, you must claim the disease or condition that is related to the exposure. You should present any military records sho

[2015-11-20 11:24] rickleegit commented on #656
Fixed in cleanup1120-rick. Will be pushed to staging in next merge for anticipated push to prod tonight.

[2015-11-20 11:26] rickleegit commented on #671
@emilyville & @dannychapman are taking this task per @emilyville. Will support as needed. This fix will also address https://github.com/department-of-veterans-affairs/vets-website/issues/587

[2015-11-20 11:27] rickleegit commented on #587
This will also resolve https://github.com/department-of-veterans-affairs/vets-website/issues/671

[2015-11-20 13:49] koconnor719 commented on #726
checking with VHA content SMEs

[2015-11-20 19:20] #747 closed

[2015-11-20 22:30] #724 closed

[2015-11-21 01:16] #727 closed

[2015-11-21 13:04] koconnor719 commented on #613
posted updated response based on change:

Thank you for your feedback.  We received this feedback from other Veterans too--so we made the change!  Great idea.

vets.gov team

[2015-11-21 13:06] koconnor719 commented on #723
Can we add a link w/ the color legend to the main Facility Locator landing page? i think that was the user comment.

[2015-11-21 13:11] #708 closed

[2015-11-21 13:13] koconnor719 commented on #658
assigned to VE resource

[2015-11-21 13:18] koconnor719 opened #765 "Add "Feedback Forum" link"
in order to increase the user feedback we are getting, can we add a link to the feedback forum so users can access the feedback without having to actually enter a comment first?  we are only getting 1-2 user comments every few days; of ~35 user comments we've had 2 user requests for this.  i don't think users are easily finding the feedback mechanism.

[2015-11-23 14:38] dannychapman opened #790 "Add pa11y accessibility tests to vets.gov site"

[2015-11-24 03:17] ss0ss opened #795 "Yellow ribbon unsorted list stye issue"
https://www.vets.gov/education/gi-bill/yellow-ribbon/

Unsorted bullet li font size is smaller than p text.

@dannychapman not going to tear through the css, escalating to you.

[2015-11-24 18:26] MarinaMartin opened #798 "UserVoice Idea: White text on blue?"
It's a sleek look, but I'm not crazy about the white text on blue.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10849986-white-text-on-blue

[2015-11-28 16:57] MarinaMartin opened #813 "UserVoice Idea: Automatic Travel Pay Algorithm"
The VA knows our appointment dates and locations. VA even sends out mail and phone reminders. Kiosks confirm appointment check-ins and appointments are viewable by the patient in MyHealthEvet.  Take it a step further and allow patients to simply affirm attendance online and have an algorithm calculate their allowable travel payment and issue a check based on electronic signature that the travel wa

[2015-11-30 16:33] koconnor719 commented on #798
proposed response for approval:

Thank you for your feedback. The vets.gov design aspires to be honest, transparent, respectful, and accessible to all visitors. Everything we build for the vets.gov platform is created with these basic principles in mind, including the selection of our color palette. We tested colors with Veterans and selected those colors based on that data.

vets.gov team

[2015-11-30 16:41] koconnor719 commented on #813
closed and posted response:

Thank you for your feedback. This beta release of Vets.gov is just a beginning. We’ve launched it with deep content in the two benefit categories that Veterans have told us mean the most to them: disability and education. There are many more to come--including Healthcare and MyHealtheVet! We’ll be adding new information and tools on an ongoing basis. But we wanted to g

[2015-11-30 16:41] #813 closed

[2015-11-30 16:47] koconnor719 commented on #726
Posted this response; waiting on VHA validation:

Thank you for your feedback; we are checking on this data.

[2015-11-30 16:55] koconnor719 commented on #704
proposed response:

Thank you for your feedback.This beta release of Vets.gov is just a beginning. We’ve launched it with deep content in the two benefit categories that Veterans have told us mean the most to them: disability and education. There are many more features to come! We’ll be adding new information and tools on an ongoing basis. But we wanted to get vets.gov in front of you now, as we b

[2015-12-01 18:25] dannychapman commented on #795
@ss0ss I think this is fixed yes?

[2015-12-01 18:26] dannychapman commented on #705
@llimllib is this all set?

[2015-12-01 18:27] ss0ss commented on #795
@dannychapman Yes.

[2015-12-01 18:32] rcarthur opened #824 "Design Inconsistencies"
https://www.vets.gov/disability-benefits/claims-process/evidence/

Several different font styles and call-outs in place.  Could be simplified.

[2015-12-01 19:09] bethpotts commented on #795
Sorry, I thought the issue was still there, but I was on the live site rather than staging. Looks good.

[2015-12-01 19:09] #795 closed

[2015-12-02 02:56] emilyville commented on #798
:+1: on that response, @koconnor719 !

Assigning back to you for you to close once the response is sent.

[2015-12-02 02:58] emilyville commented on #714
Closing, and yay!

[2015-12-02 02:58] #714 closed

[2015-12-02 03:00] emilyville commented on #765
Good idea. I propose this (I am happy to add it).

![screen shot 2015-11-18 at 6 21 45 pm](https://cloud.githubusercontent.com/assets/1307774/11521050/a5cf21fa-985d-11e5-89f8-77d0ffa0b33e.png)

Thoughts @dannychapman ?

[2015-12-02 13:37] koconnor719 commented on #765
love it!  should we have the word "feedback" in there instead of public?..."see the feedback forum".  am thinking public is kind of implied?

[2015-12-02 15:01] dannychapman commented on #765
Maybe “Join our feedback forum”

Danny Chapman

------------------------------------------------
Owner / Designer
www.ducstudio.com

[2015-12-02 15:25] koconnor719 commented on #765
Perfect!!

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Danny Chapman <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, December 2, 2015 at 10:01 AM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<ma

[2015-12-02 15:44] emilyville commented on #765
I think saying "join" implies membership status - kind of like "sign
up".... Maybe it should just say "feedback forum" or "vets.gov feedback
forum"?
On Dec 2, 2015 7:25 AM, "koconnor719" <notifications@github.com> wrote:

[2015-12-02 15:45] dannychapman commented on #765
Great point.

Feedback forum works for me.

Danny Chapman

------------------------------------------------
Owner / Designer
www.ducstudio.com

[2015-12-02 15:47] koconnor719 commented on #765
more perfect "feedback forum"  :)

[2015-12-02 16:19] koconnor719 commented on #798
posted and closed

[2015-12-02 16:19] #798 closed

[2015-12-02 16:46] MarinaMartin opened #825 "UserVoice Idea: links"
Possibly put a link on this website for myhealthevet.   Might want to add general information on how to register for VA Health Care and Eligibilities.  Add FAQ area.  I get a lot of calls about spouse or family members being able to use the VA for healthcare.  You might want to put some info on that on this webpage.  Otherwise a good start!

http://veterans.uservoice.com/forums/330333-vets-gov/sug

[2015-12-02 21:03] llimllib commented on #705
the locations json file is now gzipped, but nothing else is

[2015-12-02 21:51] ss0ss opened #831 "® Font/Script Issues"
VBA has requested that all ® be normal script and not superscript across all GIBILL®

ie. they like the one on the right, not the left:

![image](https://cloud.githubusercontent.com/assets/12176114/11545335/af57c1d4-98fb-11e5-8994-f05d7c211a9c.png)

[2015-12-02 22:30] koconnor719 commented on #831
i think we just say no to this.  as long as the one on the left isn't wrong.

[2015-12-03 14:48] ShawnArnwine opened #837 "Playbook: Need consistent usage of Vets.gov vs. vets.gov"
https://www.vets.gov/playbook/

Within the boxes (e.g. Human Centered Design, Platform, etc), in some places we use "Vets.gov" and others we use "vets.gov"

Should all be Vets.gov (is my understanding).

[2015-12-03 15:42] MarinaMartin opened #838 "UserVoice Idea: include the CHOICE program"
links to the vet CHOICE..thank you that's all

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10953333-include-the-choice-program

[2015-12-03 16:02] sjb912 commented on #837
Hey, Shawn -- I appreciate your eagle eye. Actually, it's vets.gov in text. The only place the v is capped is in the logo and at the beginning of a sentence. Please lob editorial style questions like this to me (susanjanebenson.va@gmail.com) or Beth Potts,  vets.gov's copy chief beth@stortechnologies.com

[2015-12-03 20:05] emilyville commented on #765
I like Susan's suggestion of "Read Comments and add your own." instead of "Feedback Forum".

Since the earlier change is ready to go out, simply repopening this issue and will readress before next deploy.

[2015-12-03 20:43] sjb912 commented on #765
And -- sorry to have sent this with an improper cap -- no capital C on
comments. Thanks!

Read comments and add your own.

On Thu, Dec 3, 2015 at 3:05 PM, emilyville <notifications@github.com> wrote:

[2015-12-03 22:29] koconnor719 commented on #825
posted response and closed.

Thank you for your feedback. Because we are developing in the open, we've only launched a small portion of the rewritten and redesigned  content on vets.gov.  Right now we have information on disability and education benefits, but we will be adding additional information throughout the rest of 2015 and 2016 --as fast as we can. We plan to work on healthcare related inf

[2015-12-03 22:31] #825 closed

[2015-12-03 22:36] koconnor719 commented on #838
posted response and closed.

Thank you for your feedback. We absolutely agree! We plan to feature the CHOICE program on vets.gov--we just haven't gotten to that yet. Because we are developing in the open, we are launching small portions of vets.gov, then getting Veteran feedback, then building out more of vets.gov based on that feedback.  This way we can ensure that everything we do is Veteran-dri

[2015-12-03 22:36] #838 closed

[2015-12-03 23:06] koconnor719 commented on #726
after some testing, there seems to be an issue w/ FL missing sites. specifically with red sites (Central office): when you click on "all facilities" you can clearly see that  there are more than 6 red sites:

<img width="1440" alt="screen shot 2015-12-03 at 6 04 55 pm" src="https://cloud.githubusercontent.com/assets/13770771/11576972/793cbfd0-99e8-11e5-8ff0-021f97453535.png">

but when i filter on

[2015-12-03 23:10] koconnor719 opened #845 "Facility Locator Location defaults and driving directions are random"
the default facility locator page opens for all users (i think) to NE; should it open to a location based on where a user is (assuming his/her location service is enabled):

<img width="1440" alt="screen shot 2015-12-03 at 6 08 09 pm" src="https://cloud.githubusercontent.com/assets/13770771/11577035/dd413e48-99e8-11e5-8016-4f17b0da348b.png">

also, what should the default "start" be for driving di

[2015-12-03 23:11] koconnor719 opened #846 "Facility Locator Location defaults"
the default facility locator page opens for all users (i think) to NE; should it open to a location based on where a user is (assuming his/her location service is enabled):

<img width="1440" alt="screen shot 2015-12-03 at 6 08 09 pm" src="https://cloud.githubusercontent.com/assets/13770771/11577035/dd413e48-99e8-11e5-8016-4f17b0da348b.png">

also, what should the default "start" be for driving di

[2015-12-03 23:15] koconnor719 opened #847 "Facility locator browser issue cutting off text in Firefox"
in Firefox, the text in the "facility type" box is cutoff. (this does not happen in safari)

<img width="1440" alt="screen shot 2015-12-03 at 6 14 25 pm" src="https://cloud.githubusercontent.com/assets/13770771/11577168/bd116ffc-99e9-11e5-881c-ec47f9e97651.png">

[2015-12-03 23:19] koconnor719 commented on #846
closing this; error; i can not see how to delete??

[2015-12-03 23:19] #846 closed

[2015-12-04 15:04] llimllib commented on #845
the geographic center of the US is in Lebanon, Kansas; the page loads centered on the center of the US

it does. You have location service disabled, and you clicked on the first 'driving directions'. In that case, the map routes the user from the current location (the geographic center of the US) to the selected site

[2015-12-04 15:07] llimllib commented on #845
I think that this issue is really about the behavior of the map when the user loads it with location service disabled or unavailable. I've talked a bit about this with @EricSchles; when the map loads it should:

1. Not display all pins
2. Not display any sites

Then, once the user searches for a location *or* zooms in far enough, the map should begin displaying sites and pins.

Does that seem reas

[2015-12-04 15:08] llimllib commented on #845
I think this should probably become a new issue with the above^^^ ?

[2015-12-04 15:10] llimllib commented on #726
Sites that have a category that's not in the filter list get red markers, so those do not represent missing facilities, just sites that have types I don't know what to do with

[2015-12-04 15:13] llimllib commented on #726
We have 1,716 facilities listed in the facilities locator, so there's not some big bolus we're missing.

[2015-12-04 15:15] llimllib commented on #726
For example, I do not believe we are missing any facilities in ND:

![find_locations_-_locations_and_facility_locator__vets_gov_and_ivy_-_import_your_playlists_into_spotify](https://cloud.githubusercontent.com/assets/7150/11593017/f4bcdaf0-9a6f-11e5-958b-7641f68c36ed.png)

[2015-12-07 14:56] dannychapman opened #858 "Table does not have a table caption"
https://www.vets.gov/education/survivors-dependent-assistance/index.html

[2015-12-07 14:57] dannychapman opened #859 "Table is missing structural headers (PDF)"
https://www.vets.gov/playbook/downloads/VBA_Graphic_Styleguide.pdf

[2015-12-07 14:58] dannychapman opened #860 "Structural tags missing in PDF"
https://www.vets.gov/playbook/downloads/Toward_A_Veteran_Centered_VA.pdf

[2015-12-07 15:02] dannychapman opened #861 "Missing text equivalent for images (PDF documents)"
https://www.vets.gov/playbook/downloads/Voices_Of_Veterans.pdf
https://www.vets.gov/playbook/downloads/VHA_Style_Guide_508.pdf

[2015-12-07 15:04] dannychapman opened #862 "ID attributes should be unique"
https://www.vets.gov/beta/2015/11/05/why-we-are-designing-in-beta.html
https://www.vets.gov/disability-benefits/claims-appeal/court-of-appeals/veterans-appeals-board/index.html
https://www.vets.gov/disability-benefits/claims-appeal/court-of-appeals/
https://www.vets.gov/disability-benefits/claims-appeal/court-of-appeals/veterans-appeals-board/
https://www.vets.gov/disability-benefits/claims-appeal

[2015-12-07 15:06] dannychapman opened #863 "Search form ID's should be unique"
Duplicate search form is causing a few accessibility issues - let's see if we can consolidate these into one.

[2015-12-07 15:07] dannychapman opened #864 "Playbook template images are missing alt attributes"

[2015-12-07 21:16] #862 closed

[2015-12-07 22:05] MarinaMartin opened #869 "UserVoice Idea: Life Events"
Create a life events center to help guide Veterans, Servicemembers, Family Members, and Caregivers to relevant content and resources based on their life events (ex. transitioning from service, having a child, moving, etc.) It could be similar to the USAA Advice Center: https://www.usaa.com/inet/ent_advice_center/EntAdviceCenter/AdviceCenter?1&wa_ref=pub_global_lifeevents_advice_main

http://vetera

[2015-12-07 22:34] MarinaMartin opened #870 "UserVoice Idea: forum"
REQUEST: Place the Feedback Forum URL someplace on the home page where it will be more visible. It's not too visible in the lower right corner.
BENEFIT: More users will respond to this form.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/10998972-forum

[2015-12-07 22:51] sjb912 commented on #869
Yes -- we've considered exactly this and would love to take this approach. It's how people think about their lives. As we migrate more information from other va sites, we'll be able to create the right content front end for this.

[2015-12-08 02:46] #858 closed

[2015-12-08 03:13] koconnor719 commented on #870
I agree with this comment; the feedback forum link (is an improvement) is really small and all the way at bottom of page. Let's monitor other Veteran feedback on this, and consider making this link more prominent based on data. Propose response:

Thank you for your feedback. We just added this link to our feedback forum, based on Veteran feedback we received since we launched. We are going to moni

[2015-12-08 03:21] koconnor719 commented on #869
Posted response and closed (given this is our current UX approach):

Thank you for your feedback. This is a great sample page! Thanks for including it. Yes -- we've considered exactly this and are taking this approach to build vets.gov. It's how people think about their lives. As we migrate more information to vets.gov, we'll be able to create the right content and user experience for this. Right

[2015-12-08 03:21] #869 closed

[2015-12-08 03:23] koconnor719 commented on #704
posted and closed.

[2015-12-08 03:30] koconnor719 commented on #658
we have completed tests on approx. 30 cities; there is a data question (see issue 726) we are looking into.

[2015-12-08 03:36] koconnor719 commented on #637
posted response and closed.

[2015-12-08 03:36] #637 closed

[2015-12-08 04:02] koconnor719 commented on #845
yes Bill. sounds good. what do you want me to do w/ this issue?  close it and open a new one w/ your description above?

[2015-12-08 04:10] koconnor719 commented on #631
this last screenshot is VOA (the 10-10EZ form / online application).  the initial user comment was about a one-click option to apply for counseling (the 28-8832 form).  from the above string, i do not believe a one-click option exists for the 28-8832 form?  i will confirm w/ eBenefits. but i'd like to close this issue if it doesn't exist.

[2015-12-08 04:14] koconnor719 commented on #468
closed. this link was part of the disclaimer and changed to "search for help near you."

[2015-12-08 04:14] #468 closed

[2015-12-08 14:51] koconnor719 opened #871 "legal requirement - footer link inspector general"
vets.gov is legally required to have a footer link to "Inspector General" (see VA.gov homepage footer) on vets.gov.  pls. add this link to the following page:  http://www.va.gov/oig/

[2015-12-09 01:57] #864 closed

[2015-12-09 02:25] koconnor719 commented on #871
team is currently in process of adding this link in the next week or s. clarification on comment above: presently we are not legally required to have this link on vets.gov--but in the future when vets.gov is the homepage for Veterans in later 2016 this will be required.  therefore we are adding the link now, in advance of that to ensure we are in full compliance with this requirement.

[2015-12-09 02:57] singletrackr commented on #542
@raineystraus I updated the blue boxes on the pages listed in your comment above. Can this issue be marked as resolved and closed?

[2015-12-09 02:59] singletrackr commented on #514
@raineystraus The callout boxes have been applied. Can this issue be marked as resolved and closed?

[2015-12-09 03:49] koconnor719 opened #878 "Servicemembers"
noticing that we use both "Service Members" and "Servicemembers" on vets.gov.  are both acceptable or does this need to be changed.

[2015-12-09 04:21] sjb912 commented on #878
Thanks, Kelly. It's Servicemembers. It needs to be changed where it appears as two words. Do you know where you saw that?

[2015-12-09 16:52] dannychapman commented on #514
Yep! Closing.

[2015-12-09 16:52] #514 closed

[2015-12-09 16:53] dannychapman commented on #542
These are resolved. Closing!

[2015-12-09 16:53] #542 closed

[2015-12-09 18:01] #847 closed

[2015-12-09 18:03] dannychapman commented on #547
@dnesting Good catch. Fixed!

[2015-12-09 18:03] #547 closed

[2015-12-09 18:15] #516 closed

[2015-12-09 18:18] #486 closed

[2015-12-09 18:28] dannychapman opened #881 "Deliver IE 8 and below a minimal, single column layout style sheet"
Consider keeping basic design elements consistent, but without the grid and other more complex UI elements.

[2015-12-10 18:08] bethpotts commented on #878
I think I found which page it was (Survivors' and Dependents' Assistance), and I believe it happened when concurrence changes were added--edited text was overwritten. Good news is, it is fixed in staging and will go to the live site with the next push. Let me know if you see this anywhere else, Kelly, and I'll take care of it!

[2015-12-10 19:21] emilyville opened #888 "Add Veterans Employment Center to Quick links and Footer"
link: vets.gov/veterans-employment-center/

It should be first in the quick links. Not that we're trying to cut in line or anything.

[2015-12-10 22:06] ss0ss opened #890 "<br> Issues for the Apply Page"
From Susan:

"Shaun -- is it possible to make this three lines? (a <br></br> at the end of each?)

If they could lay out like this, it would look better:

Average number of days to process disability-related claims during November 2015.

 If you’ve already filed a claim, check on its progress through eBenefits.
(The time frame you see there may vary based on the complexity of your claim.)

It woul

[2015-12-10 22:06] ss0ss opened #891 "<br> Issues for the Apply Page"
From @sjb912 :

"Shaun -- is it possible to make this three lines? (a <br></br> at the end of each?)

If they could lay out like this, it would look better:

Average number of days to process disability-related claims during November 2015.

 If you’ve already filed a claim, check on its progress through eBenefits.
(The time frame you see there may vary based on the complexity of your claim.)

It w

[2015-12-10 22:07] #890 closed

[2015-12-10 22:17] koconnor719 commented on #878
Thx Beth!!!

Sent with Good (www.good.com)

-----Original Message-----
From: bethpotts [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, December 10, 2015 01:09 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] Servicemembers (#878)

I think I found which page it was (Survivors' and Depen

[2015-12-10 23:30] MarinaMartin commented on #878
Do we have special spellings like this in a reference-able list anywhere? That seems like a good thing for the playbook!

[2015-12-11 01:32] koconnor719 commented on #878
i'll close this issue since Beth fixed the original issue and add one for enhancement to playbook to add reference list; could also include things like capital "V" for Veteran, etc.

[2015-12-11 01:32] #878 closed

[2015-12-11 01:34] koconnor719 opened #893 "Playbook Editorial Reference Guide"
Add content to Playbook for editorial reference for language (e.g., Servicemembers) and style (e.g. "V" for Veterans)

[2015-12-11 01:38] koconnor719 opened #894 "Facility Locator Search, Display and Pins"
related to closed issue #845

[llimlib] I think that this issue is really about the behavior of the map when the user loads it with location service disabled or unavailable. I've talked a bit about this with @EricSchles; when the map loads it should:

Not display all pins
Not display any sites
Then, once the user searches for a location or zooms in far enough, the map should begin displaying sites

[2015-12-11 01:38] #845 closed

[2015-12-11 01:47] koconnor719 commented on #478
the first part of this error was fixed; the second part is still going to a page not found:

if i click on the breadcrumb item "Predischarge Filing Status" on this page https://www.vets.gov/disability-benefits/filing/active-duty/bdd/index.html, i get the following page:

https://www.vets.gov/disability-benefits/filing/active-duty/
![screen shot 2015-12-10 at 8 43 32 pm](https://cloud.githubusercon

[2015-12-11 04:23] bethpotts commented on #478
The link from the get (Apply) page goes to the correct predischarge page. The link from this page (https://www.vets.gov/disability-benefits/get/filing/faster/) goes to some old predischarge page that I'm guessing was supposed to have been killed. I can fix this problem. I'm not familiar with how to assign an issue to myself, or maybe Kelly needs to do that since she's the owner?? But I'll gladly t

[2015-12-12 20:12] MarinaMartin opened #903 "UserVoice Idea: In the crisis line area, link to the text and chat options"
Right now, in the footer the Veterans Crisis Line is just a phone number. This resource has a website (https://www.veteranscrisisline.net/) that also provides text and online chat options, which some people may prefer. It could be helpful to link to this website from that spot.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11066301-in-the-crisis-line-area-link-to-the-text-and-c

[2015-12-14 01:23] koconnor719 commented on #903
we should make "Veterans Crisis Line" clickable and go to the website (as it does on VA.gov):  https://www.veteranscrisisline.net.

posted response:

Thank you for your feedback.  Great idea--we are making this change!

vets.gov team

[2015-12-14 01:28] koconnor719 commented on #726
Assigning this to the Facility Locator product team (Rick Lee and Eric Schles) to test this and provide a recommendation to our team for a legend of colors on the facility locator in the near term--and provide users a legend (based on user feedback) before we make any technical changes. trying to avoid rework--and work enhancements through the VA product team--and business owner.

[2015-12-14 01:30] koconnor719 commented on #658
reassigning this to the Facility Locator product team to test and validate that this is in fact working.

[2015-12-14 01:36] koconnor719 commented on #646
closing this comment, as I am pretty sure this user is referencing the page on VA.gov (http://www.benefits.va.gov/GIBILL/docs/factsheets/Entrepreneurship_Training.pdf) . None of the information cited is on vets.gov.

[2015-12-14 01:36] #646 closed

[2015-12-14 02:07] MarinaMartin commented on #646
Shouldn't we leave this open and add the content? @koconnor719

[2015-12-14 13:49] koconnor719 commented on #646
he�s referencing a VA.gov content page that has not yet been migrated over.  My assumption was that we�d catch this in the concurrence process when we QA and update the content prior to migration, but I can reopen.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Marina Martin <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-a

[2015-12-14 14:48] #166 closed

[2015-12-15 21:09] Drakenhart opened #920 "Templates made into downloadable files."
**Issue**
Templates on the site's playbook are not download able. It is not easy to locate such files.

**suggestion**
A selection of graphic files (Photoshop, svg, illustrator, sketch, etc) that duplicate the suggested templates would improve speed and efficiency of redesign work some teams may wish to consider in their current projects.

For ease of use for those who are currently looking into h

[2015-12-16 20:57] emilyville commented on #871
Here is my best hope at where / how this could go. It occurs to me - do people visiting our site know/care about the va oig?

Any ideas on how we can plain language this link @dannychapman @sjb912 beyond "inspector general"?

![screen shot 2015-12-16 at 12 53 40 pm](https://cloud.githubusercontent.com/assets/1307774/11853676/31cb9c64-a3f4-11e5-941b-a7f6fcec7b34.png)

It also crossed my mind we cou

[2015-12-16 21:37] koconnor719 commented on #871
I like it. But defer to you and danny.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: emilyville <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, December 16, 2015 at 4:19 PM
To: department-of-veterans-affairs/vets-website <vets-web

[2015-12-17 18:05] koconnor719 commented on #894
reassiging to the FL product team lead to retest and clarify issues as needed.

[2015-12-17 22:02] dannychapman commented on #871
@emilyville That placement makes sense to me. I think that's probably what we should ship for now, then adjust later if we can.

[2015-12-17 22:39] bethpotts opened #922 "consistency with quotation marks and apostrophes"
Can we get all the quotation marks and apostrophes to be curly rather than straight? Right now we have a mix of both.

[2015-12-17 23:22] bethpotts opened #923 "File names don't always translate well into breadcrumbs"
1) Breadcrumbs will not always match the actual click-through path that was taken to land where you are. For instance, because the file naming for BDD is this:
https://staging.vets.gov/disability-benefits/filing/active-duty/bdd/index.html
... the breadcrumbs are
Disability Benefits > Filing > Active Duty > Benefits Delivery at Discharge (BDD)
... but we don't have a page called Filling, nor one ca

[2015-12-18 17:45] bethpotts opened #924 "Breadcrumbs that go to "page not found""
BDD
Quick Start
Both of these pages, and possibly others, now have breadcrumbs that go to "The page you are looking for could not be found." I think this is on the heels of the breadcrumb population through file names switch.

[2015-12-18 18:41] bethpotts opened #925 "Coming soon message"
On this page: How do I file for a disability benefit?
https://staging.vets.gov/disability-benefits/get/filing/

Danny--was this page created to address the breadcrumb issue? Is Ric aware that this page needs language added?

[2015-12-18 18:54] dannychapman commented on #925
This page was created to match what we have in the breadcrumb, URL structure. We probably should add content to fit this spot, or rework the IA. Thoughts @rcarthur ?

[2015-12-18 19:40] Drakenhart commented on #871
I am working on a project that has similar strict requirements.

There is a document that lists the required links in the footer. If you look va.gov you will see them. Any sites that are under the umbrella of the VA, need to have a link back to the va.

A good example of this can be found on eBenefits.gov and explore.va.gov as well. I hope this helps?

[2015-12-21 20:28] emilyville commented on #888
perfect! @dannychapman - can we also add to the footer? Sorry about the omission of this on the ticket. And - assign to / ask @greggersh for launch timing.

[2015-12-22 17:19] MarinaMartin opened #931 "UserVoice Idea: Expand Post 9/11 GI Bill for Medical Careers"
Encourage veterans to pursue medical career options by expanding the length of time the post 9/11 GI Bill covers for those fields.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11175309-expand-post-9-11-gi-bill-for-medical-careers

[2015-12-22 19:40] MarinaMartin opened #932 "UserVoice Idea: Having the ebenefits site default to the "in progress"vets.gov site is not good customer service."
Currently I am trying to simply log into ebenefits via www.va.gov and I am automatically getting redirected to www.vets.gov.  Once there the interface is different and I am now wasting time trying to get to the ebenefits login page.  Ebenefits is a bad enough application but having users blindly redirected to a "in progress" vets.gov site is poor customer service.  It seems like the rush to implem

[2015-12-22 20:06] ss0ss commented on #932
This is interesting, would love to know the exactly where the this "redirect" comes from exactly...

Also - is there a way for non Vets.gov, VA employees, can participate beyond Uservoice?

[2015-12-22 22:44] #863 closed

[2015-12-22 23:29] bethpotts opened #935 "When breadcrumbs don't act like breadcrumbs to show you how you got to a page"
This is sort of a broad question about the purpose of breadcrumbs. There are at least a handful of pages that don't have a single linear path. Accredited Representatives (AR) and the disability get (Apply) pages are both examples of this. We link to both from many different pages. So breadcrumbs are sort of irrelevant for these two pages, and just show what our filing system is. I don't think they

[2015-12-23 02:57] MarinaMartin commented on #932
The Veterans Employment Center link on eBenefits goes directly to Vets.gov as of yesterday - but you wouldn't go there to log in to eBenefits or check a claim, so I'm a little confused.

I also just checked Google Analytics and 100% of the traffic from VA.gov is coming from GI Bill pages. All of the referrers from eBenefits are clicking Employment Center.

We should respond to this user with an in

[2015-12-23 02:59] MarinaMartin commented on #935
We have this challenge on the Employer Commitments page in the Employment Center too... all other pages are either for Job Seekers or Employers, but that page is for both.

[2015-12-23 04:47] koconnor719 commented on #931
closed and posted response:

Thank you for your feedback. This feedback forum is only for vets.gov website comments and questions. All questions regarding GI Bill benefits should be directed to the “Ask a Question” section the VA.gov website at https://gibill.custhelp.com/app/utils/login_form/redirect/ask .

vets.gov team

[2015-12-23 04:47] #931 closed

[2015-12-23 05:09] koconnor719 commented on #932
Posted response:

Thank you for your feedback.  This should not happen. We certainly don't want to redirect Veterans trying to login to eBenefits to vets.gov.  When our team tested the eBenefits login link, it still goes to the existing page: https://myaccess.dmdc.osd.mil/identitymanagement/authenticate.do;jsessionid=DnHNNTmStDWxa98l2xQTc0gwMfexTyvTA3xrjF97ePiQbTlSxbUC!-1899913949?execution=e1s1 .

[2015-12-23 05:16] koconnor719 opened #936 "search is missing from GI tool and FL; "feedback forum" missing from GI"
the header search bar is missing from GI tool and FL tool pages--but it is on the VEC pages.  is there a reason the headers are different?

![screen shot 2015-12-23 at 12 17 20 am](https://cloud.githubusercontent.com/assets/13770771/11971372/8e2ba254-a90a-11e5-8902-aabc41af2bb0.png)

also at the bottom of page, "feedback forum" is missing from GI tool, but it is on the FL and VEC pages.

![screen

[2015-12-23 17:29] MarinaMartin opened #938 "UserVoice Idea: Employment Profile - Information Block Removal"
Currently there is no way to delete a reference block. There needs to be a way to remove references and other information blocks from the resume without deleting the entire thing and starting over.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11187252-employment-profile-information-block-removal

[2015-12-23 20:18] maryannbrody commented on #932
Thanks, @koconnor719 -- appreciate you responding and inviting him to participate in usability testing. :)

[2015-12-23 21:52] #859 closed

[2015-12-23 21:52] #860 closed

[2015-12-23 21:52] #861 closed

[2015-12-24 15:11] MarinaMartin opened #939 "UserVoice Idea: aa"
aa

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11195217-aa

[2015-12-28 00:28] MarinaMartin opened #940 "UserVoice Idea: Linked in profile not populating resume?"
When I am asked to use my linkedin profile., I sign into linked in and choose to populate the resume and it doesn't work? Please help.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11218422-linked-in-profile-not-populating-resume

[2015-12-28 18:28] Drakenhart commented on #935
There is a type of breadcrumb navigation style called "path". The idea is that the site tracks the user's path through the site and displays their location based on how they got there.

This may be something to consider.

Other types are:
* Location (ai / file structure)
* Attribute (ecommerce like)

[2015-12-28 18:40] Drakenhart opened #943 "Suggested Templates and their representitive Pages do not match."
I crafted a quick and dirty set of balsamiq files based on your playbook's suggested templates. As I was going between the pages that were examples, i realized they didn't quite match. I'm still curious what the small gray button-like box is in the template.

I realize these may just be basic guidelines.

Perhaps multiple links to other similar-sample pages on the site would be helpful?

[2015-12-29 15:13] koconnor719 commented on #938
alex, can you test this and let me know response?  i'm thinking this is a future enhancement?

[2015-12-29 15:14] koconnor719 commented on #939
closing and deleting; seems to be an error comment.

[2015-12-29 15:14] #939 closed

[2015-12-29 15:15] koconnor719 commented on #940
alex, can you pls. test this and confirm it's not a but?  not sure if this is a bug or user error.  (if user error i can respond with directions.)

[2015-12-29 20:13] MarinaMartin commented on #940
I tested this and it works for me - but perhaps this user has something unique about their profile that is causing it to not import. Can you respond and ask them what happened specifically (did they get an error, or did they get returned to VEC with a blank page?) and then have them email us with their name/email so we can troubleshoot?

[2015-12-29 21:25] koconnor719 commented on #940
posted response:

Thank you for your feedback. Sorry you are having trouble using this feature. Our team has tested this functionality, and it seems to be working as it should. Can you contact us with some more details so we can get this issue fixed for you?  Please email our team at vavetsgov-team@va.gov and tell us what's happening when you try to do this--does it give you an error message, or a

[2015-12-29 21:27] awong-dev opened #948 "Is yellow (#fdb81e) the right color for highlighting info?"
USDS style guide puts yellow as a tertiary color with examples showing transient state.

I would have expected background callouts for persistent headers like "Education Benefits" and list item bullets in the footer to be a secondary color....

https://playbook.cio.gov/designstandards/visual-style/#colors

[2015-12-29 21:29] koconnor719 commented on #932
closing this issue since we cannot replicate the issue and I don't believe this is an error; invited this user to participate in user testing.

[2015-12-29 21:29] #932 closed

[2015-12-29 21:29] awong-dev opened #949 "Add CI/PR review to vets-website"
This is just basic engineering hygiene set up.

Even thought it's static content, having a travis run doing basic HTML link analysis, etc., is useful. Also, it allows us to add more complex things like unittests.

Lastly, PR reviews in Heroku are really useful for reviewing things that are primarily content changes because getting a global feel when reading HTML/CSS/Jekyll diffs is...challenging.

[2015-12-29 21:41] awong-dev commented on #948
My attempted fix was be replace that background color with something from the secondary color palette...though nothing quite seem to look right...there's already enough blue-toned backgrounds on the page that another in that shade gets too busy w/o being differentiating enough for a header. Similarly, replicating the dark-blue background with white text is odd cause the banner background color is

[2015-12-29 21:49] koconnor719 commented on #726
Alex, i think you are working this?  can you let me know status when you have a minute--and is there potentially a quick fix we can do, so i can post an update to the web comments on the site since this is an older comment.

[2015-12-29 21:51] koconnor719 commented on #658
related to #726

[2015-12-29 22:16] MarinaMartin commented on #938
This is a dupe of issue #304 in the VEC repo.

[2015-12-29 23:04] awong-dev opened #951 "Normalize <script> tag syntax"
https://github.com/department-of-veterans-affairs/vets-website/blob/master/_includes/header.html#L159

This particular script tag uses by the `type=text/javascript` attribute as well as the

[code]

The other script tags don't.  We should normalize.  Per

http://stackoverflow.com/questions/2626563/leaving-out-type-text-javascript-language-javascript

We are using the html5 doctype definition in ou

[2015-12-30 00:10] awong-dev opened #952 "Decide on style guide for markdown content"
Should HTML tags in markdown content be indented?  If not, it's really _really_ hard to visually match unbalanced tags.

The stuff I'm setting up for #949 will catch things at the automated tool level, but it's still hard to read....

See

https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/da93d1f25f3c4419415804280a1bc22601d4c3e5/_education/process.md

for an example.  T

[2015-12-30 00:43] awong-dev opened #954 "Fix broken internal links on master vets.gov website."
#949 found 39 broken links on the production vets.gov website. I'm unsure what the right links are so I just suppressed the errors instead of fixing them.  Will list the error messages below.

After fixing the link, we should remove all the options to `--href-ignore` in https://github.com/department-of-veterans-affairs/vets-website/blob/949_ci/script/cibuild.sh#L5  except for `'/veterans-employmen

[2015-12-30 00:45] awong-dev commented on #954
Here's the list of broken links.

You can regenerate this by modifying `script/cibuild.sh` so the `htmlproof` line looks like: `bundle exec htmlproof ./_site --only-4xx --check-favicon --check-html --allow-hash-href --href-ignore '/veterans-employment-center/','/gi-bill-comparison-tool/'`.

Pasted output here:
[code]

[2015-12-30 00:50] awong-dev commented on #954
Since this has user-facing consequences, assigning to @koconnor719 for triage. It's only showing up in staging, so no emergency yet. To repro, go to
  https://staging.vets.gov/disability-benefits/get/filing/help/

and then click on the "Filing" breadcrumb.

Also tagging @MarinaMartin since it's holidays and @greggersh since I think this has something to do with the automatic breadcrumb generation.

[2015-12-30 01:19] awong-dev opened #957 "Ensure pages are deleted from s3 when they are removed in a deploy."
Per @llimllib: "currently old pages don’t get deleted i.e. version 1 has page a.html, then version 2 deletes it, a.html lives on in s3"

[2015-12-30 02:13] ayaleloehr commented on #938
@koconnor719 as Marina said, This is a dupe of:

https://github.com/department-of-veterans-affairs/veterans-employment-center/issues/304

(I pasted that link here because Marina's comment auto-linked to issue 304 in this repo, which seemed potentially confusing and I want to make sure we at least have the right link here somewhere).

So I think a comment saying that we agree that's an important fe

[2015-12-30 02:35] MarinaMartin commented on #938
Would be cool if we put a note about this in the VEC issue, so when we do implement it, we can update the UserVoice comment then too.

[2015-12-30 02:42] koconnor719 commented on #871
there is a legal requirement for this link in footer. Veterans need to be able to contact the OIG hotline to file a complaint from our homepage; we cannot use any different plain language the link in footer--it needs to be "Inspector General" per the legal requirement--the same way it is on VA.gov. can we pls. post this in next production release?

[2015-12-30 02:49] koconnor719 commented on #938
posted response; leaving this issue open so i can update the response when #304 is completed;

Thank you for your feedback. We agree! This is an important feature, and our team is working on it.  It will take us a few weeks to do this, so please check back in early 2016.

vets.gov team

[2015-12-30 15:15] greggersh commented on #954
When I click on the Filing breadcrumb I get a page that says "Coming Soon". This page corresponds to _disability-benefits/get/filing.md which does not appear to exist. Will have to take a closer look to figure out what's going on here.

[2015-12-30 16:33] koconnor719 commented on #631
working w/ EVSS team to make this deep link happen; posted response:

Thank you for the clarification. We are working on adding a link to the online form.  It won't be a one-click option though because Veterans will need to sign in using DS Login in order to use the online version of the form, but we can certainly add a link to that login page to make it easier for Veterans. Once a Veteran is logg

[2015-12-30 16:36] koconnor719 commented on #631
notes:

This is the main DS Logon page: https://myaccess.dmdc.osd.mil/identitymanagement/authenticate.do?execution=e3s1

This is the main DS Logon Registration page: https://myaccess.dmdc.osd.mil/identitymanagement/registration.do?execution=e4s1

I don’t have the deep link to the vocational/educational counseling form yet.  That is something that EVSS must provide so that we can use it on the vets

[2015-12-30 20:57] awong-dev opened #960 "Add pa11y into CI for auto 508 compliance testing."
just what it says.

[2015-12-30 20:58] awong-dev opened #961 "Settle on one ruby version for dev/ci/staging/deploy"
Codeship uses Ruby-2.2  Ruby stable is 2.3. Most macs seem to be running Ruby 2.1 by default.

Let's pick one and stabilize.

Assigning to @plusjeff for triage.

[2015-12-30 21:04] awong-dev opened #962 "I can has puma for web serving?"
unicorns always sound good until you see them.
Webrick seems, well, not often used.
Heroku standardized on puma and from my research, it seems architecturally the most modern (read: sane) of the ruby web servers.

See https://github.com/18F/college-choice/issues/597#issuecomment-138723666 and nesting's followup common for details.

I think this is as simple as adding puma to the gemfile, but we'd

[2015-12-30 21:04] awong-dev commented on #962
@plusjeff for triage.

[2015-12-30 21:14] MarinaMartin opened #963 "UserVoice Idea: Ability to delete a profile"
Ability to delete a profile

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11262018-ability-to-delete-a-profile

[2015-12-30 21:32] #949 closed

[2015-12-30 22:54] awong-dev opened #968 "Add pa11y to CI for automated 508 testing."

[2015-12-30 23:02] awong-dev opened #969 "Introduce Karma, Jasmine, and PhantomJS as Test Runner, Assertion library, and "browser"."
Since this is a jekyll site, the majority (only?) logic is javascript.

Thus, using JS frameworks for testing as opposed to ruby frameworks seems most sensible.

After bunches of reading, this seems to be a fairly common setup.

Karma is node.js so it means our Travis environment will need to be npm based. That's annoying, but it's a one-time setup. I didn't see any popular alternatives for having

[2015-12-30 23:02] awong-dev commented on #969
@plusjeff @emilyville FYI.

[2015-12-31 01:20] koconnor719 commented on #954
@dannychapman danny are these pages in staging old / error pages?  i don't think the "get" and "filing" are breadcrumbs that i've seen before?  see screenshot below--i think i found a few other pages like this prior to 11/11 launch, and you confirmed they were old/ error pages and deleted them...wondering if this is the case w/ some of these pages too?

![screen shot 2015-12-30 at 8 15 55 pm](http

[2015-12-31 14:12] dannychapman commented on #922
@bethpotts This should happen automatically with markdown. Can you add a list of specific examples that need fixing here? Feel free to assign this issue to me at that point too.

[2015-12-31 15:28] ayaleloehr commented on #962
@awong-dev for what it's worth, it looks like VEC and GI Bill tool are currently using Passenger.

https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/3a185439f7740123a413f18d847183c8f7ed8bf6/Capfile#L24

[2015-12-31 16:13] #888 closed

[2015-12-31 16:14] #824 closed

[2015-12-31 16:15] dannychapman commented on #936
@koconnor719 This is by design for now, as it is confusing to have the global vets.gov search within an app. Closing, but we should continue to iterate on this.

[2015-12-31 16:15] #936 closed

[2015-12-31 21:08] #969 closed

[2016-01-01 02:43] dannychapman commented on #954
This has been fixed! It was a result of the new breadcrumb generation script.

[2016-01-01 02:43] #954 closed

[2016-01-01 02:44] dannychapman commented on #968
This is a dup of #960, closing.

[2016-01-01 02:44] #968 closed

[2016-01-03 23:43] MarinaMartin opened #974 "UserVoice Idea: Why does it take the VA to pay out money owed to the veteran."
http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11295936-why-does-it-take-the-va-to-pay-out-money-owed-to-t

[2016-01-04 15:59] #894 closed

[2016-01-04 16:54] koconnor719 commented on #963
@MarinaMartin is there any way to get a test user account so we can see this functionality in the VEC (ability to delete a user profile); i can't test this in order to provide detailed feedback.

[2016-01-04 18:05] MarinaMartin opened #976 "UserVoice Idea: Please make this website clearer."
Please make this website clearer and link it to other VA sites to find my DD 214. Also, it needs a "Logout" button.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11303949-please-make-this-website-clearer

[2016-01-04 20:37] koconnor719 commented on #974
posted response;

Thank you for your feedback.  I'm sorry but our team needs a little more information about this question in order to provide an answer.  Is this question specific to content or features on vets.gov?  If you can give us a little more information, we are happy to follow up on your comment.

vets.gov team

[2016-01-04 21:53] awong-dev opened #980 "Add security checks to CI."
Stuff like bundle-audit and brakeman.

[2016-01-04 21:54] MarinaMartin commented on #963
Not right now - you have to be a Veteran.

[2016-01-04 22:01] awong-dev opened #981 "Script the deploy in Rakefile"
Use `git clone -s . /tmp/deploy-#{tmpdir}` to create a temporary deploy repo.

Add the github remote into the repo.

Do
[code]

For merge back
Do
[code]

[2016-01-05 01:38] koconnor719 commented on #976
posted response and closed:'

Thank you for your feedback. The current vets.gov site does yet include a "login" feature.  It will in the coming months, and once we add this login feature we will add a "logout" feature as well.  We agree with your comment that it's important to have a clearly labeled login and logout feature on vets.gov--thank you!

Because we are developing in the open, we have on

[2016-01-05 01:38] #976 closed

[2016-01-05 01:43] koconnor719 commented on #903
team, any update on when this link can be added to the crisis line text at the bottom of page?  @emilyville @dannychapman

[2016-01-05 01:44] koconnor719 commented on #871
@emilyville @dannychapman team, just checking on status of adding OIG link in footer so i can close this:)

[2016-01-05 01:51] emilyville commented on #948
Adding in @dannychapman since he might have more insight into this specifically!

In short, I think there are some user comments that call to attention to the problem you're addressing: we're calling a lot of attention to something that's not always interactive - see issue #722 .

My two cents: I personally 'like' the yellow for the further in breadcrumb pages (though another color might be just a

[2016-01-05 01:55] dannychapman commented on #948
Crazy thought, what if we turn this into an opportunity to do more. I'm thinking something with a simple animation. "How can we _____" (with the blank animating through different words)

[2016-01-05 01:56] dannychapman commented on #948
I think the yellow works as a strong branding opportunity for us, while still keeping it inline with USDS. It's similar to gov.uk's use of a simple vertical line as their primary branding mark. Since we're not really about logos, photos or other traditional marketing techniques, the yellow is a simple way to set vets.gov apart.

[2016-01-05 01:57] dannychapman commented on #948
That said, I do get the UX issue here. It needs to feel much more like a highlight and less like a button / box. See vox.com for an example.

[2016-01-05 02:01] emilyville commented on #948
I am on the same page! I think making it like a thing that gets you to
where you want to go (shuffling through, and maybe eventually a super
guided search?) Would be awesome!

[2016-01-05 15:01] maryannbrody commented on #976
@koconnor719 - thank you!!! Just a reminder to please advertise it as "vets.gov feedback sessions" or something like that instead of "testing" which freaks people out and sounds more technical than it would be.

[2016-01-05 15:28] MarinaMartin opened #985 "UserVoice Idea: A more simple process for employers to access system and view resumes"
I registered about a week and a half ago.  I still do not have access to view resumes.  Can their be established a faster way of registering a business.  Employers should have a contact number to ensure they get access so that they are able to fulfill their commitment.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11314473-a-more-simple-process-for-employers-to-access-syst

[2016-01-05 18:32] dannychapman commented on #924
Fixed! Closing.

[2016-01-05 18:32] #924 closed

[2016-01-05 18:35] dannychapman commented on #903
I've put together a pull request that addresses this. My approach is to have the phone link be clickable for mobile devices, and the website link for everyone else.

[2016-01-05 18:38] MarinaMartin opened #990 "UserVoice Idea: Help"
There should be some sort of help center to address submission errors.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11316897-help

[2016-01-05 20:04] dannychapman commented on #871
@koconnor719 PR posted, @emilyville will review!

[2016-01-05 20:10] koconnor719 commented on #903
perfect!  thx

[2016-01-06 12:57] MarinaMartin opened #995 "UserVoice Idea: COURSERA VERIFIED CERTIFICATE NO LONGER FREE FOR VETS"
Some transitioning members in San Diego logged in to the Coursera blog yesterday. It said, "Sorry the voucher no longer exists." Do the VA and Coursera working on extending the free verified Coursera certificate voucher for veterans?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11325942-coursera-verified-certificate-no-longer-free-for-v

[2016-01-06 16:19] MarinaMartin opened #996 "UserVoice Idea: Job Scam"
I think I may be dealing with a job scam emailed to me through the Va job portal

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11328057-job-scam

[2016-01-06 17:45] bethpotts commented on #922
I think there would be many dozens of examples, but I could comb the site if that's what's needed. Here are two pages that feature both on the same page:

Contaminated C-123 page (the third blue box has a straight apostrophe in the word "children's" and the fourth blue box has a curly apostrophe in the word "children's"):
https://staging.vets.gov/disability-benefits/conditions/exposure-to-hazardou

[2016-01-06 18:54] dannychapman commented on #925
This has been fixed with the new IA updates. Closing.

[2016-01-06 18:54] #925 closed

[2016-01-06 18:54] dannychapman commented on #923
Fixed with new IA updates. Closing.

[2016-01-06 18:54] #923 closed

[2016-01-07 01:17] awong-dev opened #1002 "Remove inline CSS from VOA form."

[2016-01-07 01:18] awong-dev commented on #1002
Introduced in #955 _health-care/form.html line 18 or thereabouts.

[2016-01-07 01:26] awong-dev opened #1003 "Add Rake task for production deployment configuration"
Production serves with a different config. Create a rake task to do this and then migrate the AWS deploy scripts to invoke this task so our deployment configuration can be atomically version controlled with the source.

The core of this is probably just running:
  `bundle exec jekyll serve --config _config.yml,_config_production.yml`

but we should probably also clean the environment to be certain

[2016-01-07 18:23] koconnor719 commented on #996
related to VEC issue 487 (in VEC repo);

posted response:

Thank you for your feedback. It is unfortunate that anyone would try to take advantage of a Veteran. We have a blog post to help warn Veterans about protecting themselves from phishing attacks "Veterans Employment Center Website: False Claim of Breach" at http://www.blogs.va.gov/VAntage/23299/veterans-employment-center-website-false-claim-

[2016-01-07 18:31] koconnor719 commented on #990
Thank you for your feedback.  Can you provide some additional information about what type of "submission" error you are getting on vets.gov?  If you are having difficulties with VA.gov, you can go to this page for assistance:  https://iris.custhelp.com/app/ask/session/L2F2LzEvdGltZS8xNDUyMTkxMzk5L3NpZC96ZVBHTFhGbQ%3D%3D

[2016-01-07 18:43] koconnor719 commented on #985
posted response:

Thank you for your feedback.  Our team has fixed this issue, so you should be able to view resumes now!

vets.gov team

[2016-01-07 18:45] #985 closed

[2016-01-07 18:46] koconnor719 commented on #995
when i click on courser from my VA machine i get this error:

<img width="1123" alt="screen shot 2016-01-07 at 1 27 45 pm" src="https://cloud.githubusercontent.com/assets/13770771/12179459/03908078-b545-11e5-9090-bc681637515c.png">

[2016-01-07 18:47] koconnor719 commented on #995
alex, do you want me to create a new issue in VEC repo?  or is this one sufficient?

@ayaleloehr

[2016-01-07 18:49] bethpotts opened #1005 "two Rates pages currently on vets.gov"
We need to kill one of them. We also need to decide if it makes sense to link to Rates from both locations. Here they are:
/disability-benefits/rates/
(Rates is a tile on the disability landing page--very prominent location)

/disability-benefits/claims-process/ratings/
(much less prominent as we link to it from a piano key at the bottom of the Claims Process page)

[2016-01-07 18:51] dannychapman commented on #1005
@bethpotts It would be great if we could just the /disability-benefits/rates/ one in my opinion.

[2016-01-07 18:52] bethpotts commented on #1005
Do I add Ric and Susan to this conversation in github by adding them as Assignees?

[2016-01-07 18:53] dannychapman commented on #1005
cc @sjb912 @rcarthur

[2016-01-07 18:54] bethpotts commented on #1005
Thanks, Danny!

[2016-01-07 19:00] bethpotts opened #1006 "Global breadcrumb exceptions: words to lowercase unless they begin the text string"
the
a
an
and
but
for
or
nor
to
as

[2016-01-07 19:51] ayaleloehr commented on #995
Having the Coursera ones together is sufficient. We have en email out to Coursera asking about this. Will update when we hear back.

[2016-01-08 14:55] MarinaMartin opened #1014 "UserVoice Idea: Add C&P Exam explanation to Claim Process"
Add information regarding the C&P Examination process to the Claims Process page? This could explain what these are and set realistic expectations for the setup and process of these exams.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11351523-add-c-p-exam-explanation-to-claim-process

[2016-01-08 15:11] ss0ss commented on #1014
@sjb912 @rcarthur Please note.

[2016-01-08 17:36] bethpotts commented on #1005
@dannychapman @rcarthur @sjb912 Should we remove the piano key on the Claims Process page that links to one of the Rates pages and kill that Rates page? The piano key says: "How does VA assign disability ratings?" If we do this, we would be left with the very prominent Rates tile off the Disability landing page. I think that's sufficient. Opinions?

[2016-01-08 20:09] MarinaMartin opened #1015 "UserVoice Idea: Impossible conclusion s"
Something I am having a hard time to understand is how my PTSD cannot be service connected when it says Combat directly above it how can I possibly be? I have already broken my code of silence once I don't care to do that ever again.so can you please do c some reconsideration of that.in fear sleeping what the soldier went throughllike myself went t the things that I saw things that I did the thing

[2016-01-09 00:42] MarinaMartin opened #1018 "UserVoice Idea: TEST"
This site is so clear and useful and I really can't wait to see what you roll out in the future!!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11357835-test

[2016-01-09 00:46] koconnor719 commented on #1014
posted response:

Thank you for your feedback. We agree with you that the C&P exam process is very important for Veterans! We'll be adding that content in the coming months as we build out vets.gov, using feedback from Veterans. In the meantime, we invite you to be part of our Veteran research to provide additional feedback on vets.gov.  If you would like to participate, please contact our team at

[2016-01-09 01:07] koconnor719 commented on #1015
@MarinaMartin is this response ok:

Here is some information that might be helpful if you need immediate assistance--the Veterans Chat will able to help you find the right person to ask your question--this feedback page is just for the vets.gov website:
- Call the Veterans Crisis Line 1-800-273-8255 and press 1 to talk to someone now.
- Get online support with the confidential Veterans Chat https:

[2016-01-09 01:11] koconnor719 commented on #1018
Thank you for your feedback.  We invite you to participate in our user research activities. Please contact us at vavetsgov-feedback@va.gov

vets.gov team

[2016-01-09 01:11] #1018 closed

[2016-01-09 01:18] koconnor719 commented on #995
posted response:

Thank you for your feedback. We are checking on this.

vets.gov team

[2016-01-09 19:47] emilyville opened #1020 "Why do user voice issue responses not go to the submitters email?"
Kelly and I made a test, and I did not receive the response she sent. This might explain why no one has ever  responded.

[2016-01-10 05:16] MarinaMartin commented on #1015
@koconnor719 I think that's a good response. We might also want to ask Debi's team for feedback.

[2016-01-10 21:52] koconnor719 commented on #1015
verified response; closing item. will follow up w/ Debi's team for guidance on future comments like this.

[2016-01-10 21:52] #1015 closed

[2016-01-10 21:57] koconnor719 commented on #1020
I am also doing a test on this

[2016-01-10 22:06] MarinaMartin opened #1021 "UserVoice Idea: Veteran research and feedback"
Veterans can participate in vets.gov user research activities throughout 2016. They are conducted online and take only 30 minutes. Please contact the vets.gov team at vavetsgov-feedback@va.gov.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11374035-veteran-research-and-feedback

[2016-01-10 22:38] emilyville commented on #1020
I think I figured some thing out here. I clicked around until I got a response. If you look at this screenshot - adding a comment _did not_ send me an email. However, adding a message did.

![screen shot 2016-01-10 at 2 33 50 pm](https://cloud.githubusercontent.com/assets/1307774/12224497/71745b78-b7a7-11e5-9d27-140d616ecf81.png)

It looks like since we've been doing it the other way (with comment

[2016-01-10 23:52] MarinaMartin opened #1022 "Make a colophon"
I like this Colophon idea from gov.uk and think we should also do it. Perhaps it is part of Roadrunner?

https://gds.blog.gov.uk/colophon-alpha/

Assigning to @plusjeff but feel free to delegate to someone else.

cc @emilyville

[2016-01-11 00:07] emilyville commented on #1022
I like this, we have a couple similar things that could be modified or merged(?) to go for this idea more specifically:

https://www.vets.gov/playbook/design/code/
https://www.vets.gov/playbook/platform/

I realize you all might already be familiar with these, but adding anyway for issue robustness!

[2016-01-11 19:04] MarinaMartin opened #1023 "UserVoice Idea: Another Job Scam"
Dr. from Whitestein Technology sent me an email stating I would be a great fit!  After setting up Google Hangout to do a video interview he asked for my email address....um you already sent me an email saying that I was a good fit for the company.  I continued the conversation asked him where was he from and does he work for this company.  He replied that he was in Baltimore and he worked for this

[2016-01-12 00:53] bethpotts commented on #1005
@dannychapman @sjb912 @rcarthur We addressed this in our content working call. Susan, Ric, and I agreed that we would like to remove the Rates tile from the disability landing page and kill the page it currently links to (/disability-benefits/rates/). We will keep the piano key link currently on the Claims Process page that goes to the other Rates page (/disability-benefits/claims-process/ratings/

[2016-01-12 03:47] MarinaMartin opened #1027 "UserVoice Idea: Multiple MOS's Selection for Skills Translator"
Would be nice to be able to use the MOS skills translator to add multiple MOS's to the resume.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11388633-multiple-mos-s-selection-for-skills-translator

[2016-01-12 20:38] koconnor719 commented on #1021
this was my posting; closing issue no response needed

[2016-01-12 20:38] #1021 closed

[2016-01-12 20:49] koconnor719 commented on #1023
Thank you for your feedback. It is unfortunate that anyone would try to take advantage of a Veteran. We have a blog post to help warn Veterans about protecting themselves from phishing attacks "Veterans Employment Center Website: False Claim of Breach" at http://www.blogs.va.gov/VAntage/23299/veterans-employment-center-website-false-claim-of-breach/ . We love your idea about linking to it from the

[2016-01-12 20:50] #1023 closed

[2016-01-12 21:02] koconnor719 commented on #1027
Checking with Veteran user to see if this is possible if a Veteran is logged in and has a saved profile.

[2016-01-12 21:11] koconnor719 commented on #996
closing this item since it is captured in VEC #487 and response has been posted.

[2016-01-12 21:11] #996 closed

[2016-01-12 21:12] koconnor719 commented on #940
closing this issue; no response response received from user and email contact posted for further info.

[2016-01-12 21:12] #940 closed

[2016-01-12 21:21] koconnor719 opened #1030 "User Voice -not sending responses"
User voice is not sending vets.gov admin posted responses to feedback back to original posters; i believe it is supposed to do this??? so people who submit feedback aren't getting our responses--unless they come back to the site. @emilyville

[2016-01-13 03:35] MarinaMartin commented on #1030
@emilyville was researching this, I am assigning it to her (Emily, assign back to me if you need to!)

[2016-01-13 12:31] emilyville commented on #1030
@koconnor719 this is a duplicate of #1020 and that issue has how we can fix it. Closing this issue - I will assign that one to you.

[2016-01-13 12:31] #1030 closed

[2016-01-13 12:32] emilyville commented on #1020
ping! let's make a plan to send these responses out. If the screenshot is unclear I can explain IRL.

[2016-01-13 13:14] koconnor719 commented on #1020
I will need help doing this? Not sure who has bandwidth to do

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, January 13, 2016 07:32 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] Why do user voice issue res

[2016-01-13 17:23] J-Quag commented on #1014
Thanks Kelly, this one was actually mine. I submitted it during the workshop we had last week re: C&P Exams.

[2016-01-13 22:04] #891 closed

[2016-01-13 22:04] #871 closed

[2016-01-14 00:17] bethpotts opened #1040 "C-123 page doesn't match the other pages linked to off Agent Orange landing page"
cc @sjb912 @rcarthur The text block at the top of the C-123 Aircraft page doesn't match all the other pages linked to off of the Agent Orange landing page. All except C-123 have the text block at the top in larger font and blue rather than black. Is there a way to get this page consistent with the others?

[2016-01-14 21:41] MarinaMartin opened #1042 "UserVoice Idea: Add log in button at the top of the screen"
Identify to users that logging in is needed. Many users are linked to this website through ebenifits and will assume they are logged in. It was very frustrating to fill out all this information just to find out that it all disappears when you hit the log in button.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11450529-add-log-in-button-at-the-top-of-the-screen

[2016-01-14 23:02] ayaleloehr commented on #726
@koconnor719 We pushed some fixes to the facility locator this week.  The data source we use currently is: http://www.va.gov/webservices/fandl/documentation/fandl.cfm

As we write the new facility locator over the next couple months, we plan use the VAST dataset, as this user suggests.

[2016-01-15 18:12] dannychapman commented on #1005
@bethpotts Got it! I have a pull request in for review.

[2016-01-15 18:39] dannychapman commented on #1040
@bethpotts I have a pull request in to fix this.

[2016-01-15 19:01] dannychapman commented on #1022
Love this idea!

[2016-01-15 19:03] dannychapman commented on #1005
Fixed! Closing.

[2016-01-15 19:03] #1005 closed

[2016-01-15 19:12] dannychapman commented on #521
This example is actually an orphaned, old version of the page - fixed in the new version. Unable to find other good examples for now, so closing this one. Please reopen if you find specific examples though!

[2016-01-15 19:12] #521 closed

[2016-01-15 19:51] dannychapman commented on #526
@raineystraus would this be different from the green apply button we have now? Not sure I follow.

[2016-01-15 19:53] dannychapman commented on #577
Unable to replicate. Seems to work when zooming out. Closing for now.

[2016-01-15 19:53] #577 closed

[2016-01-15 20:29] koconnor719 commented on #1042
Posted response:

Thank you for your feedback. Can you tell us which website you are logging into? Currently vets.gov does not have a login.

We plan to have a vets.gov login in the future so Veterans can access the VA services and benefits they have earned quickly and easily. If you would like to provide us additional feedback about vets.gov and how we can make it better for Veterans, please cont

[2016-01-15 20:31] #532 closed

[2016-01-15 23:49] #1040 closed

[2016-01-16 14:42] MarinaMartin opened #1051 "UserVoice Idea: Test"
Test

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11470941-test

[2016-01-16 22:46] koconnor719 commented on #1020
i resent all of our vets.gov responses as "messages" and tested on 2 of my own test messages and did received a response.  closing this issue.

[2016-01-16 22:46] #1020 closed

[2016-01-16 22:49] koconnor719 commented on #631
confirmed w/ VR&E business SMEs that NO "one-click"counseling feature exits.  a Veteran needs to be signed in to eBenefits, apply, get approved, and then can access services. closing this issue since EVSS team is not able to provide a "deep link" to this within eBenefits.   modified response above per this information.  there is no other action item for this comment.

[2016-01-16 22:49] #631 closed

[2016-01-16 22:52] koconnor719 commented on #1051
internal test of "message" functionality.

[2016-01-16 22:52] #1051 closed

[2016-01-17 15:43] MarinaMartin commented on #1020
Thank you @koconnor719 ! I am so sorry we should have split that up. Next repetitive task is on me :)

[2016-01-18 14:13] MarinaMartin opened #1057 "UserVoice Idea: Blog the progress of vets.gov"
Post regularly (at least once per week) about design choices, new apps transitioned, team working on vets.gov, "how we work" posts about tools & culture, website performance, etc.

1 post in 2.5 months isn't really a blog.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11489268-blog-the-progress-of-vets-gov

[2016-01-18 14:13] MarinaMartin opened #1058 "UserVoice Idea: Landing Page Usability Suggestions"
Couple of usability suggestions.
(1) When you hover over the light bulb in bottom right corner, provide feedback (like alt text) to tell user what this is, so they don't have to click it to find out.
(2) Provide better guidance on which items are clickable, in addition to just slight color change. For example "Disability Benefits" and Education Benefits" boxes should have some visual indicator suc

[2016-01-18 15:31] MarinaMartin opened #1059 "UserVoice Idea: i goit the same email saying good fit i contacted the company found he does not wok for how are these scamers abl to get our info and who"
another scam

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11490255-i-goit-the-same-email-saying-good-fit-i-contacte

[2016-01-18 20:54] dannychapman opened #1061 "Upgrade to the newest version of jekyll"

[2016-01-18 21:41] #528 closed

[2016-01-18 21:44] dannychapman commented on #831
This has been tackled by a subsequent PR. Closing.

[2016-01-18 21:44] #831 closed

[2016-01-18 21:45] #922 closed

[2016-01-18 22:12] dannychapman opened #1067 "Replace jekyll paginate gem with new pagination method in jekyll 3.0"

[2016-01-19 18:41] #951 closed

[2016-01-19 20:14] dannychapman commented on #656
@rickleegit is this all set? Just wondering if we can close it out.

[2016-01-19 20:15] #515 closed

[2016-01-19 20:15] #474 closed

[2016-01-19 20:16] dannychapman commented on #478
This has been fixed in production. Closing.

[2016-01-19 20:16] #478 closed

[2016-01-19 20:27] bethpotts commented on #478
Kelly, I wanted to follow up to say that Danny has fixed all the breadcrumbs, so this page is good to go! The paths have changed, and thus the breadcrumbs have changed, so here's the new BDD page, with beautifully functioning breadcrumbs: https://staging.vets.gov/disability-benefits/claims-process/claim-types/predischarge-claim/bdd/index.html

[2016-01-19 20:42] koconnor719 commented on #478
Awesome!!

Sent with Good (www.good.com)

-----Original Message-----
From: bethpotts [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, January 19, 2016 03:27 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] menu link errors (#478)

Kelly, I wanted to follow up to say that Danny has fixed

[2016-01-19 21:06] MarinaMartin opened #1071 "UserVoice Idea: Now you have a rating, what next?"
Once I got a letter telling me I had a rating, I didn't know what was next. Have a status bar that tells the Veteran what their next steps are based on their rating. I don't know what to do, or what benefits I'm eligible for and where to go on the ebenefits page.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11507676-now-you-have-a-rating-what-next

[2016-01-20 02:37] #837 closed

[2016-01-20 04:51] MarinaMartin commented on #1027
This is not possible because the skills translator only operates off one MOC. The Veteran can add however many MOCs they want directly within their resume.

[2016-01-20 05:53] ayaleloehr opened #1073 "A URL with // in it"
The search indexer picked up this URL:

https://www.vets.gov//disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/

Note the "//" instead of "/" after ".gov".  Not sure how that happens or if anything links to that, but it seems strange that that URL exists.

[2016-01-20 05:56] ayaleloehr opened #1074 "Automate deleting old search index"
Per conversation with @EricSchles it sounds like currently when a new deployment occurs the site is automatically reindexed for search, but the process of deleting the old index is not yet automated.  This means if we don't manually go in and delete the old index, results start showing up multiple times.  This should be able to be automated.

Likely first step is to talk to search.usa.gov team to

[2016-01-20 13:19] #681 closed

[2016-01-20 13:21] #1061 closed

[2016-01-20 14:37] MarinaMartin opened #1075 "UserVoice Idea: Allow entry of Job Title and MOS"
Allow the entry of the job title as well as MOS to bring up the job descriptions for the military jobs.  This will assist recruiters/employment coordinators to find the job description when unable to get MOS

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11517027-allow-entry-of-job-title-and-mos

[2016-01-21 15:53] MarinaMartin opened #1078 "UserVoice Idea: MOS translator"
E-benifits had a great MOS translator, now I get redirected to vets.gov and the translator does not even work.  Please go back to using the ebenifits translator if this site is not going to have it.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11532324-mos-translator

[2016-01-21 19:30] ayaleloehr commented on #1078
The skills translator is working for me currently. Can we maybe find out what MOS he or she is using?

[2016-01-22 01:03] bethpotts opened #1081 "VEC Job Seekers page has an extra word (typo)"
https://www.vets.gov/veterans-employment-center/for_job_seekers
The second gray box, called "Free Coursera Certificates" needs the word "chose" removed. Please delete "chose" but keep "choose."

[2016-01-22 01:14] koconnor719 commented on #1057
team has three(3) blogs in process.

closed and posted response:
Thank you for your feedback. We agree with you and will be posting more blogs.  We are working on several right now and plan to post blogs more regularly on the progress of vets.gov--and other topics!  Thank you.

vets.gov team

[2016-01-22 01:18] koconnor719 commented on #1057
@dannychapman @emilyville @rcarthur team, pls. send me your blogs so i can get approved by martin and posted:)

[2016-01-22 01:22] koconnor719 commented on #1058
posted response and assigned to mary ann for user testing and research on the feedback forum item # 1.  i agree we need to improve this feature.

Thank you for your feedback. Our user research team has been conducting testing with Veterans on the "feedback forum" feature (the light bulb) and will making improvements based on that research in the near future. We agree with you, that making it easy

[2016-01-22 01:25] koconnor719 commented on #1059
posted and closed:

Thank you for your feedback. It is unfortunate that anyone would try to take advantage of a Veteran. We have a blog post to help warn Veterans about protecting themselves from scams and phishing attacks "Veterans Employment Center Website: False Claim of Breach" at http://www.blogs.va.gov/VAntage/23299/veterans-employment-center-website-false-claim-of-breach/ .

vets.gov team

[2016-01-22 01:30] #1059 closed

[2016-01-22 01:35] koconnor719 commented on #1071
@ss0ss @rcarthur guys, is there content on vets.gov that answers the question above?  i wanted to include a link to someplace?  or is this planned for future (widgets we discussed).

[2016-01-22 01:39] koconnor719 commented on #1075
@maryannbrody  can you add this to your user research for VEC?  @ayaleloehr fyi

closed and posted response:
Thank you for your feedback.  We'll add this to our user research and usability testing for the Veterans Employment Center to see what Veterans think! Our team uses a Human Centered Design approach as we design and build vets.gov. We ask Veterans what they want and need on an ongoing basis,

[2016-01-22 01:45] koconnor719 commented on #1078
posted response:

Thank you for your feedback. Our team has tested the Veterans Employment Center skills translator and it works.  Can you give us some additional information and we can re-test--what MOS codes are you using?

vets.gov team

[2016-01-22 01:53] koconnor719 commented on #726
closed and posted this issue and #658 :

Thank you for your feedback. Our team has conducted testing on this issue, and we are already working to update and enhance the Facility Locator data using VA Site Tracking (VAST)! Because we are "developing in the open" we are launching new features and enhancements to vets.gov on an ongoing basis based on Veteran feedback. Thanks for your feedback.

vets.

[2016-01-22 01:53] #726 closed

[2016-01-22 01:55] koconnor719 commented on #658
closed and posted:

Thank you for your feedback. Our team has conducted testing on this issue, and we are already working to update and enhance the Facility Locator data using VA Site Tracking (VAST), which should fix the issue you identified! Because we are "developing in the open" we are launching new features and enhancements to vets.gov on an ongoing basis based on Veteran feedback. Thanks for

[2016-01-22 01:55] #658 closed

[2016-01-22 01:57] koconnor719 commented on #870
assigned to mary ann for user research; we've gotten several comments on improving the feedback forum. @maryannbrody @emilyville

[2016-01-22 01:59] koconnor719 commented on #903
posted and closed:

Thank you for your feedback. Great idea--we made your change!

vets.gov team

[2016-01-22 01:59] #903 closed

[2016-01-22 02:03] koconnor719 commented on #963
checking w/ VEC SMEs (john thompson) whether this is possible.

[2016-01-22 02:06] koconnor719 commented on #974
closing this issue b/c no response since Dec. and if a response is posted another user voice issue will be opened.

[2016-01-22 02:06] #974 closed

[2016-01-22 02:07] koconnor719 commented on #990
closing this response b/c no additional info has been provided; if additional info is posted a new user voice issue will be opened.

[2016-01-22 02:07] #990 closed

[2016-01-22 02:10] koconnor719 commented on #1014
thanks Josh!  did we answer your question?

[2016-01-22 02:13] koconnor719 commented on #1027
posted and closed:

Thank you for your feedback. Our skills translator only operates off of one MOC, but you can add multiple MOCs directly within your resume. This should enable you to have multiple MOCs on your resume.

vets.gov team

[2016-01-22 02:13] #1027 closed

[2016-01-22 02:23] koconnor719 commented on #1042
closed issue; no additional information. if user provides another comment a new user voice issue will be opened.

[2016-01-22 02:23] #1042 closed

[2016-01-22 13:28] #1022 closed

[2016-01-22 15:46] koconnor719 opened #1082 "Feedback Forum error: "This page can't be displayed error" on VA computer using Explorer 11"
@MarinaMartin @emilyville

this issue was referred by Sec. Bob fyi: a VA employee using VA machine and Explorer v9 browser is not able to access the feedback forum page (https://veterans.uservoice.com).  she's getting error message "this page cannot be displayed."

[2016-01-22 16:18] dannychapman commented on #1058
Great point re: the big blue boxes. I will see what I can work up for these.

[2016-01-22 19:09] killiandown opened #1083 "Implement the Life Insurance Benefit next"
This benefit is not very well advertised and the Prudential interface is completely separate so you could use the same SSO code for your DS Login to Resume Bank.

[2016-01-22 19:24] MarinaMartin commented on #963
There is not a delete button - we would have to add it. @ayaleloehr

[2016-01-22 20:42] maryannbrody commented on #1058
Re: Point 1 -- Good point. I've wondered this too. I think we can probably make the sticky version of the icon a little bigger with text since hovering text wouldn't be as effective on mobile -- [users would have to click to see the text, and we'd rather they click to get straight to user voice]. "Provide feedback on the site." I think we can just do this - no need to do any testing.

@dannychapma

[2016-01-22 22:25] dannychapman commented on #529
@rcarthur @ss0ss It would be great to knock these out for our current IA. Can we track this?

[2016-01-23 01:28] dannychapman commented on #1067
Turns out this is all set by just including the pagination gem, which we are doing! Closing.

[2016-01-23 01:28] #1067 closed

[2016-01-23 01:29] dannychapman commented on #957
@awong-dev It would be great to get this fixed, as it causes quite a bit of confusion for the content team.

[2016-01-23 04:38] awong-dev commented on #957
@dannychapman I have no clue how this works yet so I don't know how to fix it.  Tagging @plusjeff as this probably should be looked at as part of the devops fixit next week.

[2016-01-23 22:37] plusjeff commented on #957
Thanks - will add it to the list!

[2016-01-25 21:22] MarinaMartin opened #1085 "UserVoice Idea: Incorrect Job Description"
The Skills Translator lists the correct job title for USMC MOS 2676 (2676 : Central Asian Cryptologic Linguist), but when you import into the resume builder, the job description is completely wrong. It seems to be the job description for CH-54 helicopters.

Perhaps this could reference the VMET database and import job descriptions from there. Or, if it already does that, maybe this particular MOS

[2016-01-26 04:04] koconnor719 commented on #1085
pls. advise on response @ayaleloehr

[2016-01-26 14:44] ayaleloehr commented on #1081
Closed via commit 2f2a1cc8d018593ac7162608fa076e0a883886a9 in VEC repo.

[2016-01-26 14:44] #1081 closed

[2016-01-26 16:46] ayaleloehr commented on #1085
I checked the data files that this came from and this issue exists in there as well (meaning this is not an issue with the VEC application logic, but with the input data).  That doesn't help the user, but is important for our team to know.

The data file says the source is "mosdb", which I do not know what is in reference to.  For reference, the other two sources in that file are Mil2Fed and O*NET

[2016-01-26 17:38] ayaleloehr commented on #995
@koconnor719 for documentation, per our call with Coursera, this error message occurs when a user has already claimed their voucher (they can claim it only once).

[2016-01-26 19:03] gnakm opened #1086 "Optimize Tagging and Search Result"
- User searched for “post 9/11” and said “all URLs look the same, this is not helpful, not sure what to select or how to scan”
- Optimize tagging & search results page to facilitate scanning (more descriptive titles, definitions, and links)

[2016-01-26 20:46] ss0ss commented on #1085
A note - several of us on the content team have DS log ins, not sure if that helps db access though.

[2016-01-26 21:10] gnakm opened #1087 "GIBCT Button"
Make GI Bill link look more actionable so that it doesn't get lost on the GI Bill page.

Suggestion: A button that is a different color from the green "Apply for Benefits" button (as per discussion) with an icon that will be easy to spot on the page.
Pros:
- Helps break content on the page so that intro (text) is not exceeding 75 characters
- Helps find tools better throughout the site
- If we dec

[2016-01-27 20:10] J-Quag commented on #1014
It did, thanks. Looking forward to seeing the content.

[2016-01-27 20:53] emilyville opened #1088 "Re-word or deprioritize "Legacy Programs" card"
Feedback from a few different types of usability sessions and card sorting has shown that "legacy programs" is not a term people use consistently like we mean it here. Can we reword this so it's more user friendly and also potentially reprioritize on this page?

![screen shot 2016-01-27 at 12 35 33 pm](https://cloud.githubusercontent.com/assets/1307774/12627413/86550670-c4f2-11e5-98f8-371f366d9fcc

[2016-01-28 06:04] emilyville opened #1089 "update the readme"
We no longer use bootstrap, as far as I know, and likely needs more updates than that as well as a "how to contribute" section.

[2016-01-28 20:01] usds-bot opened #1097 "UserVoice Idea: Simplicity, transparency and accountability"
The biggest challenge to the VA website is funding direct answers to simple questions. For example, if I am sick today, but I'm not so ill that I need to go to the emergency room, what do I do? Does the VA have anything similar to "urgent care", where do I find it, and how do I access it?

If I have a healthcare problem that I believe is not being adequately addressed, who do I go to to get help?

[2016-01-28 20:01] #1097 closed

[2016-01-28 20:12] usds-bot opened #1098 "UserVoice Idea: Test from Marina"
Test VA Bot idea from Marina

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11625051-test-from-marina

[2016-01-28 21:10] usds-bot opened #1100 "UserVoice Idea: Fix download resume error"
The resume will not download. I have a macbook air 2015 model. And an android note 4 that also doesn't open the download. Reads, file is unsupported or corruped. With both my laptop and phone.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11625981-fix-download-resume-error

[2016-01-29 14:42] usds-bot opened #1101 "UserVoice Idea: More Job Scams"
Since posting my resume yesterday, I have received 5 different scam emails.  Another member of my group actually interviewed with one of them and they asked her for bank account and other personal information!  I can be contacted for more information about the offending companies if necessary.  Further, I have made my resume not viewable to employers due to this.

The VA needs to screen these empl

[2016-01-29 14:57] usds-bot opened #1102 "UserVoice Idea: Provide more information abut receiving veteran's point preference for federal and state jobs"
How is it that the employment site does not have information about SF-15 or 5-10 Veteran's Preference Points for Federal jobs? I recently applied for a federal job and I am not sure if the SF15 is certified by the department I am applying to or by the VA.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11636877-provide-more-information-abut-receiving-veteran-s

[2016-01-29 20:43] usds-bot opened #1103 "UserVoice Idea: Scam job due to VA"
Stop sending my resume with my personal info to scam online/home jobs. I keep getting people email me saying to VA sent my info to them.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11641818-scam-job-due-to-va

[2016-01-30 20:03] usds-bot opened #1104 "UserVoice Idea: how do we contact resume favorites"
How do you contact your favorite veterans?  Is there a way to send a group email to them and invite them to a military career event on 2/17 in Arizona?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11652258-how-do-we-contact-resume-favorites

[2016-02-01 00:16] ayaleloehr commented on #1101
We need to get a handle on this issue.

@koconnor719 can you follow up with this Veteran (and the others who have reported similar issues) and find out the companies sending scam emails?  In trying to resolve this, it will be important for us to know if this is a single offending company or a more systemic problem.

I will work with John and/or Robert at the VA to get these companies removed from

[2016-02-01 01:19] koconnor719 commented on #1101
meeting tomorrow 5pm to discuss

[2016-02-01 01:19] koconnor719 commented on #1098
@MarinaMartin  these are now missing "user voice labels"?  that's how i was managing this process.  can we put that label back?

[2016-02-01 01:27] usds-bot opened #1107 "UserVoice Idea: Simplicity, transparency and accountability"
The biggest challenge to the VA website is funding direct answers to simple questions. For example, if I am sick today, but I'm not so ill that I need to go to the emergency room, what do I do? Does the VA have anything similar to "urgent care", where do I find it, and how do I access it?

If I have a healthcare problem that I believe is not being adequately addressed, who do I go to to get help?

[2016-02-01 01:27] MarinaMartin commented on #1107
Labels still not appearing! Closing again

[2016-02-01 01:27] #1107 closed

[2016-02-01 01:29] MarinaMartin commented on #1098
Asking @paultag to investigate, I think the bot does not have the necessary permissions to apply labels.

[2016-02-01 01:30] koconnor719 commented on #1098
What does the bot now do differwntly than what was happening before??

Sent with Good (www.good.com)

-----Original Message-----
From: Marina Martin [notifications@github.com<mailto:notifications@github.com>]
Sent: Sunday, January 31, 2016 08:29 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] UserVoice Idea: Tes

[2016-02-01 01:31] MarinaMartin commented on #1098
The bot is not me (aka it doesn't look like Marina Martin is making all the issues). The bot has the wrong permissions, I think, so it should be a quick fix.

[2016-02-01 01:34] koconnor719 commented on #1098
Cool thx

Sent with Good (www.good.com)

-----Original Message-----
From: Marina Martin [notifications@github.com<mailto:notifications@github.com>]
Sent: Sunday, January 31, 2016 08:32 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] UserVoice Idea: Test from Marina (#1098)

The bot is not me (aka it doesn't look

[2016-02-01 01:40] usds-bot opened #1108 "UserVoice Idea: State facilities"
The facility locator only has VA facilities. Can you please add State veteran facilities as well (eg cemeteries). I imagine this is a quick add if you ask each of the states to add this in for you.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11666442-state-facilities

[2016-02-01 02:08] usds-bot opened #1109 "UserVoice Idea: Mobile"
Nice mobile interface

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11666616-mobile

[2016-02-01 02:13] koconnor719 commented on #1108
posted response:

Thank you for your feedback.  We are already working to enhance our VA Facility locator based on Veteran feedback. Our team will review your suggested enhancement to see if we can add it as a future enhancement.

vets.gov team

[2016-02-01 02:15] koconnor719 commented on #1109
test email from me from mobile to ensure working properly; closed.

[2016-02-01 02:15] #1109 closed

[2016-02-01 02:17] koconnor719 commented on #1104
checking w/ john t. on contact for this event.

[2016-02-01 02:21] koconnor719 commented on #1103
Thank you for your feedback. Please note that the Veterans Employment Center does not send your information to anyone. It is unfortunate that anyone would try to take advantage of a Veteran. We have a blog post to help warn Veterans about protecting themselves from scams and phishing attacks “Veterans Employment Center Website: False Claim of Breach” at blogs.va.gov/VAntage/23299/veterans-employm.

[2016-02-01 02:24] #1103 closed

[2016-02-01 02:30] koconnor719 commented on #1101
posted response:

Thank you for your feedback. Yes, please send details about the offending companies to vavetsgov-feedback@va.gov.  VA reports all suspicious activity, suspected corporate fraud, or phishing activities immediately to the Federal Bureau of Investigation (FBI).

It is unfortunate that anyone would try to take advantage of a Veteran. We have a blog post to help warn Veterans about pr

[2016-02-01 02:34] koconnor719 commented on #1100
sent to John and Robert to test.

[2016-02-01 02:40] koconnor719 commented on #1100
Thank you for your feedback. Our team has tested this functionality, and it seems to be working. Were you able to "preview" your resume?

vets.gov team

[2016-02-01 02:46] koconnor719 commented on #1057
@EmilyTav emily will facilitate review and publish of blogs from team.

[2016-02-01 02:50] #1014 closed

[2016-02-01 02:55] MarinaMartin commented on #1100
This will be even better when we publish the new resume download feature in the very near future.

[2016-02-01 16:19] akainic opened #1110 "Search terms not being recorded in Google Analytics"
There are no results for search terms in the vets.gov Google Analytics account (but there are for the VEC Google Analytics account):

https://analytics.google.com/analytics/web/#report/content-site-search-search-terms/a50123418w107014820p111433053/%3F_u.date00%3D20160101%26_u.date01%3D20160131/

[2016-02-01 19:51] rickleegit commented on #1108
I will follow up and get back to you @koconnor719

[2016-02-01 19:57] paultag commented on #1098
I set a change on the account; needs re-testing

[2016-02-01 20:52] awong-dev opened #1111 "Add Content-Security-Policy header to nginx config"
Been thinking about forcibly reducing XSS attack surface across a federated vets.gov.

If we don't go with an origin sandbox, another option is to reduce the XSS surface area via Content-Security-Policy. http://www.html5rocks.com/en/tutorials/security/content-security-policy/

Ideally, I would disable all inline javascript and restrict all script domains to localhost and a few whitelisted CDNs. We

[2016-02-01 20:52] awong-dev commented on #1111
@ShawnArnwine @ayaleloehr @plusjeff

[2016-02-01 23:15] usds-bot opened #1112 "UserVoice Idea: Job Center of Wisconsin Hinderance"
Let me see Job Center of Wisconsin postings without creating a login. If I want to apply I might consider creating a login.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11678712-job-center-of-wisconsin-hinderance

[2016-02-02 02:13] usds-bot opened #1114 "UserVoice Idea: Layout"
I like the layout

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11680146-layout

[2016-02-02 03:56] koconnor719 commented on #1112
posted and closed:

Thank you for your feedback.  You can search jobs (and use many other VEC features) without logging in. You only have to login in if you would like to post your profile to the VEC so employers can find it.

We invite you to provide additional feedback about vets.gov. If you have about 30 minutes, we can schedule a feedback session at your convenience. Please contact our team at

[2016-02-02 03:57] #1112 closed

[2016-02-02 04:03] koconnor719 commented on #1114
Thank you for your feedback.

[2016-02-02 04:03] #1114 closed

[2016-02-02 04:04] koconnor719 commented on #1104
Thank you for your feedback. We are checking on this for you. Are you a verified employer on the VEC already?

vets.gov team

[2016-02-02 04:15] koconnor719 commented on #1108
closed and posted:

Thank you for your feedback. Presently the facility locator (https://www.vets.gov/facility-locator) does include cemeteries and state facilities such as hospitals, outpatient clinics, Vet centers, benefits offices, and intake sites.  Was there another type of state facility you were looking for?

vets.gov team

[2016-02-02 04:15] #1108 closed

[2016-02-02 04:23] koconnor719 commented on #1085
posted and closed: Thank you for your feedback. Our team is testing this issue and working to update the source data for this job title.

vets.gov team

[2016-02-02 04:23] #1085 closed

[2016-02-02 04:26] koconnor719 commented on #1071
ric, do you know if there's content on vets.gov to address this question?

[2016-02-02 04:29] koconnor719 commented on #1071
posted:
Thank you for your feedback. We are checking on this.

vets.gov team

[2016-02-02 14:27] dannychapman commented on #1088
I think the IA here should be reworked in general - there's a lot of "underwear on the outside here" in terms of organization. For example - can we put the GI Bill Comparison tool inside the GI Bill section? Perhaps legacy programs could be split up and the content integrated into other sections?

[2016-02-02 14:37] dannychapman commented on #1057
@koconnor719 Sounds good. PR'd mine and Richard's posts.

[2016-02-02 14:39] dannychapman opened #1115 "Add active and focus states for big blue buttons"

[2016-02-02 14:40] dannychapman commented on #1058
@maryannbrody Agreed re: active and focus states. I've added an issue for this #1115

For the feedback button, we'll have to see what options there in terms of styling  / adding content with Uservoice for the feedback title. Only negative I see with that approach is how much it will cover the content as you scroll. We could consider something fancy, like having the additional feedback text appear

[2016-02-02 16:13] usds-bot opened #1116 "UserVoice Idea: Facility locator should allow current location"
The facility locator should allow the use of "current location" for mobile users to quickly find the closest facility to their current location.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11687403-facility-locator-should-allow-current-location

[2016-02-02 22:54] usds-bot opened #1118 "UserVoice Idea: workplace support link"
There are typos everywhere

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11692719-workplace-support-link

[2016-02-03 00:48] ayaleloehr commented on #1116
Just tested this on my phone and when I loaded the page, it auto-zoomed into my location (this image is what I saw).  While it doesn't have the blue dot showing exactly where I am, like users might be used to seeing on Google maps, it does zoom based on your location (assuming you have location services on). I also just tested what happens if location services are not on, and in that case, it does

[2016-02-03 01:18] koconnor719 commented on #1118
@MarinaMartin  do we have a spellcheck built into our automated testing?

[2016-02-03 01:26] koconnor719 commented on #1116
closed and posted:

Thank you for your feedback. We agree that being able to use your current location is important to users. Our team tested this functionality, and when you load a page, it should auto-zooms into your current location (assuming you allow location services on). While it doesn't have the blue dot showing exactly where you are (like Google maps), it does zoom in based on your locati

[2016-02-03 01:26] #1116 closed

[2016-02-03 01:26] koconnor719 commented on #1116
thanks @ayaleloehr !

[2016-02-03 01:34] koconnor719 commented on #1078
closed; no response from users in more than 2 weeks; if new information comes in a new issue will be opened.

[2016-02-03 01:34] #1078 closed

[2016-02-03 01:37] koconnor719 commented on #1101
closing this issue b/c it's being addressed by adding additional warning language to job seeker pages; this is not a technical issue; working w/ VEC team on QA process revisions to the employer approval / validation process.

[2016-02-03 01:37] #1101 closed

[2016-02-03 01:47] ayaleloehr commented on #1118
I just read that page and didn't find any typos.

[2016-02-03 02:02] koconnor719 commented on #1104
posted and closed:
Thank you for your feedback. The best way to make Veterans aware of your career event is to have it posted on the Veterans Employment Center. Please submit your request to OEOECSUPPORT.VBAVACO@va.gov, and someone on the VEC team will review your request and get back to you. Hope that helped!

vets.gov team

[2016-02-03 02:02] #1104 closed

[2016-02-03 02:16] koconnor719 commented on #995
posted response; note: Coursera is fixing the blog issue above by using survey monkey instead of google docs (issue was an access issue specific to VA computers and Google docs:)

Thank you for your feedback. Our team did some testing on this. Users can claim a Coursera voucher only once. That error message, "sorry the voucher no longer exists" happens when a user has already claimed a voucher and

[2016-02-03 02:19] koconnor719 commented on #1058
@maryannbrody can we close this issue given above?  can you provide suggested response that i can post pls:)

[2016-02-03 02:21] koconnor719 commented on #1071
checking w/ VBA POC

[2016-02-03 15:06] emilyville commented on #1088
Totally agree. I think the "legacy programs"  is particularly problematic because legacy means something different to some folks (what you leave behind) and here we mean "old thing we still support", no?

So yes to both but a new card title seems most important until we start to really tacky tackle sitewide ia!

I think we're due for a list of major links within cards - like gi tool. Since (I thin

[2016-02-03 15:22] maryannbrody commented on #1075
Closing this issue -- I have it tracked for user research.

[2016-02-03 15:22] #1075 closed

[2016-02-03 15:38] maryannbrody commented on #1088
@emilyville & @dannychapman -- Also agree the IA needs to be re-worked. We are definitely working on it. We had a finding from the last round of usability testing that users go to GI Bill card for a task designed to get them to the comparison tool. I recommended combining the two and then making it easier to get to GIBCT.

What if we just change "Legacy Programs" to ...

Title: "Other Education Be

[2016-02-03 15:39] ShawnArnwine opened #1120 "Obtain existing RiskVision (ATO) docs for VOA"
Get business owner/ISO to provide existing ATO documentation/package from RiskVision

[2016-02-03 15:41] ShawnArnwine opened #1121 "Enter existing/relevant VOA ATO information into RiskVision"
In support of Vets.gov VOA release, enter information into RV

[2016-02-03 15:47] dannychapman commented on #1088
That sounds good! @maryannbrody are you working with the content team on this?

[2016-02-03 15:56] maryannbrody opened #1122 "Re-design UserVoice icon to provide users with more context about what it is."
See issue #1058

I posted this to @dannychapman as a concept:
![image](https://cloud.githubusercontent.com/assets/12674895/12787698/8a982b78-ca64-11e5-9e56-00ac6f56cec6.png)

He responded,

@dannychapman @emilyville Can we look into something "fancy"? We could also consider the additional feedback text sliding out on mouseover.

[2016-02-03 15:56] maryannbrody commented on #1058
Closing, started a new issue for user voice icon #1122

[2016-02-03 15:57] #1058 closed

[2016-02-03 15:59] koconnor719 commented on #1088
content lead for GI tool is @mollyblake

[2016-02-03 16:00] maryannbrody commented on #1088
@mollyblake if this looks good to you, can you make this change?

[2016-02-03 18:13] mollyblake commented on #1118
@MarinaMartin @koconnor719 I also checked the page and it looked fine.

[2016-02-03 18:38] mollyblake commented on #1088
@maryannbrody How about "Other Educational Assistance Programs"

[2016-02-03 20:08] bethpotts commented on #1088
@dannychapman Can you help make the necessary breadcrumb changes?

[2016-02-03 21:53] koconnor719 commented on #1102
checking w/ VEC SMEs

[2016-02-03 22:04] koconnor719 commented on #963
@cfeeney-va @ayaleloehr is this an accurate response:

Thank you for your feedback. Users can delete their profiles on VEC.  Job seekers can edit his/her profile and remove all of their information from the profile at any time. Users will still have an account with VEC if they have registered that they can return to anytime. Our team is going to add a "delete" feature to VEC to make it easier to d

[2016-02-04 02:59] MarinaMartin commented on #1118
Could it be that a link to something else workplace support related has typos on it?

[2016-02-04 14:22] usds-bot opened #1127 "UserVoice Idea: Center Project"
https://yahoo.uservoice.com/forums/251116-yahoo-mail

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11716680-center-project

[2016-02-04 15:29] maryannbrody commented on #1088
@mollyblake "Other Educational Assistance Programs" is good with me -- I would only point out that we use "education" elsewhere, so "education" might be better for consistency.

[2016-02-04 16:37] dannychapman commented on #1122
Working on a fix for this that also tackles an accessibility issue with the widget.

[2016-02-04 17:14] koconnor719 commented on #1127
deleted; i think this is spam?

[2016-02-04 17:14] #1127 closed

[2016-02-04 17:20] Drakenhart commented on #1122
Have you considered doing it "tool tip" style, by using javascript to expose the title tag and style it?

[2016-02-04 17:32] koconnor719 commented on #1118
posted and closed:

Thank you for your feedback. We conduct automated testing on all of our pages before we deploy—and our team has double-checked this page (workplace support) for any typos. We were not able to find a single typo? Can you let us know which pages you referencing, and our team will take a look right away!

vets.gov team

[2016-02-04 17:32] #1118 closed

[2016-02-04 19:35] usds-bot opened #1128 "UserVoice Idea: Search criteria"
As I search for levels of education, it is not populating.  It gives an error message (check the logs)

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11721186-search-criteria

[2016-02-04 21:03] usds-bot opened #1129 "UserVoice Idea: Saving Points"
This site needs many more "save" points.  I worked for two hours lost my internet connection and lost everything.  It is about service to the vet.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11722641-saving-points

[2016-02-05 20:28] Drakenhart opened #1131 "Add Forms to the playbook"
For sites that require forms and will use the vets.gov playbook as their standard.

It is one of the missing components on the playbook.

[2016-02-05 21:03] MarinaMartin commented on #1131
This is coming soon!

[2016-02-05 21:31] usds-bot opened #1132 "UserVoice Idea: Information on Applied Jobs"
Can you add an area were it shows the jobs that we have applied to.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/11736840-information-on-applied-jobs

[2016-02-06 01:23] koconnor719 commented on #1128
Thank you for your feedback. We're sorry you're having trouble with our search.  Our team has tested several searches on eduction levels and we can't seem to replicate the issue.  Can you give us some additional details (what was the error message, what pager were you on, what terms were you searching) so we can make sure we address your issue.

vets.gov team

[2016-02-06 01:26] koconnor719 commented on #1129
does anyone know what this means? @MarinaMartin @plusjeff

[2016-02-06 01:35] koconnor719 commented on #1132
Thank you for your feedback. That's a great idea!  We'll have our user research team take a look at this suggestion for our ongoing list of future enhancements. Our team prioritizes vets.gov enhancements based on user research we conduct with Veterans.  Thank you for the suggestion.

vets.gov team

[2016-02-06 21:15] MarinaMartin commented on #1129
The only form on there now is the resume creation form. Maybe we could offer "save progress" buttons in between field sections?

[2016-02-07 15:48] koconnor719 commented on #1129
Is this effort worth it given plan to have LinkedIn badge in 3 months? I don't think it is?

Sent with Good (www.good.com)

-----Original Message-----
From: Marina Martin [notifications@github.com<mailto:notifications@github.com>]
Sent: Saturday, February 06, 2016 04:15 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-web

[2016-02-07 16:06] emilyville commented on #1129
Feels like a solid "enhancement" labeled issue to file, because I think we
should generally have this on long forms, or seek to design around it -
whether or not we ever get to it in vec.

My two cents ;)

[2016-02-07 16:27] koconnor719 commented on #1129
Agreed good point 😀

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Sunday, February 07, 2016 11:06 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [vets-website] UserVoice Idea: Saving Points (#1129)

Feels like a solid "enhancement"

[2016-02-07 16:44] MarinaMartin commented on #1129
Agree with @emilyville broadly that it's a good overall form enhancement, I wouldn't prioritize it for vec with the badge around the corner.

[2016-02-08 16:33] plusjeff commented on #1111
Cool - just seeing this now. I need to read up about CSP since I don't know anything about it at the moment. Want to understand the scope/impact of inhibiting inline JS, esp on the currently deployed apps.

I trust your judgement though and it sounds like we should do this.

[2016-02-08 18:14] bethpotts opened #1140 "breadcrumb fix for former Legacy page"
/education/legacy-programs/
should be changed to
/education/other-educational-assistance-programs/

These are the pages affected:
/education/legacy-programs/reap/
/education/legacy-programs/call-to-service/
/education/legacy-programs/veap/

[2016-02-08 19:17] awong-dev commented on #1111
I think it's a worthwhile experiment. It's easy to turn off later, but it's hard to turn on once there's a mass of inlined javascript and bad cross-origin assumptions.

Happy to discuss more in person. This is one of those thing were me giving an intro might be easier than everyone reading about it separately.

[2016-02-08 19:50] usds-bot opened #1141 "UserVoice Idea: Concern for fraudulent employment leads drumming from this page."
Recently I've received a rash of fraudelent employment opportunities from people posing as ligitimate companies.  The "hire" you through online interviews for at home work, phish for personal information then require various sums of money to be transferred electronically or via western union to a third party for required software.  Thoroughly vet employers only using gmail contact information and

[2016-02-08 20:50] ayaleloehr commented on #1111
+1 to @awong-dev giving an intro.

[2016-02-08 22:55] akainic opened #1144 "VOA: things to do for demo"
- [X] Missing images (e.g., dropdown arrows)
- [X] Merge PR #1138 (close enough)
- [x] Make inputs correct size (check 18f)
- [X] Remove or comment out PRA content
- [X] Fix breadcrumbs on form.html ("Health Care > Apply for Health Care")
- [X] Remove blue bar above form
- [X] Break questions into sections
- [X] Add "Continue" and "Next" buttons to each section
- [X] Fix Checkboxes
- [X] Comment o

[2016-02-08 22:57] emilyville commented on #1144
We'll make PRs off of voa-progress-form.

[2016-02-08 22:58] awong-dev commented on #1144
Is there a reason not to merge voa-progress-form now?

[2016-02-08 23:35] awong-dev opened #1145 "js tooltip library?"
I'm noticing that we have 3 different tooltip libraries checked in to vets website's vendor folder with jquery-accessible-simple-tooltip-aria.js being the only used that.

However, even there, jquery-accessible-simple-tooltip-aria.js looks to be used in the playbook and on the facility-locator/index.html only.

What is this for? Do we really need it? If not, can I remove it to simplify?

[2016-02-08 23:35] awong-dev commented on #1145
@dannychapman

[2016-02-09 04:57] emilyville commented on #1144
@akainic checked some more boxes with  PR #1146 1146!

[2016-02-09 13:19] koconnor719 opened #1147 "Remove VBA / VHA style guides"
Remove VBA and VHA pdf files from this page (bottom of page) : https://www.vets.gov/playbook/editorial/

@emilyville @maryannbrody

[2016-02-09 14:48] usds-bot opened #1148 "UserVoice Idea: Test title"
Testing an idea

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12265839-test-title

[2016-02-09 14:53] koconnor719 commented on #1148
closed; deleted test

[2016-02-09 14:53] #1148 closed

[2016-02-09 14:57] koconnor719 commented on #1141
posted and closed:
Thank you for your feedback. It is unfortunate that anyone would try to take advantage of a Veteran. The Veterans Employment Center (VEC) puts the safety and security of Servicemembers, Veterans, and their families first by storing only general profile information, such as email addresses. We have a blog post to help warn Veterans about protecting themselves from phishing attack

[2016-02-09 14:57] #1141 closed

[2016-02-09 15:02] koconnor719 commented on #1129
posted and labelled as enhancement:

Thank your for your feedback. Great idea! We agree that being able to save work as you go is a good feature for users. We're going to add this to our list of future enhancements.

vets.gov team

[2016-02-09 15:10] koconnor719 commented on #1102
posted and closed (response verified by VEC christi collins and Dennis May)

Thank you for your feedback. If you are asking about USAJOBS and the Office of Personnel Management (OPM) form to claim Veterans’ preference, then your question should be directed to the point of contact listed on the specific USAJOBS announcement. The Veterans Employment Center (VEC) doesn’t capture Veterans preference i

[2016-02-09 15:14] koconnor719 commented on #1100
no response from user in more than a week; closing this issue b/c if there is a response a new user voice ticket will be opened.

[2016-02-09 15:14] #1100 closed

[2016-02-09 15:43] koconnor719 commented on #995
coursers still working to fix the broken log (replacing google doc w/ survey monkey) this issue is limited to VA users only

[2016-02-09 15:55] MarinaMartin commented on #1102
Should this stay open and be captured by content team as a need? Seems like we should have instructions about this. @koconnor719

[2016-02-09 15:58] dannychapman commented on #1145
I'd advocate for removing entirely, since those are the only two places we use them. If you want to assign this to either me or @emilyville, I can retool those pages and we can just remove it.

[2016-02-09 16:14] plusjeff commented on #1111
Another +1 for the mix. @awong-dev Could you schedule this?

[2016-02-09 17:52] ss0ss commented on #1102
I agree. We should be able to explain all this up front. @rcarthur please add to jobs content

[2016-02-09 17:56] mollyblake commented on #1102
I will look into this. @rcarthur @ss0ss

[2016-02-09 18:09] mollyblake commented on #1102
@koconnor719 @ss0ss @rcarthur On pivotal page #110298564 (Federal Employment) we discuss Veteran's Preference and the point system.  This page is awaiting concurrence and stubbing.

[2016-02-09 20:16] ss0ss commented on #1102
Thanks @mollyblake - assigned to you.

[2016-02-09 20:59] koconnor719 commented on #1082
i confirmed w/ paulette (she works at a VA research facility in Boston and is using a VA computer) that she does in fact have Explorer 11 (initially she thought it was v9); while she can access the vets.gov page, she can not access the feedback forum (user voice) and is getting that error message.

[2016-02-09 23:55] emilyville commented on #1087
Let's revive this! I think the layout is perfect, but a stock button would be best - maybe green like this page?

https://www.vets.gov/disability-benefits/apply-for-benefits/

[2016-02-10 15:18] plusjeff commented on #962
Puma has been decided upon.

[2016-02-10 15:18] #962 closed

[2016-02-10 15:19] plusjeff commented on #961
Ruby 2.3.x is the current decision. roadrunner-rails has a .ruby-version with 2.3.

[2016-02-10 15:19] #961 closed

[2016-02-10 16:49] koconnor719 commented on #1082
christine going to take lead on this

[2016-02-10 17:01] koconnor719 commented on #1082
user has confirmed that another co-worker is also having the same problem when trying to access user voice.

[2016-02-10 17:09] koconnor719 commented on #963
@cfeeney-va can you pls. verify the above response is accurate, or mod as needed, so i can post. thx

[2016-02-10 17:16] koconnor719 commented on #995
escalated to Coursera

[2016-02-10 17:32] koconnor719 commented on #1071
posted response (from VBA):

Thank you for your feedback. We recognize that is a very important process for Veterans, and it needs to be clear and easy to understand as we migrate these features and information over to vets.gov. Right now, the best resources to use are the claims status feature in eBenefits, the profile page in eBenefits (which provides custom links to services), and / or the Bene

[2016-02-10 17:37] koconnor719 commented on #1071
keeping this open under design and content for the enhancements on status bar and next steps.

[2016-02-10 17:40] koconnor719 commented on #1102
awesome.  can we plan to get this into this week's release (tomorrow afternoon?)

[2016-02-10 17:42] koconnor719 commented on #1102
posted update:
Thank you for your feedback. We are modifying some content on vets.gov to address your feedback! We will update you with a link when it's live!

vets.gov

[2016-02-10 18:09] ss0ss commented on #1071
@koconnor719
I think this should be a new page under /disability-benefits/apply-for-benefits/
Also thinking this should nav from the first as a piano key at the bottom of this page.

@rcarthur Can you create a pivotal story and get this written for our next roll out.

[2016-02-10 18:12] ss0ss commented on #1102
@koconnor719 - We have a page dedicated to this that will be launched when Jobs content is uploaded.

[2016-02-10 18:13] mollyblake commented on #1102
@koconnor719 I will send you the text for your SA!

[2016-02-10 21:16] awong-dev opened #1158 "Make webpack runnable without npm install -g"
Fix comment by @plusjeff from #1157

[2016-02-11 16:38] emilyville opened #1170 "Add Patient Wait Times Page"
There is a new page launching (elsewhere) on Nov 29th, and we've been asked to include information that would send people to it.

This is the link from the email from Jack Bates:
http://vapwtdev.azurewebsites.net/

Should put it somehow like this until we have more of a "health section" or could somehow incoporate with facility locator - though both of those are out of scope for Feb 29th.
![screen

[2016-02-11 16:40] emilyville commented on #1170
Also if anyone disagrees with adding a one-off page please chime in - I know this kind of process could get unruly. I'm inclined to think the value of this (I <3 this similar feature for my local DMV!) outweighs the possibly that there is insanity after we do a million more like it.

cc/ @dannychapman @maryannbrody

[2016-02-11 17:10] #1158 closed

[2016-02-11 20:05] awong-dev opened #1175 "Protected branches should disallow merges from PRs with failing tests."
Was able to merge https://github.com/department-of-veterans-affairs/vets-website/pull/1174 to `master`. Probably should enable this feature.

[2016-02-11 20:11] awong-dev commented on #1175
@ayaleloehr found out that `master` was not protected and did a lightning fast fix. Now PRs have the travis runs marked with a little grey `required` tag and the merge button is greyed out. Yay! Fixed!

[2016-02-11 20:11] #1175 closed

[2016-02-11 20:19] awong-dev opened #1177 "Production build configuration is not tested."
Currently, the CI only tests the build artifacts from the development configuration even though both are always built. Since the production and development divergence are small, this is "safe" but really, production should be tested separately.

Either the CI system should always build/test both configurations, or the CI should build/test the configuration that matches the branch.

[2016-02-11 23:38] emilyville opened #1182 "something up with "new window" icon"
We are having to remove some CSS that puts this icon at the end of links
![exit-icon](https://cloud.githubusercontent.com/assets/1307774/12994368/090f9286-d0ee-11e5-96e2-63a01507fb3a.png)

It wasn't working - but then with some bourbon updates it was working in a way that broke things, so it's removed completely!

I believe this is the intended behavior:
![screen shot 2016-02-11 at 6 37 28 pm](htt

[2016-02-12 11:55] rickleegit opened #1188 "CareerScope Link"
This may have been intentional, but wanted to mention it because it is the most clicked outbound link from the Comparison Tool.

The CareerScope page (https://www.vets.gov/education/tools-programs/careerscope/) does not include a link to CareerScope (http://www.benefits.va.gov/gibill/careerscope.asp) and (https://va.careerscope.net/gibill)

[2016-02-12 12:00] rickleegit commented on #1170
Not sure if we will be doing this post March 31, but we have spoken about incorporating this data into the Facilities Locator as a second phase enhancement.

[2016-02-12 13:18] emilyville commented on #1188
Good catch. Let's add a green button link in the gray bar similar to some other ones, and like we have planned for the gi bill page to the gi tool.

Now that I'm looking I'm not sure that linking to page is correct since it has similar content. Can we link to the tool, @rcarthur? I don't see it at first glance.

[2016-02-12 14:18] dannychapman opened #1189 "JS assets are much larger on staging - issue with web pack?"
**Staging assets:**
1	HTML/Text	11.6K
8	JavaScript File	719.2K
3	Stylesheet File	129.6K
4	CSS Image	46.6K
1	Favicon	3.2K

**Production assets (pre web pack)**
1	HTML/Text	5.5K
14	JavaScript File	258.2K
3	Stylesheet File	132.9K
4	CSS Image	46.5K
1	Favicon	3.2K

[2016-02-12 16:34] mollyblake commented on #1188
I don't see why we can't link to the tool.  The careers and employment section will have to link to the tool as well. You don't need a special logon. @rcarthur , do you agree?

[2016-02-12 19:02] awong-dev commented on #1189
@dannychapman Thanks!  Can you give me a pointer to how you are getting these numbers? I want to be sure I'm seeing the same thing.

[2016-02-12 19:04] dannychapman commented on #1189
@awong-dev sure thing - I've been using the YSlow plugin for Chrome. https://chrome.google.com/webstore/detail/yslow/ninejjcohidippngpapiilnmkgllmakh

[2016-02-12 22:13] usds-bot opened #1194 "UserVoice Idea: Tool Bar"
Add a tool bar at the headers of the page to make channeling through the website easier and user friendly.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/12310965-tool-bar

[2016-02-12 22:37] awong-dev commented on #1189
Thanks! Found the problem.

webpack is not minifying in staging because I had omitted the -p flag (https://webpack.github.io/docs/cli.html#production-shortcut-p) which implies both `--optimize-minimize` and `--optimize-occurence-order`. When I run this locally, the javascript size goes to 309.7k. Worse, but not crazy bad. Some of it might be ES6 polyfills...I'd need to do a deeper analysis.

Minif

[2016-02-12 23:01] koconnor719 commented on #1194
posted:
Thank you for your feedback! We will add that to our user research and see what Veterans think.

vets.gov team

[2016-02-12 23:02] #1144 closed

[2016-02-13 02:11] dannychapman commented on #1189
@awong-dev good deal. That puts us close to where we are currently. Thanks for digging into this.

[2016-02-14 00:14] koconnor719 opened #1198 "Add blogs"

[2016-02-14 00:14] koconnor719 opened #1199 "Pre-need burial"
draft charter and schedule meeting w/ product team; pls. include NCA web comms lead mike nacinik; notes https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Product%20Teams/Pre-Needs-Burial/Meeting%20Notes%2012.29.md and materials from last meeting.