[2016-11-15 19:43] patrickvinograd commented on #3974
Yes, it shows up under facility codes "757" and "757a":

https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0//query?where=Facility_Number+like+%27757%25%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=&units=esriSRUnit_Meter&outFields=*&returnGeometry=true&multipatchOpti

[2016-11-15 19:45] NatalieEMoore commented on #3948
@bshyong can this be closed since it is being discussed on a different issue?  We are changing it so that results will show if @koconnor719 were to enter that zip.  (10 closest facilities)

[2016-11-15 19:46] bshyong commented on #3948
Yes, let's close it

Ben Shyong

On Tue, Nov 15, 2016 at 11:45 AM -0800, "Natalie Moore" <notifications@github.com> wrote:

@bshyong can this be closed since it is being discussed on a different issue?  We are changing it so that results will show if @koconnor719 were to enter that zip.  (10 closest facilities)

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2016-11-15 19:47] #3948 closed

[2016-11-15 19:52] NatalieEMoore commented on #3942
VHA= American Samoa, Guam, Northern Mariana Islands, Philippines, US Virgin Islands and Puerto Rico
NCA= Puerto Rico

[2016-11-15 20:07] gnakm opened #3978 "Rx list view for refill page"
At our most recent usability testing session, we had some Veterans from the Paralyzed Veterans of America and they shared with us that the list view is much more helpful for those who have difficulties with mobility. This is for post-launch but still in scope for 2016.

![rx refill list view](https://cloud.githubusercontent.com/assets/13420618/20321987/66aadf36-ab45-11e6-823a-c74717e394e8.png)

[2016-11-15 20:07] crwallace commented on #3956
@bshyong -- Where did we get the number 10 from? I think that might not make sense from a user perspective. For instance: I just looked at Billingsley, AL (zip: 36006) and upon zooming out the 10th health facility in the list was 61 miles away. I think that it makes sense to have at least 1 that falls in the query but I am not sure that a user would see much need in driving past all other location

[2016-11-15 20:12] carlmjohnson opened #3980 "Can't logout in Safari because of pop-up blocker"
STR:

Log in at https://staging.vets.gov/disability-benefits/track-claims/your-claims

Click log out

Expected:

Log out pop up window opens.

Actual:

In Chrome when I try to log out, the pop-up blocker warns me that it blocked a pop-up, and I can override it. In Safari, there is no warning and I can't workaround it at all.

[2016-11-15 20:14] NatalieEMoore commented on #3956
- When you say 1 that falls in the query what do you mean @crwallace ?

- We need to move away from having results show only in the zip code entered and toward having a certain number of results show, regardless if it's in the zip code.

- We can make it less than 10, that number was just randomly picked. What do you suggest @crwallace ?

- What has been happening is a user enters a zip code and i

[2016-11-15 20:16] NatalieEMoore commented on #3956
Here is another example:

![zipissue](https://cloud.githubusercontent.com/assets/13317147/20322275/6c01375e-ab46-11e6-8be3-05f33c63c143.PNG)

[2016-11-15 20:25] NatalieEMoore commented on #3974
![daytondup](https://cloud.githubusercontent.com/assets/13317147/20322622/c281b7ba-ab47-11e6-8f84-14f195d2f227.PNG)

[2016-11-15 20:25] NatalieEMoore commented on #3974
I will work with VBA to have them clean this data @patrickvinograd

[2016-11-15 20:42] akainic opened #3981 "add privacy notice to education introduction"
Like HCA used to have:

<img width="1177" alt="screen shot 2016-11-15 at 3 43 12 pm" src="https://cloud.githubusercontent.com/assets/3886085/20323474/e406f44c-ab4a-11e6-8c52-1c48662461b1.png">

[2016-11-15 20:46] crwallace commented on #1111
@jkassemi -- Can you look at this when you have some time?

[2016-11-15 21:58] bethpotts commented on #3962
@dannychapman @rroueche This is a blocker as far as SMEs being able to click around in the Disability plain language branch starting EOD tomorrow (Wednesday). Can we get some help resolving this?

[2016-11-15 22:08] bethpotts opened #3987 "Spacing issue between text"
@dannychapman @vanguard-team There are a number of pages where text and links appear stacked in a way that is visually too tight. In the blue box in this example, there needs to be more space between the link and the "Who's covered?" subhead. A similar scenario happens on numerous pages. Do you need a list of the other instances or do you have a way to search for them?:
https://vetsgov-pr-3324.her

[2016-11-15 23:15] bshyong commented on #3956
@natalieEMoore @crwallace it is finicky to do the 10 results from the front-end; if we want to do that we ideally to do it on the backend. Regardless, we will need multiple requests with larger and larger bounding boxes or restructure the API to use a location instead of bounding boxes (and talk about pagination and other issues)

Let's try the adaptive zooming that I implemented on this branch an

[2016-11-16 01:13] dannychapman commented on #3962
Taking a look see now.

[2016-11-16 01:34] dannychapman commented on #3962
@bethpotts Fixed on disability-plain-language branch. Building now. @rroueche let's review this tomorrow.

[2016-11-16 02:46] ayaleloehr commented on #3629
Shipping address is from Veterans patient chart, also known as CPRS. That helpful @gnakm ? Not sure what we plan to do with this info, but good to know it.

Also, new fun fact, not all prescriptions are actually shipped. There is an option for the doctor/provider to select "window pickup" as the patient's preference for prescription deliveries, in which case the Veteran will pick up the prescripti

[2016-11-16 03:33] bethpotts commented on #3962
@dannychapman @recorr Thanks, Danny! Looks good on the disability-plain-language-update branch now! The same problem is on production too. I mention that because this branch won't push to production for 1-2 weeks, depending on what feedback we get from SMEs.

[2016-11-16 04:22] gnakm commented on #3629
Closing this because this doesn't effect us now especially since we took out mail in order title and kept disclaimer inclusive to all methods of medication delivery within our scope. Put questions for the future here: https://github.com/department-of-veterans-affairs/kudos-team/blob/master/Prescriptions/meeting-notes/2016-11-15-Carnetta-call.md

[2016-11-16 04:22] #3629 closed

[2016-11-16 04:56] bethpotts opened #3992 "PL changes to titles of Disability pages for updating folders/breadcrumbs"
@dannychapman @rroueche The 19 pages in Disability that have new titles are attached here. I need help getting these changes to be reflected in the breadcrumbs.
[new titles for pages.xlsx](https://github.com/department-of-veterans-affairs/vets-website/files/593783/new.titles.for.pages.xlsx)
The content team is addressing the changes to piano keys because of these new page titles.

[2016-11-16 14:25] rroueche opened #3993 "New CSS class for more flexible treatment of paragraph text"
Currently, there's a first-child rule in place such that special styling is applied to the first instance of paragraph text on a page or within a div (screenshots attached). Often times however, the content doesn't warrant that special styling. So, instead of the first-child rule, we'd like to have a more flexible option. One idea is creating a couple of CSS classes that we can use when we want to

[2016-11-16 16:38] usds-bot opened #3995 "UserVoice Idea: Technical correction"
Links are not working for separation of divisions. Healthcare, cemeteries, etc.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17134363-technical-correction

[2016-11-16 18:25] goldenmeanie opened #3997 "Remove playbook styles from non-playbook pages"
Playbook styles are being loaded for every page and I don't see any reason they should be.

Also, maybe we should remove the playbook.

[2016-11-16 18:28] dannychapman commented on #3962
@recorr Question - for 2, where should that be linked from?

[2016-11-16 18:57] recorr commented on #3962
@dannychapman I believe is should be a piano key on the following page:

https://www.vets.gov/disability-benefits/conditions/

[2016-11-16 20:11] melwoodard commented on #3962
FYI, I think this was caused by a change made to the employment page - https://www.vets.gov/employment/

It intentionally uses a different style for the bottom links instead of piano keys. @dannychapman can you make sure employment isn't affected by the changes to the other pages?

[2016-11-16 22:21] #3869 closed

[2016-11-16 22:44] #3943 closed

[2016-11-17 14:44] leannammiller opened #4008 "Fix spool file transfer issue"

[2016-11-17 15:36] markolson commented on #4008
https://github.com/department-of-veterans-affairs/vets-api/pull/540

[2016-11-17 15:39] NatalieEMoore commented on #3950
This can be closed out right? @bshyong @gnakm

[2016-11-17 16:01] rroueche commented on #2911
@mollyblake and @dannychapman I'm going through Content issues in GitHub -- is this one still a problem or can we close it?

[2016-11-17 16:02] mollyblake commented on #2911
@rroueche you can close. Appears to have been fixed. Thanks

[2016-11-17 16:02] #2911 closed

[2016-11-17 17:04] gnakm opened #4011 "Change text length to web standards"
Content on both sign in and verify page is long. Could we change to make it the web design standard length (2/3)?

<img width="1049" alt="screen shot 2016-11-17 at 11 12 49 am" src="https://cloud.githubusercontent.com/assets/13420618/20399178/0321827e-acbe-11e6-99b7-6829b3968c89.png">

[2016-11-17 17:08] gnakm opened #4012 "Change glossary page text width"
Text width is looking long and should be consistent with web design standard. Could we change the width of glossary page so that it is consistent with the USWDS (2/3)?

[2016-11-17 17:22] gnakm opened #4013 "Tweak line stroke"
In the facility name filter and glossary page the border-bottom is too thick. They should match same height was border-bottom for contact in detail page.

[2016-11-17 17:29] gnakm opened #4014 "Add extra space between confirmation link and icon"
In order history section, add a space between confirmation number link and external link icon. Currently looking very cluttered.

[2016-11-17 18:55] alexose commented on #3741
Quick call with @goldenmeanie revealed a few items:

* We should implement a non-react modal from scratch using the existing styles
* Future modals may need a close box, but this one won't
* The modal should open when there is a url param (e.g., `?modal` or maybe `#modal`)

[2016-11-17 19:18] U-DON opened #4015 "Loading animation for user actions"
How should the loading indicator be used when the user has performed an action that hits the API?

Right now, when transitioning between pages or tabs, we display the loading indicator in place of the section that will appear when we get the relevant data from the server.

But for actions like refilling a prescription or sending a message, we should also indicate that something is happening. I'm n

[2016-11-17 19:21] U-DON commented on #4015
Or maybe the loader isn't even the right element to use in these cases. Maybe the relevant button could be disabled temporarily and replaced with something like 'Sending...' in the case of a message being sent.

Some other cases where we need some type of wait indicator are moving a message, deleting a message, creating a folder, and deleting a folder. Might be missing some, but in general, SM has

[2016-11-17 19:36] gnakm commented on #4015
@U-DON I think we were thinking to show the loader but with different messages at the bottom depending on what it was: Here is the previous issue for this: https://github.com/department-of-veterans-affairs/kudos-team/issues/169

ex.
For sending a secure message:
[Loader on top]
**is sending your message...**

For refilling a prescription:
[Loader on top]
**is submitting your refill request...**

I

[2016-11-17 19:52] webinista commented on #4012
Should this apply to the headers as well, or just the page text?

[2016-11-17 20:20] jbalboni commented on #3997
+1 to this. It's a pretty large chunk of css that we could remove from the React apps, which don't need it.

cc: @crwallace @bshyong

[2016-11-17 20:42] gnakm commented on #4012
Headers as well!

[2016-11-17 22:03] #3950 closed

[2016-11-17 22:06] dannychapman commented on #3962
@melwoodard Not seeing any issues with Employment, also been fixed by #4001. This is fixed on staging, so closing.

[2016-11-17 22:06] #3962 closed

[2016-11-17 23:31] #4014 closed

[2016-11-17 23:56] alexose commented on #3741
Work started in [add-modal#3741](https://github.com/department-of-veterans-affairs/vets-website/compare/add-modal%233741?expand=1).

The modal + content is scaffolded out but still needs styles.

![image](https://cloud.githubusercontent.com/assets/627264/20412883/7c227294-acf7-11e6-8ddb-039541910d0d.png)

[2016-11-18 01:03] melwoodard opened #4027 "Visual & responsive improvements for notice banner"
Visual updates:
- [x] Color changes for better visual integration w/ the header
- [x] Updated layout on Crisis Line callout

Responsive behavior:
- [x] Layout modified to stack vertically instead of side-by-side at small breakpoints
- [x] Consistent sizing for Crisis Line icon across breakpoints

<img width="978" alt="screen shot 2016-11-17 at 4 57 46 pm" src="https://cloud.githubusercontent.com/a

[2016-11-18 01:06] melwoodard opened #4028 "Improve visual integration of account links and global nav"
- Moves account links into blue header container
- Adds responsive behavior to account links position
  - By default, the links appear on one line between the logo and search bar
  - If the links can't fit on one line in this position, they float right below the search bar
  - If the links can't fit on one line below the search bar, they may wrap
- Makes logo smaller at smallest breakpoint
- Retai

[2016-11-18 01:07] melwoodard opened #4029 "HCA, Rx & Claims alert banner design update"

[2016-11-18 01:08] melwoodard opened #4030 "Rx alert banner design update"

[2016-11-18 01:08] melwoodard commented on #3771
Tracking the solutions to these issues in a few separate stories:

#4027 - Updates to notice banner (beta notice/VCL)
#4028 - Improve visual integration of account links and global nav
#4029 - HCA Apply page alert banner design update
#4030 - Rx alert banner design update

[2016-11-18 03:42] #3765 closed

[2016-11-18 06:28] angel commented on #4015
@U-DON @gnakm

I agree with showing different messages where we can with the same loader. I think it should just say "Sending your message..." without the "is". I don't think the "is" is necessary.

I think it makes sense have the loading take the entire view so then the Veteran can know that something is happening. If it's just happening in a small part of the page then it might be easy for them

[2016-11-18 16:59] mollyblake opened #4033 "LinkedIn Trademark symbol appears as ?"
I noticed that on this page https://www.vets.gov/employment/job-seekers/ , the LinkedIn symbol isn't rendering correctly. A ? is showing up and it should be the TM symbol.

It's on this page 3 times.

Thanks!
@bethpotts  FYI

[2016-11-18 17:06] NatalieEMoore opened #4034 "Current As Of Field/Using Time Stamp"
cc: @crwallace

VSSC’s terminal point of data delivery is:

Server: vhacdwsql04.vha.med.va.gov\dev
DB: GIS_ETL
Table: VSSC.FacilityLocatorExport

The two columns of interest on that table are:

FacilityDataDate- The date at which names/phone numbers/addresses/lat&lon/op hours are current as of.
OutpatientServicesDataDate- The date at which data related to outpatient services are current as of (thi

[2016-11-18 17:44] mollyblake opened #4035 "No link to CareerScope on page that should link to CareerScope"
@rroueche can we add a link to CareerScope on this page where indicated?  THANKS. If this is a big ask, we can think about waiting until the PL push, but it's kind of a bad UX to have this page not link to anything. Your call!  THANKS!

https://www.vets.gov/education/tools-programs/careerscope/

In addition to career counseling, VA provides the interest and aptitude assessment tool, CareerScope, t

[2016-11-18 17:51] melwoodard commented on #4030
Closing this and adding to #4029

[2016-11-18 17:51] #4030 closed

[2016-11-18 18:32] #3832 closed

[2016-11-18 18:42] melwoodard commented on #4029
Alerts should be based on the USWDS `usa-alert-warning`, with these modifications:

![alert-warning](https://cloud.githubusercontent.com/assets/4106356/20440540/72fc644e-ad75-11e6-9ee2-af96697934e7.png)

Apply this style to the following alerts:

1. [Health Care Apply page](https://www.vets.gov/healthcare/apply/)

2. [Prescriptions page](https://www.vets.gov/healthcare/prescriptions)
  - Also adds

[2016-11-18 19:20] NatalieEMoore opened #4036 "Duplicate Facilities Issue"
Issue 1:
Chalmers P. Wylie Veterans Outpatient Clinic

420 North James Road
Columbus, OH 43219-1834

Distance: 28.2 miles

Facility type: Health

Main:
614-257-5200
Mental Health:
614-257-5491
Directions
Chalmers P. Wylie Ambulatory Care Center

420 N James Road
Columbus, OH 43219

Distance: 28.2 miles

Facility type: Benefits

Main:
614-388-7014
Directions
Chalmers P. Wylie Ambulatory Care Center

[2016-11-18 19:21] NatalieEMoore commented on #4036
Ms Moore – our Dublin facility (station 557) has noted that two of their CBOC facilities currently active in VAST are not populating the Vets.gov facility locator.  These are the Tifton (557GF) and Brunswick, GA (557GE) CBOCs; we wanted to bring this to your attention for correction, if there’s any other information needed from us please let me know, thanks.

[2016-11-18 19:23] NatalieEMoore commented on #4036
Issue 3:
I think there is a bug with the Chalmers P. Wylie Ambulatory Care Center.   It shouldn’t be appearing twice under benefits.

[2016-11-18 19:24] NatalieEMoore commented on #4036
Issue 4:

When typing in Tennessee, the map does not have a red pointer for all the available sites in TN—many are missing.  Also, the way the sites are listed in the results box does not make sense.  It starts with TN sites then KY, then AL, then GA, then back to TN, etc with no clear reasoning (i.e., distance, etc).  This will be confusing for users and with the TN sites not indicated on the map

[2016-11-18 19:25] NatalieEMoore opened #4037 "Website Data Issues"
The website on this page is not correct.
https://www.vets.gov/facilities/facility/vha_623

It linked to our Vinita clinic and should be to our main page. Here is the correct link.
http://www.muskogee.va.gov/index.asp

[2016-11-18 19:28] NatalieEMoore opened #4038 "Missing Facility Data"
Missing:
575GB
Major William Edward Adams Department of Veterans Affairs Clinic
785 Russell Street
Craig, Colorado 81625
Phone: (970) 824-6721

@patrickvinograd can you confirm that it's not in the data?

[2016-11-18 19:33] NatalieEMoore commented on #4038
Ignore this, I see it on the vets.gov FL site now.

[2016-11-18 19:33] #4038 closed

[2016-11-18 19:59] NatalieEMoore commented on #4036
Issue 1: Should be resolved with new VBA data refresh.  That refresh is currently with GeoBISL.

Issue 2: I see Brunswick on the site, https://www.vets.gov/facilities/facility/vha_557GE, so not an issue. I don't see Tifton (557GF).  @patrickvinograd do you see it in the data?

[2016-11-18 20:00] melwoodard commented on #4028
@angel since we're still a ways out from adding a full site nav, this seems like a good interim solution based on what we were working with. Thoughts?

[2016-11-18 20:09] patrickvinograd commented on #4036
Re Issue 2: Tifton 557GF is one of the sites missing lat/long data.

[2016-11-18 20:12] patrickvinograd commented on #4036
Re Issue 4: The results are sorted by distance from the center of the map, as you page through the results you'll get further from the center. If you search for Tennessee, it puts the map at the center of the state. Some locations in KY, AL, etc are closer to the center of Tennessee than some locations in eastern/western Tennessee.

[2016-11-18 20:14] patrickvinograd commented on #4036
Issue 3: Yes, it's a bug in the VBA data, the same facility is listed under station number 757 and 757a.

[2016-11-18 21:08] NatalieEMoore commented on #4036
Issue 3:  Will be solved with the data refresh then!

[2016-11-18 21:08] NatalieEMoore commented on #4036
Issue Two:  Those lat/long refreshes only happen once a quarter so that site won't show until the refresh happens.  Trying to figure out when it will happen this quarter...

[2016-11-18 21:10] crwallace commented on #3887
@ayaleloehr -- Have you seen this recently? If so, what browser and which of our environments?

[2016-11-18 21:22] ayaleloehr commented on #3887
will log in from a bunch of browsers to test again. will report back in a bit.

[2016-11-18 21:29] NatalieEMoore commented on #4036
For issue 4: so the results/distances are sorting by center of the map and not by zip code entered?

[2016-11-18 21:31] NatalieEMoore commented on #3974
Closing this as I have another thread open regarding duplicates and these will be solved with VBA's new data.

[2016-11-18 21:31] #3974 closed

[2016-11-18 21:33] patrickvinograd commented on #4036
Well in this case they searched for 'Tennessee', not a zip code, so the map centers on the center of the state. In general they will be sorted by distance from center of the bounding box, whether that bounding box is centered on a zip code, a state, an address, etc. Whatever the search term is.

[2016-11-18 21:37] patrickvinograd commented on #4034
We have `OutpatientServicesDataDate` in the VHA data already so we can use that.

[2016-11-18 22:33] patrickvinograd opened #4041 "Facility locator is submitting API request with services=All"
Noticing in sentry some queries with `type=benefits` `services[]=All`. That's not a recognized services filter value, to search for all services omit the services parameter.

This will happen if you search for benefits facilities by a specific service, then go change the services drop-down to "All". Instead of removing the API query param it sets it to All.

[2016-11-18 22:44] emilyville commented on #3874
Reopening again so that we can fix the copy in the hero section.

[2016-11-18 22:48] emilyville opened #4042 "Remove white bar until we have login"
Can we remove this white bar across the site? I know it's only temporary until we have login, but it looks strange as it is.
<img width="432" alt="screen shot 2016-11-18 at 5 46 47 pm" src="https://cloud.githubusercontent.com/assets/1307774/20449413/255c47c6-adb7-11e6-8638-be69a9595493.png">

[2016-11-18 22:53] emilyville opened #4044 "Create an Account button should open sign up pop-up instead of sign in"
There are different pop ups for "sign in" / "create an account" but our two buttons go to the same "sign in" window. Can we change the create an account to open the account creation pop up?

<img width="411" alt="screen shot 2016-11-18 at 5 50 46 pm" src="https://cloud.githubusercontent.com/assets/1307774/20449495/bb0b23fa-adb7-11e6-8eff-04b532fb5175.png">

<img width="463" alt="screen shot 2016-1

[2016-11-18 23:44] melwoodard commented on #3954
Right now if I go directly to /profile while logged out, I see the profile page instead of the sign up roadblock.

![profile](https://cloud.githubusercontent.com/assets/4106356/20450415/46d4e3c0-ada5-11e6-823a-7c8fb5fcbf01.png)

[2016-11-19 01:03] ayaleloehr commented on #3887
Happens to me in chrome still on staging, logging in from the vets.gov homepage, and in both incognito and regular windows. Here is a screenshot including the same TypeError that in in that comment above (which I _do not_ believe is related to this but am posting for completeness).

<img width="1344" alt="screen shot 2016-11-18 at 7 54 52 pm" src="https://cloud.githubusercontent.com/assets/4719765

[2016-11-19 01:05] ayaleloehr commented on #3887
Then similarly, once I am logged in, when I try to log out, that window freezes as well. Happy to open a different issue for this if that's preferred.

<img width="1244" alt="screen shot 2016-11-18 at 8 04 23 pm" src="https://cloud.githubusercontent.com/assets/4719765/20451680/4972c032-adca-11e6-939a-f138cad6fe11.png">

[2016-11-19 01:10] ayaleloehr commented on #3954
I am now able to reproduce Mel's comment above as well.

[2016-11-19 01:17] ayaleloehr opened #4046 "Applications header thinks you're still signed in after signing out"
When the user has signed in, then signed out, then goes to an application landing page (such as https://staging.vets.gov/disability-benefits/track-claims/your-claims), the Sign in button pops up successfully whereas the header still says "Hello, |Profile|Sign Out".  This is happening across applications (Claims, Rx, and SM all have the same issue).

<img width="1180" alt="screen shot 2016-11-18 at

[2016-11-19 01:19] ayaleloehr commented on #3954
This looks like 2 issues now actually. one is what Mel posted. Let's use this issue to track that. I opened https://github.com/department-of-veterans-affairs/vets-website/issues/4046 to track the separate issue of the header still thinking a user is signed in after signing out.

[2016-11-19 01:22] ayaleloehr opened #4047 "Change how we refer to users in greeting"
Currently when a user is logged into a verified account, we know their name, but we still say "hello email@address" in the header. Should we use the user's name when we know it instead to be more personal?

Probably a question first for @emilyville but going to tag this with Vanguard as well so we can track with the other identity issues.

<img width="1180" alt="screen shot 2016-11-18 at 8 20 12 p

[2016-11-19 01:52] ayaleloehr opened #4048 "Users middle name shown as null when it doesn't exist"
Right now vets.gov.user+264@gmail.com has a middle name of null as you can see below. This user does not have a middle name in ID.me or MVI.  I first created this issue in vets-api [here](https://github.com/department-of-veterans-affairs/vets-api/issues/523) but @omgitsbillryan thought this should be taken care of on the front end instead, so opening this issue now.

![1bb7b30a-ab1d-11e6-82c3-25aa

[2016-11-19 03:04] alexose commented on #3741
Desktop styles:

![image](https://cloud.githubusercontent.com/assets/627264/20452561/af7ddcf8-adda-11e6-9419-e62456c5ea7f.png)

There are minor differences with the mock, but it is in line with the other modals across the site.  We can definitely make tweaks.

[2016-11-19 05:23] alexose commented on #3741
I'm having issues getting my local install to serve mobile styles.  Continuing to debug...

[2016-11-20 16:59] bethpotts opened #4051 "failures for education-plain-language-update commits"
@rroueche I need some help resolving commit failures for this PR:
https://github.com/department-of-veterans-affairs/vets-website/pull/4000

I'm assuming I shouldn't make any more edits to these files until all the checks pass? I see two failures from commits submitted 26 days ago on this PR, then a long string of failures from a couple days ago. The last heroku link isn't showing the latest edits

[2016-11-21 13:38] #3942 closed

[2016-11-21 13:38] #3956 closed

[2016-11-21 13:38] #3860 closed

[2016-11-21 13:38] #3900 closed

[2016-11-21 13:38] #3910 closed

[2016-11-21 13:38] #4041 closed

[2016-11-21 13:58] NatalieEMoore opened #4052 "When I type in certain zip codes like 90001 the initial response is no results found."
If I type 90001 it says no facilities found but if I think click the search button again it finds the facilities.

[2016-11-21 14:25] gnakm commented on #4029
Thank you for doing this @melwoodard I likes these and I think it does accomplish the list of things you mentioned above.

Let's say for Rx, a user were to X-out the alert box. When would it show again if the user doesn't choose to hide the alert permanently?

My concern is that we went back and forth a lot with stakeholders a lot with this and landed on an expandable banner, so that the disclaime

[2016-11-21 14:54] crwallace commented on #4046
this is a duplicate of #3954

[2016-11-21 14:56] eli-lewis commented on #3887
A Veteran experienced this issue today and reported the following:  "Well I get stuck here.  It just spin at logging in and never moves forward.  Here is a screen shot.  This is after I created an account using my Premium DS login.  Every attempt to log in ends up here for me so far."
Screen shot below:
![login_freezing](https://cloud.githubusercontent.com/assets/23019174/20487260/b31a54de-afd0-11

[2016-11-21 15:06] jcmeloni commented on #3887
Just noting for the record that the above comment COULD be a different issue because of the path through using DS Logon. My gut tells me it isn't, because by this point they are bouncing back from id.me regardless of where they started, but noting it anyway.

[2016-11-21 15:10] #3888 closed

[2016-11-21 15:10] #3926 closed

[2016-11-21 15:15] #4008 closed

[2016-11-21 15:17] gnakm commented on #4015
Yeah I agree @angel and yeah we can take out "is."
We are having sorta similar discussion around [logging in and out of vets.gov ](https://github.com/department-of-veterans-affairs/vets-website/issues/3840)

<img width="341" alt="screen shot 2016-11-21 at 10 16 16 am" src="https://cloud.githubusercontent.com/assets/13420618/20488043/9908cb7c-afd3-11e6-98ed-aa27c3e7000d.png">

<img width="342" alt=

[2016-11-21 15:18] gnakm commented on #3840
@melwoodard We have a similar discussion happening here for [SM and Rx with the loader](https://github.com/department-of-veterans-affairs/vets-website/issues/4015)

[2016-11-21 16:01] #3981 closed

[2016-11-21 16:18] crwallace commented on #3954
This was something that didn't get caught in PR review. I changed `authRequired={1}` to 0 while testing so no login was required. This has been resolved.

[2016-11-21 16:19] #3954 closed

[2016-11-21 16:23] jcmeloni commented on #4044
This is a high-priority request; @staceylanger wants it in before full public launch.  Steve at ID.me is aware and they have to do work on their side to make this happen.  We are tracking this in our daily standups (nothing for Vanguard to do yet until ID.me provides two URLs, except to be ready when that drops).

[2016-11-21 16:30] crwallace commented on #4046
This was resolved by SLO implementation.

[2016-11-21 16:30] #4046 closed

[2016-11-21 16:37] jcmeloni commented on #3490
@jkassemi Making a note here that we talked about cachebusting in Friday 11/18 go/no-go call, and it was generally thought to be a good thing.  So perhaps we revisit this?

[2016-11-21 16:38] crwallace commented on #4044
This mostly requires work on the API side with very little work from Vanguard.

cc: @robbiethegeek // @omgitsbillryan

[2016-11-21 16:42] crwallace commented on #4047
This is addressed by department-of-veterans-affairs/vets.gov-team#441

[2016-11-21 16:42] crwallace commented on #4048
this is addressed by department-of-veterans-affairs/vets.gov-team#441

[2016-11-21 16:44] crwallace commented on #4042
I think this is probably related to #4028

[2016-11-21 17:21] cweber opened #4056 "Reevaluate how we're handling close animations on expanding groups"
Close animations on expanding groups are to sensitive to vertical height and require manual adjustment via eyeballing to get correct. We went ahead and disabled them in PR #4026 to avoid weird jumpy behavior.

[2016-11-21 17:30] melwoodard commented on #4029
Thanks, good points to consider. If a user were to X-out the alert, I'd imagine it would remain hidden for the duration of their current session, then it would show again the next time the user logged in to view prescriptions.

Since the prescriptions app will for most be used a regular basis (rather than one-off like applying for benefits), this message makes sense for onboarding instruction, but

[2016-11-21 17:32] omgitsbillryan commented on #4044
@crwallace can confirm, unicorns will need to coordinate with ID.me before vanguard can consume.

[2016-11-21 17:44] angel commented on #4028
@melwoodard this looks good! My only concern is when we don't have people's names and just an email. I pretty sure that is a possible use case. In which case, it can sometimes be pretty long, I'm wondering how that would look in this design specifically for large and small. I think it'll be fine for medium.

[2016-11-21 18:00] usds-bot opened #4057 "UserVoice Idea: va medical application"
In process my va medical benefits request the document does not recognize my kids social security numbers?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17198522-va-medical-application

[2016-11-21 18:03] angel commented on #4015
@gnakm @U-DON looks good. I think for when it's not a modal we should leave the title of the page there. So we would leave "Prescription Refills" and "Message your Healthcare Team" and have the loading be underneath that with some padding.

[2016-11-21 18:07] staceylanger commented on #4029
I'd like to retain the behavior that we aligned on with pharmacy SMEs. Thanks!

[2016-11-21 18:40] #4013 closed

[2016-11-21 18:44] jbalboni opened #4058 "Education benefits dateRange schema error"
We received this schema error:

`Form The property '#/postHighSchoolTrainings/0/dateRange' did not contain a required property of 'from' in schema 6d3ac55d-0966-5868-be2d-0f1191776ce9#, Form The property '#/postHighSchoolTrainings/0/dateRange' did not contain a required property of 'to' in schema 6d3ac55d-0966-5868-be2d-0f1191776ce9#`

This means we sent a dateRange object without `to` and `from`

[2016-11-21 18:51] melwoodard commented on #4029
Can do - updated design here and in the original post above to retain approved behavior while modifying visual style for consistency.

![alert-warning-rx-expanded](https://cloud.githubusercontent.com/assets/4106356/20495780/54e31b24-afd7-11e6-9a98-d50a825337b8.png)
---
![alert-warning-rx-collapsed](https://cloud.githubusercontent.com/assets/4106356/20495778/536ccc36-afd7-11e6-92c3-8f3faf829ccd.png

[2016-11-21 19:00] melwoodard commented on #4028
Thanks, good point!

My thought is that the responsive behavior for the account greeting and links is not dictated by viewport width, it's dictated by wherever it can all fit on one line.

If all the text fits on one line between the logo and search bar it will go there, otherwise it'll drop below.

When it's dropped below and still can't fit on one line, then it would break up into multiple lines

[2016-11-21 19:07] robbiethegeek commented on #4044
@omgitsbillryan do you have an understanding of the level of effort that this will require?

[2016-11-21 19:24] akainic commented on #3749
Double check to make sure this is resolved.

[2016-11-21 19:24] akainic commented on #3570
Close, resolved.

[2016-11-21 19:24] #3570 closed

[2016-11-21 19:25] akainic commented on #3749
Close, resolved.

[2016-11-21 19:25] #3749 closed

[2016-11-21 19:27] akainic opened #4060 "Autocomplete not working"
Mainly happening on Address, perhaps elsewhere.

[2016-11-21 19:30] goldenmeanie commented on #3419
This is fixed in EDU/Common. Still a problem in HCA.

[2016-11-21 19:30] #3419 closed

[2016-11-21 19:31] cweber opened #4061 "Investigate shutting off date changes on scroll"
This is in Chrome and seems to be a browser default. So cool! ....not cool. Can we turn this off?

![date-scrolling](https://cloud.githubusercontent.com/assets/417657/20497420/0bd06890-aff7-11e6-8250-1147020a38be.gif)

[2016-11-21 19:33] akainic commented on #3561
This is done.

[2016-11-21 19:34] #3561 closed

[2016-11-21 19:53] angel commented on #4028
@melwoodard cool, that looks good to me! Thanks!

[2016-11-21 20:28] usds-bot opened #4064 "UserVoice Idea: Keep it Simple"
Don't make it too complicated. Keep the main page simple, not too much information, not too many buttons. It appears to be getting more and more cluttered as I look at it throughout the weeks. Keep it simple. va.gov is too much information and hard to look at.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17200262-keep-it-simple

[2016-11-21 20:36] cweber opened #4065 "Dates in review section are still throwing errors in first field"
Dates in the review section are still throwing errors prematurely. As soon as you select a month, the styling appears.

![screen shot 2016-11-21 at 3 35 43 pm](https://cloud.githubusercontent.com/assets/417657/20499632/42d2159c-b000-11e6-9df4-5e10e1631580.png)

It also has an error message based on military service dates, which is actually not even how we're referring to military service dates any

[2016-11-21 20:38] bshyong commented on #2694
Will these changes get overwritten by changes in the overall site redesign?

[2016-11-21 20:42] bshyong commented on #3845
FYI we will need to create a custom dropdown to get the behavior. Right now the control is a native select, so we can't truncate the options like that. I'll investigate doing this in CSS but we might need to resort to a custom dropdown to get what we want

[2016-11-21 20:46] melwoodard commented on #2694
I think this is worth addressing now to get these elements lined up and standardized. The redesign effort won't be addressing anything in the way of templates for a while.

[2016-11-21 20:47] melwoodard commented on #2694
Regarding my comment above about VEC, we should still plan on addressing the sidebars there too.

[2016-11-21 20:50] webinista commented on #3730
Now it says:

That seems to resolve things, unless we specifically want to say that no such prescription exists, rather than we couldn't retrieve it.

[2016-11-21 20:50] #3730 closed

[2016-11-21 20:55] melwoodard commented on #4028
Thanks!

@crwallace this isn't high priority, let me know where this goes and if we're able to address this before launch.

[2016-11-21 21:14] cweber opened #4067 "Show course of study in Education review section"
This is currently being omitted from the review screen.

[2016-11-21 21:18] cweber commented on #3267
@jbalboni Here's how we'll deal with Education/Employment sections.

1. cluster stray questions at top with no section title and one edit button. (It breaks some of our rules, but I think it follows the spirit of them.)
2. For employment, if they change the first question to 'no' we need to hide their other answer. (We're currently not handling this appropriately.)

Also, see issues #4067 and #406

[2016-11-21 21:43] jcmeloni commented on #3980
@ayaleloehr @carlmjohnson could you please run through your scenarios again and see if you can reproduce?  We believe @crwallace implemented a fix (I tested it in prod and can't get a popup to be blocked any longer). Thanks!

[2016-11-21 21:46] jcmeloni commented on #4044
See above re: id.me coordination  @robbiethegeek @omgitsbillryan

[2016-11-21 22:24] omgitsbillryan commented on #4044
Tanel and I chatted and it looks to be as simple as adding a query param to the ID.me url in the form:

- `op=signin`
- `op=signup`

for sign in and sign up respectively.  I think the simplest soltion would be when the F/E calls `api.vets.gov/session/new` to get the login URL (e.g.):

[code]

the F/E, could conditionally add `&op=signin` or `&op=signup` for sign in and sign up respectively, depend

[2016-11-21 22:27] omgitsbillryan commented on #4044
Forgot to mention, in the above ^^^ solution, the level of effort for `vets-api` is a big fat :zero:.

[2016-11-21 23:23] ayaleloehr commented on #3980
Can no longer reproduce, so seems fixed to me. Going to close this issue, but @carlmjohnson feel free to reopen if you can reproduce still.

[2016-11-21 23:23] #3980 closed

[2016-11-22 00:02] #4012 closed

[2016-11-22 01:59] bshyong opened #4070 "Facility detail page lacks loading state"
This issue occurs when a user clicks on a facility detail page and then clicks to a different facility from search results. Adding a loading state will resolve the issue

[2016-11-22 13:39] jcmeloni commented on #4044
I will discuss this with ID.me on our 10am call and get a deploy date from Tanel.

[2016-11-22 13:42] jcmeloni commented on #3897
Need to discuss feasibility before determining LOE and schedule.  Multiple sessions at play make this potentially something that cannot be solved easily or at least without more coordination among backend services.

[2016-11-22 13:53] ayaleloehr commented on #3840
I think changing this from "I am the logout" to something else prior to launch is a very good idea, so I'm sticking a high-priority tag here. If someone with more authority in this arena disagrees, feel free to remove.

[2016-11-22 14:10] leannammiller opened #4073 "do not require RAD"
see photo

[2016-11-22 14:11] leannammiller commented on #4073
![screen shot 2016-11-22 at 9 10 07 am](https://cloud.githubusercontent.com/assets/22749867/20526792/a734c226-b093-11e6-9e9c-f7351566a767.png)

[2016-11-22 14:11] leannammiller commented on #4073
(end of service period)

[2016-11-22 14:26] cweber commented on #4073
Applicants should be able to submit a current period of service without an end date.

Shortest distance to a solution is to just not make that field required.

*Will create another issue to check with Shay about the necessity of the end day field as a whole.

cc @akainic

[2016-11-22 14:29] cweber opened #4074 "Can we remove 'end of service period' wholesale?"
Based on #4073, we're wondering whether that field is necessary. The current process requires VCEs to check that service info against a more official source anyway. If the first date is enough to get that done, then end date might not be all that useful.

[2016-11-22 15:01] leannammiller opened #4075 "find verbiage for site security for call center"
More info: How secure is the site? There are many concerns about the secure of the Veteran’s PII on the vets.gov website as they do not have to establish a username and password to get to or fill out the application.

[2016-11-22 15:13] leannammiller opened #4076 "add some wording surrounding Kickers"
We also need to add some wording surrounding Kickers. The 4 bullets below are directly from VONAPP and on the form. They have been “simplified” a bit too much in the Infor box on vets.gov. (We have been trying to get the chapter 30 relinquishment wording online –item 3) We need to make sure that the kicker bullet is on vets.gov as well.

VONAPP and the paper form:

Chapter 33 Election By electing

[2016-11-22 15:21] cweber commented on #4075
I think this might be better answered by @akainic or @koconnor719. I think she wants to be able to supply an answer to the Call Center that they can give to concerned veterans.

The full quote was:

"We received this question from the call center, and I wondered if you have standard verbiage to reply - How secure is the site? There are many concerns about the secure of the Veteran’s PII on the vet

[2016-11-22 15:27] koconnor719 commented on #4075
is this a question from call center?  how's this for response:

The vets.gov account meets the highest security standards in both government and the private sectors:

•	NIST 800-63-2
•	OMB M-04-04
•	Executive Order 13681, Section 3
•	National Strategy for Trusted Identities in Cyberspace (NSTIC)

In recent years, data breaches have compromised the personal data of hundreds of millions of Americans

[2016-11-22 15:36] cweber commented on #4076
Molly, I can't find how we're dealing with bullet 3 below. Can you? These also look pretty good to me in terms of describing more clearly what they mean. If we can get 3. figured out, we should probably ask Shay more specifically what seems too simplified.

I'm wondering if part of the concern is that we've nested these bullets with relevant content (which I stand behind) rather than presenting a

[2016-11-22 15:41] ayaleloehr commented on #4075
This question seems related to @jcmeloni 's comment here about teams taking things into their own hands, so just figured it was worth it to connect the two data points: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/453#issuecomment-262250990

[2016-11-22 15:48] koconnor719 commented on #4075
i think the response above could be standard across teams as we get these questions if that works?  that was my goal:)

[2016-11-22 16:02] #3792 closed

[2016-11-22 17:13] #4047 closed

[2016-11-22 17:13] #4048 closed

[2016-11-22 17:34] suzchap commented on #4029
claim status looks good - thanks!

[2016-11-22 17:35] #4052 closed

[2016-11-22 17:41] usds-bot opened #4078 "UserVoice Idea: Interactive Form 1010EZR is coded incorrectly"
The interactive 1010ezr form at https://www.vets.gov/healthcare/forms/vha-10-10ezr-fill.pdf is defective.

Entry #10 (ZIP Code) on page #3 is incorrectly coded as a numerical or financial field and as such will not accept a valid ZIP code.  It inserts a coma in a 5 digit ZIP code and will not retain a 9 digit ZIP code at all.

The form is dated March 2015

http://veterans.uservoice.com/forums/3303

[2016-11-22 17:50] goldenmeanie commented on #4029
Should this use the accordion +/- toggle style?

[2016-11-22 18:03] melwoodard commented on #4029
@goldenmeanie I was thinking about that too. @gnakm did you explore this before? I'm wondering if, because the alert starts out in an expanded state, the "-" icon isn't very clear.

[2016-11-22 18:13] cweber commented on #4029
@melwoodard, do you think there is still a case for the oversized alert box styling or should this supplant it in all instances? e.g. can the global usa-alert styles get modified so this propagates out? (We're using that in edu.)

Likewise, this might be a good PR for US WDS.

[2016-11-22 18:13] akainic commented on #4078
Not sure how this user found the form we we no longer link to it on the landing page, but it's a good reminder of how these forms are broken. Going to remove them from vets-website altogether.

[2016-11-22 18:17] melwoodard commented on #4029
@cweber I think this adjusted style should be used across the board for all alerts - success, error, etc. The icon and font sizing works a lot better in a responsive setting than the USWDS default. I'll spin up some additional issues to address those, it would be great if you can add instances you know of that need to be addressed.

[2016-11-22 18:25] melwoodard opened #4080 "Modify alert messages to match new style"
Updates all alert types to use a modification of `usa-alert` outlined in #4029.

<img width="681" alt="screen shot 2016-11-22 at 10 30 58 am" src="https://cloud.githubusercontent.com/assets/4106356/20536644/a6d4903a-b09e-11e6-8e96-8199dd2b218b.png">

**Claim status:**
- Success
  - [ ] [Upload success](https://marvelapp.com/2dh4dia/screen/15297501)
  - [ ] [Request for decision received](https://m

[2016-11-22 18:27] melwoodard commented on #4080
@cweber @gnakm @goldenmeanie @angel can you add to the list above any alerts in these apps that should be addressed here?

[2016-11-22 18:34] #3199 closed

[2016-11-22 18:37] melwoodard commented on #4080
@suzchap can you confirm the list of alerts for claim status is correct - nothing missing, nothing here that shouldn't be?

[2016-11-22 19:04] leannammiller opened #4081 "Question about security"
We heard from Shay Norton this morning that the education benefits call center asked the following question:

"How secure is the site? There are many concerns about the secure of the Veteran’s PII on the vets.gov website as they do not have to establish a username and password to get to or fill out the application."

Shay would like a response to provide to the call center and I know this isn't is

[2016-11-22 19:06] cweber commented on #4080
I guess my thought is, if we're using common components/css, it doesn't seem like we need to track things down, just make the change. (But I will add our instances of it.)

[2016-11-22 19:08] melwoodard commented on #4080
Thanks! The hope is that we are already using common components, but this inventory will help us confirm that we are / fix any instances that aren't.

[2016-11-22 19:42] cweber commented on #3199
Can we reopen this? I think it's still an outstanding issue.

I know we've made some progress when it comes to validation, but I don't think we've nailed the UX/Frontend pieces yet.

[2016-11-22 20:06] akainic opened #4085 "Figure out how to handle partial dates for education"
Because there are no specific data requirements for the spool file for non-required fields, should we allow partial dates to be submitted? Currently only complete dates (having a month, day, and year) can be submitted. Partial dates will be stripped out and nothing will be submitting.

Tagging @jbalboni for awareness and to add further context.

[2016-11-22 20:22] akainic opened #4086 "Consider disabling continue button if there are errors on the page"
If there are errors on a form page, while you are prevented from continuing onto the next screen, the Continue button is not disabled. Consider disabling the button.

Should apply to both HCA and education benefits, as well as future forms.

Curious as to what @goldenmeanie and @cweber think of this suggestion.

[2016-11-22 20:37] akainic commented on #4078
Actually, can't remove 1010ezr because we still need to link to it.... I think this is something we need to alert the HEC to and have them fix it, not sure it's something we can fix on our side. Or we just take it down and say it's broken. @koconnor719 thoughts?

[2016-11-22 20:46] cweber commented on #4086
The disabled button could cause frustration. I like that the current enabled button scrolls you up the page when there is an error present, but it would be more valuable if it could scroll you to the first error on the page.

[2016-11-22 20:53] crwallace commented on #3887
This has most likely been resolved. This was likely due to some `nil`s being passed on the api side and some other errors on the ID.me side.

Even though this should be fixed we are going to keep this open while we test through the weekend.

Please note if you see this again.

[2016-11-22 20:56] koconnor719 commented on #4078
Thx Anne I'll respond and let HEC know

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, November 22, 2016 03:39 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice

[2016-11-22 20:58] akainic commented on #4086
Totally agree with that. I think we have a separate ticket for that: https://github.com/department-of-veterans-affairs/vets-website/issues/3330. Going to close this ticket then and keep the Continue button enabled but fix scrolling to the error.

[2016-11-22 20:58] #4086 closed

[2016-11-22 21:01] leannammiller commented on #4075
escalated, closing this from this channel

[2016-11-22 21:01] #4075 closed

[2016-11-22 21:46] mollyblake commented on #4076
@cweber Option? You chose to give up MGIB-SR, so you won't get your Active Duty kicker.

[2016-11-22 21:57] cweber commented on #4076
What was the argument against telling the applicant which benefit they would have to give up?

I think I suggested something to that effect and got 3 groans or mm-nos in response.

You chose to give up MGIB-SR, so you won't get your Active Duty kicker. To receive your Active Duty kicker, you would need to relinquish MGIB-AD.

Was it too leading and advice-ey?

[2016-11-22 21:59] #4058 closed

[2016-11-22 22:05] cweber opened #4088 "Remove underline from pipe character Sign in | Register link"
The pipe character in Sign in | Register gets underlined on hover.

![screen shot 2016-11-22 at 5 01 04 pm](https://cloud.githubusercontent.com/assets/417657/20543925/ad713c72-b0d5-11e6-962a-d7bbfefbd741.png)

[2016-11-22 22:50] #3741 closed

[2016-11-23 13:41] rroueche commented on #4051
@bethpotts I think this is resolved, but want to get confirmation from you before I close this out. Thanks!

[2016-11-23 13:50] akainic commented on #4073
@cweber so we're making this field not required for everyone, or just for those who indicate that it is a current active duty period (we can add a field or something for that)?

[2016-11-23 14:03] goldenmeanie commented on #4076
Yes, I think the groan was about offering advice

[2016-11-23 14:13] cweber commented on #4076
@mollyblake Talking it through with Alex. My concern is that I want to explain the logic a little bit. The above almost feels like a reminder of something they already know.

@goldenmeanie's concern is that we shouldn't be too advicey. So this solution stays a little more vague, but explains the logic and then inserts the choice they've already made.

You can only transfer a kicker from a benefit

[2016-11-23 14:20] cweber commented on #4073
I think not required for anyone is fine and we double checked that with Shay. She didn't seem concerned about it getting skipped frequently. Since that's the simpler solution, let's get that up and then if we get a report that it's causing problems we can modify.

(In most cases VCEs use this data to verify existing data they already have in one of the databases. It's only hand entered if the data

[2016-11-23 14:30] plusjeff commented on #4081
@leannammiller : I'd be happy to talk to Shay if she'd like to chat more about it. Her question is pretty broad ("How secure is the site?") and I'd be happy to address any specific concerns that she has.

In the meantime, here's a broad answer that might alleviate concerns:

In terms of the security of the form, all submissions between the education benefits web form and the Vets.gov servers are e

[2016-11-23 14:42] goldenmeanie commented on #4085
This seems like a good thing to allow, but we could check with Shay about priority.

[2016-11-23 14:43] akainic opened #4092 "Issues with modal"
1. ~~Mobile styles seem broken (when resizing the desktop screen the content doesn't adjust).~~ *Update:* no longer an issue

2. Is the content correct in the modal? I thought for the left side (staying on vets.gov) we were going to say: "Servicemembers and Veterans applying for education benefits *for the first time*".

3. The scrolling functionality of the sticky-action-box is broken now. Not su

[2016-11-23 14:51] goldenmeanie commented on #4092
This work was done in https://github.com/department-of-veterans-affairs/vets-website/pull/4054

It is triggered by putting `#modal` on the end of the URL

[2016-11-23 14:54] akainic commented on #4092
@goldenmeanie I saw that PR, these issues were identified by testing on that branch.

[2016-11-23 14:55] goldenmeanie commented on #4092
Booo

[2016-11-23 15:29] cweber commented on #4092
I just pushed a padding change (effecting left, right, divider and min-width of the container) to edu-benefits-modal-fix

[2016-11-23 15:52] mollyblake commented on #4076
@cweber @goldenmeanie So if we explain it a bit -- that works. Can we still tell them what they did to make sure they get it?

"You can only transfer a kicker from a benefit that you relinquish (give up). You chose to relinquish [MGIB-AD] so you won't get your Active Duty kicker."

[2016-11-23 15:59] leannammiller commented on #4081
@plusjeff Thanks. This looks great. This is for vets who have questions about this for the call center. @mollyblake or @AnitraAppa - Do you mind taking a look at this?

[2016-11-23 16:27] cweber commented on #4076
Yay!

Language changed on the relinquishment page and added the kicker language for active and reserve kickers on http://localhost:3001/education/apply-for-education-benefits/application/military-history/contributions

Changes made in branch: edu-benefits-add-kicker-language

It needs some front end help, @akainic @alexose or @jbalboni.

The new messages under the Active Duty Kicker question and t

[2016-11-23 16:32] alexose commented on #3583
@akainic Ended up taking this on.

[2016-11-23 16:32] #3583 closed

[2016-11-23 16:37] gnakm opened #4093 "Rx Glossary Update"
![rx glossary](https://cloud.githubusercontent.com/assets/13420618/20570188/a24aa4d2-b170-11e6-94e5-68c405f9371e.png)

## Prescription status
**Active**
A prescription that can be filled at the local VA pharmacy. If you have refills, you may request a refill of this prescription from your VA pharmacy.

**Active - Hold**
An active prescription that will not be filled until the pharmacy resolves the

[2016-11-23 17:03] alexose commented on #4092
It looks like the sticky box broke in `cb06bcb`.  I'll get a fix up in a new PR.

[2016-11-23 17:11] suzchap commented on #4080
@melwoodard I think you got them all. Thanks!

[2016-11-23 17:33] alexose opened #4094 "Address build warning caused by MapBox"
I've been seeing this warning pop up for a couple weeks now:

[code]

[2016-11-23 17:39] alexose opened #4095 "Lazy load react for Login component"
The Login component is written in React, which means we're now pulling the library into our non-React pages.

I suspect this is why we're seeing longer build times for changes to `/content`.  Also, React is somewhere around ~150k minified, so it adds some heft to each page load.

It would be nicer to lazy load the necessary javascript when the user clicks the Login button.  @jbalboni and I have so

[2016-11-23 17:56] jbalboni commented on #4095
There are two ways of doing this, I think: loading the login code when the user clicks something and lazily loading it on page load, but separate from the main bundle. The login code looks pretty small outside of the React dependency and it might be awkward to write just the sign in link without React. So, the latter may be the better option. It should at least allow the rest of the page to load w

[2016-11-23 18:26] alexose commented on #4076
I'll grab this one!

[2016-11-23 18:50] ayaleloehr commented on #4094
cc @bshyong as this is likely from facility locator

[2016-11-23 18:56] bshyong commented on #4094
Looking into it

[2016-11-23 19:24] gnakm commented on #4029
@melwoodard So the "^" came from the previous VCL at the bottom of the footer because the box are being pushed up. I think over time, we reused it. We haven't tested the old VCL box. I think our hypothesis was also that "^" is easier to understand than +/-

[2016-11-23 20:23] alexose commented on #4092
Per our conversation in #vetsgov-edu_benefits, we're keeping the language as is.   Closing this issue for now, but feel free to reopen if it warrants further discussion.

[2016-11-23 20:23] #4092 closed

[2016-11-23 20:27] bshyong commented on #4094
We can't fix this since the issue lies with Mapbox including a precompiled file in their library, but we can squelch the warning https://github.com/department-of-veterans-affairs/vets-website/pull/4099

[2016-11-23 21:01] cweber opened #4100 "Stuck in education section on live form"
Testing out the live form for other reasons and I'm getting stuck on the education page.

I have filled in NO fields in education, but it keeps scrolling me to the top of the page when I hit continue.

[2016-11-23 21:28] #4094 closed

[2016-11-23 21:41] jbalboni commented on #4100
The issue we found is that if you touch the year field on the graduation date, you get stuck.

This is happening because of the way we default the day field for month/year dates. Touching the year input updates the date's value from completely blank to having a 1 as the day. That causes some of our validation to see the date is incomplete.

[2016-11-23 21:45] cweber commented on #4100
This seems like it could be related to #4085

[2016-11-23 21:59] alexose commented on #4076
Changes committed to your branch:

https://github.com/department-of-veterans-affairs/vets-website/compare/edu-benefits-add-kicker-language

[2016-11-23 22:19] mollyblake commented on #4081
Hey @plusjeff is it correct to say that SSH keys are more secure than passwords?  I'm thinking about how to frame this answer ... thanks!

[2016-11-24 01:10] rroueche opened #4105 "Expired Heroku link for [WIP] Health care plain language update PR"
PR #3979
PR history shows that "va-bot deployed to vetsgov-pr-3979 6 days ago" successfully. However the heroku link seems now to be expired, and I'm unable to re-build it: https://vetsgov-pr-3979.herokuapp.com

I committed new test changes to see if a new commit would trigger it to rebuild, since the last commit was >5 days in the past, but that didn't work.

[2016-11-24 01:30] bethpotts commented on #4105
@dannychapman I need to send a preview link to SMEs on Friday, so let me know if you think you can resolve this Friday. Thanks!

[2016-11-25 15:18] plusjeff commented on #4081
Sample take on the existing question "How secure is the site?" (in full transparency: mostly to appease, but would like to hone with @mollyblake if there are specific questions being asked to the call centers that we can word more specifically):

All data being sent to Vets.gov is encrypted between your computer and our systems. Once the data arrives, it is stored securely behind a series of firew

[2016-11-25 18:56] lihanli opened #4107 "validation error, all fields are objects"
this validation error happened once on Nov 25, 2016 2:14:36 AM UTC. all values were in the form {"value"=>"foo", "dirty"=>true}

Form The property '#/' contains additional properties ["checkedBenefit", "seniorRotcCommissioned", "activeDutyRepaying", "hasNonMilitaryJobs", "emailConfirmation"] outside of the schema when none are allowed in schema 6d3ac55d-0966-5868-be2d-0f1191776ce9, Form The proper

[2016-11-25 19:07] goldenmeanie commented on #4074
Sounds like it is still useful

[2016-11-25 19:07] #4074 closed

[2016-11-28 14:56] gnakm commented on #4093
Closed #4097

[2016-11-28 14:56] #4093 closed

[2016-11-28 15:08] #3845 closed

[2016-11-28 15:08] #4070 closed

[2016-11-28 15:24] plusjeff commented on #4081
@leannammiller : Putting back in your camp. Let me know if you wind up getting a list of questions, and can work through responses with @mollyblake if so. cc @akainic

[2016-11-28 15:25] #2694 closed

[2016-11-28 15:40] cweber commented on #3785
Resolved with issues #3741 and #3740.

[2016-11-28 15:40] #3785 closed

[2016-11-28 15:41] cweber commented on #3675
Did this get resolved now that we have Month/Year for high school graduation?

[2016-11-28 15:43] jbalboni commented on #3675
This is still outstanding. We likely want to make a separate component for month/year, instead of using the normal date component.

[2016-11-28 15:44] #3840 closed

[2016-11-28 15:55] cweber opened #4110 "Use HTML5 input types for all form inputs"
Currently when entering a phone number on  mobile, the default letters keyboard is displaying first. Switch to trigger numbers firsts or, ideally, the phone pad.

[2016-11-28 16:07] ayaleloehr opened #4111 "External link icon outside button?"
The Account Management section of the Profile page currently has the external link icon outside the Delete Your Account button (screenshot below, which you likely can't see on the VA network unfortunately).  Should this icon be inside the button?

![screen shot 2016-11-28 at 11 03 38 am](https://cloud.githubusercontent.com/assets/4719765/20675499/87b0cc80-b55a-11e6-8a47-e10e8ce8c378.png)

[2016-11-28 16:11] gnakm commented on #4029
@melwoodard @cweber @goldenmeanie Just so I understand the verdict of our +/- discussion above, we are sticking with +/- for consistency? I want to say expanded or closed is going to depend on each case by case scenario. Claims has it open depending on what phase you're on. SM + Rx has the alert open because stakeholders wanted all info to be available once a user signs in. I think all alerts shou

[2016-11-28 16:17] goldenmeanie commented on #4029
I'd advocate for closed by default with a clear headline, but respect that you’ve already had that discussion with the stakeholders. :)

[2016-11-28 16:19] goldenmeanie commented on #4029
I've been looking at the profile page this morning and am struck again by how much of our first view on small screens are navigation and warnings.

[2016-11-28 16:23] cweber commented on #4029
@goldenmeanie Seems like that could be a new issue itself.

[2016-11-28 16:31] jcmeloni commented on #4044
@crwallace Tanel says the two query parameters are in prod on their side, so add them whenever you're ready on our side!

[2016-11-28 16:32] crwallace commented on #4044
Thanks @jcmeloni! I will get on this right now.

[2016-11-28 17:36] crwallace commented on #3284
This was completed

[2016-11-28 17:36] #3284 closed

[2016-11-28 18:09] melwoodard commented on #4080
Moving this issue to the patterns repo: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/28

[2016-11-28 18:09] #4080 closed

[2016-11-28 18:09] melwoodard commented on #4029
Moving this issue to the patterns repo: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/28

[2016-11-28 18:09] #4029 closed

[2016-11-28 19:14] cweber commented on #4076
Closed with #4101

[2016-11-28 19:14] #4076 closed

[2016-11-28 19:37] gnakm opened #4113 "Healthcare landing page"
Here is the healthcare landing page design for launch!

Mobile view:
![healthcare mobile 3 cards](https://cloud.githubusercontent.com/assets/13420618/20686135/68805ab2-b585-11e6-818a-be6f2a3181e9.png)

Desktop view:
![healthcare 3 cards](https://cloud.githubusercontent.com/assets/13420618/20685071/d08c4efe-b580-11e6-887e-e417fd87ddc2.png)

Here is the content for this page:

## Health Care

With V

[2016-11-28 19:42] akainic commented on #4065
Possibly reset all the `dirty` fields once you get to the review step.

[2016-11-28 19:45] crwallace commented on #4111
@ayaleloehr -- we have known this was a visual issue but I thought @cweber and @goldenmeanie were implementing something so we have been waiting because I didn't want to stop on their styles changes.

[2016-11-28 19:45] cweber opened #4114 "Keep validation error messages in sync with form language"
Validation errors are hard to keep in sync with form and review language while they're embedded. Consider pulling them out into a localization file?

[2016-11-28 19:46] crwallace commented on #4011
Can we get a little more context for this?

[2016-11-28 19:50] akainic opened #4115 "Audit education benefits for performance"
Get a sense of how fast the app is to initially load and be interactive.

Test various browsers (Chrome, Safari, IE11), devices (iPhone, Android device), and network speeds (Wifi, LTE, 3G).

[2016-11-28 19:51] akainic opened #4116 "Identify load time standards on vets.gov"
Would be helpful to have a sense of what the load time should be across vets.gov for the app to be interactive.

[2016-11-28 20:29] #4044 closed

[2016-11-28 20:39] crwallace commented on #4088
This was resolved in #4117

[2016-11-28 20:39] #4088 closed

[2016-11-28 21:01] emilyville commented on #4113
@gnakm the new version (w/o MVP) looks good to me!

[2016-11-28 21:37] cweber commented on #4111
Ah! We did implement something, though we intentionally kept it tied to a class name so that it would propagate out ... too far. It did get pushed live though so it's ready to use. Unfortunately, we did not build a version for a red ghost button.

That all said, the bones are in place to build a red version of this and/or generalize the code a bit more so it captures all buttons that go to an exte

[2016-11-28 21:57] cweber opened #4122 "Build out initial FE of 1995"
Based on [this outline](https://github.com/department-of-veterans-affairs/edu-benefits-team/blob/master/1995/1995-outline.md), FE buildout can begin on the 1995. We'll continue discovery work on Edu Benefits, but based on our initial conversations, this is a solid place to start and having a working prototype up quickly will be useful to get usability testing underway.

The form is broken down int

[2016-11-28 22:03] usds-bot opened #4123 "UserVoice Idea: jgdcjkhfjhv"
When applying online and entering my entry date and discharge date I'm getting error messages.
Entry date must be greater than 15 years of age
Discharge date must be after entry date and before today
I checked my birthday entry and it is 1962, my entry date into navy was 1982 and discharge was 1988. Due to this glitch I'm unable to enroll online. my e-mail is wardroberts_2000@yahoo.com.

http://ve

[2016-11-28 22:36] leannammiller commented on #4081
@plusjeff Thank you - catching Shay up now.

[2016-11-28 22:37] bshyong commented on #3808
@angel for these cards, what color did you mean the border color to be: the same color as the hover state, or non-hover state?
if it’s the same color (lighter), then hovering will make the card look bigger since the border color will be the same color as the background

If it's a different color, the card looks like this
<img width="513" alt="screen shot 2016-11-28 at 2 35 43 pm" src="https://clou

[2016-11-28 22:39] bethpotts opened #4124 "links to GI Bill Comparison Tool go to "Sorry--we can't find that page""
Couple examples of pages with a broken relative link to the GI Bill Comparison Tool:
https://vetsgov-pr-4098.herokuapp.com/education/gi-bill/
https://vetsgov-pr-4098.herokuapp.com/education/tools-programs/locate-a-school/

When it isn't a relative link, it seems to work, as on this page:
https://www.vets.gov/gi-bill-comparison-tool/

Even though this page is internal to vets.gov, should we make al

[2016-11-28 22:43] bshyong commented on #4028
@melwoodard @angel is it possible to have the sign-in/register links sit on the line below the search and logo on all viewports? In the mockups, large is the only exception. Implementation-wise it's a little finicky to have the links hop down like that. If the design is completely set in stone, I can implement as-is in the mock up, LMK

[2016-11-28 22:55] melwoodard commented on #4028
How much more time would you estimate it could take to get that behavior to work? It's not a deal breaker, so happy to simplify if it's going to take quite a bit of effort.

[2016-11-28 23:07] ayaleloehr commented on #4113
@emilyville will there be a link to this page from the vets.gov homepage or how will someone get here?

[2016-11-28 23:10] ayaleloehr commented on #4124
Those relative links will only be broken on the heroku applications (they will work in staging/production), and they are broken on the heroku applications because GIBCT is not contained in the same code repository as vets-website.

I think it's best practice to use relative links where we can, so my $.02 is we should continue using relative links and just know that ones to /gi-bill-comparison-tool

[2016-11-28 23:50] webinista opened #4126 "Refactor va-cards pattern to use Flexbox"
- tinyliquid, the Liquid implementation we've chose to use with Metalsmith does not support modulo/ `%`
- `includes/main-navigation.html` relied on a conditional that used the modulo operator.
- `includes/main-navigation.html` is now broken.
- This is probably fixable with Flexbox

[2016-11-29 03:31] angel commented on #3808
@bshyong sorry for the confusion. My changes were meant for the "Popular on Vets.gov" boxes.

[2016-11-29 13:47] gnakm commented on #4113
@ayaleloehr From the homepage, users can go here by clicking on the blue heath care card. Right now it lands directly on the HCA apply page but now this health care landing page will come before it.

Eventually, if some of our health care features become highly used, we will add those in the popular section.

[2016-11-29 15:00] #4081 closed

[2016-11-29 16:10] jbalboni commented on #3837
Going to close this, as it's a duplicate of #3827.

[2016-11-29 16:10] #3837 closed

[2016-11-29 16:51] carlmjohnson commented on #4126
What if we extend tinyliquid? How much work would it be to patch it?

[2016-11-29 16:51] usds-bot opened #4130 "UserVoice Idea: Pharmacy?"
I was recently told vets.gov had VA medication refills available. I can't find such functionality on the pages, or even a link.

I don't really need this as I can (and do) use myhealth.va.gov for this purpose, but I was just "beta" testing the pages.

Steven

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17274848-pharmacy

[2016-11-29 17:30] webinista commented on #4126
Extending tinyliquid is probably as much work as using Flexbox for layout. We could also consider a new template engine, but I think this is solvable with CSS.

[2016-11-29 17:33] usds-bot opened #4132 "UserVoice Idea: VA healthcare application website broke"
Trying to apply for VA Health Care on the website and can't get past the "Contact Information" page. I click "Continue" and it moves my page up a little but nothing else. I cannot find a workaround.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17275292-va-healthcare-application-website-broke

[2016-11-29 17:48] NatalieEMoore opened #4133 "IE and Safari issue where health facility type is showing mental health and primary care as searchable services"
<img width="1128" alt="screen shot 2016-11-29 at 12 47 00 pm" src="https://cloud.githubusercontent.com/assets/13317147/20721791/1307cb30-b632-11e6-9239-66105e456169.png">

[2016-11-29 17:52] leannammiller commented on #4110
@cweber - is someone on this?

[2016-11-29 18:09] U-DON opened #4134 "Alert close button style needs to be fixed"
<img width="960" alt="screen shot 2016-11-29 at 1 06 16 pm" src="https://cloud.githubusercontent.com/assets/1067024/20722518/eab36cea-b634-11e6-8771-585db7e77292.png">

[2016-11-29 18:20] cweber commented on #4110
Not yet. It's in 1-current-sprint to get picked up by one of the FE devs sometime this week.

[2016-11-29 18:29] jbalboni commented on #4115
Until we come up with vets.gov specific performance goals, the ones [advocated by Addy Osmani](https://gist.github.com/addyosmani/56bbf27857c1b73ab213286ae6bc6852) and other Google devs seem useful. That's a time to interactive number of <5s on 3G on "average hardware." Probably should shoot for 3-4s on WiFi at least. Average hardware is also hard to determine, but trying a range of devices should

[2016-11-29 18:58] jbalboni commented on #4107
Tried this in Opera 41, which was the UA associated with this error, haven't been able reproduce it so far.

It looks like someone submitted an empty, unconverted form, but it's not clear how they could have gotten through the submit button being disabled and the conversion call that runs it through `JSON.stringify`.

[2016-11-29 19:03] usds-bot opened #4135 "UserVoice Idea: Resources update for Vet Center location and VAMC Martinsburg WV"
Putting in zip 21701 (Frederick MD) - resources did not include new Vet Center located at 1450 Taney Avenue, Frederick, MD.  Also, didn't connect to the VAMC Martinsburg, WV as a close hospital.  Just wanted to let you know.  Thank you.  This site keeps getting better!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17276405-resources-update-for-vet-center-location-and-vamc

[2016-11-29 19:32] bshyong commented on #4028
@melwoodard The best way to get the behavior in the mockups is to duplicate that header; the one on the top line only shows up on large viewports, and the one on the bottom only shows up on small/medium.

If it's on the same line in both viewports, it's just a matter of moving it out of its own line where it currently sits and into blue header with the logo; no duplication needed.

[2016-11-29 20:05] usds-bot opened #4137 "UserVoice Idea: Phone numbers incorrect on Facilities page"
Phone numbers are incorrect on the new vets.gov Facility and Service Locator page, but are correct in the old va.gov Facilities page: http://www.va.gov/directory/guide/rpt_fac_list.cfm   Pulling from different data sources?  How do these get corrected on vets.gov?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17276957-phone-numbers-incorrect-on-facilities-page

[2016-11-29 20:38] dannychapman commented on #4124
Agreed with @ayaleloehr - broken links on heroku are fine- these will work in production, so I would go with /gi-bill-comparison-tool/ for all GI bill tool links for now.

[2016-11-29 22:02] gnakm opened #4142 "Add breadcrumb to Rx"
Follow up on conversation here: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/29

Rx is currently missing a breadcrumb. We are wondering if the < Back to link is sustainable. Mel and I had a discussion on taking out the back link and adding a breadcrumb to all the pages.

@melwoodard, Could you validate the following?
For Prescription refill and History pages: Hom

[2016-11-29 22:12] gnakm opened #4143 "Bold Text fields"
Related to: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/29
cc: @melwoodard

For consistency with other cards on Vets.gov and better scanning, could we bold labels like the mocks below?
<img width="579" alt="screen shot 2016-11-29 at 5 08 47 pm" src="https://cloud.githubusercontent.com/assets/13420618/20731114/e5f80798-b656-11e6-82d7-df0496de7b51.png">

[2016-11-29 22:14] melwoodard commented on #4142
@gnakm logic looks good!

[2016-11-29 22:16] usds-bot opened #4145 "UserVoice Idea: Apps on va.gov"
There are multiple mobile apps supposedly soon  to be available at https://mobile.va.gov/appstore/veterans

Please hire non-elitist non-fanboys that will make Android apps (87.5% of market share) instead of primarily iOS apps (11.5% of market share.)

http://www.idc.com/prodserv/smartphone-os-market-share.jsp

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17278250-apps-on-va-gov

[2016-11-29 22:21] gnakm opened #4146 "Add ascending/descending options for mobile sort"

[2016-11-29 22:37] gnakm opened #4147 "Add "Sort By" above mobile dropdowns"
<img width="494" alt="screen shot 2016-11-29 at 4 50 08 pm" src="https://cloud.githubusercontent.com/assets/13420618/20731567/f00b87c6-b658-11e6-815c-392ab9e7966d.png">

Could we add "Sort by" label above the sort dropdown on both refill and history page on mobile?

related to: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/29

[2016-11-29 22:58] gnakm opened #4149 "Pagination should use unicode right & left pointing angle quotation marks instead of greater-than & less-than characters"
Pagination and should use unicode `›` `‹` carats, not `<` `>`characters

[2016-11-29 22:58] bethpotts opened #4150 "PL WIP education page: subhead in the blue box not rendering correctly"
https://vetsgov-pr-4098.herokuapp.com/education/gi-bill/higher-learning/

Can you please help? This is the branch: content/wip/education-plain-language-update

[2016-11-30 03:30] akainic opened #4153 "Contact Information Page Validation Broken"
On education benefits:

Page validation for contact information allows you to proceed without entering email address. Email address should be required before being able to go to the next page.

[2016-11-30 03:33] #4060 closed

[2016-11-30 04:12] NatalieEMoore commented on #4034
What is needed to get the correct date up on the site or did this already happen?

[2016-11-30 04:45] akainic opened #4154 "Validation on School Selection broken on review page"
For some reason the validation on the review page for the school selection chapter is broken (but not on the original page itself). When adding a school, it does not let me update the chapter, even though all of the required fields are complete.

[2016-11-30 13:55] goldenmeanie commented on #4111
![exit-icon-secondary-darkest](https://cloud.githubusercontent.com/assets/1969/20754808/ab304dee-b6da-11e6-8a72-db9597419359.png)

[code]

[2016-11-30 14:06] #3827 closed

[2016-11-30 14:06] #3828 closed

[2016-11-30 14:07] #3935 closed

[2016-11-30 14:09] jbalboni opened #4155 "Page header is wider than content at small screen sizes"
At small screen sizes the page header doesn't collapse enough and sticks at a certain width, while the page content keeps shrinking:

![screen shot 2016-11-30 at 9 01 16 am](https://cloud.githubusercontent.com/assets/634932/20755349/9ca5b3b6-b6dc-11e6-8e91-52c49c0e4d3d.png)

This is pretty minor, as it only shows up on sub-iPhone 5 size screens.

[2016-11-30 15:36] jbalboni commented on #4115
I tested some of these throttled to Regular 3G and there's a big drop off; something like 3-4 more seconds.

[2016-11-30 16:00] #4110 closed

[2016-11-30 16:25] leannammiller commented on #4067
@cweber who is working on this?

[2016-11-30 16:29] cweber commented on #4067
It doesn't look like anyone is assigned to it. @jbalboni may have picked it up in his work on the review section though.

[2016-11-30 16:31] jbalboni commented on #4067
This is done now.

[2016-11-30 16:31] #4067 closed

[2016-11-30 16:33] jbalboni commented on #4100
This should be fixed with #4102.

[2016-11-30 16:33] #4100 closed

[2016-11-30 16:38] #3267 closed

[2016-11-30 16:43] akainic commented on #4132
I'm not able to recreate this error :( I tried a few different combinations of data and never get stuck. No fields on the contact information page are required, so it's strange that's not allowing them to move forward but also not showing any error messages. Is it possible to respond requesting more information? Or even screenshots? @koconnor719

[2016-11-30 16:58] usds-bot opened #4156 "UserVoice Idea: CAVEATS ON APPLYING FOR VA BENEFITS"
Young transitioning SMs and some people look for someone to blame. To avoid this, I suggest that making them informed of the benefits must be balanced by caveats. One gentleman approached me yesterday blaming VA that he said that he felt he was deceived in applying for reimbursement for taking national examinations and he claimed he did not know that a low-cost test would cost him a month of entit

[2016-11-30 17:07] patrickvinograd commented on #4034
Has not happened yet. Not blocked on anything other than my time and Ben's time.

[2016-11-30 18:01] jbalboni commented on #4115
Looking at the traces, the vast majority of the time is spent downloading and parsing the JS and CSS we ship. So we can do three things to address that.

1. Serve assets faster
2. Ship less code
3. Defer loading some code until it's needed

This is an [analysis](https://jbalboni.github.io/vetsgovperf/report.html) of what's in the different app bundles.

### Serve assets faster

It would probably h

[2016-11-30 18:12] jcmeloni commented on #3887
I haven't heard more reports of this in testing.  Please reopen if it happens again.

[2016-11-30 18:12] #3887 closed

[2016-11-30 18:37] melwoodard commented on #4028
@bshyong sorry for the delay - I think it's fine to go with the single layout. Thanks!

[2016-11-30 19:09] gnakm opened #4163 "Glossary and Detail 2/3 Page fix"
Both Glossary and Detail pages on desktop should be 2/3 grid. Right now, it is 1/2.

**Glossary**

Current view
<img width="1163" alt="screen shot 2016-11-30 at 2 05 36 pm" src="https://cloud.githubusercontent.com/assets/13420618/20766890/222d6fbe-b706-11e6-8435-fd54f7bd95d1.png">

Should look like (ignore border bottom color)
![glossary page](https://cloud.githubusercontent.com/assets/13420618/20

[2016-11-30 19:35] gnakm opened #4164 "History page Last requested and Submit date inconsisitency"
I think this change didn't make it from previous iterations when we had last submit date as last requested date. Right now on Rx history mobile, last submit date is labeled as last requested date. Please change it to **`Last submit date:`**

<img width="559" alt="screen shot 2016-11-30 at 2 34 07 pm" src="https://cloud.githubusercontent.com/assets/13420618/20767977/2fd9c35c-b70a-11e6-9eb7-542d97d6

[2016-11-30 20:04] bethpotts commented on #4150
@dannychapman Are you able to help me with this since Rachael is out?

[2016-11-30 20:28] usds-bot opened #4166 "UserVoice Idea: Fix the Healthcare enrollment site"
Looks like several others have already had this issue, but it needs to be repeated until the issue is fixed. There is a problem with the online form for the 10-10EZ. After filling out all the Personal Information and hitting continue, the site freezes. Are you guys working on a fix of this issue?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17289236-fix-the-healthcare-enrollme

[2016-11-30 20:48] bshyong commented on #4028
No worries! I plan to have this in a PR today

[2016-11-30 21:10] #4154 closed

[2016-11-30 21:22] koconnor719 commented on #4166
team cannot replicate this error; anne to draft response to post to ask user for more info.  @akainic

[2016-11-30 21:25] koconnor719 commented on #4156
posted and closed:

Thank you for your feedback.  If you are a Veteran and would like provide us detailed feedback on vets.gov, please contact our team at feedback@va.gov. We design and prioritize content and features on vets.gov based on Veteran feedback!

vets.gov team

[2016-11-30 21:25] #4156 closed

[2016-11-30 21:25] dannychapman commented on #4150
@bethpotts Fixed. There was no line spacing between the blue box formatting and the content. Please leave a space in between in future to fix.

[2016-11-30 21:28] koconnor719 commented on #4145
Thank you for your feedback.  Our team takes a mobile-first approach to vets.gov, so everything is easily accessible on any mobile device. If you are a Veteran and would like to participate in our user research, which drives the design and features on vets.gov, please contact us at feedback@va.gov.

vets.gov team

[2016-11-30 21:28] #4145 closed

[2016-11-30 21:29] koconnor719 commented on #4137
Posted:

Thank you for your feedback. Our team will look into this!

vets.gov team

[2016-11-30 21:30] koconnor719 commented on #4135
Thank you for your feedback. Our team will look into this!  If you are a Veteran and would like to participate in our user research, which drives the design of vets.gov, please contact us at feedback@va.gov

vets.gov team

[2016-11-30 21:32] koconnor719 commented on #4132
Thank you for your feedback. Our team cannot recreate this error.  Can you please send us additional information or a screenshot if possible to feedback@va.gov.  We want to make sure we address this issue.

vets.gov team

[2016-11-30 21:34] koconnor719 commented on #4130
Posted and closed:

Thank you for your feedback!  Yes we are launching prescription refill feature in December so please check back on vets.gov in the next 1 - 2 weeks to try it!  Once you use it, we would love your feedback, please contact us at feedback@va.gov.

vets.gov team

[2016-11-30 21:34] #4130 closed

[2016-11-30 21:38] koconnor719 commented on #4123
i think we've had this comment before--and it was kind of a usability issue w/ user not understanding the content on the page?  mark figured out what the issue was:)  can you guys look at this one and let me know how to respond please.  thx.  @markolson

[2016-11-30 21:43] akainic commented on #4132
@koconnor719 We should be specific in the information we're asking for: browser (preferably version too if they're using IE) and what data they're entering on that page.

[2016-11-30 21:47] akainic commented on #4166
@koconnor719 Draft of response:

Thank you for reporting this problem. Our team has tried to replicate the issue in order to identify the cause of the problem, but are unable to. If you could provide us additional information, it would help us identify the cause and works towards a solution. Specifically, if you could tell us which browser you're using (if Internet Explorer, preferably which versi

[2016-11-30 21:55] koconnor719 commented on #4078
cannot replicate this; when i tested both 5 and 9 digit zip codes worked.

Posted and closed:
Thank you for your feedback. Our team is not able to replicate this error.  We were able to enter both 5 and 9 digit zip codes on the form.  If you can send us some additional information (what browser are you using, screenshots, etc.) we can investigate this further.

vets.gov team

[2016-11-30 21:55] #4078 closed

[2016-11-30 21:58] koconnor719 commented on #4064
posted and closed:

Thank you for your feedback. We couldn't agree more! That's why vets.gov design is driven by Veteran feedback.  If you are a Veteran and would like to provide us with detailed feedback, please contact us at feedback@va.gov.

vets.gov

[2016-11-30 21:58] #4064 closed

[2016-11-30 22:05] koconnor719 commented on #4057
Thank you for your feedback. If you are using vets.gov to apply for health care online, can you please provide us some additional information so we can address this issue?  We can't replicate this error on vets.gov. It sounds like you might be using VA eBenefits website (which has not yet migrated to vets.gov). You can also reach our vets.gov Help Desk at 855-574-7286 Monday through Friday, 8:00 a

[2016-11-30 22:05] #4057 closed

[2016-11-30 22:08] cweber commented on #4085
Updating to state why this is on Alex and I.

We need to go through all of the date fields in the form and make sure there is a clear UX decision about which fields can accept partial dates, whether we want to ask for full dates at all, etc.

[2016-11-30 22:23] koconnor719 commented on #4123
Thank you for your feedback.  Our team will look into this.

vets.gov team

[2016-11-30 22:25] akainic commented on #4123
@koconnor719 is it possible for me to reach out directly to this person to ask for more information? He provided his email address.

[2016-11-30 22:27] koconnor719 commented on #4132
here's response:  @akainic

The screenshot would only be the normal contact information screen with my personal data on it.  It would no provide any additional information.  The problem is that when I hit the “continue” button to proceed to the next screen nothing happens.  No message, no spinning wheel, no screen locked up, just nothing happens.  The button responds to the mouse tap but doesn’t g

[2016-11-30 22:29] koconnor719 commented on #3995
posted and closed:

Thank you for your feedback. Are you referring to vets.gov?  If so can you please provide some additional details to feedback@va.gov?

vets.gov team

[2016-11-30 22:29] #3995 closed

[2016-11-30 22:31] webinista opened #4170 "Disclaimer / alert button overlaps text when viewport ≤ 375px"
Adding `width: 90%` to `.va-alert h5, .va-title` will fix it 99% of cases.

<img width="623" alt="screen shot 2016-11-30 at 2 26 04 pm" src="https://cloud.githubusercontent.com/assets/354277/20773975/1ad1195c-b709-11e6-8abf-1490462c1195.png">

[2016-11-30 22:32] akainic commented on #4132
Ah, I think I found the issue: dashes in the phone number. Will create a ticket for that right away. Do you mind replying with something like this?

[code]

[2016-11-30 22:33] akainic opened #4171 "Dashes in phone numbers are a problem"
See here: https://github.com/department-of-veterans-affairs/vets-website/issues/4132#issuecomment-264016560

[2016-11-30 22:33] webinista commented on #4170
Assigned it to you, Mel, in case you want to give more specific direction. If now, feel free to reassign it to me.

[2016-11-30 22:44] melwoodard commented on #4170
@webinista thanks - rather than setting a width, can you give .va-alert-body a `padding-right: 3.5rem` ?

[2016-11-30 22:54] angel opened #4172 "Profile: Link to secure messaging"
When I log in to my profile, I see the following links:

<img width="682" alt="screen shot 2016-11-30 at 5 47 48 pm" src="https://cloud.githubusercontent.com/assets/103496/20774793/ed3d303a-b725-11e6-9dc4-316c57ac7578.png">

Should there be a link to "Message your health care team" under "Your account will allow you to:"?

[2016-11-30 23:07] #4164 closed

[2016-11-30 23:14] koconnor719 commented on #4132
Yep!  That was it!  He responded and I posted in issue:0

From: Julie Meloni <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, November 30, 2016 at 5:32 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto:vets-website@norepl

[2016-11-30 23:15] koconnor719 commented on #4123
Sure�:)

From: Julie Meloni <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, November 30, 2016 at 5:25 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto:vets-website@noreply.github.com>>
Cc: Department of Veterans Affairs

[2016-11-30 23:16] koconnor719 commented on #4123
You can email the person directly since he provided email�or post a response you�d like in github and I�ll send.  Whatever easiest for you�wasn�t sure if you�d want your personal email out there�

From: Julie Meloni <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesda

[2016-11-30 23:18] koconnor719 commented on #4132
yep that was it!  here's his response:

From: Samuel Tolman <tolman.samuel@gmail.com>
Date: Wednesday, November 30, 2016 at 4:43 PM
To: VA Feedback <Feedback@va.gov>
Subject: [EXTERNAL] Re: [veterans.uservoice.com] Message regarding your idea: 'VA healthcare application w...'

I figured out the issue today. I tried to put in my phone number with dashes (-) and it wasn't letting continue but it was

[2016-11-30 23:20] koconnor719 commented on #4132
posted and closed:

Thank you for helping us identify this bug! We are working on a fix right now and it should be fixed tomorrow!

vets.gov team

[2016-11-30 23:20] #4132 closed

[2016-11-30 23:22] akainic commented on #4132
Woo!! Love responding to users with good news :)

[2016-11-30 23:58] gnakm opened #4174 "Decrease size of refill button"
<img width="468" alt="70e00814-b563-11e6-8fe6-40c1a2e084a3" src="https://cloud.githubusercontent.com/assets/13420618/20776375/20bef1fc-b72e-11e6-8d0a-798a3781fd70.png">

Refill button is too long. Could we make it the same size as it appears on the gray cards?
Should look like this:
![rx detail page](https://cloud.githubusercontent.com/assets/13420618/20776486/ebc9622e-b72e-11e6-87e3-189b0408c01a.

[2016-12-01 00:09] gnakm opened #4175 "Header clean up"
@melwoodard did an awesome job auditing headers all across our tools. We need to clean up the headers for Rx detail and glossary pages.

### Detail page
1. Aligned with top of Prescription name
2. Contact should be `h4` with border bottom.
<img width="622" alt="screen shot 2016-11-30 at 7 00 02 pm" src="https://cloud.githubusercontent.com/assets/13420618/20776598/972cec8a-b72f-11e6-9d64-84633841f4

[2016-12-01 00:11] gnakm commented on #4015
@U-DON noticed that all the loaders across Vets.gov are not looking the same. Related to: https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/33

@angel tagging you for awareness.

[2016-12-01 00:20] melwoodard commented on #4175
Thanks @gnakm. Yes, let's go with the primary blue border bottom to standardize these header styles.

H4 underlined headings should be the `highlight` class, so we can create a corresponding H2 `highlight` class

[2016-12-01 04:39] NatalieEMoore commented on #4137
I need to know what phone numbers he is talking about?  Not all phone numbers are incorrect.  He is correct, we don't pull from the same data source as va.gov.  Also unclear if he is talking about a mental health phone number or a main phone number at a facility.  Lastly, would be helpful to know if he is talking about NCA facilities, VHA or VBA.

[2016-12-01 13:27] koconnor719 commented on #4137
I can post a response for more info😀

Sent with Good (www.good.com)

-----Original Message-----
From: Natalie Moore [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, November 30, 2016 11:39 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Comment
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoic

[2016-12-01 14:14] J-Quag opened #4177 "Windows 8 / IE 11 Refresh Parent Page"
Just as we saw in Windows 7 / IE11 and on the VA Network,
  A user on Windows 8.1 in IE11 did not see the parent page refresh when going through the registration flow.

[2016-12-01 14:35] jbalboni commented on #4073
I think this is on hold until #4085 is done.

[2016-12-01 15:10] jbalboni commented on #4065
@cweber I haven't been able to reproduce this (aside from the incorrect message text). Do you what steps you took to get this to happen?

[2016-12-01 15:23] akainic opened #4179 "Consolidate validations"
Right now we have duplication validation functions in each of our `validations.js` files within `common/utils/`, 'hca/utils', and 'edu-benefits/utils'. As soon as they get out of sync it has the potential to create issues.

We should try to include as many of the validation functions in `common/utils` as possible, and only put ones that are truly unique in the project-specific validation files. Th

[2016-12-01 15:25] gnakm opened #4180 "FL dropdrown tweaks"
Related to [ Feature audit: Facility Locator ](https://github.com/department-of-veterans-affairs/vets.gov-designpattrns/issues/32)

Few tweaks for dropdown:

1. The dropdown an carat when opened.
2. Add borders to the dropdown so it doesn't look like menu is floating and easier to read
Current view:
<img width="249" alt="e90712ca-b62a-11e6-8d1a-c1dcdbb11e11" src="https://cloud.githubusercontent.co

[2016-12-01 15:36] gnakm opened #4182 "FL Header consistencies"
Couple of header size inconsistencies. Please check the following

- [x] Page headers should be `h1` instead of `h3`
  - [x] Service and Facility Locator on search page
  - [x] Name of facility on detail page

- [x] In detail page, sidebar headings should use `h4 highlight` class
  - [x] View on Map
  - [x] Hours of Operation
  - [x] Access to Care

- [x] In detail page, Services header should be

[2016-12-01 15:37] gnakm opened #4183 "Facility header alignment tweak"
Page heading isn't flush left with the rest of the content
![](https://cloud.githubusercontent.com/assets/4106356/20726755/bdb5f388-b62b-11e6-82e3-2a62ef213481.png)

[2016-12-01 15:39] crwallace commented on #4172
@angel -- I can add this, it was never in any mockup so I think it just got over looked. Would love to just get a quick 👍 from @staceylanger to add it.

[2016-12-01 15:39] gnakm opened #4184 "Mobile Tab style tweak"
Tab style still not consistent with other tabs on Vets.gov. Should have 0 rounded corners.

![](https://cloud.githubusercontent.com/assets/4106356/20727890/0e4dde42-b630-11e6-99f5-9ff7ae3c7712.png)

Should look like this:

![](https://cloud.githubusercontent.com/assets/4106356/20727899/174cb022-b630-11e6-8dc1-8fdb542b59c8.png)

[2016-12-01 15:40] crwallace commented on #4172
Also @ayaleloehr, do we think this needs the `identity` tag? This doesn't really have anything to do with identity or login.

[2016-12-01 15:41] gnakm opened #4185 "Truncation in the Service Type dropdown tweak"
Truncation in the Service Type dropdown is not legible. Could we add ~8 more characters (more on full-width mobile view)
![](https://cloud.githubusercontent.com/assets/4106356/20727984/79c357c4-b630-11e6-8415-d92dfcddf68a.png)

[2016-12-01 15:44] gnakm opened #4186 "Add external link icon"
Please add external link icon ![](https://cloud.githubusercontent.com/assets/4106356/20727243/96741622-b62d-11e6-8f17-644b5981ffb9.png) next to website and direction links

![](https://cloud.githubusercontent.com/assets/4106356/20727231/8e9c45a0-b62d-11e6-843b-9db9e19f240c.png)

[2016-12-01 15:47] gnakm opened #4187 "Bolding labels tweak"
For consistency across Vets.gov, reverse bold the distance and facility so that the labels are bolded and not the results. This will apply for both results list and detail page.

<img width="331" alt="screen shot 2016-12-01 at 10 45 40 am" src="https://cloud.githubusercontent.com/assets/13420618/20800416/6c4723f8-b7b3-11e6-8ef0-c2ec236c1c16.png">

[2016-12-01 15:49] gnakm opened #4188 "Add spacing on detail page"
The detail page is starting to look to cluttered and needs more breathing room. This should not apply to search results. The following red lined areas need an extra space.

![](https://cloud.githubusercontent.com/assets/4106356/20727459/69b8ebfc-b62e-11e6-9adb-9143bf26b07f.png)

[2016-12-01 15:52] ayaleloehr commented on #4172
I had been associating profile page with identity tag. That is probably inaccurate though, so feel free to remove if it's incorrect!

[2016-12-01 16:30] staceylanger commented on #4172
I am good with adding Secure Messaging. Thanks!

[2016-12-01 16:50] cweber commented on #4065
Hmm. No, but I'll mess around and see if I can make it happen again.

[2016-12-01 16:53] cweber commented on #4073
This seems separate to me. We just need to turn off the required nature of it. Any partial field rules would apply separately.

But note. I'll get on #4085

[2016-12-01 17:00] jbalboni commented on #4073
I'd like to know what all the partial date (and date range) rules are before we make this change, so that we have a solid overall picture of how our date validation should work.

[2016-12-01 17:01] #4147 closed

[2016-12-01 17:05] cweber commented on #4065
Huh. I can't recreate. I'm going to close this. I'll open again if I see it again.

[2016-12-01 17:05] #4065 closed

[2016-12-01 17:06] melwoodard opened #4190 "Add ID.me FAQ link to profile and gate screens"
Adds a right-aligned sidebar on the profile page with a link the ID.me Vets.gov FAQ - https://vetsgov.id.me

Follows standard responsive behavior at 1-column breakpoint, with the sidebar content moving below the main column.

![profile-faq](https://cloud.githubusercontent.com/assets/4106356/20803561/7fd372a0-b7a4-11e6-8a81-cd3d1a92cf96.png)

The ID.me FAQ contains how-to's, troubleshooting and gen

[2016-12-01 17:15] melwoodard commented on #4190
We should also add the FAQ link to the sign in gate screens. @AnitraAppa I'd love your input on content here as well.

Sign in gate:

<img width="1075" alt="screen shot 2016-12-01 at 9 14 48 am" src="https://cloud.githubusercontent.com/assets/4106356/20804161/aa4b6aa4-b7a6-11e6-82af-e0cd030a486f.png">

Verify gate:

<img width="1075" alt="screen shot 2016-12-01 at 9 11 53 am" src="https://cloud.gi

[2016-12-01 17:26] #4177 closed

[2016-12-01 18:40] alexose commented on #4115
Thanks for doing this work, @jbalboni -- Load times are [super important](https://blog.kissmetrics.com/loading-time/).

It seems like each of those bullet points could be separated into its own issue, which we could triage by importance.  Removing jQuery and splitting out react seems like the two big ones.

@leannammiller, what's the best way to prioritize tech debt tickets?

[2016-12-01 18:48] alexose opened #4191 "Month / year issues"
The approach I took to hiding the day field in `DateInput.jsx` is a little janky, and doesn't play well with our date validations.

[2016-12-01 18:50] alexose commented on #4191
Actually, I'll combine this with https://github.com/department-of-veterans-affairs/vets-website/issues/3675 .

[2016-12-01 18:50] #4191 closed

[2016-12-01 18:54] alexose commented on #3675
The big problem with my approach to altering `DateInput` is that it causes the date validations to not play especially well with each other.  @cweber noticed the following:

![date-junk](https://cloud.githubusercontent.com/assets/627264/20807559/849331aa-b7a3-11e6-9832-f8f4d54e0f78.gif)

We also need to update the review component:

![image](https://cloud.githubusercontent.com/assets/627264/208076

[2016-12-01 18:58] alexose commented on #4179
Yes, this should definitely be fixed.  A good first pass might be to [look for duplicate code](https://github.com/danielstjules/jsinspect) and consolidate accordingly.

[2016-12-01 19:05] jbalboni commented on #4179
This is sort of a duplicate of #3012.

Another thing to think about here is that the way we handle validation specific messages is also awkward and it'd probably be good to figure out a better solution for that.

[2016-12-01 19:09] akainic commented on #4179
@jbalboni yes it is! Sorry about that. We can close one or the other. I'll close this one in favor of #3012.

[2016-12-01 19:10] #4179 closed

[2016-12-01 19:33] alexose commented on #3012
A good first pass might be to look at exact matches with jsinspect.   At first glance, there are [quite a few](https://gist.github.com/alexose/443807e1af56a98456856768f4f6e7e1).

The second pass would probably be to identify validations that *should* be the same but have diverged.  This is the tricky part, since it will surface all kinds of subtle differences.

[2016-12-01 19:46] AnitraAppa commented on #4190
For sure! Will add content feedback for the pages themselves to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/485 as well. Recommending:

[Profile sidebar]
**Need help?**
To change your account information or fix other issues, check our [Frequently Asked Questions](https://vetsgov.id.me/hc/en-us).

Notes:
- Use sentence case "Need help?" instead of title case "Need Help?"

[2016-12-01 20:04] AnitraAppa commented on #4190
Recommending for verify account page:
"For more information about identity verification, check our [Frequently Asked Questions (FAQ)](https://vetsgov.id.me/hc/en-us)."

Notes:
- Since they haven't started the real flow yet, changed "Having trouble? Need help?" kind of messaging to "For more information"

[2016-12-01 20:18] cweber commented on #4085
**Date of birth**

- Required? **yes**
- Is entry of all parts required? **yes**
- Which pieces to display? **month/day/year**

**Effective date**

- Required? **yes**
- Is entry of all parts required? **yes**
- Which pieces to display? **month/day/year**

**Start service period**

- Required? **yes**
- Is entry of all parts required? **yes**
- Which pieces to display? **month/day/year**

**End se

[2016-12-01 20:20] cweber commented on #4085
The two questions mentioned at the end have been emailed and are waiting on response. I'll update the content above once we have an answer.

[2016-12-01 20:24] ayaleloehr opened #4195 "Displaying proper error when user doesn't have Rx or SM access"
Alright, taking this from Github (https://github.com/department-of-veterans-affairs/kudos-team/issues/271). Will restate the problem here first:

- Currently a Veteran needs an MHV account to use Rx on vets.gov.
- Right now, when a user without an MHV account goes to Rx, the error says "We couldn't retrieve your prescriptions. Please refresh this page or try again later." This error statement is f

[2016-12-01 20:30] ayaleloehr commented on #4195
Comment above updated with new copy from @AnitraAppa [here](https://github.com/department-of-veterans-affairs/kudos-team/issues/271#issuecomment-264284909)

[2016-12-01 20:31] AnitraAppa commented on #4195
@ayaleloehr Thanks!

[2016-12-01 20:32] gnakm commented on #4195
Tagging @melwoodard and @emilyville for awareness because today we talked about adding similar alert for users who haven't signed in LOA1 and for profile page.

[2016-12-01 20:32] cweber commented on #4085
Confirmed! All education history dates can now be month/day only.

[2016-12-01 20:38] usds-bot opened #4197 "UserVoice Idea: 22-1990 Help"
When completing form 22-1990, after I add my EAS the form will not let me continue.  FYI my EAS is a future date.

Melora.mcvicker@usmc-mccs.org

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17302690-22-1990-help

[2016-12-01 20:42] AnitraAppa commented on #4195
For Secure Messaging:
"To use Secure Messaging, you need to be registered as a VA patient through MyHealtheVet.
To register, visit MyHealtheVet. If you're registered but you still can't access Secure Messaging, please call the Vets.gov Help Desk at 1-855-574-7286, Monday‒Friday, 8:00 a.m.‒8:00 p.m. (ET)."

Link "visit MyHealtheVet" to: https://www.myhealth.va.gov/web/myhealthevet/user-registration

[2016-12-01 20:54] koconnor719 commented on #4197
@akainic potential 1990 issue--can you guys follow up pls:)

[2016-12-01 20:55] koconnor719 commented on #3708
@jenny-h-l  jenny do you have any suggestions for this one?  what number they might call for help?

[2016-12-01 20:57] akainic commented on #4197
Yep! @cweber is this the same issue you had found earlier??

[2016-12-01 21:03] jbalboni commented on #3330
This is also necessary for screen reader users, since there's no real indication of what happened when validation fails right now. We should scroll to and focus on the erroring field. We may need to add `alert` roles to some of the error messages in our input components.

[2016-12-01 21:52] #3214 closed

[2016-12-01 21:53] jbalboni commented on #3286
@akainic I don't see this happening anymore. Should we close this?

[2016-12-01 21:54] jbalboni commented on #3291
@cweber Do we still want to do the "Non-military Experience" change?

[2016-12-01 22:12] cweber commented on #4197
Not the one I found, but this is a variation on the problem our stakeholder identified. In issue #4073. Some applicants are still on active duty when they fill out their service info, so we need to not require that field (and make sure it allows for future dates)

[2016-12-01 22:14] cweber commented on #3291
I would still like to do that. (It was occurring to me again as we're going through future forms.) @goldenmeanie Do you concur?

[2016-12-01 22:27] goldenmeanie commented on #3291
I think so. Only hesitation is whether one of the employment questions (rating?) could be from during military service.

[2016-12-01 22:51] akainic commented on #3286
Yep!

[2016-12-01 22:51] #3286 closed

[2016-12-01 23:23] cweber commented on #3291
We have come to agreement:

Military Experience
and
Non-military Experience

[2016-12-01 23:30] webinista commented on #4195
I think what needs to happen is this:

1. Augment `apiRequest` to function more like [`makeAuthRequest`](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/js/disability-benefits/utils/helpers.js).
    - At the very least, catch HTTP errors (status codes ≥ 400) and return an action that indicates that refreshing the page won't help. (Probably an `UNAUTHORIZED` action or

[2016-12-02 00:26] U-DON commented on #4195
^ I see you've already updated on your findings, but I think the minimum necessary change for this to work is to match Disability Claim's usage of the `isDataAvailable` prop.

[2016-12-02 01:07] patrickvinograd commented on #4034
Added to API in https://github.com/department-of-veterans-affairs/vets-api/pull/589

[2016-12-02 14:07] leannammiller commented on #4115
it seems to me that only options 2 and 3 are in our control, and i can't weigh the bang-for-the-buck between the two. i defer to @jbalboni and @akainic.

**we can go back and do these unilaterally:** @akainic and @jbalboni maybe rank these in order of time-to-benefit?
2a. We're shipping jQuery in our bundle, because it's used in some legacy code and some ajax calls in the login code. We should con

[2016-12-02 14:08] #4195 closed

[2016-12-02 14:14] gnakm opened #4204 "Add Call center number for Rx error"
We need to add call center number to error below.
![screen_shot_2016-11-30_at_9 27 52_am_720](https://cloud.githubusercontent.com/assets/13420618/20836306/c19372d0-b86c-11e6-8b28-1e3ea29ae257.png)

New copy:
We couldn't retrieve your prescriptions. Please refresh this page or try again later. If this problem persists, please call the Vets.gov Help Desk at 1-855-574-7286, Monday‒Friday, 8:00 a.m.‒8

[2016-12-02 14:25] ayaleloehr commented on #4204
@gnakm like so?

<img width="1077" alt="screen shot 2016-12-02 at 9 23 02 am" src="https://cloud.githubusercontent.com/assets/4719765/20837188/f825e4c8-b870-11e6-8e76-80d848cc4b03.png">

[2016-12-02 14:30] ayaleloehr commented on #4204
or this?

<img width="1061" alt="screen shot 2016-12-02 at 9 30 11 am" src="https://cloud.githubusercontent.com/assets/4719765/20837408/f405cfc4-b871-11e6-8b5c-626292783534.png">

Or neither?

[2016-12-02 14:38] cweber opened #4205 "Type style for accordions seems out of sync with Vet.gov type colors"
The type style for accordions, as used in form review for edu-benefits, is pulled directly from US WDS, but seems out of sync with vets.gov type choices. Specifically, it's black. (really, dark grey, but with not blue hue to it.)

[2016-12-02 14:56] gnakm commented on #4204
Could we have it so that the texts take up 2/3 of page width? This may cause 3rd line but that's okay

[2016-12-02 15:00] jcmeloni commented on #4190
Removing identity label because this isn't about a user's identity, and removing id.me label because this isn't an id.me issue. Just a content update.

[2016-12-02 15:00] jcmeloni commented on #4111
Removing identity label because this isn't about a user's identity.

[2016-12-02 15:01] jcmeloni commented on #4042
Removing identity label because this isn't about a user's identity.

[2016-12-02 15:01] gnakm commented on #4204
How about 2nd like after "If this problem persists,"

![artboard 1](https://cloud.githubusercontent.com/assets/13420618/20838386/56bf4ce0-b876-11e6-9349-74535de357d6.png)

[2016-12-02 15:16] akainic commented on #3012
I agree, figuring out how to bring together validations that have diverged will be tricky. I would suggest doing this first, but it might be tedious to sort through all the validation files and find the validation functions for the same field/purpose that are slightly different, as this will naturally become clear as we start to consolidate them.

I wonder if we could break up the work in this way

[2016-12-02 15:23] jbalboni commented on #4115
I would rank them as

2a
2d
2b
3

3 is the most work, easily.

I don't think the loading gif one requires a talk with Vanguard; it would only affect our page. I think we should let them know when we make a change, though.

For the Preact one, I'd like to try to do everything else on our list before we talk about it.

[2016-12-02 15:25] ayaleloehr commented on #4111
That was me. Sorry, I conflated identity and profile earlier this week when I shouldn't have!

[2016-12-02 16:09] ayaleloehr opened #4209 "Make Rx error full on mobile"
Brought up in code review here: https://github.com/department-of-veterans-affairs/vets-website/pull/4207#pullrequestreview-11187379

Rx error message should be 2/3 on desktop but full on mobile.

@gnakm let me know if you agree.

[2016-12-02 16:29] cweber commented on #4205
Closing. Moved to design-pattrns repo

[2016-12-02 16:30] #4205 closed

[2016-12-02 16:35] #4204 closed

[2016-12-02 16:57] cweber opened #4210 "Fix modal padding"
- [ ] Unnecessary padding is creating misaligned text in the edu modal.
 - [ ] Add padding to overlay in mobile view (2rem)

Currently:
![screen shot 2016-12-02 at 11 51 28 am](https://cloud.githubusercontent.com/assets/417657/20842526/cddcc4ba-b885-11e6-8397-69365a7535fe.png)

Should look like:
![screen shot 2016-12-02 at 11 54 31 am](https://cloud.githubusercontent.com/assets/417657/20842620/1da

[2016-12-02 17:21] melwoodard commented on #4190
Thanks @AnitraAppa. I think your content for the verify screen makes sense, although the other use case is that the user arrives on this page, starts the ID proofing flow, fails out and closes that window and is back at this screen trying to figure out what to do next. Can the text also indicate something about troubleshooting?

[2016-12-02 17:21] melwoodard commented on #4190
Also, any edits to the Sign in screen?

[2016-12-02 17:32] bethpotts commented on #4150
@dannychapman Thanks so much!

[2016-12-02 18:10] cweber commented on #4197
@markolson Did you assign this to me 'because dates'? I'm not sure I have anything I can do on this.

But it seems like all of this stuff can maybe get wrapped up through issue #4085. I added a full list of date rules to that issue yesterday. It needs eyes from someone to either assign or ask me for more information.

[2016-12-02 18:11] cweber commented on #4085
This is ready for someone to pick up/assign or at least to review and ask me for more information if needed.

cc @markolson (not on currently on this issue, but this came up on #4197)

[2016-12-02 19:08] alexose commented on #3012
That sounds great to me.  Do you prefer breaking the work down into sub-issues, or does a task list suffice?

- [ ] Consolidate validations for general fields (e.g. `isBlank`, `isValidRequiredField`, etc.)
- [ ] Consolidate validations for components in `common/questions` (e.g., `isValidFullName`, `isValidAddressField`, etc.)
- [ ] Consolidate anything that remains that isn't specific to a particu

[2016-12-02 19:28] alexose commented on #4115
The right answer likely involves a better understanding of our demographics than I have handy... i.e., what percentage of our audience is on 3G?  2G?  Dial-up?

Just as a strawman, I'd throw out the following targets for `domInteractive`:

| Page  | 2G | 3G | DSL | Cable
| -- | -- | -- | -- | -- |
| Home / Non-react | 8 | 5 | 4 | 2.5 |
| React application | 12 | 8 | 5 | 4 |

I made these up off th

[2016-12-02 20:53] jbalboni commented on #4115
Yeah, it's hard to tell what mobile network speeds our audience would have. I don't know how we would even gather that info. I feel like we're going to have to settle for picking something like 3G as a baseline. The numbers are also dependent on how fast your device is, but that's easier (but not easy) to figure out. Other apps are also dependent on how fast api requests are, which we don't have c

[2016-12-03 03:35] usds-bot opened #4216 "UserVoice Idea: APO AP/AE address option on the forms"
There is no option for Armed Forces Pacific or Europe addresses (APO AE/ AP) on the online application. For those Vets working and living in oversea bases can't apply online for VA healthcare. Can you please fix? APO addresses are official and USPS approved addresses, so why you don't have them on the scroll down list?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17316736-apo-

[2016-12-05 13:23] goldenmeanie opened #4217 "Button should not break to two lines"
The `Get Started` button in the EDU Benefits form should not break to two lines. It’s behaving as if it were part of a side-by-side two-button layout. It should be as wide as its content requires to be on one line.

currently:
![](https://cloud.githubusercontent.com/assets/4106356/20844337/22df311c-b874-11e6-895b-b4bc3531b4df.png)

[2016-12-05 13:25] goldenmeanie opened #4218 "Button text should be 700 not 500"
Button text should match pattern of being **bold**

[2016-12-05 13:30] goldenmeanie opened #4219 "Summary state of cards has inconsistent type treatment"
The card summary states should all use the text grey. Bold/regular should be used consistently with first value bolded followed by regular weight text.

Currently:
![](https://cloud.githubusercontent.com/assets/4106356/20845827/adb95aea-b87b-11e6-837a-c2dbbf9e10d2.png)
Weight correct, but color incorrect.

![](https://cloud.githubusercontent.com/assets/4106356/20846432/6ad0f000-b87e-11e6-9945-b056

[2016-12-05 13:32] goldenmeanie opened #4220 "Dropdown field needs better solution for long values (4)"
Currently:
![](https://cloud.githubusercontent.com/assets/4106356/20846538/f9ef289c-b87e-11e6-8e19-ee716c579fb3.png)

Not sure what our options are here. Truncation is not my favorite, but we should avoid the overlapping of the text with the dropdown chevron.

[2016-12-05 13:34] goldenmeanie opened #4221 "Edit buttons have inconsistent treatment"
The edit buttons should be bold and without icons.

Currently:
![](https://cloud.githubusercontent.com/assets/4106356/20847446/f3c2ffa8-b882-11e6-9ce5-52cfab6a4366.png)

[2016-12-05 13:34] ayaleloehr commented on #4115
I posted this URL in an issue at some point a while back, but I find it really helpful so am posting here again as it might be relevant / helpful in prioritizing: https://developers.google.com/speed/pagespeed/insights/?url=www.vets.gov

[2016-12-05 13:38] goldenmeanie opened #4222 "Headings are sometimes one tag and sometimes another"
Headings are not consistently marked up. In an ideal world, the form headline would be h1. But that is currently reserved for the logo. This is a placeholder for a larger discussion about site-wide patterns with regards to headlines.

All the tags!

[2016-12-05 13:40] jbalboni commented on #4115
@ayaleloehr That's helpful, thanks! The render blocking JS issue that comes up is related to something I mentioned above, loading our scripts with the `defer` attribute. It would be an improvement on the static content pages for sure and it might help on the React apps (unless it delays when the JS starts parsing).

[2016-12-05 13:43] goldenmeanie opened #4223 "Date fields are wrapping to two lines on small screens"
320px width is breaking the form. The dropdown treatment is making mm/dd fields too wide. Would suggest switching to number fields or smart text fields that can deal with jan/Jan/JAN/January/january/01/1/etc. But a short term solution would be nudging the mm/dd fields a little narrower.

Currently:
![](https://cloud.githubusercontent.com/assets/4106356/20845604/b4fa93f6-b87a-11e6-9eca-c5a5ad1b917e

[2016-12-05 13:44] goldenmeanie opened #4224 "Ghost buttons should treated consistently"
Ghost buttons have no background in Rx and have white background in EDU. Should be consistent.

Edu
![](https://cloud.githubusercontent.com/assets/4106356/20845827/adb95aea-b87b-11e6-837a-c2dbbf9e10d2.png)

Rx
![](https://cloud.githubusercontent.com/assets/4106356/20846038/9a07b1e4-b87c-11e6-977f-baabc3a2bc30.png)

[2016-12-05 13:47] goldenmeanie opened #4225 "Remove button should get converted to text link"
The remove button is too emphasized by the secondary button treatment. Would like to try it as a text link instead.

Currently:

![](https://cloud.githubusercontent.com/assets/4106356/20846294/dbacf5f4-b87d-11e6-8f72-f4c2dcb2195b.png)

[2016-12-05 13:52] goldenmeanie opened #4226 "Review page text treatment should use regular/bold instead of blue/grey"
- [X] The review page lists the labels and values for all questions in the accordions. The label should change to regular weight text-grey and the values should be bold weight text-grey.

- [ ] (While you are in there, consider a min-width for the value column so that unanswered question labels break the same way as answered.)

[2016-12-05 13:55] goldenmeanie opened #4227 "Submit-message screen should use standard accordion styles"
The panel currently expands into a fully grey panel. We should change it to the standard accordion treatment where the headline stays in a grey box but the body is in a grey-outlined transparent box. Also the +|- is too small right now.

Currently:
![](https://cloud.githubusercontent.com/assets/4106356/20848094/7b603b40-b885-11e6-9ec4-7ac9e9a71801.png)

Accordion style:
![](https://cloud.githubuse

[2016-12-05 14:01] crwallace opened #4228 "Update Homepage links to reflect new applications"
On the homepage:
- the card for healthcare currently points to the HCA landing page
- the "Popular on Vets.gov" links do not reflect our new apps

@melwoodard and @emilyville -- please advise on changes.

[2016-12-05 14:10] #4113 closed

[2016-12-05 14:14] jbalboni opened #4230 "Remove jQuery from shared code"
jQuery is a pretty large dependency and so we should be careful where we use it. It would be nice if we could avoid it in common code that all the apps pull in, so that apps that do not need it don't have to add to their page weight (like edu benefits)

Currently, jQuery is used in some shared legacy code (src/js/legacy/menu.js and toggle-veterans-crisis-line.js) and for some ajax calls in src/js/

[2016-12-05 14:18] jbalboni opened #4232 "Replace babel-polyfill with ES2015 only core-js polyfills"
We're importing babel-polyfill to polyfill ES2015 features for all browsers, but that polyfill includes polyfills for ES.next features (like observables) as well, which we don't need. It may also include ES5 and ES3 polyfills that the browsers we support do not need.

We should look into replacing babel-polyfill with the just the polyfills from core-js (which babel-polyfill uses under the hood) th

[2016-12-05 14:21] jbalboni opened #4233 "Strip down the CSS used by education benefits"
The size of the CSS file we're serving is pretty big. We should see if we can shrink it by ditching style.sass and just importing what we need.

Related to #4115

[2016-12-05 14:25] jbalboni opened #4234 "Investigate code splitting for education benefits"
Everyone who comes to the education benefits form will start at the introduction page. This page needs very little code to render; just the common dependencies and ~25kb of application code. So, we might be able to improve the speed of the initial page load by defering loading some of the application code (and dependencies like moment.js) until the user starts the form.

Related to #4115

[2016-12-05 14:26] jbalboni opened #4235 "Remove old loading spinner from hca and edu static pages"
We're using the old loading spinner for the spinner that shows up while the React app is booting up. We should use the new spinner and possibly inline it to make the page load quicker.

Related to #4115

[2016-12-05 14:29] jbalboni commented on #3243
We should be able to use the `defer` attribute for the JS. For the CSS, you could try to inline the above the fold CSS (like the header styles), but it's pretty difficult, I think.

[2016-12-05 14:32] jbalboni commented on #3490
Webpack has writing bundles with hash codes in the file name built in. We would need to turn that on and then make a modification to the `metalsmith-webpack` (or give `ms-webpack` a shot) plugin to pass that information as metadata that the templates could use when writing the script tag.

[2016-12-05 14:40] #4111 closed

[2016-12-05 14:40] #4172 closed

[2016-12-05 14:45] cweber commented on #3291
Updated list above.

[2016-12-05 14:47] gnakm opened #4237 "Add dental service for Health detail pages"
We need to add dental services on health detail pages under services the way we have for mental and primary care.

![](https://cloud.githubusercontent.com/assets/13420618/20798563/431c597c-b7ad-11e6-91a5-e19f64d556bd.png)

[2016-12-05 15:40] AnitraAppa commented on #4190
@melwoodard - Sorry, missed this in my inbox on Friday! Will add today.

[2016-12-05 15:57] jbalboni commented on #4230
@crwallace Are there any issues with converting the jquery ajax calls to fetch in src/js/login/containers/Main.jsx?

[2016-12-05 16:01] akainic opened #4239 "Date validation"
Schema validation error occurred when someone tried to enter `20016` for their year. We should prevent years past a certain point (+100 years from current date, perhaps?)

[2016-12-05 16:01] gnakm opened #4240 "Replace back link with breadcrumb"
We're aiming to replace back links in vets.gov and adding detailed information on breadcrumbs.

For facility detail page, could we have it so its:
Home > Facility locator > [Name of facility]
Make sure unicode is `›` `‹` carats, not `<` `>`characters
![](https://cloud.githubusercontent.com/assets/13420618/20801627/8c03e3c6-b7b7-11e6-9f04-01cb80848d38.png)

[2016-12-05 16:25] gnakm opened #4243 "Find all incorrectly spelt MyHealtheVet on Vets.gov"
Please list all the pages on Vets.gov that doesn't spell MyHeath _**e**_ Vet the correct way. Thank you
Related to: https://github.com/department-of-veterans-affairs/kudos-team/issues/272#issuecomment-264897050

[2016-12-05 16:26] gnakm commented on #4243
@AnitraAppa and @melwoodard  for awareness

[2016-12-05 16:31] #3874 closed

[2016-12-05 17:01] gnakm opened #4245 "Contact / directions link consistency"
Right now contact/ directions are looking a little funky with the hover and goes not match the standard text link style.

![](https://cloud.githubusercontent.com/assets/13420618/20801778/f7984a82-b7b7-11e6-9c04-d6a2d089150b.png)

For cleaner look and consistency,
- [x] Make sure number, website and number links are the only ones underlined with text link
- [x] Bold Main number, Mental Health numbe

[2016-12-05 17:46] emilyville commented on #4228
Thanks @crwallace - will chase down the right new breakdown of homepage links today

[2016-12-05 17:56] akainic commented on #4216
Question for Josh if ES can accept foreign military base addresses. Will follow up with him.

[2016-12-05 19:12] akainic commented on #4115
Individual tickets have been created for the issues identified.

[2016-12-05 19:16] akainic commented on #4107
Cannot reproduce and have not seen it again since first occurring, closing for now.

[2016-12-05 19:16] #4107 closed

[2016-12-05 19:57] ayaleloehr opened #4247 "Pop up blocked on "verify your account" link"
Steps to reproduce:
- Go to https://www.vets.gov/profile/
- Click Sign in
- Click Google login (already logged into this google account in this browser, so nothing more needed).  This takes you to the profile page logged in as LOA1.
- Click "verify your account"

Pop up is blocked, as seen below.

![screen shot 2016-12-05 at 2 56 56 pm](https://cloud.githubusercontent.com/assets/4719765/20900115/1

[2016-12-05 20:03] ayaleloehr opened #4248 "2FA code needed twice"
Steps to reproduce:
- Go to https://www.vets.gov/profile/
- Click Sign in
Click Google login (already logged into this google account in this browser, so nothing more needed). This takes you to the profile page logged in as LOA1.
- Click "verify your account"
- Click to allow pop up (blocked pop up tracked in #4247)
- Click Continue to send 2FA code. Enter 2FA code.
- Screen says "Please wait whil

[2016-12-05 20:05] ayaleloehr commented on #4248
Duplicate. Closing in favor of https://github.com/department-of-veterans-affairs/vets.gov-team/issues/482

[2016-12-05 20:05] #4248 closed

[2016-12-05 20:06] emilyville commented on #4228
Chatted with @staceylanger and here are the proposed changes:

in **Popular on Vets.gov** section
- change "View education benefits by school" to "Apply for education benefits" and have it link to the form here: https://www.vets.gov/education/apply-for-education-benefits/

In the **Explore Services and Benefits** Blue Card section
- change the copy on the Health Care card to be as follows:

And se

[2016-12-05 20:10] akainic commented on #4228
Education benefits submissions are going well, haven't had any issues in awhile. We are working through minor UI bugs, but nothing that prevents the user from submitting a form. I am comfortable with directing more traffic to it!

[2016-12-05 20:10] ayaleloehr opened #4249 ""Signing in to vets.gov" pop up stays up indefinitely"
Steps to reproduce:
- Go to https://www.vets.gov/profile/
- Click Sign in
- Click Google login (already logged into this google account in this browser, so nothing more needed). This takes you to the profile page logged in as LOA1.
- Click "verify your account"
- Click to allow pop up (blocked pop up tracked in #4247)
- Click Continue to send 2FA code. Enter 2FA code.
- Click to send 2FA code agai

[2016-12-05 20:11] emilyville commented on #4228
Great! assigning back to @crwallace for moving forward with changes.

[2016-12-05 20:11] jcmeloni commented on #4249
@ayaleloehr Did you enter the same, or the 2nd, 2fa code?

[2016-12-05 20:19] ayaleloehr opened #4250 ""Sign in" link pops up quickly on profile page when logged in"
When a user is already logged in (either LOA1 or LOA3) and they refresh the profile page, the "sign in" and "create account links" pop up briefly before the page automatically moves to the profile page.

This likely won't happen locally when running the API locally as well, as I believe it's an artifact of a slow network connection. The easiest way I have found to replicate this is to throttle you

[2016-12-05 20:20] ayaleloehr commented on #4249
2nd code

[2016-12-05 20:22] jcmeloni commented on #4250
I don't have to throttle my connection at home (it's Comcast...) to see it.  FWIW.

The sign in page also flashes briefly when going to any LOA3-gated application after already having been logged in.  Probably same root cause but leave that up to Courtney to decide/change title if warranted.

[2016-12-05 20:22] jcmeloni commented on #4249
Cool.  Just removing one more variable. :)

[2016-12-05 20:29] ayaleloehr commented on #4250
@jcmeloni it does this for SM today?

[2016-12-05 20:31] jcmeloni commented on #4250
Yes, I observed this at home this morning. I can try it here on my hotspot if you want (not va network, but still a latency-laden network)

[2016-12-05 20:40] #4153 closed

[2016-12-05 20:41] AnitraAppa commented on #4190
[Verify page]
"Need help verifying your identity? Check our Frequently Asked Questions (FAQ)."

Note: Changed this back, to Mel's point about users having trouble with flow returning to this page after fiddling with it. Small tweaks to original text.

[Sign in page]
# Sign in to Your Vets.gov Account
Vets.gov is a new VA website offering online services for Veterans.

To refill a prescription, sen

[2016-12-05 20:55] jcmeloni commented on #4250
Reproduced here.  Click link to "message your provider" (or any of the other gated apps) and get:
* loading your info spinner
* sign in to vets.gov
* lag
* appropriate message about not finding me w/ that info

devtools snippet attached if you can see anything from this, lag-wise

![lag](https://cloud.githubusercontent.com/assets/347178/20902036/4aa10cca-bb03-11e6-9ff7-a7cd3a60b840.JPG)

[2016-12-05 21:07] jbalboni commented on #4085
@markolson What should partial dates look like when sent to the backend? We could have different combinations of month, day, and year. I was thinking that it would make the most sense to have three possibilities:

`YYYY`
`YYYY-MM`
`YYYY-MM-DD`

And maybe `MM-DD`. Not sure if that's ever useful. The other combination is `YYYY-DD`, which doesn't seem helpful beyond the year.

[2016-12-05 21:27] maryannbrody opened #4253 "Update H6 styling -- no more all caps"
Hi!

Can we please update the H6 style to *not* be all caps? All caps are hard for users to read and comprehend (mixed case is better). Happy to send citations if people are curious!

Thanks!

[2016-12-05 21:31] usds-bot opened #4254 "UserVoice Idea: Veterans might as well go back to paper applications"
This website is garbage. I cant get anything to load. Your DS log on system forces users to log on multiple times and get rerouted to the my connection page. Which, if you are trying to manage your education benefits, is infuriating. Trim the fat. stop redirecting everything.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17338660-veterans-might-as-well-go-back-to-paper-applicat

[2016-12-05 22:07] ayaleloehr commented on #4249
Can't reproduce anymore. closing. Feel free to reopen if anyone reproduces.

[2016-12-05 22:07] #4249 closed

[2016-12-05 22:15] koconnor719 commented on #4254
posted:

Thank you for your feedback. Our team will look into this right away.

vets.gov team

@jcmeloni pls. advise on response.

[2016-12-05 22:17] koconnor719 commented on #4216
posted:

Thank you for your feedback. Our team is checking on this.

vets.gov team

[2016-12-05 22:22] koconnor719 commented on #4135
@NatalieEMoore any update on this?  do you need more info?

[2016-12-05 22:23] emilyville commented on #4042
This can be closed because the white bar now has the login info in it instead of being empty. 🇺🇸

[2016-12-05 22:23] #4042 closed

[2016-12-05 22:26] NatalieEMoore commented on #4135
Sorry, somehow missed this.  So we currently don't have Vet centers up on our site but are looking to include them soon!

How our map currently works, it only shows locations in a certain radius and the Martinsburg location is outside the radius of the zip code he entered.  If he zooms out he will eventually see it listed or if he searches for facilities in Martinsburg he will see it.

For specifi

[2016-12-05 22:27] emilyville opened #4257 "HCA notifications bar is way intense, could we make it consistent with edu form?"
Do you think we could treat this notification the same way on both pages? I know that HCA traffic is different - meaning we're sending folks here thinking they might find more and the alert NEEDS to be more prominent, but it's still kind of intense for what we need and I think the way we address is on the EDU form is better and likely just as effective.

Thoughts @melwoodard @staceylanger @akainic

[2016-12-05 22:52] akainic commented on #4257
I'm fine with that!

[2016-12-05 22:56] gnakm commented on #4257
Chiming in per Mel's request.
Yes, I agree that it should be like the HCA one. We made changes for Rx and SM as well. I think keeping that first line bold will help it prominent yet at the same time not so alarming.

<img width="974" alt="screen shot 2016-12-05 at 5 55 39 pm" src="https://cloud.githubusercontent.com/assets/13420618/20905990/1350a5bc-bb14-11e6-9c1d-5530045a6c21.png">

[2016-12-05 23:39] bshyong commented on #4237
@gnakm are dental services always available at all health facilities? If Dental care is listed in the data from the API, it should automatically show up

[2016-12-06 00:15] emilyville opened #4259 "Gray bars causing UI uglies under login"
Wondering if we're still relying on these buttons. If so, maybe we should take another look at how to treat them with the login

If not, maybe we can remove them?

![screen shot 2016-12-05 at 4 07 10 pm](https://cloud.githubusercontent.com/assets/1307774/20907875/c88ec666-bb05-11e6-929c-914be66b626e.png)

Tagging @melwoodard @maryannbrody, @dannychapman ... @suzchap ?

[2016-12-06 00:28] melwoodard commented on #4259
If we need to keep the gray bar, we have some consistency issues to deal with. The L2 for [/disability-benefits](https://www.vets.gov/disability-benefits/) shows the bar, while the L2 for [/education](https://www.vets.gov/education/) does not. If we remove the bar on disability benefits we'll need to surface a CTA to apply somewhere else, perhaps as its own card like education.

On a related note,

[2016-12-06 00:30] dannychapman commented on #4259
@melwoodard Perhaps we could surface a redesign of the search / sign in area too? I'd floated an idea for consolidating those three items onto one row. Something that would help withe the band issue a bit. That said, I'm all for losing the grey band, or at least pushing to the bottom / sidebar only.

[2016-12-06 00:31] dannychapman commented on #4259
Will add screenshots if helpful.

[2016-12-06 13:46] jcmeloni commented on #4254
@koconnor719 That response is correct...please let me know if there is a followup and I will attempt to help.

[2016-12-06 14:18] ayaleloehr commented on #4250
@U-DON any thoughts on how to fix this for Rx / SM?

[2016-12-06 14:30] jcmeloni commented on #881
Closing; there is a message when viewed in IE8: "Your browser is out of date. To use this website, please update your browser or use a different device. "

[2016-12-06 14:30] #881 closed

[2016-12-06 14:34] jcmeloni commented on #1110
@robertfairhead I know you've been doing GA stuff -- is this still an issue and/or something you want tracked? cc @akainic @ayaleloehr

[2016-12-06 14:35] jcmeloni commented on #1111
@jkassemi LMK if you want a different tag on this. Thanks!

[2016-12-06 14:38] jcmeloni commented on #1131
Confirmed still an issue.

[2016-12-06 14:43] robertfairhead commented on #1110
@jcmeloni per alex's comment we already have them in digitalgov search so i don't see a need for them in GA. We used the digitalgov data for search team analysis and it worked fine. I'd suggest closing this out and we can open a new ticket if there's ever a reason to put them into google analytics.

[2016-12-06 14:50] jcmeloni commented on #1110
Perfect!

[2016-12-06 14:50] #1110 closed

[2016-12-06 15:43] #4133 closed

[2016-12-06 15:43] #4180 closed

[2016-12-06 15:43] #4182 closed

[2016-12-06 15:43] #4183 closed

[2016-12-06 15:43] #4185 closed

[2016-12-06 15:43] #4186 closed

[2016-12-06 15:43] #4187 closed

[2016-12-06 15:43] #4188 closed

[2016-12-06 15:44] suzchap commented on #4259
I already recommended we get rid of the green button for disability-benefits so I'm totally good with this decision!

[2016-12-06 15:50] #1707 closed

[2016-12-06 15:53] jcmeloni commented on #2200
@koconnor719 Can we close this?

[2016-12-06 15:54] jcmeloni commented on #2350
@koconnor719 Do we keep these open?

[2016-12-06 16:21] NatalieEMoore commented on #4237
Dental services are not available at all health facilities.  Geobisl is working on refreshing the VHA service data to include dental.  It's currently just at mental health and primary care.  @patrickvinograd has the refresh happened yet?

[2016-12-06 16:24] jcmeloni commented on #2453
These changes appear to have been made and deployed. cc @koconnor719

[2016-12-06 16:24] #2453 closed

[2016-12-06 16:30] jcmeloni commented on #2500
Closing; crisis line is at top of pages. cc @koconnor719

[2016-12-06 16:34] #2518 closed

[2016-12-06 16:39] #4253 closed

[2016-12-06 16:41] jcmeloni commented on #2535
Closing; this text is at the top.

[2016-12-06 16:41] #2535 closed

[2016-12-06 16:41] jcmeloni commented on #2541
@akainic @koconnor719  I think HCA is all good re: GA -- please confirm and I'll close this.

[2016-12-06 16:42] jcmeloni commented on #2542
@akainic Did you add that fine-tuning referenced above such that we can close this? Thanks!

[2016-12-06 16:43] melwoodard commented on #4259
@dannychapman I'd like to see screenshots! I'd floated a similar consolidation idea [here](https://github.com/department-of-veterans-affairs/vets-website/issues/4028), but we punted on it because of some complexity with responsive behavior. We'll also have top-level navigation links in the near future to add to the mix.

To Danny's point, would a persisting button in the sidebar or above the foote

[2016-12-06 16:44] melwoodard commented on #4259
@goldenmeanie @cweber see conversation above - thoughts on whether to keep, remove or modify the "apply for [x]" grey bars?

[2016-12-06 16:44] dannychapman commented on #4259
Do we have any analytics on those buttons?

[2016-12-06 16:47] jcmeloni commented on #2569
@maryannbrody Is there action to take still on this old issue?

[2016-12-06 16:47] jcmeloni commented on #2570
@bethpotts Is there still action you want to take on this old issue? Thanks!

[2016-12-06 16:48] jcmeloni commented on #2597
@ayaleloehr I think this is moot, so closing.  Reopen and smack me if you think that's an incorrect move. Thanks!

[2016-12-06 16:48] #2597 closed

[2016-12-06 16:50] jcmeloni commented on #2634
@crwallace This is still an `a` -- did it get flagged by 508 folks such that you want to change this, or shall we close?

[2016-12-06 16:51] jcmeloni commented on #2670
@MarinaMartin @plusjeff @ayaleloehr Is the content in the vets.gov-team repo re: How We Work (and related) sufficient or shall we keep this open/move it to an issue in the vets.gov-team repo?

[2016-12-06 16:59] jcmeloni commented on #2679
A quick glance shows only a few that need this. I will add this to my list for Courtney of stuff Julie can do right quick.

[2016-12-06 16:59] jcmeloni commented on #2678
@maryannbrody @melwoodard confirming that a decision is still needed on this?

[2016-12-06 17:00] jcmeloni commented on #2681
@melwoodard  confirming that there is still a decision to be made on this?

[2016-12-06 17:03] jcmeloni commented on #2688
@crwallace Not sure what you were referring to here, but I think this might be moot?

[2016-12-06 17:05] emilyville commented on #4259
I am not as interested in analytics, as in usability findings and people seem to look over these buttons in that spot as it looks like a global element rather than an in-page useful thing. I like the treatment that @cweber and @goldenmeanie used for education and I think that would be a better direction!

In addition - we tend to treat this button as bigger than the page (meaning per section) and

[2016-12-06 17:08] usds-bot opened #4267 "UserVoice Idea: Request details"
I like that you have a comment section and someone actually responds (thank you for that.)
I am sorry some folks are bitter and angry. It's mostly because there are few places for them to vent about problems they have with the VA in general. It's hard for them to bifurcate at their local VAMC with what you are doing here.

On your part, you might want to be clearer about the type of feedback you a

[2016-12-06 17:11] jcmeloni commented on #2689
@melwoodard are there still inconsistencies that we need to sweep through, to your mind?

[2016-12-06 17:12] jcmeloni commented on #2695
@crwallace Confirming there are still outstanding needs here?

[2016-12-06 17:12] koconnor719 commented on #2350
Thx Julie I'll close the user voice ones😀😀

Sent with Good (www.good.com)

-----Original Message-----
From: Julie Meloni [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 06, 2016 10:55 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserV

[2016-12-06 17:12] koconnor719 commented on #2350
The user voice research ones stay open until Mary Ann closes

Sent with Good (www.good.com)

-----Original Message-----
From: Julie Meloni [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 06, 2016 10:55 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/v

[2016-12-06 17:14] jcmeloni commented on #2753
@robbiethegeek @crwallace Do we still need to do work on incremental builds?

[2016-12-06 17:15] #2800 closed

[2016-12-06 17:15] alexose commented on #2753
Yes, I would suspect we'll be getting to this in the next week or two.

[2016-12-06 17:16] jcmeloni commented on #2812
No longer happening.

[2016-12-06 17:16] #2812 closed

[2016-12-06 17:20] jcmeloni commented on #2843
@melwoodard Is this old guidance, or does it still represent what you'd like to see? (I think it's old, but didn't want to close without your say so yet).

[2016-12-06 17:22] jcmeloni commented on #2963
@jbalboni Is this something that still needs to be done or was it handled elsewhere? Thanks!

[2016-12-06 17:23] akainic commented on #4259
For what it's worth, education got rid of the gray bar and replaced it with the sticky action box in the right margin: https://www.vets.gov/education/apply-for-education-benefits/. This might be a nice alternative to the gray bar where we want to keep the Apply button?

[2016-12-06 17:23] jcmeloni commented on #2987
@akainic Can't duplicate any more, so closing...

[2016-12-06 17:23] #2987 closed

[2016-12-06 17:26] #3077 closed

[2016-12-06 17:26] cweber commented on #4259
I'm 100% behind getting rid of it.

1. People look past it to the content of the page
2. It's another horizontal bar that we could get rid of to get to content faster
3. It over simplifies the idea of the action and where it should actually take people is complicated and should be different depending on where they are. (e.g. If you are in the Education section on a page for Transferring Benefits a

[2016-12-06 17:26] jcmeloni commented on #3077
Call center folks have received wireframes, demos, videos, and team is in ongoing communication with them.

[2016-12-06 17:27] cweber commented on #4259
To Anne's point. We got rid of it on the main apply page, but it still lingers throughout the Education section as part of the section-wide template.

[2016-12-06 17:28] jcmeloni commented on #3078
@crwallace is there an actionable item here you want to track for vanguard?

[2016-12-06 17:30] jcmeloni commented on #3079
@crwallace Is this something you want to address from a vanguard perspective or keep it in the application teams' buckets?

[2016-12-06 17:30] jcmeloni commented on #3080
@akainic I recall this was perhaps handled elsewhere. Can you confirm?

[2016-12-06 17:31] jcmeloni commented on #3091
@webinista With the merged PR I think this is close-able -- please confirm?

[2016-12-06 17:32] akainic commented on #3080
We haven't made this change yet. @cweber is this still something you want to do?

[2016-12-06 17:33] jcmeloni commented on #3158
@akainic Is this still an open question for you?

[2016-12-06 17:34] jcmeloni commented on #3178
Anchor works now.

[2016-12-06 17:34] #3178 closed

[2016-12-06 17:35] kreek opened #4268 "Sign in link not visible when session expires"
When a user's session expires in Redis the 'Account' and 'Sign Out' links are still displayed but the 'Sign In' link is not.

Steps to reproduce:
1. Login
1. Navigate to /profile
1. Expire the session (in a terminal: `$ redis-cli`, `> DEL your_session_key` or `> FLUSHALL`)
1. The body of the page displays 'Sign in to your Vets.gov Account' but the header does not have a 'Sign In' link.

![screen s

[2016-12-06 17:35] akainic commented on #3158
I think not, this will probably be solved by combining 2 of the chapters into 1, which we have a separate ticket for. I can close this for now.

[2016-12-06 17:35] #3158 closed

[2016-12-06 17:35] jcmeloni commented on #3227
@jbalboni Did this work get done or do you want to keep it open here?

[2016-12-06 17:36] jcmeloni commented on #3235
@crwallace given official browser support levels, what do you want to do here?

[2016-12-06 17:38] jcmeloni commented on #3266
@crwallace Still holding per comment here? https://github.com/department-of-veterans-affairs/vets-website/issues/3312#issuecomment-255442327

[2016-12-06 17:38] koconnor719 commented on #3077
tx julie.

[2016-12-06 17:39] melwoodard commented on #2678
Some fresh conversation on this is happening now in #4259, will close this one out

[2016-12-06 17:39] #2678 closed

[2016-12-06 17:40] koconnor719 commented on #2541
yes.  this is closed from my perspective.  anne, pls. reopen if more items?  or assign directly to dan.

[2016-12-06 17:40] #2541 closed

[2016-12-06 17:41] melwoodard commented on #2843
@jcmeloni old guidance at this point, we're in the midst of revisiting headings with the branding updates.

[2016-12-06 17:41] #2843 closed

[2016-12-06 17:41] jcmeloni commented on #3282
@koconnor719 @maryannbrody @emilyville @AnitraAppa is the content above the content you want to appear on the WIP page? I don't think there's been action to change it. LMK.

[2016-12-06 17:43] koconnor719 commented on #2453
thx julie.

[2016-12-06 17:47] jcmeloni commented on #3305
@jbalboni Still in progress?

[2016-12-06 17:52] koconnor719 commented on #3282
looks great to me!! one minor update--can we pls. include the feedback@va.gov email address for research here?  @maryannbrody i think that's a better call to action than the feedback forum--if they are a Veteran?  will defer to research team:)   thx @AnitraAppa

[2016-12-06 17:54] usds-bot opened #4270 "UserVoice Idea: Online Healthcare Application doesn't work"
This site doesn't work when you're trying to apply online for VA Healthcare!!! I can't get past the contact information page. There is a continue button that highlights when I go over it but when I click the button nothing happens.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17348686-online-healthcare-application-doesn-t-work

[2016-12-06 17:55] jcmeloni commented on #3459
Cannot duplicate.

[2016-12-06 17:55] #3459 closed

[2016-12-06 17:55] jcmeloni commented on #3471
@crwallace Still an issue?

[2016-12-06 17:56] jcmeloni commented on #3490
@crwallace @robbiethegeek What do you think?

[2016-12-06 17:56] melwoodard commented on #2689
Looks like GI tool is the only remaining outlier, I can address this separately with that project.

[2016-12-06 17:56] #2689 closed

[2016-12-06 17:58] emilyville commented on #4259
Here's my suggestion after a quick huddle with Mel:

Short term (this week-ish):
- Remove all top instances of the button, if it's NOT elsewhere on the page move it to be at the bottom of the page. (Often it's on both currently)

Longer term (next few months): Remove all of the bottom ones and treat as the education form has done.

[2016-12-06 18:02] dannychapman commented on #4259
👍

[2016-12-06 18:04] jcmeloni commented on #3540
Closing because can't duplicate, but please reopen if I'm wrong.

[2016-12-06 18:04] #3540 closed

[2016-12-06 18:06] jcmeloni commented on #3542
Confirmed still an issue.

[2016-12-06 18:08] jcmeloni commented on #3602
@akainic I can't figure out where to check this (my bad) - is it still an issue?

[2016-12-06 18:08] melwoodard commented on #4190
Oh, thanks! I like the updates for the sign in language. I was actually just talking about the content for the FAQ link on the sign in page though. I put in the mockup:

"Having trouble signing in or creating an account? See [Frequently Asked Questions (FAQ)](url)".

Based on your updated content for the FAQ link on the verify page, would this work better?

"Need help signing in our creating an ac

[2016-12-06 18:09] jbalboni commented on #2963
Still needs to be done, but @akainic should weigh in on if we still want to do it.

[2016-12-06 18:10] jbalboni commented on #3227
@jcmeloni Still needs to be done.

[2016-12-06 18:11] jbalboni commented on #3305
@akainic Do you think we should still do this?

[2016-12-06 18:11] gnakm commented on #4257
Okay final verdict on this banner. @melwoodard and I thought it would be even better if the banner is right above the apply button, so that users can read it before the call to action.

![artboard](https://cloud.githubusercontent.com/assets/13420618/20937537/5addab2c-bbb5-11e6-81dc-daa8ad5cc224.png)

@akainic Assigning this to you! You can re-assign to whoever you think can best deliver this chang

[2016-12-06 18:19] cweber commented on #3079
This actually just got a second issue ( #4222 ) submitted by our team based on a design review that @melwoodard did.

Happy to consolidate to whichever one is clearer, but I agree that figuring out who needs to have this on their radar is important.

[2016-12-06 18:19] jcmeloni commented on #3688
@akainic see screenshot -- I think what they're saying is that the error message just doesn't make sense in this context: "Entry date must be greater than 15 years of age" .... like maybe it should be something like "You must have been at least 15 years of age at your entry date".  Alternately maybe not do the check until the year == 4 digits?

![screenshot 2016-12-06 13 11 02](https://cloud.githu

[2016-12-06 18:23] cweber commented on #3080
Yes, I think so. But probably worth @goldenmeanie and I taking another look to make sure we're proposing the best alternative.

Generally, any time we can handle the complexity of field entry on behalf of the user, the better the experience will be for them. This applies to the issues we have around accepting different phone formats, but also the potential to format phone/SS entries to look like w

[2016-12-06 18:24] jcmeloni commented on #3779
Closing, dupe of #3780 which is more complete

[2016-12-06 18:24] #3779 closed

[2016-12-06 18:28] patrickvinograd commented on #4237
I don't see Dental Services in VHA data yet. All facilities are blank for the DentalServices attribute.

[2016-12-06 18:28] akainic commented on #4216
@koconnor719: answer from Josh: yes we can accept military addresses. I will create a ticket for us to add this to HCA.

[2016-12-06 18:29] patrickvinograd commented on #4237
This query should start listing facilities when the data is populated.

https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?where=DentalServices%3D%27YES%27&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=&units=esriSRUnit_Meter&outFields=StationName%2C+StationNumber%

[2016-12-06 18:30] melwoodard commented on #3079
@cweber I think it makes sense for the edu team to tackle the fieldset hierarchy issue since you've been working closely with it. The larger discussion / implementation around site-wide patterns can go in the Vanguard bucket.

[2016-12-06 18:32] cweber commented on #3079
👍  I see a future for this to get tackled as we approach the next Edu form(s).

cc @jbalboni

[2016-12-06 18:32] akainic opened #4272 "Add military addresses to Address"
Allow Address component to accept military addresses. Original issue here: https://github.com/department-of-veterans-affairs/vets-website/issues/4216

[2016-12-06 18:32] jcmeloni commented on #3725
@akainic Confirmed still an issue.

[2016-12-06 18:34] jcmeloni commented on #3781
Confirmed still an issue.

[2016-12-06 18:40] jcmeloni commented on #3807
@melwoodard @angel This doesn't seem to be the current style at all (see screenshot) -- is this old/moot or is there a bigger issue happening at the moment?

![screenshot 2016-12-06 13 39 00](https://cloud.githubusercontent.com/assets/347178/20938559/86ec3482-bbb9-11e6-938f-33496459937d.png)

[2016-12-06 18:41] jcmeloni commented on #3808
@angel is this still an issue or did the referenced merged PR take care of what you wanted?

[2016-12-06 18:42] jcmeloni commented on #3821
@koconnor719 Since this is an underlying data issue, do you still want to keep this open for us?

[2016-12-06 18:42] akainic commented on #3688
@jcmeloni yep, I like both of those suggestions. Adding the `health-application` label so it gets tracked in our Waffle board and we can start working on this. Thanks!

[2016-12-06 18:43] jcmeloni commented on #3843
@U-DON Has this been satisfactorily handled or is there more action to take?

[2016-12-06 18:45] robbiethegeek commented on #3490
I think this looks promising as a solution for sure.
I will add this to the list of build optimizations that @aub and @alexose will work on. https://www.npmjs.com/package/metalsmith-webpack
https://github.com/nealgranger/ms-webpack

[2016-12-06 18:47] jcmeloni commented on #3898
@koconnor719 Since this is an underlying content issue w/in VA, do you want to keep this open still?

[2016-12-06 18:48] akainic commented on #3305
Nope, I think we can close this ticket.

[2016-12-06 18:48] #3305 closed

[2016-12-06 18:49] melwoodard commented on #3807
This is on hold for now, pending discussion on the future of the blog & playbook.

[2016-12-06 18:50] akainic commented on #2963
It would be nice to do but definitely not a priority. Probably will be easiest to do once we clean up the validation functions as well. How long are we comfortable keeping a ticket open thinking it will get done at *some* point in the future?

[2016-12-06 18:51] akainic commented on #3602
Yes, still an issue, but we might need more information from Shay on this one. Perhaps @cweber can look into this one?

[2016-12-06 18:54] cweber commented on #3602
Yeah. I can send an email about this. I think I missed whenever this came up, but I think I understand the gist.

[2016-12-06 18:54] jcmeloni commented on #3949
@koconnor719 This has to do with the profile page that it eventually displays for a given school when doing a GIBCT school search. Do you want to keep this open for any future changes to that template?

[2016-12-06 18:55] akainic commented on #4270
@koconnor719 The issue is probably because they entered dashes or parentheses in the phone number. The field currently only accepts numeric digits. However, we are deploying a fix for this this afternoon to accept other characters so it will no longer be an issue.

[2016-12-06 18:55] cweber commented on #3602
Yeah. I can email about this. I think I missed when this question came up, but I think I understand the premise enough to ask the clarifying question.

[2016-12-06 18:56] jcmeloni commented on #3960
@plusjeff This seems like it should be labelled somehow, but not sure how you'd like it.

[2016-12-06 18:58] akainic commented on #3725
Thanks for the ping on this @jcmeloni. Added the right label so it gets tracked in our Waffle board. Perhaps something @jbalboni could take a look at?

[2016-12-06 18:59] jcmeloni commented on #3963
@koconnor719 Not sure who makes the call on this, but if anyone asked me, I would 100% think it needs to stay because it's the uservoice.com TOS which addresses user-generated content. Maybe label it "UserVoice Terms of Service & Privacy Policy" to be super clear?

[2016-12-06 19:04] koconnor719 commented on #3963
ok:)

[2016-12-06 19:18] cweber commented on #3602
Upon writing this email...I should probably double check with you that I understand this.

[2016-12-06 19:25] #3808 closed

[2016-12-06 19:25] #4028 closed

[2016-12-06 19:25] #4033 closed

[2016-12-06 19:25] #4228 closed

[2016-12-06 19:30] emilyville opened #4274 "Remove all gray bars with Apply CTA from top"
Closing this convo over here with the outcome:
https://github.com/department-of-veterans-affairs/vets-website/issues/4259

Remove all top instances of the button inside the gray bar, if it's NOT elsewhere on the page move it to be at the bottom of the page in the green ui element. (Often it's on both at this time, and thencan simply be removed)

[2016-12-06 19:31] MarinaMartin commented on #2670
@jcmeloni I would like to see the team be more transparent to external audiences, especially potential team members.

[2016-12-06 19:33] emilyville commented on #4274
@robbiethegeek / @crwallace / @jcmeloni
I'd love your help in prioritizing this ticket as login stuff has made this a UI problem. That might mean handing it off to individual project teams for implementation, or just having one person go through site wide. Thoughts?

[2016-12-06 19:33] #4027 closed

[2016-12-06 19:34] jbalboni commented on #3725
Yeah, I can take a look. We should be polyfilling Object.assign, though. Maybe it's not imported correctly.

[2016-12-06 19:35] emilyville commented on #4259
closing this issue and making the short term suggestion in a more succinct request here: https://github.com/department-of-veterans-affairs/vets-website/issues/4274

[2016-12-06 19:35] #4259 closed

[2016-12-06 19:35] crwallace commented on #3471
No I think this can be closed because VEC is moving to `vets-website`.

[2016-12-06 19:35] #3471 closed

[2016-12-06 19:36] #4247 closed

[2016-12-06 19:36] akainic commented on #2542
My understanding is that this is already done? I never pushed any fine tuning changes, but I thought it was handled by Bob and Dan's analytics push. @suzchap should be able to confirm?

[2016-12-06 19:41] alexose opened #4276 "Migrate remaining DateInput instances to ErrorableDate"
Per #4271.  ErrorableDate is a much more sane way of handling date input platform-wide.

[2016-12-06 19:46] melwoodard commented on #2681
Yes, thanks!

@crwallace we only need to go a smidge darker to `#004795` for the links to pass compliance. The visual difference is almost imperceptible, so I say we just modify the global link color rather than make a special case for the blue callouts.

[2016-12-06 19:50] AnitraAppa commented on #4190
@melwoodard - Sorry, tried to refresh this when I was kicked offline yesterday and lost my other edits! But yes, that's exactly what I was thinking for the FAQ line. Here's the rest of the changes added in:

# Sign In to Your Vets.gov Account

Vets.gov is a new VA website offering online services for Veterans.

To refill a prescription, send a secure message to your health care provider, or check

[2016-12-06 19:51] jbalboni commented on #3725
@jcmeloni How did you confirm this was still an issue? I've pulled hca up in IE11 on production and locally and don't see any errors on the review page. It might be data specific, so screenshots or what steps you took would be helpful. (cc @webinista)

[2016-12-06 19:54] akainic commented on #2987
Yep, this has been fixed. Thanks!

[2016-12-06 20:00] markolson commented on #4085
The backend takes in whatever is sent, verbatim. The JSON schema currently requires YYYY-MM-DD, but if that's updated to allow different combinations, there's no further requirements.

[2016-12-06 20:00] akainic commented on #4270
@koconnor719 This fix has been deployed!

[2016-12-06 20:00] akainic commented on #4166
@koconnor719 A fix has been deployed for this issue!

[2016-12-06 20:01] emilyville commented on #4257
Awesome! 👍 and for fun also :taco:

assigning to @akainic to reassign and prioritize.

[2016-12-06 20:13] jcmeloni commented on #3970
@akainic confirmed still there

[2016-12-06 20:14] crwallace commented on #2683
Since we are using some custom dropdown styles should we close this @melwoodard ?

[2016-12-06 20:15] suzchap opened #4278 ""visit va.gov" link in header needs white external link icon"
external link icon isn't showing up which makes it look like there's a big space before the period

![image](https://cloud.githubusercontent.com/assets/11219417/20941916/c772d2ce-bbc6-11e6-8cbe-bb921805f01a.png)

[2016-12-06 20:16] jcmeloni commented on #3987
@dannychapman @bethpotts I'm not seeing this issue in production unless I'm looking in the wrong place (possibly!) -- can you confirm if this is still an issue for you?

[2016-12-06 20:16] crwallace commented on #2684
Looks like these checkboxes are working so I will close this.

[2016-12-06 20:16] carlmjohnson commented on #4166
Will this also close https://github.com/department-of-veterans-affairs/vets.gov-team/issues/500 ?

[2016-12-06 20:16] melwoodard commented on #2683
Yes - off the top my my head , the main non-compliant thing here is the GI Bill tool - I can address that separately.

[2016-12-06 20:16] #2683 closed

[2016-12-06 20:18] jcmeloni commented on #3725
@jbalboni I loaded it in IE11 and ran through the app on production and while there are no longer XML errors, the note that "You can't click each panel opened and closed" from the original report is still true.

[2016-12-06 20:19] #4166 closed

[2016-12-06 20:19] koconnor719 commented on #4270
posted and closed:

Thank you for your feedback. This issue has been fixed!

vets.gov team

[2016-12-06 20:19] #4270 closed

[2016-12-06 20:22] dannychapman commented on #3987
@jcmeloni It's not happening on production since this particular combo of content is currently occurring only on a PR / branch that is being worked on. That said, the CSS behind it is still in prod, and this content will be merged soon, so I'd like to keep the issue open for now.

[2016-12-06 20:23] jcmeloni commented on #3992
@bethpotts @dannychapman I spot-checked some of these and it looked like changes had been made -- still need to keep this open?

[2016-12-06 20:24] dannychapman commented on #3992
@jcmeloni Please keep open - @rroueche has this in the works.

[2016-12-06 20:25] koconnor719 commented on #4267
posted and closed.

Thank you for your feedback! We will pass this along to our research team.  Also, if you are a Veteran and would like to participate in our research--this drives how we design vets.gov!--please email us at feedback@va.gov.

vets.gov team

[2016-12-06 20:25] #4267 closed

[2016-12-06 20:25] jcmeloni commented on #4011
@gnakm ping re: note above -- what is the change you want to make?

[2016-12-06 20:26] #4254 closed

[2016-12-06 20:26] jcmeloni commented on #4015
@gnakm @U-DON With the merged PRs, are there actionable items remaining here?

[2016-12-06 20:26] koconnor719 commented on #1473
@NatalieEMoore what is status of this? can i close it?

[2016-12-06 20:28] jcmeloni commented on #4034
@NatalieEMoore @patrickvinograd With the merged PRs indicated above, is there any more work to be done here?

[2016-12-06 20:29] jcmeloni commented on #4035
@rroueche Is this in progress?

[2016-12-06 20:29] suzchap commented on #2542
@jcmeloni As far as I can tell, we still aren't tracking when the VCL menu is toggled open/closed, only when a link is clicked. Maybe I submit that as a new request to the analytics team and we can close this issue?

[2016-12-06 20:30] jcmeloni commented on #2542
@suzchap sounds awesome

[2016-12-06 20:30] jcmeloni commented on #4036
@NatalieEMoore Is this a running open issue you want to keep open?

[2016-12-06 20:32] jcmeloni commented on #4037
@NatalieEMoore Are you keeping this open because you can actually do something about it (I thought we were just beholden to whatever data comes our way), or just as a reminder?

[2016-12-06 20:32] crwallace commented on #4278
This looks like it is happening as well in the footer.

CSS looks like this:
[code]

I think we need to exclude va.gov as well.

[2016-12-06 20:33] jcmeloni commented on #4051
@bethpotts @rroueche Can this be closed? The referenced PR is closed.

[2016-12-06 20:33] jcmeloni commented on #4056
@cweber Can this be closed? There is a PR referenced here that is merged.

[2016-12-06 20:36] maryannbrody commented on #3282
Sounds great! @AnitraAppa -- the message is just that if people are interested in participating in a feedback session to make vets.gov as helpful and as easy to use as possible, they can email feedback@va.gov and a member of our research team may follow up about participating.

Feel free to edit as you see fit! Thanks

[2016-12-06 20:36] cweber commented on #4056
Nope. This is an outstanding issue. We resolved it by turning something off because it was too clunky. This issue is open to remind us that we may need to write a better solution. The goal would be to re-enable close animations once we have a better solution built.

[2016-12-06 20:38] NatalieEMoore commented on #1473
Yes, closing this as I added it to the FL backlog.

[2016-12-06 20:38] #1473 closed

[2016-12-06 20:38] maryannbrody commented on #2569
@bethpotts -- is this stuff tracked in the content repo? If so, please close here so we don't have duplicates.

cc: @rroueche

[2016-12-06 20:38] NatalieEMoore commented on #4036
yes please, I will close it out when it's done!

[2016-12-06 20:39] jcmeloni commented on #4105
@bethpotts @rroueche Can this be closed?

[2016-12-06 20:39] dannychapman commented on #4105
@jcmeloni This is still in progress

[2016-12-06 20:39] NatalieEMoore commented on #4037
reminder for me to work with @jenny-h-l on websites that are wrong in the data.

[2016-12-06 20:39] jcmeloni commented on #4114
@cweber Do you mean a localization file?

[2016-12-06 20:41] NatalieEMoore commented on #4034
I think this can be closed but i'll let @crwallace or @bshyong close it incase I'm wrong.

[2016-12-06 20:42] gnakm commented on #4011
The body copy should be in a 2/3 grid format so that it is consistent with other pages on Vets.gov.
Example:
<img width="1029" alt="screen shot 2016-12-06 at 3 41 45 pm" src="https://cloud.githubusercontent.com/assets/13420618/20942698/8cc955e0-bbca-11e6-90f5-561c4ec144e7.png">

[2016-12-06 20:42] jcmeloni commented on #4105
@dannychapman Ok. Since the issue was about a heroku link that was needed like a week ago, I figured it might have been abandoned.

[2016-12-06 20:43] dannychapman commented on #4105
@jcmeloni WIP content plain language edits are all current and should be kept open for now. Merging soon fingers crossed!

[2016-12-06 20:44] jcmeloni commented on #4124
@ayaleloehr @dannychapman @bethpotts Anything actionable remaining here?

[2016-12-06 20:44] cweber commented on #4114
haha. yes. I really don't think I typed legalization on purpose. I'll edit above.

[2016-12-06 20:46] dannychapman commented on #4124
@jcmeloni Nope, I think we can close this out.

[2016-12-06 20:46] #4124 closed

[2016-12-06 20:58] jbalboni commented on #3725
@jcmeloni On HCA, there are Edit/Next buttons that let you move between panels. Are those what you clicked on? The gray boxes with the title of each section don't open or close the panels (which is confusing).

[2016-12-06 21:00] jcmeloni commented on #3725
@jbalboni The edit/next buttons work (yay) but there is no concept of close/open panels which is what I thought was originally being referenced since we have that pattern elsewhere.

Up to you if you close it as by design or not -- I'm just trying to keep things organized if there IS an issue to work on. :)

[2016-12-06 21:09] jbalboni commented on #3725
Cool. I think this is working as designed, then. We are planning on migrating HCA to the same review page design as the new education form, which does follow that accordion pattern, but I think that's tracked in another issue. We can close this.

[2016-12-06 21:09] #3725 closed

[2016-12-06 21:16] jcmeloni commented on #4276
@alexose Would you mind throwing some labels on here?

[2016-12-06 21:23] aub opened #4279 "Improve build times"
Build times for this project have gotten to be around 15 minutes, and it would be nice to try to speed that up. I've looked into it a little bit, but it would be nice if someone with more experience around JS tooling could take a crack at it. Some avenues I found that might be worth exploring:

* [Parallelize Nightwatch](#4282)

* [Discovery of browser startup during E2E](#4283)

[2016-12-06 21:24] bshyong commented on #4034
This issue will be automatically closed once this PR is merged in with a couple of other Facility Locator styling changes https://github.com/department-of-veterans-affairs/vets-website/pull/4275

[2016-12-06 22:46] emilyville commented on #3282
Any thoughts on keeping it in the header or making that copy shorter? I'd love to bump it down to the footer or somewhere lower on the page, potentially as an alert only on the homepage.

[2016-12-06 22:47] cweber commented on #3602
Confirmed:

"only people who have selected Post 9/11-GI Bill or MGIB-AD should be able to select 'Tuition-assistance top-off' as an option."

[2016-12-06 23:08] cweber commented on #4226
@goldenmeanie How much do you love tables? ....cause those tables need love. Min-width is the least of it.

![screen shot 2016-12-06 at 6 07 24 pm](https://cloud.githubusercontent.com/assets/417657/20947815/f29117d2-bbde-11e6-936c-0427045859ae.png)

[2016-12-06 23:11] U-DON commented on #3843
There is more action to take, and both Rx and SM need to handle this case.

[2016-12-06 23:39] U-DON commented on #4015
Yes, there are still multiple other changes I need to make before this can be closed.

- [x] Submitting a refill
- [ ] Sending a message
- [ ] Deleting a message
- [ ] Moving a message
- [ ] Creating a folder
- [ ] Deleting a folder

[2016-12-06 23:42] AnitraAppa commented on #3282
@koconnor719 @maryannbrody - Good call! Edited:

### More to come
To make vets.gov as useful and accessible as possible, we're building this site with lots of feedback from Veterans like you. We add new things one at a time to see what Veterans think before we add more. We hope to have all vets.gov services up and running by Spring 2017. If you have feedback, please email us at feedback@va.gov.

*

[2016-12-06 23:50] AnitraAppa commented on #3282
@emilyville Just saw your other comment -- +1 to moving this down to the bottom of the page. If we want to make it shorter, I could take out the 2017 line, but I think the other copy should stay.

[2016-12-06 23:53] AnitraAppa commented on #3282
Edited - removed 2017 line:

### More to come
To make vets.gov as useful and accessible as possible, we're building this site with lots of feedback from Veterans like you. We add new things one at a time to see what Veterans think before we add more. If you have feedback, please email us at feedback@va.gov.

**Want to help?**
All of our front end design resources are open source and [available on

[2016-12-07 03:18] koconnor719 commented on #3282
Awesome! Ty😀

Sent with Good (www.good.com)

-----Original Message-----
From: Anitra Appa [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 06, 2016 06:54 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Update text on "Work in Progress" pa

[2016-12-07 13:50] #4171 closed

[2016-12-07 16:08] akainic commented on #4197
We are tackling this issue in: https://github.com/department-of-veterans-affairs/vets-website/pull/4271.

[2016-12-07 17:22] suzchap commented on #2542
@jcmeloni ok, I submitted a request for this via the analytics slack channel and Dan Hoicowitz said he'd create a ticket. So I think you can close this now.

[2016-12-07 18:58] robbiethegeek opened #4282 "Implementation - Parallelize Nightwatch"
Nightwatch supports running multiple tasks in parallel, however when I turned that on the tests started failing. I'm not sure what caused the failures, but it did seem to speed thing up a little.

[2016-12-07 19:01] robbiethegeek opened #4283 "During e2e tests browser may be starting up for each test."
There's some logging during the test execution that made me think maybe the headless browser or the connection to it is being bootstrapped with each spec. If that's the case, hopefully we could make it only happen once.

[2016-12-07 19:07] jcmeloni commented on #2542
thanks!

[2016-12-07 19:07] #2542 closed

[2016-12-07 19:50] alexose commented on #4279
The biggest improvement we could make to the non-E2E part of the build would be to implement [this plugin](https://github.com/mzgoddard/hard-source-webpack-plugin), which I've discussed a bit in #2753.

Another thing I would advise is that anybody testing out the build process should **fork the repo to their personal account, and set up a (free!) Travis account under their own name**.  With long b

[2016-12-07 19:55] kreek opened #4285 "User endpoint hit twice on /profile"
It seems like two components on that 'page' are making the call to `/user` is this expected? Could we cache the first response on the client side?

`v0/sessions/new?level=1` is also called twice returning identical SAML `authenticate_via_get` urls so this could also be cached. Does this need to happen on every page? or ever if a user is logged in already?

[2016-12-07 19:59] aub commented on #2753
This would help out locally but wouldn't affect build times on Travis/Jenkins right, since they start from scratch each time?

[2016-12-07 20:01] aub commented on #4279
FYI, the static asset creation process is less than a third of the total time for a full build, with the E2E tests taking the longest chunk of time, followed by the 508 tests.

[2016-12-07 20:03] #4278 closed

[2016-12-07 20:03] alexose commented on #2753
The big win would be adding this plugin and caching its results with Travis's build cache feature.

Where it gets tricky is figuring out exactly when to invalidate it.  There are a few moving parts, and it requires some understanding of what webpack is doing behind the scenes...

I was thinking about a naive approach like "see if it builds successfully from cache, if not, try again from scratch".

[2016-12-07 20:05] aub commented on #2753
That makes me pretty nervous for a production build. Presumably it could fail to invalidate something that changes the site in some bad way but still allows the build to pass right?

[2016-12-07 20:13] alexose commented on #4279
You beat me to it :)

Specific numbers:

| Task  | Time |
| -- | -- |
| Install Dependencies | ~80s |
| Build | 3m 22s |
| Unit | 40s |
| E2E | 4m 44s |
| 508 | 3m 1s |

[2016-12-07 20:27] #4034 closed

[2016-12-07 20:27] #4184 closed

[2016-12-07 20:27] #4240 closed

[2016-12-07 20:42] alexose commented on #2753
Well, it would be relying on the tests to catch breaking changes.  I would be fine with turning off all caching for production builds, though, since it's really the builds within PRs that are the big pain point.

[2016-12-07 20:50] #2681 closed

[2016-12-07 21:04] alexose commented on #4282
I dug into this a little more-- There's only one test that [fails](https://travis-ci.org/department-of-veterans-affairs/vets-website/jobs/182083399#L1878), and even that one [doesn't fail all the time](https://travis-ci.org/department-of-veterans-affairs/vets-website/jobs/182083400):

`test/disability-benefits/e2e/01.claim-status.e2e.spec   ✖ Expected element <.five.last.step.section-current> to b

[2016-12-07 21:15] usds-bot opened #4289 "UserVoice Idea: 22-1990 Military History Error"
When completing the 22-1990 form in section 3 regarding the Military History it will not accept any future separation date. This will not work for those still on active duty. Please resolve issue. Thank you.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17362633-22-1990-military-history-error

[2016-12-07 21:43] robbiethegeek commented on #2753
I think that doing this locally would have an impact on developer happiness, but if we can't affect dev and prod builds I think the ROI isn't high enough to prioritize before other build performance issues.

[2016-12-07 22:03] leannammiller opened #4291 "Improving Form Building"
what's the simplest implementation of a react form we can think of (for a developer) -

given what we know a form should do, (ie validation, structure, conditional logic, chapters and pages, questions, etc.) what's the simplest form-specific implementation to create new ones.

next steps:
define what changes we'd need to make and do cost-benefit analysis and make a decision

by end of day friday,

[2016-12-07 22:48] #3498 closed

[2016-12-07 22:56] jbalboni commented on #4291
These are some specific pain points off the top of my head that an ideal solution should cover:

- Boilerplate/brittle logic when specifying a component (e.g. passing down update actions, validation  logic/messages)
- Urls for form pages used in several places (uiState, routes file, some components, validation)
- Moving a form field involves multiple changes that are easy to forget

[2016-12-08 00:29] lihanli commented on #4107
this error happened again on Dec 7, 2016 4:08:00 PM UTC for someone using Safari
sentry error: http://sentry.vetsgov-internal/vets-gov/platform-api-production/issues/304/

[2016-12-08 03:36] usds-bot opened #4294 "UserVoice Idea: Status Tracker."
Would like to have the status tracker for applications like ebenefits has. Makes it easier to keep track of when I applied for certain things

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17365606-status-tracker

[2016-12-08 12:53] usds-bot opened #4295 "UserVoice Idea: New Account"
I set up my account and found it to be easy and fast. I found the driver's license ID the fastest and simple.  suggestion, place a white plain paper under the license so the picture comes out perfect.  Thank you.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17368645-new-account

[2016-12-08 13:36] aub commented on #4291
Some use cases that the ideal solution would need to be able to solve:

* Dependencies between form elements, form sections, etc
* Custom validations
* Plugging default values into the form from some data source
* Custom design and copy for the page elements around the form
* Event-based sending of form data to the backend to enable partial saves, also loading that data in
* Specifying how the dat

[2016-12-08 13:40] aub commented on #4291
I think it would also be worth taking some time to research whether there are existing solutions we could use or at least steal concepts from. I did a quick google search for React form builders, and it seems like there are some attempts at the full UI solution but they seem way too simplistic for our needs. I'd be pretty surprised to learn that nobody has attempted to make a set of reusable/custo

[2016-12-08 13:46] koconnor719 commented on #4295
posted and closed:

Thank you for your feedback.  That is great to hear!  The vets.gov account has the highest level of security; VA is one of only a few U.S. Government accounts with a level of assurance (LOA) 3 certification.   Protecting Veteran data and privacy continues to be a top priority of VA.   If you are a Veteran and would like to participate in our user research, which drives the desi

[2016-12-08 13:46] #4295 closed

[2016-12-08 13:48] koconnor719 commented on #4294
posted and closed:

Thank you for your feedback.  Our team will add this to our user research and see what other Veterans think!  If you would like to participate in our Veteran user research, which drives the design of vets.gov, please contact our team at feedback@va.gov.

vets.gov team

[2016-12-08 13:48] #4294 closed

[2016-12-08 13:50] koconnor719 commented on #4289
pls. advise on response @akainic

[2016-12-08 13:53] koconnor719 commented on #2917
@akainic can you pls provide status?

[2016-12-08 14:12] leannammiller commented on #2917
@koconnor719 we are moving to vets-api and it will be fixed as soon as that's complete

[2016-12-08 14:13] leannammiller commented on #4289
this is in progress @koconnor719. see https://github.com/department-of-veterans-affairs/vets-website/issues/4073

[2016-12-08 14:19] akainic commented on #4289
@koconnor719 We are actively working on a fix for this, should be done this week.

[2016-12-08 14:35] cweber opened #4297 "<tds> aren't wrapping correctly in review tables"
The second `<td>` in tables is not wrapping consistently in the review tables. In some cases it looks  'fine'. In others it's refusing to wrap and increasing the container size of whatever it's in.

Looks fine:
![screen shot 2016-12-08 at 9 26 32 am](https://cloud.githubusercontent.com/assets/417657/21013854/82a650e4-bd29-11e6-89d2-6f4d5b688177.png)

Does not look fine:
![screen shot 2016-12-08 at

[2016-12-08 14:37] koconnor719 commented on #4289
Awesome.  No rush, just wanted status:)  thx

From: Julie Meloni <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/vets-website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, December 8, 2016 at 9:19 AM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com<mailto:vets-website@noreply.github.com>>

[2016-12-08 15:17] rroueche commented on #4051
@jcmeloni and @bethpotts I believe this is done, closing!

[2016-12-08 15:18] #4051 closed

[2016-12-08 15:27] #4221 closed

[2016-12-08 17:11] cweber opened #4298 "Buttons are too large when header wraps on narrow screens"
![screen shot 2016-12-08 at 12 10 38 pm](https://cloud.githubusercontent.com/assets/417657/21019672/5e9d39fe-bd3f-11e6-8a40-dfab25d0e6f3.png)

[2016-12-08 17:15] cweber opened #4299 "Field labels / data should be stacked on mobile"
Labels/data are too squeezed on mobile. They should be stacked on narrow screens.

This might require rebuilding as a definition list `<dl>`

![screen shot 2016-12-08 at 12 13 26 pm](https://cloud.githubusercontent.com/assets/417657/21019826/e9168982-bd3f-11e6-9645-10c12160e23a.png)

[2016-12-08 17:32] usds-bot opened #4300 "UserVoice Idea: Excellent Customer Service"
Deloris is a true standout at the VA office for educational benefits. She provided accurate valuable information this morning during a phone call. This isn't always the case when I call VA, however people like Deloris provide hope that things are on an upward trend at veteran's affairs. Continued blessings, thank you much.

v/r
CPT Tate

http://veterans.uservoice.com/forums/330333-vets-gov/suggest

[2016-12-08 17:59] #4073 closed

[2016-12-08 18:09] lihanli opened #4302 "validation error in serviceAcademyGraduationYear"
`Form The property '#/serviceAcademyGraduationYear' did not have a minimum value of 1900, inclusively in schema 6d3ac55d-0966-5868-be2d-0f1191776ce9#`
happened on Dec 8, 2016 5:22:28 AM UTC

[2016-12-08 18:12] leannammiller commented on #4239
@jbalboni can you please jump on this now that the RAD stuff is done?

[2016-12-08 18:13] leannammiller commented on #4302
@jbalboni adding you to this, too

[2016-12-08 20:21] robbiethegeek commented on #4282
- new config done
- still broken tests

[2016-12-08 20:57] cweber commented on #3133
Closing. I think this has evolved into our conversation about multi-forms. But it's interesting to see how long ago we started searching for a solution to clarify that point of confusion!

[2016-12-08 20:57] #3133 closed

[2016-12-08 21:08] cweber commented on #3789
Closing. This is being handled at a global level by #4274.

[2016-12-08 21:08] #3789 closed

[2016-12-08 21:08] alexose commented on #4282
^^^ That.

The failing tests are a bit tricky to debug, but I'm making progress.  Should be fixed EOD if I had to guess.

[2016-12-08 21:11] cweber commented on #3790
Seems to be fine. Closing.

[2016-12-08 21:11] #3790 closed

[2016-12-08 21:12] cweber commented on #3791
@jbalboni Did this get taken care of during all of the date updates?

[2016-12-08 21:16] cweber commented on #4210
Modal styling is being considered at a global level and this is a temporary solution anyway. We may not even have this modal by the time a solution comes in.

[2016-12-08 21:16] #4210 closed

[2016-12-08 22:22] typesend commented on #3960
_Recent discussions have generated a number of proposed enhancements. Comments welcome._

### Data Previewing
- A "preview mode" feature will be implemented in the React app.
  - A url param determines the version of the data to display.
  - There will be an obvious visual indication that preview mode is active and showing which version of data is being served.
  - Just like the Preview app, the i

[2016-12-08 23:04] patrickvinograd commented on #3960
I'm on board with this with the possible exception of the copying data from GIDS to vets-api tables and the triggering mechanism for that. With the AWS restriction that the foreign data wrapper must point to the same db instance (see linked devops issue), I wonder how much performance is an issue.  Could GIDS just update an "active_version" table and vets-api read that to determine which data to s

[2016-12-09 00:04] usds-bot opened #4309 "UserVoice Idea: Why is this so hard?"
Unable to verify my account for Vets,gov.  I established an ID.me account using my DS Login.  The page does not update when I select ""verify your account".   I am using Google Chrome on an iMac (OS 10.12.1) and connecting from Thailand.   You need to make registration not so difficult or technical.  I help many elderly vets who find the Internet frustrating and confusing.  This process is no diff

[2016-12-09 00:20] usds-bot opened #4310 "UserVoice Idea: Verification of ID fail!"
I have a DS Premium account and you still ask credit report questions and my SSN?  Seriously?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17376412-verification-of-id-fail

[2016-12-09 00:20] usds-bot opened #4311 "UserVoice Idea: Your input fields are too limited"
Verification will not accept a foreign (not US) phone number.   25 mins into the verification process and not complete.  PS - I have a MA in Computer Information and Systems Management.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17376388-your-input-fields-are-too-limited

[2016-12-09 00:20] usds-bot opened #4312 "UserVoice Idea: Veterans live overseas too!"
Your verification does not accept PO Boxes?  I use an APO!!

Your verification does not accept foreign addresses!  I do NOT live in the US.  Over 100,000 veterans live overseas.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17376355-veterans-live-overseas-too

[2016-12-09 00:20] usds-bot opened #4313 "UserVoice Idea: Verification of ID not working!"
You need to specify the document types you accept for  ID verification.  I scanned my Passport as a PDF.  Your system will not upload that file.  I had to re-scan the document as JPEG.  I am 20 mins into the verification process and not complete.  I suggest you have someone over 45 years old check your website for functionality.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/173

[2016-12-09 01:20] jbalboni opened #4314 "Consider removing moment.js in favor of date-fns"
Related to #4115

Moment.js is a pretty big dependency and we're not using most of it. We could consider using [date-fns](https://date-fns.org/), which lets you pull in just the date functions you need.

[2016-12-09 01:20] jbalboni commented on #4115
The next steps are in the Eng meeting notes above, and the tickets referenced. Closing this.

[2016-12-09 01:20] #4115 closed

[2016-12-09 02:16] jbalboni commented on #4289
The fix for this went out in today's deployment.

[2016-12-09 03:54] koconnor719 commented on #4313
@jcmeloni pls adivse on response

[2016-12-09 03:55] koconnor719 commented on #4312
@jcmeloni pls advise on response

[2016-12-09 03:55] koconnor719 commented on #4311
@jcmeloni pls advise on response

[2016-12-09 06:38] typesend commented on #3960
@patrickvinograd Good points. GIDS and vets-api are developed and deployed independently, though. We lose that property of the system if we start sharing tables directly. A GIDS schema change could break the entire GIBCT until the vets-api schema is also updated.

That said, I am open to serving Preview data out of the GIDS foreign tables because it is low traffic and errors there shouldn't be abl

[2016-12-09 12:55] jbalboni commented on #3791
@cweber No, not yet, though I did see the note on the other issue (which is still in progress).

[2016-12-09 13:34] cweber commented on #3791
No rush. I was just cruising issues I'd started and figured this was a candidate for having been done, but not closed.

[2016-12-09 13:35] rroueche commented on #3992
On hold as we research whether it's possible to develop a solution -- PR #4293. Right now (with metalsmith) there's no way to override breadcrumb names, which are pulled from the folder name.

[2016-12-09 13:37] rroueche commented on #2570
@bethpotts I'm scheduling a meeting for us with Mikki wherein we'll discuss this plus other IA + Content alignment topics. Putting on hold until we have that conversation.

[2016-12-09 14:16] leannammiller opened #4316 "investigate building multiple forms in a single react app"
output of this will be PR

[2016-12-09 14:22] leannammiller opened #4317 "what steps do you take when you add a question to a form?"
document these steps and try to minimize

[2016-12-09 14:41] leannammiller commented on #4224
are they using a different component?

[2016-12-09 14:43] leannammiller commented on #4223
related to https://github.com/department-of-veterans-affairs/vets-website/issues/3080

[2016-12-09 14:45] leannammiller commented on #4222
I think this is something that @crwallace and team can be involved in.

[2016-12-09 14:45] usds-bot opened #4318 "UserVoice Idea: Have on-line ability to change address"
I have moved over 8 years ago and have tried to find a place to change address.  Where is it?

Thank you.  William M. Sport

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17381500-have-on-line-ability-to-change-address

[2016-12-09 14:57] leannammiller commented on #4197
@koconnor719, this change has been deployed

[2016-12-09 14:59] leannammiller commented on #4122
we will break this down into more tickets, will revisit w/o 12/19

[2016-12-09 14:59] leannammiller commented on #4114
to discuss in 12/12 sprint planning

[2016-12-09 15:09] leannammiller commented on #3791
@jbalboni confirming that this will be taken care of in the other issue - can we close this one?

[2016-12-09 15:10] leannammiller commented on #3675
@alexose - could you give an update on this?

[2016-12-09 15:18] leannammiller commented on #3080
to discuss in sprint planning 12/12

[2016-12-09 15:47] koconnor719 commented on #4197
Yeah!

Sent with Good (www.good.com)

-----Original Message-----
From: leannammiller [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, December 09, 2016 10:06 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: 22-1990 Help (#4197)

@koc

[2016-12-09 15:49] koconnor719 commented on #4197
Can u update the other issue from Caitlin too? I mentioned u in it

Sent with Good (www.good.com)

-----Original Message-----
From: leannammiller [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, December 09, 2016 10:06 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-aff

[2016-12-09 15:59] akainic commented on #4289
@koconnor719 Fix went out yesterday if you want to respond with that information!

[2016-12-09 16:05] koconnor719 commented on #4289
Awesome!!

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, December 09, 2016 11:00 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: 22-1990 Military History

[2016-12-09 17:19] alexose commented on #3675
We weren't able to recreate the bug that @cweber noticed, but the review component is fixed.  Closing!

[2016-12-09 17:19] #3675 closed

[2016-12-09 18:28] jcmeloni commented on #4313
Possible response, please adjust as you see fit:

"Thank you for your feedback!  We are working with our partners to ensure instructions for the identify proofing process are clear during all steps of the process so that users can move through the process more efficiently.   If you are a Veteran and would like to participate in our user research and usability testing, which drives the design of ve

[2016-12-09 18:30] #4302 closed

[2016-12-09 20:47] #4239 closed

[2016-12-09 22:56] alexose opened #4326 "Warn devs if not using correct versions of node and npm"
We're using slightly out-of-date versions of node and npm.  This is fine, but it's possible that devs will run into subtle compatibility issues.

Given that `.nvmrc` doesn't handle npm, it might be helpful to do a quick version check as part of `npm run build` or `npm run watch`.

[2016-12-10 00:00] bshyong commented on #4237
I now see that there are some facilities showing up in the ArcGIS link above. Are they supposed to automatically show up under services["health"] or do we need to add them to a whitelist?

For example Togus VA Medical Center shows up in the ArcGIS link but the facility object from vets-api does not have Dental Services

https://api.vets.gov/v0/facilities/va/vha_402

[2016-12-10 00:40] patrickvinograd commented on #4237
They are purposefully not showing up - we need to whitelist them. This was by request of @NatalieEMoore so she could coordinate with stakeholders before the data started showing up.

@NatalieEMoore let me know when we can flip the switch for dental.

[2016-12-10 15:50] usds-bot opened #4329 "UserVoice Idea: Replicate"
Is the intent to incorporate all the information, layout and functionality of eBenefits within vets.gov so that eventually eBenefits will be retired?  If so, the current updates that are occurring within eBenefits have started to increase its functionality and make it more intuitive.  I believe the simple layout provides a sleek feel but could vets.gov incorporate widgets within the layout. As a v

[2016-12-11 20:20] usds-bot opened #4330 "UserVoice Idea: fix"
I hit the green button  title "Get Started" and nothing happens. The page is call verify your identity with id.me

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17399836-fix

[2016-12-12 13:49] jcmeloni commented on #4312
Possible response, please adjust as you see fit:

"Thank you for your feedback! We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.  At this time, we are not yet able to provide this highest level of assurance to Veterans using PO Boxes or foreign addresses, but we are working hard to be able to provide this

[2016-12-12 13:50] jcmeloni commented on #4311
Possible response, please adjust as you see fit:

"Thank you for your feedback! We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.  At this time, we are not yet able to provide this highest level of assurance to Veterans using foreign phone numbers, but we are working hard to be able to provide this ability