[2016-12-12 14:09] jcmeloni commented on #4310
Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certifica

[2016-12-12 14:20] jcmeloni commented on #4309
Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it if you would

[2016-12-12 14:24] jcmeloni commented on #4330
Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty getting started on the path to verifying your account. When you click the "Get Started" button, a pop-up window should appear. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it if you would try again.  In the meanti

[2016-12-12 15:22] leannammiller opened #4331 "Schedule Back End Discovery Meetings"
Shay
Matt Spears
Chris Merino
Back End
Kelly
Leanna
Anne

[2016-12-12 16:16] leannammiller commented on #4216
will be addressed in https://github.com/department-of-veterans-affairs/vets-website/issues/4272

[2016-12-12 16:26] crwallace commented on #4222
I think this will be addressed in the new template/redesign efforts.

[2016-12-12 16:44] leannammiller commented on #4222
@crwallace i'll keep this open until this is confirmed. do you mind updating when this is a solid yes?

thanks!

[2016-12-12 17:23] melwoodard opened #4332 "Change outline button default background to transparent"
Issue moved from https://github.com/department-of-veterans-affairs/sunsets-team/issues/265

Change the default background of `.usa-button-outline` from white to transparent.

From claim status issue above:

<img width="685" alt="transparent_backgrounds_ _issue__265_ _department-of-veterans-affairs_sunsets-team" src="https://cloud.githubusercontent.com/assets/4106356/21109083/5a21b408-c04c-11e6-9fb

[2016-12-12 17:27] melwoodard commented on #4332
cc @jbalboni @suzchap to test claim status once this has been implemented.

cc @goldenmeanie @cweber @akainic we're making transparent button background a global change since all the apps are overriding the default white background, so you shouldn't need to make a styling change specific to Edu.

[2016-12-12 18:00] lihanli opened #4334 "daterange validation error"
Form The property '#/postHighSchoolTrainings/0/dateRange/from' value "96-01-XX" did not match the regex '^(\d{4}|XXXX)-(0[1-9]|1[0-2]|XX)-(0[1-9]|[1-2][0-9]|3[0-1]|XX)$' in schema 2c174352-90a4-5edd-988b-b2d311f687d5#, Form The property '#/postHighSchoolTrainings/0/dateRange/to' of type String did not match any of the required schemas. The schema specific errors were:

- oneOf #0:
    - The proper

[2016-12-12 18:02] lihanli commented on #4334
similar error:

Form The property '#/postHighSchoolTrainings/0/dateRange/from' value "10-08-23" did not match the regex '^(\d{4}|XXXX)-(0[1-9]|1[0-2]|XX)-(0[1-9]|[1-2][0-9]|3[0-1]|XX)$' in schema 2c174352-90a4-5edd-988b-b2d311f687d5#, Form The property '#/postHighSchoolTrainings/0/dateRange/to' of type String did not match any of the required schemas. The schema specific errors were:

- oneOf #0:

[2016-12-12 18:20] akainic commented on #4289
@koconnor719 not sure if you wanted to send a follow up message to this one letting them know that we have fixed the issue? If not we can close this.

[2016-12-12 18:30] U-DON opened #4337 "Rx E2E test"

[2016-12-12 18:47] usds-bot opened #4338 "UserVoice Idea: Problem Submitting Education Benifits application"
I'm not able to submit my education benefits application. My name is Matthew Riley and my e-mail address is mriley84kg@gmail.com

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17408833-problem-submitting-education-benifits-application

[2016-12-12 18:57] carlmjohnson commented on #4338
Adding @akainic to help triage.

[2016-12-12 19:10] leannammiller commented on #4316
PR to review - seen in Github

@akainic and anyone who is interested in FE, @lihanli @markolson

[2016-12-12 19:11] leannammiller commented on #4291
linked to jeff's proof of concept

[2016-12-12 19:11] leannammiller commented on #4316
@aub

[2016-12-12 19:12] leannammiller commented on #3012
@jbalboni will review and coordinate with @akainic

[2016-12-12 19:17] leannammiller commented on #4114
this fits with improved form building

[2016-12-12 19:18] leannammiller commented on #4291
Validation errors are hard to keep in sync with form and review language while they're embedded. Consider pulling them out into a localization file

[2016-12-12 19:18] #4114 closed

[2016-12-12 19:22] leannammiller commented on #3080
more conversation needed

[2016-12-12 19:23] aub commented on #4291
@leannammiller where's the proof of concept?

[2016-12-12 19:31] webinista commented on #3235
My $.02: we can close this, and just not use grid layouts until they're supported without prefixes. Fallbacks IME tend to add bloat, and we're not creating layouts that _need_ to use the grid.

[2016-12-12 19:34] webinista commented on #3091
Can't close yet. This task is to refactor the `ConfirmRefillModal` component to use the common modal component instead.

[2016-12-12 19:37] #4226 closed

[2016-12-12 19:38] leannammiller commented on #4224
there is an issue to update this globally, retest when global change is made

[2016-12-12 19:43] leannammiller opened #4340 "PLACEHOLDER: Backend Discovery"

[2016-12-12 19:44] jbalboni commented on #4291
@aub There's a semi-related PR where we're looking at how to build multiple forms in one React app: #4320

[2016-12-12 19:46] aub commented on #4291
Got it, thanks @jbalboni I just gave it a review.

[2016-12-12 19:49] crwallace commented on #4285
So this is a byproduct of the fact that each app is using a different store.

The `<SignInProfileButton/>` gets loaded on every page and hits `v0/sessions/new?level=1` for the login url and stores it in `commonStore`.

The `/profile` endpoint also loads two main components: `<RequiredLoginView/>` and `<UserProfileApp/>`. The `<RequiredLoginView/>` hits `v0/sessions/new?level=1` for the login url a

[2016-12-12 19:56] leannammiller opened #4341 "add stats tracking for submissions"

[2016-12-12 19:58] leannammiller commented on #4272
will be solved by common edu component

[2016-12-12 19:58] #4272 closed

[2016-12-12 20:16] jbalboni commented on #4291
Interesting links:
https://github.com/mozilla-services/react-jsonschema-form
https://github.com/tannerlinsley/react-form?utm_source=reactnl&utm_medium=email
https://github.com/christianalfoni/formsy-react

[2016-12-12 20:18] leannammiller commented on #4341
@lihanli do you mind putting a size on this, please?

[2016-12-12 20:23] #4331 closed

[2016-12-12 20:32] akainic commented on #4338
@koconnor719 can we ask for additional information from this user about what is preventing them from submitting? Did they get stuck on a particular page? If so, which page? Or did they see an error message at the very end of the application when clicked "Submit"? What browser were they using? Could they provide a screenshot of the page where they became stuck? Thank you!

[2016-12-12 20:43] leannammiller opened #4343 "Add usage to list of education forms"

[2016-12-12 20:43] koconnor719 commented on #4338
Sure!!!

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, December 12, 2016 03:34 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Problem Submitting Educati

[2016-12-12 20:57] usds-bot opened #4344 "UserVoice Idea: I click on Employment Center and get a missing page error"
Here is the link - https://www.vets.gov/veterans-employment-center

Page states: Can't find that page.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17410327-i-click-on-employment-center-and-get-a-missing-pag

[2016-12-12 21:04] jbalboni commented on #4317
1. Add the field to the veteran object in utils/veteran.js.
2. Add the field to the veteranToApplication function in veteran.js if necessary.
3. Add the field to the list of fields for its page in reducers/uiState.
4. Add the field to the component for its page and choose the correct common form element component and the correct validation.
5. Add the validation to utils/validations.js for the cor

[2016-12-12 21:05] jbalboni commented on #4317
@akainic Did I miss anything?

[2016-12-12 21:08] ayaleloehr commented on #4344
Link is https://www.vets.gov/employment/

If we want automatic redirecting, please talk to the devops team (the redirect used to be there, but doesn't look like it is anymore).

[2016-12-12 21:12] #4334 closed

[2016-12-12 21:13] jbalboni commented on #4291
List of steps for adding/removing a question: #4317

[2016-12-12 21:17] leannammiller opened #4345 "Update 1995 outline for devs with feedback from discovery"
hand off to front end to begin development

[2016-12-12 21:22] leannammiller opened #4346 "confirm next form(s) on the list for education benefits"
(we think it's 1990E)

[2016-12-12 21:27] leannammiller opened #4347 "generate outline of x education form"
as soon as leanna confirms next form

[2016-12-12 22:08] jbalboni commented on #4291
One incremental change could be to make the veteran object into more of a form config object:

Now each field looks like:

[code]

We could do something like:

[code]

You could keep important text in here, as well as the validation configuration. You could pass this to a React component and have it render based on the data. You could also have validation functions use it and then you wouldn't hav

[2016-12-12 22:13] usds-bot opened #4348 "UserVoice Idea: 22-1990 Error"
I am a school certifying official for the VA Education. Some of the veterans are having a hard time apply for their benefits when it comes to section 7. If they do not have a bank account they cannot complete the direct deposit information which is required. Some veterans want a check mailed to them again since they do not have a bank account. Please consider adding another option to mail funds. T

[2016-12-13 00:31] webinista opened #4349 "Change prescriptions modal title color?"
In light of department-of-veterans-affairs/messaging-fe#197, should the prescription name change colors as well?

![screen shot 2016-12-12 at 4 29 49 pm](https://cloud.githubusercontent.com/assets/354277/21122654/69e8b508-c088-11e6-8644-3b79e52c1fbc.png)

If the answer is "no," it's safe to just close this issue.

[2016-12-13 01:38] webinista commented on #4134
Closed with 7e8a52d

[2016-12-13 01:38] #4134 closed

[2016-12-13 13:33] #3330 closed

[2016-12-13 14:51] koconnor719 commented on #4348
pls advise on response

[2016-12-13 14:59] koconnor719 commented on #4344
posted and closed:

Thank you for your feedback. The correct link is:  https://www.vets.gov/employment/ .

vets.gov team

[2016-12-13 14:59] #4344 closed

[2016-12-13 15:00] koconnor719 commented on #4338
@carlmjohnson pls. don't assign the user voice tics:)  thx.

[2016-12-13 15:03] koconnor719 commented on #4338
Posted:

Thank you for your feedback. We can't replicate this error.  Can you provide our team needs  a little more information please?  What exactly is preventing you from submitting? Did you get stuck on a particular page? If so, which page? Did they see an error message at the very end of the application when clicked "Submit"? What browser are you using? Could you please provide a screenshot of

[2016-12-13 15:04] koconnor719 commented on #4330
Posted and closed.

Thank you for your feedback! We are sorry that you have experienced difficulty getting started on the path to verifying your account. When you click the "Get Started" button, a pop-up window should appear. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, we will continue to work with

[2016-12-13 15:04] #4330 closed

[2016-12-13 15:05] koconnor719 commented on #4330
thx @jcmeloni that was an awesome response!

[2016-12-13 15:10] koconnor719 commented on #4313
posted and closed:

Thank you for your feedback! We are working with our partners to ensure instructions for the identify proofing process are clear during all steps of the process so that users can move through the process more efficiently. If you are a Veteran and would like to participate in our user research and usability testing, which drives the design of vets.gov, please contact our team at

[2016-12-13 15:10] #4313 closed

[2016-12-13 15:12] koconnor719 commented on #4312
posted and closed:

Thank you for your feedback! We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. At this time, we are not yet able to provide this highest level of assurance to Veterans using PO Boxes or foreign addresses, but we are working hard to be able to provide this ability as soon as possible. If

[2016-12-13 15:12] #4312 closed

[2016-12-13 15:13] leannammiller commented on #3602
hey @cagedcrown - we'll do the front end walk-thru tomorrow and then get you started on this one.

[2016-12-13 15:13] koconnor719 commented on #4311
Posted and closed:

Thank you for your feedback! We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. At this time, we are not yet able to provide this highest level of assurance to Veterans using foreign phone numbers, but we are working hard to be able to provide this ability as soon as possible. If you are

[2016-12-13 15:13] #4311 closed

[2016-12-13 15:14] koconnor719 commented on #4310
posted and closed.

Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certification for your identity. If you

[2016-12-13 15:14] #4310 closed

[2016-12-13 15:16] koconnor719 commented on #4309
posted and closed:

Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, we w

[2016-12-13 15:16] #4309 closed

[2016-12-13 15:19] koconnor719 commented on #4289
posted and closed.

Thank you for your feedback. This is now fixed!

vets.gov team

[2016-12-13 15:19] #4289 closed

[2016-12-13 15:20] cagedcrown commented on #3602
@leannammiller Sounds good!

[2016-12-13 15:20] koconnor719 commented on #4197
posted and closed.

Thank you for your feedback. This issue has been fixed!

vets.gov team

[2016-12-13 15:20] #4197 closed

[2016-12-13 15:25] akainic commented on #4348
Here's a possible response @koconnor719 :

"Thank you for providing this feedback. Direct deposit information is not required in order to submit the application, so if the veteran does not have a bank account they do not need to complete this section. There are instructions at the top of the direct deposit page for an alternate solution to receiving their education benefits. If they do not have a

[2016-12-13 15:28] koconnor719 commented on #4348
posted and closed:

Thank you for providing this feedback. Direct deposit information is not required in order to submit the application, so if a Veteran does not have a bank account they do not need to complete this section. There are instructions at the top of the direct deposit page for an alternate solution to receiving their education benefits. If they do not have a bank account, VA will pay

[2016-12-13 15:28] #4348 closed

[2016-12-13 15:48] jenny-h-l commented on #3708
@koconnor719 : without more information, there isn't much to recommend. Person doesn't even say where they get care. Could be that there are no VA dermatologists nearby so Veteran is wanting to go to a non-VA clinician. No way to know if any of the dermatologists near him/her even take VA patients.  Or, maybe the Veteran wants to visit the dermatologist at a VA clinic near him/her but that dermato

[2016-12-13 16:05] usds-bot opened #4356 "UserVoice Idea: Education Benefits Submit Application Inoperable"
Clicking Submit Application (Form 22-1990 on the review application page) gives no results, no action, and no confirmation page. Tried several times using internet explorer and also google chrome browsers on a windows computer, and tried using safari on an iphone, all do nothing, no response. I don't know if my application has even submitted. :(

http://veterans.uservoice.com/forums/330333-vets-go

[2016-12-13 16:37] usds-bot opened #4358 "UserVoice Idea: Optionsl verification methods"
How about using your ebenefits login methods in order to login. Ds logon, my pay login.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17419192-optionsl-verification-methods

[2016-12-13 16:38] goldenmeanie commented on #4347
There are draft outlines for all the forms.

[2016-12-13 16:42] goldenmeanie commented on #4224
Global issue is #4332

[2016-12-13 16:42] #4224 closed

[2016-12-13 17:02] gnakm commented on #4190
Just to review and make sure I am up to speed, these are the following issue effected by this:

- [ ] [Profile page](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/514#issuecomment-266569279)
- [ ] Sign in/Verification gates
- [ ] I[D.me Login](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/509#issuecomment-266580391) -- as we plan to add an FAQ/ hel

[2016-12-13 17:26] akainic commented on #4356
This is really strange, that they didn't even see an error message. Tagging @jbalboni and @markolson. What additional information would be useful to diagnose this issue? Perhaps at least the time they tried to submit? Not sure we can ask for them for all the form data they submitted, though that seems helpful for this case.

Perhaps we can at least ask for their name to look on our side if the app

[2016-12-13 18:18] markolson commented on #4356
Without the time or something more identifiable than the type of browser they used, I'll be digging around in the dark. We're still getting some errors around the post-hs trainings, but those should be surfacing an error message when the submission fails.

[2016-12-13 18:20] jcmeloni commented on #4358
@koconnor719 i got this. stay tuned.

[2016-12-13 18:23] akainic commented on #4356
Yep, maybe we can at least ask for their name and as close to an exact time as possible that they tried submitting. Also ask if they saw any error message on the Review page after trying to Submit (would be below the Submit button). This might be too much to ask of them, could we ask if they saw any console errors?

[2016-12-13 18:51] markolson commented on #4356
I'd be uncomfortable asking any user for console errors if they didn't offer them up themselves, as web inspectors and such can be sort of intimidating. It also can't hurt to re-confirm that they didn't see any error message on the submit page.

[2016-12-13 18:58] #4143 closed

[2016-12-13 19:04] akainic commented on #4356
Yep, okay, that makes sense. The other thing that might be going wrong is that there is incomplete information (missing required fields), in which case the "Submit Application" button would be gray. We should really provide more helpful feedback to the user if this is ever the case (unlikely that it would be, but you never know...). @jbalboni

[2016-12-13 19:07] jbalboni commented on #4356
Yeah, this sort of sounds like the submit button being disabled. It might be useful to show some kind of validation error indication on the review page so a user can find the issue.

[2016-12-13 19:10] akainic commented on #4356
How's this for a response for now?

"Thank you so much for your feedback. We would like to make sure we fix this issue for you! In order to identify the cause of the problem you are experiencing, we need some additional information:

1. When you try to click on the "Submit Application" button on the Review page, what color is the button? The button must be blue in order for it to be clickable. If

[2016-12-13 19:10] gnakm commented on #4349
@webinista Yes could we change the color here as well?

My rationale being that on mobile, a user might click on it by accident, losing place on the site and in general haven't seen the need to go to a detail page from this point.

Could we make sure field text patterns follow this: https://github.com/department-of-veterans-affairs/vets-website/issues/4143

[2016-12-13 19:11] markolson commented on #4356
That's a good response, and we should definitely save it as a template to use in the future!

[2016-12-13 19:12] akainic commented on #4356
Great! @koconnor719 above is the response we'd like to send to this user!

[2016-12-13 20:02] #4085 closed

[2016-12-13 20:22] #4298 closed

[2016-12-13 22:14] #4170 closed

[2016-12-13 22:28] #4341 closed

[2016-12-13 22:36] akainic opened #4365 "Add privacy agreement to Edu Benefits"
We need to add a privacy agreement to the end of the form right before submit (at the bottom of the Review page). The following is needed:
- [x] We need to include a checkbox with language along the lines of "I have read and accept the privacy agreement" (final language still to be drafted).
- [x] Below the checkbox needs to be a link to the privacy policy, which also needs to be written and added

[2016-12-13 22:37] akainic opened #4366 "Add privacy agreement to HCA"
We need to add a privacy agreement to the end of the form right before submit (at the bottom of the Review page). The following is needed:
- [x] We need to include a checkbox with language along the lines of "I have read and accept the privacy agreement" (final language still to be drafted).
- [x] Below the checkbox needs to be a link to the privacy policy, which also needs to be written and added

[2016-12-14 02:24] jcmeloni opened #4368 "Add Vets.gov Privacy Policy"
This is a high priority (EOD 14 Dec 2016) need initiated by VA Privacy Office.  Please see https://github.com/department-of-veterans-affairs/vets.gov-ato/issues/226 for history.

The action items here are to:
- [ ] Create static privacy policy page on Vets.gov
- [ ] Link to Vets.gov privacy policy in footer of Vets.gov

The content of this privacy policy is under review.  When the review is comple

[2016-12-14 05:19] #4142 closed

[2016-12-14 08:48] usds-bot opened #4371 "UserVoice Idea: cant submit form 22-1990"
I am trying to submit a form 22-1990 and the site will not let me submit it. If I keep hitting the submit button, nothing happens.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17426689-cant-submit-form-22-1990

[2016-12-14 14:38] usds-bot opened #4373 "UserVoice Idea: Broken "Confirm Account" button in Chrome"
Doesn't work in Google Chrome (broken "confirm your account button", developer mode in chrome says it's an issue with one of the scripts on the page) In Edge, you have to disable popup blocker (recommend add a notification). The "id.me" process is great for millennials, and I was able to figure it out, but I recommend seamless integration with DS Logon. Older veterans will have a VERY hard time re

[2016-12-14 15:19] #4297 closed

[2016-12-14 16:02] jbalboni commented on #4291
I've been thinking more about this and I think [redux-form](http://redux-form.com/6.3.1/) fits our requirements pretty well. I think we should look into using that or implementing some similar concepts. The main downside I see is that it will a little harder to unit test.

[2016-12-14 16:19] aub commented on #4291
@jbalboni so redux-form seems like it implements a lot of the plumbing for us, with hooks for handling dependencies and validations. Does that sound accurate? It looks pretty nifty.

I think we already have components for many of the field types, so how would we replace our existing components with the redux-form:

`<Field name="firstName" component="input" type="text"/>`

Would we make a componen

[2016-12-14 16:19] jcmeloni commented on #4368
@crwallace Attached is the approved language. It's all in Word right now. LMK if you need it out in txt or md.
[vets_gov_pp_FINAL.docx](https://github.com/department-of-veterans-affairs/vets-website/files/652222/vets_gov_pp_FINAL.docx)

[2016-12-14 17:08] akainic commented on #4371
Do you think this user is encountering the same issue as here: https://github.com/department-of-veterans-affairs/vets-website/issues/4356?

[2016-12-14 17:10] usds-bot opened #4375 "UserVoice Idea: Get Started button"
The 'Get Started' button doesn't work. There doesn't seem to be a hyperlink embedded in this button.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17430925-get-started-button

[2016-12-14 17:12] #4368 closed

[2016-12-14 17:18] jcmeloni commented on #4368
@ShawnArnwine Deployment scheduled for today at 3pm.

[2016-12-14 17:30] markolson commented on #4371
I almost hope so, but there's no way to tell without frontend error reporting, or knowing if our error messages aren't clear or visible enough.

[2016-12-14 18:08] usds-bot opened #4377 "UserVoice Idea: Education Benefits Submit Application Inoperable"
Clicking Submit Application (Form 22-1990 on the review application page) gives no results, no action, and no confirmation page. Tried over eight times during the day using Internet Explorer and also Google Chrome browsers on a Windows computer; tried using Safari on an iPhone as well as MacBook Pro - all on different networks, all do nothing, no response to clicks. I don't know if my application

[2016-12-14 18:24] webinista commented on #3091
Just added a PR that _will_ close this

[2016-12-14 18:40] usds-bot opened #4379 "UserVoice Idea: Broken"
What a pile of ****. Nothing works. Can't get verified. Website is the steamy **** you'd expect from the VA

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17432005-broken

[2016-12-14 19:00] bshyong commented on #3978
@gnakm what is the default sort on this list?

[2016-12-14 19:02] jcmeloni commented on #4358
Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be

a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon

Premium account, so that we may ensure a level of assurance (LOA) 3 certifi

[2016-12-14 19:03] U-DON commented on #3978
@bshyong I presume it would be prescription name, but the component should be taking the same sort values from the state that're being passed to the original card view anyway (and the default there is also prescription name).

[2016-12-14 19:06] jcmeloni commented on #4373
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are working with our partners to ensure the process for the identify proofing process works seamlessly during all steps of the process so that users can move through the process more efficiently.  We have identified and are working on the pop-up issues that you also identified, but the error you describ

[2016-12-14 19:09] koconnor719 commented on #4373
awesome!  thx julie!!!

[2016-12-14 19:18] jcmeloni commented on #4375
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty creating and verifying your account. When you click the "Get Started" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciat

[2016-12-14 19:22] jcmeloni commented on #4379
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.  For specific help with identity p

[2016-12-14 19:47] gnakm commented on #3978
@bshyong Exactly what Eugene said. Card is prescription name, so list view should be as well.

[2016-12-14 20:11] usds-bot opened #4382 "UserVoice Idea: identity"
how do i verify my identity I submitted my license and answer question and still can't get thru

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17432914-identity

[2016-12-14 20:37] koconnor719 commented on #4379
deleted for inappropriate language. happy to respond to negative feedback--but no offensive language.

[2016-12-14 20:37] #4379 closed

[2016-12-14 20:37] akainic commented on #4377
This must be the same user as here: https://github.com/department-of-veterans-affairs/vets-website/issues/4356.

@koconnor719 can we please reply with this response:

"Thank you so much for your feedback. We would like to make sure we fix this issue for you! In order to identify the cause of the problem you are experiencing, we need some additional information:

1. When you try to click on the "Su

[2016-12-14 20:38] koconnor719 commented on #4375
posted and closed
Thank you for your feedback! We are sorry that you have experienced difficulty creating and verifying your account. When you click the "Get Started" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, w

[2016-12-14 20:38] koconnor719 commented on #4375
julie these responses are so helpful.  ty!

[2016-12-14 20:38] #4375 closed

[2016-12-14 20:40] koconnor719 commented on #4377
posted:

Thank you for your feedback. We would like to make sure we fix this issue for you! In order to identify the cause of the problem you are experiencing, we need some additional information:

1. When you try to click on the "Submit Application" button on the Review page, what color is the button? The button must be blue in order for it to be clickable. If the button is gray, it means it is d

[2016-12-14 20:41] koconnor719 commented on #4373
posted and closed.

Thank you for your feedback! We are working with our partners to ensure the process for the identify proofing process works seamlessly during all steps of the process so that users can move through the process more efficiently. We have identified and are working on the pop-up issues that you also identified, but the error you described in Chrome is a new one that we will invest

[2016-12-14 20:41] #4373 closed

[2016-12-14 20:43] koconnor719 commented on #4358
posted and closed:

Thank you for your feedback! The vets.gov account has the higher level of security that your current DS Logon account. Protecting Veteran data and privacy continues to be a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certif

[2016-12-14 20:43] #4358 closed

[2016-12-14 20:58] usds-bot opened #4384 "UserVoice Idea: Unable to "Submit Application" for Form 22-1990"
Unable to "Submit Application" for education benefits (form 22-1990). The website does not respond regardless of platform (PC or smartphone).

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17433376-unable-to-submit-application-for-form-22-1990

[2016-12-14 20:58] usds-bot opened #4385 "UserVoice Idea: Unable to "submit application" for education benefits"
The site will not let you submit the Education Benefits Application. When you click on "Submit Application", nothing happens.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17433319-unable-to-submit-application-for-education-benef

[2016-12-14 21:05] koconnor719 commented on #4385
@akainic pls. advise

[2016-12-14 21:09] koconnor719 commented on #4385
Anonymous commented on Education Benefits Submit Application Inoperable
I can elaborate on this as well, since it just happened to me.
1) The "Submit Application" button was blue.
2) There was no error message, the button animates to show it was clicked, then the site does nothing (much like if you didn't click the button at all.
3) I did not refresh the page at any point.
4) My name is David Shus

[2016-12-14 21:25] usds-bot opened #4387 "UserVoice Idea: Make the site buttons user friendly for Apple products."
I am using an iPad and the site will not allow me to verify my account

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17433616-make-the-site-buttons-user-friendly-for-apple-prod

[2016-12-14 21:27] jcmeloni commented on #4366
@akainic confirmed 👍 on staging!!

[2016-12-14 21:31] jcmeloni commented on #4365
@akainic confirmed 👍 on staging!

[2016-12-14 22:14] usds-bot opened #4390 "UserVoice Idea: ID"
I don't like having to give my driver lances to get into the site you should ask for VA card

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17434156-id

[2016-12-15 02:28] usds-bot opened #4395 "UserVoice Idea: Fire your application designers"
Absolutely worthless application. This site loops me into a continuous verification process. I rate this about as highly as the other VA portal. Zero. Clearly "good enough for governor work" is the new VA slogan.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17435968-fire-your-application-designers

[2016-12-15 13:23] usds-bot opened #4396 "UserVoice Idea: submit application inop"
I cannot submit my application for the educational benefits. I have tried three different computers and locations, so it is the website. I get all the way through the application and the submit button does nothing.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17439859-submit-application-inop

[2016-12-15 13:28] jbalboni commented on #4317
I think this is done.

[2016-12-15 13:28] #4317 closed

[2016-12-15 13:40] jbalboni commented on #4291
@aub Yep, that's accurate.

I'm still thinking about the best way to write input components using it. What we have now with components like `ErrorableTextInput` are components with inputs and labels, whereas the redux-form `Field` component is a wrapper for just the input field part. So we would need to build components like `ErrorableTextInput` that used `Field` in their implementation or update

[2016-12-15 13:52] usds-bot opened #4397 "UserVoice Idea: Veterans need an official and direct means to file grievances. The VA employees are getting away with blocking us from earned benefits."
I'm 100% T&P but denied VocRehab Independent Living at DORN VA by a civilian employee, Alethea Harry. Her explanation for denial was that we could not find a plan that could help me. That is ridiculous since I provided her with many things/programs that could help. I've been going in circles to resolve but it's as-if my emails are a waste of time. I'm a Medically Retired Marine Corps Personnel Off

[2016-12-15 14:16] jenny-h-l opened #4398 "facility locator mapping St. Petersburg, FL to Manhattan"
From Jenny Heiland-Luedtke:

When I type

St. Petersburg, FL

OR

Saint Petersburg, FL

In the “Enter Street, City, State or Zip” box on the locator, I get results in Manhattan. Verified on more than one browser and with a colleague in the office.

[2016-12-15 15:16] jcmeloni commented on #4382
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. For specific help with identity pr

[2016-12-15 15:19] jcmeloni commented on #4387
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account on an iPad.  We have tested on iPads and iPhones with success in the past.  Here is a thought -- when you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This wind

[2016-12-15 15:23] jcmeloni commented on #4390
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.  At this time, we are not able to

[2016-12-15 15:24] jcmeloni commented on #4395
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. For specific help with identity pr

[2016-12-15 15:39] gnakm opened #4400 "Add facility type back in detail page"
Currently, `Facility type` is not viewable on the detail page. Could we add this back?

<img width="356" alt="screen shot 2016-12-15 at 10 38 17 am" src="https://cloud.githubusercontent.com/assets/13420618/21230331/a0a0d7b6-c2b2-11e6-9d33-57b222423c2e.png">

[2016-12-15 15:43] bshyong commented on #4398
This might be a little out of our control because we are using a 3rd party for the reverse geocoding—translating search strings into coordinates. It looks like `saint petersburg, florida`, `st. petersburg, florida`, `saint petersburg`, and `st petersburg` all work but including the abbreviation FL does not

[2016-12-15 15:46] NatalieEMoore opened #4401 "Changing wording around access to care."
We need to make an immediate wording change on the facility locator. The wording around Access to Care Data needs to change it to Satisfaction Score.

From @koconnor719 talking to Martin.

[2016-12-15 15:49] koconnor719 commented on #4401
Thx Natalie

Sent with Good (www.good.com)

-----Original Message-----
From: Natalie Moore [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, December 15, 2016 10:47 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] [department-of-veterans-affairs/vets-website] Changing wording around access to care

[2016-12-15 16:03] jenny-h-l commented on #4398
@bshyong : are you saying that only FL for florida is broken or all 2 character state abbreviations are broken?

[2016-12-15 17:24] patrickvinograd commented on #4398
It's just FL, and just st. petersburg (or just certain cities). For example, Miami, FL works fine. I think our only recourse is to report a bug to mapbox. Ben, I think you'd be in the best position to do so given that you know how you are using their API.

[2016-12-15 17:42] U-DON commented on #4250
I haven't encountered this lately, so I don't have an idea of what's causing it yet.

[2016-12-15 18:19] bshyong commented on #4398
I will file an issue with the Mapbox team

[2016-12-15 18:21] jbalboni opened #4402 "Login related errors from Google Analytics"
We were looking in GA and found some errors that look login related coming up in the edu-benefits bundle: https://analytics.google.com/analytics/web/#report/content-event-events/a50123418w128717608p132469923/%3F_u.date00%3D20161215%26_u.date01%3D20161215%26_r.drilldown%3Danalytics.eventCategory%3AJavaScript%20Error%2Canalytics.eventAction%3Ahttps%3A%2F%2Fwww.vets.gov%2Fgenerated%2Fedu-benefits.ent

[2016-12-15 18:21] jbalboni commented on #4402
FYI @crwallace

[2016-12-15 18:52] bshyong commented on #4146
@gnakm are there mock ups for what this looks like?

[2016-12-15 19:45] #4365 closed

[2016-12-15 19:50] akainic commented on #4396
@koconnor719 we have deployed a fix for this issue! We can ask the user to try again.

[2016-12-15 20:03] #4343 closed

[2016-12-15 20:03] #4346 closed

[2016-12-15 20:24] usds-bot opened #4404 "UserVoice Idea: Get started button isn't working"
Get started button isn't working

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17444473-get-started-button-isn-t-working

[2016-12-15 21:45] usds-bot opened #4406 "UserVoice Idea: **** website"
You want me to verify my ID, however your site is **** and will not continue past, "GET STARYED". WTF! Robert H. Barron III

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17445523--website

[2016-12-15 22:12] usds-bot opened #4407 "UserVoice Idea: After verifying I am still not able to see my claim status..."
I am in a loop with id.me, when I check my claim status, your website sends me to id.me. I verify everything successfully, I even have my Ssn and a picture of my id. After everything  has been verified correctly shouldn't I be sent back to this site and access to my claim status?  Somebody tell me this a known problem that is being worked on.

http://veterans.uservoice.com/forums/330333-vets-gov/s

[2016-12-15 22:54] U-DON opened #4408 "Standardize loading messages for Rx"
Loading prescriptions (both in "Refill prescriptions" and "History"): "Loading your prescriptions..."

Loading prescription detail: "Loading your prescription..."

Submitting refill: "Submitting your refill request..."

[2016-12-15 22:56] U-DON commented on #4408
@gnakm Just wanted to confirm the actual wording on the loading messages. Let me know if the above are not what they should be.

Currently, there's an inconsistency where the loading of prescriptions are in the format of "is loading your prescription(s)...", and the refill submission is as written above, but the work for this issue will fix that.

[2016-12-15 23:02] gnakm commented on #4408
@U-DON Thanks for this.

What you have is correct:
Loading prescriptions (both in "Refill prescriptions" and "History"): `Loading your prescriptions...`
Loading prescription detail: `Loading your prescription...`
Submitting refill: `Submitting your refill request...`

I filed an issue somewhere. May have gotten lost or closed about taking all of the `is` and making sure all the messages end with `

[2016-12-15 23:03] alexose opened #4409 "Use electron in place of phantomjs"
Not only is PhantomJS not being super actively maintained, it is also [notably slower](https://github.com/segmentio/nightmare/issues/484) than Electron.

It should be pretty straightforward to swap PhantomJS with Electron without having to change the tests much.  However, due to subtle differences, we will have to repair some failing tests.

[2016-12-15 23:04] alexose commented on #4409
New implementation is up and being tested on the `e2e-electron` branch.

[2016-12-15 23:06] alexose commented on #4409
I've noticed two things that cause Electron to fail in places where Phantom didn't:

1) Click events require that the clicked element isn't overlapped by any other element.  This is good to fix anyway.

2) Our smooth scrolling plugin causes some timing issues.  I think this is because Electron is so much quicker to load pages.  Anyway, I've implemented a way to override smooth scrolling for our E2

[2016-12-15 23:07] alexose commented on #4409
All tests are passing locally but continue to have issues in the Travis environment.  The good news is that it's at least [25% faster](https://travis-ci.org/alexose/vets-website/jobs/184390855#L2290) with a lot more room for improvement.

[2016-12-15 23:09] alexose commented on #4282
Sorry, forgot to post an update on this.

I ended up focusing on the [switch to Electron](https://github.com/department-of-veterans-affairs/vets-website/issues/4409) and making the tests less brittle overall.  Will return to this as soon as `e2e-electron` is merged.

[2016-12-15 23:27] U-DON commented on #4408
@gnakm Yup, these should be the only pages/actions that have latency. Glossary isn't loaded from the API, so it won't need a loader.

[2016-12-16 01:31] gnakm opened #4411 "Prescription list sorting for desktop and mobile"
After the prescriptions design/ux audit with the core team, we discussed the same issue you guys brought up in this [PR about rx list view](https://github.com/department-of-veterans-affairs/vets-website/pull/4391) of how the sort option is not consistent. Mobile is missing ascending/descending option.

Changes:
`Last submit date` --> `Submit date   `
`Last fill date` --> `Fill day`
Next to each dr

[2016-12-16 01:35] gnakm opened #4412 "List view missing fill date"
<img width="738" alt="screen shot 2016-12-15 at 8 34 15 pm" src="https://cloud.githubusercontent.com/assets/13420618/21248570/e0ff39d0-c305-11e6-9a3b-d078a4ab067d.png">

We need to add a fill date column for Rx refill list view.

[2016-12-16 01:37] U-DON commented on #4411
@gnakm I'm confused by what 'Newest to oldest' or 'Oldest to newest' are supposed to mean in the context of 'Prescription name' and 'Prescription status', which are text fields (not dates). And is the one that's selected of those links supposed to be bolded?

[2016-12-16 01:40] U-DON commented on #4412
The mock in #4411 has 'Last submit date' and 'Last fill date' rather than 'Submit date' and 'Fill date'. Which one should it be?

[2016-12-16 01:59] gnakm commented on #4411
@U-DON You bring up a good point. Here is my brain dump in the order of what I prefer most to least. Would love to hear your thoughts from a technical perspective!

**Option A**
Have all the ones with dates (submit, fill) show `Newest to Oldest` | `Oldest to Newest`
and ones with names (prescription name, facility, status) show `A-Z` | `Z-A`

I prefer this option because there is a way higher chan

[2016-12-16 02:06] gnakm commented on #4411
Also, some of the mocks here say "Last submit... last fill." Please ignore those. Option A, B, and C all suggest that we now have the choice to see things in ascending and descending order, so take out anything that says last!

[2016-12-16 02:07] gnakm commented on #4412
This mock is accurate. We should take out `last`.

[2016-12-16 02:22] #4015 closed

[2016-12-16 05:33] usds-bot opened #4413 "UserVoice Idea: Big green button doesn't work iOS"
Your button to proceed to verify your account doesn't work. I cannot even finish the final log in. Might want to look into why when I push the big green button it doesn't go anywhere. The one that says have license information or passport.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17449282-big-green-button-doesn-t-work-ios

[2016-12-16 14:35] akainic commented on #4385
@koconnor719 Please let the user know that we have deployed a fix for this issue and it should be resolved again! They should try to submit their application again.

[2016-12-16 14:38] akainic commented on #4371
@koconnor719 please let the user know that we have a deployed a fix for this issue and it should be resolved! Let them know that they can try to submit again.

[2016-12-16 14:40] akainic commented on #4338
@koconnor719 Please let the user know that we have a deployed a fix for this issue and it should be resolved now!

[2016-12-16 14:41] akainic commented on #4356
@koconnor719 Please let the user know that we have deployed a fix for this issue and it should be resolved now!

[2016-12-16 14:41] akainic commented on #4377
@koconnor719 Please let the user know that we have deployed a fix for this issue and it should be resolved now!

[2016-12-16 14:42] akainic commented on #4384
@koconnor719 Please let the user know that a fix has been deployed for this issue and it should be resolved now!

[2016-12-16 14:53] jcmeloni commented on #4413
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Verify Your Account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it

[2016-12-16 14:56] jcmeloni commented on #4406
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Get Started" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it if you w

[2016-12-16 14:59] jcmeloni commented on #4404
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Get Started" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it if you w

[2016-12-16 15:27] leannammiller commented on #3602
@cagedcrown how is this going?

[2016-12-16 15:28] leannammiller commented on #4316
@jbalboni - is this correct?

[2016-12-16 15:29] #4347 closed

[2016-12-16 15:30] leannammiller commented on #4234
@jbalboni do you mind estimating effort here?

[2016-12-16 15:32] cagedcrown commented on #3602
This is still in progress and I'll try to finish today.

[2016-12-16 15:40] #4366 closed

[2016-12-16 15:42] leannammiller commented on #4291
@leanna schedule follow up .5 hour

[2016-12-16 15:43] leannammiller commented on #3012
@akainic is working on this

[2016-12-16 15:50] leannammiller commented on #4345
@goldenmeanie you did this, correct?

[2016-12-16 15:51] leannammiller commented on #3227
@jbalboni should this be pushed to next sprint?

[2016-12-16 15:56] akainic commented on #4216
Will be addressed by https://github.com/department-of-veterans-affairs/vets-website/issues/3227

[2016-12-16 15:57] leannammiller commented on #3791
@jbalboni confirming that this will be taken care of in the other issue - can we close this one?

[2016-12-16 16:06] leannammiller commented on #4216
when this fix is done, we will alert @koconnor719 for her closure

[2016-12-16 16:39] jbalboni commented on #3791
@leannammiller No, this is still valid. It was mentioned in another issue, but I left it out of that one because the changes were already complicated.

[2016-12-16 17:14] bshyong commented on #4411
@U-DON Let me know if you have any preference for any of the implementation options. I wanted to take a look at some Secure Messaging issues today to get more familiar with that app and will probably tackle this next.

[2016-12-16 17:57] #4316 closed

[2016-12-16 17:59] jbalboni commented on #3227
The changes here are:

- Move the edu benefits Address component to common/
- Add an optional line 3 to the component
- Update the HCA veteranToApplication function to reformat the address to one that matches the schema and/or work with Mark to change the format on the backend.

[2016-12-16 18:03] #3978 closed

[2016-12-16 18:29] usds-bot opened #4415 "UserVoice Idea: Tricare for life , but this as my va specialty facility"
Yes I would like this clinic to be my specialty VA facility for my tricare for life election.

VA file 25-303-644
06/11/1986

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17454946-tricare-for-life-but-this-as-my-va-specialty-fac

[2016-12-16 19:01] U-DON commented on #4411
Option A sounds best in terms of usability.

[2016-12-16 19:31] #4349 closed

[2016-12-16 19:31] #3091 closed

[2016-12-16 20:03] goldenmeanie opened #4419 "Make a plan for showing Time-to-complete estimates at start of forms"
We should have a standard way to show average time to complete for forms.

[2016-12-16 20:41] alexose commented on #4409
Travis [appears](https://travis-ci.org/alexose/vets-website/jobs/184614274#L2360-L2497) to be tripping over selectors for certain form elements.  This isn't happening locally.  I'm going to try to debug this in docker.

[2016-12-16 20:41] jbalboni commented on #4291
I'm testing out redux-form here: https://github.com/department-of-veterans-affairs/vets-website/compare/edu-forms-improve-jsb

[2016-12-16 21:32] #4149 closed

[2016-12-16 22:11] #4412 closed

[2016-12-16 22:41] koconnor719 commented on #4415
@NatalieEMoore pls. advise on response.

[2016-12-16 22:42] koconnor719 commented on #4413
posted and closed:
Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Verify Your Account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, we wi

[2016-12-16 22:42] #4413 closed

[2016-12-16 22:42] koconnor719 commented on #4413
got it!

[2016-12-16 22:46] koconnor719 commented on #4406
deleted for inappropriate language.

[2016-12-16 22:46] #4406 closed

[2016-12-16 22:48] koconnor719 commented on #4407
Thank you for your feedback.  Our team is checking into this.

vets.gov team

[2016-12-16 22:51] koconnor719 commented on #4377
Thank you for your feedback and additional information!  This has been fixed!!
vets.gov team

[2016-12-16 22:51] #4377 closed

[2016-12-16 22:54] koconnor719 commented on #4404
posted and closed
Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Get Started" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, we will contin

[2016-12-16 22:54] #4404 closed

[2016-12-16 22:56] koconnor719 commented on #4397
deleted from site b/c he mentions someone by full name

[2016-12-16 22:56] #4397 closed

[2016-12-16 23:00] #2500 closed

[2016-12-16 23:01] koconnor719 commented on #2382
closing this as it should be on research plan at this point.  @MissPaaj let me know if this is a problem.  trying to manage this github issues for user voice.

[2016-12-16 23:01] #2382 closed

[2016-12-16 23:01] koconnor719 commented on #2350
closing this as it should be on research plan at this point. @MissPaaj let me know if this is a problem. trying to manage this github issues for user voice.

[2016-12-16 23:01] #2350 closed

[2016-12-16 23:01] koconnor719 commented on #2200
yep!

[2016-12-16 23:01] #2200 closed

[2016-12-16 23:02] koconnor719 commented on #2917
@leannammiller is this closed?

[2016-12-16 23:03] koconnor719 commented on #3005
@bethpotts pls. provide a response i can post:)

[2016-12-16 23:03] koconnor719 commented on #3009
@leannammiller can this be closed?

[2016-12-16 23:04] koconnor719 commented on #3096
@leannammiller can this be closed?

[2016-12-16 23:04] webinista commented on #4332
Healthcare has slightly different [outline button styles](https://www.vets.gov/healthcare/apply/application/veteran-information/birth-information). I'm going to assume that these should be brought in line with other buttons on the site. @melwoodard Please correct me if this is not the case.

![screen shot 2016-12-16 at 3 01 52 pm](https://cloud.githubusercontent.com/assets/354277/21281338/ace3a7e4

[2016-12-16 23:05] koconnor719 commented on #3553
@bethpotts pls provide a response i can post on monday pls. this has been open a long time:)  if you can't / don't know pls. let me know.  i need to close these:)  thanks.

[2016-12-16 23:06] koconnor719 commented on #3688
@leannammiller can this be closed?

[2016-12-16 23:07] koconnor719 commented on #3708
posted and closed:

Thank you for your feedback. Have you spoken to your patient advocate about the scheduling issues? They are there to help you work through any issues. You can find their contact information on your VAMC’s web page in the left navigation under Patients & Visitors > Patient Information > Customer Service. http://www.va.gov/directory/guide/allstate_flsh.asp?isflash=&dum=ALL

vets.

[2016-12-16 23:07] #3708 closed

[2016-12-16 23:09] koconnor719 commented on #3821
sure. are we working it in another github issue?  i try to respond on website to these and close them if possible...

[2016-12-16 23:10] koconnor719 commented on #3898
@jcmeloni @eli-lewis is this being tracked somewhere else to update data?  @robertfairhead is it ongoing maintenance?

[2016-12-16 23:11] koconnor719 commented on #3949
@bethpotts is there a content part of this we can address?  @maryannbrody  or is this contained to just the GI Bill tool?

[2016-12-16 23:29] webinista opened #4421 "Rename .disclaimer and/or .disclaimer.minimal selectors"
`.disclaimer` and `.disclaimer.minimal` are two different visual concepts and serve two different functions.

`.disclaimer` is the site wide footer that begins with "Please note: Content on this Web page is for informational purposes only."

`.disclaimer.minimal` appears to be used on the [Disability Benefits > Apply for Benefits](https://vets.gov/disability-benefits/apply-for-benefits/) page.

Ca

[2016-12-16 23:50] webinista opened #4422 "Simplify and reduce specificity of #rx-history selector"
These selectors can be simplified.

[code]

[2016-12-16 23:55] webinista opened #4423 "Track Package link text is invisible when in list view"
On healthcare/prescriptions, when in list view, the link text disappears.
Caused by the `.rx-table a` selector.

![screen shot 2016-12-16 at 3 42 48 pm](https://cloud.githubusercontent.com/assets/354277/21282043/51577b02-c3a6-11e6-99e0-828ce3a286e6.png)

## To fix:
- [x] Remove `.rx-table a` selector
- [x] Update links in tables to have their own class name (e.g. `rx-prescription-link`)

Related t

[2016-12-16 23:56] #3964 closed

[2016-12-17 01:06] webinista commented on #2677
Is this a duplicate of #4332?

[2016-12-17 02:02] webinista opened #4426 "Track package, Refill buttons aren't full-width in some cases"
Happens in mobile viewports.

![screen shot 2016-12-16 at 5 58 14 pm](https://cloud.githubusercontent.com/assets/354277/21283556/40523afa-c3b9-11e6-8411-c54aa6dd0fec.png)

## Suggested fix
- Change `display: table-row` to `display: block` in `.va-table-list td` to make the table cell fill the width of its container.
- Add `padding: 0` rule to `.va-table-list td` block

[2016-12-17 02:04] webinista opened #4427 "Hide list / card toggler on small screens [Was: Prescription list view needs labels]"
When toggling into list view, the table header labels disappear. Each cell loses its label.

![screen shot 2016-12-16 at 6 03 00 pm](https://cloud.githubusercontent.com/assets/354277/21283590/f016e2d8-c3b9-11e6-8676-91cfa322f8f6.png)

Related to #4411

[2016-12-17 02:14] webinista commented on #4411
Related to #4427.

[2016-12-17 02:19] bshyong commented on #4427
do we need to manually add labels on the left for mobile? I'm using the common sortable table component and it looks like it collapses to this type of card view on small screens. cc @gnakm

[2016-12-17 02:19] bshyong commented on #4427
Another option is to disable the list view altogether on mobile/smaller screens

[2016-12-17 02:26] webinista commented on #4175
Should be a matter of replacing `va-h-ruled` with `highlight`.

@melwoodard can you clarify this?

[2016-12-17 02:33] webinista commented on #4427
I think disabling it on smaller screens is the way to go. It's basically the same as the card layout at that point. Otherwise, I think we can use `::before` to inject those labels.

[2016-12-17 04:50] melwoodard commented on #2677
I think we can tackle both issues in one. Closing this one.

[2016-12-17 04:50] #2677 closed

[2016-12-17 04:52] melwoodard commented on #4332
@webinista that's correct!

[2016-12-17 05:17] #4408 closed

[2016-12-17 05:51] bshyong commented on #4427
I agree with hiding it—on mobile, the only view option should be the default `card` view. However, I can't think of a way to have the component switch to `card` when it is resized to a smaller window unless we attach an onResize listener.

[2016-12-18 17:19] maryannbrody commented on #3949
Tagging @AnitraAppa and @melwoodard for awareness, but I'm not sure if there is a change here that will make sense considering the purpose of the GIBCT is to compare GI Bill benefits.

[2016-12-18 17:20] maryannbrody commented on #3553
@koconnor719 - this will be addressed in health content! It's definitely on the list.

Thanks!

[2016-12-19 02:51] gnakm commented on #4209
Going to close this because it was merged. Re-open if you believe it's necessary.

[2016-12-19 02:51] #4209 closed

[2016-12-19 02:52] gnakm commented on #4146
Closing because all mocks can be found here #4411

[2016-12-19 02:52] #4146 closed

[2016-12-19 02:56] gnakm commented on #4427
Seeing this now guys. Let's disable it on small screen because it is literally the same information in the same order as cards and users had more trouble with the desktop view than mobile view.

[2016-12-19 13:05] jcmeloni commented on #3898
@koconnor719 Not sure. I was just asking the question a couple weeks ago when I was going through issues.

[2016-12-19 14:05] leannammiller commented on #3688
Not yet.

[2016-12-19 14:05] leannammiller commented on #3096
@markolson - can you confirm?

[2016-12-19 14:07] leannammiller commented on #2917
I believe so but @akainic can confirm.

[2016-12-19 14:19] leannammiller commented on #3602
hey @cagedcrown - did you complete this?

[2016-12-19 15:52] NatalieEMoore commented on #4415
wow, i have no idea what this is about...

[2016-12-19 16:09] akainic commented on #2917
Yes it should be closed @koconnor719!

[2016-12-19 16:20] ayaleloehr commented on #4415
@jenny-h-l any thoughts on this one?

[2016-12-19 16:36] J-Quag commented on #4415
He is going to need to contact Tricare to set his elections. Or the VA Clinic that he wants to go to.

[2016-12-19 16:52] leannammiller commented on #3012
@akainic or @jbalboni can you please estimate remaining work on this ticket?

[2016-12-19 16:58] akainic commented on #3012
I think it is 6-8 more hours of work for me. I can complete this week.

[2016-12-19 17:10] U-DON commented on #4427
@bshyong Can this be done by only using CSS classes? Set a class for the view state, say `rx-refill-table-view`, `display: none` for the card section under that container (only on desktop), and `display: none` for the table section always. Just an initial thought, not sure if it works.

[2016-12-19 17:11] melwoodard commented on #4175
@webinista was just a suggestion for naming consistency - there's already an `h4 highlight` class, so the H2 variant with border bottom could be `h2 highlight`

[2016-12-19 17:25] #3797 closed

[2016-12-19 18:42] leannammiller commented on #4291
Notes from Monday's meeting:

REDUX - having trouble with conditionals - feasible but not perfect solution

Reach out - Anne and Jeff
Clean up existing validations
Move education benefits questions into their own components
Build out initial structure for all education forms in single app

[2016-12-19 19:23] leannammiller commented on #4345
let's consider this handed off

[2016-12-19 19:23] #4345 closed

[2016-12-19 19:24] alexose commented on #4409
Successfully replicated it in docker.   Definitely looks like some extra complexity introduced by `xvfb`.

[2016-12-19 19:27] leannammiller commented on #3080
@goldenmeanie will make a recommendation

[2016-12-19 19:46] jbalboni commented on #4291
I think we can close this for now. We should revisit it after the next edu form.

[2016-12-19 19:46] #4291 closed

[2016-12-19 20:24] #4245 closed

[2016-12-19 20:24] #4400 closed

[2016-12-19 20:24] #4401 closed

[2016-12-19 21:52] usds-bot opened #4431 "UserVoice Idea: give us what we need to know"
What good is this. It tells me same thing has all the other sites. Not one da= thing. Not all of my claims are here, the audit that ongoing right now. Give us the things we need to know not what you what us to have.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17481313-give-us-what-we-need-to-know

[2016-12-19 22:14] gnakm opened #4432 "Sentence case consistency"
Creating a ticket so we can keep track of sentence casing consistency throughout Vets.gov.
@AnitraAppa Could you do a scrub of the site and list out areas where these tweaks need to be made?

[2016-12-20 00:43] angel opened #4436 "New card design"
Below is the new design for the cards on the homepage, if there's any copy that differs from what we already have, please go with what we have as I might have old copy.

The cards on the homepage will include icons, but the cards in the interior pages won't. Here are the homepage cards:
![cards-with-icons](https://cloud.githubusercontent.com/assets/103496/21334185/3a2348a6-c60a-11e6-95f9-3120e69a2

[2016-12-20 00:50] emilyville commented on #4436
Assigning to @jcmeloni for triage!

[2016-12-20 00:50] webinista commented on #4426
This is a side effect of the way the display changes between mobile and desktop views. Since we're removing the ability to toggle between lists and cards on smaller screens (See: #4427), this is no longer something that we need to fix.

[2016-12-20 00:50] #4426 closed

[2016-12-20 01:07] webinista opened #4437 "Refactor #rx-detail, #rx-info blocks"
Use lower specificity selectors.

[2016-12-20 01:50] emilyville opened #4439 "Footer content update"
Updating the footer to include new things like call center, with some adjustments to accommodate. All the links match pre-existing things.
![footer-contentchange](https://cloud.githubusercontent.com/assets/1307774/21335254/6c76f660-c612-11e6-9cee-dd809608ebc2.png)

![footer-contentchange-mobile](https://cloud.githubusercontent.com/assets/1307774/21335347/009e85a6-c613-11e6-9a28-85b881ef64dd.png)

[2016-12-20 04:16] usds-bot opened #4440 "UserVoice Idea: CAN'T GET IN"
CLICK GET STARTED TO VERIFY AND NOTHING HAPPENS. WHAT DO I DO?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17483752-can-t-get-in

[2016-12-20 13:50] jenny-h-l commented on #4415
no direct action can be taken, so you should refer him to where he can get info. Here is my suggested response: _We cannot process your request here._ _For information about using Tricare for Life at VA Facilities, go to http://www.tricare.mil/Plans/HealthPlans/TFL/TFL_VA._

[2016-12-20 13:59] NatalieEMoore commented on #4415
thanks @jenny-h-l

[2016-12-20 14:12] jbalboni commented on #4291
Things a config file approach should support:

- [ ] Multiple form pages
- [ ] Conditional pages
- [ ] Conditional validation
- [ ] Conditional fields
- [ ] Custom fields
- [ ] Field arrays
- [ ] Validation on blur
- [ ] Review page

[2016-12-20 14:35] jcmeloni commented on #4440
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see.  We would appreciate it

[2016-12-20 15:05] koconnor719 commented on #4440
posted and closed:
Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it might not be easy to see. We would appreciate it if you would try again. In the meantime, we wi

[2016-12-20 15:05] #4440 closed

[2016-12-20 15:08] koconnor719 commented on #4431
posted and closed:

Thank you for your feedback. We are in the process of migrating Veteran-facing features and content from hundreds of other sites to vets.gov.  This process of redesigning features and rewriting all the content in plain language will be completed in Spring 2017.  We have been adding things to vets.gov based on Veteran feedback, so if you would like to participate in a research s

[2016-12-20 15:08] #4431 closed

[2016-12-20 15:10] koconnor719 commented on #4415
posted and closed:

Thank you for feedback.  This forum is for user feedback on the vets.gov website, so we can't process your Tricare request.  For information about using Tricare for Life at VA Facilities, go to http://www.tricare.mil/Plans/HealthPlans/TFL/TFL_VA.

vets.gov team

[2016-12-20 15:10] #4415 closed

[2016-12-20 15:11] koconnor719 commented on #4407
@jcmeloni is this a claims issue?

if so, @J-Quag pls. draft a response:)  thx.

[2016-12-20 15:13] koconnor719 commented on #4395
posted and closed.

Thank you for your feedback. Our designers work directly with Veterans on vets.gov layout and design. If you would like to participate in a research session please contact our team at feedback@va.gov.

vets.gov team

[2016-12-20 15:13] #4395 closed

[2016-12-20 15:15] koconnor719 commented on #4390
posted and closed:

Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. At this time, we are not able to provide this highest level of assurance to Ve

[2016-12-20 15:15] #4390 closed

[2016-12-20 15:15] koconnor719 commented on #4382
posted and closed:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. For specific help with identity proofing your account, please call the Vets.g

[2016-12-20 15:15] #4382 closed

[2016-12-20 15:17] koconnor719 commented on #4371
posted and closed:

Thank you for your feedback. Our team has fixed this issue!  If you would like to provide us with additional feedback to inform the design of vets.gov, please contact our team at feedback@va.gov.

vets.gov team

[2016-12-20 15:17] #4371 closed

[2016-12-20 15:18] koconnor719 commented on #4356
posted and closed:

Thank you for your feedback. Our team has fixed this issue! If you would like to provide us with additional feedback to inform the design of vets.gov, please contact our team at feedback@va.gov.

vets.gov team

[2016-12-20 15:18] #4356 closed

[2016-12-20 15:21] J-Quag commented on #4407
It is hard to tell, I wouldn't know what to say in this case. I have no details other than they're stuck in a loop. It doesn't sound like a claim status issue. If they are on the VA Network using IE11 (or possibly off network as well with another browser/OS), they might just need to hit refresh on that login page. I know Courtney has fixed all the ones that have come up, but on the VA Network I th

[2016-12-20 15:22] koconnor719 commented on #4329
posted and closed:

Thank you for your feedback. eBenefits is no longer building new functionality because the VA will have a single Veteran-facing website where Veterans go to discover, apply for, track, and manage the benefits they have earned: vets.gov! We have already migrated some key features to vets.gov and will continue this migration work, in collaboration with the eBenefits team here at

[2016-12-20 15:22] #4329 closed

[2016-12-20 15:24] koconnor719 commented on #4318
Thank you for your feedback. This forum is for comments on our vets.gov website. As we build out online forms on vets.gov,  our goal is to have Veterans enter data once, and it be pre-populated on the next form! We expect this functionality in Sprint 2017. If you would like to be a beta tester and provide additional feedback on your suggestion, please contact our team at feedback@va.gov.

vets.gov

[2016-12-20 15:24] #4318 closed

[2016-12-20 15:26] gnakm commented on #4432
Just thought about this -- how should breadcrumbs be cased?

[2016-12-20 15:27] koconnor719 commented on #4300
Thank you for your feedback, and way to go Deloris! If you would like to participate in our user research, which drives the design and layout of vets.gov, please contact our team at feedback@va.gov. We are always trying to talk with Veterans about how we can make vets.gov a better user experience with the VA.

vets.gov team

[2016-12-20 15:27] #4300 closed

[2016-12-20 15:30] #2917 closed

[2016-12-20 15:32] koconnor719 commented on #3553
@maryannbrody @bethpotts thx.  it would be great if beth (or someone on content team) could draft responses for content things like the one below going forward:)

Thank you for feedback. This content will be on vets.gov early next year!  We are currently working to rewrite all the content from hundreds of sites in plain language for vets.gov, so this is taking us some time. Please check back on ve

[2016-12-20 15:32] #3553 closed

[2016-12-20 15:40] koconnor719 commented on #3005
@bethpotts ^^ help.

[2016-12-20 15:41] koconnor719 commented on #3009
@leannammiller ^

[2016-12-20 15:42] koconnor719 commented on #3821
@ayaleloehr pls. advise on who can write a response i can post for this:)  thx.

[2016-12-20 15:43] koconnor719 commented on #3898
emailed Stephanie price to see if she can help.

[2016-12-20 15:52] ayaleloehr commented on #3821
This is a data problem. Can you send it to Stephanie (similar to what you did on https://github.com/department-of-veterans-affairs/vets-website/issues/3898#issuecomment-268275988 )?

[2016-12-20 15:54] koconnor719 commented on #3949
thx. if someone could draft a response i can post it would be helpful.  thanks.

[2016-12-20 15:55] koconnor719 commented on #4123
@leannammiller pls. provide status and response.  thx.

[2016-12-20 15:55] koconnor719 commented on #4135
@NatalieEMoore pls. draft a response i can post online.  thx:)

[2016-12-20 16:17] usds-bot opened #4443 "UserVoice Idea: ID.me validation process needs improvement"
The VA.gov site is working well, and is easy to navigate.

ID.me seems to have an issue in it's validation process however. The link sent to mobile phones in the 'confirm your phone number' step is not working on my iPhone 6S (after multiple attempts). The error reads that the page cannot be opened because the server stopped responding.

http://veterans.uservoice.com/forums/330333-vets-gov/suggest

[2016-12-20 16:31] koconnor719 commented on #3821
Sure

Sent with Good (www.good.com)

-----Original Message-----
From: Alex Yale-Loehr [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 20, 2016 10:52 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: UT Knoxville comes up as

[2016-12-20 16:31] webinista commented on #4126
Nope, not solvable with CSS. I overestimated the abilities of Flexbox. Not a huge deal. This only gets weird if we have more 4 cards.

[2016-12-20 16:31] #4126 closed

[2016-12-20 16:53] NatalieEMoore commented on #4135
Hi, we currently don't have Vet centers up on the facility locator but are looking to include them soon!  You are not able to see the VAMC Martinsburg facility because it is outside the radius of the zip code you entered. Sorry about that!  If you zoom out a bit using the +/- you will eventually see it listed.  You can also search for facilities directly in Martinsburg by entering Martinsburg into

[2016-12-20 17:04] webinista commented on #4233
May be related to #3266.

[2016-12-20 17:19] webinista opened #4444 "Rewrite menu.js to remove jQuery dependency."
Rewrite `src/js/legacy/menu.js` using standard DOM API methods.

Blocks #4230.

[2016-12-20 17:56] #4427 closed

[2016-12-20 18:04] bethpotts commented on #3005
@koconnor719 @maryannbrody Molly is going to write a response. We'll get it back to you asap!

[2016-12-20 18:13] eli-lewis commented on #3898
@koconnor719 @ayaleloehr I missed this before... I don't know if this is being tracked anywhere but based on @jcmeloni response, I think it's not.  On my radar now.  thanks for emailing Stephanie.

[2016-12-20 18:25] koconnor719 commented on #3005
Awesome! Ty

Sent with Good (www.good.com)

-----Original Message-----
From: bethpotts [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 20, 2016 01:05 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Changes (#3005)

@kocon

[2016-12-20 18:26] webinista opened #4446 "Rewrite toggle-veterans-crisis-line.js to remove jQuery dependency"
Blocks #4230

[2016-12-20 20:28] jbalboni commented on #4235
@crwallace @alexose I'm curious if you two have any thoughts on this. The new spinner is a gif that's twice as large as the old spinner (60 kb vs 32 kb). It seems like unnecessary page weight for something that's not shown for very long and might not even be downloaded in time for it to be viewed. I also thought the new spinner was svg, which might be smaller, but apparently it isn't.

We could in

[2016-12-20 20:32] alexose commented on #4235
I think turning it into an inline SVG is a clear and uncontroversial improvement-- That's probably the way to go.

(Personally, I don't mind dropping it, especially if we can reduce the average load time to the point where a spinner isn't even necessary)

[2016-12-20 21:02] webinista commented on #1450
Not going to re-open this, but noting that it's still a problem as filed in #3993.

[2016-12-20 21:06] #4423 closed

[2016-12-20 21:19] jbalboni commented on #4235
A related issue is that since we don't use `defer` on our scripts, the scripts have to download before the page will show any content. So the spinner is visible in a pretty narrow window right now.

[2016-12-20 21:21] webinista commented on #3665
@melwoodard Can you weigh in here? Is this an issue that's accounted for elsewhere?

[2016-12-20 21:31] #3602 closed

[2016-12-20 21:38] webinista commented on #3997
Suggested fix:

- [ ] Remove playbook partial from `style.scss`
- [ ] Add it to `no-react.scss`

[2016-12-20 21:43] usds-bot opened #4455 "UserVoice Idea: G4 implants"
How  Veterans  feel no Veteran  Medical  Center  has a Cosmetic Dentistry  Dentist  that knows to  put in  G4 implants

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17504542-g4-implants

[2016-12-20 21:52] melwoodard commented on #3665
@webinista the padding is visually the same between claims and Rx, so we shouldn't need two different values.

[2016-12-20 21:52] koconnor719 commented on #4455
posted and closed:

Thank you for your feedback. This forum is for suggestions for the vets.gov website. We are in the process of rewriting content, including information on cosmetic dentistry, from hundreds of websites in plain language for vets.gov. Until we complete our content migration, you can find more information about VA  dentistry here: https://www.va.gov/dental/

vets.gov team

[2016-12-20 21:52] #4455 closed

[2016-12-20 21:54] koconnor719 commented on #4407
posted and closed.

Thank you for your feedback. Can you provide our team some additional details so we can research your issue?  Are you having trouble setting up your vets.gov account, or seeing your claim status?  Yes, once your verify your identity you should be able to go back to vets.gov to see your disability claim status.

vets.gov team

[2016-12-20 21:54] #4407 closed

[2016-12-20 21:55] koconnor719 commented on #4396
posted and closed.
Thank you for your feedback.  Our team has fixed this!

vets.gov team

[2016-12-20 21:55] #4396 closed

[2016-12-20 22:04] webinista commented on #4314
Secure messaging, and IIRC prescriptions also uses Moment.js. The SM date picker also has it as a dependency. Tagging @U-DON and @bshyong for awareness.

Will raise the date picker issue with the core team's designers.

[2016-12-20 22:42] usds-bot opened #4457 "UserVoice Idea: I have a question"
I'm trying to fill out Form 22-1995, to request a change in education site. It says I need to apply through eBenefits. When I click on the link, I have to login all over again, only to get back to where it says I have to apply through eBenefits. It's a big circle. How do I actually get to the form?? Thanks.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17505190-i-have-a-questio

[2016-12-20 23:14] leannammiller commented on #4123
@akainic were you able to connect with the user directly?

[2016-12-21 00:19] usds-bot opened #4459 "UserVoice Idea: ID.me verification issues"
Anyone else having problems verifying their identity through ID.me?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17506042-id-me-verification-issues

[2016-12-21 00:19] usds-bot opened #4460 "UserVoice Idea: Survivord dea"
55404

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17506033-survivord-dea

[2016-12-21 00:50] koconnor719 commented on #4123
Pls just post a response in GitHub and I'll post to the user! Thanks

Sent with Good (www.good.com)

-----Original Message-----
From: leannammiller [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, December 20, 2016 06:16 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-

[2016-12-21 01:03] webinista commented on #2508
Related to #4230, #4444, and #4446

[2016-12-21 01:03] webinista commented on #4230
Also related to #2508

[2016-12-21 01:21] alexose commented on #4409
Turns out that using .setValue doesn't trigger the `change` event, and it's not really possible to trigger `change` programmatically in React.

So, I wrote a snippet that uses the arrow keys instead of the mouse.  This works fine in xvfb, but not in OSX.  :facepalm:

There are still a couple of other issues I need to tackle, most importantly figuring out what is causing HCA not to validate: https:

[2016-12-21 14:26] akainic commented on #4123
Let's respond with this:

"Thank you for providing this feedback. Our team has investigated the issue you found and we were unable to recreate it. Did you see these error messages after you filled in all of the fields for both dates (month, day, and year)? It is possible the error message appeared before the complete date was entered. Please let us know if you are still seeing the error message af

[2016-12-21 14:32] #4332 closed

[2016-12-21 15:25] jbalboni opened #4462 "Validate the use of react-jsonschema-form for building hca/edu style forms"
- [x] Fork repo into va org
- [x] Add the ability to show validation messages based on touched state of fields (make this optional so we can potentially PR it)

Try out the following validation approaches:

- [x] Create a hook to replace messages from jsonschema validation with our own.
- [x] Figure out how to adapt jsonschema required validation to our current pattern.
- [x] Figure out how to do

[2016-12-21 15:40] koconnor719 commented on #4123
Ty!!

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, December 21, 2016 09:26 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: jgdcjkhfjhv (#4123)

Let's

[2016-12-21 15:57] axle07 opened #4463 ""fatal: No url found for submodule path 'schema' in .gitmodules" when running "git submodule init; git submodule update""
I just cloned the repo, as described [here](https://github.com/department-of-veterans-affairs/vets-website#i-want-to), and got the following error on step 3:

"fatal: No url found for submodule path 'schema' in .gitmodules"

[2016-12-21 16:00] jcmeloni commented on #4459
@koconnor719  Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. For specific help with identity p

[2016-12-21 16:40] bshyong opened #4464 "Messages do not load in IE 11"

[2016-12-21 16:43] jcmeloni commented on #4443
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. We have been unable to duplicate the error you received -- would you please try again?  We will continue to work with our partners to ensure the identity verification flow is seamless for all Veterans.  If you are a Veteran and would

[2016-12-21 17:03] eli-lewis opened #4465 "Refills left column- 0 should be red"
Rx Refill->Refill prescriptions tab->List view
0 refills- color should change to red, currently still showing as black

![zero should be red](https://cloud.githubusercontent.com/assets/23019174/21398448/50ec86bc-c775-11e6-8761-ddcf3918e4f8.PNG)

[2016-12-21 17:08] eli-lewis opened #4466 "Prescription status sorting- Active Hold is not alphabetical"
Rx- Prescritption Refill->  View History-> Prescription Status sorting

Active hold status is not sorting alphabetically

![active hold sorting](https://cloud.githubusercontent.com/assets/23019174/21398687/357232be-c776-11e6-9a3b-cf1c34edf909.PNG)

[2016-12-21 17:11] U-DON commented on #4466
'Active - Hold' may be mapped to a different value in the API. This is the order that's returned by the API when we request to sort by the status. If we want it to look alphabetical, we'd have to change what the label should display as.

[2016-12-21 17:12] eli-lewis commented on #4466
@ayaleloehr this definitely "looks" weird.  I understand why but to the user this sorting doesn't make sense.  Thoughts?

[2016-12-21 17:39] ayaleloehr commented on #4466
Turning to @gnakm on this one.  It is just "hold" in the API, so that's why it's in that order. If we have to reorder them on the front end, it's going to screw up pagination I believe.

[2016-12-21 18:40] AnitraAppa commented on #3949
Thanks for flagging! Working on GIBCT updates with @melwoodard here: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/508#issuecomment-268325991.

In the tool, if the Veteran chooses VR&E as the benefit they're planning to use, then we ask them a follow question about whether or not they're eligible for the Post-9/11 GI Bill. When we show them the results, we show the filters

[2016-12-21 18:48] mollyblake commented on #3005
@koconnor719 here is our response. Thanks!

Thank you for your feedback. The best way to get official one-on-one assistance on your job hunt is from the American Job Center. They have  can be reached at 877-US2-JOBS
(877-872-5627) TTY: 877-889-5627. You can also visit CareerOneStop for local help, career workshops, and more.  https://www.careeronestop.org/LocalHelp/local-help.aspx

vets.gov team

[2016-12-21 18:54] koconnor719 commented on #3005
Ty!!!!

Sent with Good (www.good.com)

-----Original Message-----
From: Molly Blake [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, December 21, 2016 01:49 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Changes (#3005)

@koconn

[2016-12-21 18:58] koconnor719 commented on #4460
deleted; seems like mistake entry

[2016-12-21 18:58] #4460 closed

[2016-12-21 18:58] koconnor719 commented on #4459
posted and closed.

Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity. For specific help with identity proofing your account, please call the Vets.go

[2016-12-21 18:58] #4459 closed

[2016-12-21 19:01] koconnor719 commented on #4457
Thank you for your feedback.  The 22-1995 form is still on eBenefits.  (It will be migrated to vets.gov in the next few months!)  So for now, yes you still need to logon to eBenefits to fill out this form; here is the link: https://www.ebenefits.va.gov/ebenefits/vonapp.

Please check back on vets.gov soon for the 22-1995!

vets.gov team

[2016-12-21 19:01] #4457 closed

[2016-12-21 19:02] koconnor719 commented on #4443
posted and closed:

Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. We have been unable to duplicate the error you received -- would you please try again? We will continue to work with our partners to ensure the identity verification flow is seamless for all Veterans. If you are a Veteran and would like to participate in our user research and

[2016-12-21 19:02] #4443 closed

[2016-12-21 19:05] koconnor719 commented on #4387
posted and closed:

Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account on an iPad. We have tested on iPads and iPhones with success in the past. Here is a thought -- when you click the "verify your account" link, a pop-up window should appear so that you can continue the verification process. This window might be blocked by a pop-up blocker or it

[2016-12-21 19:05] #4387 closed

[2016-12-21 19:06] koconnor719 commented on #4385
Posted and closed.

Thank you for your feedback.  Our team has fixed this!

vets.gov team

[2016-12-21 19:06] #4385 closed

[2016-12-21 19:08] koconnor719 commented on #4384
Posted and closed:

Thank you for your feedback. Our team has fixed this!

vets.gov team

[2016-12-21 19:08] #4384 closed

[2016-12-21 19:15] koconnor719 commented on #4338
posted and closed:

Thank you for your feedback. Our team has fixed this!

vets.gov team

[2016-12-21 19:15] #4338 closed

[2016-12-21 19:16] koconnor719 commented on #4123
posted

Thank you for providing this feedback. Our team has investigated the issue you found and we were unable to recreate it. Did you see these error messages after you filled in all of the fields for both dates (month, day, and year)? It is possible the error message appeared before the complete date was entered. Please let us know if you are still seeing the error message after completing the

[2016-12-21 19:29] koconnor719 commented on #3821
sent to stephanie:

When searching for the University of Tennessee it still comes up that it is located in PATUXENT RIVER, MD. With a website to www.utm.edu. This is the wrong information for UT. This has been an on going problem for the last 6 months and needs to be corrected to provide the proper information needed.

[2016-12-21 19:29] #3821 closed

[2016-12-21 20:09] jbalboni commented on #4462
Repo: https://github.com/department-of-veterans-affairs/react-jsonschema-form

[2016-12-21 20:13] AnitraAppa opened #4470 "Create terms & conditions based on MHV's draft"
Creating issue to track terms & conditions work, as discussed with @staceylanger last week. (Want to make sure I don't forget about this!)

Notes:
- Existing Vets.gov users accepted MHV terms
- Need to create combined T&C for new Vets.gov users who don't have an MHV account
- MHV has separate T&C for each of the products on their site right now. Working on combined version of all T&C's.
- I'll tak

[2016-12-21 20:32] #4464 closed

[2016-12-21 21:02] leannammiller commented on #4123
👍

[2016-12-21 21:58] usds-bot opened #4472 "UserVoice Idea: Fix"
The myhealthevet page is not loading. Don't be patting your self's on the back yet. Cant sign in to refill medicine or check on appts.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17515585-fix

[2016-12-21 22:04] AnitraAppa commented on #4439
@emilyville Thanks for flagging! Some thoughts and content recos:
- Use sentence case instead of title case. Easier to read, save title case for biggest header on a page. (Going to do a sentence case scrub across the site - thanks for filing, Gina!)
- Under "Services and Benefits" we have a bunch of links for main pages that prominently show cards that link to the same things under the "Popular on

[2016-12-21 22:22] Drakenhart commented on #4411
2 Questions: In regards to what is on the playbook -
1) Would the RX cards look a lot like the definition lists, was this intentional (to be styled in a similar manner)?
2) Also, should this be what others do with similar kinds of data information?

I ask because it's a pattern I've noticed and couldn't find clarity anywhere else.

[2016-12-21 22:29] koconnor719 commented on #4472
is this accurate to post: @ayaleloehr

Thank you for your feedback.  Can you provide us some additional information so our team can research this?  You can't yet check on appointments on vets.gov, but you can refill a prescriptions if you are already a MyHealtheVet premium user.  Are you having trouble with setting up your vets.gov account?  Or is the problem once you try to refill a prescription?

[2016-12-21 22:35] webinista opened #4473 "Make TabNav a common component"
- [ ] Copy `disability-benefits/components/TabNav.jsx` to `common/`.
- [ ] Augment it to support a `className` property to enable additional classes
- [ ] Update the following files to use common component
    - [ ] `rx/containers/Main.jsx`
    - [ ] `disbility-benefits/components/ClaimDetailLayout.jsx`
- [ ] Move `test/disability-benefits/components/TabNav.unit.spec` to a common test directory an

[2016-12-21 22:40] webinista commented on #4473
Need to determine whether these are dissimilar enough to justify multiple instances. Disability Benefits tab is fuller featured, so that's probably the one that should switch.

[2016-12-21 22:41] usds-bot opened #4474 "UserVoice Idea: PICTURES"
YOU GUYS ARE KIDDING ME. I USED COREL PHOTO PAINTX9 AND FOXIT READER BOTH TO TAKE A PICTURE OF MY DRIVERS LICENSE. YOUR ROGRAM KEEPS SAYING SUBMIT A VALID PICTURE. WHAT DO YOU WANT????

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17516131-pictures

[2016-12-21 22:44] ayaleloehr commented on #4472
Maybe change premium to "advanced or premium" and that's perfect!  Users need an MHV premium account for Secure Messaging but can have only advanced for Rx. Thanks for drafting!

[2016-12-21 22:49] koconnor719 commented on #4474
@jcmeloni i don't understand the comment above--is this response ok?

Thank you for your feedback.  We are sorry you are having trouble with uploading your license.  Have you tried taking a picture of it with your mobile phone?  You should be able to use any smart phone to take a picture easily.

[2016-12-21 22:50] koconnor719 commented on #4472
posted:

Thank you for your feedback. Can you provide us some additional information so our team can research this? You can't yet check on appointments on vets.gov, but you can refill a prescription and secure message your health team if you are already a MyHealtheVet advanced or premium user. Are you having trouble with setting up your vets.gov account? Or is the problem once you try to refill a

[2016-12-21 23:23] #3665 closed

[2016-12-22 01:52] #4411 closed

[2016-12-22 13:40] jcmeloni commented on #4470
FWIW during our Privacy/ATO work last week, we created a Vets.gov privacy policy and got it in the site that included  any relevant info from MHV generally.  Again, just FWIW. If it changes, it has to go back through the VA Privacy Office. cc @staceylanger

[2016-12-22 14:03] usds-bot opened #4478 "UserVoice Idea: How am I supposed to get verified if I don’t have a phone capable of data. Don’t over complicate a simple process. Send a text message with"
How am I supposed to get verified if I don’t have a phone capable of data. Don’t over complicate a simple process. Send a text message with a code that can be input in the ID.me nonsense.  I am not wasting money on a data plan to log into you’re **** site.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17522233-how-am-i-supposed-to-get-verified-if-i-don-t-have

[2016-12-22 14:31] jcmeloni commented on #4474
@koconnor719 I would use something like this, as the call center has scripts to handle these situations and it could be any of a number of things:

"Thank you for your feedback! We're sorry you are having issues with the identity verification process. For specific help with identity proofing your account, please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) a

[2016-12-22 14:34] jcmeloni commented on #4478
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.

For specific help with identity p

[2016-12-22 14:44] eli-lewis opened #4479 "508 audit testing results"
Audit report notes from 508 testing on 12/21 with Reina and Reshma from 508 compliance office.  Note that this report does not include SM.

Audit report on: https://www.staging.vets.gov
**Main Page**

- [ ] Navigation bar must be at the top

- [ ] Heading structure is not correct. Page needs to begin with H1 and goes all the way to H6. Content information should be tagged as headings. Section titl

[2016-12-22 16:31] jbalboni commented on #4462
Submitted a PR for the second item: https://github.com/mozilla-services/react-jsonschema-form/pull/431

[2016-12-22 16:45] ayaleloehr commented on #4479
Many of these are cross-vets.gov things so going to tag @melwoodard and @crwallace for awareness. and @gnakm for the prescription specific things.  I propose we use this issue like a macro-issue for this topic, but anything that should actually be implemented should be created it's own ticket and better spec'ed out (if necessary).

If any of these are too cryptic, just ask @eli-lewis or @gnakm as

[2016-12-22 17:06] usds-bot opened #4480 "UserVoice Idea: WHY another website??"
WHY? Is there another website for vets to use when the information on vets.gov is already readily available on VA.gov and through DS Logon? I attempted to use this site for healthcare access. It took me to a page that said I needed to verify through ID ME, I clicked the get started button and NOTHING happened? I setup and ID.ME account and ended up in a shopping website. I verified my troop status

[2016-12-22 17:12] jcmeloni commented on #4480
@koconnor719 This isn't an identity or login issue so I didn't take it, but let me know if you disagree and need response text.

[2016-12-22 17:17] gnakm commented on #4466
`Active` was added in front of hold and suspended because this is request from pharmacy stakeholders. Reasons being that 1. both statuses are technically active and 2. when alphabetized, it will be on top/ most recent. This is on the most recent directive. From a UX perspective, I am in agreement with the pharma folks and believe this is ideal. In the front end, we show `Active - Hold` and `Active

[2016-12-22 17:28] U-DON commented on #4466
Pagination gets messed up if the change is only on the front-end, so if the API changes the statuses as well, it should be work out. But I don't know if those labels are coming from MHV or if we have any control over them. In addition to `hold` and `suspended`, there are other statuses that can be problematic for sorting because they're displayed differently than what they are:

`deleted` -> `Unkn

[2016-12-22 17:35] ayaleloehr commented on #4466
@U-DON I agree that because of pagination this cannot be done on the front end.

@gnakm do we want these other fields mapped everywhere as well or are some of those only mapped in certain places on the front end?

@saneshark and @mphprogrammer what are your thoughts on having a mapping on the backend  for statuses (instead of on the front end where we currently do them).  Is that easy to implement

[2016-12-22 18:26] #4174 closed

[2016-12-22 19:51] gnakm commented on #4466
Another thought... not sure if this complicates anything, is to disable sort option for prescription status. Most important thing on this page is that it is defaulted by most recent submit date. Im more adamant to do that and leave back end and front end as is.

[2016-12-22 20:59] koconnor719 commented on #4480
posted and closed:

Thank you for your feedback. VA is consolidating numerous websites into a single website with a single logon where Veterans can discover, apply for, track and manage the benefits they have earned:  vets.gov.  We are currently in the process of migrating content and features to vets.gov. Right now, Veterans can set up a vets.gov account (with the highest security level available

[2016-12-22 20:59] #4480 closed

[2016-12-22 21:00] koconnor719 commented on #4478
@jcmeloni i'm not sure that response is answering the question?  if the person doesn't have a smartphone w/ data??

[2016-12-22 21:36] jbalboni commented on #4462
PR for the validation hook we'd need for better messages/required validation: https://github.com/mozilla-services/react-jsonschema-form/pull/432

[2016-12-22 21:44] U-DON commented on #4466
Disabling sorting on status won't hard to implement, since we've just added the functionality to disable sorting on specific columns.

[2016-12-22 22:02] usds-bot opened #4483 "UserVoice Idea: FINALLY"
ARE YOU KIDDING ME!!!!? I love this new site!! FINALLY all the stuff on the same Website, and its easier to navigate and read!! THANK YOU THANK YOU THANK YOU!!!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17526571-finally

[2016-12-22 22:06] bshyong commented on #4466
So far we have the following two options from the discussion above:
- Disable sorting on Refill Status (front-end only fix)
- mapping for statuses on the backend (requires backend effort) TBD on how complicated this solution is

The first is a simple fix and I can implement it as a stop gap unless anybody is opposed to it

[2016-12-22 22:07] melwoodard commented on #4479
Thanks! This is super helpful. The heading structure issue has been on my list, hopefully the core team can take some time to focus on 508 next month.

[2016-12-22 22:21] jcmeloni commented on #4478
The call center has scripts to address the situation, was the point I was trying to make, so I think we should let that run its course. There's nothing special our team can do -- if you don't do the process with a computer and a smartphone or landline, you're out of luck.  If the call center ends up escalating the user to Id.me<http://Id.me> and they are able to do something manually, super. But I

[2016-12-23 03:16] webinista opened #4487 "[Master issue] Migrate from Foundation to USWDS"
Creating this as a master issue to track and manage this process.

- Two competing CSS frameworks in our code base: [Foundation](http://foundation.zurb.com/) and [U.S. Web Design Standards](http://standards.usa.gov/).
- Currently using a mix of break points defined by Foundation and USWDS
- Currently using the grid from Foundation
- Currently using show/hide classes from Foundation
- Not using Fou

[2016-12-23 03:44] webinista commented on #1467
Closing. We have a much bigger problem than breakpoints. Foundation is too entrenched in our markup for breakpoints to be considered separately.

[2016-12-23 03:44] #1467 closed

[2016-12-23 04:07] webinista opened #4489 "Remove SVG web fonts FontAwesome"
Only one of our currently-supported browsers (Safari) still supports SVG fonts. WOFF and WOFF2 cover all supported browsers (down to IE9).

Removing SVG web fonts would reduce the size of our CSS bundle by ~400Kb (See #3266).*

(*Tested locally. With compression, production savings would be reduced.)

[2016-12-23 07:05] usds-bot opened #4491 "UserVoice Idea: Fix you **** site!!!"
Still a **** site! I STILL cannot " GET STARTED"! ARE YOU KIDDING ME!!! GET THIS **** FIXED! Your wasting my money you *****!
Robert H Barron III

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17529184-fix-you-site

[2016-12-23 14:00] gnakm commented on #4479
Thanks for putting this together @eli-lewis I will make issues for team-kudos.
@melwoodard We should go over header hierarchy together at one point. Will ping you at west coast hrs.

[2016-12-23 14:03] gnakm commented on #4466
I vote disable sorting on Refill Status (front-end only fix). I don't think this will really effect users experience and it would prevent a potential conversation about glossary with stakeholders.

[2016-12-23 14:43] jcmeloni commented on #4491
@koconnor719 Assuming this will be deleted for language so not providing a response.

[2016-12-23 15:12] gnakm opened #4492 "508 issues around status definition pop up"
At the 508 office, our tester used IE 11 and when she clicked on refill status: in process link, focus didn't return back and the screen reader did not alert the user that a pop-up came up. However, I just tried it with the mac screen reader on chrome and it worked. I wonder if this is a browser specific problem.

How it looks and reads on mac:
<img width="1432" alt="screen shot 2016-12-23 at 10 0

[2016-12-23 15:22] gnakm opened #4493 "Pagination link not detected with screen reader"
Screen reader picks up the numbers for pagination but not the links for `back` and  `next`
<img width="314" alt="screen shot 2016-12-23 at 10 20 25 am" src="https://cloud.githubusercontent.com/assets/13420618/21456955/a286c066-c8f9-11e6-90c9-e4535fb09e8d.png">

cc: @eli-lewis

[2016-12-23 15:23] gnakm commented on #4479
**Refill Prescriptions:**

- [ ] Heading starts off with H5 before H1. Incorrect heading structure. Tag should go from H1 to H6.
Will go over this with Mel.

- [x] In process (refill status) button is non-functional. Screen reader does not alert the user and user is also unable to exit out of the pop-up box.  Focus does not return back so it is confusing for the reader and for the user to get out

[2016-12-23 16:24] usds-bot opened #4494 "UserVoice Idea: Correct phone number"
I called the number on this website under the FAQ  and was told it was not the right number and that it was technical support. Please put the correct phone numbers on your website. "How long will it take to process your application?
Less than one week. If more than a week has passed since you submitted your application and you haven’t heard back, please don’t apply again. Call 855-574-7286".

http

[2016-12-23 17:54] koconnor719 commented on #4491
thx @jcmeloni   yes; i delete things w/ inappropriate language or when someone mentions a person by first and last name--but i do send a message.  here's the message i sent below:

We are sorry you are having trouble on vets.gov. Can you provide some additional information so our team can help? Are you having trouble setting up your account? Or with something else. If you can send us some addition

[2016-12-23 17:54] #4491 closed

[2016-12-23 17:54] koconnor719 commented on #4494
@jcmeloni @emilyville is there an "FAQ" on site?  is the the ID.me FAQ??

[2016-12-23 17:56] koconnor719 commented on #4494
Posted and closed:

Thank you for your feedback.  We are sorry you are having trouble reaching our vets.gov Help Desk.  The correct number is 855-574-7286, and it is open Monday through Friday, 8:00 a.m. to 8:00 p.m. (ET) to get help with your application.

vets.gov team

[2016-12-23 17:56] #4494 closed

[2016-12-23 17:59] koconnor719 commented on #4483
Thank you for your feedback--but we aren't done yet!!  We still have content and features to migrate to vets.gov so Veterans have a single site where they can discovery, apply for, track, and manage the benefits they have earned--with one logon account!

If you are a Veteran and would like to participate in our Veteran user research, which drives how we design vets.gov, please contact our team at

[2016-12-23 17:59] #4483 closed

[2016-12-23 18:00] koconnor719 commented on #4478
got it.  thanks.

posted and closed:

Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certification of their identity.

For specific help with identity proofing your account, plea

[2016-12-23 18:00] #4478 closed

[2016-12-23 18:03] koconnor719 commented on #4474
posted and closed:

Thank you for your feedback! We're sorry you are having issues with the identity verification process. If you are having trouble setting up your vets.gov account online, please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) and the team will help you directly or escalate issues accordingly.

vets.gov team

[2016-12-23 18:03] #4474 closed

[2016-12-23 18:04] koconnor719 commented on #4216
@leannammiller do you have an estimated date when this will be fixed?

[2016-12-23 18:04] #4472 closed

[2016-12-23 18:05] koconnor719 commented on #4135
posted and closed:

Thank you for your feedback. We currently don't have Vet centers up on the facility locator but are looking to include them soon! You are not able to see the VAMC Martinsburg facility because it is outside the radius of the zip code you entered. Sorry about that! If you zoom out a bit using the +/- you will eventually see it listed. You can also search for facilities directly i

[2016-12-23 18:05] #4135 closed

[2016-12-23 18:06] #4123 closed

[2016-12-23 18:07] koconnor719 commented on #3898
Posted and closed:

Thank you for your feedback. We sent this information to the VA program who is responsible for updating this data!

vets.gov team

[2016-12-23 18:07] #3898 closed

[2016-12-23 18:08] koconnor719 commented on #3096
@leannammiller pls. provide status.

[2016-12-23 18:08] koconnor719 commented on #3009
@leannammiller can this be closed.

[2016-12-23 19:47] #4337 closed

[2016-12-24 01:02] bshyong commented on #4492
IE11! I really should buy a Windows PC so that it's easier to test our site on Internet Explorer.. I'm not sure if Browserstack or other tools allow us to simulate using a screen reader—I'll look to see if there is anything in the code that is obviously unsupported or would cause problems in IE11.

The problem with not being able to close out of the pop-up I can try testing on the Mac screen reade

[2016-12-24 18:58] usds-bot opened #4500 "UserVoice Idea: Text the number"
The verification process does not work. It does not text or make the call for the 6 digit number.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17539288-text-the-number

[2016-12-25 18:16] usds-bot opened #4501 "UserVoice Idea: Still broken"
Still can't get my account verified! It will not "Get Started". That button does not wor. How am I supposed to verifiy my account if you link doesn't work! "Merry Christmas! Veterans! Thanks for all the tax money we take and don't use properly!"

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17543371-still-broken

[2016-12-25 19:13] koconnor719 commented on #4501
posted and closed:

Thank you for your feedback. Our team can’t recreate this error. Where on the site are you seeing a “Get Started” button? Do you mean the “Sign Up” green button? That’s working when we test it. Can you include the url you are on and our team will look into it immediately for you?

vets.gov team

[2016-12-25 19:13] #4501 closed

[2016-12-25 19:16] koconnor719 commented on #4137
new comment:

[2016-12-25 22:23] usds-bot opened #4502 "UserVoice Idea: Fix it"
Why is it I cannot sign in? I just keep getting directed back to the sign in page. Please fix this site. It's frustrating to keep getting jerked around.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17544244-fix-it

[2016-12-26 04:54] usds-bot opened #4503 "UserVoice Idea: Make the ID.me interface work with the sign in"
I understand the vital need for information security.  However, I've registered with ID.me and verified my identity with them.  I attempt to sign into vets.gov, it says I'm being redirected, by fails to sign me in.  I've shut my computer down and re-tried to no avail.  Could you make something easy on a veteran just once, please?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17

[2016-12-26 14:04] eli-lewis commented on #4492
@bshyong there is a PC at VA that we can use for testing, i believe.  I won't be there this week but am sure we can get someone to test a couple things out if needed.

[2016-12-26 14:58] ayaleloehr commented on #4466
Sounds good to me. Nice work getting to both a good and easy to implement solution quickly!

[2016-12-26 16:16] ayaleloehr commented on #4492
I will be there at least Tuesday and Wednesday. Please ping me directly if there is anything you want me to test out!

[2016-12-27 06:44] usds-bot opened #4504 "UserVoice Idea: Not another website"
This website sucks. I agree with everyone and say we don't need another website especially one that doesn't work

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17552524-not-another-website

[2016-12-27 13:53] usds-bot opened #4505 "UserVoice Idea: Can't sign in"
I can not sign into vets.gov. I registered my account, when I tried to sign in I did get the sign in pop-up (pop-up blocker is turned off for IE) then it disappeared.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17554627-can-t-sign-in

[2016-12-27 14:16] jcmeloni commented on #4491
@koconnor719 Cool. I thought so.

[2016-12-27 14:18] jenny-h-l commented on #4492
~19% of VA traffic is IE 11: https://analytics.usa.gov/veterans-affairs/

[2016-12-27 16:29] gnakm commented on #4190
Closing this because these are being prioritized by core team!

[2016-12-27 16:29] #4190 closed

[2016-12-27 16:47] markolson opened #4506 "Add monitoring/alerting for TIMS submissions"
With the ops team, create an alert in prometheus that will let us or the on-call person know if the number of submissions falls below a reasonable number each night.

[2016-12-27 17:05] #4493 closed

[2016-12-27 18:55] usds-bot opened #4508 "UserVoice Idea: Broken redundant website"
This website does not redirect 80% of the time nor does it call back.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17557123-broken-redundant-website

[2016-12-27 19:01] webinista commented on #2508
We're no longer supporting IE9, so [Awesomeplete](https://leaverou.github.io/awesomplete/) may be viable now for a typeahead feature.

[2016-12-27 19:02] jcmeloni commented on #4500
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry you are having difficulties verifying your account.  At this time we cannot duplicate this issue.  Could you please try again?  If you still do not receive a text or call, please  call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) and the team will help you di

[2016-12-27 19:04] jcmeloni commented on #4502
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov.  We are receiving reports of intermittent issues regarding redirection after login, and are working to track down and fix the issue. Please try again later, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574

[2016-12-27 19:05] jcmeloni commented on #4503
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov.  We are receiving reports of intermittent issues regarding redirection after login, and are working to track down and fix the issue. Please try again later, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574

[2016-12-27 19:08] jcmeloni commented on #4505
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov.  We are receiving reports of intermittent issues regarding redirection after login, and are working to track down and fix the issue. Please try again later, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574

[2016-12-27 19:09] jcmeloni commented on #4502
Work is being tracked in https://github.com/department-of-veterans-affairs/vets.gov-team/issues/561

[2016-12-27 19:09] jcmeloni commented on #4503
Work is being tracked in https://github.com/department-of-veterans-affairs/vets.gov-team/issues/561

[2016-12-27 19:09] jcmeloni commented on #4505
Work is being tracked in https://github.com/department-of-veterans-affairs/vets.gov-team/issues/561

[2016-12-27 19:35] #4466 closed

[2016-12-27 19:37] webinista commented on #4508
Related to #4504

[2016-12-27 21:07] omgitsbillryan opened #4512 "No User Feedback When Login Fails"
In the event that login fails, `vets-api` redirects the browser to:
[code]
**Expected Behavior** The page shows some kind of error screen or message
**Actual Behavior** The small ID.me login window closes but the main vets.gov page does nothing at all

Note: For reference, _successful_ login redirects to:
[code]

[2016-12-27 21:48] usds-bot opened #4514 "UserVoice Idea: Update MGIB Amount"
The Montgomery GI Bill amount is not correct in the GI Bill Comparison Tool. It list $1789 instead of the current amount of $1857.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17558470-update-mgib-amount

[2016-12-27 21:59] ayaleloehr commented on #4514
@saintsoup52 (Patrick Campbell) sometimes knows about these numbers. Any thoughts?

[2016-12-28 16:26] usds-bot opened #4516 "UserVoice Idea: ID Me Id error"
I tried 3 times to verify my ID with my drivers license, error. Answered questions, error, ID. Me needs IT help.

Error Code: F2001-8646B448158A

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17564185-id-me-id-error

[2016-12-28 17:19] U-DON opened #4517 "Refactor GlossaryModal to use common Modal component"

[2016-12-28 17:32] jcmeloni commented on #4516
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry you are having difficulties verifying your account.  The error code you provided will help ID.me identify the precise error encountered by their system during your identity proofing process. Please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) and the tea

[2016-12-28 18:01] koconnor719 commented on #4516
posted and closed:

Thank you for your feedback! We are sorry you are having difficulties verifying your account. The error code you provided will help ID.me identify the precise error encountered by their system during your identity proofing process. Please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) and the team will be able to interpret this error code a

[2016-12-28 18:01] #4516 closed

[2016-12-28 18:02] koconnor719 commented on #4514
sent to stephanie price to investigate this.  (patrick is not a VA employee; let's work thru stephanie?)  will cc elizabeth

[2016-12-28 18:07] koconnor719 commented on #4508
Posted and closed:

Thank you for your feedback. Can you please provide additional information about your comment?  The goal of vets.gov is to be the single website, and logon, that Veterans can use to discover, apply for, track and manage the benefits they have earned. To this end, we are migrating and redesigning features and rewriting content in plain language from more than 500 websites. This

[2016-12-28 18:07] #4508 closed

[2016-12-28 18:12] koconnor719 commented on #4505
posted and closed:

Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov. We are receiving reports of intermittent issues regarding redirection after login, and this should now be fixed. Please try again, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET).

vets.gov team

[2016-12-28 18:12] #4505 closed

[2016-12-28 18:12] koconnor719 commented on #4505
@jcmeloni just confirming this was fixed yesterday right?

[2016-12-28 18:13] koconnor719 commented on #4503
posted and closed:

Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov. We are receiving reports of intermittent issues regarding redirection after login, and this should now be fixed. Please try again, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET).

vets.gov team

[2016-12-28 18:13] #4503 closed

[2016-12-28 18:14] koconnor719 commented on #4502
posted and closed:
Thank you for your feedback! We are sorry that you are having difficulty logging in to vets.gov. We are receiving reports of intermittent issues regarding redirection after login, and this should now be fixed. Please try again, and if you are still having issues please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET).

vets.gov team

[2016-12-28 18:14] #4502 closed

[2016-12-28 18:15] koconnor719 commented on #4500
posted and closed:
Thank you for your feedback! We are sorry you are having difficulties verifying your account. At this time we cannot duplicate this issue. Could you please try again? If you still do not receive a text or call, please call the Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET) and the team will help you directly or escalate issues to our technical team.

[2016-12-28 18:15] #4500 closed

[2016-12-28 18:16] koconnor719 commented on #3005
posted and closed:

Thank you for your feedback. The best way to get official one-on-one assistance on your job hunt is from the American Job Center. They have can be reached at 877-US2-JOBS
(877-872-5627) TTY: 877-889-5627. You can also visit CareerOneStop for local help, career workshops, and more. https://www.careeronestop.org/LocalHelp/local-help.aspx

vets.gov team

[2016-12-28 18:16] #3005 closed

[2016-12-28 18:18] #4492 closed

[2016-12-28 18:28] usds-bot opened #4518 "UserVoice Idea: You need to add a date opened and closed to every idea submitted"
You need to add a opening and closing dates to every idea.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17565451-you-need-to-add-a-date-opened-and-closed-to-every

[2016-12-28 19:49] #4489 closed

[2016-12-28 20:32] saintsoup52 commented on #4514
Good catch.

I submitted a pull request with the updated rates.

From: koconnor719 [mailto:notifications@github.com]
Sent: Wednesday, December 28, 2016 01:02 PM
To: department-of-veterans-affairs/vets-website <vets-website@noreply.github.com>
Cc: Campbell, Patrick (CFPB); Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Update MGIB Amo

[2016-12-28 20:44] alexose commented on #4409
Only one set of problems left at this point, which is the edit screen test in `est/hca/06-edit-submission.e2e.spec.js`.  It's almost certainly a timing issue.

[2016-12-28 23:24] goldenmeanie commented on #3080
We'd like the date fields to switch from drop-down to text entry. It would be great if they could recognize 01|1|Jan|JAN|January. But limiting it to numbers only would be an acceptable fallback ; )

[2016-12-28 23:40] webinista opened #4521 "Remove Blog from vets.gov"
Vets.gov/experience looks like this right now:

![screen shot 2016-12-28 at 3 39 41 pm](https://cloud.githubusercontent.com/assets/354277/21533860/e68cadde-cd13-11e6-949d-15ac6d784762.png)

Not sure how it's supposed to look. Are we still keeping the blog around?

[2016-12-29 03:33] #4517 closed

[2016-12-29 13:05] usds-bot opened #4526 "UserVoice Idea: This needs a lot of work!"
At least get some of the basic links working before putting something like this out for public access.  At this point the links to verify your identity so you can get to order prescription refills just brings you back to the same page.  The developer needs to do some basic testing - this is entry level program development!

When is the VA going to put out some professionally developed applications

[2016-12-29 16:09] jcmeloni commented on #1781
@webinista Does it also address #2506?

[2016-12-29 16:10] jcmeloni commented on #4521
@koconnor719 @staceylanger @emilyville Is the blog something that's being kept around?

[2016-12-29 16:33] usds-bot opened #4528 "UserVoice Idea: first name is wrong"
mY NAME IS NOT CORRECT HOW DO I FIX THIS.  brad.m.fineberg@gmail.com

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17570317-first-name-is-wrong

[2016-12-29 19:53] ayaleloehr commented on #4521
This document says no: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/4299ddb480469bdc6aa8591d64efaca80db14fa8/Decisons/management%20decisions.md

Relevant section:
[code]
That seems to not have been, however, so I do not know if we should reevaluate.

[2016-12-29 21:25] dannychapman commented on #4439
I really like this! One thought on the horizontal links at the bottom - it might be worth upping the contrast / weight for accessibility.

[2016-12-29 21:30] webinista commented on #4521
There's a post up from [last month](https://www.vets.gov/2016/11/11/help-us-improve-vets-gov/). Posts are also displayed _oldest_ first.

[2016-12-29 21:31] webinista commented on #1781
Yes it does. In fact, I'll close that issue as a duplicate of this one.

[2016-12-29 21:33] webinista commented on #2506
Close enough to #1781 that this can be closed as a duplicate. Track progress in #4523.

[2016-12-29 21:33] #2506 closed

[2016-12-29 21:33] ayaleloehr commented on #4514
@koconnor719 you can reply to this user that this has been fixed!  And thank them for their help!

[2016-12-29 21:33] dannychapman commented on #3780
+1 on this.

[2016-12-29 22:45] usds-bot opened #4530 "UserVoice Idea: Appeal Status"
Why is information relating to the status of my appeal not available on this website?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17573335-appeal-status

[2016-12-30 02:05] U-DON opened #4533 "Hide card/list toggle when there are no prescriptions"
If there's an error where the prescriptions aren't loading, for example, the toggle for card/list view still appears, but it should probably be hidden.

[2016-12-30 02:56] usds-bot opened #4534 "UserVoice Idea: ID.me"
I have tried verifying my account with questions as well as my Drivers License and is still not allowing me to verify. I am even signing in the my DS logon. This site sucks! I can't view anything on this site let alone the NEED HELP button doesn't even work.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17574763-id-me

[2016-12-30 14:10] rroueche commented on #4035
Apologies! Was still getting used to GitHub flow and only just now saw thing. Evaluating now.

[2016-12-30 14:13] rroueche commented on #4035
@mollyblake that link should definitely be there - great catch!! please go ahead and create a new branch in the vets website repo, and once you've made the update, create a PR and assign Beth and I as reviewers, and I'll check it out + merge as soon as possible.

cc @maryannbrody

[2016-12-30 14:23] rroueche commented on #2570
@bethpotts does Mikki's proposed IA address this, or are there still inconsistencies in that short-term future state that we should discuss?

[2016-12-30 14:31] mollyblake commented on #4035
https://github.com/department-of-veterans-affairs/vets-website/pull/4535

Here is the PR @bethpotts  and @rroueche. Let me know if there are any changes!  Thanks.

[2016-12-30 15:36] koconnor719 commented on #4534
deleted for language; but replied to user:

Thank you for your feedback. We are sorry you are having trouble with setting up your account. It should allow you to start the process using DS Logon, but then you will have to "verify your account" and go through the identity proofing process (with your drivers license) in order to make sure your account has the highest level of security available!  Pl

[2016-12-30 15:36] #4534 closed

[2016-12-30 15:39] koconnor719 commented on #4530
posted and closed:

Thank you for your feedback.  We are working to migrate Veteran facing features and content from hundreds of websites to vets.gov!  We will start features for appeals in early 2017 so please check back in the Spring on vets.gov!  The reason we are taking an iterative approach and doing this migration in the open (vets.gov has been live and adding features since November 2015) i

[2016-12-30 15:39] #4530 closed

[2016-12-30 15:49] koconnor719 commented on #4526
Thank you for your feedback. Our team is looking into this link issue. Please keep in mind the vets.gov account provides Veterans with the highest level of security available in the government and private sectors today. This is important given the new and constantly evolving data security threats. Protecting Veteran data and privacy is a high priority at VA. Our account has a level of assurance (L

[2016-12-30 15:49] koconnor719 commented on #4526
@jcmeloni ok to close?

[2016-12-30 15:51] koconnor719 commented on #4514
posted and closed:

Thank you for your feedback. Our team has fixed this!

vets.gov team

[2016-12-30 15:51] #4514 closed

[2016-12-30 15:52] koconnor719 commented on #4518
Thank you for your feedback!  Our team will add this to our research and see what other Veterans think.

vets.gov team

[2016-12-30 15:52] #4518 closed

[2016-12-30 18:17] lihanli opened #4536 "address validation error"
we got this error on Dec 29, 2016 9:23:47 PM UTC
[code]

i think it's because of the zip code. when you enter an invalid zip code an error appears on the input field but it still lets you continue to the next section.

[2016-12-30 18:39] #3843 closed

[2016-12-30 18:53] patrickvinograd commented on #3960
Thinking through deployment implications.

- It looks like there is a rails Gem that helps with foreign data wrapper migration, so it can be done mostly in line with standard rake workflow and not need a lot of special casing.

- Developers will need to have the GIDS schema installed in their local database in order for vets-api to work, since vets-api's `db:migrate` step will fail to set up the f

[2016-12-30 19:02] patrickvinograd commented on #3960
Also while I know implementation of the above approach is under way, I wonder whether having GIBCT pull data from GIDS via a REST API would not be a better architecture. I feel like I saw a ticket by @mphprogrammer or @ayaleloehr a while back suggesting this, but can't find it to see whether it was discussed at any length.

In this model GIDS would be much the same, but would expose an additional

[2016-12-31 17:29] usds-bot opened #4537 "UserVoice Idea: Diabetic care"
My father is a diabetic he doesn't eat right and has been sleeping alot lately he doesn't get out iat all.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17586550-diabetic-care

[2017-01-01 14:59] usds-bot opened #4538 "UserVoice Idea: Confidentiality Issues"
I'm inherently cautious and suspicious of third party verification sites; especially when they are requesting access to my DS Login. I am speaking specifically about VA's partnership with ID.me. When I registered for access to the vets.gov portal I was redirected to the ID.me website where I completed registration and was then prompted to provide other ID/Login information to social/financial site

[2017-01-01 16:32] usds-bot opened #4539 "UserVoice Idea: Login verification is impossible"
1. The Passport  scan could not be verified (The photo is clear, the Passport is current.) If you accept a scan, please tell how to correct the problem (size? Resolution? ).
Vets who live abroad may not have a current US Driver's license.
2. You need to accept an international phone number.
3. When choosing questions:
Provide fields for an international home address.
 I couldn't progress further,

[2017-01-03 14:22] jcmeloni commented on #4526
Sure.

[2017-01-03 14:23] jcmeloni commented on #4521
@staceylanger Please advise if the blog is to remain? Thanks!

[2017-01-03 14:51] jcmeloni commented on #4274
@crwallace @webinista Let's talk about this in sprint planning today 1/3

[2017-01-03 14:53] jcmeloni commented on #4436
@crwallace @webinista Let's talk about this in sprint planning today 1/3

[2017-01-03 15:03] akainic commented on #4536
Thank you for raising this issue and creating a ticket, @lihanli! We will address this fix this week.

[2017-01-03 16:16] jcmeloni commented on #4538
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?

[2017-01-03 16:25] #3266 closed

[2017-01-03 16:31] koconnor719 commented on #4521
@jcmeloni the leads decided the blog should be deleted a few months ago:)  @emilyville

[2017-01-03 16:34] #1781 closed

[2017-01-03 16:36] webinista commented on #4521
The blog is only linked from [Secretary Bob's message](https://www.vets.gov/2016/11/11/help-us-improve-vets-gov/). If you click the "Experience Link,"  however, you'll land on the old blog.

[2017-01-03 16:42] usds-bot opened #4540 "UserVoice Idea: I am very dissatisfied with this sight. It proves to be of mo value. Recently was told I could get a 10 percent discount if had proof of m"
Sight is worthless.  I think you steal identities.  How do you drop membership?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17609077-i-am-very-dissatisfied-with-this-sight-it-proves

[2017-01-03 16:50] leannammiller commented on #3080
okay so next steps here would be to write the tickets for this work, correct @goldenmeanie ?

[2017-01-03 16:51] #3080 closed

[2017-01-03 16:54] jcmeloni commented on #4274
Holding on this, @emilyville to write ticket for reverting design first.

[2017-01-03 17:18] akainic commented on #3012
Completed.

[2017-01-03 17:18] #3012 closed

[2017-01-03 17:41] leannammiller commented on #4506
@markolson can you estimate this pls?

[2017-01-03 17:43] leannammiller commented on #3970
@cagedcrown - can you update this status?

[2017-01-03 17:43] leannammiller commented on #4257
@cagedcrown - can you confirm status?

[2017-01-03 17:50] crwallace commented on #4439
@emilyville -- I would +1 @dannychapman's comment. Can you either attach the sketch file here or drop it in the core team channel so we can see all of the colors, fonts, font-weights, etc?

[2017-01-03 17:51] akainic commented on #4340
Meeting already happened. Add notes here.

[2017-01-03 17:52] akainic commented on #4340
Meeting notes:
- 1995 is on the same system as the 1990 (same as other education benefits forms)
- Ultimate goal is to spit out a batch file like we did for the 1990
- Same spool for all forms
- Same Admin functionality for the other education forms as the 1990
- Reporting: ask Shay for how the reports should look

[2017-01-03 17:52] #4340 closed

[2017-01-03 18:14] leannammiller opened #4542 "Build Front End 1995 pg. 2 - Benefit Information"
Are you getting, or do you expect to get any money (including, but not limited to, federal tuition assistance) from the Armed Forces or public health services for any part of your coursework or training? (Note about top-up?)
Do you expect to receive educational benefits under the Government Employee's Training Act (GETA) for the same course(s) you will receive VA education benefits? (answer only i

[2017-01-03 18:15] leannammiller opened #4543 "build front end 1995 CH 3 - Military Service"
# Service Periods
Branch of service **[text]**
Start of service period **[date]**
End of service period **[date]**

# Military History
Do you have any periods of service that began before 1978? **[radio]**

# Contributions
I am receiving benefits from the U.S. Government as a civilian employee during the same time as I am seeking benefits from VA. **[check]**

[2017-01-03 18:16] leannammiller opened #4544 "build front end 1995 CH 4 - School Selection"
# 4.1 NEW school, university, or training facility
_^ Title needs copy help_

In what type of education or training do you plan to enroll?

 - Type of education or training **[select]**
 - Name of school, university, or training facility **[text]**
 - Address **[standard address component]**
 - Education or career goal (for example, “Get a bachelor’s degree in criminal justice” or “Get an HVAC tec

[2017-01-03 18:17] leannammiller opened #4545 "build front end 1995 pg 5 - direct deposit"
Do you want to use (start of continue) direct deposit? [check]
Do you want to stop using direct deposit? [check]
Account type
Account number
Routing number

[2017-01-03 18:17] leannammiller opened #4546 "build front end 1995 CH 5 - Personal Information"
# 5.1 Contact Information
- How would you prefer to be contacted if VA has questions about your application? **[radio]**
- *Address **[standard address component]**
- *Email address **[email]**
- *Re-enter email address **[email]**
- Primary telephone number **[tel]** *_Required if phone is selected as preferred contact method_
- Mobile telephone number **[tel]**

# 5.2 Dependents
_Conditional bas

[2017-01-03 18:18] leannammiller opened #4547 "build front end 1995 - review page"

[2017-01-03 18:23] leannammiller opened #4548 "prep for non-1990 forms"
https://github.com/department-of-veterans-affairs/vets-api/pull/658

[2017-01-03 18:24] leannammiller opened #4549 "update database to store the type of form that's being submitted"
currently defaults to 1990, will need to accommodate 1995

[2017-01-03 18:25] leannammiller opened #4550 "Updating YTD report for any add'l biz requirements for the 1995"

[2017-01-03 18:25] leannammiller commented on #4550
@lihanli can you pls estimate?

[2017-01-03 18:26] leannammiller opened #4551 "make a 1995 schema"
approach TBD, need to schedule powwow between back end and FE - do we want to make an invisible field that says which kind of form it is?

[2017-01-03 18:33] lihanli commented on #4550
what are the additional business requirements? exact same fields added for 1995?

[2017-01-03 18:34] markolson commented on #4550
Does the original excel file we got have any non-1990 entries in it? If not, we probably need to ask Shay if she got multiple YTD reports.

[2017-01-03 18:35] lihanli commented on #4550
the original file had all the forms on it

[2017-01-03 18:37] markolson commented on #4550
Ok. I think take a look at #4549 first and think about any db migrations that need to take place to get the info needed for the more comprehensive report?

[2017-01-03 18:40] leannammiller opened #4552 "Coordinate 1995 O&M with Ian"
The vets.gov team will provide ongoing maintenance and support for adding/updating content and providing break/fix for any technical issues on the vets.gov platform.  Until March 2017, the vets.gov team will be focused on migration of existing features and content to vets.gov, but after this is completed enhancement work will begin on new features and functions.

[2017-01-03 18:47] akainic commented on #4546
@cweber @goldenmeanie are these all on the same page? And what exactly is the dependents question? Number of dependents?

[2017-01-03 18:48] akainic commented on #4544
@cweber @goldenmeanie is the school information for NEW and OLD conditional based on anything? Are all these questions on the same page? I think a little clarity might be helpful here on exactly how this page should look (at least I'm confused :)).

[2017-01-03 18:53] leannammiller opened #4553 "pre launch checklist for 1995"
- [ ] Run list of fields in form and make sure they are all rendered in the spool file template.

[2017-01-03 19:10] leannammiller opened #4554 "schedule discovery wrap up with leads"

[2017-01-03 19:24] emilyville commented on #4439
@crwallace @dannychapman I was trying not to introduce anything new with this, so we shouldn't need a sketch file. I can make it full white when I incorporate Anitra's copy changes. (will update today)

[2017-01-03 19:36] leannammiller opened #4555 "make spool files easier to read / how to handle removed fields"
Discuss with Shay in Thursday call

[2017-01-03 19:58] leannammiller opened #4556 "map data through the form and ensure everyone understands flow of data"

[2017-01-03 19:59] leannammiller opened #4557 "make PR checklist"

[2017-01-03 20:23] akainic commented on #4557
- [ ] Description of the change
- [ ] Why it is needed
- [ ] Link to ticket
- [ ] Screenshot of the new version (if there is a UI change)
- [ ] Other parts of the application this might impact (e.g., new field added to front-end that needs to be added to back-end and schema)
- [ ] Other parts of Vets.gov this might impact (e.g., changes to common components)

[2017-01-03 20:35] koconnor719 commented on #4538
posted and closed:

Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become one of the first federal agencies to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?id=2838

Our account has a high

[2017-01-03 20:35] #4538 closed

[2017-01-03 20:37] koconnor719 commented on #4537
@bethpotts do we have any content about diabetes on site?  pls. advise of response.  @jenny-h-l

[2017-01-03 20:38] koconnor719 commented on #4528
Thank you for your feedback. Can you please provide us with some additional information so we can resolve this issue for you?  Where is your name not correct on vets.gov?  Can you send us a link or a screenshot?  You can also call our vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET).

vets.gov team

[2017-01-03 20:38] #4528 closed

[2017-01-03 20:40] #4526 closed

[2017-01-03 21:20] lihanli commented on #4506
i think this would work
http://prometheus-prod.vetsgov-internal:9090/prometheus/graph?g0.range_input=4w&g0.expr=sum(worker_education_benefits_claim_221990_307+%2B+worker_education_benefits_claim_221990_331+%2B+worker_education_benefits_claim_221990_351)+%3C+25&g0.tab=1

[2017-01-03 21:26] jkassemi commented on #4506
@lihanli - do you know where the "331" is coming from? From what I can see in https://github.com/department-of-veterans-affairs/vets-api/blob/b1ccfa995c738dcbf98458408ead1bc826d4f404/app/controllers/v0/education_benefits_claims_controller.rb we should expect `failure` and `success`. If you don't have any further info we can investigate a little further.

[2017-01-03 21:27] jkassemi commented on #4506
A minor suggestion for improving the metrics collection for this - we've had a clearer time writing the queries when we record total submissions and failures instead of successes and failures.

[2017-01-03 21:30] patrickvinograd commented on #4557
- [ ] Devops impact - mainly around new configuration parameters, new metrics worth monitoring, etc.

These are certainly good things to keep in mind and communicate in a PR, but I'm a little dubious about checklists and templates like these, insofar as I don't know how often they actually prevent future defects vs. being a reaction to something that happened in the past. I'm not saying don't do i

[2017-01-03 21:31] lihanli commented on #4506
the last 3 numbers are the region codes, we're collecting the data here
https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/workers/education_form/create_daily_spool_files.rb#L101

i don't think the `api.education_benefits_claim.221990.success` data will be used here since we want to know how many submissions are sent to TIMS and the other data only tells us how many submiss

[2017-01-03 21:37] jkassemi commented on #4506
@lihanli - awesome, ty. Makes sense.

The statsd tags support is a little wonky, that's why it's getting pushed into the metric name and not a separate label. https://github.com/department-of-veterans-affairs/vets-api/blob/49a5ace61929f26b5d5177ed32c79d2d8c77a93a/lib/statsd_middleware.rb#L18 provides a quick example of how to use it.

[2017-01-03 21:45] jkassemi commented on #4506
With that we can use a query like `sum(delta(worker_education_benefits_claim_transmissions{form:'22-1990'}[24h])) == 0` to alert when there aren't any submissions within a 24 hour period.

[2017-01-03 21:51] emilyville commented on #4439
Thanks everyone! Here's the final versions.

**Design notes:** I combined the last two columns so it's still 4 wide, but the last two are combined to be the help desk and take up 50% of the width.

**Content notes:** @AnitraAppa - Thank you for looking this over! I kept this consistent with the homepage sections and options. You're totally right about sentence case and ordering, so I fixed those b

[2017-01-03 21:57] markolson commented on #4506
@jkassemi We have the data broken out across multiple files (the `rpo`) and would likely need to check if any of them have a delta of `0`. Which makes me think that a gauge isn't appropriate for this, because then it would trigger if the same counts actually did get sent two consecutive days.

[2017-01-03 21:59] goldenmeanie commented on #4556
Is this the field/spool file reconciliation?

[2017-01-03 22:13] jkassemi commented on #4506
@markolson - I think we'll end up with a gauge "per" with this implementation:

[code]

We can group by rpo `sum(delta(worker_education_benefits_claim_transmissions{form:'22-1990'}[24h])) by (rpo) == 0` to get an alert when any particular rpo has a delta of 0.

[2017-01-04 00:35] emilyville commented on #4521
Ok by me if we remove whenever! Just remember to also remove the footer link to Sec Bob's post and we should be in the clear.

[2017-01-04 00:41] bshyong opened #4563 "Desktop E2E test for Messaging"
Also need to add e2e test for Thread view

[2017-01-04 00:43] emilyville opened #4564 "Reinstate header design"
This issue created a slew of changes to the header that we need to revert back to the intended design.

https://github.com/department-of-veterans-affairs/vets-website/issues/3771

Here is the original mockup, and this change went out for the 11/11 launch.

![vets gov-homepage-11-11-updated-copy2](https://cloud.githubusercontent.com/assets/1307774/21628312/6123c7bc-d1d3-11e6-988e-d7014c4c0006.png)

[2017-01-04 00:43] emilyville commented on #4274
This should happen before #4564, so not totally clear on the delay for not having created this issue. Nonetheless, here is is!

https://github.com/department-of-veterans-affairs/vets-website/issues/4564

[2017-01-04 02:25] jkassemi commented on #4506
@markolson, given that https://github.com/department-of-veterans-affairs/vets-api/issues/662 wasn't the right approach, is there any reason to suspect that this process is not currently running properly?

I expected to see metrics for `worker.education_benefits_claim.transmissions` based on the changes in https://github.com/department-of-veterans-affairs/vets-api/commit/040d65a7973b020c4ed2d28cc05

[2017-01-04 04:40] ayaleloehr commented on #4479
@gnakm is there anything more here for Ben or Eugene to implement or have these all been assigned out and this can be closed?

[2017-01-04 04:41] ayaleloehr commented on #2940
Has this been done @bshyong @U-DON ?

[2017-01-04 13:50] bshyong commented on #4398
This issue has been resolved this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/4567

Mapbox was returning POI results which ranked higher in relevance for this particular Saint Petersburg query
https://www.yelp.com/biz/saint-petersburg-manhattan

[2017-01-04 14:09] jbalboni commented on #4462
Work is in the [edu-jsonformlib-jsb](https://github.com/department-of-veterans-affairs/vets-website/tree/edu-jsonformlib-jsb) branch. If you want to try it, you'll also need to clone the VA version of [react-jsonschema-form](https://github.com/department-of-veterans-affairs/react-jsonschema-form) repo and do the following:

In the the react-jsonschema-form folder:
`npm run dist`
`npm link`

In the

[2017-01-04 14:14] jcmeloni commented on #4539
Possible response, please adjust as you see fit:

"Thank you for your feedback!  The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA.  To do so, we must verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certification for your identity.

Addre

[2017-01-04 14:25] jcmeloni commented on #4540
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?

[2017-01-04 14:28] gnakm commented on #4479
On the health side, we're pretty set. @melwoodard I'll put the rest of the issues in a markdown so that core team can go over them.

[2017-01-04 14:28] #4479 closed

[2017-01-04 14:28] jcmeloni commented on #4274
Thanks! My comment on 3 Jan was based on what I thought I heard you say in our call at 11am that day. My bad.

[2017-01-04 14:28] markolson commented on #4506
The change wasn't deployed until last night, and the job that generates the metrics is only run once at 3AM Eastern each day.  `worker.education_benefits_claim.transmissions` exists now.

[2017-01-04 14:31] jcmeloni commented on #4439
👍 @emilyville thanks for confirming all

[2017-01-04 14:36] jcmeloni commented on #4521
@emilyville Sounds good, and thanks everyone for comments.  @webinista I'll just change this issue to be "remove blog" :)

[2017-01-04 14:42] jcmeloni commented on #4274
Intention is for Core Team to tackle in Sprint 17-2 unless people have bandwidth in 17-1.

[2017-01-04 14:42] jcmeloni commented on #4436
Intention is for Core Team to tackle in Sprint 17-2 unless people have bandwidth in 17-1.

[2017-01-04 14:42] jcmeloni commented on #4521
Intention is for Core Team to tackle in Sprint 17-2 unless people have bandwidth in 17-1.

[2017-01-04 14:42] jcmeloni commented on #4564
Intention is for Core Team to tackle in Sprint 17-2 unless people have bandwidth in 17-1.

[2017-01-04 14:51] akainic commented on #4557
@patrickvinograd very true. It's something to be conscious of. During our RCA for the recent education bug, we realized that the underlying issue was that the FE and BE teams weren't really talking to each other and weren't aware of what the other was doing. We were hoping that this would be one fix for that problem. I think in general it's a good practice to document PRs thoroughly so others can

[2017-01-04 16:09] #4536 closed

[2017-01-04 16:13] akainic opened #4568 "Update links to 1990 form"
Url has changed from `education/apply-for-education-benefits/application/` to `education/apply-for-education-benefits/application/1990/`.

[2017-01-04 16:17] akainic opened #4569 "Communication to stakeholders about url change for 1995"

[2017-01-04 16:20] jkassemi commented on #4506
@markolson is right about the gauge not necessarily changing, so the delta is in fact not a solution to this problem.

Potential solutions include tracking a timestamp, log-based alarms, or triggering a PD exception from the rails application.

[2017-01-04 16:30] koconnor719 commented on #4521
We need to keep sec Bob post pls

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, January 03, 2017 07:35 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Blog header is mis

[2017-01-04 17:21] usds-bot opened #4572 "UserVoice Idea: Verify Id Me is a JOKE"
This is the worst system. It will not verify who I am so I cannot get into my account. When I called ID, they tried to blame it on my laptop. it is not my laptop, the link they send to my phone does not work on my phone. I tried to upload my drivers license and it could not verify me. I am going to call them again and waste another hour trying to explain to them that their system does not work.

h

[2017-01-04 17:30] U-DON commented on #2940
@ayaleloehr Hasn't been done yet.

[2017-01-04 17:40] koconnor719 commented on #4539
awesome!  thx @jcmeloni !!! the more specific the better!!!

Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. To do so, we must verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA) 3 certification for your identity

[2017-01-04 17:40] #4539 closed

[2017-01-04 17:45] koconnor719 commented on #4572
posted and closed

Thank you for your feedback. We are sorry you are having trouble setting up your vets.gov account. If you can provide us some additional information, we can look into this issue for you.  Did you call the vets.gov Help Desk (855-574-7286 Monday through Friday, 8:00 a.m. to 8:00)?  They should be able to walk you through the process and they can escalate any technical issues as n

[2017-01-04 17:45] #4572 closed

[2017-01-04 18:03] melwoodard commented on #4564
We still need to address the full-width alert on the HCA apply landing page (should match the alert on the Edu apply landing page). I'll log a separate issue and tag as a dependency.

There were a couple changes made via #3771 that we should consider retaining here:
- Moving the profile links inside the blue nav bar - this removes one band from the navigation area and more strongly ties these link

[2017-01-04 18:07] leannammiller commented on #4568
@akainic who do you want assigned to this ticket? what's the estimate?

[2017-01-04 18:13] leannammiller opened #4573 "wire up the submission"
port over JSON schema validation to finish submission controller so it uses new HCA submission service

[2017-01-04 18:14] melwoodard opened #4574 "HCA alert banner design update"
Moves the alert message below the intro paragraph https://www.vets.gov/healthcare/apply/

Alert message style should follow the modifications outlined in #4029

![alert-warning-hca-update](https://cloud.githubusercontent.com/assets/4106356/21653521/62b8ada2-d266-11e6-9cc3-4b6649ec1e4a.png)

Is a dependency of #4564 and #4274

[2017-01-04 18:17] melwoodard commented on #4574
@jcmeloni this is the last lurking full-width banner, which should ideally go in tandem with #4564 and #4274.

[2017-01-04 18:19] leannammiller opened #4575 "discovery: set up alerts for error handling"
what kind of alerting do we want?

set up meeting with rainbows to discuss
-anne
-mark
-lihan
-core team rep

[2017-01-04 18:21] leannammiller opened #4576 "ATO for HCA automatic resubmissions, etc."

[2017-01-04 18:26] usds-bot opened #4577 "UserVoice Idea: Correct MGIB amount under "Calculator Results""
Your team corrected the Montgomery GI Bill amount under "Your Estimated Benefits", but the amount was not corrected under "Calculator Results".

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17622496-correct-mgib-amount-under-calculator-results

[2017-01-04 18:28] webinista commented on #4487
Tracking in department-of-veterans-affairs/vets.gov-team#549 instead.

[2017-01-04 18:28] #4487 closed

[2017-01-04 18:29] ayaleloehr commented on #4577
@saintsoup52 since you're the one that looked into this last time. Thoughts?

[2017-01-04 18:55] webinista commented on #4521
We need more of a plan for this. Outstanding questions:

1. **Which Secretary Bob post are we retaining?**  I assume it's the [most recent one](https://www.vets.gov/2016/11/11/help-us-improve-vets-gov/) that's linked from the footer.
2. **Are we keeping it at that URL?**
      a. If so: We need to:
               - Remove the "Experience" link, so that the blog is no longer part of the site.

[2017-01-04 18:58] koconnor719 commented on #4521
Yes we should only have 1 sec Bob post up there. The most recent from 11/16

Sent with Good (www.good.com)

-----Original Message-----
From: Tiffany Brown [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, January 04, 2017 01:55 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-v

[2017-01-04 19:13] cweber opened #4578 "Build Front End 1995 CH 1 - Veteran/Applicant Information"
# 1. Applicant Information

 - *First name **[text]**
 - Middle name **[text]**
 - *Last name **[text]**
 - Suffix **[select]** _Is there a strong argument for why our name component uses a dropdown list instead of  a text field? Caitlin_
 - *Social Security Number **[number]**
   - I don't have a Social Security Number **[check]**
   - VA file number **[number]** _Conditionally revealed based on

[2017-01-04 19:13] cweber commented on #4578
Moved this here from edu-benefits-team

[2017-01-04 19:15] #4444 closed

[2017-01-04 19:24] koconnor719 commented on #4540
posted and closed.

We are sorry you are having difficulty setting up your vets.gov account. Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?

[2017-01-04 19:24] #4540 closed

[2017-01-04 19:53] jcmeloni commented on #4521
Since this isn't slated for this sprint, no need to focus on the questions now unless you want to (which is totally fine, just saying no one has to).  I will discuss with decision-maker folks in our next pre-planning meeting and get decisions that the team will need to appropriately complete the work in a future sprint.

[2017-01-04 19:58] cweber commented on #4544
I'm running through these and providing a bit more context for fields, as well as page breaks. Once I'm done with that, we can do a pass on what's conditional as well as what's required.

[2017-01-04 20:23] jcmeloni commented on #4574
thanks @melwoodard I'll throw it in the bucket with the others!

[2017-01-04 20:23] jcmeloni commented on #4574
Intention is for Core Team to tackle in Sprint 17-2 unless people have bandwidth in 17-1.

[2017-01-04 20:57] webinista commented on #2634
Fixed with a241d5b.

According to [someone who knows (aardrian, a longtime accessibility advocate)](https://stackoverflow.com/questions/38594369/is-it-more-accessible-to-use-a-button-or-a-to-open-close-a-modal/38619310) more about a11y than I do: `button` elements can be activated using the space bar or enter key.

And according to the comment by slugolicious below it, `button` is treated differen

[2017-01-04 20:57] #2634 closed

[2017-01-04 21:07] cweber commented on #4546
Updated. I think the dependents thing was a page title.

[2017-01-04 21:09] cweber commented on #4542
These two are covered in different issues that I just updated. (Military history and School Selection)

[2017-01-04 21:09] #4542 closed

[2017-01-04 21:09] cweber commented on #4545
This is covered in a subsection of Personal Information.

[2017-01-04 21:09] #4545 closed

[2017-01-04 21:12] koconnor719 commented on #4521
Sounds good😀

Sent with Good (www.good.com)

-----Original Message-----
From: Julie Meloni [notifications@github.com<mailto:notifications@github.com>]
Sent: Wednesday, January 04, 2017 02:53 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] Remove Blog from vets.gov (#4521)

[2017-01-04 21:16] saintsoup52 commented on #4577
I submitted a pull request to update the calculator rates.

The problem is that the constants that run the tool are now in two places when before it used to be just in one place. I logged this issue back in September.

https://github.com/department-of-veterans-affairs/gi-bill-comparison-tool/issues/413

It would be incredibly helpful to just have one location for the constants.

[2017-01-04 22:52] webinista commented on #4230
Pretty sure it's now safe to remove jQuery from shared code. It's still used on the GI Bill Comparison Tool. We'll need to add it there if it isn't there.

[2017-01-04 23:07] ayaleloehr commented on #4577
Awesome (well not awesome, but thank you!). @typesend please take note, as you're working on moving the front end to vets-website so may be able to consolidate these to a single place!

[2017-01-04 23:07] ayaleloehr commented on #4577
Actually @saintsoup52 I don't see the PR for updating the calculator rates. Can you point me to the link so I can review?

[2017-01-04 23:10] ayaleloehr commented on #4230
cc @typesend for awareness re GIBCT

[2017-01-05 01:00] webinista commented on #1783
Closing this since `ul[class*="block-grid-"]` is a Foundation selector and we're migrating away from Foundation.

See department-of-veterans-affairs/vets.gov-team#549

[2017-01-05 01:00] #1783 closed

[2017-01-05 02:23] usds-bot opened #4582 "UserVoice Idea: Vet.gov blows go back to EBenfits"
You paid 20 some GS15/10 to make this the VA got robbed this sucks. It does not work on Firefox, I add several IDs to the freakin system and it still will not verify me. Nothing wrong with EBenfits and it did not cost taxpayers millions to pay college students for a ****** site.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17627017-vet-gov-blows-go-back-to-ebenfits

[2017-01-05 03:02] jbalboni commented on #4230
@webinista I think jquery is still used in src/js/login/containers/Main.jsx?

[2017-01-05 03:10] webinista commented on #4222
Related to department-of-veterans-affairs/vets.gov-team#576

[2017-01-05 03:13] webinista opened #4583 "Rewrite Ajax calls in Main.jsx to remove jQuery dependency"
`src/js/login/containers/Main.jsx` uses Ajax to make API requests. Switch to `fetch` or using XHR2 without a library (For IE11 support).

Blocks #4230.

[2017-01-05 03:14] webinista commented on #4230
@jbalboni I spoke too soon. Also added #4583 to track that as a task.

[2017-01-05 03:21] jbalboni commented on #4462
I tested this out on my Pixel and an older Moto G (i.e. a fast Android phone and a slow Android phone). There was no noticeable difference from the current form on the Pixel, but the Moto G had some lag when typing in text fields. Not enough to be annoying, but it was noticeable when comparing the current version of the form on vets.gov (which isn't an entirely fair comparison, but should be close

[2017-01-05 03:30] webinista commented on #4175
@melwoodard Another followup question: is this a site-wide change for all ruled headings? I made an issue a while ago about unifying heading styles (#3660) but don't want to assume that this should be a global change rather than an Rx change.

[2017-01-05 04:11] melwoodard commented on #4175
Yes! Absolutely should be global.

[2017-01-05 13:06] saintsoup52 commented on #4577
Sorry... I didn't push play... it should be there now

[2017-01-05 14:34] cweber commented on #4546
@mollyblake This is the last chapter for the 1995, but I don't think we have any copy needs for it. It's all just straight dupes of fields from the 1990. Just pining you for awareness.

[2017-01-05 14:35] jcmeloni commented on #4582
@koconnor719 Let me know if this is something you want me to address.

[2017-01-05 14:57] usds-bot opened #4585 "UserVoice Idea: Keep it simple, or allow us to see progress and verification of read documents on the old Ebenefits site."
Doesn't work, won't verify anything, there is no live chat/call button. 5 days in a row trying to get in this mess. Aggravated, dosent help with current medical condition, I want to now throw my phone through my computer!
Does anything ever work at or for a VA related system?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17632315-keep-it-simple-or-allow-us-to-see-progress-and-v

[2017-01-05 15:01] koconnor719 commented on #4585
Yes please😀

Sent with Good (www.good.com)

-----Original Message-----
From: Julie Meloni [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, January 05, 2017 09:59 AM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Keep it simple, or a

[2017-01-05 15:25] jcmeloni commented on #4585
@koconnor719  Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry you are having issues with your account. The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. We continue to work with our partners to ensure all Veterans are able to achieve a level of assurance (LOA) 3 certificatio

[2017-01-05 15:59] usds-bot opened #4587 "UserVoice Idea: Ebenifits"
Why is Ebenifits continuously down??  I am desperately needing a copy of my DD 214 but can't get into the site.  This is completely unacceptable!!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17633005-ebenifits

[2017-01-05 17:17] alexose commented on #4409
Almost there, but I'm still seeing an issue with the accessbility tests.

[2017-01-05 17:17] alexose commented on #4282
This was completed in https://github.com/department-of-veterans-affairs/vets-website/pull/4481.

[2017-01-05 17:17] #4282 closed

[2017-01-05 17:28] usds-bot opened #4588 "UserVoice Idea: Nothing works"
This so far is even worse than the VA.gov websiste!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17634049-nothing-works

[2017-01-05 17:43] leannammiller commented on #3096
@markolson did you do this: We can check, but I'm fairly sure that the "State of Birth" is only for states (and some territories) that's used to verify identity. I'll shoot an email off and verify.

[2017-01-05 17:44] leannammiller commented on #4216
it should be done by friday

[2017-01-05 17:49] koconnor719 commented on #4582
posted and closed: (deleted from site, but sent a reply)

Thank you for your feedback.  The vets.gov website and account have been developed and launched for pennies on the dollar compared to other government websites and applications.  The site is mobile-first, 508 accessible, and cloud-based so it has a higher level of performance and availability. The vets.gov account has the highest level of a

[2017-01-05 17:49] #4582 closed

[2017-01-05 18:14] eli-lewis opened #4592 "508 Testing- SM"
User was able to successfully log in to vets.gov, messaging.  When she navigated to "compose message" the screen reader did not recognize any content.  There were no alerts and focus was not taken to any of the fields.  The same happened with all the folders.  As a result the user was unable to compose, read, send, save messages.

[2017-01-05 18:23] webinista commented on #2808
@emilyville Do we have an SVG version of the **VA | Vets.gov** logo handy?

[2017-01-05 18:26] bshyong commented on #4592
Was this on Internet Explorer and Windows?

[2017-01-05 18:30] crwallace commented on #4243
@gnakm -- is this still a relevant issue?

[2017-01-05 18:31] eli-lewis commented on #4592
yes.  IE11

[2017-01-05 18:35] #4398 closed

[2017-01-05 18:36] #2412 closed

[2017-01-05 18:37] #4421 closed

[2017-01-05 18:52] #4465 closed

[2017-01-05 19:12] usds-bot opened #4594 "UserVoice Idea: BUG: Blog link not present on all page footers"
BUG: Blog link not present on all page footers

- The 'Blog' link (Under "Creating vets.Gov") is present on the https://www.vets.gov/gi-bill-comparison-tool/ footer, but not on other pages

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17635264-bug-blog-link-not-present-on-all-page-footers

[2017-01-05 19:12] usds-bot opened #4595 "UserVoice Idea: Fix pagination (n divmod n_per_page)"
BUG: GI Bill Comparison Tool: search result pagination is off.

Search query: "Omaha"

First it shows 5 results pages for 67 results,
Then when I click on 5 (for things starting with University),
It shows 1, 2 and Next.
Next works, but the pagination is off.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17635243-fix-pagination-n-divmod-n-per-page

[2017-01-05 19:19] crwallace commented on #4512
@omgitsbillryan -- I am just digging into this and it looks like the expected behavior is happening based on the code that we have in place.

Is there a possibility that something like this is happening?
[code]
Because right now the error message will render if a `token=xxxx` is not passed.

https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/js/auth/containers/AuthApp.j

[2017-01-05 19:21] webinista commented on #4594
It shouldn't be in the GIBCT footer either. If I recall correctly, GIBCT is still using the old [va_common gem](https://rubygems.org/gems/va_common).

[2017-01-05 19:26] usds-bot opened #4596 "UserVoice Idea: Click Link"
I have an old fashioned flip phone and cannot click a link to verify my account.  What are the options?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17635393-click-link

[2017-01-05 20:10] koconnor719 commented on #4595
@emilyville who is right person to assign this to?

[2017-01-05 20:11] koconnor719 commented on #4594
@emilyville pls. draft a response i can post:)

[2017-01-05 20:12] ayaleloehr commented on #4595
@typesend can you take a look at this?  is this something that will be taken care of with the migration?

[2017-01-05 20:14] koconnor719 commented on #4588
If you are a Veteran and interested in providing us some additional details please contact us at feedback@va.gov.  We are designing vets.gov based on Veteran user research, so if you have suggestions we would love to hear them.

vets.gov team

[2017-01-05 20:14] #4588 closed

[2017-01-05 20:17] koconnor719 commented on #4587
Thank you for your feedback.  This forum is for suggestions on vets.gov, not eBenefits.  We are currently working to migrate all eBenefits features and content to vets.gov by the Spring of 2017. This will provide Veterans with a more secure logon, increased performance and availability, and a better user experience.

If you have questions about eBenefits, please call the VA Benefits help desk at 1

[2017-01-05 20:17] #4587 closed

[2017-01-05 20:19] koconnor719 commented on #4585
posted and closed.
Thank you for your feedback! We are sorry you are having issues with your account. For help with identity proofing your account, you can contact our Vets.gov Help Desk at 1-855-574-7286, Monday through Friday 8am to 8pm (ET). We are in the process of adding live chat--but don't have this capability yet.

The vets.gov account has the highest level of security. Protecting Veteran

[2017-01-05 20:19] #4585 closed

[2017-01-05 20:20] koconnor719 commented on #4577
thx.  posted and closed:

Thank you for your feedback. This issue has been fixed!

vets.gov team

[2017-01-05 20:20] #4577 closed

[2017-01-05 20:23] webinista opened #4603 "Refactor site header to remove Foundation class names"
For these class names, switch to element-specific media queries:

- `hide-for-small-only`
- `hide-for-medium-up`
- `hide-for-medium-up`

Remove these class names:
- `small-9`
- `columns`
- `small-3`

These class names are used for the search form and fields. Can refactor this to take advantage of Flexbox.

For these class names, translate to USWDS grid:

- `medium-5`
- `medium-offset-3`

Blocks de

[2017-01-05 20:29] ayaleloehr commented on #4577
still needs to be pushed to production, so it's not live yet!

[2017-01-05 20:40] usds-bot opened #4604 "UserVoice Idea: Enable CAC Login"
I don't see CAC offered as a login option. Please add CAC enabled login.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17636128-enable-cac-login

[2017-01-05 21:02] ayaleloehr commented on #4577
Now live!  Thanks @patrickvinograd !

[2017-01-05 21:18] omgitsbillryan commented on #4512
From the logs, I can confirm that a redirect to:
[code]
has never happened before.  It is always `?token=1234` or `?auth=fail` but _never_ both.

[2017-01-05 21:19] leannammiller commented on #4568
@cagedcrown will ping you regarding this

[2017-01-05 21:19] #4554 closed

[2017-01-05 21:28] leannammiller commented on #4578
@jbalboni - is the work you're doing this week covering these? should we put all of these chapter tasks as in-progress?

[2017-01-05 21:30] jbalboni commented on #4578
@leannammiller Not intentionally, no. It does look like the PR I just put up covers most of this page, but that's the only one.

You can leave this one in progress, but the other chapters should not be in progress.

[2017-01-05 21:42] markolson commented on #3096
From Josh, it sounds like we can can show a value of 'Other' in the dropdown to the user and provide a value of `FOREIGN COUNTRY` to the backend and things will work appropriately.

[2017-01-05 22:09] leannammiller commented on #3096
what's next step @markolson

[2017-01-05 22:18] webinista commented on #4175
MOAR QUESTIONS!

The glossary terms are a definition list, as they should be. Do we want them to be smaller in size? If so, what size?

[2017-01-05 22:40] jbalboni opened #4608 "Remaining form scaffolding work for 1995"
This is the remaining support work for the 1995 form, i.e. the work that needs to be done to support all the fields and our normal form UI flow.

I have a gist with prototype work for some of this [here](https://gist.github.com/jbalboni/52a9183490e1608f5881d7f72b03370c).

- [x] Object field
 - We need to create a flexible template for blocks in the form so that we can add descriptions when necessa

[2017-01-05 22:40] jbalboni commented on #4608
FYI @leannammiller @akainic

[2017-01-06 01:24] koconnor719 commented on #4604
@jcmeloni we have CAC / PIV card capabilities / licensing in our contract.  do we have any date we might launch this?  (i'm assuming mid/late in 2017?)

[2017-01-06 01:25] koconnor719 commented on #4216
thx!

[2017-01-06 01:25] koconnor719 commented on #3949
@AnitraAppa @bethpotts can someone draft a response i can post to this comment pls?  :)

[2017-01-06 01:28] koconnor719 commented on #4537
if there is content on VA.gov we can point to that?  i know there is a health library w/ some diabetes info?  can you pls. draft response since this is about content?

@maryannbrody pls. let me know if any issue:)

[2017-01-06 01:29] koconnor719 commented on #4137
@NatalieEMoore can this be closed? can you pls. provide a response here that i can post?

[2017-01-06 01:30] koconnor719 commented on #3688
@leannammiller what is status on this? this is 2 months old...is there an estimate to when it will be fixed?

[2017-01-06 01:32] koconnor719 commented on #3009
@leannammiller can this be closed?  can you pls respond w/ status or advise if i need to check w/ someone else?

@robertfairhead fyi

[2017-01-06 02:19] jbalboni commented on #4578
@cweber Are these fields required?

[2017-01-06 03:37] usds-bot opened #4611 "UserVoice Idea: don't pul a credit report to verify our identity"
stopped when you informed me that you would pull a credit report to verify my identity.   don't want my credit score to suffer from too many inquiries so I won't authorize you to pull a credit report.  you really should change that

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17639440-don-t-pul-a-credit-report-to-verify-our-identity

[2017-01-06 08:11] usds-bot opened #4612 "UserVoice Idea: Fix the web site"
Fix the verify your identity. Fix the web site!!

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17640781-fix-the-web-site

[2017-01-06 13:34] jcmeloni commented on #4611
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?

[2017-01-06 13:35] jcmeloni commented on #4612
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards and Technology: https://www.va.gov/opa/pressrel/pressrelease.cfm?

[2017-01-06 13:38] cweber commented on #4578
We haven't marked any fields as required yet. For now, assume the same required fields as the 1990. We have a call with stakeholders today and will nail down required fields soon.

[2017-01-06 13:59] jcmeloni commented on #4604
@koconnor719  Possible response, please adjust as you see fit:

"Thank you for your feedback!  You are correct that CAC-based login is not currently offered at Vets.gov, but we are working on this functionality with our partners."

Kelly -- we do not currently have a timeframe for this but "this year" would be an accurate although vague statement.  Also, I've never actually seen our contract -- co

[2017-01-06 14:15] leannammiller commented on #3688
we will look at it in sprint planning on monday.

[2017-01-06 14:17] jbalboni commented on #4578
@cweber Sounds good. Another question: do you have any file number expamples? Or is it just an integer?

[2017-01-06 14:20] cweber commented on #4578
You're too fast! We're also waiting on confirmation from that we can actually remove that field entirely.

We have a number of outstanding questions about field removal that need answered by the legal team. They'll be on the call today too. Hopefully we'll get most of the answers. I'll update after the call with changes and any outstanding questions we still have about each chapter.

[2017-01-06 14:20] jcmeloni commented on #4596
@koconnor719 I am working on a response to this.

[2017-01-06 14:56] usds-bot opened #4613 "UserVoice Idea: Fix the links"
This is the page I am on:  https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/ionizing-radiation/      Every link is going to either http://benefits.va.gov/benefits/     or the main page of 38CFR Chapter 1 Part 3.  Which as a CVSO is not fun to read through online so I can't imagine how ****** of an older veteran would feel about it when they just want a list to lo

[2017-01-06 15:16] markolson commented on #3096
@leannammiller I can make tickets for the backend changes in the existing HCA application and the Vets-API port, as well as for the frontend and we can work on them next sprint.

[2017-01-06 15:43] leannammiller commented on #4608
in case you're interested @aub

[2017-01-06 15:43] leannammiller commented on #3096
@markolson that would be awesome!

[2017-01-06 15:43] leannammiller commented on #3096
@koconnor719 fyi ^

[2017-01-06 15:59] maryannbrody opened #4614 "[URGENT] Veterans Crisis Line links not working"
Hi @bshyong and @webinista -- was just clicking around and noticed these links weren't working. Can one of you fix as soon as you can? Thanks!

![image](https://cloud.githubusercontent.com/assets/12674895/21723587/ff9771a0-d3fe-11e6-80f8-58c953c224e0.png)

[2017-01-06 16:00] maryannbrody commented on #4614
Edit to add -- I'm in Chrome Version 55.0.2883.95 (64-bit), checked with @crwallace as well and it wasn't working for her.

Thanks!

[2017-01-06 16:07] webinista commented on #4614
Fixing it now. Also: _Call 1-800..._ and _Text to 838255_ were not originally supposed to be links on wide screens. Did that requirement change?

[2017-01-06 16:12] maryannbrody commented on #4614
Nope -- that is still accurate. The phone and text are not links on wide screens. Good question!

[2017-01-06 16:26] usds-bot opened #4615 "UserVoice Idea: More login pain"
Having yet another ID hurdle to overcome make this new site pretty worthless to me. It took forever to get a level 2 DS logon, and now you're adding another layer. Forget it... I'll stick with myHealthyVet and the eBenefits site. Looks like you only recreated the conton from those sites, anyway.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17644060-more-login-pain

[2017-01-06 16:30] #4506 closed

[2017-01-06 17:45] gnakm commented on #4243
No I think we're good on this now. Closing.

[2017-01-06 17:45] #4243 closed

[2017-01-06 17:46] jenny-h-l commented on #4537
@maryannbrody and @koconnor719 : here are some VA resources:

- http://www.nutrition.va.gov/diabetes.asp
- http://www.benefits.va.gov/compensation/claims-postservice-agent_orange-diabetes.asp
- http://www.publichealth.va.gov/exposures/agentorange/conditions/diabetes.asp
- https://www.myhealth.va.gov/mhv-portal-web/improving-diabetes-management-while-increasing-access
- http://www.research.va.gov/t

[2017-01-06 18:17] jcmeloni commented on #4615
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! The vets.gov account has the highest level of security. Protecting Veteran data and privacy continues to be a top priority of VA. In this case, we must ask additional questions to verify personal information beyond that provided by a DS Logon Premium account, so that we may ensure a level of assurance (LOA

[2017-01-06 18:17] bshyong commented on #4592
@eli-lewis do you know the screen reader and operating system that was used for testing?

[2017-01-06 18:56] typesend commented on #4595
Yes, this will be taken care of as a side effect of migration.

[2017-01-06 19:17] #4592 closed

[2017-01-06 19:24] jcmeloni commented on #4596
-------------
Possible response, please adjust as you see fit:

"Thank you for your feedback! It is possible to complete the identity proofing process without using a smartphone, although you will still need to have access to a computer with an internet connection and a telephone of some sort (it does not need to be a mobile phone).  This process is documented at https://vetsgov.id.me/hc/en-us/art

[2017-01-06 19:32] #4614 closed

[2017-01-06 19:46] usds-bot opened #4621 "UserVoice Idea: ID.me not working"
ID.me will not recognize me, regardless of which ID I use. It continually sends back an error code. Is this normal or am I an anomaly?

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17646430-id-me-not-working

[2017-01-06 20:44] webinista opened #4622 "Replace Foundation version of normalize.scss with USWDS version"
Both Foundation and USWDS include normalize.scss as a dependency (and the same version of it, 3.0.3). Task is to update the path to normalize to refer to the USWDS version instead of the Foundation version.

Blocks department-of-veterans-affairs/vets.gov-team#549

[2017-01-06 20:47] cweber opened #4623 "Build front end 1995 CH 2 : Benefit Selection"
# 2. Benefit Selection
- Select the benefit that is the best match for you **[check]**
  - _All options from 1990_
  - Add: Reserve Educational Assistance Program (REAP, Chapter 1607)
  - Add: Transfer of Entitlement Program (TOE)

[2017-01-06 20:48] #4163 closed

[2017-01-06 21:03] cweber commented on #4578
@jbalboni We're keeping file number, but have not resolved whether it looks a certain way, has letters in it, etc. Should know by Monday, I think.

We'll also be in touch about how we want to implement it. Applicants only need to provide a SSN OR File Number.

[2017-01-06 21:04] webinista opened #4624 "Resolve em-base, base-font-size discrepancies"
Lots of redundancy around font sizes. VA CSS sets and resets the base font size. As part of Foundation removal, going to use USWDS font sizing. They both appear to compute to 16px.

~~Also do a sweep of font sizes and ensure that they're all using relative units that compute to the current values.~~ Going to save this part of the task for later.

Part of migration away from Foundation. Blocks depa

[2017-01-06 21:28] webinista opened #4625 "Remove foundation-variables partial"
Blocks department-of-veterans-affairs/vets.gov-team#549

[2017-01-06 21:38] #4553 closed

[2017-01-06 21:45] leannammiller commented on #4216
@koconnor719 - Vets working and living in oversea bases can apply online for VA healthcare. Should be deployed on Monday.

[2017-01-06 21:49] leannammiller commented on #3688
this will go into the sprint week after next. thanks @koconnor719

[2017-01-06 21:55] akainic commented on #3009
@koconnor719 This is in progress. I'm not sure what the right response is to the veteran because it's not a simple fix at this point. Perhaps something like:

"We're sorry that you had trouble submitting your application online. Our team has investigated this issue and it is possible that the backend system was not able to receive applications at the time you clicked submit. Our team is actively w

[2017-01-06 22:23] koconnor719 commented on #3009
Ty😀

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, January 06, 2017 04:55 PM Eastern Standard Time
To: department-of-veterans-affairs/vets-website
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets-website] UserVoice Idea: Due to a system error, we weren

[2017-01-06 23:20] webinista opened #4629 "Fix redundancy of body background color, text color declarations"
There are multiple declarations of background color and text color that are adding a few unnecessary bytes. For example,

[code]

And then in `facilites.scss`:

[code]

Other projects have similar wackiness.

[2017-01-07 22:14] usds-bot opened #4633 "UserVoice Idea: Do something that works for a change!"
Seeing as how nothing happens when I click on the "Get Started" button, this site is worthless. Normal for the VA and Government.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17656234-do-something-that-works-for-a-change

[2017-01-08 01:03] usds-bot opened #4634 "UserVoice Idea: Military Presumptive Disease"
Applying For Dental and Vision , immediately XC-25-303-644

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17656996-military-presumptive-disease

[2017-01-08 01:33] usds-bot opened #4635 "UserVoice Idea: Will not allow phone verification"
I've had the same phone number for years and when I was trying to verify my identity it kept saying my phone number isn't associated with me and asking me to input another one. I don't have another phone number!! So I can't access any of my info on this site...

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17657149-will-not-allow-phone-verification

[2017-01-08 23:13] usds-bot opened #4636 "UserVoice Idea: Glitch"
Unable to gain access. ID screen freezes.

http://veterans.uservoice.com/forums/330333-vets-gov/suggestions/17663401-glitch

[2017-01-09 01:37] jcmeloni commented on #4621
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry you are having difficulties verifying your account.  Protecting Veteran data and privacy continues to be a top priority of the VA, which is why the VA has partnered with ID.me to become first federal agency to meet the Level of Assurance 3 (LOA3) standard of the National Institute of Standards

[2017-01-09 01:40] jcmeloni commented on #4633
@koconnor719 I am assuming this is for a "Get Started" button encountered during registration/identity proofing, and for that the response would be as below.  However, there is also a "Get Started" button in the HCA.

"Thank you for your feedback! We are sorry that you have experienced difficulty verifying your account. When you click the "Get Started" button, a pop-up window should appear so that

[2017-01-09 02:13] jcmeloni commented on #4635
@koconnor719 Possible response, please adjust as you see fit:

"Thank you for your feedback! We are sorry you are having difficulties verifying your account.  When you are going through the identity proofing process and hit that roadblock, you should also see an error code on the screen.  The error code you provided is specific to ID.me and will identify the precise error encountered by their syst

[2017-01-09 02:14] jcmeloni commented on #4636
@koconnor719 I don't know what they mean by "freeze" -- is it possible to ask for more information and possibly screenshots?

[2017-01-09 12:40] jcmeloni commented on #952
Closing; if we need to return to this issue past the beginnings that were started in #3039, we'll open a new ticket.

[2017-01-09 12:40] #952 closed

[2017-01-09 12:46] jcmeloni commented on #1131
Moved issue to vets.gov-team.

[2017-01-09 12:46] #1131 closed

[2017-01-09 12:54] jcmeloni commented on #1111
Moved issue to vets.gov-team.

[2017-01-09 12:54] #1111 closed

[2017-01-09 12:58] saintsoup52 commented on #3949
Some conditional wording here in the calculator would make sense, however please keep in mind that this is not the only place where we used inexact language to make it work for all the different benefits.

For example, MGIB (Chapter 30) does not pay a "housing allowance" perse but it does pay a monthly benefit like the housing allowance.

If you plan on making changes like this needless to say it

[2017-01-09 13:01] jcmeloni commented on #2527
Moved issue to vets.gov-team.

[2017-01-09 13:01] #2527 closed

[2017-01-09 13:03] jcmeloni commented on #2679
Moved issue to vets.gov-team.

[2017-01-09 13:03] #2679 closed

[2017-01-09 13:03] jcmeloni commented on #2688
Closed - moot

[2017-01-09 13:03] #2688 closed

[2017-01-09 13:05] jcmeloni commented on #2753
@robbiethegeek I'm going to close this rather than move it over to vets-gov.team, as the build changes overall are going to be good enough and ROI decreases significantly after that. Reopen and tag me to move if you disagree!

[2017-01-09 13:05] #2753 closed

[2017-01-09 13:07] jcmeloni commented on #3104
Moved issue to vets.gov-team.

[2017-01-09 13:07] #3104 closed

[2017-01-09 13:08] jcmeloni commented on #3235
Closing in agreement w/ @webinista

[2017-01-09 13:08] #3235 closed

[2017-01-09 13:13] jcmeloni commented on #2808
Moved issue to vets.gov-team.

[2017-01-09 13:13] #2808 closed

[2017-01-09 13:17] jcmeloni commented on #3243
Moved issue to vets.gov-team.

[2017-01-09 13:17] #3243 closed

[2017-01-09 13:21] jcmeloni commented on #3897
Moved issue to vets.gov-team.

[2017-01-09 13:21] #3897 closed

[2017-01-09 13:23] jcmeloni commented on #3938
Moved issue to vets.gov-team.

[2017-01-09 13:23] #3938 closed

[2017-01-09 13:34] jcmeloni commented on #3993
Moved issue to vets.gov-team.

[2017-01-09 13:34] #3993 closed

[2017-01-09 13:36] jcmeloni commented on #3997
Moved issue to vets.gov-team.

[2017-01-09 13:36] #3997 closed

[2017-01-09 13:38] jcmeloni commented on #4095
Moved issue to vets.gov-team.

[2017-01-09 13:38] #4095 closed

[2017-01-09 13:46] jcmeloni commented on #4250
Moved issue to vets.gov-team.

[2017-01-09 13:46] #4250 closed

[2017-01-09 13:55] jcmeloni commented on #4268
Moved issue to vets.gov-team.

[2017-01-09 13:55] #4268 closed

[2017-01-09 13:57] jcmeloni commented on #4473
Moved issue to vets.gov-team.

[2017-01-09 13:57] #4473 closed

[2017-01-09 14:12] cweber opened #4637 "Determine how to collect SS/File#/Payee#"
File number: What do File numbers look like? Do they have any characters other than numbers in them? Could you share a sample? (I think we asked this, but forgot because we thought we were removing it.) Does it look distinctly different than a SSN?

[2017-01-09 14:12] cweber commented on #4578
@jbalboni Required fields indicated by an *

File number still in progress.

[2017-01-09 14:16] cweber commented on #4546
Required fields indicated by an *

[2017-01-09 14:17] #2414 closed

[2017-01-09 14:18] #2464 closed

[2017-01-09 14:31] jcmeloni commented on #2670
@ayaleloehr @plusjeff Please move to team repo and label as you see fit.

[2017-01-09 14:33] jcmeloni commented on #3958
Closing; this is being added in footer work in current sprint.

[2017-01-09 14:33] #3958 closed

[2017-01-09 15:11] cweber commented on #4637
File number (Usually your SS#):
[_______________________________]

[2017-01-09 15:14] cweber commented on #4637
Is this less stress for the average user than writing a more complex field?

Social Security Number:
[_______________________________]

File number:
[_______________________________]

[2017-01-09 15:23] cweber commented on #4637
Social Security Number (or your VA file number) (required):
[_______________________________]

[2017-01-09 15:24] cweber commented on #4637
Social Security Number (required):
[_______________________________]
 - [x] I don't have a Social Security Number
VA file number
[_______________________________]

[2017-01-09 15:27] goldenmeanie commented on #4637
I think that the label based solution is good !

[2017-01-09 15:27] #4637 closed

[2017-01-09 15:29] cweber commented on #4578
File number resolved and edited above.

Social: 9 digits
File number: C+8 digits. (VA does not care about receiving the C.)

cc @goldenmeanie

[2017-01-09 17:01] #4462 closed

[2017-01-09 19:06] #4557 closed

[2017-01-09 19:07] #4622 closed

[2017-01-09 19:07] #4624 closed

[2017-01-09 19:07] #4625 closed

[2017-01-09 19:11] plusjeff commented on #2670
Will leave this to @ayaleloehr . Not sure if this is for just vets.gov or USDS@VA. If USDS@VA, then I think this is covered by usds.gov and the Medium blog.

[2017-01-09 19:11] leannammiller commented on #3227
will close and open ticket 626

[2017-01-09 19:12] #3227 closed

[2017-01-09 20:16] eli-lewis commented on #4592
Jaws was the screen reader, she was using a PC, not sure version.

[2017-01-09 20:58] #2940 closed

[2017-01-10 03:14] jcmeloni commented on #4463
Sorry, can't reproduce this.  If you run into it again please create an issue and paste in the commands and responses leading up to the error. Thanks!

[2017-01-10 03:14] #4463 closed

[2017-01-10 03:19] jcmeloni commented on #2411
Addressed in PR https://github.com/department-of-veterans-affairs/vets-website/pull/4646  will close this issue after merge and not move this issue to vets.gov-team.

[2017-01-10 03:19] jcmeloni commented on #2419
Addressed in PR https://github.com/department-of-veterans-affairs/vets-website/pull/4646  will close this issue after merge and not move this issue to vets.gov-team.

[2017-01-10 03:19] jcmeloni commented on #2719
Addressed in PR https://github.com/department-of-veterans-affairs/vets-website/pull/4646  will close this issue after merge and not move this issue to vets.gov-team.

[2017-01-10 03:19] jcmeloni commented on #3780
Addressed in PR https://github.com/department-of-veterans-affairs/vets-website/pull/4646  will close this issue after merge and not move this issue to vets.gov-team.

[2017-01-10 03:19] jcmeloni commented on #3965
Addressed in PR https://github.com/department-of-veterans-affairs/vets-website/pull/4646  will close this issue after merge and not move this issue to vets.gov-team.

[2017-01-10 03:30] jcmeloni commented on #4116
Moved issue to vets.gov-team.

[2017-01-10 03:30] #4116 closed

[2017-01-10 03:49] jcmeloni commented on #4011
Moved issue to vets.gov-team.

[2017-01-10 03:49] #4011 closed

[2017-01-10 03:52] jcmeloni commented on #4155
Not moving over to vets.gov-team as open PR should close this one soon https://github.com/department-of-veterans-affairs/vets-website/pull/4602

[2017-01-10 03:54] jcmeloni commented on #4175
Not moving over to vets.gov-team as open PR should close this one soon  https://github.com/department-of-veterans-affairs/vets-website/pull/4606

[2017-01-10 03:57] jcmeloni commented on #4583
Moved issue to vets.gov-team.

[2017-01-10 03:57] #4583 closed

[2017-01-10 03:59] jcmeloni commented on #4230
Moved issue to vets.gov-team.

[2017-01-10 03:59] #4230 closed

[2017-01-10 04:00] jcmeloni commented on #4276
Moved issue to vets.gov-team.

[2017-01-10 04:00] #4276 closed

[2017-01-10 04:05] jcmeloni commented on #4285
Moved issue to vets.gov-team.

[2017-01-10 04:05] #4285 closed

[2017-01-10 04:07] jcmeloni commented on #2762
Moved issue to vets.gov-team.

[2017-01-10 04:07] #2762 closed

[2017-01-10 13:10] jcmeloni commented on #1934
Moved issue to vets.gov-team.

[2017-01-10 13:10] #1934 closed

[2017-01-10 13:10] jcmeloni commented on #2347
Moved issue to vets.gov-team.

[2017-01-10 13:10] #2347 closed

[2017-01-10 13:11] jcmeloni commented on #2354
Moved issue to vets.gov-team.

[2017-01-10 13:11] #2354 closed

[2017-01-10 13:11] jcmeloni commented on #2356
Moved issue to vets.gov-team.

[2017-01-10 13:11] #2356 closed

[2017-01-10 13:12] jcmeloni commented on #2408
Moved issue to vets.gov-team.

[2017-01-10 13:12] #2408 closed

[2017-01-10 13:17] jcmeloni commented on #2423
Moved issue to vets.gov-team.

[2017-01-10 13:17] #2423 closed

[2017-01-10 13:19] jcmeloni commented on #2553
Moved issue to vets.gov-team.

[2017-01-10 13:19] #2553 closed

[2017-01-10 13:22] jcmeloni commented on #3078
Moved issue to vets.gov-team.

[2017-01-10 13:22] #3078 closed

[2017-01-10 13:24] jcmeloni commented on #3079
Closing;  subsumed by https://github.com/department-of-veterans-affairs/vets.gov-team/issues/576 (and others)

[2017-01-10 13:24] #3079 closed

[2017-01-10 13:25] jcmeloni commented on #3282
@emilyville @maryannbrody @koconnor719 Could someone confirm if this is to replace the Philosophy chunk, is an addon to that, or is an addition under the cards, or other?  Thanks!